section.section.category.section-services.pt-0
  .wrapper--dark
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/services-warts/eye-and-circle.png" alt="Item")
              .wrapper
                span Дерматоскоп
            p Це ручний прилад, який збільшує потрібне місце у 20 разів. Цього достатньо, щоб визначити мозоль або бородавку і їх глибину. Також ми використовуємо цей прилад під час лікування. Прилад дозволяє відстежувати процес загоєння шкіри. Такі зміни неможливо побачити очима
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/services-warts/feets-and-circle.png" alt="Item")
              .wrapper
                span Подоскоп
            p Це апарат, який показує відбиток ступень у статичному положенні і дозволяє оцінити будову стоп. Завдяки цьому подолог відстежує можливі викривлення стопи і всього хребта. Це дозволяє знайти причини мозолів і бородавок, і підібрати профілактичні ортопедичні вироби.
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/services-warts/microscope-and-circle.png" alt="Item")
              .wrapper
                span Педобарографія
            p Це комп'ютерна діагностика за допомогою суперчутливих сенсорів. Вона представляє собою спеціальну платформу, де спеціаліст побачить, як ваші стопи поводяться під час ходьби. Якщо платформа покаже порушення при ходьбі, ви зможете виправити їх за допомогою подальшого ортопедичного лікування.
