section.section.adv
  .container
    h2.text-center.dark-blue.mb-5 Лечение в центре Steffany абсолютно безопасно
    +numberedSection('Ви дихаєте очищеним повітрям', 'Повітря в приміщенні фільтрують рециркулятори і бактерицидні опромінювачі закритого типу. Також апарати, які працюють зі шкірою стоп і нігтями, оснащені вбудованими пилососами. Вони всмоктують весь пил і алергени прямо під час роботи і роблять повітря гіпоалергенним.',
        'Інструменти стерилізують після кожного прийому', 'Інструменти знезаражують в ультразвукових боксах із дезинфікуючим розчином широкого спектру дії. Під його дією інструменти повністю очищаються від будь-яких бактерій, вірусів і грибків. Після цього їх промивають і просушують.',
        'Інструменти розкривають при вас', 'Останній етап стерилізації інструменти проходять у паровому автоклаві класу В при двох атмосферах парового тиску при температурі 134 градусів. Вони знаходяться в крафт-пакетах, у яких є індикатор, який змінює колір при повній стерилізації.',
        'Перед вами дезінфікують кабінет', 'Після кожного прийому спеціалісти дезінфікують усі поверхні в кабінеті, в тому числі крісло, тумби, лампи і апарати. Також у центрі проводять регулярні прибирання: на початку і наприкінці дня проходить звичайне прибирання, а раз на тиждень — генеральне.')
