section.section.circles-bg.pb-0
  .container.d-flex.flex-column.align-items-center
    h3.section-title-services.text-center.dark-blue Апаратура для лікування мозолів і бородавок
    .wrapper.d-flex.justify-content-center.mb-3.mt-3
      .dash
    .col-12.col-xl-6.col-md-9
      p.paragraph-text.text-dark-1.text-center У Steffany ви проходите діагностику на апаратах, які точно визначать тип вашої проблеми і допоможуть знайти її причину
