section.section.accordion-answer.questions
  h2.section-title.text-center.white-text Часто задаваемые вопросы
  p.h3-title-regular.text-center.mb-4 Возможно, ваш вопрос о парафинотерапии для рук и ног уже задали наши 
  #accordion.accordion.mt-3
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading01.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse01',   aria-controls='collapse01', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Какой парафин вы используете для процедуры?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse01.collapse.w-100.collapse-answer.questions-container.show(aria-labelledby='heading01', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Мы используем медицинский гипоаллергенный парафин от «Парафин Био». У нас два вида парафина: с запахом алоэ и запахом персика. Выбирайте на процедуре, какой аромат хотите ощущать на руках еще долгое время.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading02.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse02',   aria-controls='collapse02', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Сколько времени длится процедура парафинотерапии?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse02.collapse.w-100.collapse-answer.questions-container(aria-labelledby='heading02', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Вся процедура длится 40-45 минут. 
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading03.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse03',   aria-controls='collapse03', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Как вы разогреваете парафин?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse03.collapse.w-100.collapse-answer.questions-container(aria-labelledby='heading03', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Мы разогреваем парафин в специальной ванночке — электрической парафинотопке. Модель нашей — SM - 507 от бренда Y.R.E. Такой прибор контролирует температуру жидкости и точно не даст вам обжечься.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading04.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse04',   aria-controls='collapse04', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Я могу сделать процедуру парафинотерапии отдельно от маникюра и педикюра?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse04.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading04', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Конечно. Для удобства мы рекомендуем совмещать парафинотерапию с маникюром и педикюром, но это вовсе не закон. Записывайте на парафинотерапию отдельно, чтобы поухаживать за своей кожей.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading06.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse06',   aria-controls='collapse06', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Какой лечебный эффект дает парафинотерапия?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse06.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading06', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Современная процедура парафинотерапии — это исключительно косметическая процедура. Она заживляет раздражения, убирает шелушения, смягчает и восстанавливает эластичность кожи. Но это не значит, что она работает в глубоких кожных слоях. Это косметический эффект, который нужно поддерживать и время от времени обновлять новыми процедурами.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading07.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse07',   aria-controls='collapse07', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Если у меня трещины на пятках, парафинотерапия мне поможет?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse07.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading07', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Трещины на пятках — это не всегда просто эстетическая проблема. Иногда трещины являются одним из симптомов грибка. Обычная парафинотерапия ног точно не вылечит трещины на пятках. Лучше обратитесь к специалисту-подологу. Он посмотрит на ваши стопы через призму здоровья, а не только красоты. В нашей сети есть Центр здоровья ног Steffany Podology, обратитесь туда.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading08.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse08',   aria-controls='collapse08', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Какой мастер выполняет процедуру парафинотерапии для рук и ног?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse08.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading08', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Эту процедуру делают мастера маникюра и педикюра.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading09.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse09',   aria-controls='collapse09', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Как мне выбрать крем как уход за кожей после процедуры? Как не ошибиться и не усугубить сухость кожи?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse09.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading09', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Это должен быть питательный крем. Если у вас постоянная сухость и далеко не каждый крем с ней справляется, вам стоит обратиться к дерматологу. Иногда сухость на коже может свидетельствовать о каких-то изменениях на уровне организма. 