mixin contactForm(title)
  .container.contact-form
    .row.no-gutters
      .col-12.col-lg-6
        h2= title
          span.city-in-dynamic
        .cnt-info.mt-4
          .row.d-flex.flex-wrap.mb-0.mb-lg-3.no-gutters
            .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
              img(src="assets/icon/phone-black.svg" alt="Phone").d-block.mr-3
              a(href="tel:380980070753").text-color-dark.telephone-dynamic
            .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
              img(src="assets/icon/common/map.svg" alt="Map").d-block.mr-3
              p.text-color-dark.mb-0.font-weight-normal.address-dynamic
          .row.d-flex.flex-wrap.no-gutters
            .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
              img(src="assets/icon/common/mail.svg" alt="Mail").d-block.mr-3
              a(href="mailto:info@steffany.ua").text-color-dark info@steffany.ua
            .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
              img(src="assets/icon/common/time.svg" alt="Time").d-block.mr-3
              p.text-color-dark.mb-0.font-weight-normal.schedule-dynamic
          .row.justify-content-center.mt-4
            +btnCallback('перезвонить')(data-toggle='modal', data-target='#callbackModal' id='callbackButton1')
        hr.mt-5.mb-5
        h3 Хочете зв'язатися особисто із власником Steffany Podology?
        form.feedback-form
          h2.text-color-dark
          form
            .col-12.col-lg-6.inp-wrapper
              input(type="text" placeholder="Ім'я" name="name" data-feedback-name required autocomplete='on')
              input(type="email" placeholder="Email" name="email" data-feedback-email required autocomplete='on')
              input.mb-0(type="tel" placeholder="Телефон" name="phone" data-feedback-phone required minlength="19" maxlength="19" pattern=".{19}" autocomplete='on')
              input(type="submit" data-contact-submit style="display: none;")
            .col-12.col-lg-6
              textarea(placeholder="Ваше повідомлення..." name="message" data-feedback-message required).mt-4.mt-lg-0
          .row.d-flex.justify-content-center.justify-content-lg-end.no-gutters.mt-5.mt-sm-5
            +customBtn('відправити')(data-btn-contact-submit id="sendCont")
      .col-12.col-lg-6.d-none.d-lg-block.map-dynamic
  .mini-map.d-block.d-lg-none.map-dynamic
