section.section.accordion-answer-dark-theme
  +accordeon('Часто задаваемые вопросы', 'Возможно, наши клиенты уже задали интересующий вас вопрос',
    [
      {
        title: 'Зачем брить волосы перед процедурой?',
        body: 'Лазеру нужно проникнуть в волосяной фолликул и прогреть пигмент там. Если волосок будет возвышаться над кожей, лазер направит часть тепловой энергии на него и вы не достигнете нужного от процедуры эффекта. Поэтому накануне процедуры волосы надо как можно короче удалить бритвой.'
      },
      {
        title: 'У меня быстро отрастают волосы после бритья. Как мне подготовиться к процедуре?',
        body: 'Это нормально, у каждого из нас своя скорость роста волос. В таком случае воспользуйтесь станком за 5-6 часов. Главное — чтобы на коже не было ранок. Потому что тогда этот участок нельзя будет обрабатывать лазером.'
      },
      {
        title: 'Что будет, если я не успею побрить зону перед процедурой?',
        body: 'Если эпилируемая зона небольшая (например, подмышки), мастер аккуратно пройдется по ней станком перед процедурой. Но если вы собираетесь делать ноги полностью, найдите время побрить их заранее. Это большие зоны: велик риск оставить царапины. Они должны успеть зажить до процедуры. Если вы эпилируете зону лица, брить самостоятельно ее не нужно. Мастер укоротит триммером волоски на сеансе.'
      },
      {
        title: 'У меня витилиго. На эпилируемой зоне есть пятна светлых волос. Лазер их уберет?',
        body: 'Лазер «видит» лишь волосы с пигментом. Светлые волосы он, к сожалению, не уберет. Но это не значит, что вам противопоказана лазерная эпиляция. Обработайте лазером темные волоски, а остальные уберите с помощью услуги «Нано-эпиляция». Это щелочной пилинг, который убирает светлые пушковые волосы.'
      },
      {
        title: 'У меня рыжие волосы. Я могу сделать эпиляцию?',
        body: 'К сожалению, рыжий пигмент отталкивает лучи лазера. Поэтому именно лазерная эпиляция вам не подойдет. Но ничего страшного! Вы можете удалять волосы с помощью шугаринга или восковой эпиляции в наших салонах.'
      },
      {
        title: 'Если я регулярно удаляю волосы с помощью шугаринга/воска, через сколько мне можно делать лазерную эпиляцию?',
        body: 'Подождите минимум 2 недели после последней процедуры шугаринга или воска. Также хотя бы пару раз удалите волосы в нужных зонах обычным станком.'
      },
      {
        title: 'Через сколько сходит покраснение после процедуры?',
        body: 'Особенность нашего лазера в том, что в большинстве случаев кожа остается без изменений. В некоторых случаях на коже появляется легкое покраснение. Оно может пройти через 20 минут, а может через несколько часов Все это в пределах нормы.'
      }
    ], true, 1)
