section.section.four-boxes-service-laser
  .container
    h2.h2-title.text-color-dark.text-center.d-none.d-sm-block.mb-3.d-none.d-md-block Лазерная эпиляция может может быть комфортной
    p.paragraph-text.text-color-dark.text-center.d-none.d-md-block В Steffany совсем другой подход к эпиляции
    .row
      .col-12.col-xl-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position
            img.d-none.d-md-block(src="assets/img/four-boxes/four-box_01.png" alt="four-boxes-1" srcset="assets/img/four-boxes/four-box_01@2x.png 2x")
            img.d-md-none.d-block(src="assets/img/four-boxes/four-box_01-mob.png" alt="four-boxes-1-mob" srcset="assets/img/four-boxes/four-box_01-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number.text-color-dark 01
              h4.h4-title.text-color-dark.text-uppercase.mb-3 Полное отсутствие боли
              p.paragraph-text.text-color-dark.text-w-light Вам не нужно доплачивать за обезболивание — процедура и так полностью безболезненная. Лазер имеет мощную систему охлаждения. Во время сеанса вы чувствуете просто прикосновения. Они абсолютно безболезненные.
      .col-12.col-xl-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position
            img.d-none.d-md-block(src="assets/img/four-boxes/four-box_02.png" alt="four-boxes-2" srcset="assets/img/four-boxes/four-box_02@2x.png 2x")
            img.d-md-none.d-block(src="assets/img/four-boxes/four-box_0w-mob.png" alt="four-boxes-2-mob" srcset="assets/img/four-boxes/four-box_02-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number.text-color-dark 02
              h4.h4-title.text-color-dark.text-uppercase.text-uppercase.mb-3 Можно делать летом
              p.paragraph-text.text-color-dark.text-w-light С лазерами предыдущего поколения конец весны, лето и начало осени выпадали из процедурного графика. Сейчас столько ждать не надо. Лазер удаляет волосы на коже до 6-го фототипа, а это метисы и мулаты. Он не боится загара.
      .col-12.col-xl-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position
            img.d-none.d-md-block(src="assets/img/four-boxes/four-box_03.png" alt="four-boxes-3" srcset="assets/img/four-boxes/four-box_03@2x.png 2x")
            img.d-md-none.d-block(src="assets/img/four-boxes/four-box_03-mob.png" alt="four-boxes-3-mob" srcset="assets/img/four-boxes/four-box_03-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number.text-color-dark 03
              h4.h4-title.text-color-dark.text-uppercase.mb-3 Безопасно для организма
              p.paragraph-text.text-color-dark.text-w-light Лазер видит одну мишень — пигмент в волосяном фолликуле. Пигмент в коже, близлежащие ткани и органы ему совсем не нужны, и он на них никак не влияет. К тому же лазер не сжигает, а прогревает волос. Поэтому ожоги исключены.
      .col-12.col-xl-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position
            img.d-none.d-md-block(src="assets/img/four-boxes/four-box_04.png" alt="four-boxes-4" srcset="assets/img/four-boxes/four-box_04@2x.png 2x")
            img.d-md-none.d-block(src="assets/img/four-boxes/four-box_04-mob.png" alt="four-boxes-4-mob" srcset="assets/img/four-boxes/four-box_04-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number.text-color-dark 04
              h4.h4-title.text-color-dark.text-uppercase.mb-3 Отдых для души
              p.paragraph-text.text-color-dark.text-w-light «Процедурный график» звучит слишком скучно. Лучше относиться к сеансам как в мини-отпуску. Шампанское, чай, кофе, музыка, поболтать или помолчать — озвучивайте любые желания и наслаждайтесь процессом.
