section.section.service-laser.py-0
  .container
    .row
      .col-12.col-lg-6
        .c-content
          h2.h2-title.text-color-dark.mt-lg-7
            |Лазерная эпиляция
            br
            |в Steffany
          p.paragraph-text.text-color-dark.mb-1.position Удалить нежелательные волосы и надолго забыть об их существовании хотят многие девушки. Только когда они решаются на процедуру, сталкиваются со множеством ограничений. Два недели до процедуры не загорать, две недели после не загорать. А во время процедуры терпеть боль, после которой на следующий сеанс уже не хочется.
          p.paragraph-text.text-color-dark.mb-1.mt-4
            |Нам это тоже надоело. Поэтому в Steffany Lazer & Cosmetology эпиляцию проводят
            b лазером нового поколения
            |, который удаляет волосы быстро, без боли и в любое время года.
      .col-12.col-lg-6.mt-lg-4
        #large.white-block-design.mt-4
          img(src="assets/img/service-laser-page/section-1-image.png" alt="position-img-1")
          p#large.extralarge-text-bg
            |laser
            span epila
            |


