section.section.service-laser-whatToDo.pt-0
  .container
    h1.h1-title.text-color-dark.text-center Что делать до и после процедуры
        .row
            .col-12.col-lg-12.mt-4
                h3.h3-title.text-color-dark.text-center
                    | КАК ПОДГОТОВИТСЯ
                    |
                    span.text-color-lightgray К ЛАЗЕРНОЙ ЭПИЛЯЦИИ
                    |
                .items-container.d-flex.flex-lg-row-reverse
                    .text-container-hide.d-flex.flex-column.d-md-none.d-lg-block
                        p.paragraph-text.text-color-dark.align-self-center.text-left.mr-3.pr-5
                            | В день процедуры лучше
                            span.text-w-bold не идти
                            | в бассейн, сауну, солярий или баню.
                        p.paragraph-text.text-color-dark.align-self-center.text-left.mr-3.pr-6
                            | Также в день процедуры
                            span.text-w-bold не стоит заниматься спортом
                            | и провоцировать обильное потоотделение.
                        p.paragraph-text.text-color-dark.align-self-center.text-left.mr-3.pr-5
                            |
                            span.text-w-bold Пару дней
                            |
                            | после процедуры
                            span.text-w-bold 1-2 не загорать
                            | на солнце. При этом можно появляться под солнцем, если нанести на эпилируемый участок SPF-защиту.
                    img(src="assets/img/service-laser-page/123.png" alt="item-1")
                    .text-container1.d-flex.flex-column.mr-lg-3
                        p.paragraph-text.text-color-dark.pr-5.align-self-center.text-left.text-lg-right.pr-lg-0.pl-lg-5
                            | За 12-15 часов до процедуры
                            |
                            span.text-w-bold удалите волосы
                            | на нужном участке с помощью бритвенного станка.
                        p.paragraph-text.text-color-dark.pr-5.align-self-center.text-left.text-lg-right.pr-lg-0.pl-lg-4
                            | В день процедуры
                            |
                            span.text-w-bold не мажьте
                            | эпилируемую зону спиртосодержащими средствами, лосьонами, кремами и другими косметическими продуктами.
                        p.paragraph-text.text-color-dark.pr-5.align-self-center.text-left.text-lg-right.pr-lg-0.pl-lg-5
                            | Подождите
                            |
                            span.text-w-bold 1-2 дня после активного загара,
                            | чтобы не наслаивать высокие температуры.
                h3.h3-title.text-color-dark.text-center.mt-5.d-lg-none
                    | ЧТО ДЕЛАТЬ ПОСЛЕ
                    |
                    span.text-color-lightgray ЛАЗЕРНОЙ ЭПИЛЯЦИИ
                    |
                .items-container.d-flex.d-lg-none
                    img(src="assets/img/service-laser-page/123.png" alt="item-1")
                    .text-container2.d-flex.flex-column
                        p.paragraph-text.text-color-dark.pr-5.align-self-center.text-left
                            | В день процедуры лучше
                            span.text-w-bold не идти
                            | в бассейн, сауну, солярий или баню.
                        p.paragraph-text.text-color-dark.pr-4.align-self-center.text-left
                            | Также в день процедуры
                            span.text-w-bold не стоит заниматься спортом
                            | и провоцировать обильное потоотделение.
                        p.paragraph-text.text-color-dark.pr-5.align-self-center.text-left
                            |
                            span.text-w-bold Пару дней
                            |
                            | после процедуры
                            span.text-w-bold 1-2 не загорать
                            | на солнце. При этом можно появляться под солнцем, если нанести на эпилируемый участок SPF-защиту.
