section.section.service-laser-contraindications
  .container
    .row
      .col-12.col-xl-6
        .white-block-design
          img(src="assets/img/laser-page/contraindications-img.jpg" alt="item-1" srcset="assets/img/laser-page/contraindications-img2.jpg 2x")
          //img.d-xl-none(src="assets/img/service-laser-page/contraindications-img-mob.jpg" alt="item-1-mob")
      .col-12.col-lg-6
        .c-content
          h2.h2-title.mt-0.mb-3 Противопоказания к лазерной эпиляции
          p.paragraph-text.text-w-light.text-opacity.mb-3 каждый случай индивидуальный. Если вы узнали себя в списке противопоказаний, но очень хотите лазерную эпиляцию, приходите на консультацию. Мастер осмотрит вас и соберет нужную информацию о состоянии здоровья. На основании этого он решит, как поступить в вашей ситуации.
          p.paragraph-text.text-color-light.text-w-bold.mb-3 Абсолютные противопоказания: когда точно нельзя
          ul.info-list
            li.paragraph-text.text-w-light.text-opacity.mb-3 Беременность
            li.paragraph-text.text-w-light.text-opacity.mb-3 Кормление грудью
            li.paragraph-text.text-w-light.text-opacity.mb-3 Онкологические заболевания
            li.paragraph-text.text-w-light.text-opacity.mb-3 Кардиостимулятор
            li.paragraph-text.text-w-light.text-opacity.mb-3 Оперативные вмешательства на открытом сердце
            li.paragraph-text.text-w-light.text-opacity.mb-3 Незажившие раны на эпилируемом участке
            li.paragraph-text.text-w-light.text-opacity.mb-3 Светлые беспигментные волосы — лазер просто их не увидит
            li.paragraph-text.text-w-light.text-opacity.mb-2 Рыжие волосы или волосы с рыжеватым оттенком: к сожалению, рыжий пигмент отталкивает лазерный луч и не поддается удалению
          p.paragraph-text.text-color-light.text-w-bold.mb-3 Относительные противопоказания: когда иногда можно
          ul.info-list.m-0
            li.paragraph-text.text-w-light.text-opacity.mb-3 Гипертоническая болезнь с неконтролируемыми гипертоническими кризами
            li.paragraph-text.text-w-light.text-opacity.mb-3 Инсулинзависимый сахарный диабет с нарушением трофики
            li.paragraph-text.text-w-light.text-opacity.mb-3 Психоэмоциональная нестабильность
            li.paragraph-text.text-w-light.text-opacity.mb-0 Системные заболевания: ВИЧ-инфекция, волчанка, гепатит В, С, склеродермия
