
section.section.service-laser-whatToDo
  .container
    h2.h2-title.text-color-dark.text-center Что делать до и после процедуры
      .section-1
        .row
          .col-12.col-xl-5
            h3.todo-subtitle.text-color-dark.text-center.text-xl-right.mt-5.text-uppercase Как подготовиться
              |
              |
              span.light-span.text-uppercase к лазерной эпиляции
          .col-12.col-xl-5.offset-xl-2.d-none.d-xl-block
            h3.todo-subtitle.text-color-dark.text-xl-left.mt-5.text-uppercase Что делать после
              |
              |
              span.light-span.text-uppercase лазерной эпиляции
        .row.custom-row-height.d-flex
          .col-xl-5.d-none.d-xl-flex.order-xl-3.custom-pt-text
            p.paragraph-text.text-color-dark.text-left.mb-0
              | В день процедуры лучше <span class="text-w-bold">не идти</span> в бассейн, сауну, солярий или баню.
          .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-1.order-1.order-xl-2.order-1
          .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
            p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
              | За 12-15 часов до процедуры <span class="text-w-bold">удалите волосы</span> на нужном участке с помощью бритвенного станка. Если ваши волосы растут очень активно, удалите их в день процедуры.

        .row.custom-row-height.d-flex
          .col-xl-5.d-none.d-xl-flex.order-xl-3.custom-pt-text
            p.paragraph-text.text-color-dark.text-left.mb-0
              | Также в день процедуры <span class="text-w-bold">не стоит заниматься спортом</span> и провоцировать обильное потоотделение.
          .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-2.order-1.order-xl-2.order-1
          .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
            p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
              | В день процедуры <span class="text-w-bold">не мажьте</span> эпилируемую зону спиртосодержащими средствами, лосьонами, кремами и другими косметическими продуктами.

        .row.custom-row-height.d-flex
          .col-xl-5.d-none.d-xl-flex.order-xl-3.custom-pt-text
            p.paragraph-text.text-color-dark.text-left.mb-0
              | Подождите <span class="text-w-bold">1-2 дня после активного загара,</span> чтобы не наслаивать высокие температуры.
          .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-3.order-1.order-xl-2.order-1
          .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
            p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
              | <span class="text-w-bold">Пару дней</span> после процедуры <span class="text-w-bold">не загорать</span> на солнце. При этом можно появляться под солнцем, если нанести на эпилируемый участок SPF-защиту.

      .section-2.d-block.d-xl-none
        .row
          .col-12
            h3.todo-subtitle.text-color-dark.text-center.mt-5.text-uppercase Что делать после
              |
              |
              span.light-span.text-uppercase лазерной эпиляции

        .row.custom-row-height.d-flex
          .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-1.order-1.order-xl-2.order-1
          .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
            p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
              | В день процедуры лучше <span class="text-w-bold">не идти</span> в бассейн, сауну, солярий или баню.
        .row.custom-row-height.d-flex
          .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-2.order-1.order-xl-2.order-1
          .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
            p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
              | Также в день процедуры <span class="text-w-bold">не стоит заниматься спортом</span> и провоцировать обильное потоотделение.
        .row.custom-row-height.d-flex
          .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-3.order-1.order-xl-2.order-1
          .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
            p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
              | <span class="text-w-bold">Пару дней</span> после процедуры <span class="text-w-bold">не загорать</span> на солнце. При этом можно появляться под солнцем, если нанести на эпилируемый участок SPF-защиту.
