section.section.service-laser-contraindications
    .container
        .row
            .col-12.col-lg-6
                .white-block-mobile.d-md-block.d-lg-none
                    .white-block-design
                        img(src="assets/img/service-laser-page/service-laser-contraindications.png" alt="item-1")
                .white-block-lg.d-md-none.d-lg-block
                    .white-block-design
                        img(src="assets/img/service-laser-page/service-laser-contraindications-lg.png" alt="item-1")