section.section.service-laser-contraindications.pb-0
    .container
        .row
            .col-12.col-lg-6
                .white-block-mobile.d-md-block.d-lg-none
                    .white-block-design
                        img(src="images/img/service-laser-page/service-laser-contraindications.png" alt="item-1")
                .white-block-lg.d-md-none.d-lg-block
                    .white-block-design
                        img(src="images/img/service-laser-page/service-laser-contraindications-lg.png" alt="item-1")
            .col-12.col-lg-6.pl-5
                        h2.h2-title.text-color-light.mt-0.mt-lg-4.mb-3.mt-lg-0 Противопоказания к лазерной эпиляции
                        p.paragraph-text.text-color-light.text-w-light.mb-2 каждый случай индивидуальный. Если вы узнали себя в списке противопоказаний, но очень хотите лазерную эпиляцию, приходите на консультацию. Мастер осмотрит вас и соберет нужную информацию о состоянии здоровья. На основании этого он решит, как поступить в вашей ситуации.
                        p.paragraph-text.text-color-light.text-w-bold.mb-2 Абсолютные противопоказания: когда точно нельзя
                            ul.info-list
                                li.paragraph-text.text-color-light.text-w-light.mb-2 Беременность
                                li.paragraph-text.text-color-light.text-w-light.mb-2 Кормление грудью
                                li.paragraph-text.text-color-light.text-w-light.mb-2 Онкологические заболевания
                                li.paragraph-text.text-color-light.text-w-light.mb-2 Кардиостимулятор
                                li.paragraph-text.text-color-light.text-w-light.mb-2 Оперативные вмешательства на открытом сердце
                                li.paragraph-text.text-color-light.text-w-light.mb-2 Незажившие раны на эпилируемом участке
                                li.paragraph-text.text-color-light.text-w-light Светлые беспигментные волосы — лазер просто их не увидит
                        p.paragraph-text.text-color-light.text-w-bold.mb-2 Относительные противопоказания: когда иногда можно
                            ul.info-list
                                li.paragraph-text.text-color-light.text-w-light.mb-2 Гипертоническая болезнь с неконтролируемыми гипертоническими кризами
                                li.paragraph-text.text-color-light.text-w-light.mb-2 Инсулинзависимый сахарный диабет с нарушением трофики
                                li.paragraph-text.text-color-light.text-w-light.mb-2 Психоэмоциональная нестабильность
                                li.paragraph-text.text-color-light.text-w-light.mb-5 Системные заболевания: ВИЧ-инфекция, волчанка, гепатит В, С, склеродермия
