section.section.service-after-laserepila
  .consultation-top
    .container
      .row
        .col-12.col-xl-6
          .c-content
            h2.h2-title.mt-5.mb-3 Что будет поле процедуры
            .d-line
            p.paragraph-text.text-color-light.text-w-light.mb-2 Наш лазер прогревает, а не выжигает волос. Поэтому эффект от него немного отличается. При обычном лазере сожженные волоски выпадают практически сразу. С нашим лазером волосы тоже уйдут, но чуть-чуть по-другому. Пусть вас не огорчает нетипичный процесс, потому что все хорошо.
            p.paragraph-text.text-color-light.text-w-bold.mb-2 Сначала волосы остаются на месте
            p.paragraph-text.text-color-light.text-w-light.mb-2 На второй-третий день после процедуры вы можете отметить, что волосы на эпилируемой зоне продолжают расти. Это нормально. Прогретые лазером волоски уже мертвые, просто коже нужно время на их выталкивание.
            p.paragraph-text.text-color-light.text-w-bold.mb-2 На 10-14 день кожа выталкивает мертвые волосы
            p.paragraph-text.text-color-light.text-w-light.mb-2 Если вы никак не будете обрабатывать эпилируемую зону после процедуры, вы заметите: волоски тянутся за полотенцем или мочалкой и просто выпадают. Если вы пользуетесь бритвенным станком, то вскоре замечаете, что волосы становятся все тоньше. Они начинают расти островками — это называется «эффект гепарда». От процедуры к процедуре новые волосы будут уходить таким же образом.

        .col-12.col-xl-6
          .white-block-design.mx-sm-auto.mx-lg-0.mr-auto.mr-lg-0.ml-xl-auto
            p.extralarge-text-bg  after
            img(src="assets/img/service-after-laserepila/leg.jpg" alt="service-laser-image")
  .consultation-middle.pb-lg-6
    .container
      .row
        .col-12.col-lg-6
          .white-block-design
            img(src="assets/img/service-laser-page/service-after-laserepila2.png" alt="service-laser-iamge")
        .col-12.col-lg-6.pt-5.pl-5.pl-lg-3
          h2.p-title.text-color-dark.mt-0.mb-3.before Как сохранить результат лазерной эпиляции надолго
          p.paragraph-text.text-color-dark.text-w-light.mb-3.mt-5 Мы бы хотели пообещать вам, что волосы уйдут раз и навсегда. Но такие гарантии — это ложь, которая противоречит биологии и физиологии. Зато мы можем порекомендовать действия, благодаря которым у вас получится сохранить надолго сохранить результат лазерной эпиляции.
          .c-li.d-flex.align-items-center.mb-2.mt-2
            .custom-icon-number-dark.mb-2
              p.text-color-light 1
            p.paragraph-text.text-color-dark.text-w-bold.mb-2.ml-2 Придерживайтесь процедурного графика
          p.paragraph-text.text-color-dark.text-w-light.mb-2 Еще на консультации мастер определит, сколько процедур вам нужно и как часто их надо проходить. Этот график — не рекомендация, а правило. Опоздания на 1-2 дня не повлияют на ситуацию. А вот задержки в неделю и больше сдвинут весь процесс и отдалят нужный вам эффект.
          p.paragraph-text.text-color-dark.text-w-light.mb-3 Не переживайте. После каждой процедуры мы сразу предлагаем вам назначить дату следующего сеанса. А если вы не можете записаться сразу, мы напомним вам о процедуре по телефону и еще раз назначим нужно время.
          .c-li.d-flex.align-items-center.mb-2.mt-2
            .custom-icon-number-dark.mb-2
              p.text-color-light 2
            p.paragraph-text.text-w-bold.text-color-dark.mb-2.ml-2 Соблюдайте все рекомендации по уходу за волосами
          p.paragraph-text.text-color-dark.text-w-light.mb-2 После процедуры мастер детально расскажет вам, как ухаживать за кожей между процедурами. Самое главное правило — никак не воздействовать на фолликул. Не вырывать волоски пинцетом, воском или сахарной пастой. Удалять волосы на эпилируемой зоне между процедурами можно только бритвенным станком. Он проходится по поверхности кожи и не задевает фолликулы.
  .consultation-bottom
    .container.position-relative
      .row.pt-5
        .col-12.col-lg-6.pt-2.pl-5.pl-lg-3
          .c-li.d-flex.align-items-center.mb-3.mt-2
            .custom-icon-number.mb-2
              p 3
            p.paragraph-text.text-color-light.text-w-bold.mb-2.ml-2 Следите за гормональным фоном
          p.paragraph-text.text-color-light.text-w-light.mb-3 При гормональных скачках рост волос может активизироваться. Иногда мы видим, что нежелательные волосы могут быть вызваны внутренними проблемами с гормонами. Даже если удалить волосы, внутренние процессы в организме будут провоцировать повторный активный рост. Здоровье — наш главный приоритет. Поэтому в таких ситуациях мы направляем клиенток к эндокринологам для более детального осмотра и возможного лечения.
          .c-li.d-flex.align-items-center.mb-3.mt-2
            .custom-icon-number.mb-2
              p 4
            p.paragraph-text.text-color-light.text-w-bold.mb-2.ml-2 Приходите на профилактические сеансы
          p.paragraph-text.text-color-light.text-w-light.mb-5 Через время после полного курса лазерной эпиляции вы можете заметить новые волоски. Это та самая часть волос, которая на момент эпиляции находилась в фазе сна. Достаточно приходить 1 раз в год, чтобы убрать новые волоски и сохранить гладкий эффект.
        .col-12.col-lg-6
          .white-block-design.ml-8
            p.extralarge-text-bg  epilation
            img(src="assets/img/service-laser-page/sevice-after-laserepila3.png" alt="service-laser-iamge")
