section.section.service-laser-discount
  .container
    .row.flex-column.align-items-center
      h2.section-title.text-color-dark Комплексные предложения
      p.paragraph-text.text-color-dark Только 1 день скидки на пакеты обученияот 18% до 27%
      p.paragraph-text.text-color-dark.text-w-bold  22 : 22 : 22
      img(src="assets/img/check-female.png" alt="check-female")
    .row.no-gutters.d.flex.flex-column.align-items-center.flex-lg-row
      .col-8.col-lg-4
        .c-content.p-4.border
          h4.h4-title.text-color-dark.text-w-bold.text-center.mb-4 Minimum
          .row
            .col.d-flex.justify-content-center.justify-content-lg-start
              ul.info-list
                li
                  p.paragraph-text.text-color-dark.text-w-light Бикини глубокое
                li
                  p.paragraph-text.text-color-dark.text-w-light Подмышечные области
            .col.justify-content-center.justify-content-lg-start.text-center.text-lg-left
              p.paragraph-text.text-color-dark.text-w-bold 2 000 грн
              p.paragraph-text.text-color-dark.text-w-bold 1 730 грн
          .row.justify-content-around.justify-content-lg-center
            +btnPen('записаться')
            +btnCaset('оплатить')
      .col-8.col-lg-4
        .c-content.p-4.border
          h4.h4-title.text-color-dark.text-w-bold.text-center.mb-4 Standart
          .row
            .col.d-flex.justify-content-center.justify-content-lg-start
              ul.info-list
                li
                  p.paragraph-text.text-color-dark.text-w-light Бикини глубокое
                li
                  p.paragraph-text.text-color-dark.text-w-light Подмышечные области
            .col.justify-content-center.justify-content-lg-start.text-center.text-lg-left
              p.paragraph-text.text-color-dark.text-w-bold 2 000 грн
              p.paragraph-text.text-color-dark.text-w-bold 1 730 грн
          .row.justify-content-around.justify-content-lg-center
            +btnPen('записаться')
            +btnCaset('оплатить')
      .col-8.col-lg-4
        .c-content.p-4.border
          h4.h4-title.text-color-dark.text-w-bold.text-center.mb-4 Maximum
          .row
            .col.d-flex.justify-content-center.justify-content-lg-start
              ul.info-list
                li
                  p.paragraph-text.text-color-dark.text-w-light Бикини глубокое
                li
                  p.paragraph-text.text-color-dark.text-w-light Подмышечные области
            .col.justify-content-center.justify-content-lg-start.text-center.text-lg-left
              p.paragraph-text.text-color-dark.text-w-bold 2 000 грн
              p.paragraph-text.text-color-dark.text-w-bold 1 730 грн
          .row.justify-content-around.justify-content-lg-center
            +btnPen('записаться')
            +btnCaset('оплатить')

