section.section.service-advantages
  .container
    h2.h2-title.text-color-dark.text-center Лазерная эпиляция может быть комфортной 
    p.paragraph-text.text-color-dark.text-center Если делать ее в Steffany
    .row
      .col-12.col-lg-6.c-boxes.mb-3
        img(src="assets/img/service-advantages/advantages_1.png" alt="advantages-1")
        p.advantages-count 01
        h3.h3-title.mb-3 Полное отсутствие боли
        p.paragraph-text.text-color-dark.text-w-dark Вам не нужно доплачивать за обезболивание — процедура и так полностью безболезненная. Лазер имеет мощную систему охлаждения. Во время сеанса вы чувствуете просто прикосновения. Они абсолютно безболезненные.

      .col-12.col-lg-6.c-boxes.mb-3
        img(src="assets/img/service-advantages/advantages_2.png" alt="advantages-2")
        p.advantages-count 02
        h3.h3-title.mb-3 Можно делать летом
        p.paragraph-text.text-color-dark.text-w-dark С лазерами предыдущего поколения конец весны, лето и начало осени выпадали из процедурного графика. Сейчас столько ждать не надо. Лазер удаляет волосы на коже до 6-го фототипа, а это метисы и мулаты. Он не боится загара.

      .col-12.col-lg-6.c-boxes.mb-3
        img(src="assets/img/service-advantages/advantages_3.png" alt="advantages-3")
        p.advantages-count 03
        h3.h3-title.mb-3 Безопасно для организма
        p.paragraph-text.text-color-dark.text-w-dark Лазер видит одну мишень — пигмент в волосяном фолликуле. Пигмент в коже, близлежащие ткани и органы ему совсем не нужны, и он на них никак не влияет. К тому же лазер не сжигает, а прогревает волос. Поэтому ожоги исключены.

      .col-12.col-lg-6.c-boxes
        img(src="assets/img/service-advantages/advantages_4.png" alt="advantages-4")
        p.advantages-count 04
        h3.h3-title.mb-3 Отдых для души
        p.paragraph-text.text-color-dark.text-w-dark «Процедурный график» звучит слишком скучно. Лучше относиться к сеансам как в мини-отпуску. Шампанское, чай, кофе, музыка, поболтать или помолчать — озвучивайте любые желания и наслаждайтесь процессом.
