//section.section.service-laser-whatToDo.pt-0
//  .container
//
//    .row
//      .col-12.col-lg-12.mt-4
//        h3.todo-subtitle.text-color-dark.text-center.mt-5.text-uppercase Как подготовиться
//          span.text-color-lightgray.text-uppercase к лазерной эпиляции
//        .items-container.d-flex.flex-lg-row-reverse
//          img(src="assets/img/service-laser-page/123.png" alt="item-1")
//          .text-container2.d-flex.flex-column
//            p.paragraph-text.text-color-dark.pr-5.align-self-center.text-left
//              | За 12-15 часов до процедуры <span class="text-w-bold">удалите волосы</span> на нужном участке с помощью бритвенного станка.
//            p.paragraph-text.text-color-dark.pr-4.align-self-center.text-left
//              | В день процедуры <span class="text-w-bold">не мажьте</span> эпилируемую зону спиртосодержащими средствами, лосьонами, кремами и другими косметическими продуктами.
//            p.paragraph-text.text-color-dark.pr-5.align-self-center.text-left
//              | Подождите <span class="text-w-bold">1-2 дня после активного загара,</span> чтобы не наслаивать высокие температуры.
//        h3.todo-subtitle.text-color-dark.text-center.mt-5.text-uppercase Что делать после
//          span.text-color-lightgray.text-uppercase лазерной эпиляции
//        .items-container.d-flex
//          img(src="assets/img/service-laser-page/123.png" alt="item-1")
//          .text-container2.d-flex.flex-column
//            p.paragraph-text.text-color-dark.pr-5.align-self-center.text-left
//              | В день процедуры лучше <span class="text-w-bold">не идти</span> в бассейн, сауну, солярий или баню.
//            p.paragraph-text.text-color-dark.pr-4.align-self-center.text-left
//              | Также в день процедуры <span class="text-w-bold">не стоит заниматься спортом</span> и провоцировать обильное потоотделение.
//            p.paragraph-text.text-color-dark.pr-5.align-self-center.text-left
//              | <span class="text-w-bold">Пару дней</span> после процедуры <span class="text-w-bold">не загорать</span> на солнце. При этом можно появляться под солнцем, если нанести на эпилируемый участок SPF-защиту.
//

section.section.service-laser-whatToDo.pt-0
  .container
    h2.h2-title.text-color-dark.text-center Что делать до и после процедуры
      .section-1
        .row
          .col-12.col-xl-5
            h3.todo-subtitle.text-color-dark.text-center.text-xl-right.mt-5.text-uppercase Как подготовиться
              span.text-color-lightgray.text-uppercase к лазерной эпиляции
          .col-12.col-xl-5.offset-xl-2.d-none.d-xl-block
            h3.todo-subtitle.text-color-dark.text-xl-left.mt-5.text-uppercase Что делать после
              span.text-color-lightgray.text-uppercase лазерной эпиляции
        .row.custom-row-height.d-flex
          .col-0.col-xl-5.d-none.d-xl-flex.align-items-xl-center.order-xl-3.pt-5
            p.paragraph-text.text-color-dark.text-left.mb-0
              | В день процедуры лучше <span class="text-w-bold">не идти</span> в бассейн, сауну, солярий или баню.
          .col-3.col-xl-2.d-flex.align-items-center.circle.circle-1.order-1.order-xl-2.order-1
          .col-9.col-xl-5.d-flex.align-items-start.align-items-xl-center.pt-5.order-xl-1.order-2
            p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
              | За 12-15 часов до процедуры <span class="text-w-bold">удалите волосы</span> на нужном участке с помощью бритвенного станка. Если ваши волосы растут очень активно, удалите их в день процедуры.

        .row.custom-row-height.d-flex
          .col-0.col-xl-5.d-none.d-xl-flex.align-items-xl-center.order-xl-3.pt-5
            p.paragraph-text.text-color-dark.text-left.mb-0
              | Также в день процедуры <span class="text-w-bold">не стоит заниматься спортом</span> и провоцировать обильное потоотделение.
          .col-3.col-xl-2.d-flex.align-items-center.circle.circle-2.order-1.order-xl-2.order-1
          .col-9.col-xl-5.d-flex.align-items-start.align-items-xl-center.pt-5.order-xl-1.order-2
            p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
              | В день процедуры <span class="text-w-bold">не мажьте</span> эпилируемую зону спиртосодержащими средствами, лосьонами, кремами и другими косметическими продуктами.

        .row.custom-row-height.d-flex
          .col-0.col-xl-5.d-none.d-xl-flex.align-items-xl-center.order-xl-3.pt-5
            p.paragraph-text.text-color-dark.text-left.mb-0
              | Подождите <span class="text-w-bold">1-2 дня после активного загара,</span> чтобы не наслаивать высокие температуры.
          .col-3.col-xl-2.d-flex.align-items-center.circle.circle-3.order-1.order-xl-2.order-1
          .col-9.col-xl-5.d-flex.align-items-start.align-items-xl-center.pt-5.order-xl-1.order-2
            p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
              | <span class="text-w-bold">Пару дней</span> после процедуры <span class="text-w-bold">не загорать</span> на солнце. При этом можно появляться под солнцем, если нанести на эпилируемый участок SPF-защиту.


      .section-2.d-block.d-xl-none
        .row
          .col-12
            h3.todo-subtitle.text-color-dark.text-center.mt-5.text-uppercase Что делать после
              span.text-color-lightgray.text-uppercase лазерной эпиляции

        .row.custom-row-height.d-flex
          .col-0.col-xl-5.d-none.d-xl-flex.align-items-xl-center.order-xl-3.pt-5
            p.paragraph-text.text-color-dark.text-left.mb-0
          .col-3.col-xl-2.d-flex.align-items-center.circle.circle-3.order-1.order-xl-2.order-1
          .col-9.col-xl-5.d-flex.align-items-start.align-items-xl-center.pt-5.order-xl-1.order-2
            p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
              | В день процедуры лучше <span class="text-w-bold">не идти</span> в бассейн, сауну, солярий или баню.
        .row.custom-row-height.d-flex
          .col-0.col-xl-5.d-none.d-xl-flex.align-items-xl-center.order-xl-3.pt-5
            p.paragraph-text.text-color-dark.text-left.mb-0
          .col-3.col-xl-2.d-flex.align-items-center.circle.circle-3.order-1.order-xl-2.order-1
          .col-9.col-xl-5.d-flex.align-items-start.align-items-xl-center.pt-5.order-xl-1.order-2
            p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
              | В день процедуры лучше <span class="text-w-bold">не идти</span> в бассейн, сауну, солярий или баню.
        .row.custom-row-height.d-flex
          .col-0.col-xl-5.d-none.d-xl-flex.align-items-xl-center.order-xl-3.pt-5
            p.paragraph-text.text-color-dark.text-left.mb-0
          .col-3.col-xl-2.d-flex.align-items-center.circle.circle-3.order-1.order-xl-2.order-1
          .col-9.col-xl-5.d-flex.align-items-start.align-items-xl-center.pt-5.order-xl-1.order-2
            p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
              | В день процедуры лучше <span class="text-w-bold">не идти</span> в бассейн, сауну, солярий или баню.
