section.section.accordion-answer
  .container
    h2.h2-title.text-center.mb-3 Часто задаваемые вопросы
    p.h4-title.text-center.d-none.d-md-block.mb-5 Возможно, наши клиенты уже задали интересующий вас вопрос
    #accordion.accordion.mt-3

      #heading01.card-header.active(data-toggle='collapse', data-target='#collapse01', aria-controls='collapse01', aria-expanded='true')
         p.paragraph-text.text-w-bold
          |  Если я пройду полный курс лазерной эпиляции, волосы исчезнут навсегда?
         .card-arrow
      #collapse01.collapse.show(aria-labelledby='heading01', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.

      #heading02.card-header(data-toggle='collapse', data-target='#collapse02', aria-controls='collapse02', aria-expanded='false')
          p.paragraph-text.text-w-bold
            | Вы проводите лазерное удаление светлых пушковых волосы?
          .card-arrow
      #collapse02.collapse(aria-labelledby='heading02', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          |Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.

      #heading03.card-header(data-toggle='collapse', data-target='#collapse03', aria-controls='collapse03', aria-expanded='true')
        p.paragraph-text.text-w-bold
          | Как еще я могу удалить волосы, если не хочу делать лазерную эпиляцию?
        .card-arrow
      #collapse03.collapse(aria-labelledby='heading03', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.

      #heading04.card-header(data-toggle='collapse', data-target='#collapse04', aria-controls='collapse04', aria-expanded='true')
        p.paragraph-text.text-w-bold
          | Вы проводите лазерное удаление волос несовершеннолетним?
        .card-arrow
      #collapse04.collapse(aria-labelledby='heading04', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.

      #heading05.card-header(data-toggle='collapse', data-target='#collapse05', aria-controls='collapse05', aria-expanded='true')
        p.paragraph-text.text-w-bold
          | Можно ли мужчинам удалить волосы в вашем центре? В какую стоимость?
        .card-arrow
      #collapse05.collapse(aria-labelledby='heading05', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.

      #heading06.card-header(data-toggle='collapse', data-target='#collapse06', aria-controls='collapse06', aria-expanded='true')
        p.paragraph-text.text-w-bold
          | Можно ли мужчинам удалить волосы в вашем центре? В какую стоимость?
        .card-arrow
      #collapse06.collapse(aria-labelledby='heading06', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.

      #heading07.card-header(data-toggle='collapse', data-target='#collapse07', aria-controls='collapse07', aria-expanded='true')
        p.paragraph-text.text-w-bold
          | Можно ли мужчинам удалить волосы в вашем центре? В какую стоимость?
        .card-arrow
      #collapse07.collapse(aria-labelledby='heading07', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.

      #heading08.card-header(data-toggle='collapse', data-target='#collapse08', aria-controls='collapse08', aria-expanded='true')
        p.paragraph-text.text-w-bold
          | Можно ли мужчинам удалить волосы в вашем центре? В какую стоимость?
        .card-arrow
      #collapse08.collapse(aria-labelledby='heading08', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.

      #heading09.card-header(data-toggle='collapse', data-target='#collapse09', aria-controls='collapse09', aria-expanded='true')
        p.paragraph-text.text-w-bold
          | Можно ли мужчинам удалить волосы в вашем центре? В какую стоимость?
        .card-arrow
      #collapse09.collapse(aria-labelledby='heading09', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.

      #heading10.card-header(data-toggle='collapse', data-target='#collapse10', aria-controls='collapse10', aria-expanded='true')
        p.paragraph-text.text-w-bold
          | Можно ли мужчинам удалить волосы в вашем центре? В какую стоимость?
        .card-arrow
      #collapse10.collapse(aria-labelledby='heading10', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.






