section.section.accordion-answer
  .container
    h2.h2-title.text-center.mb-3 Часто задаваемые вопросы
    p.h4-title.text-center.d-none.d-md-block.mb-5 Возможно, наши клиенты уже задали интересующий вас вопрос
    #accordion.accordion.mt-3

      #heading01.card-header.active(data-toggle='collapse', data-target='#collapse01', aria-controls='collapse01', aria-expanded='true')
         p.paragraph-text.letter-spacing-15.text-w-bold
          |  Если я пройду полный курс лазерной эпиляции, волосы исчезнут навсегда?
         .card-arrow
      #collapse01.collapse.show(aria-labelledby='heading01', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Если кто-то обещает удалить вам волосы навсегда, он вам чего-то не договаривает. К сожалению или счастью, невозможно удалить волосы навсегда с помощью лазера. Это связано с физиологией роста волоса. Да, мы удаляем активные волоски. Месторасположение фолликула со временем зарастает соединительной тканью и волосяной стержень именно с этого фолликула больше не растет никогда. Но в нашем организме всегда есть запас спящих волос. Они спят до определенного момента, а потом прорастают. Поэтому после полного курса лазерной эпиляции мы рекомендуем 1 раз в год наведываться на профилактический сеанс.

      //#heading02.card-header(data-toggle='collapse', data-target='#collapse02', aria-controls='collapse02', aria-expanded='false')
      //    p.paragraph-text.letter-spacing-15.text-w-bold
      //      | Вы проводите лазерное удаление светлых пушковых волосы?
      //    .card-arrow
      //#collapse02.collapse(aria-labelledby='heading02', data-parent='#accordion')
      //  p.card-body.paragraph-text.text-w-light
      //    | Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг.
      //    | Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.

      //#heading03.card-header(data-toggle='collapse', data-target='#collapse03', aria-controls='collapse03', aria-expanded='true')
      //  p.paragraph-text.letter-spacing-15.text-w-bold
      //    | Как еще я могу удалить волосы, если не хочу делать лазерную эпиляцию?
      //  .card-arrow
      //#collapse03.collapse(aria-labelledby='heading03', data-parent='#accordion')
      //  p.card-body.paragraph-text.text-w-light
      //    | Вы можете пройти курс нано-эпиляции, если вас беспокоят светлые пушковые волосы. А от обычных пигментированных волос вы можете избавиться с помощью шугаринга и восковой эпиляции.

      #heading04.card-header(data-toggle='collapse', data-target='#collapse04', aria-controls='collapse04', aria-expanded='true')
        p.paragraph-text.letter-spacing-15.text-w-bold
          | Вы проводите лазерное удаление волос несовершеннолетним?
        .card-arrow
      #collapse04.collapse(aria-labelledby='heading04', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Да, лазерную эпиляцию можно делать с 14 лет с соглашением и в присутствии родителя. Конечно, лучше делать лазерную эпиляцию при стабильном гормональном фоне, чтобы эффект держался дольше. Но если вы решились — никаких противопоказаний с точки зрения возраста нет. На консультации мастер расскажет вам обо всех нюансах подростковой эпиляции и вы вместе примете нужное решение.

      #heading05.card-header(data-toggle='collapse', data-target='#collapse05', aria-controls='collapse05', aria-expanded='true')
        p.paragraph-text.letter-spacing-15.text-w-bold
          | Можно ли мужчинам удалить волосы в вашем центре? В какую стоимость?
        .card-arrow
      #collapse05.collapse(aria-labelledby='heading05', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Конечно. У мужской эпиляции и депиляции есть свои нюансы, но это абсолютно реально. Лазерная эпиляция по цене обычно чуть выше для мужчин, потому что площадь эпилируемой зоны больше.

      #heading06.card-header(data-toggle='collapse', data-target='#collapse06', aria-controls='collapse06', aria-expanded='true')
        p.paragraph-text.letter-spacing-15.text-w-bold
          | Какой вид эпиляции мне выбрать, если у меня рыжие волосы?
        .card-arrow
      #collapse06.collapse(aria-labelledby='heading06', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | К сожалению, не лазерную: рыжий пигмент отталкивает лазерный луч и вся процедура будет напрасна. Но ничего страшного! Выбирайте восковую эпиляцию или шугаринг. При регулярных процедурах волосы станут тоньше и будут расти реже, чем при бритье.

      #heading07.card-header(data-toggle='collapse', data-target='#collapse07', aria-controls='collapse07', aria-expanded='true')
        p.paragraph-text.letter-spacing-15.text-w-bold
          | Если я хочу избавиться от одного волоска, у вас для этого есть услуга одного импульса?
        .card-arrow
      #collapse07.collapse(aria-labelledby='heading07', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | У нас нет процедуры одного импульса. Но если вам нужно удалить всего один или пару волосков, мы рассмотрим ваш случай индивидуально и рассчитаем у такой услуги лазерной эпиляции стоимость. В этом нет никакой проблемы. Приходите на консультацию, чтобы более детально обсудить вопрос с мастером.

      #heading08.card-header(data-toggle='collapse', data-target='#collapse08', aria-controls='collapse08', aria-expanded='true')
        p.paragraph-text.letter-spacing-15.text-w-bold
          | Можно ли позволить себе удалить волосы лазером, если на эпилируемом участке у меня есть татуировка?
        .card-arrow
      #collapse08.collapse(aria-labelledby='heading08', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Если вы хотите сделать лазерную эпиляцию, мы заклеим вашу татуировку, чтобы лазер не повредил ее пигмент. В любых других видах эпиляции (восковой, шугаринге или нано-эпиляции) ваша татуировка не пострадает. Выбирайте, какой метод вам больше подходит или проконсультируйтесь с нашим мастером.

      #heading09.card-header(data-toggle='collapse', data-target='#collapse09', aria-controls='collapse09', aria-expanded='true')
        p.paragraph-text.letter-spacing-15.text-w-bold
          | У ваших мастеров есть медицинское образование?
        .card-arrow
      #collapse09.collapse(aria-labelledby='heading09', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Да, все наши мастера эпиляции и депиляции — это профессиональные косметологи. У них есть медицинское образование.

      #heading10.card-header(data-toggle='collapse', data-target='#collapse10', aria-controls='collapse10', aria-expanded='true')
        p.paragraph-text.letter-spacing-15.text-w-bold
          | Какой стаж у ваших мастеров?
        .card-arrow
      #collapse10.collapse(aria-labelledby='heading10', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | По-разному — от 2-х до 15-ти лет. В нашей работе очень важна практика, поэтому вас точно будет принимать квалифицированный и опытный специалист.






