footer.footer
  .container.container-m
    .row.no-gutters.footer-cnt.mx-auto.mx-lg-0
      .col-12.col-lg-3.d-none.d-lg-block
        a.c-logo-f(href="./index.html")
          img(src="assets/img/logo/logo-footer.svg", alt="logo-f")
      .col-12.col-sm-4.col-lg-3.mb-3.mb-lg-0
        ul.d-flex.d-sm-block.flex-column.align-items-center.mb-0
          li.mb-3.text-center.text-lg-left.d-flex.align-items-center
            img.icon.icon-phone.mr-3(src="assets/icon/phone.svg")
            a.paragraph-text-light.text-color-dark.text-w-light(href='tel:+0980070753') 098-007-07-53
          li.mb-3.text-center.text-lg-left.d-flex.align-items-center.drop-menu.drop-menu-top
            img.icon.mr-3.icon-loc(src="assets/icon/map.svg" alt="icon-map-f")
            span.paragraph-text-light.text-color-dark.text-w-light Ивано-Франковск
            img.icon-arrow.ml-2(src="assets/icon/drop-arrow-down.svg" alt="drop-arrow-down")
            ul.dropdown-menu-list.d-flex.flex-column
              li
                a.nav-link-text.text-color-lightdark(href="#") Львов
              li
                a.nav-link-text.text-color-lightdark(href="#") Львов
              li
                a.nav-link-text.text-color-lightdark(href="#") Львов
          li.mb-3.text-center.text-lg-left.d-flex.align-items-center.footer-icon-blk
            a.mr-3(href="https://www.facebook.com/steffany.ua/")
              img.icon.icon-facebook(src="assets/icon/facebook-icon.svg")
            a(href="https://www.instagram.com/steffany.zhytomyr/?hl=ru")
              img.icon.icon-inst.mr-0(src="assets/icon/inst.svg")
      .col-12.col-sm-3.col-lg-2.mb-.mb-sm-3
        a.paragraph-text.text-color-lightdark.text-w-light.text-center.text-sm-left.mb-3.d-block(href="") Steffany Beauty
        a.paragraph-text.text-color-lightdark.text-w-light.text-center.text-sm-left.d-block(href="") Steffany Podology
        hr.d-sm-none.my-4
      .col-12.col-sm-5.d-none.d-sm-flex.flex-column.align-items-center.align-items-sm-start.d-lg-none
        a.p-text-light.text-dashed.d-inline-block.mb-3.text-color-lightdark(href="") Пользовательское соглашение <br/>
        a.p-text-light.text-dashed.d-inline-block.mb-3.mb-sm-0.text-color-lightdark(href="") Политика конфиденциальности
      .col-12.col-lg-4.d-none.d-sm-flex.flex-column.justify-content-center.justify-content-sm-between.justify-content-lg-start.flex-lg-column.align-items-lg-center
        p.paragraph-text.text-color-lightdark.text-center.mb-3
          | Не хотите звонить? Скачайте приложение <br/>
          | и управляйте своей записью онлайн!
        div.d-none.d-sm-flex.justify-content-center.align-items-center
          a.mr-3(href="https://apps.apple.com/ua/app/steffany/id1342254632?l=ru")
            img.icon-large(src="assets/icon/mob-f.svg")
          a(href="https://play.google.com/store/apps/details?id=com.yclients.widget.g50068")
            img.icon-large(src="assets/icon/google-play-f.svg")

    hr.d-none.d-sm-block.my-3
    .d-flex.flex-column.align-items-center.flex-lg-row.justify-content-lg-between.mb-3.footer-cnt.mx-auto.mx-lg-0
      p.mb-3.m-sm-0.p-text-light.order-1.order-lg-0.text-center.text-lg-left.small-text Разработано в &nbsp
        |
        a.p-text-light.text-dashed.text-color-lightdark(href="") dotwork
      a.mb-3.m-sm-0.p-text-light.text-dashed.d-block.d-sm-none.d-lg-block.small-text(href="") Пользовательское соглашение
      a.mb-3.m-sm-0.p-text-light.text-dashed.d-block.d-sm-none.d-lg-block.small-text(href="") Политика конфиденциальности
      p.mb-3.m-sm-0.p-text-light.text-center.text-lg-left.small-text steffany.ua ©2019. Все права защищены
