footer.footer
  .container
    .row
      .col-md-3.col-sm-12
        .c-logo-f
          img(src="assets/icon/logo-f.png", alt="logo-f")
      .col-md-3.col-sm-12
        ul
          li.mb-3
            img.icon.mr-3(src="assets/icon/phone.png", alt="icon-phone-f")
            a(href='tel:+0980070753') 098-007-07-53
          li.mb-3
            img.icon.mr-3(src="assets/icon/map.png", alt="icon-map-f")
            span.paragraph-text.text-color-dark.text-w-light Ивано-Франковск
          li.mb-3
            img.icon.mr-3(src="assets/icon/facebook-Icon.png", alt="facebook-f")
            img.icon.mr-3(src="assets/icon/inst.png", alt="inst-f")
      .col-md-2.col-sm-12
        p.paragraph-text.text-color-dark.text-w-light Вакансии
        p.paragraph-text.text-color-dark.text-w-light Steffany Beauty
        p.paragraph-text.text-color-dark.text-w-light Steffany Podology
      .col-md-4.col-sm-12
        p.paragraph-text.text-color-dark.text-center
          | Не хотите звонить? Скачайте приложениеs
          br
          | и управляйте своей записью онлайн!
        .d-flex.justify-content-center
          img.icon.icon-large(src="assets/icon/mob-f.png", alt="mob-f")
          img.icon.icon-large(src="assets/icon/google-play-f.png", alt="play-f")
    hr.mt-4.mb-4
    .row.pb-lg-4
      .col-sm-12.col-md-3
        span.small-text Разработано в &nbsp
        |
        span.small-text.text-dashed dotwork
      .col-sm-12.col-md-3
        span.small-text.text-dashed Пользовательское соглашение
      .col-sm-12.col-md-3
        span.small-text.text-dashed Политика конфиденциальности
      .col-sm-12.col-md-3
        span.small-text steffany.ua ©2019. Все права защищены

