footer.footer
  .container
    .footer-top.row.no-gutters.footer-cnt.mx-auto.mx-xl-0
      .col-12.col-xl-3.d-none.d-xl-block
        a.c-logo-f(href="./")
          img(src="assets/img/footer/logo.svg", alt="logo-f")
      .col-12.col-sm-4.col-xl-3.mb-xl-0
        ul.d-flex.d-sm-block.flex-column.align-items-center.mb-0
          li.mb-3.text-center.text-xl-left.d-flex.align-items-center.mr-4.mr-md-0
            img.icon.mr-3(src="assets/img/footer/call.svg" alt="call")
            a.telephone-dynamic.paragraph-text-light.text-color-dark.text-w-light
          li.mb-3.text-center.text-xl-left.d-flex.align-items-cent.drop-menu.drop-menu-top.align-items-center.mr-4.mr-md-0
            img.icon.mr-3(src="assets/img/footer/map.svg" alt="icon-map-f")
            span#cityFooter.city-dynamic.paragraph-text-light.text-color-dark.text-w-light
            img.icon-arrow.ml-2(src="assets/icon/drop-arrow-down.svg" alt="drop-arrow-down")
            ul#selectCityDropdownFooter.select-city-dropdown.dropdown-menu-list.d-flex.flex-column
              li
                span.nav-link-text.paragraph-text.text-color-dark-header.text-color-dark(data-city="zt") Житомир
              li
                span.nav-link-text.paragraph-text.text-color-dark-header.text-color-dark(data-city="if") Ивано-Фр.
              li
                span.nav-link-text.paragraph-text.text-color-dark-header.text-color-dark(data-city="lt") Луцк
              li
                span.nav-link-text.paragraph-text.text-color-dark-header.text-color-dark(data-city="lv") Львов
              li
                span.nav-link-text.paragraph-text.text-color-dark-header.text-color-dark(data-city="rv") Ровно
        //hr.d-md-none.my-4
      .col-12.col-sm-3.col-xl-2.mt-sm-2.mt-xl-0.mb-sm-3
        a.paragraph-text.text-color-dark.text-w-light.text-center.text-sm-left.mb-3.d-block(id="beauty-foot", target="_blank" href="/beauty") Steffany Beauty
        a.paragraph-text.text-color-dark.text-w-light.text-center.text-sm-left.d-block(id="pod-foot", target="_blank" href="/podologiya") Steffany Podology
        hr.d-md-none.my-4

      .col-12.col-sm-5.d-flex.flex-column.align-items-center.align-items-sm-start.d-xl-none
        .d-flex.mb-3.m-md-0
          a#fbFooter.fb-dynamic.mr-3(target="_blank")
            img.icon(src="assets/img/footer/fb.svg")
          a#instFooter.inst-dynamic(target="_blank" )
            img.icon.mr-0(src="assets/img/footer/insta.svg")
        a.p-text-light.d-inline-block.mb-3.mt-sm-2.mt-xl-0.text-color-dark(id="policy", target="_blank" href="./policy") Пользовательское соглашение
      .app-bg.col-12.col-xl-4
        p.app-desc.text-color-dark.text-center
          | Не хотите звонить? Скачайте приложение
          | и управляйте своей записью онлайн!
        div.d-flex.justify-content-center.align-items-center
          a.mr-3(target="_blank" href="https://apps.apple.com/ua/app/steffany/id1342254632?l=ru")
            img(src="assets/img/footer/app.svg")
          a(target="_blank" href="https://play.google.com/store/apps/details?id=com.yclients.widget.g50068")
            img(src="assets/img/footer/play.svg")

  .footer-end.d-none.d-md-block
    .container
      .c-content
        .d-none.d-xl-flex
          a#fbFooter.fb-dynamic.mr-3(target="_blank" )
            img.icon(src="assets/img/footer/fb.svg")
          a#instFooter.inst-dynamic(target="_blank" )
            img.icon.mr-0(src="assets/img/footer/insta.svg")
        a.mb-3.m-sm-0.p-text-light.d-block.d-sm-none.d-xl-block.small-text(id="policy", target="_blank" href="./policy") Пользовательское соглашение
        p.dotwork.mb-3.m-sm-0.order-1.order-xl-0.text-center.text-xl-left
          span.small-text Разработано в
          a(target="_blank" href="http://dotwork.digital").d-xl-none
            img(src="assets/img/footer/dotwork.svg")
          a(target="_blank" href="http://dotwork.digital").d-none.d-xl-block
            img(src="assets/img/footer/dotwork-light.svg")
        p.mb-3.m-sm-0.p-text-light.text-center.text-xl-left.small-text.opacity-color steffany.ua ©2019. Все права защищены
  .footer-end-mob.d-md-none
    .footer-end-first
      .container
        p.dotwork.order-1.order-xl-0.mb-0
          span.small-text Разработано в
          a(target="_blank" href="http://dotwork.digital")
            img(src="assets/img/footer/dotwork.svg")
    .footer-end-second
      .container
        p.p-text-light.text-center.text-xl-left.small-text.opacity-color.mb-0 steffany.ua ©2019. Все права защищены

