header
  .container.d-flex.justify-content-between.align-items-center
    a.c-logo(href="./index.html")
      img(src="assets/img/logo/header-logo.svg", alt="header-logo")
    .row.no-gutters.mob-menu.c-row.w-100.no-gutter.justify-content-end
      .col-12.col-md-7.header-nav-wrap.order-md-2
        nav.header-nav.w-100
          ul.header-nav-list.d-flex.flex-column.flex-lg-row.align-items-center.justify-content-between.mb-0
            li.d-inline-flex.align-items-center.justify-content-center.flex-row.flex-wrap.drop-menu.mb-4.mb-lg-0
              span.paragraph-text.text-color-lightdark-header О нас
              svg.icon.icon-arrow(width='13', height='7', viewBox='0 0 13 7', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M5.16693 6.68549L0.314506 1.83307C-0.104835 1.41373 -0.104835 0.733846 0.314506 0.314506C0.733846 -0.104835 1.41373 -0.104835 1.83307 0.314506L6.18447 4.66591L10.5359 0.314506C10.9552 -0.104835 11.6351 -0.104835 12.0544 0.314506C12.4738 0.733846 12.4738 1.41373 12.0544 1.83307L7.20202 6.68549C6.92614 6.96137 6.53751 7.05575 6.18447 6.96864C5.83144 7.05575 5.4428 6.96137 5.16693 6.68549Z', fill='white')
              ul.dropdown-menu-list.d-flex.flex-column
                li.mb-2.mb-lg-0
                  a.nav-link-text.paragraph-text.text-color-lightdark-header.text-w-bold.paragraph-text.text-color-lightdark-header.text-w-bold(href="./about-steffany.html") Про Steffany
                li.mb-2.mb-lg-0
                  a.nav-link-text.paragraph-text.text-color-lightdark-header.text-w-bold(href="./about-steffany-zt.html") Про салон
            li.d-inline-flex.align-items-center.justify-content-center.flex-row.flex-wrap.drop-menu.mb-4.mb-lg-0
              span.paragraph-text.text-color-lightdark-header  Услуги и Цены
              svg.icon.icon-arrow(width='13', height='7', viewBox='0 0 13 7', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M5.16693 6.68549L0.314506 1.83307C-0.104835 1.41373 -0.104835 0.733846 0.314506 0.314506C0.733846 -0.104835 1.41373 -0.104835 1.83307 0.314506L6.18447 4.66591L10.5359 0.314506C10.9552 -0.104835 11.6351 -0.104835 12.0544 0.314506C12.4738 0.733846 12.4738 1.41373 12.0544 1.83307L7.20202 6.68549C6.92614 6.96137 6.53751 7.05575 6.18447 6.96864C5.83144 7.05575 5.4428 6.96137 5.16693 6.68549Z', fill='white')
              ul.dropdown-menu-list.d-flex.flex-column
                li.mb-2.mb-lg-0
                  a.nav-link-text.paragraph-text.text-color-lightdark-header.text-w-bold(href="./service.html") Лазерная эпиляция
                li.mb-2.mb-lg-0
                  a.nav-link-text.paragraph-text.text-color-lightdark-header.text-w-bold(href="./service-nano.html") Нано-эпиляция
                li.mb-2.mb-lg-0
                  a.nav-link-text.paragraph-text.text-color-lightdark-header.text-w-bold(href="./service-shugarin.html") Шугаринг
                li.mb-2.mb-lg-0
                  a.nav-link-text.paragraph-text.text-color-lightdark-header.text-w-bold(href="./vaxing.html") Восковая эпиляция
            li.d-inline-flex.align-items-center.mr-0
              a.paragraph-text.text-color-lightdark-header(href="./contact.html") Контакты
      .col-12.col-md-5.nav-callback.order-md-3
        +btnCallback('записаться').text-color-lightdark.no-svg.text-section
      .col-12.header-contact-list-wrap.order-md-1
        ul.header-contact-list.d-flex.flex-column.flex-md-row.align-item-center.justify-content-end
          li.d-flex.flex-wrap.flex-md-nowrap.justify-content-center.mb-4.mb-md-0.mr-0.mr-md-3.align-items-center.drop-menu
            svg.icon.icon-loc(width='11', height='14', viewBox='0 0 11 14', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M5.33329 0.292969C2.57654 0.292969 0.333496 2.49509 0.333496 5.20182C0.333496 5.90784 0.480688 6.58193 0.770762 7.20553C2.02085 9.89111 4.41761 12.7265 5.12258 13.5315C5.17539 13.5916 5.25239 13.6263 5.33343 13.6263C5.41446 13.6263 5.49146 13.5916 5.54428 13.5315C6.24896 12.7267 8.64573 9.89138 9.89623 7.20553C10.1864 6.58193 10.3335 5.90784 10.3335 5.20182C10.3332 2.49509 8.09018 0.292969 5.33329 0.292969ZM5.33329 7.75149C3.90126 7.75149 2.7361 6.60758 2.7361 5.20168C2.7361 3.79564 3.90126 2.65174 5.33329 2.65174C6.76531 2.65174 7.93048 3.79564 7.93048 5.20168C7.93062 6.60758 6.76545 7.75149 5.33329 7.75149Z', fill='#3A405B')
            span.link-text-light.d-flex.align-items-center.justify-content-start.text-color-lightdark-header(href="#") Житомир
              svg.icon.icon-arrow(width='13', height='7', viewBox='0 0 13 7', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M5.16693 6.68549L0.314506 1.83307C-0.104835 1.41373 -0.104835 0.733846 0.314506 0.314506C0.733846 -0.104835 1.41373 -0.104835 1.83307 0.314506L6.18447 4.66591L10.5359 0.314506C10.9552 -0.104835 11.6351 -0.104835 12.0544 0.314506C12.4738 0.733846 12.4738 1.41373 12.0544 1.83307L7.20202 6.68549C6.92614 6.96137 6.53751 7.05575 6.18447 6.96864C5.83144 7.05575 5.4428 6.96137 5.16693 6.68549Z', fill='white')
            ul.dropdown-menu-list.d-flex.flex-column
              //li
              //  a.nav-link-text.paragraph-text.text-color-lightdark-header.text-w-bold(href="#") Житомир
              li
                a.nav-link-text.paragraph-text.text-color-lightdark-header.text-w-bold(href="#") Ивано-Франковск
              li
                a.nav-link-text.paragraph-text.text-color-lightdark-header.text-w-bold(href="#") Луцк
              li
                a.nav-link-text.paragraph-text.text-color-lightdark-header.text-w-bold(href="#") Львов
              li
                a.nav-link-text.paragraph-text.text-color-lightdark-header.text-w-bold(href="#") Ровно
          li.d-flex.justify-content-center.mr-0.mr-md-4.align-items-center
            svg.icon.icon-phone(width='14', height='14', viewBox='0 0 14 14', fill='#3a405b', xmlns='http://www.w3.org/2000/svg')
              path(d='M9.54627 7.29303C9.52035 7.33287 9.52035 7.37271 9.50739 7.42583C9.49444 7.59848 9.62401 7.75785 9.79246 7.77113C9.96092 7.78441 10.1164 7.65161 10.1294 7.47896C10.1294 7.43911 10.1294 7.39927 10.1423 7.33287C10.1423 7.26646 10.1423 7.22662 10.1423 7.18678C10.1423 6.80164 10.0775 6.42978 9.96092 6.0712C9.80542 5.60638 9.53331 5.19467 9.20936 4.84937C8.80767 4.43767 8.31528 4.1455 7.75809 3.98613C7.49893 3.91973 7.21386 3.87988 6.94175 3.87988C6.85104 3.87988 6.76034 3.87988 6.65668 3.89316C6.56597 3.90644 6.47527 3.91972 6.38456 3.93301C6.21611 3.95957 6.09949 4.13222 6.13836 4.29158C6.16428 4.46423 6.33273 4.58376 6.48822 4.54392C6.56597 4.53064 6.63076 4.51736 6.70851 4.51736C6.72147 4.51736 6.73442 4.51736 6.74738 4.51736C6.81217 4.51736 6.87696 4.50408 6.94175 4.50408C7.65443 4.50408 8.31528 4.79625 8.78176 5.28764C9.24824 5.76574 9.53331 6.4165 9.54627 7.14694V7.1735C9.54627 7.22662 9.54627 7.26646 9.54627 7.29303Z', fill='#3A405B')
              path(d='M11.2567 7.58542C11.2437 7.75807 11.3733 7.91744 11.5417 7.93072C11.7102 7.944 11.8657 7.81119 11.8786 7.63854C11.8916 7.49246 11.8916 7.34637 11.8916 7.20028C11.8916 6.90811 11.8657 6.62921 11.8268 6.35032C11.6583 5.28786 11.153 4.33165 10.4403 3.60121C9.62397 2.76452 8.53551 2.22002 7.33044 2.12705C7.20086 2.11377 7.05832 2.11377 6.92874 2.11377C6.78621 2.11377 6.64367 2.11377 6.50114 2.12705C6.3586 2.14033 6.21606 2.15361 6.07353 2.18017C5.90508 2.20673 5.78846 2.37938 5.82733 2.53875C5.85324 2.7114 6.0217 2.83093 6.17719 2.79109C6.2679 2.7778 6.34564 2.76452 6.43635 2.75124C6.47522 2.75124 6.51409 2.73796 6.55297 2.73796C6.68254 2.72468 6.81212 2.72468 6.92874 2.72468C7.36931 2.72468 7.78396 2.79109 8.18565 2.91061C8.88537 3.1231 9.50735 3.50824 10.0127 4.02619C10.4274 4.45117 10.7643 4.96912 10.9845 5.52691C11.1789 6.03158 11.2955 6.58937 11.2955 7.17372C11.2955 7.21356 11.2955 7.26668 11.2955 7.30653C11.2696 7.41277 11.2567 7.49246 11.2567 7.58542Z', fill='#3A405B')
              path(d='M11.6974 2.32638C10.4664 1.06471 8.78193 0.294434 6.916 0.294434C6.72163 0.294434 6.52727 0.307714 6.3329 0.320995C6.13853 0.334276 5.94416 0.360837 5.7498 0.400679C5.58135 0.427241 5.46473 0.59989 5.5036 0.759258C5.52951 0.931908 5.69797 1.05143 5.85346 1.01159C5.94416 0.998311 6.02191 0.98503 6.11262 0.97175C6.20332 0.958469 6.29403 0.945188 6.38473 0.945188C6.56614 0.931908 6.73459 0.918627 6.916 0.918627C8.60052 0.918627 10.1295 1.6225 11.2439 2.75136C12.3453 3.88022 13.0321 5.44735 13.0321 7.18712C13.0321 7.28009 13.0321 7.38633 13.0321 7.4793C13.0321 7.55898 13.0191 7.63867 13.0191 7.73163C13.0062 7.90428 13.1358 8.06365 13.3042 8.07693C13.4727 8.09021 13.6281 7.9574 13.6411 7.78475C13.6541 7.58554 13.667 7.38633 13.667 7.2004C13.667 5.30126 12.9155 3.57477 11.6974 2.32638Z', fill='#3A405B')
              path(d='M13.1875 10.3741L10.894 9.11246C10.1294 8.68747 10.1035 8.96637 9.30015 9.84289C9.10578 10.0554 8.74296 10.6132 8.31536 10.5069C7.42127 10.2812 5.74971 8.93981 5.20548 8.32889C4.94632 8.03672 3.83195 6.64224 3.81899 6.1907C3.79308 5.5001 5.27027 5.1548 4.79083 3.84002L3.76716 1.48933C2.80828 -0.768389 0.126017 2.84396 0.346299 4.53061C0.916443 8.68747 8.03028 15.4075 11.9954 13.1896C12.8765 12.685 14.0686 10.9186 13.1875 10.3741Z', fill='#3A405B')
            a.link-text-light.d-flex.align-items-center.justify-content-start.text-color-lightdark-header(href="tel:0980070753") 098 007 07 53
          li.d-none.d-lg-flex.align-items-center.header-lang-wrap.mr-0.drop-menu
            span.link-text-light.d-flex.align-items-center.justify-content-start.header-lang RU
            ul.dropdown-menu-list.d-flex.flex-column
              li
                a.nav-link-text.paragraph-text.text-color-lightdark-header.text-w-bold.header-lang(href="#") UA
              li
                a.nav-link-text.paragraph-text.text-color-lightdark-header.text-w-bold.header-lang(href="#") RU
          li.d-none.d-md-flex.d-lg-none.align-items-center.justify-content-between.menu-trigger.flex-column.m-0
            span.d-block.w-100
            span.d-block.w-100
            span.d-block.w-100
    .d-flex.d-md-none.align-items-center.justify-content-between.menu-trigger.flex-column.m-0
      span.d-block.w-100
      span.d-block.w-100
      span.d-block.w-100





