#modalServiceListPay.modal.fade(tabindex='-1', role='dialog', aria-labelledby='firstDayCourse', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content
      h4.text-center.mb-0 Оставьте ваши данные
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true')
      .c-content
        h5.paragraph-text.text-color-dark.text-center и мы вам перезвоним
        form#pay_form
          input#fullname.w-100.p-text-light(type="text", placeholder="Имя" required)
          input#email.w-100.p-text-light(type="email", placeholder="Email" required)
          input#phone.w-100.p-text-light.mb-0(type="tel", placeholder="Телефон" required minlength='19')


          +modalServiceListInfo
          input#pay_button.btn-submit.pay(type="submit" value="оплатить" data-toggle="modal" data-target="#myModal")





#modalServiceListSinugUp.modal.fade(tabindex='-1', role='dialog', aria-labelledby='firstDayCourse', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content
      h4.text-center.mb-0 Оставьте ваши данные
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true')
      .c-content
        h5.paragraph-text.text-color-dark.text-center и мы вам перезвоним
        form
          input#fullname.w-100.p-text-light(type="text", placeholder="Имя" required)
          input#email.w-100.p-text-light(type="email", placeholder="Email" required)
          input#phone.w-100.p-text-light.mb-0(type="tel", placeholder="Телефон" required minlength='19')

          +modalServiceListInfo
          input#order_button.btn-submit.order(type="submit" value="заплатить")



