#modalServiceListSinugUp.modal.fade(tabindex='-1', role='dialog', aria-labelledby='firstDayCourse', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content
      h4.text-center.mb-0 Оставьте ваши данные
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true')
      .c-content
        h5.paragraph-text.text-color-dark.text-center и мы вам перезвоним
        form#yclient_form
          input#fullname.w-100.p-text-light(name = "fullname" type="text", placeholder="Имя" required)
          input#email.w-100.p-text-light(name = "email" type="email", placeholder="Email" required)
          input#phone.w-100.p-text-light.mb-0(name = "phone" type="tel", placeholder="Телефон" required maxlength="19" minlength="19" pattern=".{19}")
          input#payment(name = "payment" type="hidden" value = "1")

          +modalServiceListInfo
          .c-input-order
            input#order_button.btn-submit.order.hidden(type="submit" value="записаться")
            input#pay_button.btn-submit.pay(type="submit" value="оплатить")

#thanksPopupPay.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanksPopup', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document' class="thanks-popup")
    .modal-content.px-1
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true')
      h4.text-center Благодарим за оплату!
      h5.text-center мы свяжемся с Вами в ближайшее время


#thanksPopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanksPopup', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document' class="thanks-popup")
    .modal-content.px-1
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true')
      h4.text-center Спасибо!
      h5.text-center Мы скоро свяжемся с Вами.

#sendComplex.modal.fade(tabindex='-1', role='dialog', aria-labelledby='firstDayCourse', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true')
      form#callComplex.main-form.d-flex.flex-column.align-items-center.mt-4.mt-md-0.pt-md-5
        h4.h4-title.text-uppercase.text-color-dark.text-w-bold.text-center Оставьте ваши данные
        p.paragraph-text.text-color-lightdark.text-center.mb-38 и мы вам перезвоним
        .form-group
          input#fullnameConsult.form-control(name = "fullname" type='text', aria-describedby='emailHelp', placeholder='Имя' required )
        .form-group
          input#emailConsult.form-control(name = "email" type='email', aria-describedby='emailHelp', placeholder='Email' required )
        .form-group
          input#phoneConsult.form-control(name = "phone" type='tel', placeholder='Телефон' required maxlength="19" minlength="19" pattern=".{19}")
          .c-input
            input#service(name = "service", type="hidden" value="1415297")
            input.btn-submit(type='submit' value='перезвоните мне')

#paymentPopup.modal.fade(tabindex='-1' role='dialog')
  #main
  .ball-one
  .ball-two
  .ball-three
