#modalServiceListPay.modal.fade(tabindex='-1', role='dialog', aria-labelledby='firstDayCourse', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content
      h4.text-center Оставьте ваши данные
      h5.text-center чтобы занять место в группе
      form
        input#fullname.w-100.p-text-light.mb-2(type="text", placeholder="Имя")
        input#email.w-100.p-text-light.mb-2(type="email", placeholder="Email")
        input#phone.w-100.p-text-light.mb-2(type="tel", placeholder="Телефон")
        #pay_button.button.btn-first.btn-simple.svg.caset.mx-auto(data-toggle='modal', data-target='#modalServiceList')
          .text-section
            +casetSvg
            span оплатить

#modalServiceListSinugUp.modal.fade(tabindex='-1', role='dialog', aria-labelledby='firstDayCourse', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content
      h4.text-center Оставьте ваши данные
      h5.text-center чтобы занять место в группе
      form
        input#fullname.w-100.p-text-light.mb-2(type="text", placeholder="Имя")
        input#email.w-100.p-text-light.mb-2(type="email", placeholder="Email")
        input#phone.w-100.p-text-light.mb-2(type="tel", placeholder="Телефон")
        #order_button.button.btn-second.btn-simple.svg.pen.mx-auto(data-toggle='modal', data-target='#modalServiceList')
          .text-section
            +penSvg
            span записаться
