@media(max-width: 767px)
	.numbered-cnt
		margin-bottom: 13px
		img
			display: none !important
		.description
			position: relative
			&::before
				content: ''
				position: absolute
				z-index: -1
				display: block
				top: -15px
				left: -45px
				width: 140px
				height: 140px
				background: #D3E1EC
				border-radius: 100%