section.section-services.circles-bg
  .container
    .row
      .col.py-4.d-flex.flex-column.align-items-center
        h3.section-title-services.mb-4.text-dark-1.text-center Мы сотрудничаем с независимой медицинской лабораторией
        .services-treatment-divider.mb-4
        p.paragraph-text.text-dark-1.text-center.mb-4.mb-md-5.custom-px-2 Мы работаем с доказательной базой, поэтому отправляем в лабораторию ваши анализы и только после этого назначаем индивидуальное лечение
        p.paragraph-text.text-dark-1.text-center.mb-4.mb-md-5.custom-px-2 Мы работаем с Институтом микробиологических исследований (IMD). Это независимая лаборатория в Киеве, которая со 100%-й точность определяет вид грибка пациента и его чувствительность к антибиотикам и антимикотикам (дерматологическим противогрибковым средствам).


//section.section.circles-bg
//  .container.d-flex.flex-column.align-items-center
//    h3.section-title-services.text-center.dark-blue Аппаратура для лечения мозолей и бородавок
//    .wrapper.d-flex.justify-content-center.mb-3.mt-3
//      .dash
//    .col-12.col-xl-6.col-md-9
//      p.paragraph-text.text-dark-1.text-center В Steffany вы проходите диагностику на аппаратах, которые точно определят тип вашей проблемы и помогут найти ее причину
