section.section-services.circles-bg
  .container
    .row
      .col.pt-4.d-flex.flex-column.align-items-center
        h3.section-title-services.mb-4.text-dark-1.text-center Мы сотрудничаем с независимой медицинской лабораторией IMD
        .services-treatment-divider.mb-4
        p.paragraph-text.text-dark-1.text-center.mb-4.mb-md-5.custom-px-2.w-200 Мы работаем с доказательной базой, поэтому отправляем в лабораторию ваши анализы и только после этого назначаем индивидуальное лечение
        p.paragraph-text.text-dark-1.text-center.mb-0.custom-px-2.w-200 Мы работаем с Институтом микробиологических исследований (IMD). Это независимая лаборатория в Киеве, которая с помощью мощнейшего аппарата масспектрометра со 100%-й точностью определяет вид грибка пациента и его чувствительность к антибиотикам и антимикотикам (дерматологическим противогрибковым средствам).


        
