section.section-services.container-fluid
  .row.section-bg-dark.section-services-treatment-row-padding.pb-3
    .container
      .row
        .col.text-px-desktop.position-relative
          h3.section-title-services.text-color-light.mb-4.text-center Как подготовиться к приему при грибковых заболеваниях
          p.paragraph-text.text-center.mb-3.z-0.w-200 Чтобы лабораторные исследования дали точный результат, вам нужно соблюсти некоторые правила перед сдачей анализов
          p.paragraph-text.text-center.mb-3.z-0.w-200 Для анализа специалист-подолог нашего центра берет маленький фрагмент пораженного грибком ногтя или кожи, а также субстанцию под проблемным ногтем. Затем он передает этот материал в Киев, где находится лаборатория. Через несколько суток лаборатория присылает вашему лечащему специалисту-подологу результаты микробиологического исследования.
          p.paragraph-text.text-center.mb-3.font-weight-bold.z-0 Чтобы получить максимально точные данные, вам необходимо подготовиться к взятию анализа
    .container
      .row.treatment-line.pt-5
        .col-12.col-md-6.col-xl-3.d-flex.flex-column.align-items-center.px-4.mb-5.position-relative
          span.step-num шаг 1
          .dotted-bg.first
          p.paragraph-text.text-center.z-0.w-200 Подождать минимум 3 недели после последнего педикюра.
        .col-12.col-md-6.col-xl-3.d-flex.flex-column.align-items-center.px-4.mb-5.position-relative
          span.step-num шаг 2
          .dotted-bg.second
          p.paragraph-text.text-center.z-0.w-200 В течение 2-х недель перед сдачей анализа ничем не обрабатывать стопу: кремами, мазями, растворами и любыми другими косметическими или медикаментозными средствами.
        .col-12.col-md-6.col-xl-3.d-flex.flex-column.align-items-center.px-4.mb-5.position-relative
          span.step-num шаг 3
          .dotted-bg.third
          p.paragraph-text.text-center.z-0.w-200 За 2 дня до сдачи анализа мыть ноги только обычной водой без мыла или геля для душа.
        .col-12.col-md-6.col-xl-3.d-flex.flex-column.align-items-center.px-4.mb-5.position-relative
          span.step-num шаг 4
          .dotted-bg.fourth
          p.paragraph-text.text-center.z-0.w-200 Если вы идете на чистку грибковых поражений, возьмите с собой чистые носочки.
  .row.symptoms-message-line.py-5
    .container
      p.paragraph-text.text-center.font-weight-bold.mb-2.line-height-100 Независимо от типа, мозоль — это всегда скопление ороговевших клеток, которые уплотнились и не могут отшелушиться.
      p.paragraph-text.text-center.font-weight-bold.mb-0.line-height-100 Любой дискомфорт при ходьбе и непривычные образования на поверхности стоп — это повод обратиться к подологу.

