section.section-services.symptoms-container.pb-0
  .row.section-bg-dark.feets-and-hands-bg-img-mobile
    .container.feets-and-hands-bg-img-desktop
      .row.section-services-treatment-row-padding
        .col-xl-6
          h3.text-uppercase.section-title-services.text-color-light.mb-4(style="font-size: 14px;") Как проходят исследования
          p.paragraph-text.w-200(style="font-size: 16px;") Для проведения исследования лаборатория сначала «выращивает» культуру грибка в специальной среде в течении 21 дня. Благодаря этому лаборатория может быстро вычислить все необходимые для лечения данные. Чтобы «вырастить» культуру грибка, лаборатория использует питательные среды французского бренда <strong>bioMerieux</strong>.
          p.paragraph-text.mb-4.w-200(style="font-size: 16px;") Специалисты лаборатории высевают каждый образец одновременно в 4-6 средах. Благодаря этому они за минимальный промежуток времени определяют максимальный состав микроорганизмов, которые находятся в образце.
          p.paragraph-text.mb-4.w-200(style="font-size: 16px;") В лаборатории работают со <strong>масспектрометром</strong> — аппаратом, который за 2-3 минуты определяет культуру гриба. Погрешность такого теста равна нулю.
          p.paragraph-text.mb-4.w-200(style="font-size: 16px;") Также в лаборатории используют <strong>люминесцентный микроскоп</strong>, который также исключает погрешности.
          p.paragraph-text.mb-4.w-200(style="font-size: 16px;") Методы исследований в <strong>лаборатории IMD</strong> позволяют получить максимально точную информацию о характере грибка пациента. Лаборатория различает такие данные:
          ul.list-blue-bullets.paragraph-text
            li.mb-3.text-white <strong>1101</strong> вид бактерий;
            li.mb-3.text-white <strong>95</strong> видов мицелиальных грибков;
            li.text-white <strong>120</strong> видов дрожжеподобных грибков

