section.section.treatment-fungus
  .container
    h2.text-center Лечение грибка на ногах в Житомире
    p.text-center Какими средствами мы лечим грибок
    .container.d-flex.flex-wrap.list-section
      .col-12.col-lg-6
        h2.mb-4.text-uppercase Какой вид средств мы используем
        p.text-w-bold.mb-4 Космецевтические средства
        p.special-line-height Грибок — это наполовину медицинская, наполовину эстетическая проблема. Поэтому мы обрабатываем пораженные грибком зоны космецевтическими средствами. Космецевтика — это средства, которые соединяют в себе косметические и фармацевтические компоненты. Такие средства узкоспециализированные и действуют на конкретные проблемы. Поэтому только специалист может подобрать нужное средство для лечения грибка.
        p.text-w-bold.mb-4 Медикаментозное лечение
        p.special-line-height В случае необходимости наши доктора назначат вам медикаментозную схему лечения. Для этого вам потребуется сдать анализ и получить его результаты.
        p.text-w-bold.mb-4 Аппаратное лечение
        p.special-line-height Грибки формируют так называемые биопленки, которые являются щитом их защиты от проникновения медикаментов. Давно замечено, что при ежемесячной аппаратной обработке пораженных участков эффективность и скорость лечения повышаются в разы, потому что биопленки грибка разрушаются и препараты действуют более эффективно.
      .col-12.col-lg-6
        h2.mb-4 Бренды средств для лечения грибка
        p.special-line-height Вся космецевтика в центре здоровья ног Steffany — это сертифицированные средства европейских производителей, а именно:
        ul
          ul.info-list
            li
              p
                strong Suda (Германия);
            li
              p
                strong Gehwol (Германия);
            li
              p
                strong Podopharm (Польша);
            li
              p
                strong Peclavus (чистая органика из Германии);
            li
              p
                strong Kart (Израиль);
            li
              p
                strong ADN (Израиль);
            li
              p
                strong Veratin (Польша).
        p Все эти средства вы можете приобрести в наших центрах, если специалист-подолог порекомендует их для ежедневного ухода или профилактики грибковых заболеваний.
