section.section-services.about
  .container
    +breadcrumbs('Главная', 'Услуги', './podology.html', 'Профилактические услуги', '/prevention.html')
  .container
    h3.page-title.mb-3.mb-lg-5 Профілактичні послуги з подології
    .row.mx-auto
      .col-12.d-block.d-sm-none.mb-3
        .services-about-sm-divider
      .col-12.col-lg-6.order-2.order-lg-1
        img.w-100.shadow(src="assets/img/top-item-block.jpg", srcset="assets/img/top-item-block@2x.jpg 2x")
      .col-12.col-lg-6.d-flex.justify-content-center.flex-column.order-1.order-lg-2
        p.paragraph-text.text-dark-1.pb-2 Подолог — це той фахівець, до якого люди часто звертаються тільки у крайньому випадку: коли відтягувати далі вже неможливо. Пацієнти звертаються з гострим болем, свербінням або іншими явними симптомами. Насправді візити до подолога мають бути такими ж регулярними, як до стоматолога. При такому підході можна підтримувати свої стопи в здоровому стані і попередити розвиток можливих проблем.

        p.paragraph-text.text-dark-1 У центрі здоров'я ніг Steffany є три види профілактичних послуг: проста консультація з оглядом стопи і при необхідності всього опорно-рухового апарату, медичний педикюр, а також обробка стопи для пацієнтів із цукровим діабетом.
