section.section-services.container-fluid.py-0.ort-treatment
  .row.no-gutters.section-bg-dark.section-services-treatment-row-padding
    .container
      .row
        .col
          h3.section-title.text-color-light.mb-4.text-center.extra-h3.text-w-bold Обробка діабетичної стопи повністю безпечна
          p.paragraph-text-light.text-center.mb-80.extra-crutch-header При работе с диабетической стопой риск травмировать ее достаточно высокий. Кожа человека с диабетом снижает чувствительность. Пациент может не ощущать, что у него врастает ноготь или появился ожог. Также любая незначительная травма может перерасти в язву, которая будет очень сложно заживать. Однако мы гарантируем, что с вашими стопами все будет хорошо.
    .container
      .row.no-gutters.mx-auto.justify-content-between
        .col-12.col-lg-6.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-2
            span.ort-cnt.white-text(style="text-transform: initial") Заміряємо рівень цукру за допомогою глюкометра
          p.paragraph-text-light.ort-cnt Якщо ви не знаєте рівень свого цукру або його давно не міряли, спокійно приходьте на процедуру. У нашому центрі є спеціальний апарат — глюкометр. Ми вимірюємо їм цукор усім діабетикам прямо на місці. Якщо рівень цукру в межах 10-ти, ми маємо право проводити процедуру. Якщо ж рівень 12 і вище, можливі ранки від мікротравматизації апаратом не будуть загоюватися. Тому ми просимо нормалізувати цукор, а потім записуємо на інший день.
        .col-12.col-lg-6.ort-block.ort-block-2
          p.paragraph-text-bold.ort-title.ort-title-2
            span.ort-cnt.white-text(style="text-transform: initial") Проводимо тест на чутливість
          p.paragraph-text-light.ort-cnt Як ми вже сказали, у людей з діабетичною стопою може знизитися чутливість шкіри. Тому перед процедурою ми перевіряємо, чи порушена вона і на яких саме ділянках стоп. Для цього ми проводимо 4 тесту: на вібраційну, температурну, больову і тактильну чутливість. Вони обов'язкові перед будь-якою процедурою. Дуже часто наші спеціалісти-подологи за зовнішнім виглядом стоп визначають «прихованих» діабетиків — людей, які ще не знають про цю хворобу. У такому випадку спеціалісти обов'язково перевіряють стопу за допомогою глюкометра і 4-х тестів на чутливість, і направляють до потрібного фахівця для подальших досліджень.
