section.section-services.container-fluid.py-0.ort-treatment.ingrown-cnt.ingrown-cnt-2.py-0
  .row.no-gutters.section-services-treatment-row-padding
    .container
      .row
        .col-12.d-flex.flex-column.align-items-center.justify-content-center
          h3.section-title.text-color-light.mb-4.text-center.text-w-bold Як проходить консультація
          p.paragraph-text-light.text-center.mb-4.custom-px Консультація зі спеціалістом-подологом — це перший етап будь-якого візиту. На неї можна прийти навіть без особливих скарг. Наші фахівці завжди раді прийняти пацієнтів, які піклуються про своє здоров'я. Консультація складається з декількох етапів, які допомагають нам познайомитися і зібрати всю необхідну інформацію.
    .container
      .row.no-gutters.mx-auto.justify-content-between
        .col-12.col-lg-4.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt(style="text-transform: initial") Етап 1. Знайомимося
          p.paragraph-text-light.ort-cnt Ми представляємося, розповідаємо про себе і чим можемо бути корисні. Обов'язково слухаємо вас і з'ясовуємо, що вас турбує.
        .col-12.col-lg-4.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt(style="text-transform: initial") Етап 2. Заповнюємо карту клієнта і збираємо анамнез
          p.paragraph-text-light.ort-cnt У процесі спілкування ми заповнюємо вашу індивідуальну карту клієнта. Окрім загальних відомостей на кшталт статі і віку ми додаємо туди доповнюючу інформацію: спосіб життя, умови роботи, супутні захворювання, лікувальні препарати. Ця та інша інформація допомагає нам зрозуміти, як ваш спосіб життя впливає на здоров'я вашого організму і стоп зокрема.
        .col-12.col-lg-4.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt(style="text-transform: initial") Етап 3. Оглядаємо або видаємо результат
          p.paragraph-text-light.ort-cnt Цей етап відрізняється в залежності від пацієнта. Ми проводимо огляд. Коли ситуація очевидна, повідомляємо про стан стоп одразу і даємо поради щодо лікування або підтримки здоров'я. Якщо потрібна додаткова діагностика на спеціальному обладнанні, рекомендуємо її пройти.
