section.section-services.symptoms-container.symptoms-blk
  .row.no-gutters
    .container
      .row.no-gutters.section-services-treatment-row-padding
        .col-xl-6
          h3.section-title.text-color-light.mb-4.extra-h3 Навіщо потрібен медичний педикюр
          p.paragraph-text-light Звичайний педикюр в салоні не гарантує ідеальний стан стоп. Він і не повинен це обіцяти. Проте при непрофесіоналізмі майстра звичайний педикюр часто шкодить клієнтам. Салонний педикюр може принести такі проблеми:
          ul.list-blue-bullets.paragraph-text-light
            li.mb-3.white-text опіки нігтьового ложа і нігтів від LED-ламп;
            li.white-text травми нігтів і шкіри стоп.
          p.paragraph-text-light Медичний педикюр — це процедура, де вашу стопу розглядають з точки зору здоров'я, а не естетики. Завдання такого педикюру в тому, аби поліпшити стан нігтів і шкіри стоп, зупинити і попередити розвиток можливих проблем. Регулярний медичний педикюр може виправити різні проблеми зі стопами у їх початковому стані:
          ul.list-blue-bullets.paragraph-text-light
            li.mb-3.white-text відкоригувати врослі нігті;
            li.mb-3.white-text видалити мозолі і натоптиші;
            li.mb-3.white-text прибрати тріщини на п'ятах;
            li.mb-3.white-text зменшити сухість стоп;
            li.white-text зупинити зміни форми нігтів.
      p.text-w-bold.text-white Медичний педикюр — ідеальний спосіб підтримувати стопи в здоровому стані.
