section.section.client-feedback
  .container.d-flex.flex-column.justify-content-center.align-items-center
    h2.text-center.dark-blue Отзывы наших клиентов
    img(src="assets/icon/quote.png" alt="Quote")#quote.d-block.mt-4.mb-4
    img(src="assets/img/common/circles-with-hr.png").circles
    .container.d-flex.justify-content-center.mt-4.reviews-slider.owl-carousel.slider-block.slider-pad
      //img(src="assets/img/comments/comment-1.png").d-block
      //img(src="assets/img/comments/comment-2.png").d-block
      //img(src="assets/img/comments/comment-3.png").d-block
      //img(src="assets/img/comments/comment-4.png").d-block
      //img(src="assets/img/comments/comment-5.png").d-block
      //img(src="assets/img/comments/comment-6.png").d-block
      img(src="assets/img/comments/comment-7.png").d-block
      img(src="assets/img/comments/comment-8.png").d-block
      img(src="assets/img/comments/comment-9.png").d-block
      img(src="assets/img/comments/comment-10.png").d-block
