section.section.client-feedback
  .container.d-flex.flex-column.justify-content-center.align-items-center
    h2.text-center.dark-blue Отзывы наших клиентов
    img(src="assets/icon/quote.png" alt="Quote")#quote.d-block.mt-4.mb-4
    img(src="assets/img/common/circles-with-hr.png").circles
  .container.d-flex.justify-content-center.mt-4.reviews-slider.owl-carousel.slider-block.slider-pad
    img(src="assets/img/comment.png").d-block
    img(src="assets/img/comment.png").d-block
    img(src="assets/img/comment.png").d-block
    img(src="assets/img/comment.png").d-block
    img(src="assets/img/comment.png").d-block
