section.section.client-feedback
  .container.d-flex.flex-column.justify-content-center.align-items-center
    h2.text-center.dark-blue Отзывы наших клиентов
    img(src="images/icon/quote.png" alt="Quote")#quote.d-block.mt-4.mb-4
    img(src="images/img/common/circles-with-hr.png").circles
    .row.no-gutters
      .specialists-slider.owl-carousel.slider-block.slider-pad
        .specialists-item
          .specialists-item-container.mb-3.w-100(href="./images/img/specialists/specialists-1.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./images/img/specialists/specialists-1.jpg", alt="diploma")
            .specialists-info.d-flex.flex-column.align-items-start.justify-content-between.w-100.p-3
              p.p-text-light.fs-16 Сделает все виды маникюра и педикюра, выравнивание, наращивание и коррекцию ногтей, все виды дизайна, парафинотерапию для рук и ног
              p.p-text
                span.p-bold Работает уже
                | 13 лет
          p.h3-title.h-center Демчук Виктория
          p.h3-title.fs-16.h-center Мастер ногтевого сервиса
        .specialists-item
          .specialists-item-container.mb-3.w-100(href="./images/img/specialists/specialists-2.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./images/img/specialists/specialists-2.jpg", alt="diploma")
            .specialists-info.d-flex.flex-column.align-items-start.justify-content-between.w-100.p-3
              p.p-text-light.fs-16 Сделает все виды маникюра и педикюра, выравнивание, наращивание и коррекцию ногтей, все виды дизайна, парафинотерапию для рук и ног
              p.p-text
                span.p-bold Работает уже
                | 13 лет
          p.h3-title.h-center Ксения Станиславская
          p.h3-title.fs-16.h-center Директор Nail Studio Steffany, мастер ногтевого сервиса
        .specialists-item
          .specialists-item-container.mb-3.w-100(href="./images/img/specialists/specialists-3.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./images/img/specialists/specialists-3.jpg", alt="diploma")
            .specialists-info.d-flex.flex-column.align-items-start.justify-content-between.w-100.p-3
              p.p-text-light.fs-16 Сделает все виды маникюра и педикюра, выравнивание, наращивание и коррекцию ногтей, все виды дизайна, парафинотерапию для рук и ног
              p.p-text
                span.p-bold Работает уже
                | 13 лет
          p.h3-title.h-center Ксения Станиславская
          p.h3-title.fs-16.h-center Директор Nail Studio Steffany, мастер ногтевого сервиса
        .specialists-item
          .specialists-item-container.mb-3.w-100(href="./images/img/specialists/specialists-4.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./images/img/specialists/specialists-4.jpg", alt="diploma")
            .specialists-info.d-flex.flex-column.align-items-start.justify-content-between.w-100.p-3
              p.p-text-light.fs-16 Сделает все виды маникюра и педикюра, выравнивание, наращивание и коррекцию ногтей, все виды дизайна, парафинотерапию для рук и ног
              p.p-text
                span.p-bold Работает уже
                | 13 лет
          p.h3-title.h-center Ксения Станиславская
          p.h3-title.fs-16.h-center Директор Nail Studio Steffany, мастер ногтевого сервиса
        .specialists-item
          .specialists-item-container.mb-3.w-100(href="./images/img/specialists/specialists-1.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./images/img/specialists/specialists-1.jpg", alt="diploma")
            .specialists-info.d-flex.flex-column.align-items-start.justify-content-between.w-100.p-3
              p.p-text-light.fs-16 Сделает все виды маникюра и педикюра, выравнивание, наращивание и коррекцию ногтей, все виды дизайна, парафинотерапию для рук и ног
              p.p-text
                span.p-bold Работает уже
                | 13 лет
          p.h3-title.h-center Ксения Станиславская
          p.h3-title.fs-16.h-center Директор Nail Studio Steffany, мастер ногтевого сервиса
        .specialists-item
          .specialists-item-container.mb-3.w-100(href="./images/img/specialists/specialists-2.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./images/img/specialists/specialists-2.jpg", alt="diploma")
            .specialists-info.d-flex.flex-column.align-items-start.justify-content-between.w-100.p-3
              p.p-text-light.fs-16 Сделает все виды маникюра и педикюра, выравнивание, наращивание и коррекцию ногтей, все виды дизайна, парафинотерапию для рук и ног
              p.p-text
                span.p-bold Работает уже
                | 13 лет
          p.h3-title.h-center Ксения Станиславская
          p.h3-title.fs-16.h-center Директор Nail Studio Steffany, мастер ногтевого сервиса
