section.section.consultaion
  .container.d-flex.flex-wrap
    .col-12.col-lg-7.d-flex.flex-column.justify-content-center
      h2.white-text.text-sm-center.text-lg-left Запишись на консультацию <strong>прямо сейчас</strong> и получите <strong>скидку 10%</strong>
      .dash.center
      p.white-text Раздел медицины, занимающийся лечением заболеваний стопы и голени, объединяющий знания по ортопедии, травматологии, сосудистой и гнойной хирургии, нейрохирургии.
    .col-12.col-lg-5
      .callback-card
        h3 Оставьте ваши данные
        p и мы вам перезвоним
        form(method="post" action="/")
          input(type="text" placeholder="Имя")
          input(type="email" placeholder="Email")
          input(type="tel" placeholder="Телефон").mb-4
          input(type="submit" style="display: none")
          +btnCallback('перезвонить мне')
