section.section.introduce
  img(src="assets/img/introduce-cover.png")#feetOne.feet
  img(src="assets/img/feet-2.png")#feetTwo.feet
  .container
    img(src="assets/img/common/circles-with-hr.png")#circles.circles
    .card.col-12.col-sm-11.col-lg-6
      .p-3
        h1.paragraph-text Врач подолог<br>
          strong в Житомире
        .dash
        p.paragraph-text Лечим любые проблемы стоп и убираем причины их<br>возникновения
          strong  без боли
        ul.info-list
          li
            p.paragraph-text Работаем с проблематикой кожи стоп и ногтей
          li
            p.paragraph-text Восстанавливаем ногти после травм и исправляем рост ногтей
          li
            p.paragraph-text Избавляем от боли в ногах и корректируем плоскостопие с помощью ортопедических стелек и ортезов
          li
            p.paragraph-text Проводим компьютерную диагностику патологических изменений стоп и ходьбы
          li
            p.paragraph-text Даем расширенный биомеханический анализ

        +btnCallback('Перезвоните мне')
        img(src="assets/img/common/dash.png").dashes.intro-dashes
