section.section.introduce
  img(src="images/img/introduce-cover.png")#feetOne.feet
  img(src="images/img/feet-2.png")#feetTwo.feet
  .container
    img(src="images/img/common/circles-with-hr.png")#circles.circles
    .card.col-12.col-sm-11.col-lg-6
      h1.paragraph-text Врач подолог<br>
        strong в Житомире
      .dash
      p.paragraph-text Лечим любые проблемы стоп и убираем причины их<br>возникновения
        strong  без боли
      ul.info-list
        li
          p.paragraph-text Лечим любые проблемы кожи стоп и ногтей
        li
          p.paragraph-text Восстанавливаем ногти после травм и исправляем рост ногтей
        li
          p.paragraph-text Корректируем положение стопы с помощью стелек и силиконовых протезов

      +btnCallback('Перезвоните мне')
      img(src="images/img/common/dash.png").dashes.intro-dashes
