section.section.introduce
  img(src="assets/img/introduce-cover.png")#feetOne.feet
  img(src="assets/img/feet-2.png")#feetTwo.feet
  .container
    img(src="assets/icon/common/circletest.png")#circles.circles
    .card.col-12.col-sm-11.col-lg-8.col-xl-6
      .p-3
        h1.paragraph-text Врач подолог<br>
          strong в Житомире
        .dash
        p.paragraph-text Лечим любые проблемы стоп и убираем причины их<br>возникновения
          strong  без боли
        ul.info-list
          li
            p.paragraph-text Работаем с проблематикой кожи стоп и ногтей
          li
            p.paragraph-text Восстанавливаем ногти после травм и исправляем рост ногтей
          li
            p.paragraph-text Избавляем от боли в ногах и корректируем плоскостопие с помощью ортопедических стелек и ортезов
          li
            p.paragraph-text Проводим компьютерную диагностику патологических изменений стоп и ходьбы
          li
            p.paragraph-text Даем расширенный биомеханический анализ

        +btnCallback('Перезвоните мне')
        img(src="assets/img/common/dash.png").dashes.intro-dashes
  .container.mt-5.mb-5
    h2.text-center.dark-blue Почему центр здоровья ног Steffany?
    p.text-center.dark-blue.mb-5 Наша цель — облегчить вашу жизнь, поэтому у нас есть
    +numberedSection('Стерильное помещение и оборудование', 'Центр проходит полный цикл стерилизации. Мы очищаем воздух в помещении циркуляторами закрытого типа. Также дезинфицируем все поверхности в кабинете после каждого пациента и проводим регулярные уборки. Все инструменты и перевязочные материалы проходят трехэтапную стерилизацию. Инструменты проходят стерилизацию в крафт пакетах со специальными индикаторами и вскрываются при вас',
      'Лаборатория для точных результатов', 'Мы работаем с доказательной базой. Это значит, что все диагнозы ставим на основе анализов и лабораторных исследований. При лечении грибковых инфекций для начала мы берем у пациента забор на анализ и передаем в лабораторию IMD. Оттуда мы получаем данные о виде грибка и его чувствительности к препаратам. Благодаря этому мы можем назначить максимально точное лечение и дать рекомендации',
      'Аппараты для диагностики ходьбы', 'Большинство проблем с ногами возникают из-за нарушений биомеханики ходьбы, прогрессирующих  деформаций стопы и всего опорно-двигательного аппарата. Боль и отеки стоп, суставов и позвоночника — повод провести биомеханический анализ статики и динамики ходьбы пациента. Также мы проводим биомеханический анализ, чтобы вылеченные вросшие ногти или мозоли не возвращались',
      'Магазин ортопедических изделий', 'Прямо в нашем центре есть магазин с необходимыми товарами для более эффективной профилактики проблем стоп. Вы можете приобрести там различные ортопедические изделия:  разные типы ортезов и корректоров пальцев и стоп, тренажеры для стоп, корректоры осанки, компрессионное белье, ортопедические подушки, перевязочные материалы европейских производителей. Специалист поможет подобрать вам нужные изделия',
      'Сотрудничество с докторами', 'Часто проблемы со стопами затрагивают другие части нашего тела: кожу, позвоночник и весь опорно-двигательный аппарат. Поэтому мы сотрудничаем со специалистами из разных областей медицины: дерматологом, вертебрологом (специалистом по проблемам позвоночника), специалистом по реабилитации и медицинскому массажу. В нашем центре вы можете получить консультацию каждого из этих специалистов, а также пройти медицинский массаж',
      'Специальное оборудование', 'Чтобы точно определить вашу проблему и подобрать самый эффективный метод ее устранения, мы используем в работе специальные аппараты, среди которых есть дерматоскоп, глюкометр, негатоскоп. На дерматоскопе мы отслеживаем патологические процессы в коже и ногтях, а также определяем их малейшие изменения. С помощью глюкометра мы измеряем уровень сахара у диабетиков и предупреждаем осложнения. На негатоскопе смотрим результаты рентгена'
    )
