section.section.salon-photos
  .container.container-m.slider-wrap
    .d-flex.justify-content-center.align-items-center.mb-5
      h2 Фото нашего салона

  .salon-photos-slider.owl-carousel.slider-block
    img(src="assets/img/cabinet-1.png")
    img(src="assets/img/cabinet-2.png")
    img(src="assets/img/cabinet-1.png")
    img(src="assets/img/cabinet-2.png")
    img(src="assets/img/cabinet-1.png")
    img(src="assets/img/cabinet-2.png")
