section.section.specific
  h2.text-center.dark-blue Кому нужны услуги подолога
  .wrapper.d-flex.justify-content-center.mb-3.mt-3
    .dash
  p.text-center В зависимости от образа жизни, профессии и состояния<br>здоровья самые разные люди могут иметь проблемы со стопами.
  h3.text-center.text-color-dark.text-uppercase Кто в группе риска
  .person-wrapper.d-flex.flex-wrap.justify-content-center
    .item.d-flex.flex-column.justify-content-center.col-12.col-lg-4.align-items-center
      img(src="assets/img/specific-clock-1.png" alt="Specific clock").d-block.mb-3
      p.text-color-dark Люди, которые
        strong много стоят
    .item.d-flex.flex-column.justify-content-center.col-12.col-lg-4.align-items-center
      img(src="assets/img/specific-clock-2.png" alt="Specific clock").d-block.mb-3
      p.text-color-dark Люди, которые
        strong много стоят
