section.section.podology-about
	h1
		margin-bottom: 3rem
		@include font(Circe, bold, 40, 37)
	.ab-out
		img
			width: 100%

			&:last-child
				height: 100%

		p
			@include font(Circe, 200, 16, 25)
			color: $secondary-header-color
			margin-bottom: 0
