section.section-services.wart-symptoms.orthopedics-symptoms
  .container
    .row.align-items-center
      .col-12.col-lg-6.order-2.order-lg-1
        img.w-100.shadow(src="./assets/img/img22.jpg", srcset="./assets/img/img22@2x.jpg 2x")
      .col-12.col-lg-6.order-1.order-lg-2
        h3.section-title.mb-4.extra-h3.text-w-bold Навіщо потрібна обробка діабетичної стопи
        p.paragraph-text-light.text-dark-1 У людей з цукровим діабетом на тлі діагнозу може розвинутися синдром діабетичної стопи. Його перші симптоми — втрата чутливості і незвичайні відчуття в ногах: влітку ноги мерзнуть, взимку їм жарко, а також в ногах з'являється відчуття «мурашок». Через знижену чутливість діабетичної стопи дуже легко травмувати шкіру і нігті. Досить часто у пацієнтів, які не підтримують стопи в нормальному стані, розвиваються ускладнення. При високому цукрі навіть мікропорізу досить, аби розвинулася виразка. Ми рекомендуємо діабетикам, щоб хтось із членів сім'ї регулярно оглядав їх стопи на предмет наявності сторонніх предметів. Також ми рекомендуємо носити закрите зручне взуття без внутрішніх швів із хорошою фіксацією стопи. Третя рекомендація діабетикам — проводити процедури медичного апаратного педикюру раз на місяць, щоб уникнути ускладнень. Ми пропонуємо всім діабетикам спеціальний догляд за діабетичною стопою. Крім доглядаючої процедури всі пацієнти отримують роздрукований матеріал з інструкцією і порадами щодо домашнього догляду за діабетичною стопою. Також ми підбираємо засоби для домашнього догляду за стопами людей, які страждають на цукровий діабет.
