section.section._advantages.pb-0.ult-spec-adv
  .container
    h2.text-center.dark-blue.mb-65 Профілактичні процедури проходять абсолютно стерильно
    +numberedSection(
      'Очищене повітря в приміщенні', 'У центрі працюють циркулятори і бактерицидні опромінювачі закритого типу, які знезаражують повітря. Апарати в кабінетах, якими працюють спеціалісти, мають вбудовані пилососи, тому всмоктують увесь пил і алергени. Завдяки цим заходам усі пацієнти перебувають у чистому гіпоалергенному просторі.',
      'Стерильні інструменти після кожного прийому', 'Ми замочуємо інструменти в ультразвукових боксах із дезінфікуючим розчином широкого спектру дії. Там інструменти повністю очищаються від будь-яких бактерій, вірусів і грибків. Далі ми промиваємо і просушуємо інструменти',
      'Інструменти в індивідуальних крафт-пакетах', 'Останній етап стерилізації інструменти проходять у паровому автоклаві класу В при двох атмосферах парового тиску при температурі 134 градусів. Вони знаходяться в крафт-пакетах, у яких є індикатор, що змінює колір при повній стерилізації.',
      'Дезінфекція кабінету після кожного пацієнта', 'Ми обробляємо усі поверхні в кабінеті: апарат подоскоп, крісло, тумби, лампи. Крім цього ми проводимо регулярні прибирання за допомогою дезінфікуючих засобів і спеціального інвентарю. Звичайне прибирання ми проводимо на початку і в кінці дня, а генеральне — раз на тиждень.')
