section.section-services.symptoms-container
  .row.section-bg-dark.feets-and-hands-bg-img-mobile
    .container.feets-and-hands-bg-img-desktop
      .row.section-services-treatment-row-padding
        .col-xl-6
          h3.section-title-services.text-color-light.mb-4 Как понять, что у вас мозоль
          p.paragraph-text Обычному человеку не всегда легко с точностью определить, мозоль у него или бородавка. Только мозолей существует 9 видов. Люди, которые имеют о мозолях поверхностное представление, вряд ли даже визуально смогут отличить мозоль одного вида от другого. Поэтому за точным диагнозом стоит обращаться к специалисту-подологу. Он проведет осмотр с помощью увеличительных приборов и определит тип вашего новообразования.
          p.paragraph-text.mb-4 Тем не менее можно выделить общие черты всех мозолей, по которым их можно отличить от бородавок:
          ul.list-blue-bullets.paragraph-text
            li.mb-3 кожа на месте предполагаемой мозоли заметно уплотняется, приобретает желтый или коричневый оттенок;
            li.mb-3 при некоторых видах мозолей вы можете чувствовать резкую боль при нажатии и ходьбе;
            li при подногтевой мозоли при нажатии или давлении от обуви болит область ногтевой пластины.
  .row.symptoms-message-line.py-5
    .container
      p.paragraph-text.text-center.font-weight-bold.mb-2.line-height-100 Якщо не дотримуватися цих рекомендацій, дані дослідження будуть помилковими, а ви даремно витратите гроші.
      p.paragraph-text.text-center.font-weight-bold.mb-0.line-height-100 Лабораторії завадять сліди засобів на проблемних зонах, тому що вони замаскують реальну картину.
