section.section-services.container-fluid

  .row.section-bg-dark.section-services-treatment-row-padding.pb-3
    .container
      .row
        .col.text-px-desktop
          h3.section-title-services.text-color-light.mb-4.text-center Що робити, якщо у вас мозоль або бородавка
          p.paragraph-text.text-center.mb-3.w-200 В інтернеті можна знайти безліч спосіб позбавлення від мозолів і бородавок. Всі вони малоефективні і навіть небезпечні.
          p.paragraph-text.text-center.mb-3.w-200 При самолікуванні стрижневих мозолів та інших видів новоутворень можна лише погіршити ситуацію.
          p.paragraph-text.text-center.mb-3.w-200 Тому ось <strong>перші дії</strong>, до яких варто вдатися:
    .container
      .row.treatment-line.pt-5
        .col-12.col-md-6.col-xl-3.d-flex.flex-column.align-items-center.px-4.mb-5
          .disease-treatment-img-container.container-1.mb-3
          p.paragraph-text.text-center.font-weight-bold.mb-3.text-uppercase.font-weight-bold Не припікати, терти та зрізати огрубілі ділянки
        .col-12.col-md-6.col-xl-3.d-flex.flex-column.align-items-center.px-4.mb-5
          .disease-treatment-img-container.container-2.mb-3
          p.paragraph-text.text-center.font-weight-bold.mb-3.text-uppercase.font-weight-bold Поміняти взуття на більш зручне або ортопедичне взуття
        .col-12.col-md-6.col-xl-3.d-flex.flex-column.align-items-center.px-4.mb-5
          .disease-treatment-img-container.container-3.mb-3
          p.paragraph-text.text-center.font-weight-bold.mb-3.text-uppercase.font-weight-bold З обережністю обробити бородавку засобом, що містить саліцилову кислоту
        .col-12.col-md-6.col-xl-3.d-flex.flex-column.align-items-center.px-4.mb-5
          .disease-treatment-img-container.container-4.mb-3
          p.paragraph-text.text-center.font-weight-bold.mb-3.text-uppercase.font-weight-bold Звернутися до подолога
