.numbered-block
  .container
    .row.no-gutters
      h2.w-100.text-center.text-initial.dark-color.fs-30 Ці курси будуть корисні, якщо ви
    .row.row-numbered
      .col-12.col-sm-6.col-lg-3.numbered-items.numbered-item-1
        .numbered-items-number.mx-auto.d-flex.flex-row.align-items-center.justify-content-end
          img(src="./assets/icon/common/numbed-item-num-1.png", alt="numbed-item-num")
        h3.mt-0 Практикуючий подолог
        p.w-200.font-16.lh-26 Ви початківець або вже досвідчений фахівець, і вам хочеться більше практики і нових навичок
      .col-12.col-sm-6.col-lg-3.numbered-items.numbered-item-2
        .numbered-items-number.mx-auto.d-flex.flex-row.align-items-center.justify-content-end
          img(src="./assets/icon/common/numbed-item-num-2.png", alt="numbed-item-num")
        h3.mt-0 Майстер манікюру і педикюру
        p.w-200.font-16.lh-26 Ви вже працюєте у б'юті-сфері, але хочете знати більше про здоров'я стоп і бути ще більш професійними
      .col-12.col-sm-6.col-lg-3.numbered-items.numbered-item-3
        .numbered-items-number.mx-auto.d-flex.flex-row.align-items-center.justify-content-end
          img(src="./assets/icon/common/numbed-item-num-3.png", alt="numbed-item-num")
        h3.mt-0 Людина з мед. освітою
        p.w-200.font-16.lh-26 Ви медсестра, фельдшер або інший медичний співробітник, який хоче більш прибуткову роботу
      .col-12.col-sm-6.col-lg-3.numbered-items.numbered-item-4
        .numbered-items-number.mx-auto.d-flex.flex-row.align-items-center.justify-content-end
          img(src="./assets/icon/common/numbed-item-num-4.png", alt="numbed-item-num")
        h3.mt-0 У пошуках нової професії
        p.w-200.font-16.lh-26 Вас не влаштовує нинішня робота і ви хочете спробувати себе в навколо-медичній сфері
