.course-info
  .conteiner-s.w-100.mx-auto
    .row.no-gutters
      h2.section-title-small.text-center.text-initial Різні курси, індивідуальний підхід до потреб абітурієнта:
    .row.no-gutters
      h3.section-subtitle.text-center Ваш навчальний графік — день теорії і день практики по черзі, а далі за бажанням стажування в центрі здоров'я ніг Steffany
    .row.no-gutters.course-info-cnt.mx-auto
      .col-12.col-md-6.order-1.order-md-1.course-info-titles
        p.paragraph-text-dark.extrabold.pb-3 Дні теорії
        p.paragraph-text-dark.mb-0.pb-5 Заняття проходять
          span.f-bold з ПН по ПТ з 10:00 до 17:00&nbsp;
      .col-12.col-md-6.order-6.order-md-1.course-info-titles
        p.paragraph-text-dark.extrabold.pb-3 Дні практики
        p.paragraph-text-dark.mb-0.pb-5 Заняття проходять
          span.f-bold з ПН по ПТ з 10:00 до 17:00&nbsp;
      .info-list-item.col-12.col-md-6.order-2.order-md-1.paragraph-text-dark
        span.f-bold Ви вивчаєте&nbsp;
        | загальну анатомію, будову опорно-рухового апарату, принципи біомеханіки ходьби
      .info-list-item.col-12.col-md-6.order-7.order-md-1.paragraph-text-dark
        span.f-bold Ви лікуєте&nbsp;
        | реальних пацієнтів з усіма захворюваннями, які вивчили у дні теорії
      .info-list-item.col-12.col-md-6.order-3.order-md-1.paragraph-text-dark
        span.f-bold По черзі&nbsp;
        | проходите всі захворювання стоп і способи їх лікування
      .info-list-item.col-12.col-md-6.order-8.order-md-1.paragraph-text-dark
        span.f-bold Спостерігаєте&nbsp;
        | за роботою методиста, який спочатку показує, як потрібно проводити процедуру
      .info-list-item.col-12.col-md-6.order-4.order-md-1.paragraph-text-dark
        span.f-bold  Дізнаєтеся&nbsp;
        | про професійні аспекти роботи: як співпрацювати з лабораторіями, як направляти пацієнтів до інших фахівців, як підбирати апаратуру і косметичні засоби для своєї практики
      .info-list-item.col-12.col-md-6.order-9.order-md-1.paragraph-text-dark
        span.f-bold Приймаєте&nbsp;
        | двох пацієнтів на день. У цей час за вашою роботою спостерігає методист, допомагає і спрямовує
      .info-list-item.col-12.col-md-6.order-5.order-md-1.paragraph-text-dark.l-one
        span.f-bold У останній&nbsp;
        | день навчання ви здаєте усний іспит, після якого отримуєте сертифікат про успішне проходження курсу
      .info-list-item.col-12.col-md-6.order-10.order-md-1.paragraph-text-dark
        span.f-bold У вас під рукою&nbsp;
        | всі необхідні інструменти (обертові і ручні),  апарати (дерматоскоп, подоскоп, глюкометр), а також матеріали (скоби, пластини, силікони)
