section.section.express-course
  h2 Експрес-курс апаратних та інструментальних технік
  p.text-dark-1.text-center Для майстрів-початківців
  h3.text-dark-1.text-center Тривалість курсу — 3 дні<br>Ближайший старт — ХХ месяца
  .container.d-flex.flex-wrap.list-section
    .col-12.col-lg-6
      h2.text-uppercase.mb-4 Теоретична частина експрес-курсу
      ul.info-list
        li.mb-4
          h3 Введення в апаратну техніку
          p Типи і види апаратів, фрези і бори, допустимі обороти для обертових елементів. Інструментарій і його призначення
        li.mb-4
          h3 Стерилізація та дезінфекція
          p Практичне навчання роботі з автоклавом і ультразвуковою ванною, крафт-пакети і ведення журналів стерилізації.
        li.mb-4
          h3 Анатомія шкіри і техніка безпечної роботи з нею
        li
          h3 Основні патології шкіри і нігтів
          p За яких ознак майстру діагностувати патології шкіри і нігтів. Співпраця з докторами
    .col-12.col-lg-6
      h2.text-uppercase.mb-4 Практичні заняття експрес-курсу
      ul.info-list
        li.mb-4
          h3 Постановка руки і відпрацювання апаратних методик
          p На експрес-курсі ми будемо приділяти багато уваги тому, щоб ви поставили руку і відпрацювали апаратні методики роботи зі стопою і нігтьовою пластиною.
        li.mb-4
          h3 Робота з моделями
          p Кожен день ви будете працювати з трьома моделями, щоб відпрацювати отримані знання на практиці
  p.light-blue.text-center Вартість курсу:&nbsp;
    strong 5000 грн
  .w-100.d-flex.justify-content-center.mt-4
    +customBtn('занять место')(data-toggle='modal', data-target='#chooseDayCourse')
