.metodists
  .container
    .row.no-gutters
      h2.section-title-small.text-center.text-border-b.text-initial.fs-30 Вас супроводжують і навчають методисти зі стажем
    .row.no-gutters.justify-content-between
      .col-12.col-xl-6.metodist-block
        p.paragraph-text-dark.mb-0.pb-3.text-w-bold Надія Громова
        p.paragraph-text-dark.mb-0.pb-4 Методист курсу базової подології
        .row.no-gutters.justify-content-between
          .col-12.col-sm-6.metodist-img
            img.w-100(src="assets/img/padalogy/learning/metodist-1.jpg", alt="")
          .col-12.col-sm-6.metodist-cnt
            .info-list-item.w-200 Спеціаліст-подолог із 5-річним стажем
            .info-list-item.w-200 Здобула освіту в школі подології «Вларус» на курсі «Основи подології»
            .info-list-item.w-200 Пройшла авторський курс Руслани Даценко «Ортоніксія, мала ортопедія і техніки відновлення нігтів»
            .info-list-item.w-200 Зайняла 3-е місце за класичним манікюром на Міжнародному чемпіонаті з манікюру (2018 р.)
            .info-list-item.w-200 Зайняла 1-е місце за класичним педикюром і 1-е місце за чоловічим манікюром на Всеукраїнському чемпіонаті з манікюру (2019 р.)
      .col-12.col-xl-6.metodist-block
        p.paragraph-text-dark.mb-0.pb-3.text-w-bold Руслана Даценко
        p.paragraph-text-dark.mb-0.pb-4 Методист курсу малої ортопедії і ортоніксіі
        .row.no-gutters.justify-content-between
          .col-12.col-sm-6.metodist-img
            img.w-100(src="assets/img/padalogy/learning/metodist-2.jpg", alt="")
          .col-12.col-sm-6.metodist-cnt
            .info-list-item.w-200 Спеціаліст-подолог із 16-річним стажем
            .info-list-item.w-200 Керівник центру здоров'я ніг Steffany
            .info-list-item.w-200 Закінчила Факультет подології в університеті UBA в Буенос-Айресі
            .info-list-item.w-200 Пройшла більше 20-ти програм навчання з подології, малої ортопедії і ортоніксіі в Україні, Німеччині та Польщі.
            .info-list-item.w-200 Сертифікований викладач систем ортоніксії
            .info-list-item.w-200 Сертифікований спеціаліст з комп'ютерної діагностики стоп і біомеханіки ходьби
            .info-list-item.w-200 Сертифікований спеціаліст з проектування коригувальних устілок
            .info-list-item.w-200 Сертифікований спеціаліст і партнер міжнародної програми Podologia.pl
            .info-list-item.w-200 Сертифікований спеціаліст з виробництва устілок PWO
