section.section.faq
    .container
      +accordeon('Поширені запитання', 'Тут ви знайдете інформацію, яка найчастіше цікавить наших студентів', [
        {
          title: 'Якщо у мене немає медичної освіти, я можу піти на курси?',
          body: 'Звісно! Ми починаємо наші курси з розбору базової анатомії, фізіології і мікробіології людини. Так, медична освіта ніколи не завадить. Та в професії подолога важливішу роль відіграє самоосвіта і постійний розвиток. Курс базової подології — якраз відмінний старт.'
        },
        {
          title: 'Ваш курс розрахований одночасно на практиків і новачків? Що як мені буде дуже просто або навпаки складно?',
          body: 'Ми формуємо групи так, щоб у всіх студентів була однакова база. Тому ми постараємося відокремити людей з освітою від зовсім новачків і змістимо акценти в програмі навчання. Якщо темп навчання буде некомфортним для вас, одразу повідомляйте про це методисту. Він підлаштується під вас.'
        },
        {
          title: 'Професія подолога прибуткова?',
          body: 'Подолог — одна з найбільш затребуваних професій на стику медицини і естетики. У нашої роботи немає сезонності і дуже високий попит. У хорошого подолога завжди є робота.'
        },
        {
          title: 'Як проходить іспит?',
          body: 'Іспит — це спілкування між методистом і студентом. Методисту не потрібні завчені фрази з підручника. Головне — аби студент дійсно зрозумів матеріал.'
        },
        {
          title: 'Що буде, якщо я не здам іспит',
          body: 'Катастрофи точно не трапиться. Ви складаєте іспит, аби ми були впевнені, що ви засвоїли матеріал. Якщо ви не до кінця зрозуміли якусь тему і не здали через неї іспит, ми перенесемо його на іншу дату і ви спробуєте знову.'
        },
        {
          title: 'Сертифікат про закінчення курсу дозволить мені влаштуватися на роботу?',
          body: 'Навряд чи існує сертифікат, який сам по собі забезпечить працевлаштування або зробить з людини професіонала. Головне у спеціальності подолога — постійна практика і підвищення кваліфікації. Випускнику слід продовжувати навчання: їздити на симпозіуми, конгреси, семінари, спілкуватися з іншими фахівцями. Паралельно йому потрібно відпрацьовувати на пацієнтах набуті навички. При такому ритмі за 1-2 роки новачок може перетворитися на досвідченого фахівця.'
        },
        {
          title: 'Скільки людей в групі?',
          body: 'У групі до 6 людей, щоб кожен студент отримав від методиста максимум уваги.'
        },
        {
          title: 'Як саме проходять дні практики?',
          body: 'Студенти і методист знаходяться в обладнаних кабінетах. Студенти практикуються на реальних пацієнтах. Пацієнти підібрані так, щоб кожен студент міг відпрацювати всі проблеми стоп, які вивчив у день теорії. Кожен день студент лікує двох пацієнтів. Ступінь складності попадається різна, щоб напрацювати якомога більший досвід.Методист курирує всю роботу. Він стежить за діями кожного студента, спрямовує і радить. Перш ніж поставити якусь дію, він сідає перед пацієнтом і самостійно показує, як правильно. Завдяки постійній присутності та увазі методиста студенти не відчувають себе розгубленими і у них немає можливості нашкодити пацієнтам через незнання.'
        },
        {
          title: 'Як потрапити на стажування до Steffany?',
          body: 'Приходьте на один з наших курсів, пройдіть всю теорію і практику і здайте теоретичний іспит. Якщо у вас буде виходити і ми будемо бачити бажання розвиватися далі, з радістю візьмемо вас до себе на стажування. З можливістю працевлаштування.'
        }
      ], true, 1)
