doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Steffany
    meta(property="og:image" content="assets/img/favicon.png")
    meta(property="og:title" content="Steffany | Лазерная эпиляция")
    meta(property="og:site_name" content="steffany.ua")
    meta(property="og:url" content="http://steffany.dotwork.digital/laser/")
    meta(property="og:description" content="Салон Steffany Лазерная эпиляция")
    link(rel="shortcut icon" href="./assets/img/favicon.png" type="image/x-icon")
    link(rel="stylesheet" href="css/style.css")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    script(src='https://api.fondy.eu/static_common/v1/checkout/ipsp.js')
    script(src="./js/main.js" defer)
    script(src="//w69433.yclients.com/widgetJS" charset="UTF-8" defer)
    script(src="https://smtpjs.com/v3/smtp.js")
    script.
      (function (w, d, s, l, i) {w[l] = w[l] || [];w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';j.async = true;j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;f.parentNode.insertBefore(j, f);})(window, document, 'script', 'dataLayer', 'GTM-MNMP2MK');
    script(src="./js/contact.js")

  body
    include ../mixins
    include ../modules/checkbox
    include ../modules/breadcrumbs


    include ../modules/header

    block content
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-MNMP2MK' height='0' width='0' style='display:none;visibility:hidden')
