section.section-services.about
  .container
    +breadcrumbs('Главная', 'Услуги', './pod', 'Профилактические услуги', '/prevention')
  .container
    h3.page-title.mb-3.mb-lg-5 Профилактические услуги
    .row.mx-auto
      .col-12.d-block.d-sm-none.mb-3
        .services-about-sm-divider
      .col-12.col-lg-6.order-2.order-lg-1
        img.w-100.shadow(src="assets/img/top-item-block.jpg", srcset="assets/img/top-item-block@2x.jpg 2x")
      .col-12.col-lg-6.d-flex.justify-content-center.flex-column.order-1.order-lg-2
        p.paragraph-text.text-dark-1.pb-2 Подолог — это тот специалист, к которому люди часто приходят только в крайнем случае: когда оттягивать дальше уже невозможно. Пациенты обращаются с острой болью, зудом или другими явными симптомами. На самом деле визиты к подологу должны быть такими же регулярными, как к стоматологу. При таком подходе можно поддерживать свои стопы в здоровом состоянии и предупредить развитие возможных проблем.
        p.paragraph-text.text-dark-1 В центре здоровья ног Steffany есть три вида профилактических услуг: простая консультация с осмотром стопы и при необходимости всего опорно-двигательного аппарата, медицинский педикюр, а также обработка стопы для пациентов с сахарным диабетом.
