section.section-services.container-fluid.py-0.ort-treatment
  .row.no-gutters.section-bg-dark.section-services-treatment-row-padding
    .container
      .row
        .col
          h3.section-title.text-color-light.mb-4.text-center.extra-h3.text-w-bold Обработка диабетической стопы полностью безопасна
          p.paragraph-text-light.text-center.mb-80.extra-crutch-header При работе с диабетической стопой риск травмировать ее достаточно высокий. Кожа человека с диабетом снижает чувствительность. Пациент может не ощущать, что у него врастает ноготь или появился ожог. Также любая незначительная травма может перерасти в язву, которая будет очень сложно заживать. Однако мы гарантируем, что с вашими стопами все будет хорошо.
    .container
      .row.no-gutters.mx-auto.justify-content-between
        .col-12.col-lg-6.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-2
            span.ort-cnt.white-text(style="text-transform: initial") Замеряем уровень сахара с помощью глюкометра
          p.paragraph-text-light.ort-cnt Если вы не знаете уровень своего сахара или давно его не меряли, спокойно приходите на процедуру. В нашем центре есть специальный аппарат — глюкометр. Мы измеряем им сахар всем диабетикам прямо на месте.<br><br>Если уровень сахара в пределах 10-ти, мы имеем право проводить процедуру. Если же уровень 10 и выше, возможные ранки от микротравматизации аппаратом не будут заживать. Поэтому мы просим нормализовать сахар, а потом записываем на другой день.
        .col-12.col-lg-6.ort-block.ort-block-2
          p.paragraph-text-bold.ort-title.ort-title-2
            span.ort-cnt.white-text(style="text-transform: initial") Проводим тест на чувствительность
          p.paragraph-text-light.ort-cnt Как мы уже сказали, у людей с диабетической стопой может снизиться чувствительность кожи. Поэтому перед процедурой мы проверяем, нарушена ли она и на каких именно участках стоп.<br><br>Для этого мы проводим 4 теста: на вибрационную, температурную, болевую и тактильную чувствительность. Они обязательны перед любой процедурой.<br><br>Очень часто наши специалисты-подологи по внешнему виду стоп определяют «скрытых» диабетиков — людей, которые еще не знают о болезни. В таком случае специалисты обязательно проверяет стопу с помощью глюкометра и 4-х тестов на чувствительность, и направят к нужному специалисту для дальнейших исследований.
