section.section-services.white-bg
  .container.circles-bg
    .row
      .col.d-flex.flex-column.align-items-center.section-service-block.mx-auto
        h3.section-title.mb-5.text-dark-1.text-center Услуги по профилактике проблем со стопами
        .row.mt-md-4.mb-5
          .col-12.col-md-6.px-4
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Консультация
              p.paragraph-text.text-dark-1.w-200 На консультации специалист-подолог проводит осмотр стопы и узнает всю необходимую информацию для дальнейших рекомендаций по лечению или профилактике.
            .paragraph-container
              h4.paragraph-title Обработка диабетической стопы (стопа с поражением нервных окончаний и сосудов)
              p.paragraph-text.text-dark-1.w-200 Специалист-подолог выполняет аппаратный педикюр. Он щадяще обрабатывает кожу и ногти специальными насадками, учитывая все особенности диабетической стопы.
          .col-12.col-md-6.px-4
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Медицинский аппаратный педикюр
              p.paragraph-text.text-dark-1.w-200 Специалист-подолог обрабатывает всю поверхность стоп и ногти с помощью аппарата Nova3. С помощью разных насадок он удаляет ороговевший слой кожи, корректирует форму и толщину ногтей, обрабатывает отдельные участки.
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Частичный медицинский педикюр (ногти)
              p.paragraph-text.text-dark-1.w-200 На такой процедуре специалист-подолог работает с вашими ногтями и пальцами на ногах с помощью специальных насадок аппарата Nova3.
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Частичный медицинский педикюр (стопы)
              p.paragraph-text.text-dark-1.w-200 Специалист-подолог обрабатывает ваши стопы с помощью определенных насадок аппарата Nova3.
        .container-fluid.d-flex.flex-column.align-items-center
          .row.prices-container.mb-4

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Первичная консультация подолога
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 150 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 мин

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Консультация Дерматолога
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 250 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 25 мин

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Медицинский педикюр
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 500 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 2 часа

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 компьютерная диагностика стопы в динамике и статике
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 400 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 40 мин

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Обработка глубоких трещин с перевязкой
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 500 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 1 час

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Частичный педикюр (ногти)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 300 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 1 час

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Обработка грибковых поражений стоп
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 450 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 мин

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Обработка диабетической стопы
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 750 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 2 часа

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Обработка при травмах ногтевых пластин (за 1 ед)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 300 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 1 час
            +btnPen('записаться')(id="write", data-toggle='modal', data-target='#callbackModal')
