extends ../layout/main

block content
  include ../sections/about/about
  include ../sections/about/list
  include ../sections/about/center
  include ../sections/about/diploma
  include ../modules/map
