extends ../layout/main

block content
  include ../sections/services/cracking/about-cracking
  include ../sections/services/cracking/disease-treatment1
  include ../sections/services/cracking/process
  include ../sections/services/cracking/disease-treatment
  include ../sections/services/cracking/treatment-services
  include ../sections/services/cracking/safe-treatment
  include ../sections/services/cracking/warts-treatment-faq
  include ../sections/services/cracking/slider-bottom-section

