extends ../layout/main

block content
  include ../sections/services/ingrownNail/about-ingrownNail
  include ../sections/services/ingrownNail/disease-treatment1
  //include ../sections/services/ingrownNail/disease-treatment3
  include ../sections/services/ingrownNail/treatment-services
  include ../sections/services/ingrownNail/safe-treatment
  include ../sections/services/ingrownNail/process
  include ../sections/services/ingrownNail/disease-treatment
  include ../sections/services/ingrownNail/warts-treatment-faq
  include ../sections/services/ingrownNail/slider-bottom-section

