extends ../layout/main

block content
  include ../sections/services/minorOrthopedics/about-orthopedics
  include ../sections/services/minorOrthopedics/symptoms
  include ../sections/services/minorOrthopedics/orthopedics-symptoms
  include ../sections/services/minorOrthopedics/treatment-services
  include ../sections/services/minorOrthopedics/disease-treatment
  include ../sections/services/minorOrthopedics/safe-treatment
  +FAQ('Часто задаваемые вопросы', 'Прочитайте, о чем спрашивают наши пациенты по поводу малой ортопедии', [
    {
      title: 'В детстве мне сказали, что у меня плоскостопие. Мне нужны ваши услуги?',
      body : 'Врожденное (истинное) плоскостопие и функциональное плоскостопие — это два разных диагноза. В 97% случаев при плосковальгусной стопе удается поставить стопу в нормальное положение с помощью стелек. Они выравнивают и стабилизируют положение голеностопа и даже коленей, дают возможность организму произвести естественную перестройку и откорректировать положение тазобедренных суставов и таза в целом. Вам стоит прийти на консультацию в наш центр на диагностику. После нее специалист сможет сообщить вам, в каком состоянии находятся ваши стопы и какие виды коррекции помогут облегчить ваше состояние.'
    },
    {
      title: 'Я веду здоровый образ жизни и регулярно занимаюсь спортом. Иногда стопы болят. Мне нужно обращаться к вам?',
      body : 'Спортсмены и особенно бегуны — одна из групп риска в области деформаций стоп. Когда стопа здорова и правильно поставлена, при физических нагрузках она амортизирует позвоночник. Если же стопа в неправильном положении, каждый прыжок или удар об землю при беге приходится на весь опорно-двигательный аппарат. Это очень большая нагрузка. Обязательно приходите к нам, чтобы мы изготовили вам индивидуальные стельки для правильного положения стоп, обладающие свойствами повышенной амортизации и поглощения ударов. Такие стельки дают необходимую поддержку стопе в месте наибольшей нагрузки в зависимости от вида спорта (теннис, бег, прыжки, велосипед).'
    },
    {
      title: 'Как долго нужно носить стельки?',
      body : 'Все зависит от вашей ситуации и срока, назначенного вам специалистом.'
    }
  ], true, 1)
  include ../sections/services/minorOrthopedics/slider-bottom-section

