extends ../layout/main

block content
  include ../sections/services/minorOrthopedics/about-orthopedics
  include ../sections/services/minorOrthopedics/symptoms
  include ../sections/services/minorOrthopedics/orthopedics-symptoms
  include ../sections/services/minorOrthopedics/treatment-services
  include ../sections/services/minorOrthopedics/disease-treatment
  include ../sections/services/minorOrthopedics/safe-treatment
  include ../sections/services/minorOrthopedics/warts-treatment-faq
  include ../sections/services/minorOrthopedics/slider-bottom-section

