extends ../layout/main

block content
  include ../sections/services/nail-fungus-treatment/about-fungus
  include ../sections/services/nail-fungus-treatment/fungus-symptoms
  include ../sections/services/nail-fungus-treatment/fungus-treatment-services
  include ../sections/index/doctors
  include ../sections/services/service-consultation
  include ../sections/services/nail-fungus-treatment/laboratory-cooperation
  include ../sections/services/nail-fungus-treatment/research-description
  include ../sections/services/nail-fungus-treatment/laboratory-results
  include ../sections/services/nail-fungus-treatment/prepare-to-appointment
  include ../sections/services/nail-fungus-treatment/sterial-treatment
  include ../sections/services/nail-fungus-treatment/fungus-reasons
