extends ../layout/main

block content
  include ../sections/learning/learningBanner.pug
  include ../sections/learning/advantages.pug
  include ../sections/learning/courseInfo.pug
  include ../sections/learning/daysAccardion.pug
  include ../sections/learning/metodists.pug
  include ../sections/learning/courseBenefits.pug
  include ../sections/learning/feedback.pug
  include ../sections/learning/questions.pug
  include ../sections/learning/modal.pug