extends ../layout/main

block content
  include ../sections/services/prevention/about-prevention
  include ../sections/services/prevention/disease-treatment
  include ../sections/services/prevention/symptoms.pug
  include ../sections/services/prevention/infoblock.pug
  include ../sections/services/prevention/disease-treatment2
  include ../sections/services/prevention/treatment-services
  include ../sections/services/prevention/safe-treatment  
  include ../sections/services/prevention/warts-treatment-faq
  include ../sections/services/prevention/slider-bottom-section

