extends ../layout/main

block content
  include ../sections/services/warts-treatment/about-warts
  include ../sections/services/warts-treatment/callus-symptoms
  include ../sections/services/warts-treatment/wart-symptoms
  include ../sections/services/warts-treatment/disease-treatment
  include ../sections/services/warts-treatment/treatment-services
