section.section.safe-treatment.pb-0
  .container
    h2.text-center.dark-blue.line-height-41.mb-65 Щоб зберегти абсолютну стерильність, <br> ми кожного дня виконуємо ці дії

    +numberedSection(
      'Очищаємо повітря у приміщенні', 'У центрі працюють три циркулятора закритого типу, які фільтрують повітря. Апарати у кабінетах, якими працюють фахівці, мають вбудовані пилососи, тому всмоктують весь пил і алергени. Завдяки цим заходам всі пацієнти перебувають у чистому гіпоалергенний просторі.',
      'Стерилізуємо інструменти після кожного прийому', 'Ми замочуємо інструменти в ультразвукових боксах із дезинфікуючим розчином широкого спектру дії. Там інструменти повністю очищаються від будь-яких бактерій, вірусів і грибків. Далі ми промиваємо і просушуємо інструменти.',
      'Розкриваємо інструменти при пацієнтах', 'Після розчину ми розкладаємо інструменти по крафт-пакетах і кладемо в автоклав класу В, де вони стерилізуються при температурі 134 градусів при тиску пара в 2 бари протягом 20 хвилин. На кожному пакеті є індикатор, який змінює колір. Спеціаліст-подолог розкриває крафт-пакет із стерильними інструментами при вас.',
      'Дезінфікуємо кабінет після кожного пацієнта', 'Ми обробляємо всі поверхні у кабінеті: апарат подоскоп, крісло, тумби, лампи. Крім цього ми проводимо регулярні прибирання за допомогою дезінфікуючих засобів і спеціального інвентарю. Звичайне прибирання ми проводимо на початку і в кінці дня, а раз на тиждень проводимо генеральне прибирання.'
    )
