.course-info
  .container.conteiner-s
    .row.no-gutters
      .section-title.text-center Каждый курс идет две недели
    .row.no-gutters
      h3.section-subtitle.text-center Ваш учебный график — день теории и день практики поочередно, а дальше по желанию стажировка в центре здоровья ног Steffany
    .row.no-gutters.course-info-cnt.mx-auto
      .col-12.col-md-6.order-1.order-md-1.course-info-titles
        p.paragraph-text.extrabold.pb-3 Дни теории 
        p.paragraph-text.pb-5 Занятия проходят  
          span.f-bold с ПН по ПТ с 10:00 до 17:00 
      .col-12.col-md-6.order-6.order-md-1.course-info-titles
        p.paragraph-text.extrabold.pb-3 Дни практики 
        p.paragraph-text.pb-5 Занятия проходят  
          span.f-bold с ПН по ПТ с 10:00 до 17:00 
      .info-list-item.col-12.col-md-6.order-2.order-md-1.paragraph-text
        span.f-bold Вы изучаете  
        | общую анатомию, строение опорно-двигательного аппарата, принципы биомеханики ходьбы
      .info-list-item.col-12.col-md-6.order-7.order-md-1.paragraph-text
        span.f-bold Вы лечите  
        | реальных пациентов со всеми заболеваниями, которые изучили в дни теории 
      .info-list-item.col-12.col-md-6.order-3.order-md-1.paragraph-text
        span.f-bold По очереди  
        | проходите все заболевания стоп и способы их лечения
      .info-list-item.col-12.col-md-6.order-8.order-md-1.paragraph-text
        span.f-bold Наблюдаете  
        | за работой методиста, который сначала показывает, как нужно проводить процедуру
      .info-list-item.col-12.col-md-6.order-4.order-md-1.paragraph-text
        span.f-bold  Узнаете 
        | о профессиональных аспектах работы: как сотрудничать с лабораториями, как направлять пациентов к другим специалистам, как подбирать аппаратуру и уходовые средства для своей практики
      .info-list-item.col-12.col-md-6.order-9.order-md-1.paragraph-text
        span.f-bold Принимаете 
        | двух пациентов в день. В это время за вашей работой наблюдает методист, помогает и направляет
      .info-list-item.col-12.col-md-6.order-5.order-md-1.paragraph-text.l-one
        span.f-bold В последний 
        | день учебы вы сдаете устный экзамен, после которого получаете сертификат об успешном прохождении курса
      .info-list-item.col-12.col-md-6.order-10.order-md-1.paragraph-text
        span.f-bold У вас под рукой 
        | все необходимые инструменты (вращающиеся и ручные), дерматоскоп, подоскоп, глюкометр, а также материалы (скобы, пластины, силиконы)