section.section.accordion-answer.program.py-5
  h2.section-title.text-center.white-text Программа курса базовой подологии
  p.h3-title-regular.text-center.mb-4.pb-4.text-border-b Ближайшая старт — ХХ месяца
  p.h3-title-regular.text-center.mb-4 Первая неделя
  .programAccordion.accordion.m-0
    .col-12.program-item-wrap.w-100.mx-auto.p-0
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading01.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapse01',   aria-controls='programCollapse01', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 1 
            p.paragraph-text-18
              span.text-w-bold Теория <br/>
              span.thin-text Основы подологии. Сбор информации о пациенте. Работа с подоскопом
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse01.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading01', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading02.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapse02',   aria-controls='programCollapse02', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 2 
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Основы подологии. Сбор информации о пациенте. Работа с подоскопом
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse02.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading02', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading03.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapse03',   aria-controls='programCollapse03', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 3 
            p.paragraph-text-18
              span.text-w-bold Теория <br/>
              span.thin-text Мозоли и бородавки. Работа скальпелем
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse03.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading03', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading04.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapse04',   aria-controls='programCollapse04', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 4 
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Мозоли и бородавки. Работа скальпелем
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse04.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading04', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading05.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapse05',   aria-controls='programCollapse05', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 5
            p.paragraph-text-18
              span.text-w-bold Теория <br/>
              span.thin-text Гиперкератоз. Гипергидроз. Трещины на пятках
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse05.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading05', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading06.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapse06',   aria-controls='programCollapse06', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 6 
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Гиперкератоз. Гипергидроз. Трещины на пятках
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse06.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading06', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
  p.h3-title-regular.text-center.my-5 Вторая неделя
  .programAccordion.accordion.m-0
    .col-12.program-item-wrap.w-100.mx-auto.p-0
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading07.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapse07',   aria-controls='programCollapse07', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 7 
            p.paragraph-text-18
              span.text-w-bold Теория <br/>
              span.thin-text Заболевания ногтей. Грибок. Меланома и невусы. Дерматоскоп
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse07.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading07', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading08.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapse08',   aria-controls='programCollapse08', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 8 
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Проблемы ногтей. Грибок. Как брать анализы
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse08.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading08', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading03.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapse09',   aria-controls='programCollapse09', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 9 
            p.paragraph-text-18
              span.text-w-bold Теория <br/>
              span.thin-text Вросший ноготь. Воспаления и раны. Панариций
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse09.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading09', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading10.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapse10',   aria-controls='programCollapse10', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 10 
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Вросший ноготь. Воспаления и раны. Панариций
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse10.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading10', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading11.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapse11',   aria-controls='programCollapse11', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 5
            p.paragraph-text-18
              span.text-w-bold Теория <br/>
              span.thin-text Диабетическая стопа. Дерматозы
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse11.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading11', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading12.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapse12',   aria-controls='programCollapse12', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 6 
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Диабетическая стопа. Дерматозы
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse12.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading12', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading13.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapse13',   aria-controls='programCollapse13', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 6 
            p.paragraph-text-18
              span.text-w-bold Экзамен
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse13.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading13', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
  a.btn-callback.btn-callback-simple.d-flex.align-items-center.justify-content-between.height-50.my-5.btn-callback-blue.mx-auto(href="#",  data-toggle='modal', data-target='#firstDayCourse')
    span.d-flex.align-items-center.justify-content-between
      span Занять место
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
      style(type='text/css').
        .st0{fill:#D11111;}
      path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
      C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
  h2.section-title.text-center.white-text.mt-5 Программа курса малой ортопедии и ортониксии
  p.h3-title-regular.text-center.mb-4.pb-4.text-border-b Ближайшая старт — ХХ месяца
  p.h3-title-regular.text-center.mb-4 Первая неделя
  .programAccordionTwo.accordion.m-0
    .col-12.program-item-wrap.w-100.mx-auto.p-0
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo01.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapseTwo01',   aria-controls='programCollapseTwo01', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 1 
            p.paragraph-text-18
              span.text-w-bold Теория <br/>
              span.thin-text Коррекция вросшего ногтя с помощью пластин
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo01.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo01', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Роль ортониксии в работе с вросшим ногтем. Понятие вросшего ногтя и показания к установке пластин. Сравнительная характеристика пластин bs, gold, onyclip, NiTi wire, podofix. Выбор системы и установка. Противопоказания. Материалы для работы. Особенности системы. Отработка систем Onyclip, Ni Ti Wire.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo02.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapseTwo02',   aria-controls='programCollapseTwo02', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 2 
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Коррекция вросшего ногтя с помощью пластин
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo02.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo02', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo03.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapseTwo03',   aria-controls='programCollapseTwo03', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 3 
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Коррекция вросшего ногтя с помощью пластин
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo03.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo03', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo04.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapseTwo04',   aria-controls='programCollapseTwo04', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 4 
            p.paragraph-text-18
              span.text-w-bold Теория и практика <br/>
              span.thin-text Ортониксия. Скоба 3ТО
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo04.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo04', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo05.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapseTwo05',   aria-controls='programCollapseTwo05', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 5
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Ортониксия. Скоба 3ТО
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo05.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo05', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
  p.h3-title-regular.text-center.my-5 Вторая неделя
  .programAccordionTwo.accordion.m-0
    .col-12.program-item-wrap.w-100.mx-auto.p-0
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo06.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapseTwo06',   aria-controls='programCollapseTwo06', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 6 
            p.paragraph-text-18
              span.text-w-bold Теория и практика <br/>
              span.thin-text Протезирование ногтей с помощью материалов
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo06.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo06', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Роль ортониксии в работе с вросшим ногтем. Понятие вросшего ногтя и показания к установке пластин. Сравнительная характеристика пластин bs, gold, onyclip, NiTi wire, podofix. Выбор системы и установка. Противопоказания. Материалы для работы. Особенности системы. Отработка систем Onyclip, Ni Ti Wire.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo07.card-header.p-0.w-100.program-container.d-flex.align-items-center(data-toggle='collapse', data-target='#programCollapseTwo07',   aria-controls='programCollapseTwo07', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 7
            p.paragraph-text-18
              span.text-w-bold Теория и практика <br/>
              span.thin-text Малая ортопедия. Изготовление ортозов
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo07.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo07', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
  a.btn-callback.btn-callback-simple.d-flex.align-items-center.justify-content-between.height-50.my-5.btn-callback-blue.mx-auto(href="#",  data-toggle='modal', data-target='#secondDayCourse')
    span.d-flex.align-items-center.justify-content-between
      span Занять место
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
      style(type='text/css').
        .st0{fill:#D11111;}
      path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
      C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')