.metodists
  .container
    .row.no-gutters
      h2.section-title.text-center.text-border-b Вас сопровождают и обучают методисты со стажем
    .row.no-gutters.justify-content-between
      .col-12.col-xl-6.metodist-block
        p.paragraph-text.extrabold.pb-3 Надежда Громова
        p.paragraph-text.pb-4 Методист курса базовой подологии
        .row.no-gutters.justify-content-between
          .col-12.col-sm-6.metodist-img
            img.w-100(src="assets/img/padalogy/learning/metodist-1.jpg", alt="")
          .col-12.col-sm-6.metodist-cnt
            .info-list-item Специалист-подолог с 5-летним стажем
            .info-list-item Получила образование в школе подологии «Вларус» на курсе «Основы подологии»
            .info-list-item Прошла авторский курс Русланы Даценко «Ортониксия, малая ортопедия и техники восстановления ногтей»
            .info-list-item Заняла 3-е место по классическому маникюру на Международном чемпионате по маникюру (2018 г.)
            .info-list-item Заняла 1-е место по классическому педикюру и 1-е место по мужскому маникюру на Всеукраинском чемпионате по маникюру (2019 г.) 
      .col-12.col-xl-6.metodist-block
        p.paragraph-text.extrabold.pb-3 Руслана Даценко
        p.paragraph-text.pb-4 Методист курса малой ортопедии и ортониксии
        .row.no-gutters.justify-content-between
          .col-12.col-sm-6.metodist-img
            img.w-100(src="assets/img/padalogy/learning/metodist-2.jpg", alt="")
          .col-12.col-sm-6.metodist-cnt
            .info-list-item Специалист-подолог с 16-летним стажем
            .info-list-item Руководитель центра здоровья ног Steffany
            .info-list-item Окончила Факультет подологии в университете UBA в Буэнос-Айресе
            .info-list-item Прошла более 20-ти программ обучения по подологии, малой ортопедии и ортониксии в Украине и Германии
            .info-list-item Прошла специальную подготовку по базовой поддержке жизни и анафилаксии
