section.section.about-network
  .container
    +breadcrumbs('Главная', 'Про Steffany', './about.html', 'Про Steffany', './steffany.html')
    img(src="assets/img/common/circles-with-hr.png" alt="Circles").circles
  .container.d-flex.flex-wrap
    .col-12.col-lg-6.owl-video-wrapper.order-1.order-lg-0
      .video.video-overlay
      a.video.d-flex.align-items-center.justify-content-center.shadow
        img.w-100(src="assets/img/about.png", alt="about-video")
        img(src="assets/icon/common/play-video.png" alt="Play video button").custom-play-btn
    .col-12.col-lg-6.d-flex.justify-content-center.flex-column.mt-sm-5.order-0.order-lg-1.mb-5.mb-lg-0
      h2.text-center.text-lg-left Про сеть Steffany Podology
      .dash.center
      p.text-color-dark.w-200.text-center.text-lg-left Steffany Podology — это всеукраинская сеть центров здоровья ног. К нам следует сразу обратиться с любым косметическим, дерматологическим или ортопедическим дефектом стопы.
      .row.no-gutters.justify-content-center.justify-content-lg-start
        a( target="_blank" href="https://www.instagram.com/steffany.podology/?hl=ru")
          img( src="assets/icon/instagram-bold.svg" alt="Instagram")
        a( target="_blank" href="https://www.facebook.com/steffany.podology/")
          img( src="assets/icon/facebook-bold.svg" alt="Facebook").ml-4
