extends ../layout/main

block content
  include ../sections/services/minorOrthopedics/about-orthopedics
  include ../sections/services/minorOrthopedics/symptoms
  include ../sections/services/minorOrthopedics/orthopedics-symptoms
  include ../sections/services/minorOrthopedics/treatment-services
  include ../sections/services/minorOrthopedics/disease-treatment
  include ../sections/services/minorOrthopedics/safe-treatment
  +FAQ('Поширені запитання', 'Прочитайте, про що запитують наші пацієнти з приводу малої ортопедії', [
    {
      title: 'У дитинстві мені сказали, що у мене плоскостопість. Мені потрібні ваші послуги?',
      body : 'Вроджена (справжня) плоскостопість і функціональна плоскостопість — це два різних діагноза. У 97% випадків при плосковальгусній стопі вдається поставити стопу в нормальне положення за допомогою устілок. Вони вирівнюють і стабілізують становище голеностопа і навіть колін, дають можливість організму виробити природну перебудову і відкоригувати положення тазостегнових суглобів і таза в цілому. Вам варто прийти на консультацію до нашого центру на діагностику. Після неї спеціаліст зможе повідомити вам, у якому стані знаходяться ваші стопи і які види корекції допоможуть полегшити ваш стан.'
    },
    {
      title: 'Я веду здоровий спосіб життя і регулярно займаюся спортом. Іноді стопи болять. Мені потрібно звертатися до вас?',
      body : 'Спортсмени і особливо бігуни — одна із груп ризику в області деформацій стоп. Коли стопа здорова і правильно поставлена, при фізичних навантаженнях вона амортизує хребет. Якщо ж стопа в неправильному положенні, кожен стрибок або удар об землю при бігу приходиться на весь опорно-руховий апарат. Це дуже велике навантаження. Обов\'язково приходьте до нас, щоб ми виготовили вам індивідуальні устілки для правильного положення стоп, що володіють властивостями підвищеної амортизації і поглинання ударів. Такі устілки дають необхідну підтримку стопам в місцях найбільшого навантаження в залежності від виду спорту (теніс, біг, стрибки, велосипед та ін.).'
    },
    {
      title: 'Як довго потрібно носити устілки?',
      body : 'Все залежить від вашої ситуації і терміну, призначеного вам спеціалістом.'
    }
  ], true, 1)
  include ../sections/services/minorOrthopedics/slider-bottom-section

