.info-block.info-block-7.info-block-7-2.info-block-7-15.error-block
	.container.container-info
		.row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
			.row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
				.col.col-info.order-1.no-bg-blk
					h2.section-title.light-darkbrown-text.mb-11 Эта страница не найдена
					p.thin-text.light-darkbrown-text.fs-20.mb-30 Проверьте правильность адреса, или нажмите на любую ссылку снизу:
					ul.info-list.info-list-purple
						li.mb-20
							a.p-text.p-bold.light-purple-text(href="./") Перейти на Главную
						li.mb-20
							a.p-text.p-bold.light-purple-text(href="./salonPage.html") Почитать про сеть салонов Steffany
						li.mb-20
							a.p-text.p-bold.light-purple-text(href="./salonPage.html") Узнать о акциях салона
						li.mb-20
							a.p-text.p-bold.light-purple-text(href="./serviceNailExtension.html") Почитать о наращивании ногтей
						li.mb-20
							a.p-text.p-bold.light-purple-text(href="./serviceNailsManicure.html") Почитать о маникюре
						li.mb-20
							a.p-text.p-bold.light-purple-text(href="./serviceNailsPedicure.html") Почитать о педикюре
				.col.col-img.order-2.mx-auto.mx-xl-0
					img.w-100(src="./assets/img/infoblock/item-78.jpg",	alt="item")
				span.big-text.d-none.d-xl-block ooops
