.info-block.info-block-7.info-block-7-2.info-block-7-15.error-block
	.container.container-info
		.row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
			.row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
				.col.col-info.order-1.no-bg-blk
					h2.section-title.light-darkbrown-text.mb-11 Ця сторінка не знайдена
					p.thin-text.light-darkbrown-text.fs-20.mb-30 Перевірте правильність адреси, або натисніть на будь-яке посилання знизу:
					ul.info-list.info-list-purple
						li.mb-20
							a.p-text.p-bold.light-purple-text(href="./") Перейти на Головну
						li.mb-20
							a.p-text.p-bold.light-purple-text(href="./about") Прочитать про мережу салонів Steffany
						li.mb-20
							a.p-text.p-bold.light-purple-text(href="./salon") Дізнатися про акції салону
						li.mb-20
							a.p-text.p-bold.light-purple-text(href="./naraschivanie-nogtei") Прочитати про нарощування нігтів
						li.mb-20
							a.p-text.p-bold.light-purple-text(href="./manikur") Прочитати про манікюр
						li.mb-20
							a.p-text.p-bold.light-purple-text(href="./pedikur") Прочитати про педикюр
				.col.col-img.order-2.mx-auto.mx-xl-0
					img.w-100(src="./assets/img/infoblock/item-78.jpg",	alt="item")
				span.big-text.d-none.d-xl-block ooops
