.section-service-block
	max-width: 885px

.section-services
	padding-top: 75px !important

	&.lightblue-bg
		.circles-bg
			background-position: center center !important

	.btn-wrapper
		margin-bottom: 75px !important

	.services-btn-container
		.btn-callback
			height: 50px !important

@media(min-width: 1200px)
	.lh-40
		line-height: 40px !important
	.legs-bg
		background: url('../assets/img/ingrownNail/legs-bg.jpg') !important
		background-repeat: no-repeat !important
		background-position: top left !important
		background-size: cover !important

@media(max-width: 767px)
	.container.circles-bg
		padding-left: 15px !important
		padding-right: 15px !important

		.treatment-price, .treatment-duration
			text-align: left !important

		.row
			margin: 0 !important

		//br
		//	display: none !important
	.section-service-block, .col-12, .container-fluid, .row
		padding-left: 0 !important
		padding-right: 0 !important
