mixin cnt-info
  .cnt-info.mt-4
    .d-flex.flex-wrap.mb-0
      .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
        img(src="assets/icon/phone.svg" alt="Phone").d-block.mr-3
        a.telephone-dynamic.paragraph-text.text-color-dark
      .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
        img(src="assets/icon/map.svg" alt="Map").d-block.mr-3
        p.address-dynamic.paragraph-text.text-color-dark.mb-0
    .d-flex.flex-wrap
      .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
        img(src="assets/icon/mail.svg" alt="Mail").d-block.mr-3
        a(href="mailto:info@steffany.ua").paragraph-text.text-color-dark info@steffany.ua
      .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
        img(src="assets/icon/time.svg" alt="Time").d-block.mr-3
        p.schedule-dynamic.paragraph-text.text-color-dark.mb-0
      .d-flex.mt-3.w-100
        .btn-callback(id="discount-call", data-toggle='modal', data-target='#appointmentModal' style='margin: auto')
          .text-section
            +phoneSvg
            span Перезвоните
          .arrow-section
            +arrowSvg
