header.pb-lg-3
  .container.container-m.d-flex.justify-content-between.align-items-center
    a.c-logo(href="./index.html")
      img.logo-header(src="assets/img/logo/header-logo.png" alt="Image Title")
    .row.c-row.w-100.no-gutter.d-flex.align-items-end.justify-content-start.flex-column.m-0
      ul.header-contact-list.d-flex.mb-0.mb-sm-3
        li.d-none.d-sm-flex.align-items-center.drop-menu
          img.icon.icon-loc(src="assets/icon/map.png" alt="h-map")
          span.link-text-light.d-flex.align-items-center.justify-content-start(href="#") Ивано-Франковск 
            img.icon-arrow(src="assets/icon/drop-arrow-down.png", alt="drop-arrow-down")
          ul.dropdown-menu-list.d-flex.flex-column
            li 
              a.nav-link-text(href="#") Ивано-Франковск2
            li 
              a.nav-link-text(href="#") Ивано-Франковск3
            li 
              a.nav-link-text(href="#") Ивано-Франковск4
            li 
              a.nav-link-text(href="#") Ивано-Франковск5
        li.d-none.d-sm-flex.align-items-center
          img.icon.icon-phone(src="assets/icon/phone.png" alt="h-map")
          a.link-text-light.d-flex.align-items-center.justify-content-start(href="tel:0980070753") 098 007 07 53
        li.d-none.d-lg-flex.align-items-center.header-lang-wrap.mr-0.drop-menu
          span.link-text-light.d-flex.align-items-center.justify-content-start.header-lang RU
          ul.dropdown-menu-list.d-flex.flex-column
            li 
              a.nav-link-text(href="#") UA
            li 
              a.nav-link-text(href="#") EN
        li.d-flex.d-lg-none.align-items-center.justify-content-between.menu-trigger.flex-column.m-0
          span.d-block.w-100
          span.d-block.w-100
          span.d-block.w-100
      .header-nav-wrap.d-flex.align-items-center.justify-content-end.justify-content-lg-between
        nav.header-nav.w-100.d-none.d-lg-block
          ul.header-nav-list.d-flex.align-items-center.justify-content-between.mb-0
            li.d-inline-flex.align-items-center.drop-menu
              span.p-text О нас
              img.icon-arrow(src="assets/icon/drop-arrow-down.png" alt="h-map")
              ul.dropdown-menu-list.d-flex.flex-column
                li
                  a.nav-link-text(href="./salonPage.html") Наши салоны
                li
                  a.nav-link-text(href="./about.html") О нас
                li
                  a.nav-link-text(href="./padology-learning.html") Падалогия обучение
                li
                  a.nav-link-text(href="#") Цены 5
            li.d-inline-flex.align-items-center.drop-menu
              span.p-text  Услуги и Цены
              img.icon-arrow(src="assets/icon/drop-arrow-down.png" alt="h-map")
              ul.dropdown-menu-list.d-flex.flex-column
                li
                  a.nav-link-text(href="./serviceHairdresser.html") Стрижка
                li
                  a.nav-link-text(href="./serviceNailExtension.html") Наращивание ногтей
                li
                  a.nav-link-text(href="./serviceNailsManicure.html") Маникюр
                li
                  a.nav-link-text(href="./serviceNailsPedicure.html") Педикиюр
                li
                  a.nav-link-text(href="./serviceРairСoloringAndCare.html") Окрашивание волос
                li
                  a.nav-link-text(href="./serviceEyebrows.html") Брови
                li
                  a.nav-link-text(href="./serviceMakeup.html") Макияж
                li
                  a.nav-link-text(href="./serviceSPA.html") СПА для рук
            li.d-inline-flex.align-items-center.mr-0
              a.p-text(href="./contact.html") Контакты
        a.btn-callback.d-none.d-sm-flex.align-items-center.justify-content-between(href="#")
          span.d-flex.align-items-center.justify-content-between
            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 12 12', style='enable-background:new 0 0 12 12;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#1B3EBF;}
              path.st0(d='M11.2,0.8c-1-1-2.7-1-3.7,0L0.6,7.6C0.6,7.7,0.5,7.8,0.5,7.8L0,11.6c0,0.1,0,0.2,0.1,0.3C0.2,12,0.3,12,0.3,12\
              c0,0,0,0,0,0l2.3-0.3c0.2,0,0.3-0.2,0.3-0.4c0-0.2-0.2-0.3-0.4-0.3l-1.8,0.2l0.4-2.6l2.8,2.8c0.1,0.1,0.2,0.1,0.2,0.1\
              c0.1,0,0.2,0,0.2-0.1l6.9-6.9C11.7,4,12,3.4,12,2.6C12,1.9,11.7,1.3,11.2,0.8z M7.6,1.6l1.2,1.2L2.5,9L1.3,7.9L7.6,1.6z M4.1,10.7\
              L3,9.5l6.3-6.3l1.1,1.1L4.1,10.7z M10.9,3.9L8.1,1.1c0.4-0.3,0.8-0.4,1.2-0.4c0.5,0,1,0.2,1.4,0.6c0.4,0.4,0.6,0.9,0.6,1.4\
              C11.3,3.1,11.2,3.5,10.9,3.9z')
            span записаться
          svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
            style(type='text/css').
              .st0{fill:#D11111;}
            path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
            C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')


        



