header.mt-2.mb-2.mb-lg-0
  .container.d-flex.justify-content-right.align-items-center
    a.c-logo(href="./" style="margin-right: auto;")
      svg(width='152', height='88', viewbox='0 0 152 88', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M26.2548 5.58365C25.0836 6.78176 24.3755 7.84372 24.1032 8.57892C18.7923 2.56115 9.34168 2.61561 4.19422 7.32635C2.45117 8.90568 1.19835 11.0296 0.762586 13.6164C-0.953233 23.6097 10.7034 27.4764 17.8391 31.7514C28.4336 38.7495 19.0374 49.7503 7.2718 43.1335C3.18652 40.8462 2.15158 37.4969 1.28006 33.2491C1.30729 32.7317 0.871527 32.5956 0 32.8406V47.0273H1.14388C1.33453 45.448 1.98817 44.6583 3.13205 44.6856C4.60275 45.0668 6.18239 45.4752 7.78927 46.1287C13.5087 48.4433 20.5081 48.0076 24.5662 44.3043C30.0132 39.3485 28.8421 30.635 22.4691 26.7684C17.8935 23.991 13.2091 21.4858 8.63356 18.6812C3.07758 14.6239 4.82063 8.11601 11.6022 7.16297C17.8391 6.29162 22.3874 11.5742 24.8113 16.5572C25.1926 17.5103 25.4377 17.7826 25.5194 17.3741C25.247 13.5347 25.6283 9.0146 29.2779 6.86345C33.4993 4.35831 38.4561 7.57142 38.0204 13.6164C37.7208 18.1366 34.2891 23.637 30.1766 25.7881V26.1149H33.5538V42.6433C33.7717 48.3071 41.7244 48.1165 43.1951 42.1532C43.3312 41.6086 42.3235 42.1532 42.3235 42.1532C40.6077 44.7128 37.5029 44.74 37.5029 41.2546C37.4757 31.2341 37.5029 26.0604 37.5029 26.0604H42.4869C42.4869 24.9985 42.4869 24.4811 42.4869 24.4811C39.137 24.4811 37.4757 24.4811 37.4757 24.4811C37.4757 21.9487 37.4757 20.6689 37.4757 20.6689C39.0281 18.0821 40.4443 14.5967 40.4171 11.5742C40.3898 9.2052 39.5728 6.94514 37.5574 5.25689C34.3436 2.53392 29.2506 2.56115 26.2548 5.58365Z', fill='#4D5259')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M57.875 31.9149C57.875 31.9149 54.5523 31.9149 47.8797 31.9149C49.2142 24.0455 57.6843 24.699 57.875 31.9149ZM47.8797 33.4125C57.875 33.3036 62.8863 33.3308 62.8863 33.3308C62.3688 27.8032 59.7542 24.8351 55.0425 24.5901C41.0436 24.5084 41.3432 45.6659 52.6186 47.2997C56.8401 47.926 61.3883 45.3119 62.7773 38.9129C62.3416 38.5589 62.1237 38.3956 62.1237 38.3956C60.7347 42.4256 57.9022 44.0321 53.5991 43.188C49.6772 41.5542 47.7707 38.3139 47.8797 33.4125Z', fill='#4D5259')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M70.9483 26.8229H78.084V40.9824C78.084 44.5222 77.0218 45.7748 74.38 45.7476C71.7109 45.7203 70.9211 44.4405 70.9211 41.2819C70.9483 36.4622 70.9483 31.6426 70.9483 26.8229ZM70.9483 6.91795C70.5671 0.709575 75.6873 0.0560614 79.0644 4.93018C78.3291 6.8635 78.1929 7.97991 78.084 11.1113V24.9985C73.3178 24.9985 70.9483 24.9985 70.9483 24.9985C70.9483 12.963 70.9483 6.91795 70.9483 6.91795ZM92.7638 2.72458C89.2232 -0.706372 85.383 -0.89698 81.2705 2.15275C79.0917 0.21944 76.5588 -0.379615 73.6446 0.355588C69.3687 1.58093 67.1354 4.68512 66.9448 9.66816V25.053H62.8867V26.8501H66.9448V43.5147C66.7541 44.9851 65.4741 45.7476 63.0774 45.7476V46.5372H86.9899C86.9899 45.9654 86.9899 45.6659 86.9899 45.6659C83.9123 45.9382 82.2782 45.1757 82.142 43.3241V26.8229H87.4529V25.0257H82.142V9.74985C81.9786 4.93018 82.6867 2.31613 84.2936 1.90768C85.9277 1.49924 87.0716 1.90768 87.698 3.13302C88.5695 5.14802 89.7134 6.12829 91.1024 6.07383C93.0089 5.71985 93.5536 4.60343 92.7638 2.72458Z', fill='#4D5259')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M100.361 34.1197C100.416 39.484 100.416 42.1797 100.416 42.1797C97.6923 44.3853 93.9066 46.482 92.5176 41.6896C91.2376 37.3328 96.9569 35.345 100.361 34.1197ZM100.361 43.8135C97.0931 46.836 91.2648 49.5862 88.6774 44.0858C87.6153 41.8257 88.4596 38.7487 91.1558 36.8699C93.1985 35.4539 96.2761 34.0108 100.307 32.5131C100.416 30.4981 100.47 27.5573 98.3459 26.5498C95.7858 25.3517 92.9534 26.7132 93.1713 29.8174C93.4436 33.9291 88.3506 33.1394 89.3311 29.1094C90.2843 25.1883 95.6224 24.4804 98.9996 24.8343C102.785 25.2156 104.419 27.0672 104.365 31.4784V39.7835C104.365 40.6821 104.229 43.5684 104.991 44.113C105.972 44.821 107.415 42.9966 108.014 42.3703V43.7318C107.034 45.4473 104.174 47.9796 102.023 47.1355C100.933 46.7543 100.389 45.5017 100.361 43.8135Z', fill='#4D5259')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M108.016 27.2035C108.315 27.8026 108.451 28.1021 108.451 28.1021C108.451 28.1021 108.751 27.9387 109.35 27.7753C110.657 27.4214 111.447 28.1293 111.638 29.8176C111.638 29.8176 111.638 34.011 111.665 42.3705C111.665 44.0587 111.311 44.7667 110.657 45.3385C110.085 45.8287 109.323 45.747 108.261 45.8014V46.7H119.073C119.073 46.7 119.073 46.4005 119.073 45.8014C117.902 45.8831 116.976 45.6925 116.377 45.2568C115.805 44.8484 115.56 43.7864 115.587 42.1254C115.587 42.1254 115.587 38.286 115.587 30.58C116.35 29.7359 117.303 28.9462 118.392 28.2382C119.727 27.4758 121.034 27.2852 122.26 27.6664C124.602 28.4016 124.547 31.7237 124.493 33.6842C124.493 33.6842 124.547 36.8973 124.493 43.3507C124.493 45.1207 123.267 45.9376 120.98 45.8014V46.6455H131.683C131.683 46.6455 131.683 46.3732 131.683 45.8014C129.45 46.0737 128.388 44.9573 128.415 42.4794C128.415 42.4794 128.415 39.0485 128.442 32.1593C128.524 29.981 128.061 27.3397 126.318 25.7876C122.777 22.6017 117.984 26.1688 115.56 29.0824C115.56 29.0824 115.56 27.5847 115.56 24.5895C115.56 24.5895 115.178 24.5895 114.416 24.5895C114.443 24.5622 112.292 25.4336 108.016 27.2035Z', fill='#4D5259')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M145.081 25.0527C145.109 25.6518 145.109 25.9513 145.109 25.9513C147.424 25.9241 147.696 26.8227 146.824 29.0283C146.824 29.0283 145.218 32.8949 142.004 40.6281C142.004 40.6281 140.397 37.1427 136.993 30.2536C135.876 28.0208 135.222 25.9241 138.627 25.8969C138.627 25.8969 138.627 25.6246 138.627 25.08C138.627 25.08 135.331 25.08 128.74 25.08V25.9785C130.211 26.1419 131.545 27.449 132.689 29.8996C132.689 29.8996 135.195 35.046 140.206 45.3661C138.681 50.0224 137.074 52.4186 135.386 52.582C135.004 52.3914 134.133 51.9829 132.717 51.7106C130.865 51.3567 129.557 52.228 129.693 53.9707C129.884 56.2308 131.818 57.0477 134.596 56.2036C136.72 55.55 138.354 53.889 139.607 51.6017C139.607 51.6017 142.794 43.8957 149.139 28.4837C149.739 26.8771 150.692 26.0058 151.999 25.8969C151.999 25.8969 151.999 25.6246 151.999 25.0527C152.026 25.0527 149.711 25.0527 145.081 25.0527Z', fill='#4D5259')
        path(d='M49.1378 70.7171V64.1274C49.8185 64.0959 50.4551 64.0801 51.0476 64.0801C51.7787 64.0801 52.3239 64.2251 52.6832 64.515C53.0425 64.8049 53.2221 65.2052 53.2221 65.7157C53.2221 66.428 52.9069 66.929 52.2766 67.219V67.2379C52.6359 67.3324 52.9195 67.5121 53.1275 67.7768C53.3355 68.0352 53.4395 68.3693 53.4395 68.779C53.4395 69.4219 53.2189 69.9135 52.7777 70.2538C52.3365 70.5942 51.7377 70.7644 50.9814 70.7644C50.225 70.7644 49.6105 70.7486 49.1378 70.7171ZM51.1232 67.8808H50.3007V69.6299C50.5969 69.6614 50.8522 69.6771 51.0665 69.6771C51.8733 69.6771 52.2766 69.3588 52.2766 68.7222C52.2766 68.4449 52.1758 68.2369 51.9741 68.0982C51.7724 67.9533 51.4888 67.8808 51.1232 67.8808ZM51.0287 65.1674C50.7513 65.1674 50.5087 65.1768 50.3007 65.1957V66.8692H51.0854C51.3816 66.8692 51.618 66.7935 51.7945 66.6423C51.9773 66.491 52.0686 66.2735 52.0686 65.9899C52.0686 65.7252 51.9773 65.5235 51.7945 65.3848C51.6117 65.2399 51.3564 65.1674 51.0287 65.1674ZM66.46 70.7266H62.5365V64.1085H66.3655V65.1957H63.6994V66.8408H66.0819V67.9281H63.6994V69.6393H66.46V70.7266ZM75.8596 70.7266H74.6872L77.4857 64.0896H78.5068L81.3053 70.7266H80.0668L79.3766 69.0342H76.5497L75.8596 70.7266ZM78.9323 67.947L77.9679 65.5928L76.9941 67.947H78.9323ZM94.0578 64.1085H95.2113V67.9848C95.2113 68.9365 94.9623 69.6488 94.4644 70.1215C93.9601 70.5942 93.333 70.8306 92.583 70.8306C91.7321 70.8306 91.0482 70.5816 90.5313 70.0837C90.0208 69.5857 89.7655 68.864 89.7655 67.9186V64.1085H90.9284V67.6728C90.9284 68.3283 91.0671 68.8388 91.3444 69.2044C91.6281 69.5637 92.0409 69.7433 92.583 69.7433C93.5662 69.7433 94.0578 69.0783 94.0578 67.7484V64.1085ZM105.847 65.1957H103.701V64.1085H109.156V65.1957H107.01V70.7266H105.847V65.1957ZM121.453 64.1085H122.711L120.357 67.9659V70.7266H119.194V67.9659L116.859 64.1085H118.182L119.827 66.8786L121.453 64.1085Z', fill='#4D5259')
        line(x1='35.878', y1='79.2402', x2='35.878', y2='52.978', stroke='#4D5259', stroke-width='0.525245')
    .d-flex.align-items-center.mr-2#ultraFastFeature
      p.d-flex.align-items-center.mb-0.text-right.text-color-lightdark-header(style='font-size: 14px; font-family: Circe, sans-serif;')
        svg.icon.icon-loc(width="13" height="18", viewBox='0 0 11 14', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(d='M5.33329 0.292969C2.57654 0.292969 0.333496 2.49509 0.333496 5.20182C0.333496 5.90784 0.480688 6.58193 0.770762 7.20553C2.02085 9.89111 4.41761 12.7265 5.12258 13.5315C5.17539 13.5916 5.25239 13.6263 5.33343 13.6263C5.41446 13.6263 5.49146 13.5916 5.54428 13.5315C6.24896 12.7267 8.64573 9.89138 9.89623 7.20553C10.1864 6.58193 10.3335 5.90784 10.3335 5.20182C10.3332 2.49509 8.09018 0.292969 5.33329 0.292969ZM5.33329 7.75149C3.90126 7.75149 2.7361 6.60758 2.7361 5.20168C2.7361 3.79564 3.90126 2.65174 5.33329 2.65174C6.76531 2.65174 7.93048 3.79564 7.93048 5.20168C7.93062 6.60758 6.76545 7.75149 5.33329 7.75149Z', fill='#3A405B' style='fill: rgb(58, 64, 91) !important;')
          span(style='margin-top: 2px;')#mobTrigger.city-dynamic
        svg.icon.icon-arrow(width='13', height='7', viewBox='0 0 13 7', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd', clip-rule='evenodd', d='M5.16693 6.68549L0.314506 1.83307C-0.104835 1.41373 -0.104835 0.733846 0.314506 0.314506C0.733846 -0.104835 1.41373 -0.104835 1.83307 0.314506L6.18447 4.66591L10.5359 0.314506C10.9552 -0.104835 11.6351 -0.104835 12.0544 0.314506C12.4738 0.733846 12.4738 1.41373 12.0544 1.83307L7.20202 6.68549C6.92614 6.96137 6.53751 7.05575 6.18447 6.96864C5.83144 7.05575 5.4428 6.96137 5.16693 6.68549Z', fill='white')
        ul#selectCityDropdownHeader1.select-city-dropdown.dropdown-menu-list.d-flex.flex-column(style="right: 12%;transform: none; left: unset;")
          li
            span.nav-link-text.paragraph-text.text-color-lightdark-header(data-city="zt") Житомир
          li
            span.nav-link-text.paragraph-text.text-color-lightdark-header(data-city="rv") Ровно
    .row.no-gutters.mob-menu.c-row.w-100.justify-content-md-end
      .col-12.col-md-7.header-nav-wrap.order-md-2.d-flex.justify-content-end.desktop-menu-hide
        nav.header-nav.w-100.d-flex
          ul.header-nav-list.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-between.mb-0.p-0
            li.d-inline-flex.align-items-center.justify-content-center.flex-row.flex-wrap.drop-menu.mb-4.mb-xl-0
              span.paragraph-text.text-color-lightdark-header О нас
              svg.icon.icon-arrow(width='13', height='7', viewBox='0 0 13 7', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M5.16693 6.68549L0.314506 1.83307C-0.104835 1.41373 -0.104835 0.733846 0.314506 0.314506C0.733846 -0.104835 1.41373 -0.104835 1.83307 0.314506L6.18447 4.66591L10.5359 0.314506C10.9552 -0.104835 11.6351 -0.104835 12.0544 0.314506C12.4738 0.733846 12.4738 1.41373 12.0544 1.83307L7.20202 6.68549C6.92614 6.96137 6.53751 7.05575 6.18447 6.96864C5.83144 7.05575 5.4428 6.96137 5.16693 6.68549Z', fill='white')
              ul.dropdown-menu-list.d-flex.flex-column
                li.mb-2.mb-lg-0
                  a.nav-link-text.paragraph-text.text-color-lightdark-header(href="./about") Про Steffany
                li.mb-2.mb-lg-0
                  a.nav-link-text.paragraph-text.text-color-lightdark-header(href="./salon") Про салон
            li.d-inline-flex.align-items-center.justify-content-center.flex-row.flex-wrap.drop-menu.mb-4.mb-xl-0
              span.paragraph-text.text-color-lightdark-header  Услуги и цены
              svg.icon.icon-arrow(width='13', height='7', viewBox='0 0 13 7', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M5.16693 6.68549L0.314506 1.83307C-0.104835 1.41373 -0.104835 0.733846 0.314506 0.314506C0.733846 -0.104835 1.41373 -0.104835 1.83307 0.314506L6.18447 4.66591L10.5359 0.314506C10.9552 -0.104835 11.6351 -0.104835 12.0544 0.314506C12.4738 0.733846 12.4738 1.41373 12.0544 1.83307L7.20202 6.68549C6.92614 6.96137 6.53751 7.05575 6.18447 6.96864C5.83144 7.05575 5.4428 6.96137 5.16693 6.68549Z', fill='white')
              ul.dropdown-menu-list.d-flex.flex-column
                li.mb-2.mb-lg-0
                  a.nav-link-text.paragraph-text-dark(href="./manikur") Маникюр
                li.mb-2.mb-lg-0
                  a.nav-link-text.paragraph-text-dark(href="./naraschivanie-nogtei") Наращивание ногтей
                li.mb-2.mb-lg-0
                  a.nav-link-text.paragraph-text-dark(href="./pedikur") Педикюр
                li.mb-2.mb-lg-0
                  a.nav-link-text.paragraph-text-dark(href="./strizhki") Стрижка и прически
                li.mb-2.mb-lg-0
                  a.nav-link-text.paragraph-text-dark(href="./modelirovanie-i-okrashivanie-brovei") Брови
                li.mb-2.mb-lg-0
                  a.nav-link-text.paragraph-text-dark(href="./okrashivanie-volos") Окрашивание волос
                li.mb-2.mb-lg-0(data-not-available-rovno)
                  a.nav-link-text.paragraph-text-dark(href="./professionalnyi-makiyazh") Макияж
                li.mb-2.mb-lg-0
                  a.nav-link-text.paragraph-text-dark(href="./spa-dlya-ruk") СПА для рук
            li.d-inline-flex.align-items-center.mr-0.li-contact
              a.paragraph-text.text-color-lightdark-header(href="./contact") Контакты
            li.d-inline-flex.align-items-center.mr-0.d-md-none.py-4
              +btnCallback('записаться')
            li.d-flex.align-items-center.mr-0.d-md-none.flex-column
              span.link-text-light.d-flex.align-items-center.justify-content-start.text-color-lightdark-header(href="#")
                svg.icon.icon-loc(width="13" height="18", viewBox='0 0 11 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(d='M5.33329 0.292969C2.57654 0.292969 0.333496 2.49509 0.333496 5.20182C0.333496 5.90784 0.480688 6.58193 0.770762 7.20553C2.02085 9.89111 4.41761 12.7265 5.12258 13.5315C5.17539 13.5916 5.25239 13.6263 5.33343 13.6263C5.41446 13.6263 5.49146 13.5916 5.54428 13.5315C6.24896 12.7267 8.64573 9.89138 9.89623 7.20553C10.1864 6.58193 10.3335 5.90784 10.3335 5.20182C10.3332 2.49509 8.09018 0.292969 5.33329 0.292969ZM5.33329 7.75149C3.90126 7.75149 2.7361 6.60758 2.7361 5.20168C2.7361 3.79564 3.90126 2.65174 5.33329 2.65174C6.76531 2.65174 7.93048 3.79564 7.93048 5.20168C7.93062 6.60758 6.76545 7.75149 5.33329 7.75149Z', fill='#3A405B')
                span#cityHeader1.city-dynamic.paragraph-text.text-color-dark Житомир
                svg#specArrow.icon.icon-arrow(width='13', height='7', viewBox='0 0 13 7', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M5.16693 6.68549L0.314506 1.83307C-0.104835 1.41373 -0.104835 0.733846 0.314506 0.314506C0.733846 -0.104835 1.41373 -0.104835 1.83307 0.314506L6.18447 4.66591L10.5359 0.314506C10.9552 -0.104835 11.6351 -0.104835 12.0544 0.314506C12.4738 0.733846 12.4738 1.41373 12.0544 1.83307L7.20202 6.68549C6.92614 6.96137 6.53751 7.05575 6.18447 6.96864C5.83144 7.05575 5.4428 6.96137 5.16693 6.68549Z', fill='white')
              ul#selectCityDropdownHeader2
                li(data-city="zt")
                  span.nav-link-text.paragraph-text.text-color-lightdark-header(data-city="zt") Житомир
                li(data-city="rv")
                  span.nav-link-text.paragraph-text.text-color-lightdark-header(data-city="rv") Ровно
              li.d-flex.d-md-none.d-flex.justify-content-center.mr-0.mr-md-4.align-items-center
                svg.icon.icon-phone(width='14', height='14', viewBox='0 0 14 14', fill='#3A405B', xmlns='http://www.w3.org/2000/svg')
                  path(d='M9.54627 7.29303C9.52035 7.33287 9.52035 7.37271 9.50739 7.42583C9.49444 7.59848 9.62401 7.75785 9.79246 7.77113C9.96092 7.78441 10.1164 7.65161 10.1294 7.47896C10.1294 7.43911 10.1294 7.39927 10.1423 7.33287C10.1423 7.26646 10.1423 7.22662 10.1423 7.18678C10.1423 6.80164 10.0775 6.42978 9.96092 6.0712C9.80542 5.60638 9.53331 5.19467 9.20936 4.84937C8.80767 4.43767 8.31528 4.1455 7.75809 3.98613C7.49893 3.91973 7.21386 3.87988 6.94175 3.87988C6.85104 3.87988 6.76034 3.87988 6.65668 3.89316C6.56597 3.90644 6.47527 3.91972 6.38456 3.93301C6.21611 3.95957 6.09949 4.13222 6.13836 4.29158C6.16428 4.46423 6.33273 4.58376 6.48822 4.54392C6.56597 4.53064 6.63076 4.51736 6.70851 4.51736C6.72147 4.51736 6.73442 4.51736 6.74738 4.51736C6.81217 4.51736 6.87696 4.50408 6.94175 4.50408C7.65443 4.50408 8.31528 4.79625 8.78176 5.28764C9.24824 5.76574 9.53331 6.4165 9.54627 7.14694V7.1735C9.54627 7.22662 9.54627 7.26646 9.54627 7.29303Z', fill='#3A405B')
                  path(d='M11.2567 7.58542C11.2437 7.75807 11.3733 7.91744 11.5417 7.93072C11.7102 7.944 11.8657 7.81119 11.8786 7.63854C11.8916 7.49246 11.8916 7.34637 11.8916 7.20028C11.8916 6.90811 11.8657 6.62921 11.8268 6.35032C11.6583 5.28786 11.153 4.33165 10.4403 3.60121C9.62397 2.76452 8.53551 2.22002 7.33044 2.12705C7.20086 2.11377 7.05832 2.11377 6.92874 2.11377C6.78621 2.11377 6.64367 2.11377 6.50114 2.12705C6.3586 2.14033 6.21606 2.15361 6.07353 2.18017C5.90508 2.20673 5.78846 2.37938 5.82733 2.53875C5.85324 2.7114 6.0217 2.83093 6.17719 2.79109C6.2679 2.7778 6.34564 2.76452 6.43635 2.75124C6.47522 2.75124 6.51409 2.73796 6.55297 2.73796C6.68254 2.72468 6.81212 2.72468 6.92874 2.72468C7.36931 2.72468 7.78396 2.79109 8.18565 2.91061C8.88537 3.1231 9.50735 3.50824 10.0127 4.02619C10.4274 4.45117 10.7643 4.96912 10.9845 5.52691C11.1789 6.03158 11.2955 6.58937 11.2955 7.17372C11.2955 7.21356 11.2955 7.26668 11.2955 7.30653C11.2696 7.41277 11.2567 7.49246 11.2567 7.58542Z', fill='#3A405B')
                  path(d='M11.6974 2.32638C10.4664 1.06471 8.78193 0.294434 6.916 0.294434C6.72163 0.294434 6.52727 0.307714 6.3329 0.320995C6.13853 0.334276 5.94416 0.360837 5.7498 0.400679C5.58135 0.427241 5.46473 0.59989 5.5036 0.759258C5.52951 0.931908 5.69797 1.05143 5.85346 1.01159C5.94416 0.998311 6.02191 0.98503 6.11262 0.97175C6.20332 0.958469 6.29403 0.945188 6.38473 0.945188C6.56614 0.931908 6.73459 0.918627 6.916 0.918627C8.60052 0.918627 10.1295 1.6225 11.2439 2.75136C12.3453 3.88022 13.0321 5.44735 13.0321 7.18712C13.0321 7.28009 13.0321 7.38633 13.0321 7.4793C13.0321 7.55898 13.0191 7.63867 13.0191 7.73163C13.0062 7.90428 13.1358 8.06365 13.3042 8.07693C13.4727 8.09021 13.6281 7.9574 13.6411 7.78475C13.6541 7.58554 13.667 7.38633 13.667 7.2004C13.667 5.30126 12.9155 3.57477 11.6974 2.32638Z', fill='#3A405B')
                  path(d='M13.1875 10.3741L10.894 9.11246C10.1294 8.68747 10.1035 8.96637 9.30015 9.84289C9.10578 10.0554 8.74296 10.6132 8.31536 10.5069C7.42127 10.2812 5.74971 8.93981 5.20548 8.32889C4.94632 8.03672 3.83195 6.64224 3.81899 6.1907C3.79308 5.5001 5.27027 5.1548 4.79083 3.84002L3.76716 1.48933C2.80828 -0.768389 0.126017 2.84396 0.346299 4.53061C0.916443 8.68747 8.03028 15.4075 11.9954 13.1896C12.8765 12.685 14.0686 10.9186 13.1875 10.3741Z', fill='#3A405B')
                a#telephoneHeader1.telephone-dynamic.paragraph-text.link-text-light.d-flex.align-items-center.justify-content-start.text-color-lightdark-header.py-4
              li.d-flex.d-md-none.align-items-center.header-lang-wrap.mr-0.drop-menu.flex-column
                span.paragraph-text.text-color-dark.link-text-light.d-flex.align-items-center.justify-content-start.header-lang
                  | RU
                  svg.icon.icon-arrow(width='13', height='7', viewBox='0 0 13 7', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M5.16693 6.68549L0.314506 1.83307C-0.104835 1.41373 -0.104835 0.733846 0.314506 0.314506C0.733846 -0.104835 1.41373 -0.104835 1.83307 0.314506L6.18447 4.66591L10.5359 0.314506C10.9552 -0.104835 11.6351 -0.104835 12.0544 0.314506C12.4738 0.733846 12.4738 1.41373 12.0544 1.83307L7.20202 6.68549C6.92614 6.96137 6.53751 7.05575 6.18447 6.96864C5.83144 7.05575 5.4428 6.96137 5.16693 6.68549Z', fill='white')
                ul.dropdown-menu-list.d-flex.flex-column
                  li
                    a.drop-menu.nav-link-text.paragraph-text.text-color-lightdark-header.header-lang.text-color-dark(data-i18n='ua') UA
                  li
                    a.drop-menu.nav-link-text.paragraph-text.text-color-lightdark-header.header-lang.text-color-dark(data-i18n='ru') RU
              li.d-none.d-md-flex.d-xl-none.align-items-center.justify-content-between.menu-trigger.flex-column.m-0
                span.d-block.w-100
                span.d-block.w-100
                span.d-block.w-100
      .col-12.col-md-5.nav-callback.order-md-3.d-none.d-md-block.desktop-menu-hide
        a.ms_booking
          +btnCallback('записаться')
      .col-12.header-contact-list-wrap.order-md-1.d-none.d-md-block.desktop-menu-hide
        ul.header-contact-list.d-flex.flex-column.flex-md-row.align-item-center.justify-content-end
          li.d-flex.flex-wrap.flex-md-nowrap.justify-content-center.mb-4.mb-md-0.mr-0.mr-md-3.align-items-center.drop-menu
            svg.icon.icon-loc(width="13" height="18", viewBox='0 0 11 14', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M5.33329 0.292969C2.57654 0.292969 0.333496 2.49509 0.333496 5.20182C0.333496 5.90784 0.480688 6.58193 0.770762 7.20553C2.02085 9.89111 4.41761 12.7265 5.12258 13.5315C5.17539 13.5916 5.25239 13.6263 5.33343 13.6263C5.41446 13.6263 5.49146 13.5916 5.54428 13.5315C6.24896 12.7267 8.64573 9.89138 9.89623 7.20553C10.1864 6.58193 10.3335 5.90784 10.3335 5.20182C10.3332 2.49509 8.09018 0.292969 5.33329 0.292969ZM5.33329 7.75149C3.90126 7.75149 2.7361 6.60758 2.7361 5.20168C2.7361 3.79564 3.90126 2.65174 5.33329 2.65174C6.76531 2.65174 7.93048 3.79564 7.93048 5.20168C7.93062 6.60758 6.76545 7.75149 5.33329 7.75149Z', fill='#3A405B')
            span.link-text-light.d-flex.align-items-center.justify-content-start.text-color-lightdark-header(href="#")
              span#cityHeader.city-dynamic.paragraph-text.text-color-dark Житомир
              svg.icon.icon-arrow(width='13', height='7', viewBox='0 0 13 7', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M5.16693 6.68549L0.314506 1.83307C-0.104835 1.41373 -0.104835 0.733846 0.314506 0.314506C0.733846 -0.104835 1.41373 -0.104835 1.83307 0.314506L6.18447 4.66591L10.5359 0.314506C10.9552 -0.104835 11.6351 -0.104835 12.0544 0.314506C12.4738 0.733846 12.4738 1.41373 12.0544 1.83307L7.20202 6.68549C6.92614 6.96137 6.53751 7.05575 6.18447 6.96864C5.83144 7.05575 5.4428 6.96137 5.16693 6.68549Z', fill='white')
            ul#selectCityDropdownHeader.select-city-dropdown.dropdown-menu-list.d-flex.flex-column
              li
                span.nav-link-text.paragraph-text.text-color-lightdark-header(data-city="zt") Житомир
              li
                span.nav-link-text.paragraph-text.text-color-lightdark-header(data-city="rv") Ровно
          li.d-flex.justify-content-center.mr-0.mr-md-4.align-items-center
            svg.icon.icon-phone(width='14', height='14', viewBox='0 0 14 14', fill='#3a405b', xmlns='http://www.w3.org/2000/svg')
              path(d='M9.54627 7.29303C9.52035 7.33287 9.52035 7.37271 9.50739 7.42583C9.49444 7.59848 9.62401 7.75785 9.79246 7.77113C9.96092 7.78441 10.1164 7.65161 10.1294 7.47896C10.1294 7.43911 10.1294 7.39927 10.1423 7.33287C10.1423 7.26646 10.1423 7.22662 10.1423 7.18678C10.1423 6.80164 10.0775 6.42978 9.96092 6.0712C9.80542 5.60638 9.53331 5.19467 9.20936 4.84937C8.80767 4.43767 8.31528 4.1455 7.75809 3.98613C7.49893 3.91973 7.21386 3.87988 6.94175 3.87988C6.85104 3.87988 6.76034 3.87988 6.65668 3.89316C6.56597 3.90644 6.47527 3.91972 6.38456 3.93301C6.21611 3.95957 6.09949 4.13222 6.13836 4.29158C6.16428 4.46423 6.33273 4.58376 6.48822 4.54392C6.56597 4.53064 6.63076 4.51736 6.70851 4.51736C6.72147 4.51736 6.73442 4.51736 6.74738 4.51736C6.81217 4.51736 6.87696 4.50408 6.94175 4.50408C7.65443 4.50408 8.31528 4.79625 8.78176 5.28764C9.24824 5.76574 9.53331 6.4165 9.54627 7.14694V7.1735C9.54627 7.22662 9.54627 7.26646 9.54627 7.29303Z', fill='#3A405B')
              path(d='M11.2567 7.58542C11.2437 7.75807 11.3733 7.91744 11.5417 7.93072C11.7102 7.944 11.8657 7.81119 11.8786 7.63854C11.8916 7.49246 11.8916 7.34637 11.8916 7.20028C11.8916 6.90811 11.8657 6.62921 11.8268 6.35032C11.6583 5.28786 11.153 4.33165 10.4403 3.60121C9.62397 2.76452 8.53551 2.22002 7.33044 2.12705C7.20086 2.11377 7.05832 2.11377 6.92874 2.11377C6.78621 2.11377 6.64367 2.11377 6.50114 2.12705C6.3586 2.14033 6.21606 2.15361 6.07353 2.18017C5.90508 2.20673 5.78846 2.37938 5.82733 2.53875C5.85324 2.7114 6.0217 2.83093 6.17719 2.79109C6.2679 2.7778 6.34564 2.76452 6.43635 2.75124C6.47522 2.75124 6.51409 2.73796 6.55297 2.73796C6.68254 2.72468 6.81212 2.72468 6.92874 2.72468C7.36931 2.72468 7.78396 2.79109 8.18565 2.91061C8.88537 3.1231 9.50735 3.50824 10.0127 4.02619C10.4274 4.45117 10.7643 4.96912 10.9845 5.52691C11.1789 6.03158 11.2955 6.58937 11.2955 7.17372C11.2955 7.21356 11.2955 7.26668 11.2955 7.30653C11.2696 7.41277 11.2567 7.49246 11.2567 7.58542Z', fill='#3A405B')
              path(d='M11.6974 2.32638C10.4664 1.06471 8.78193 0.294434 6.916 0.294434C6.72163 0.294434 6.52727 0.307714 6.3329 0.320995C6.13853 0.334276 5.94416 0.360837 5.7498 0.400679C5.58135 0.427241 5.46473 0.59989 5.5036 0.759258C5.52951 0.931908 5.69797 1.05143 5.85346 1.01159C5.94416 0.998311 6.02191 0.98503 6.11262 0.97175C6.20332 0.958469 6.29403 0.945188 6.38473 0.945188C6.56614 0.931908 6.73459 0.918627 6.916 0.918627C8.60052 0.918627 10.1295 1.6225 11.2439 2.75136C12.3453 3.88022 13.0321 5.44735 13.0321 7.18712C13.0321 7.28009 13.0321 7.38633 13.0321 7.4793C13.0321 7.55898 13.0191 7.63867 13.0191 7.73163C13.0062 7.90428 13.1358 8.06365 13.3042 8.07693C13.4727 8.09021 13.6281 7.9574 13.6411 7.78475C13.6541 7.58554 13.667 7.38633 13.667 7.2004C13.667 5.30126 12.9155 3.57477 11.6974 2.32638Z', fill='#3A405B')
              path(d='M13.1875 10.3741L10.894 9.11246C10.1294 8.68747 10.1035 8.96637 9.30015 9.84289C9.10578 10.0554 8.74296 10.6132 8.31536 10.5069C7.42127 10.2812 5.74971 8.93981 5.20548 8.32889C4.94632 8.03672 3.83195 6.64224 3.81899 6.1907C3.79308 5.5001 5.27027 5.1548 4.79083 3.84002L3.76716 1.48933C2.80828 -0.768389 0.126017 2.84396 0.346299 4.53061C0.916443 8.68747 8.03028 15.4075 11.9954 13.1896C12.8765 12.685 14.0686 10.9186 13.1875 10.3741Z', fill='#3A405B')
            a#telephoneHeader.telephone-dynamic.paragraph-text.link-text-light.d-flex.align-items-center.justify-content-start.text-color-lightdark-header
          li.d-none.d-xl-flex.align-items-center.header-lang-wrap.mr-0.drop-menu
            span.paragraph-text.text-color-dark.link-text-light.d-flex.align-items-center.justify-content-start.header-lang RU
            ul.dropdown-menu-list.d-flex.flex-column
              li
                a.drop-menu.nav-link-text.paragraph-text.text-color-lightdark-header.header-lang.text-color-dark(data-i18n='ru') RU
              li
                a.drop-menu.nav-link-text.paragraph-text.text-color-lightdark-header.header-lang.text-color-dark(data-i18n='ua') UA
          li.d-none.d-md-flex.d-xl-none.align-items-center.justify-content-between.menu-trigger.flex-column.m-0
            span.d-block.w-100
            span.d-block.w-100
            span.d-block.w-100
      #mobileMenu
        nav.d-flex
          ul
            li.sub-menu-trigger
              span.mob-title О нас
              svg.icon.icon-arrow(width='13', height='7', viewBox='0 0 13 7', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M5.16693 6.68549L0.314506 1.83307C-0.104835 1.41373 -0.104835 0.733846 0.314506 0.314506C0.733846 -0.104835 1.41373 -0.104835 1.83307 0.314506L6.18447 4.66591L10.5359 0.314506C10.9552 -0.104835 11.6351 -0.104835 12.0544 0.314506C12.4738 0.733846 12.4738 1.41373 12.0544 1.83307L7.20202 6.68549C6.92614 6.96137 6.53751 7.05575 6.18447 6.96864C5.83144 7.05575 5.4428 6.96137 5.16693 6.68549Z', fill='white')
              ul.sub-menu
                li
                  a(href='./about').mob-title Про Steffany
                li
                  a(href='./salon').mob-title Про салон
            li.sub-menu-trigger
              span.mob-title Услуги и цены
              svg.icon.icon-arrow(width='13', height='7', viewBox='0 0 13 7', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M5.16693 6.68549L0.314506 1.83307C-0.104835 1.41373 -0.104835 0.733846 0.314506 0.314506C0.733846 -0.104835 1.41373 -0.104835 1.83307 0.314506L6.18447 4.66591L10.5359 0.314506C10.9552 -0.104835 11.6351 -0.104835 12.0544 0.314506C12.4738 0.733846 12.4738 1.41373 12.0544 1.83307L7.20202 6.68549C6.92614 6.96137 6.53751 7.05575 6.18447 6.96864C5.83144 7.05575 5.4428 6.96137 5.16693 6.68549Z', fill='white')
              ul.sub-menu
                li
                  a(href='./manikur').mob-title Маникюр
                li
                  a(href='./naraschivanie-nogtei').mob-title Наращивание ногтей
                li
                  a(href='./pedikur').mob-title Педикюр
                li
                  a(href='./strizhki').mob-title Стрижка и прически
                li
                  a(href='./modelirovanie-i-okrashivanie-brovei').mob-title Брови
                li
                  a(href='./okrashivanie-volos').mob-title Окрашивание волос
                li(data-not-available-rovno)
                  a(href='./professionalnyi-makiyazh').mob-title Макияж
                li
                  a(href='./spa-dlya-ruk').mob-title СПА для рук
            li
              a(href='./contact').mob-title Контакты
            li.redirectBtn
              a.ms_booking(href='#')
                +btnCallback('записаться')
            li.sub-menu-trigger
              svg.icon.icon-loc(width="13" height="18", viewBox='0 0 11 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M5.33329 0.292969C2.57654 0.292969 0.333496 2.49509 0.333496 5.20182C0.333496 5.90784 0.480688 6.58193 0.770762 7.20553C2.02085 9.89111 4.41761 12.7265 5.12258 13.5315C5.17539 13.5916 5.25239 13.6263 5.33343 13.6263C5.41446 13.6263 5.49146 13.5916 5.54428 13.5315C6.24896 12.7267 8.64573 9.89138 9.89623 7.20553C10.1864 6.58193 10.3335 5.90784 10.3335 5.20182C10.3332 2.49509 8.09018 0.292969 5.33329 0.292969ZM5.33329 7.75149C3.90126 7.75149 2.7361 6.60758 2.7361 5.20168C2.7361 3.79564 3.90126 2.65174 5.33329 2.65174C6.76531 2.65174 7.93048 3.79564 7.93048 5.20168C7.93062 6.60758 6.76545 7.75149 5.33329 7.75149Z', fill='#3A405B')
              span.mob-title.city-dynamic
              svg.icon.icon-arrow(width='13', height='7', viewBox='0 0 13 7', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M5.16693 6.68549L0.314506 1.83307C-0.104835 1.41373 -0.104835 0.733846 0.314506 0.314506C0.733846 -0.104835 1.41373 -0.104835 1.83307 0.314506L6.18447 4.66591L10.5359 0.314506C10.9552 -0.104835 11.6351 -0.104835 12.0544 0.314506C12.4738 0.733846 12.4738 1.41373 12.0544 1.83307L7.20202 6.68549C6.92614 6.96137 6.53751 7.05575 6.18447 6.96864C5.83144 7.05575 5.4428 6.96137 5.16693 6.68549Z', fill='white')
              ul.sub-menu
                li
                  a(data-city='zt').mob-title Житомир
                li
                  a(data-city='rv').mob-title Ровно
            li
              svg.icon.icon-phone(width='14', height='14', viewBox='0 0 14 14', fill='#3A405B', xmlns='http://www.w3.org/2000/svg')
                path(d='M9.54627 7.29303C9.52035 7.33287 9.52035 7.37271 9.50739 7.42583C9.49444 7.59848 9.62401 7.75785 9.79246 7.77113C9.96092 7.78441 10.1164 7.65161 10.1294 7.47896C10.1294 7.43911 10.1294 7.39927 10.1423 7.33287C10.1423 7.26646 10.1423 7.22662 10.1423 7.18678C10.1423 6.80164 10.0775 6.42978 9.96092 6.0712C9.80542 5.60638 9.53331 5.19467 9.20936 4.84937C8.80767 4.43767 8.31528 4.1455 7.75809 3.98613C7.49893 3.91973 7.21386 3.87988 6.94175 3.87988C6.85104 3.87988 6.76034 3.87988 6.65668 3.89316C6.56597 3.90644 6.47527 3.91972 6.38456 3.93301C6.21611 3.95957 6.09949 4.13222 6.13836 4.29158C6.16428 4.46423 6.33273 4.58376 6.48822 4.54392C6.56597 4.53064 6.63076 4.51736 6.70851 4.51736C6.72147 4.51736 6.73442 4.51736 6.74738 4.51736C6.81217 4.51736 6.87696 4.50408 6.94175 4.50408C7.65443 4.50408 8.31528 4.79625 8.78176 5.28764C9.24824 5.76574 9.53331 6.4165 9.54627 7.14694V7.1735C9.54627 7.22662 9.54627 7.26646 9.54627 7.29303Z', fill='#3A405B')
                path(d='M11.2567 7.58542C11.2437 7.75807 11.3733 7.91744 11.5417 7.93072C11.7102 7.944 11.8657 7.81119 11.8786 7.63854C11.8916 7.49246 11.8916 7.34637 11.8916 7.20028C11.8916 6.90811 11.8657 6.62921 11.8268 6.35032C11.6583 5.28786 11.153 4.33165 10.4403 3.60121C9.62397 2.76452 8.53551 2.22002 7.33044 2.12705C7.20086 2.11377 7.05832 2.11377 6.92874 2.11377C6.78621 2.11377 6.64367 2.11377 6.50114 2.12705C6.3586 2.14033 6.21606 2.15361 6.07353 2.18017C5.90508 2.20673 5.78846 2.37938 5.82733 2.53875C5.85324 2.7114 6.0217 2.83093 6.17719 2.79109C6.2679 2.7778 6.34564 2.76452 6.43635 2.75124C6.47522 2.75124 6.51409 2.73796 6.55297 2.73796C6.68254 2.72468 6.81212 2.72468 6.92874 2.72468C7.36931 2.72468 7.78396 2.79109 8.18565 2.91061C8.88537 3.1231 9.50735 3.50824 10.0127 4.02619C10.4274 4.45117 10.7643 4.96912 10.9845 5.52691C11.1789 6.03158 11.2955 6.58937 11.2955 7.17372C11.2955 7.21356 11.2955 7.26668 11.2955 7.30653C11.2696 7.41277 11.2567 7.49246 11.2567 7.58542Z', fill='#3A405B')
                path(d='M11.6974 2.32638C10.4664 1.06471 8.78193 0.294434 6.916 0.294434C6.72163 0.294434 6.52727 0.307714 6.3329 0.320995C6.13853 0.334276 5.94416 0.360837 5.7498 0.400679C5.58135 0.427241 5.46473 0.59989 5.5036 0.759258C5.52951 0.931908 5.69797 1.05143 5.85346 1.01159C5.94416 0.998311 6.02191 0.98503 6.11262 0.97175C6.20332 0.958469 6.29403 0.945188 6.38473 0.945188C6.56614 0.931908 6.73459 0.918627 6.916 0.918627C8.60052 0.918627 10.1295 1.6225 11.2439 2.75136C12.3453 3.88022 13.0321 5.44735 13.0321 7.18712C13.0321 7.28009 13.0321 7.38633 13.0321 7.4793C13.0321 7.55898 13.0191 7.63867 13.0191 7.73163C13.0062 7.90428 13.1358 8.06365 13.3042 8.07693C13.4727 8.09021 13.6281 7.9574 13.6411 7.78475C13.6541 7.58554 13.667 7.38633 13.667 7.2004C13.667 5.30126 12.9155 3.57477 11.6974 2.32638Z', fill='#3A405B')
                path(d='M13.1875 10.3741L10.894 9.11246C10.1294 8.68747 10.1035 8.96637 9.30015 9.84289C9.10578 10.0554 8.74296 10.6132 8.31536 10.5069C7.42127 10.2812 5.74971 8.93981 5.20548 8.32889C4.94632 8.03672 3.83195 6.64224 3.81899 6.1907C3.79308 5.5001 5.27027 5.1548 4.79083 3.84002L3.76716 1.48933C2.80828 -0.768389 0.126017 2.84396 0.346299 4.53061C0.916443 8.68747 8.03028 15.4075 11.9954 13.1896C12.8765 12.685 14.0686 10.9186 13.1875 10.3741Z', fill='#3A405B')
              a(tel='').telephone-dynamic
            li.sub-menu-trigger
              span.mob-title RU
              svg.icon.icon-arrow(width='13', height='7', viewBox='0 0 13 7', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M5.16693 6.68549L0.314506 1.83307C-0.104835 1.41373 -0.104835 0.733846 0.314506 0.314506C0.733846 -0.104835 1.41373 -0.104835 1.83307 0.314506L6.18447 4.66591L10.5359 0.314506C10.9552 -0.104835 11.6351 -0.104835 12.0544 0.314506C12.4738 0.733846 12.4738 1.41373 12.0544 1.83307L7.20202 6.68549C6.92614 6.96137 6.53751 7.05575 6.18447 6.96864C5.83144 7.05575 5.4428 6.96137 5.16693 6.68549Z', fill='white')
              ul.sub-menu
                li
                  a(data-i18n='ru').mob-title RU
                li
                  a(data-i18n='ua').mob-title UA
    .d-flex.d-md-none.align-items-center.justify-content-between.menu-trigger.flex-column.m-0
      span.d-block.w-100
      span.d-block.w-100
      span.d-block.w-100
