extends ../layout/main

block content
  include ../sections/about-salon/about-salon
  include ../sections/about-salon/list
  include ../sections/about-salon/doctors
  +contactForm('Записуйтесь та приходьте на прийом в Центр подології Steffany')
