.info-block.info-block-7.info-block-7-1.info-block-7-8.light-purple-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk
          p.p-bold.pb-20.white-text Гарантія ідеальної стрижки — це:
          ul.info-list.mb-15
            li.p-text.thin-text.white-text.mb-15 Якісні інструменти
            li.p-text.thin-text.white-text.mb-15 Дотримання норм і стерильності
            li.p-text.thin-text.white-text.mb-15 Гарний настрій
            li.p-text.thin-text.white-text Ваш особистий майстер в «Steffany»
          p.thin-text.white-text.mb-15 Кожна дівчина знає, що одна з умов здорового і доглянутого волосся — це регулярне оновлення стрижки. Скажіть «ні» посіченим кінчикам! Полірування волосся освіжить ваш зовнішній вигляд і додасть волоссю здоровий блиск.
          p.p-bold.white-text Steffany — ідеальне поєднання ціни, умов і результату, адже ви варті кращого!
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-23.jpg",  alt="item")
