.info-block.info-block-6.info-block-6-1.info-block-6-2.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.mob-hidden-item
          img.w-100(src="./assets/img/infoblock/item-24@2x.jpg",  alt="item")
        .col.col-info.order-1.no-bg-blk
          h2.section-title.border-el Чому варто довіряти стрижку майстрам  <br/> Steffany
          ul.info-list
            li.thin-text.mb-15 Колосальний досвід і професіоналізм наших майстрів.
            li.thin-text.mb-15 Індивідуальний підхід. Вам не тільки освіжать зачіску, але й підберуть ідеальну стрижку, з огляду на ваші побажання, структуру волосся і типаж зовнішності.
            li.thin-text.mb-15 Блискучий результат. Після виходу зі Steffany з кожним разом ви почнете любити себе все більше і більше.
          p.thin-text Кажуть, ідеальна жіноча стрижка — один із компонентів «еліксиру молодості». Якщо підібрати стрижку правильно, ви більше не захочете експериментів, тому що з нею ви в будь-якому віці будете виглядати розкішно! Хочете знати, яка стрижка саме «ваша»? Приходьте в Steffany на запис, ми обговоримо і випробуємо кращі варіанти разом, а коли знайдемо ваш — обіцяємо, ви більше не захоче його змінювати!
      span.big-text.mob-hidden-item hair
.mobile-img-wrap.d-xl-none
  .container
    img.desctop-hidden-item.w-100.d-xl-none(src="./assets/img/infoblock/item-24@2x.jpg",  alt="item")
