.info-block.info-block-5.info-block-5-2.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-start.justify-content-center.justify-content-xl-end.no-gutters.border-block-item4
        .col.col-img.d-none.d-xl-block.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-26.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title Гарантія шикарною вечірньої зачіски — це:
          ul.info-list.mb-20.under-border
            li.thin-text.mb-15 Професіоналізм майстрів
            li.thin-text.mb-15 Індивідуальний підхід до кожного клієнта
            li.thin-text.mb-15 Креативність
            li.thin-text.mb-15 Знання майстром сучасних трендів
            li.thin-text.mb-15 Використання якісної косметики для волосся
          p.thin-text.mb-15.pb-0 Завдяки професійній недорогій укладці зовнішній вигляд моментально перетворюється, настрій піднімається в секунду і здається, що ви здатні перевернути гори. Звучить казково? Давайте перевіримо це разом в Steffany!
          p.p-bold Результат перевершить усі ваші очікування!
      span.big-text.d-none.d-xl-block haircut
