.info-block.info-block-9.info-block-9-1.infoblock-words-bg
  .container
    .row.d-flex.flex-column.flex-lg-row.align-items-center.justify-content-center.justify-content-lg-between.no-gutters
      .col-12.col-xl-6.col-info.order-1.no-bg-blk
        h2.section-title.mb-25 Зачіски
        p.mb-15.thin-text Будь-яка зачіска повинна бути твором мистецтва, залишаючись при цьому гармонійною частиною всього вашого образу.
        p.mb-15.thin-text Незалежно від того, яка урочиста подія має бути, чи то випускний бал, святкова вечеря або корпоративне свято, дуже важливо продумати свій образ аж до дрібниць. Вишукана сукня, бездоганний макіяж, чудовий манікюр і, звичайно ж, блискуча зачіска на середнє волосся від Steffany. Тепер весь світ у ваших ніг!
        a.btn-callback
          .text-section
            +penSvg
            span записатися
          .arrow-section
            +arrowSvg
      .col-12.col-xl-6.d-none.d-xl-block.col-img.order-2
        img.w-100(src="./assets/img/infoblock/item-25.jpg", alt="item")
