.info-block.info-block-8.info-block-8-3
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-start.no-gutters
      .col.col-img.order-1
        img.w-100(src="./assets/img/infoblock/item-27.jpg", alt="item")
      .col.col-info.order-2
        h2.section-title.mb-35 Чому варто довірити зачіску майстрам Steffany
        ul.info-list.mb-25
          li.p-text.thin-text.mb-15 Тому що в салоні «Steffany» працюють справжні приборкувачки фенів і брашингів. Вони зможуть вмить вгамувати ваші копиці волосся, перетворивши їх на розкішну укладку, і все це за приємною ціною.
          li.p-text.thin-text.mb-15 Тому що наші майстри завжди в курсі останніх тенденцій сучасних зачісок на коротке і довге волосся.
          li.p-text.thin-text Тому що Steffany — це те місце, куди обов'язково потрібно заскочити перед важливою подією.
        p.p-text.thin-text.mb-15 Іноді зробити просту, але акуратну і красиву зачіску на випускний бал або весілля — зовсім непросте завдання. Довіртеся професіоналам і ловіть на собі погляди кожен момент!
