.info-block.info-block-3-3.info-block-3-4.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters.border-block-item2.border-darkgray
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-3.png",  alt="item")
        .col.col-info.order-1
          h2.section-title Стрижки
          p.under-border.pb-15 Ми підберемо ідеальну стрижку, враховуючи усі тонкощі вашої зовнішності. Каре? Довге волосся? Каскад або, можливо, асиметрія? Без консультації професійного майстра не обійтися.
          p Важливо підібрати стрижку, яка дійсно вам пасує, допомагає підкреслити красу та приховати недоліки і, звичайно, відповідає актуальним модним тенденціям. Форма обличчя, колір волосся, їх структура, типаж зовнішності — важливі фактори, які варто враховувати перед вибором стрижки. У салоні Steffany вам допоможуть зробити правильний вибір!
      span.big-text.d-none.d-xl-block hair
