section.section.activity
  img(src="assets/img/common/circles-with-hr.png").circles
  .container.d-flex.flex-wrap
    .col-sm-12.col-lg-6.d-flex.flex-column.justify-content-center
      h2.dark-blue Чем занимается врач подолог?
      .dash
      p.description Проблемы со стопами встречаются намного чаще, чем кажется. Люди мучаются, обращаются в разные клиники и больницы, но не находят там должного лечения. Все потому, что заболеваниями стоп занимаются специально обученные люди  —  подологи.<br><br>Классический подолог отвечает за здоровье кожи и ногтей на ногах. Он лечит вросшие ногти, мозоли, натоптыши, бородавки, трещины на пятках или грибок. Однако многие из этих проблем появляются из-за неправильного положения стопы во время ходьбы, физических нагрузок или наоборот малоподвижности. Некоторые проблемы появляются из-за нарушений биомеханического характера, которые приводят к серьезным заболеваниям всего опорно-двигательного аппарата. Поэтому разумнее всего убрать причину, из-за которой появляются заболевания стоп.<br><br>В нашем центре мы работаем в тандеме с другими специалистами: дерматологами, вертебрологами и физиотерапевтами. Мы рассматриваем ваши стопы как часть единого механизма опорно-двигательного аппарата. Поэтому находим причину проблемы и делаем так, чтобы она больше не возвращалась.
    .col-sm-12.col-lg-6.p-md-5
      img(src="assets/img/doctor-podolog.jpg").d-block
