section.section.category.pb-0
  .description.pt-5.pb-5
    .container.centered-content
      h2.white-text.text-center.mb-2.mt-2 Каким группам людей нужен подолог
  .wrapper--dark
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-1.png" alt="cat-item-1")
              .wrapper
                span Диабетики
            p У людей с сахарным диабетом развивается синдром диабетической стопы. Такой стопе нужен специальный уход, который обеспечивает врач-подолог.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-2.png" alt="cat-item-2")
              .wrapper
                span Люди с заболеваниями мышц и суставов
            p К этой группе относятся люди с ревматоидным артритом, остеоартрозом и другими заболеваниями. Их опорно-двигательный аппарат испытывает большое напряжение и это отражается на состоянии их стоп
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-3.png" alt="cat-item-3")
              .wrapper
                span Люди с дерматозами
            p К такой группе относятся люди с псориазом, экземой, нейродермитом, атопическим дерматитом. У таких пациентов нарушена защитная функция кожи, поэтому они чаще «подхватывают» болезни стоп и страдают от давления на ногти.
  .wrapper--mixed
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-8.light-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-4.png" alt="cat-item-4")
              .wrapper
                span Дети от 2-х лет
            p В этом возрасте у детей закладывается манера походки. Если походка правильная, стопа не будет деформироваться. Поэтому мамы приводят своих детей, чтобы проверить основные моменты: правильно ли развивается стопа малыша, склонен ли он к плоскостопию, стоит ли ему носить ортопедическую обувь.<br><br>Если дети ходят в спортивные секции, особенно где есть так называемые «мокрые зоны», они чаще могут «подхватывать» бородавки и грибки.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-5.png" alt="cat-item-5")
              .wrapper
                span Беременные женщины и молодые мамы
            p У беременных женщин смещается центр опоры, и под давлением веса стопа начинает деформироваться. Также из-за частых отеков ног у женщин могут врастать или менять форму ногти. Специалист-подолог может облегчить состояние будущих мам с помощью ортопедической стельки или специальных процедур.
  .wrapper--dark
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-6.png" alt="cat-item-6")
              .wrapper
                span Подростки
            p Из-за гормонального всплеска и повышенного потоотделения защитная функция кожи стоп у подростков снижается. Поэтому они часто заражаются вирусом папилломы человека — у них появляются бородавки.<br><br>Кроме этого подростки часто страдают вросшими ногтями, потому что неправильно их стригут или носят неудобную обувь.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-7.png" alt="cat-item-7")
              .wrapper
                span Пожилые люди
            p Среди пожилых людей много диабетиков 2-го типа или людей с грибковыми заболеваниями. К сожалению, многие пенсионеры не привыкли заботиться о себе.<br><br>У некоторых из них также нарушен обмен веществ. Поэтому периодически мы устраиваем консультации, чтобы помочь пожилым людям.
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-8.png" alt="cat-item-8")
              .wrapper
                span Офисные сотрудники
            p Люди из этой категории нагружают свой позвоночник постоянным сидением, а позвоночник влияет на положение стопы.<br><br>Также тесная обувь на высоких каблуках провоцирует искривление ногтей, мозоли, вросшие ногти и натоптыши.
  .wrapper--mixed
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-8.light-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-9.png" alt="cat-item-9")
              .wrapper
                span Спортсмены
            p Спортсмены испытывают большие динамические нагрузки. Особенно это касается бегунов и легкоатлетов. Каждый шаг при беге — это удар на позвоночник. Если в биомеханике все хорошо, стопа служит амортизатором.<br><br>Если же со стопой что-то не так, удар амортизирует напрямую позвоночник или колено. Поэтому спортсменам без явных жалоб время от времени стоит посещать врача-подолога.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-10.png" alt="cat-item-10")
              .wrapper
                span Военные
            p Эта категория людей также испытывает регулярные динамические нагрузки, которые приходится переживать в неудобной, плохо «дышащей» обуви. Поэтому им важно обращаться к подологу для предотвращения осложнений.
