section.section.consultaion
  .container.d-flex.flex-wrap
    .col-12.col-lg-7.d-flex.flex-column.justify-content-center
      h2.white-text.text-center.text-lg-left Запишитесь на консультацию<br><strong>прямо сейчас</strong> и получите<br><strong>скидку 10 %</strong>
      .dash.center
      .crutch-2.w-100.d-flex.justify-content-center.justify-content-lg-start
        p.white-text.text-center.text-lg-left Мы перезвоним вам и запишем на консультацию, где специалист проведет осмотр, даст необходимые рекомендации и ответит на вопросы.
    .col-12.col-lg-5
      +writeClientForm
