section.section.faq
  +accordeon('Часто задаваемые вопросы', 'Здесь вы найдете информацию, которую чаще всего запрашивают наши пациенты',
    [
      {
        title: 'У меня сахарный диабет. Я могу пойти к подологу?',
        body : 'Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Мы ответственны за нашу работу и репутацию. Поэтому если уровень сахара выше 10, любые процедуры со стопой могут быть опасны для вас. Из-за высокого некомпенсированного уровня сахара нарушаются все процессы заживления и регенерации тканей. Поэтому если глюкометр показывает высокий уровень сахара, мы обратим на это ваше внимание и направим вас к специалисту, чтобы помочь вам снизить уровень сахара в крови. А затем с удовольствием запишем на новое удобное время.'
      },
      {
        title: 'Вы принимаете детей и подростков?',
        body : 'Да, конечно! Мы принимаем деток от 2-х лет. Проводим детям диагностику, чтобы еще на ранних стадиях выявить возможные патологии развития нижних конечностей. Предлагаем реабилитационные, профилактические мероприятия, а также упражнения для стоп. С радостью принимаем подростков. Именно в этом возрасте часто закладываются проблемы со стопами. Это вызвано гормональной перестройкой, неправильным уходом за ногтями и повышенным потоотделением. Если в этом есть необходимость, вы можете приобрести у нас специальные развивающие ортопедические тренажеры для детей и всей семьи.'
      },
      {
        title: 'Насколько у вас стерильно?',
        body : 'В нашем центре полный цикл стерилизации. Мы стерилизуем все: от маленького инструмента до воздуха в помещении. Для стерилизации инструментов мы замачиваем их в дезинфицирующем растворе широкого спектра действия, которые полностью убирают любые вирусы, грибки и бактерии. Инструменты находятся в ультразвуковой ванночке, где под действием процесса кавитации они эффективнее очищаются. Дальше мы закладываем инструменты в крафт-пакеты — специальные пакеты для стерилизации.  В них мы помещаем инструменты в паровой стерилизатор класса В — Автоклав — и стерилизуем в двух атмосферах парового давления при температуре 134 градуса. На крафт-пакетах есть индикаторы, которые меняют цвет при завершении цикла стерилизации. Все стерильные инструменты хранятся в крафт-пакетах и вскрываются при вас. После каждого пациента мы дезинфицируем все поверхности в кабинете: аппараты подоскоп и дерматоскоп, всю мебель и рабочее кресло. Для очистки воздуха у нас работают рециркуляторы и бактерицидные облучатели  закрытого типа. Они прогоняют через себя воздух и обеззараживают его. Также бактерицидные лампы кварцуют помещение после каждого пациента. Кроме этого у нас проходят регулярные текущие и генеральные уборки.'
      },
      {
        title: 'К вам можно прийти просто на консультацию?',
        body : 'Да, можно и нужно. Именно с консультации начинается любое лечение. Если у вас есть вопросы относительно состояния своих стоп или вы просто хотите устроить профилактический осмотр, звоните нам или оставляйте заявку на сайте.'
      },
      {
        title: 'Сколько стоит консультация подолога? Какая в целом стоимость на услуги подолога?',
        body : 'Консультация подолога стоит 150 грн. Периодически мы объявляем период бесплатных консультаций, чтобы как можно больше людей могли проверить здоровье своих стоп. Особенно это важно для пожилых людей. Поэтому следите за нашими новостями на сайте, в соцсетях или по телефону. Полный список услуг с ценами вы можете посмотреть на страницах услуг.\n'
      },
      {
        title: 'Какие косметические средства для лечения стоп вы используете?',
        body : 'Используем сертифицированную космецевтику из Европы. Средства такого типа соединяют в себе косметические и медицинские компоненты. Основные бренды — Suda (Германия), Gehwol (Германия), Podopharm (Польша), Peclavus (чистая органика из Германии).'
      },
      {
        title: 'Я могу купить в вашем центре косметические средства для стоп для домашнего ухода?',
        body : 'Да, все средства есть в магазине нашего центра и их можно купить. Перед покупкой обязательно проконсультируйтесь с нашим специалистом-подологом. Он подберет вам средства для домашнего ухода и расскажет, как ими пользоваться'
      }
    ], true, 1)
