section.section.pricing
  h2.paragraph-text.text-center Услуги подолога в Steffany
  .container.feet-section.justify-content-center
    .col-12.col-sm-7.col-lg-4.item.mb-4
      .c-content
        h3.dark-blue Подология
        p.desc Лечение ногтей и кожи стоп
        ul.info-list
          li Медицинский педикюр
          li Обработка диабетической стопы
          li Обработка грибковых поражений кожи и ногтей
          li Обработка бородавок и мозолей
          li Обработка трещин на стопе
          li Обработка гиперкератоза
        +customBtn('больше услуг')(data-role="href" data-link="./pod")
    .col-12.col-sm-7.col-lg-4.item.mb-4
      .c-content
        h3.dark-blue Ортониксия
        p.desc Исправление формы и роста ногтей
        ul.info-list
          li Установка скобы Фрезера
          li Установка титановой нити
          li Протезирование корректирующими вкладками
          li Установка корректирующей системы 3ТО и протезирование ногтей
        +customBtn('больше услуг')(data-role="href" data-link="./otronixia")
    .col-12.col-sm-7.col-lg-4.item.mb-4
      .c-content
        h3.dark-blue Малая ортопедия
        p.desc Коррекция положения стоп с помощью стелек и ортезов
        ul.info-list
          li Диагностика стопы на педобарографе и проектирование стелек
          li Изготовление силиконовых ортезов
          li Изготовление разгрузочных стелек
          li Подбор ортопедической продукции
        +customBtn('больше услуг')(data-role="href" data-link="./orthopedics")
