section.section.salon-photos
  .container.container-m.slider-wrap
    .d-flex.justify-content-center.align-items-center.mb-5
      h2 Фото нашего салона

  .salon-photos-slider.owl-carousel.slider-block
    - let i = 1
    while i <= 21
      img(src=`assets/img/cabinet-${i++}.png`)
