.info-block.info-block-5.info-block-5-2.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-start.justify-content-center.justify-content-xl-end.no-gutters.border-block-item4
        .col.col-img.d-none.d-xl-block.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-26.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title Гарантия шикарной вечерней прически — это:
          ul.info-list.mb-20.under-border
            li.thin-text.mb-15 Профессионализм мастеров
            li.thin-text.mb-15 Индивидуальный подход к каждому клиенту
            li.thin-text.mb-15 Креативность
            li.thin-text.mb-15 Знание мастером современных трендов
            li.thin-text.mb-15 Использование качественной косметики для волос
          p.thin-text.mb-15.pb-0 Благодаря профессиональной недорогой укладке внешний вид моментально преображается, настроение поднимается в секунду и кажется, что вы способны свернуть горы. Звучит сказочно? Давайте проверим это вместе в Steffany!
          p.p-bold Результат превзойдет все ваши ожидания!
      span.big-text.d-none.d-xl-block haircut
