.info-block.info-block-3-3.info-block-3-4.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters.border-block-item2.border-darkgray
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-3.png",  alt="item")
        .col.col-info.order-1
          h2.section-title Стрижки
          p.under-border.pb-15 Мы подберем идеальную стрижку, учитывая все тонкости вашей внешности. Каре? Длинные волосы? Каскад или, может быть, асимметрия? Без консультации профессионального мастера не обойтись.
          p Важно подобрать стрижку, которая действительно вам идет, помогает подчеркнуть достоинства и скрыть недостатки и, конечно, соответствует актуальным модным тенденциям. Форма лица, цвет волос, их структура, типаж внешности — важные факторы, которые стоит учитывать перед выбором стрижки. В салоне Steffany вам помогут сделать правильный выбор!
      span.big-text.d-none.d-xl-block hair
