section.section-services.about
  .container
    p.paragraph-text.mb-5.text-dark-1.service-section-link <a href="/" class="service-section-link">Главная</a> / <a href="/" class="service-section-link">Услуги</a> / <a href="/wart.html" class="service-section-link">Удаление мозолей и бородавок</a>
    h3.page-title.mb-3.mb-lg-5.text-center Лечение бородавок и удаление мозолей в Житомире
    .row
      .col-12.d-block.d-sm-none.mb-3
        .services-about-sm-divider
      .col-12.col-lg-6.order-2.order-lg-1
        img.w-100.shadow(src="assets/img/services-warts/feet.png")
      .col-12.col-lg-6.d-flex.align-items-center.order-1.order-lg-2
        p.paragraph-text.text-dark-1 Бородавки и мозоли на стопах — достаточно распространенные проблемы. Часто пациенты обращаются с одной из этих проблем, толком не понимая разницу. Тем не менее, эти новообразования на стопе отличаются по многим параметрам и требуют разного лечения, а в идеале — удаления. Обе проблемы доставляют неудобства пациентам. Если не обратиться к подологу вовремя, бородавки могут распространиться по стопе, а мозоли — углубиться и увеличиться. Чтобы этого не допустить, записывайтесь к подологу вовремя. Специалисты в центре здоровья ног Steffany удаляют бородавки и мозоли, а также находят причины их появления.
