section.section-services
  .container.circles-bg
    .row
      .col.d-flex.flex-column.align-items-center
        h3.section-title-services.mb-4.text-dark-1.text-center Послуги по лікуванню мозолів і бородавок
        .services-treatment-divider.mb-4
        p.paragraph-text.text-dark-1.text-center.mb-4.mb-md-5.custom-px.w-200 У нашому центрі ви зможете за кілька сеансів видалити турбуючі вас новоутворення. А найголовніше — у Steffany ви знайдете причину, яка провокує появу мозолів або бородавок.
        .row.custom-padding-treatment.mt-md-4.mb-5
          .col-12.col-md-6.px-4
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Консультація
              p.paragraph-text.text-dark-1.w-200 Спеціаліст огляне вашу стопу через збільшувальні прилади, призначить правильне лікування і визначить причину виникнення новоутворення. Це допоможе вам не заробити мозолі і натоптиші після процедури видалення.
            .paragraph-container
              h4.paragraph-title Видалення сухих мозолів <span class="city-in-dynamic paragraph-text"></span> ціна за додаткову послугу
              p.paragraph-text.text-dark-1.w-200 Якщо ви зі спеціалістом домовились про курс лікування, на даній процедурі він виконує проміжкові дії, щоб позбутися від мозолі.
          .col-12.col-md-6.px-4
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Видалення стрижневих мозолів
              p.paragraph-text.text-dark-1.w-200 Спеціаліст-подолог проводить видалення стрижневих мозолів за допомогою апаратної та інструментальної стерильної техніки.
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Видалення піднігтьової та навколонігтьової мозолі на одному пальці
              p.paragraph-text.text-dark-1.w-200 Під час процедури подолог видаляє мозоль за допомогою апаратної техніки, а також консультує про догляд за ногами і правильний підбір взуття, щоб піднігтьовий мозоль більше не з'являвся.
            .paragraph-container
              h4.paragraph-title.mb-3 Обробка бородавки на стопі Cryoderm System
              p.paragraph-text.text-dark-1.w-200 Спеціаліст видаляє бородавку за допомогою рідкого азоту, який швидко руйнує новоутворення і при цьому не травмує здорову шкіру.
        .container-fluid.d-flex.flex-column.align-items-center
          .row.prices-container.custom-padding-treatment.mb-4

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Первинна консультація подолога
              .col-4.col-md-2.p-0
                p.treatment-price.text-right.text-right 150 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 хв

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Обробка бородавки на стопі
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 900 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right  30 хв

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 повторна обробка бородавок
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 400 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right  30 хв
          .services-btn-container
            +btnPen('записатись')(data-toggle='modal', data-target='#callbackModal')
