.info-block.info-block-8.info-block-8-6
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-end.no-gutters
      .col.col-img.order-2.d-none.d-xl-block
        img.w-100(src="./assets/img/infoblock/item-42.jpg", alt="item")
      .col.col-info.order-1
        .border-el
          h2.section-title «Здравствуйте, сделайте меня красивой»
          p.p-text.thin-text.fs-20 Эти слова мы слышим чаще всего и наш ответ «конечно!»
        p.p-text.thin-text.mb-15.under-border Есть три типа девушек:
        ul.info-list.mb-15
          li.p-text.thin-text.mb-15 Первый тип знает, какой макияж хочет, и принес с собой фото
          li.p-text.thin-text.mb-15 Второй тип знает приблизительно и на словах описывает свои пожелания
          li.p-text.thin-text Третий тип просто хочет быть красивой и ищет совета у мастера
        p.p-text.thin-text Мы обожаем работать во всех трех случаях, потому что это всегда интересно.
