.info-block.info-block-3.info-block-3-1.info-block-3-3.info-block-3-6.info-block-3-6-1.light-purple-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-center.mx-auto
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters.border-block-item
        .col.col-img.order-2.mx-auto.mx-xl-0.d-none.d-xl-block
          img.w-100(src="./assets/img/infoblock/item-34.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title У нас вы можете сделать все виды классического макияжа <span class='city-in-dynamic'></span>
          p.thin-text.under-border Кто сказал, что классика — это скучно? Мы выбрали <br/> именно такую специализацию в макияже, потому что точно  <br/> уверены: сможем подобрать для вас эффектный мэйк,  <br/> который подчеркнет ваши черты лица и будет подходить <br/> всему образу.
      span.big-text.d-none.d-xl-block pedi
      span.big-text.big-text-2.d-none.d-xl-block cure
