section.section-services.container-fluid.py-0
  .row.mx-0.section-bg-dark.section-services-treatment-row-padding.pb-3
    .container
      .row.mx-0
        .col.text-px-desktop
          h3.section-title.text-color-light.mb-4.text-center Що робити, якщо у вас врослий ніготь на нозі
          p.paragraph-text.text-center.mb-3 Якщо ви виявили, що вростання нігтя починається, потрібно одразу звернутися до спеціаліста-подолога. Тільки він може своєчасно і ефективно вилікувати дефект і запобігти можливим ускладненням. Однак перед візитом до лікаря можна трохи полегшити свій стан або спробувати не погіршити його.
    .container
      .row.mx-0.treatment-line.pt-5
        .col-12.col-xl-4.d-flex.flex-column.align-items-center.px-4.mb-5
          .disease-treatment-img-container.container-1.mb-3
          p.paragraph-text.text-center.font-weight-bold.mb-3.text-uppercase.font-weight-bold Дезінфікувати
          p.paragraph-text.text-center.mb-0 Варто періодично обробляти шкіру антисептичним засобом, наприклад, Хлоргексидином або Декасаном. Бажано мати дозатор у вигляді розпилювача, аби не заподіяти собі додатковий біль від дотиків.
        .col-12.col-xl-4.d-flex.flex-column.align-items-center.px-4.mb-5
          .disease-treatment-img-container.container-2.mb-3
          p.paragraph-text.text-center.font-weight-bold.mb-3.text-uzppercase.font-weight-bold Не займатися самолікуванням
          p.paragraph-text.text-center.mb-0 В інтернеті можна знайти безліч народних методів і варіантів «самостійної хірургії», і всі вони однаково небезпечні для здоров'я.
        .col-12.col-xl-4.d-flex.flex-column.align-items-center.px-4.mb-5
          .disease-treatment-img-container.container-3.mb-3
          p.paragraph-text.text-center.font-weight-bold.mb-3.text-uppercase.font-weight-bold Записатися на прийом до подолога
          p.paragraph-text.text-center.mb-0 Тільки спеціаліст-подолог може професійно оцінити стан проблеми, зрозуміти джерело її виникнення і визначити метод лікування. Тому вже при перших ознаках врослого нігтя вам слід записатися на прийом до подолога.
