section.section.category.pb-0
  .description.pt-5.pb-5
    .container.centered-content
      h2.white-text.text-center.mb-3 Як з'являється вростання нігтьової пластини
      .dash.align-items-center
      p.white-text Найчастіше ніготь вростає на великому пальці, хоча можна зустріти таку проблему на будь-якому з пальців ніг. Так чи інакше, цей стан з'являється не просто так — його обов'язково щось провокує. Розберемося в основних причинах виникнення врослого нігтя.
  .wrapper--dark
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-11.png" alt="cat-item-1")
              .wrapper
                span Неправильно зроблений педикюр
            p Одна з головних причин виникнення врослого нігтя — <strong>неправильне підрізання</strong>, коли замість прямого зрізу людина заокруглює кути.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-12.png" alt="cat-item-11")
              .wrapper
                span Вузьке взуття
            p Взуття не за розміром, неправильна форма взуття або черевики з подовженими кінцями сильно <strong>деформують положення пальців</strong>, тому нігті починають вростати. Те ж саме стосується стягуючих колготок і тісних шкарпеток, які не дотримуються анатомічної форми стопи.
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-13.png" alt="cat-item-3")
              .wrapper
                span Підвищене потовиділення
            p Закрите взуття у спекотну погоду або гіпергідроз теж <strong>провокують</strong> вростання нігтів. При підвищеній пітливості ніготь може розм'якшитися і деформуватися.
  .wrapper--dark--reversed
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-14.png" alt="cat-item-11")
              .wrapper
                span Плоскостопість
            p Деякі форми плоскостопості <strong>перевантажують передній відділ стопи</strong> під час ходи через неправильне положення ноги. Через постійний тиск нігті починають вростати.
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-15.png" alt="cat-item-12")
              .wrapper
                span Травми нігтя
            p Якщо випадково вдаритися нігтем або впустити на нього щось важке, він <strong>може змінити напрямок свого зростання.</strong>
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-16.png" alt="cat-item-13")
              .wrapper
                span  Анатомічні особливості і спадковість
            p У деяких випадках ніготь вростає через <strong>неправильне положення стопи</strong>, що обумовлено анатомією людини. Однак навіть у таких випадках можна скоригувати положення стопи за допомогою ортопедичних устілок.
  .wrapper--mixed
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-8.light-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-17.png" alt="cat-item-14")
              .wrapper
                span Деформации стопы и биомеханические нарушения ходьбы
            p В норме стопа при ходьбе должна передавать давление на три основных точки: пяточную кость, пятую и первую плюсневую головку. Но бывает так, что большая сила давления идет на первый палец стопы, через который в норме должна «отбиваться» толчковая сила. Это приводит к формированию избыточной ткани в ногтевом валике и дальнейшему давлению ткани на ноготь. Из-за такого процесса форма ногтя деформируется, а в дальнейшем врастает.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-18.png" alt="cat-item-15")
              .wrapper
                span Професійний спорт
            p Як не дивно, спортсмени теж знаходяться у групі ризику. Так відбувається, тому що вони<strong> регулярно відчувають динамічні навантаження на ноги</strong>. При неправильному положенні стоп, тісного незручного взуття і підвищеному потовиділення їх нігті можуть вростати.
