section.section.faq
  .container
    +accordeon('Поширені запитання', 'Тут ви прочитаєте відповіді на ті питання, які найчастіше цікавлять наших пацієнтів', [
      {
        title: 'Як підготуватися до прийому?',
        body : 'Ви можете не готуватися. Спеціаліст-подолог самостійно підготує зону врослого нігтя до процедури. Тому просто приходьте у зручному взутті.'
      },
      {
        title: 'Якщо у мене запущений випадок, ви зможете його вилікувати?',
        body : '«Запущений» — поняття відносне. Через сильний біль або гнійні виділення вам може здаватися, що це катастрофа. Хоча насправді для спеціаліста-подолога ваша ситуація абсолютно під силу. Ми не беремося тільки за випадки з ускладненнями, про які писали вище: коли необхідне хірургічне втручання та лікування усього організму. У таких випадках ми направимо вас до потрібного фахівця. У будь-якому випадку — приходьте на консультацію, щоб спеціаліст-подолог оцінив ваш стан і дав свої рекомендації.'
      },
      {
        title: 'Як правильно стригти нігті, щоб ніготь не вростав?',
        body : 'Ніготь потрібно стригти по прямій, не закруглюючи і не зрізаючи кути. Тоді під час відростання він не буде упиватися в шкіру і провокувати вростання.'
      },
      {
        title: 'Якщо у мене почервоніла шкіра навколо нігтя, але болю немає, це врослий ніготь? Як лікувати?',
        body : 'Почервоніння шкіри — це сигнал нестандартного для здоров\'я процесу. Тому краще зверніться до подолога, щоб попередити вростання нігтів або іншу проблему.'
      },
      {
        title: 'А що якщо через час після лікування ніготь знову почне вростати?',
        body : 'Розуміємо ваші побоювання. За статистикою, 85% операцій з видалення врослого нігтя закінчуються рецидивом. Тому ми за безопераційну корекцію за допомогою скоб і пластин. Саме така методика лікування врослого нігтя є найбільш безболісною і ефективною. Крім того, після процедури ви обов\'язково отримаєте роздрукований матеріал з порадами по домашньому догляду за пальцем, що загоюється. І звичайно, в будь-якій незрозумілій ситуації ви можете зателефонувати або написати вашому лікуючому спеціалісту або записатися на консультацію.'
      }
    ], true, 1)
