section.section.about-network
	position: relative
	h2
		font-size: 40px
		line-height: 59px
	@include media-breakpoint-down(md)
		padding: 0

	.circles
		z-index: -1

	p
		line-height: 25px
		@include media-breakpoint-down(lg)
			width: 75%
			display: flex
			align-self: center
