section.section.diploma-list
	background: url('../assets/img/background/diplomas-bg.png') no-repeat top left
	background-size: cover

	h2
		text-align: center
		line-height: 29px
		letter-spacing: .01em
		@include media-breakpoint-down(lg)
			font-size: 20px
