section.section.about-page-section-nano
  .container
    .row
      .col-12.col-xl-6
        .c-content
          h2.h2-title Нано-епіляція у Steffany
          .d-line
          p.paragraph-text.text-w-light.mb-1 Нано-епіляція — це лужний пілінг для видалення небажаного світлого і пушкового волосся. Того самого, яке не бачить лазер через відсутність пігменту. Це не апаратна процедура, тому для неї потрібні тільки якісні косметичні засоби і майстерність фахівця. Як добре, що в Steffany є і те, і інше.
      .col-12.col-xl-6
        .white-block-design
          img(src="assets/img/nano-page/about-page.jpg" alt="about-page" srcset="assets/img/nano-page/about-page@2x.jpg 2x")
          p.extralarge-text-bg nano

