section.section.accordion-answer-dark-theme
  +accordeon('Поширені запитання', 'Тут ви знайдете інформацію про нано-епіляцію, яка найчастіше цікавить наших клієнтів',
    [
      {
        title: 'Які засоби ви використовуєте для лужного пілінгу?',
        body: `Ми використовуємо професійний засіб Alkaline Wash від компанії DMK.`
      },
      {
        title: 'Як часто потрібно приходити на процедури?',
        body: 'Для лужного пілінгу потрібне відросле волосся. Тому частота процедур залежить від того, з якою швидкістю у вас відростає волосся. Перші 3-4 процедури проходять в середньому один раз на 2-3 тижні. Потім волосяний фолікул стоншується і ходити на сеанси потрібно трохи рідше. Більш точну кількість і періодичність процедур вам назве наш косметолог на консультації.'
      },
      {
        title: "Після нано-епіляції з'являється вросле волосся?",
        body: 'Ні. Навпаки, нано-епіляція — спосіб профілактики врослого волосся.'
      },
      {
        title: 'Яка на вигляд шкіра після нано-епіляції?',
        body: 'Одразу після процедури на шкірі може бути невелике почервоніння і припухлість. Це варіант норми і такої реакції боятися не треба. Головне — виконуйте всі рекомендації фахівця щодо домашнього догляду. Від цього залежить стан шкіри і ефект від процедури.'
      },
      {
        title: 'Навіщо мені йти у салон, якщо я можу купити цей засіб і зробити такий пілінг вдома?',
        body: 'Лужний пілінг — це складна процедура, яку може виконати тільки навчений і досвідчений косметолог. Її відмінність від популярних кислотних пілінгів в тому, що луг ніяк не відчувається на шкірі. Немає печіння, поколювань — взагалі нічого. Новачок без досвіду може колосально нашкодити своїй шкірі, якщо буде сам видаляти волосся лужним пілінгом.'
      }
    ], true, 1)
