section.section.block-answer-after-nano
  .container
    .row
      .col-12.col-xl-6
        .c-content
          h2.h2-title.text-color-dark Що робити до і після процедури
          p.paragraph-text.text-color-lightdark.text-w-bold Як підготуватися до нано-епіляції
          ul.info-list
            li.paragraph-text.text-color-lightdark.text-w-light.mb-3 Не видаляти волоски на зоні епіляції — пілінгу потрібна довжина.
            li.paragraph-text.text-color-lightdark.text-w-light.mb-4 Не пошкоджувати шкіру. На ній не повинно бути запалень і ранок.
          p.paragraph-text.text-color-lightdark.text-w-bold Що робити після нано-епіляції
          ul.info-list
            li.paragraph-text.text-color-lightdark.text-w-light.mb-3 Два дні після процедури уникати активного сонця і засмаги. Від сонця можуть з'явитися пігментні плями.
            li.paragraph-text.text-color-lightdark.text-w-light.mb-3 У перші дні після процедури не ходити в солярій, сауну, лазню.
            li.paragraph-text.text-color-lightdark.text-w-light.mb-3 Не терти і не скрабувати шкіру. Механічне тертя може серйозно пошкодити шкіру після лужного пілінгу.
            li.paragraph-text.text-color-lightdark.text-w-light Дотримуватися всіх рекомендацій по відновленню, які майстер дасть вам після процедури.
      .col-12.col-xl-6
        img.w-100.mx-auto.mx-xl-0.mt-4.mt-xl-3(src="assets/img/nano-page/answer-after-nano.jpg" alt="four-boxes-1" srcset="assets/img/nano-page/answer-after-nano@2x.jpg 2x")


