section.section.service-three-boxes-nano
  .container
    h2.h2-title.text-color-lightdark.text-center Нано-епіляція — найкращий спосіб видалити світле волосся
    .d-flex
      .c-three-box
        .img-position
          img.img-position-01.d-none.d-md-block(src="", alt="circle fether" srcset="assets/img/three-boxes/three-box-nano-1@2x.png 2x")
          img.img-position-01.d-md-none.d-block(src="", alt="circle fether" srcset="assets/img/three-boxes/three-box-nano-mob-1@2x.png 2x")
        .c-desc
          p.bnf-number.text-color-lightdark 01
          h4.h4-title.text-color-lightdark.text-uppercase Не доставляє больових відчуттів
          p.paragraph-text.text-color-lightdark.text-w-light Лужний пілінг не приносить взагалі ніяких відчуттів. Це його плюс і мінус одночасно. Плюс, тому що вам комфортно. Мінус, тому що ви не відчуєте опік. Але не переживайте! З досвідченим фахівцем процедура проходить повністю безпечно
      .c-three-box
        .img-position
          img.img-position-02(src="", alt="circle fether", srcset="assets/img/three-boxes/three-box-nano-2@2x.png 2x")
        .c-desc
          p.bnf-number.text-color-lightdark 02
          h4.h4-title.text-color-lightdark.text-uppercase Працює із безпігментним волоссям
          p.paragraph-text.text-color-lightdark.text-w-light Світле, пушкове, сиве волосся на тілі не беруть майже всі стандартні процедури для видалення волосся. Окрім нано-епіляції. Тому якщо ви хочете позбутися небажаних волосків на будь-якій частині тіла, придивіться до цієї послуги
      .c-three-box
        .img-position
          img.img-position-03(src="", alt="circle fether" srcset="assets/img/three-boxes/three-box-nano-3@2x.png 2x")
        .c-desc
          p.bnf-number.text-color-lightdark 03
          h4.h4-title.text-color-lightdark.text-uppercase Видаляє волосся надовго
          p.paragraph-text.text-color-lightdark.text-w-light Нано-епіляцію потрібно проходити курсом. Найчастіше це мінімум 10 процедур з певною періодичністю. Із кожним сеансом волоски будуть рости тонше і рідше. До кінця курсу вони перестануть рости зовсім і цей ефект закріпиться на тривалий період.
