footer.footer.pt-3
  .container.container-m
    .row.footer-cnt.mx-auto.mx-xl-0
      .col-12.col-xl-3.d-none.d-xl-flex.align-items-center
        .c-logo-f
          img(src="assets/icon/logo-f.svg", alt="logo-f")
      .col-12.col-md-4.col-xl-3.mb-3.mb-xl-0
        ul.d-flex.d-md-block.flex-column.align-items-center.mb-0
          li.mb-3.text-center.text-xl-left.d-flex.align-items-center
            img.icon.icon-phone.mr-3(src="assets/icon/phone.svg", alt="icon-phone-f")
            a.paragraph-text-light(href='tel:+0980070753') 098-180-10-88
          li.mb-3.text-center.text-xl-left.d-flex.align-items-center
            img.icon.mr-3.icon-loc(src="assets/icon/location.svg", alt="icon-map-f")
            span.paragraph-text-light Житомир
          li.mb-3.text-center.text-xl-left.d-flex.align-items-center.footer-icon-blk
            a.mr-3(target="_blank" href="https://www.facebook.com/steffany.podology/")
              img.icon.icon-facebook(src="assets/icon/facebook.svg", alt="facebook-f")
            a(target="_blank" href="https://www.instagram.com/steffany.podology/?hl=ru")
              img.icon.icon-inst.mr-0(src="assets/icon/instagram.svg", alt="inst-f")
      .col-12.col-md-3.col-xl-2.mb-3
        a.paragraph-text.text-center.text-md-left.mb-3.d-block(target="_blank" href="http://steffany.dotwork.digital/beauty") Steffany Beauty
        a.paragraph-text.text-center.text-md-left.d-block(target="_blank" href="http://steffany.dotwork.digital/laser") Steffany Cosmetology
        hr.d-sm-none.my-4
      .col-12.col-md-5.d-none.d-md-flex.flex-column.align-items-center.align-items-md-start.d-xl-none
        a.mb-3.m-md-0.p-text-light.d-block.d-md-none.d-xl-block(target="_blank" href="./policy.html") Пользовательское соглашение
      .col-12.col-xl-4.d-none.d-md-flex.flex-column.justify-content-center.justify-content-sm-between.justify-content-xl-start.flex-xl-column.align-items-xl-center
        p.paragraph-text.text-center.mb-3
          | Скачай приложение! <br/>
          | Почувствую заботу о себе в любой момент
        div.d-none.d-sm-flex.justify-content-center.align-items-center
          a.mr-3(target="_blank" href="https://apps.apple.com/ua/app/steffany/id1342254632?l=ru")
            img.icon.icon-large(src="assets/icon/app-store.svg", alt="mob-f")
          a(target="_blank" href="https://play.google.com/store/apps/details?id=com.yclients.widget.g50068")
            img.icon.icon-large(src="assets/icon/google-play.svg", alt="play-f")

    hr.d-none.d-sm-block.my-3
    .d-flex.flex-column.align-items-center.flex-xl-row.justify-content-xl-between.footer-cnt.mx-auto.mx-xl-0
      p.mb-3.m-md-0.p-text-light.order-1.order-xl-0.text-center.text-xl-left Разработано в &nbsp
        |
        a.p-text-light(target="_blank" href="http://dotwork.digital/") dotwork
      a.mb-3.m-md-0.p-text-light.d-block.d-md-none.d-xl-block(target="_blank" href="./policy.html") Пользовательское соглашение
      p.mb-3.m-md-0.p-text-light.text-center.text-xl-left steffany.ua ©2019. Все права защищены
