#overlay
  img(src="assets/icon/common/close.png" alt="Close")#closeOverlay
  .wrapper.p-4
    h2.text-center.white-text Привет!
    p.white-text.text-center Пожалуйста, выбери город из списка.<br>Это поможет отобразить корректную информацию для тебя
    p.white-text Я живу в:
    select.selectpicker
      option(value="kiev") Киев
      option(value="zt") Житомир
      option(value="if") Ивано-Франковск
