section.section.faq
  .container
    +accordeon('Часто задаваемые вопросы', 'Прочитайте вопросы наших пациентов, которые интересовали их перед приходом в центр здоровья ног Steffany', [
      {
        title: 'Почему при регулярном педикюре у меня сухая кожа на пятках и появляются трещины?',
        body : 'Такая ситуация достаточно распространенная. Вы должны понимать, что сухость на пятках может возникать из-за самых разных причин, в том числе внутренних. Обычный эстетический педикюр в салоне красоты не работает с такими факторами. Поэтому лучше приходите к подологу, чтобы он определил точную причину трещин и назначил соответствующее лечение.'
      },
      {
        title: 'Почему я регулярно увлажняю кожу пяток специальным кремом, но трещины не уходят?',
        body : 'Возможно, причина трещин в вашем случае — не сухость кожи. Это может быть грибок или другие заболевания, например, дисгидротическая экзема. Также вам может не подходить состав крема, которым вы пользуетесь. Вы можете записаться на прием к подологу и показать ему состав вашего средства.'
      },
      {
        title: 'Какие анализы мне сдать, чтобы найти причину сухости кожи в организме?',
        body : 'Вам не нужно сдавать анализы перед приемом подолога. Специалист может назначить вам определенный список анализов лишь в том случае, если увидит в этом необходимость. Для начала можете просто прийти на консультацию.'
      },
      {
        title: 'Как понять, что у меня грибок, а не просто сухая кожа стоп?',
        body : 'Это вам скажет специалист-подолог, когда проведет осмотр. Самостоятельно достаточно сложно определить точный диагноз.'
      },
      {
        title: 'Я могу купить у вас средства для домашнего ухода за кожей стоп?',
        body : 'Да, конечно. Наш подолог даст вам рекомендации по домашнему уходу после процедуры. Если вы захотите приобрести одно из наших средств, сможете сделать это прямо в центре Steffany.'
      }
    ], true, 1)
