section.section-services.white-bg
  .container.circles-bg
    .row
      .col.d-flex.flex-column.align-items-center.section-service-block.mx-auto
        h3.section-title.mb-5.text-dark-1.text-center Послуги по профілактиці проблем зі стопами
        .row.mt-md-4.mb-5
          .col-12.col-md-6.px-4
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Консультація
              p.paragraph-text.text-dark-1.w-200 На консультації спеціаліст-подолог проводить огляд стопи і дізнається всю необхідну інформацію для подальших рекомендацій по лікуванню або профілактиці.
            .paragraph-container
              h4.paragraph-title Обробка діабетичної стопи (стопа з ураженням нервових закінчень і судин)
              p.paragraph-text.text-dark-1.w-200 Спеціаліст-подолог виконує апаратний педикюр. Він делікатно обробляє шкіру і нігті спеціальними насадками, враховуючи всі особливості діабетичної стопи.
          .col-12.col-md-6.px-4
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Медичний апаратний педикюр
              p.paragraph-text.text-dark-1.w-200 Спеціаліст-подолог обробляє всю поверхню стоп і нігті апаратом Nova3. За допомогою різних насадок він видаляє ороговілий шар шкіри, коригує форму і товщину нігтів, обробляє окремі ділянки.
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Частковий медичний педикюр (нігті)
              p.paragraph-text.text-dark-1.w-200 На такій процедурі спеціаліст-подолог працює з вашими нігтями і пальцями на ногах за допомогою спеціальних насадок апарату Nova3.
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Частковий медичний педикюр (стопи)
              p.paragraph-text.text-dark-1.w-200 Спеціаліст-подолог обробляє ваші стопи за допомогою певних насадок апарату Nova3.
        .container-fluid.d-flex.flex-column.align-items-center
          .row.prices-container.mb-4

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Первинная консультація подолога
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 150 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 хв

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Консультація Дерматолога
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 250 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 25 хв

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Медичний педикюр
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 500 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 2 години

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 комп'ютерна діагностика стопи в динамиці і статиці
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 400 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 40 хв

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Обробка глибоких тріщин з перев'язкою
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 500 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 1 година

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Частковий педикюр (нігті)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 300 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 1 година

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Обробка грибкових уражень стоп
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 450 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 хв

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Обробка діабетичної стопи
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 750 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 2 години

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Обробка при травмах нігтьових пластин (за 1 од)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 300 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 1 година
            +btnPen('записатись')(id="write", data-toggle='modal', data-target='#callbackModal')
