section.section.accordion-answer
  .container
    h2.h2-title.text-center.mb-3 Поширені запитання
    p.h4-title.text-center.d-none.d-md-block.mb-5 Можливо, наші клієнти вже спитали те, що вас цікавить
    #accordion.accordion.mt-3
      #heading01.card-header.active(data-toggle='collapse', data-target='#collapse01', aria-controls='collapse01', aria-expanded='true')
         p.paragraph-text.letter-spacing-15.text-w-bold
          |  Якщо я пройду повний курс лазерної епіляції, волосся зникне назавжди?
         .card-arrow
      #collapse01.collapse.show(aria-labelledby='heading01', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Якщо хтось обіцяє видалити вам волосся назавжди, він вам чогось не договорює. На жаль або на щастя, неможливо видалити волосся назавжди за допомогою лазеру. Це пов'язано із фізіологією росту волосся. Так, ми видаляємо активні волоски. Місцезнаходження фолікула з часом заростає сполучною тканиною і волосяний стрижень саме з цього фолікула більше не росте ніколи. Але в нашому організмі завжди є запас сплячого волосся. Воно спить до певного моменту, а потім проростає. Тому після повного курсу лазерної епіляції ми рекомендуємо 1 раз на рік навідуватися на профілактичний сеанс.

      //#heading02.card-header(data-toggle='collapse', data-target='#collapse02', aria-controls='collapse02', aria-expanded='false')
      //    p.paragraph-text.letter-spacing-15.text-w-bold
      //      | Чи можливе проведення лазерної епіляції для світлого пушкового волосся?
      //    .card-arrow
      //#collapse02.collapse(aria-labelledby='heading02', data-parent='#accordion')
      //  p.card-body.paragraph-text.text-w-light
      //    | Лазер може видалити тільки волосся із пігментом. Пігмент — його мішень. Тому світле волосся він просто не побачить. Хороша новина в тому, що ви все одно можете на тривалий час позбутися небажаного світлого пушкового волосся. Для цього ми проводимо нано-епіляцію — лужний пілінг.
      //    | Курс складається із 10 процедур мінімум, він теж повністю безболісний. Головне — дотримуватися всіх правил подальшого догляду.

      //#heading03.card-header(data-toggle='collapse', data-target='#collapse03', aria-controls='collapse03', aria-expanded='true')
      //  p.paragraph-text.letter-spacing-15.text-w-bold
      //    | Як ще я можу видалити волосся, якщо не хочу робити лазерну епіляцію?
      //  .card-arrow
      //#collapse03.collapse(aria-labelledby='heading03', data-parent='#accordion')
      //  p.card-body.paragraph-text.text-w-light
      //    | Ви можете пройти курс нано-епіляції, якщо вас турбують світле пушкове волосся. А звичайного пігментованого волосся ви можете позбутися за допомогою шугарингу і воскової епіляції.

      #heading04.card-header(data-toggle='collapse', data-target='#collapse04', aria-controls='collapse04', aria-expanded='true')
        p.paragraph-text.letter-spacing-15.text-w-bold
          | Ви проводите лазерне видалення волосся неповнолітнім?
        .card-arrow
      #collapse04.collapse(aria-labelledby='heading04', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Так, лазерну епіляцію можна робити з 14 років з угоди і в присутності одного з батьків. Звісно, краще робити лазерну епіляцію при стабільному гормональному фоні, щоб ефект тримався довше. Але якщо ви зважилися — ніяких протипоказань з точки зору віку немає. На консультації майстер розповість вам про всі нюанси підліткової епіляції, назве мінімальну кількість процедур і ви разом приймете необхідне рішення.

      #heading05.card-header(data-toggle='collapse', data-target='#collapse05', aria-controls='collapse05', aria-expanded='true')
        p.paragraph-text.letter-spacing-15.text-w-bold
          | Чи можна чоловікам видалити волосся в вашому центрі? Скільки коштує лазерна епіляція?
        .card-arrow
      #collapse05.collapse(aria-labelledby='heading05', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Звичайно. У такій епіляції і депіляції є свої нюанси, але це абсолютно реально. Скільки коштує зробити лазерну епіляцію — для чоловіків лазерна епіляція за ціною в Житомирі та інших містах зазвичай трохи вища, тому що площа зони для видалення волосся більші

      #heading06.card-header(data-toggle='collapse', data-target='#collapse06', aria-controls='collapse06', aria-expanded='true')
        p.paragraph-text.letter-spacing-15.text-w-bold
          | Який вид епіляції мені обрати, якщо у мене руде волосся?
        .card-arrow
      #collapse06.collapse(aria-labelledby='heading06', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | На жаль, не лазерну: рудий пігмент відштовхує лазерний промінь і вся процедура буде марною. Але нічого страшного! Обирайте воскову депіляцію або шугарінг. При регулярних процедурах волосся стане тоншим і буде рости рідше, ніж при голінні.

      #heading07.card-header(data-toggle='collapse', data-target='#collapse07', aria-controls='collapse07', aria-expanded='true')
        p.paragraph-text.letter-spacing-15.text-w-bold
          | Якщо я хочу позбутися одного волоска, у вас для цього є послуга одного лазерного імпульсу?
        .card-arrow
      #collapse07.collapse(aria-labelledby='heading07', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | У нас немає процедури одного імпульсу. Але якщо вам потрібно видалити лише один або пару волосків, ми розглянемо ваш випадок індивідуально і розрахуємо вартість у такої послуги лазерної епіляції. У цьому немає ніякої проблеми. Приходьте на консультацію, щоб більш детально обговорити питання з майстром.

      #heading08.card-header(data-toggle='collapse', data-target='#collapse08', aria-controls='collapse08', aria-expanded='true')
        p.paragraph-text.letter-spacing-15.text-w-bold
          | Чи можна дозволити собі видалити волосся лазером, якщо на ділянці, де я хочу зробити епіляцію, є татуювання?
        .card-arrow
      #collapse08.collapse(aria-labelledby='heading08', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Якщо ви хочете зробити лазерну епіляцію, ми заклеїмо ваше татуювання, щоб лазер не пошкодив його пігмент. У будь-яких інших видах епіляції (восковій, шугарінгу або нано-епіляції) ваше татуювання не постраждає. Обирайте, який метод вам більше підходить або проконсультуйтеся з нашим майстром.

      #heading09.card-header(data-toggle='collapse', data-target='#collapse09', aria-controls='collapse09', aria-expanded='true')
        p.paragraph-text.letter-spacing-15.text-w-bold
          | У ваших майстрів є медична освіта?
        .card-arrow
      #collapse09.collapse(aria-labelledby='heading09', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | Так, всі наші майстри епіляції та депіляції — це професійні косметологи. У них є медична освіта.

      #heading10.card-header(data-toggle='collapse', data-target='#collapse10', aria-controls='collapse10', aria-expanded='true')
        p.paragraph-text.letter-spacing-15.text-w-bold
          | Який стаж у ваших майстрів?
        .card-arrow
      #collapse10.collapse(aria-labelledby='heading10', data-parent='#accordion')
        p.card-body.paragraph-text.text-w-light
          | По-різному — від 2-х до 15-ти років. У нашій роботі дуже важлива практика, тому вас точно буде приймати кваліфікований і досвідчений фахівець.






