#modalServiceListSinugUp.modal.fade(tabindex='-1', role='dialog', aria-labelledby='firstDayCourse', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content
      h4.text-center.mb-0 Залишіть ваші дані
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true')
      .c-content
        h5.paragraph-text.text-color-dark.text-center та ми вам передзвонимо
        form#yclient_form
          input#fullname.w-100.p-text-light(name = "fullname" type="text", placeholder="Ім'я" required)
          input#email.w-100.p-text-light(name = "email" type="email", placeholder="Email" required)
          input#phone.w-100.p-text-light.mb-0(name = "phone" type="tel", placeholder="Телефон" required maxlength="19" minlength="19" pattern=".{19}")
          input#payment(name = "payment" type="hidden" value = "1")
          span#privacy_link.paragraph-text.text-color-dark.small-text.mb-0(style='font-size: 12px') согласен <a href="https://drive.google.com/file/d/1h7vT53uwHVyqDWv9obAiODghkVoIkAv5/view?usp=sharing"><b>с договором публичной оферты</b></a>
            //label.service-checkbox-label
            //  input.align-self-center(type='checkbox', required=true)
            //  span.checkmark.dark
          input#privacy_check(style='height: 12px', type='checkbox', required=true).mb-0
          +modalServiceListInfo
          .c-input-order
            input#order_button.btn-submit.order.hidden(type="submit" value="записатися")
            input#pay_button.btn-submit.pay(type="submit" value="сплатити")

#thanksPopupPay.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanksPopup', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document' class="thanks-popup")
    .modal-content.px-1
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true')
      h4.text-center Дякуємо за оплату!
      h5.text-center ми зв'яжемося з вами найближчим часом


#thanksPopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanksPopup', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document' class="thanks-popup")
    .modal-content.px-1
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true')
      h4.text-center Дякую!
      h5.text-center Ми скоро зв'яжемося з вами.

#sendComplex.modal.fade(tabindex='-1', role='dialog', aria-labelledby='firstDayCourse', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true')
      form#callComplex.main-form.d-flex.flex-column.align-items-center.mt-4.mt-md-0.pt-md-5
        h4.h4-title.text-uppercase.text-color-dark.text-w-bold.text-center Залишіть ваші дані
        p.paragraph-text.text-color-lightdark.text-center.mb-38 та ми вам передзвонимо
        .form-group
          input#fullnameConsult.form-control(name = "fullname" type='text', aria-describedby='emailHelp', placeholder='Ім\'я' required )
        .form-group
          input#emailConsult.form-control(name = "email" type='email', aria-describedby='emailHelp', placeholder='Email' required )
        .form-group
          input#phoneConsult.form-control(name = "phone" type='tel', placeholder='Телефон' required maxlength="19" minlength="19" pattern=".{19}")
          .c-input
            input#service(name = "service", type="hidden" value="1415297")
            input.btn-submit(type='submit' value='передзвоніть мені')

#paymentPopup.modal.fade(tabindex='-1' role='dialog')
  #main
  .ball-one
  .ball-two
  .ball-three
