section.section.safe-treatment.pb-0
  .container
    h2.text-center.dark-blue.line-height-41.mb-65 Чтобы сохранить абсолютную стерильность, <br> мы каждый день выполняем эти действия

    +numberedSection(
      'Очищаем воздух в помещении', 'В центре работают рециркуляторы и бактерицидные облучатели закрытого типа, которые обеззараживают воздух. Аппараты в кабинетах, которыми работают специалисты, имеют встроенные пылесосы, поэтому всасывают всю пыль и аллергены. Благодаря этим мерам все пациенты находятся в чистом гипоаллергенном пространстве.',
      'Стерилизуем инструменты после каждого приема', 'Мы замачиваем инструменты в ультразвуковых боксах с дезинфицирующим раствором широкого спектра действия. Там инструменты полностью очищаются от любых бактерий, вирусов и грибков. Дальше мы промываем и просушиваем инструменты.',
      'Вскрываем инструменты при пациентах', 'После раствора мы раскладываем инструменты по крафт-пакетам и кладем в автоклав класса В, где они стерилизуются при температуре 134 градусов при давлении пара в 2 бара в течение 20 минут. На каждом пакете есть индикатор, который меняет цвет. Специалист-подолог вскрывает крафт-пакет со стерильными инструментами при вас',
      'Дезинфицируем кабинет после каждого пациента', 'Мы обрабатываем все поверхности в кабинете. Также бактерицидные лампы кварцуют помещение после каждого пациента. Помимо этого мы проводим регулярные уборки с помощью дезинфицирующих средств и специального инвентаря. Обычную уборка мы проходим в начале и конце дня, а раз в неделю производим генеральную уборку.'
      )
