section.section.faq
  .container
    +accordeon('Часто задаваемые вопросы', 'Здесь вы прочитаете ответы на те вопросы, которые чаще всего интересуют наших пациентов', [
      {
        title: 'Как подготовиться к приему?',
        body : 'Вы можете не готовиться. Специалист-подолог самостоятельно подготовит зону вросшего ногтя к процедуре. Поэтому просто приходите в удобной обуви.'
      },
      {
        title: 'Если у меня запущенный случай, вы сможете его вылечить?',
        body : '«Запущенный» — понятие относительное. Из-за сильной боли или гнойных выделений вам может казаться, что это катастрофа. Хотя на самом деле для специалиста-подолога ваше состояние абсолютно решаемо. Мы не беремся только за случаи с осложнениями, о которых мы писали выше. В таких случаях мы направим вас к нужному специалисту. В любом случае — приходите на консультацию, чтобы специалист-подолог оценил ваше состояние и дал свои рекомендации.'
      },
      {
        title: 'Как правильно стричь ногти, чтобы ноготь не врастал?',
        body : 'Ноготь нужно стричь по прямой, не закругляя и не срезая углы. Тогда при отрастании он не будет впиваться в кожу и провоцировать врастание. '
      },
      {
        title: 'Если у меня покраснела кожа вокруг ногтя, но боли нет, это вросший ноготь?',
        body : 'Покраснение кожи — это сигнал нестандартного для здоровья процесса. Поэтому лучше обратитесь к подологу, чтобы предупредить врастание или другую проблему.'
      },
      {
        title: 'А что если через время после лечения ноготь опять начнет врастать?',
        body : 'Понимаем ваши опасения. По статистике, 85% операций по удалению вросшего ногтя заканчиваются рецидивом. То есть через время ноготь снова начинает врастать. Проблема такой ситуации в хирургическом вмешательстве. Поэтому мы за безоперационную коррекцию с помощью скоб и пластин. Именно такое лечение вросшего ногтя является наиболее безболезненным и эффективным. Кроме того, после процедуры вы обязательно получите распечатанный материал с советами по домашнему уходу за заживающим пальцем. И конечно, в любой непонятной ситуации вы можете позвонить или написать вашему лечащему специалисту или записаться на консультацию.'
      }
    ], true, 1)
