.numbered-block
  .container
    .row.no-gutters
      h2.w-100.text-center.text-initial.dark-color.fs-30 Эти курсы будут полезны, если вы
    .row.row-numbered
      .col-12.col-sm-6.col-lg-3.numbered-items.numbered-item-1
        .numbered-items-number.mx-auto.d-flex.flex-row.align-items-center.justify-content-end
          img(src="./assets/icon/common/numbed-item-num-1.png", alt="numbed-item-num")
        h3.mt-0 Практикующий подолог
        p.w-200.font-16.lh-26 Вы начинающий или уже опытный специалист, и вам хочется больше практики и новых навыков
      .col-12.col-sm-6.col-lg-3.numbered-items.numbered-item-2
        .numbered-items-number.mx-auto.d-flex.flex-row.align-items-center.justify-content-end
          img(src="./assets/icon/common/numbed-item-num-2.png", alt="numbed-item-num")
        h3.mt-0 Мастер маникюра и педикюра
        p.w-200.font-16.lh-26 Вы уже работаете в бьюти-сфере, но хотите знать больше о здоровье стопы и быть еще профессиональнее
      .col-12.col-sm-6.col-lg-3.numbered-items.numbered-item-3
        .numbered-items-number.mx-auto.d-flex.flex-row.align-items-center.justify-content-end
          img(src="./assets/icon/common/numbed-item-num-3.png", alt="numbed-item-num")
        h3.mt-0 Человек с мед. образованием
        p.w-200.font-16.lh-26 Вы медсестра, фельдшер или другой мед. сотрудник, который хочет более прибыльную работу
      .col-12.col-sm-6.col-lg-3.numbered-items.numbered-item-4
        .numbered-items-number.mx-auto.d-flex.flex-row.align-items-center.justify-content-end
          img(src="./assets/icon/common/numbed-item-num-4.png", alt="numbed-item-num")
        h3.mt-0 В поисках новой профессии
        p.w-200.font-16.lh-26 Вас не устраивает нынешняя работа и вы хотите попробовать себя в околомедицинской сфере
