.course-info
  .conteiner-s.w-100.mx-auto
    .row.no-gutters
      h2.section-title-small.text-center.text-initial Разные курсы, индивидуальный подход к потребностям абитуриента:
    .row.no-gutters
      h3.section-subtitle.text-center Ваш учебный график — день теории и день практики поочередно, а дальше по желанию стажировка в центре здоровья ног Steffany
    .row.no-gutters.course-info-cnt.mx-auto
      .col-12.col-md-6.order-1.order-md-1.course-info-titles
        p.paragraph-text-dark.extrabold.pb-3 Дни теории
        p.paragraph-text-dark.mb-0.pb-5 Занятия проходят
          span.f-bold с ПН по ПТ с 10:00 до 17:00&nbsp;
      .col-12.col-md-6.order-6.order-md-1.course-info-titles
        p.paragraph-text-dark.extrabold.pb-3 Дни практики
        p.paragraph-text-dark.mb-0.pb-5 Занятия проходят
          span.f-bold с ПН по ПТ с 10:00 до 17:00&nbsp;
      .info-list-item.col-12.col-md-6.order-2.order-md-1.paragraph-text-dark
        span.f-bold Вы изучаете&nbsp;
        | общую анатомию, строение опорно-двигательного аппарата, принципы биомеханики ходьбы
      .info-list-item.col-12.col-md-6.order-7.order-md-1.paragraph-text-dark
        span.f-bold Вы лечите&nbsp;
        | реальных пациентов со всеми заболеваниями, которые изучили в дни теории
      .info-list-item.col-12.col-md-6.order-3.order-md-1.paragraph-text-dark
        span.f-bold По очереди&nbsp;
        | проходите все заболевания стоп и способы их лечения
      .info-list-item.col-12.col-md-6.order-8.order-md-1.paragraph-text-dark
        span.f-bold Наблюдаете&nbsp;
        | за работой методиста, который сначала показывает, как нужно проводить процедуру
      .info-list-item.col-12.col-md-6.order-4.order-md-1.paragraph-text-dark
        span.f-bold  Узнаете&nbsp;
        | о профессиональных аспектах работы: как сотрудничать с лабораториями, как направлять пациентов к другим специалистам, как подбирать аппаратуру и уходовые средства для своей практики
      .info-list-item.col-12.col-md-6.order-9.order-md-1.paragraph-text-dark
        span.f-bold Принимаете&nbsp;
        | двух пациентов в день. В это время за вашей работой наблюдает методист, помогает и направляет
      .info-list-item.col-12.col-md-6.order-5.order-md-1.paragraph-text-dark.l-one
        span.f-bold В последний&nbsp;
        | день учебы вы сдаете устный экзамен, после которого получаете сертификат об успешном прохождении курса
      .info-list-item.col-12.col-md-6.order-10.order-md-1.paragraph-text-dark
        span.f-bold У вас под рукой&nbsp;
        | все необходимые инструменты (вращающиеся и ручные), дерматоскоп, подоскоп, глюкометр, а также материалы (скобы, пластины, силиконы)
