section.section.express-course
  h2 Экспресс-курс аппаратных и инструментальных техник
  p.text-dark-1.text-center Для начинающих мастеров
  h3.text-dark-1.text-center Продолжительность курса — 3 дня<br>Ближайший старт — ХХ месяца
  .container.d-flex.flex-wrap.list-section
    .col-12.col-lg-6
      h2.text-uppercase.mb-4 Теоретическая часть экспресс-курса
      ul.info-list
        li.mb-4
          h3 Введение в аппаратную технику
          p Типы и виды аппаратов, фрезы и боры, допустимые обороты для вращающихся элементов. Инструментарий и его назначение.
        li.mb-4
          h3 Стерилизация и дезинфекция
          p Практическое обучение работе с автоклавом и ультразвуковой ванночкой, крафт пакеты и ведение журналов стерилизации.
        li.mb-4
          h3 Анатомия кожи и техники безопасной работы с ней
        li
          h3 Основные патологии кожи и ногтей
          p По каким признакам мастеру диагностировать патологии кожи и ногтей. Сотрудничество с докторами.
    .col-12.col-lg-6
      h2.text-uppercase.mb-4 Практические занятия экспресс-курса
      ul.info-list
        li.mb-4
          h3 Постановка руки и отработка аппаратных методик
          p На экспресс-курсе мы будем уделять много внимания тому, чтобы вы поставили руку и отработали аппаратные методики работы со стопой и ногтевыми пластинами.
        li.mb-4
          h3 Работа с моделями
          p Каждый день вы будете работать с тремя моделями, чтобы отработать полученные знания на практике.
  p.light-blue.text-center Стоимость курса:&nbsp;
    strong 5000 грн
  .w-100.d-flex.justify-content-center.mt-4
    +customBtn('занять место')
