section.section.express-course-2
  .container.p-md-0.p-lg-5
    h2.text-center Расписание программ на 2020 год
    h3 Январь
    p <strong>27 января</strong> – семинар «Грибковые поражения ногтей и кожи. Эффективное взаимодействие подолога с лабораторией, дерматологом и другими специалистами»
    h3.mt-5 Февраль
    p <strong>10 февраля</strong> – семинар «Вросший ноготь. Работа с воспалениями»
    p <strong>17-22 февраля</strong> – курс базовой подологии, уровень 1
    p <strong>17-22 февраля</strong> – 24-28 февраля — «Ортониксия. Коррекция врастающего ногтя с помощью скоб и пластин»
    h3.mt-5 Март
    p <strong>16-21 марта</strong> – курс базовой подологии, уровень 2
    p <strong>30 марта</strong> — семинар «Ониходистрофии. Протезирование и восстановление ногтевых пластин»
    p <strong>31 марта</strong> — семинар «Ортезы. Изготовление индивидуальных изделий и их применение»
    h3.mt-5 Апрель
    p <strong>6 апреля</strong> — семинар «Мозоли. Трещины. Гиперкератоз в практике подолога»
    p <strong>6-10 апреля</strong> — «Ортониксия. Коррекция врастающего ногтя с помощью скоб и пластин»
    p.text-center.text-w-bold.mt-5 Оставьте свои данные, чтобы занять место на интересующую вас программу

    .d-flex.justify-content-center.mt-4
      +customBtn('занять место')(data-toggle='modal', data-target='#chooseDayCourseSpecial' style="width: 234px;" data-choose-text='Консультация по расписанию программ на 2020 год')
