section.section.introduce.learning-banner
  img(src="assets/img/feet-22.png")#feetOne.feet
  img(src="assets/img/introduce-cover-2.png")#feetTwo.feet
  .container
    img(src="assets/icon/common/circletest.png")#circles.circles
    .card.col-12.col-sm-11.col-lg-8
      h1.paragraph-text
        | Обучитесь 
        strong профессии подолога 
        | или повысьте свою квалификацию
      .dash
      p.paragraph-text В учебном центре Steffany вы можете пройти три курса со стажировкой и возможным трудоустройством:
      ul.info-list
        li
          p.paragraph-text Курс базовой подологии
        li
          p.paragraph-text Курс ортониксии и малой ортопедии
        li
          p.paragraph-text Экспресс-курс аппаратных и инструментальных техник

      +btnCallback('записаться на курс')(data-toggle='modal', data-target='#chooseDayCourse')
      img(src="assets/img/common/dash.png").dashes.intro-dashes
