#firstDayCourse.modal.fade(tabindex='-1', role='dialog', aria-labelledby='firstDayCourse', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content
      h4.text-center Введите свои данные
      h5.text-center чтобы занять место в группе
      form
        input.w-100.p-text-light.mb-2(type="text", placeholder="Имя" data-name required)
        input.w-100.p-text-light.mb-2(type="email" placeholder="Email" data-email pattern="^\\b[\\w\\.-]+@[\\w\\.-]+\\.\\w{2,4}\\b$")
        input.w-100.p-text-light.mb-4(type="tel" pattern="^((\+?3)?8)?((0\(\d{2}\)?)|(\(0\d{2}\))|(0\d{2}))\d{7}$", required, placeholder="Телефон" data-phone)
        input(type="submit" style="display: none;" data-f-day-s-btn)
        +customBtn('отправить')(data-f-day-c-btn data-toggle='modal' data-target='#thanksPopup')

#callbackModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='callbackModal', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content(style="padding-left: 50px!important; padding-right: 50px!important;")
      h4.text-center.pb-4(style="font-size: 16px;") Запись на прием происходит в телефонном режиме
      h5.text-center.pb-4 укажите телефон, для звонка и согласования деталей
      form.pb-4p
        input.w-100.p-text-light.mb-4(type="text", placeholder="Имя" id='consultName' data-name required)
        input.w-100.p-text-light.mb-4(type="email" placeholder="Email" id='consultEmail' data-email pattern="^\\b[\\w\\.-]+@[\\w\\.-]+\\.\\w{2,4}\\b$")
        input.w-100.p-text-light.mb-4(type="tel" pattern="^((\+?3)?8)?((0\(\d{2}\)?)|(\(0\d{2}\))|(0\d{2}))\d{7}$", required, placeholder="Телефон" id='consultPhone' data-phone)
        input(type="submit" style="display: none;" data-call-day-sub-btn)
        +customBtn('отправить')(data-call-day-callback-btn data-toggle='modal' data-target='#thanksPopup')

#secondDayCourse.modal.fade(tabindex='-1', role='dialog', aria-labelledby='firstDayCourse', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content
      h4.text-center Введите свои данные
      h5.text-center чтобы занять место в группе
      form
        input.w-100.p-text-light.mb-2(type="text", placeholder="Имя" data-name required)
        input.w-100.p-text-light.mb-2(type="email" placeholder="Email" data-email pattern="^\\b[\\w\\.-]+@[\\w\\.-]+\\.\\w{2,4}\\b$")
        input.w-100.p-text-light.mb-4(type="tel" pattern="^((\+?3)?8)?((0\(\d{2}\)?)|(\(0\d{2}\))|(0\d{2}))\d{7}$", required , placeholder="Телефон" data-phone)
        input(type="submit" style="display: none;" data-t-day-s-btn)
        +customBtn('отправить')(data-t-day-c-btn data-toggle='modal' data-target='#thanksPopup')

#chooseDayCourse.modal.fade(tabindex='-1', role='dialog', aria-labelledby='firstDayCourse', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content
      h4.text-center Введите свои данные
      h5.text-center чтобы занять место в группе
      form
        input.w-100.p-text-light.mb-2(type="text", placeholder="Имя" data-name required)
        input.w-100.p-text-light.mb-2(type="email" required, placeholder="Email" data-email pattern="^\\b[\\w\\.-]+@[\\w\\.-]+\\.\\w{2,4}\\b$")
        input.w-100.p-text-light.mb-2(type="tel" pattern="^((\+?3)?8)?((0\(\d{2}\)?)|(\(0\d{2}\))|(0\d{2}))\d{7}$", required, placeholder="Телефон" data-phone)
        select.w-100.p-text-light.mb-4(placeholder="Какой курс вы выбираете?")
          option.p-text-light(selected disabled hidden) Какой курс вы выбираете?
          option.p-text-light(value="1") Базовой подологии
          option.p-text-light(value="2") Малой ортопедии и ортониксии
        input(type="submit" style="display: none;" data-fr-day-s-btn)
        +customBtn('отправить')(data-fr-day-c-btn data-toggle='modal' data-target='#thanksPopup')
#thanksPopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanksPopup', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content.px-1
      h4.text-center Спасибо!
      h5.text-center Мы свяжемся с вами в ближайшее время!
