section.section.faq
    .container
      +accordeon('Часто задаваемые вопросы', 'Здесь вы найдете информацию, которая чаще всего интересует наших студентов', [
        {
          title: 'Если у меня нет мед образования, я могу пойти на курсы?',
          body: 'Конечно! Мы начинаем наши курсы с разбора базовой анатомии, физиологии и микробиологии человека. Да, медицинское образование никогда не помешает. Но в профессии подолога более важную роль играет самообразование и постоянное развитие. Курс базовой подологии — как раз отличный старт.'
        },
        {
          title: 'Ваш курс рассчитан одновременно на практиков и новичков? Что, если мне будет слишком просто или наоборот сложно?',
          body: 'Мы формируем группы так, чтобы у всех студентов была одинаковая база. Поэтому мы постараемся отделить людей с образованием от совсем новичков и сместим акценты в программе обучения. Если темп обучения будет некомфортным для вас, сразу сообщайте об этом методисту. Он подстроится под вас.'
        },
        {
          title: 'Профессия подолога прибыльная?',
          body: 'Подолог — одна из самых востребованных профессий на стыке медицины и эстетики. У нашей работы нет сезонности и очень высокий спрос. У хорошего подолога всегда есть работа.'
        },
        {
          title: 'Как проходит экзамен?',
          body: 'Экзамен — это общение методиста и студента. Методисту не нужны заученные фразы из учебника. Главное — чтобы студент действительно понял материал.'
        },
        {
          title: 'Что будет, если я не сдам экзамен?',
          body: 'Катастрофы точно не случится. Вы сдаете экзамен, чтобы мы были уверены, что вы усвоили материал. Если вы не до конца поняли какую-то тему и не сдали из-за нее экзамен, мы перенесем его на другую дату и вы попробуете снова.'
        },
        {
          title: 'Сертификат об окончании курса позволит мне устроиться на работу?',
          body: 'Вряд ли существует сертификат, который сам по себе обеспечит трудоустройство или сделает из человека профессионала. Главное в специальности подолога — постоянная практика и повышение квалификации. Выпускнику следует продолжать обучение: ездить на симпозиумы, конгрессы, семинары, общаться с другими специалистами. Параллельно ему нужно отрабатывать на пациентах приобретенные навыки. При таком ритме за 1-2 года новичок может превратиться в опытного специалиста.'
        },
        {
          title: 'Сколько человек в группе?',
          body: 'В группе до 6 человек, чтобы каждый студент получил от методиста максимум внимания.'
        },
        {
          title: 'Как именно проходят дни практики?',
          body: 'Студенты и методист находятся в оборудованных кабинетах. Студенты практикуются на реальных пациентах. Пациенты подобраны так, чтобы каждый студент мог отработать все проблемы стоп, которые изучил в день теории. Каждый день студент лечит двух пациентов. Степень сложности попадается разная, чтобы наработать как можно больший опыт. Методист курирует всю работу. Он следит за действиями каждого студента, направляет и советует. Перед тем, как задать какое-то действие, он садится перед пациентом и самостоятельно показывает, как правильно. Благодаря постоянному присутствия и вниманию методиста студенты не чувствуют себя в растерянности и у них нет возможности навредить пациентам по незнанию.'
        },
        {
          title: 'Как попасть на стажировку в Steffany?',
          body: 'Приходите на один из наших курсов, пройдите всю теорию и практику и сдайте теоретический экзамен. Если у вас будет получаться и мы будем видеть желание развиваться дальше, с радостью возьмем вас к себе на стажировку. С возможностью трудоустройства.'
        }
      ], true, 1)
