.conteiner-s
	max-width: 
.course-info
	padding: 57px 0 90px
	background: #EBF4FB
h2.section-title
  padding-bottom: 12px
  @include font(Circe, bold, 28, 28)
  color: #556278
h3.section-subtitle
  padding-bottom: 57px
  @include font(Circe, 600, 20, 30)
  color: #556278
.info-list
  li
    position: relative
    padding-left: 20px
    &:before
      position: absolute
      left: 0
      top: 9px
      content: ''
      width: 5px
      height: 5px
      background: $breadcrump-color
      border-radius: 50%
.extrabold
  font-family: 'Circe-ExtraBold'