section.section-services.about
  .container
    +breadcrumbs('Главная', 'Услуги', './pod.html', 'Обработка трещин', '/treatment.html')
  .container
    h3.page-title.mb-3.mb-lg-5 Обработка трещин на пятках
    .row.mx-auto
      .col-12.d-block.d-sm-none.mb-3
        .services-about-sm-divider
      .col-12.col-lg-6.order-2.order-lg-1
        img.w-100.shadow(src="assets/img/cracking/feet-top.jpg", srcset="assets/img/cracking/feet-top@2x.jpg 2x")
      .col-12.col-lg-6.d-flex.justify-content-center.flex-column.order-1.order-lg-2
        p.paragraph-text.text-dark-1.pb-2 Трещины на пятках — распространенная проблема среди женщин и мужчин. Достаточно часто трещины появляются даже у тех, кто регулярно делает педикюр. Большинство людей относится к этой проблеме как к сугубо эстетической. Тем не менее, запущенные трещины на подошвах могут вызывать боль при ходьбе, а еще свидетельствовать о более серьезных заболеваниях, например, грибке. Также в трещины легко могут попасть частички грязи и пыли, из-за чего кожа будет воспаляться, болеть и дольше заживать.
        p.paragraph-text.text-dark-1 Если вас беспокоят трещины на пятках, лучше обратитесь к специалисту-подологу в центр здоровья ног Steffany. Он оценит ситуацию с точки зрения здоровья и назначит соответствующее лечение.
