section.section-services.container-fluid.py-0.ort-treatment.ingrown-cnt.ingrown-cnt-2.py-0
  .row.no-gutters.section-services-treatment-row-padding
    .container
      .row
        .col
          h3.section-title.text-color-light.mb-4.text-center.extra-h3.text-w-bold Почему на пятках появляются трещины
          .services-treatment-divider.mb-4.mx-auto
          p.paragraph-text-light.text-center.mb-0 Кожа на пятках — зона, на которую приходится огромное давление при ходьбе. Когда кожа эластичная, она способна справляться<br>с такой нагрузкой. Но если она грубеет и недостаточно увлажняется, то начинает трескаться. Если оставить кожу<br>в таком состоянии, трещины станут глубже.<br/><br>При этом сухая кожа — не единственная причина возникновения трещин на пятках. Иногда пациенты даже не подозревают<br>о реальном возбудителе проблемы.
