section.section-services.container-fluid.py-0.ort-treatment.ingrown-cnt.ingrown-cnt-2.py-0
  .row.no-gutters.section-services-treatment-row-padding
    .container
      .row
        .col
          h3.section-title.text-color-light.mb-4.text-center.extra-h3.text-w-bold Что делать, если у вас трещины на пятках
          p.paragraph-text-light.text-center.mb-80 Лечение трещин на пятках напрямую зависит от причины их возникновения. Как мы <br/> уже выяснили, далеко не всегда трещины можно убрать обычным увлажнением, т.к.<br/> причина кроется глубже. Поэтому лучше сразу принять определенные меры.
    .container
      .row.no-gutters.mx-auto.justify-content-between
        .col-12.col-lg-4.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt.text-w-bold Н
              span.text-lowercase е делать кислотный педикюр
          p.paragraph-text-light.ort-cnt Кислотный педикюр противопоказан при трещинах и других повреждениях на коже, а также при грибке. Поэтому не стоит делать его, чтобы не усугубить проблему.
          p.paragraph-text-light.ort-cnt Они работают только на абсолютно здоровой коже. Если ваша кожа склонна к аллергическим реакциям или у вас есть грибок, жидкость такой маски травмирует стопы.
        .col-12.col-lg-4.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt.text-w-bold Н
              span.text-lowercase е использовать носочки для педикюра
          p.paragraph-text-light.ort-cnt Не стоит использовать одноразовые носочки для педикюра для отшелушивания ороговевших клеток, в состав которых входит молочная кислота. Они работают только на абсолютно здоровой коже. Если ваша кожа склонна к аллергическим реакциям или у вас есть грибок, жидкость такой маски травмирует стопы.
        .col-12.col-lg-4.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt.text-w-bold О
              span.text-lowercase братиться к подологу
          p.paragraph-text-light.ort-cnt Специалист осмотрит вашу кожу и соберет данные о состоянии организма в целом. Благодаря этому он сможет понять причину трещин, рекомендовать правильное лечение и домашний уход. Если подолог выяснит, что причина трещин лежит в зоне ответственности других специалистов, он обязательно перенаправит вас к нужному врачу.
