section.section.category
  .row
    .col-sm-12.col-lg-4.dark-block
      .centered-content.info-section
        .row
          img(src="assets/img/cat-item-18.png" alt="cat-item")
          .wrapper
            span Неудобная обувь
        p Тесная закрытая обувь —  <b>причина многих проблем со стопой, </b> в том числе трещин на пятках. Когда обувь передавливает кожу, давление от ходьбы распределяется по стопе неравномерно и кожа трескается.
    .col-sm-12.col-lg-4.light-darkness-block
      .centered-content.info-section
        .row
          img(src="assets/img/cat-item-19.png" alt="cat-item")
          .wrapper
            span Чрезмерный пилинг
        p Трещины на пятках непросто убрать в домашних условиях. Многие пациенты только <b>усугубляют проблему</b>, когда пытаются избавиться от трещин с помощью пемзы, пилочек или бритвенного лезвия. 
    .col-sm-12.col-lg-4.dark-block
      .centered-content.info-section
        .row
          img(src="assets/img/cat-item-20.png" alt="cat-item")
          .wrapper
            span Некоторые заболевания
        p Трещины на пятках <b>могут стать следствием</b> некоторых заболеваний: сахарного диабета, железодефицитной анемии, грибковых инфекций, дерматита, гипергидроза (повышенного потоотделения).
    .col-sm-12.col-lg-4.light-darkness-block
      .centered-content.info-section
        .row
          img(src="assets/img/cat-item-21.png" alt="cat-item")
          .wrapper
            span Открытая обувь
        p Открытая обувь или хождение босиком <b>провоцируют сухость кожи</b>. Она грубеет, и без регулярного увлажнения быстро трескается.
    .col-sm-12.col-lg-4.dark-block
      .centered-content.info-section
        .row
          img(src="assets/img/cat-item-22.png" alt="cat-item")
          .wrapper
            span Частый контакт с водой
        p Еще одна причина чрезмерной сухости — частые водные процедуры в <b>жесткой воде</b> из-под крана или в хлорной воде бассейна. Это тоже травмирует кожу, если не увлажнять ее.
    .col-sm-12.col-lg-4.light-darkness-block
      .centered-content.info-section
        .row
          img(src="assets/img/cat-item-23.png" alt="cat-item")
          .wrapper
            span Недостаток витаминов
        p За эластичность кожи отвечают витамины А и Е. Если не получать их с продуктами питания, кожа всего тела и пяток в частности <b>может сохнуть</b>. Даже если наносить на нее увлажняющие кремы и регулярно делать педикюр.