section.section.category
  .wrapper--dark
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-18.png" alt="cat-item-18")
              .wrapper
                span Неудобная обувь
            p Тесная закрытая обувь — <strong>причина многих проблем со стопой</strong>, в том числе трещин на пятках. Когда обувь передавливает кожу, давление от ходьбы распределяется по стопе неравномерно и кожа трескается.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-19.png" alt="cat-item-19")
              .wrapper
                span Чрезмерный пилинг
            p Трещины на пятках непросто убрать в домашних условиях. Многие пациенты только <strong>усугубляют проблему</strong>, когда пытаются избавиться от трещин с помощью пемзы, пилочек или бритвенного лезвия.
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-20.png" alt="cat-item-20")
              .wrapper
                span Некоторые заболевания
            p Трещины на пятках <strong>могут стать следствием</strong> некоторых заболеваний: сахарного диабета, железодефицитной анемии, грибковых инфекций, дерматита, гипергидроза (повышенного потоотделения) и гормонального дисбаланса в организме человека.
  .wrapper--dark--reversed
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-21.png" alt="cat-item-21")
              .wrapper
                span Открытая обувь
            p Открытая обувь или хождение босиком <strong>провоцируют сухость кожи</strong>. Она грубеет, и без регулярного увлажнения быстро трескается.
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-25.png" alt="cat-item-22")
              .wrapper
                span Нарушение липидной мантии и снижение защитной функции кожи
            p Церамиды — это межклеточный «цемент». Они вырабатываются в организме и распространяются между верхними слоями кожи, делая ее гладкой. Как только в организме нарушается выработка липидов, кожа начинает шелушиться и теряет гладкость, а это может привести к образованию трещин.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-23.png" alt="cat-item-23")
              .wrapper
                span Недостаток витаминов
            p За эластичность кожи отвечают витамины А и Е. Если не получать их с продуктами питания, кожа всего тела и пяток в частности <strong>может сохнуть</strong>. Даже если наносить на нее увлажняющие кремы и регулярно делать педикюр.
  .wrapper--light
    .container.very-special-container
      .row.very-special-row
        .col-12.light-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-24.png" alt="cat-item-24")
              .wrapper
                span Частый контакт с водой
            p Еще одна причина чрезмерной сухости — частые водные процедуры в жесткой воде из-под крана или в хлорной воде бассейна. Это тоже травмирует кожу, если не увлажнять ее.<br>Люди работающие в мокрой среде (бассейнах и саунах) сильно подвержены различным инфекциям кожи и ногтей, так как барьерная функция кожи перестает работать через 15 минут нахождения в мокрой среде. Наша кожа обладает способностью самоочищения: в первые 10 минут она выводит и отдает воде накопившиеся продукты переработки, шлаки и токсины. Однако через 15 минут кожа начинает принимать все обратно, добавляя к этому бактерии из воды, так как барьерная функция не работает.
