.info-block-grid.grid-bg-1.doubleGrid
  .container.p-0
    .row.no-gutters.mb-5 
      h2.section-title.text-center.mb-0 Услуги маникюра в Житомире
    .row.no-gutters.grid-shodow.double-grid-container.w-100.mx-auto
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Классический 
            p.thin-text.pb-5.pb-md-0.text-grid Обрезная техника маникюра, которая выполняется стерилизованными инструментами
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 40 минут
            | 120 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/infoblock/grid-item-5.jpg", srcset="assets/img/infoblock/grid-item-5@2x.jpg  2x", alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/infoblock/grid-item-6.jpg", srcset="assets/img/infoblock/grid-item-6@2x.jpg  2x", alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Аппаратный маникюр 
            p.thin-text.pb-5.pb-md-0.text-grid Маникюр, который выполняется фрезерными насадками аппарата
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 140 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Европейский маникюр 
            p.thin-text.pb-5.pb-md-0.text-grid Мастер моет ваши волосы, выполняет стрижку и затем укладку
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 90 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/infoblock/grid-item-7.jpg", srcset="assets/img/infoblock/grid-item-7@2x.jpg  2x", alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/infoblock/grid-item-8.jpg", srcset="assets/img/infoblock/grid-item-8@2x.jpg  2x", alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Комбинированный маникюр 
            p.thin-text.pb-5.pb-md-0.text-grid Маникюр, где совмещаются сразу два вида техник — классическая обрезная и аппаратная
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 140-150 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Мужской маникюр 
            p.thin-text.pb-5.pb-md-0.text-grid Классический обрезной маникюр с приданием формы ногтям и полировкой ногтей
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 140 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/infoblock/grid-item-9.jpg", srcset="assets/img/infoblock/grid-item-9@2x.jpg  2x", alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/infoblock/grid-item-10.jpg", srcset="assets/img/infoblock/grid-item-10@2x.jpg  2x", alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Детский маникюр 
            p.thin-text.pb-5.pb-md-0.text-grid Мастер придает форму детским ноготкам и по желанию родителей красит обычным лаком
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 50 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Придание формы ногтей 
            p.thin-text.pb-5.pb-md-0.text-grid Просто обрезание ногтей и придание им формы 
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 50-60 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/infoblock/grid-item-12.jpg", srcset="assets/img/infoblock/grid-item-12@2x.jpg  2x", alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/infoblock/grid-item-13.jpg", srcset="assets/img/infoblock/grid-item-13@2x.jpg  2x", alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Покрытие ногтей гель-лаком Reforma 
            p.thin-text.pb-5.pb-md-0.text-grid Профессиональное стойкое покрытие гель-лаком английского бренда Reforma
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 190 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Покрытие ногтей гель-лаком Lemme 
            p.thin-text.pb-5.pb-md-0.text-grid Профессиональное стойкое покрытие гель-лаком польского бренда Lemme
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 200 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/infoblock/grid-item-13.jpg", srcset="assets/img/infoblock/grid-item-13@2x.jpg  2x", alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/infoblock/grid-item-13.jpg", srcset="assets/img/infoblock/grid-item-13@2x.jpg  2x", alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Покрытие ногтей гель-лаком Luxio	
            p.thin-text.pb-5.pb-md-0.text-grid Профессиональное стойкое покрытие гель-лаком канадского бренда Luxio
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 220 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Комбинированное покрытие ногтей гель-лаком
            p.thin-text.pb-5.pb-md-0.text-grid При покрытии совмещаются средства сразу нескольких брендов вместо одного, чтобы достичь желаемого эффекта: укрепления, определенного финиша и т.д.
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 190 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/infoblock/grid-item-13.jpg", srcset="assets/img/infoblock/grid-item-13@2x.jpg  2x", alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/infoblock/grid-item-13.jpg", srcset="assets/img/infoblock/grid-item-13@2x.jpg  2x", alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Покрытие ногтей обычным лаком CND Vinilux 
            p.thin-text.pb-5.pb-md-0.text-grid Профессиональное покрытие лаком американского бренда CND Vinilux
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 80 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
