section.section.accordion-answer.questions
  h2.section-title.text-center.white-text Часто задаваемые вопросы
  p.h3-title-regular.text-center.mb-4 Возможно, интересующий вас вопрос про маникюр уже задали наши клиенты
  #accordion.accordion.mt-3
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading01.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse01',   aria-controls='collapse01', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Я не знаю, какой мне сделать маникюр. Как мне записаться на процедуру?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse01.collapse.w-100.collapse-answer.questions-container.show(aria-labelledby='heading01', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Ничего страшного. Скажите об этом администратору во время записи. На сеансе мастер осмотрит ваши руки и на месте предложит самый подходящий вид маникюра.  Если же вы записываетесь онлайн или через приложение, выберите любой вид маникюра, а на сеансе попросите мастера подобрать самый подходящий.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading02.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse02',   aria-controls='collapse02', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Какие виды дизайна вы делаете?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse02.collapse.w-100.collapse-answer.questions-container(aria-labelledby='heading02', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Художественную роспись, стемпинг, наклейки, втирки, присыпки, стразы, блестки, липкие ленты, фольгу, слюду, аэрографию. Для дизайна нужно дополнительное время, поэтому во время записи не забудьте указать, что планируете сделать дизайн.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading03.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse03',   aria-controls='collapse03', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Как работает гарантия на покрытие?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse03.collapse.w-100.collapse-answer.questions-container(aria-labelledby='heading03', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Если в течение 7 дней после маникюра с вашим покрытием что-то случается и это наша вина, приходите к нам. Мы исправим нашу ошибку и бесплатно переделаем покрытие.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading04.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse04',   aria-controls='collapse04', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Как часто у вас появляются новые оттенки гель-лака?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse04.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading04', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Мы обновляем нашу коллекция с той же скоростью, что и наши бренды гель-лаков — каждый сезон. Это значит, что практически каждый месяц у нас появляется до 10-ти новых оттенков. 
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading06.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse06',   aria-controls='collapse06', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Как вы снимаете покрытие?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse06.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading06', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | С помощью жидкости или аппарата. Выбирайте подходящий для ногтей способ и сообщите о нем мастеру.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading07.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse07',   aria-controls='collapse07', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Как долго сушится обычный лак?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse07.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading07', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | 10-15 минут. Летом это происходит быстрее, зимой — чуть медленнее из-за температуры рук.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading08.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse08',   aria-controls='collapse08', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Какие виды дизайна на ногтях вы делаете?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse08.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading08', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Все виды: художественную роспись, стемпинг, наклейки, втирки, присыпки, стразы, блестки, липкие ленты, фольгу, слюду, аэрографию. Предупреждайте о дизайне при записи, чтобы мы выделили для него время на вашей процедуре.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading09.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse09',   aria-controls='collapse09', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Какую лампу вы используете для сушки гель-лака?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse09.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading09', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Мы используем для сушки (полимеризации) диодную лампу SUN 2. Эти лампы просушивают гель-лак за 30 секунд.