.info-block.white-bg.info-block-9.info-block-9-1
  .container
    .row.d-flex.flex-column.flex-lg-row.align-items-center.justify-content-center.justify-content-lg-between.no-gutters
      .col-12.col-xl-6.col-info.order-1
        h2.section-title Европейский маникюр <br/> в Житомире
        p.pb-3.thin-text Европейский необрезной маникюр — это когда мастера отодвигают кутикулу без каких-либо инструментов и аппаратов. Тем не менее, ногтевое ложе после маникюра выглядит ухоженным. Покрытие после европейского маникюра смотрится аккуратно.
        p.p-bold.pb-3  Кому подойдет европейский маникюр
        p.pb-3.thin-text Этот вид обработки ногтевой пластины подойдет людям, которые не хотят обрезать свою кутикулу и сильно вмешиваться в ее рост. Европейский маникюр рекомендуется подросткам 15-16 лет, которые хотят покрывать ногти гель-лаком, но не готовы нарушить рост кутикулы.
      .col-12.col-xl-6.d-none.d-xl-block.col-img.order-2
        img.w-100(src="./assets/img/infoblock/item-test.png", srcset="./assets/img/infoblock/item-tes@2x.png 2x", alt="item")
      .col-12.d-flex.d-xl-none.justify-content-between.col-img-wrap.order-2
        .col-12.col-md-6.pr-0.pr-md-2.pl-0
          img.w-100(src="./assets/img/infoblock/item-test.png", srcset="./assets/img/infoblock/item-tes@2x.png 2x", alt="item")
        .d-none.d-md-block.col-md-6.pl-0.pl-md-2.pr-0
          img.w-100(src="./assets/img/infoblock/item-test.png", srcset="./assets/img/infoblock/item-tes@2x.png 2x", alt="item")
