.benefits.serviceBenefits.doubleBnf.doubleBnfDark.three-benefits.dark-words
  .container.mx-auto
    .row.no-gutters
      .section-title.white-text.text-center Маникюр в Житомире от Steffany безопасный для здоровья
      .section-subtitle.white-text.text-center Мы соблюдаем все правила стерилизации и очищения во время работы с вашими руками
    .row.no-gutters.bnf-items.flex-column.flex-xl-row
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-5.png", srcset="./assets/img/bnf/item-5@2x.png 2x", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-20.png", srcset="./assets/img/bnf/item-20@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 01
          .bnf-title.white-text Своя лаборатория стерилизации
          p.paragraph-text-dark.white-text.mb-2
            span В нашем салоне оборудована отдельная лаборатория стерилизации, где инструменты для маникюра проходят все этапы очищения. Мы замачиваем в дезинфицирующем растворе все режущие инструменты для классического маникюра и все насадки для аппаратного маникюра. Затем мы чистим их щеткой под проточной водой и ополаскиваем дистиллированной
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-6.png", srcset="./assets/img/bnf/item-6@2x.png 2x", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", srcset="./assets/img/bnf/item-21@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 02
          .bnf-title.white-text Индивидуальный набор инструментов
          p.paragraph-text-dark.white-text.mb-2
            span После этапа дезинфекции мы раскладываем каждый набор инструментов по отдельным крафт-пакетам. В них инструменты стерилизуются в сухожаровом шкафу 1 час при температуре 180 градусов. В каждый крафт-пакет встроен индикатор в виде кружочка. Когда инструменты внутри проходят весь цикл стерилизации, кружок меняет свой цвет. Обратите на это внимание
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-7.png", srcset="./assets/img/bnf/item-7@2x.png 2x", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", srcset="./assets/img/bnf/item-21@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 03
          .bnf-title.white-text Пакет одноразовых материалов
          p.paragraph-text-dark.white-text.mb-2
            span Во время вашей процедуры мастер открывает ваш индивидуальный пакет, где находятся сменные абразивы, апельсиновая палочка, а также перчатки и маска для мастера. Мастер берет металлическую простерилизованную основу, надевает на нее сменные файлы с абразивами и обрабатывает ими ваши ногти. После сеанса с вами все эти материалы утилизируются