.info-block.info-block-6.info-block-6-1.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.mob-hidden-item
          img.w-100(src="./assets/img/infoblock/item-67.jpg",  alt="item")
        .col.col-info.order-1.no-bg-blk
          h2.section-title.border-el Аппаратный маникюр в Житомире
          p.pb-15 Для этого вида маникюра не нужна вода, ножницы и дополнительные средства. Процедура выполняется исключительно фрезерными насадками аппарата. Мы используем в нашем салоне профессиональный аппарат корейского бренда Marathon.
          p.pb-3.p-bold Кому подойдет аппаратный маникюр
          p.pb-15.thin-text Этот вид обработки ногтей и ногтевого ложа не такой глубокий, как классический. Поэтому он подойдет всем, у кого сухая кожа. Он подойдет клиентам, у которых не особо активно растет кутикула. Аппаратный маникюр поверхностно убирает все ороговевшие сухие частички кутикулы.
          p.pb-3.p-bold Сколько длится аппаратный маникюр
          p.thin-text Процедура длится 30-45 минут в зависимости от состояния кутикулы и сухости кожи
      span.big-text.mob-hidden-item nails
