.benefits.serviceBenefits.serviceBenefits2
  .container
    .row.no-gutters.mb-4
      h2.section-title.h-center Маникюр в Steffany — всегда правильное решение
    .row.no-gutters
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.bnf-number-one.d-flex.align-items-center.justigy-content-center.text-center.white-text 01
          .bnf-title.bnf-title-smaller.text-center.text-color-dark 7-дневная гарантия на покрытие
          p.thin-text.text-center.text-color-dark Все наши гель-лаки от профессиональных брендов и мы уверены в их качестве. И все же если лак плохо поведет себя на ваших ноготках, мы обязательно исправим это бесплатно
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.bnf-number-two.d-flex.align-items-center.justigy-content-center.text-center.white-text 02
          .bnf-title.bnf-title-smaller.text-center.text-color-dark Маникюр и педикюр в 4 руки
          p.thin-text.text-center.text-color-dark Экономьте свое время — приходите на услугу параллельного маникюра и педикюра. Два мастера одновременно сделают вам две процедуры всего за 2 часа
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.bnf-number-three.d-flex.align-items-center.justigy-content-center.text-center.white-text 03
          .bnf-title.bnf-title-smaller.text-center.text-color-dark Любые оттенки и дизайн
          p.thin-text.text-center.text-color-dark В нашем салоне вас уже ждут более 200 оттенков гель-лака и около 40 цветов обычного лака. Также наши мастера могут сделать любой вид дизайна. Выбор за вами! 