.info-block.info-block-3-2
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters.border-block-item2
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-64.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title Маникюр в Житомире
          p.under-border Маникюр стал новой обязанностью всех женщин. Чтобы сделать маникюр в Житомире, каждый месяц они вынуждены идти в салон и отдавать 2-3 часа своей жизни молчаливому ничегонеделанию. Только вот кто сказал, что маникюр должен быть скучным? В Steffany обычный маникюр — это праздник. С шампанским, эмоциями и яркими красками. Поэтому выбирайте подходящий вам вид маникюра и записывайтесь на процедуру. Мы уже ждем вас!
      span.big-text.d-none.d-xl-block manicure
