.info-block.info-block-5.info-block-5-1.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-start.justify-content-center.justify-content-xl-end.no-gutters.border-block-item3
        .col.col-img.d-none.d-xl-block.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-65.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title Классический маникюр <span class='city-in-dynamic'></span>
          p Классический маникюр называется так не зря. Он подходит для любого типа кожи и идеально удаляет кутикулу с помощью режущих стерильных инструментов.
          p.p-bold.under-border Кому подойдет классический маникюр
          p Маникюр классический — идеальный для людей, у которых ногтевое ложе достаточно быстро зарастает кутикулой. Обрезная техника позволяет привести ногти в порядок и сделать их аккуратными.
          a.btn-simple.br-100.d-flex.align-items-center.justify-content-center.white-text(data-anchor-link='man-classic') Цена
      span.big-text.d-none.d-xl-block Colo
