section.section.doctors-list
	background: url('../assets/img/background/doctor-bg.png') no-repeat top left
	background-size: cover

	@include media-breakpoint-down(sm)
		.slider-pad
			padding: 0
	p.h-center.light-white
		letter-spacing: .1em

