extends ../layout/main

block content
  section.section.error
    .container
      .row
        .col-12.col-xl-6
          .c-content
            h2.h2-title Ця сторінка не знайдена
            p.subtitle Перевірте правильність адреси, або натисніть на будь-яке посилання знизу:
            ul.info-list
              a(href="./index.html")
                li.list-item.paragraph-text.text-w-bold.mb-3 Перейти на Головну
              a(href="./about-steffany.html")
                li.list-item.paragraph-text.text-w-bold.mb-3 Прочитати про мережу салонів Steffany
              a(href="./discount.html")
                li.list-item.paragraph-text.text-w-bold.mb-3 Дізнатися про акції салону
              a(href="./service.html")
                li.list-item.paragraph-text.text-w-bold.mb-3 Прочитати про лазерну епіляцію
              a(href="./service-shugaring.html")
                li.list-item.paragraph-text.text-w-bold.mb-3 Прочитати про шугарінг
              a(href="./waxing.html")
                li.list-item.paragraph-text.text-w-bold.mb-3 Прочитати про воскову епіляцію
        .col-12.col-xl-6
          .white-block-design
            img(src="" alt="about-page" srcset="assets/img/error/error-img.jpg 2x")
            p.extralarge-text-bg ooops

    //tablet
    .container.error-tablet
      .c-content
        h2.h2-title Ця сторінка не знайдена
        p.subtitle Перевірте правильність адреси, або натисніть на будь-яке посилання знизу:
        ul.info-list
          li.list-item.paragraph-text.text-w-bold.mb-3 Перейти на Головну
          li.list-item.paragraph-text.text-w-bold.mb-3 Прочитати про мережу салонів Steffany
          li.list-item.paragraph-text.text-w-bold.mb-3 Дізнатися про акції салону
          li.list-item.paragraph-text.text-w-bold.mb-3 Прочитати про лазерну епіляцію
          li.list-item.paragraph-text.text-w-bold.mb-3 Прочитати про шугарінг
          li.list-item.paragraph-text.text-w-bold.mb-3 Прочитати про воскову епіляцію
      .white-block-design
        img(src="" alt="about-page" srcset="assets/img/error/error-img.jpg 2x")
        p.extralarge-text-bg ooops