extends ../layout/main

block content
  .container-overflow
    include ../sections/service/about-page-section
    include ../sections/service/four-boxes
    include ../sections/service/service-consultation
  include ../sections/service/service-list-laser
  .container-overflow
    include ../sections/discount/discount-section
    include ../sections/service/service-after-laserepila
    include ../sections/service/service-laser-whatToDo
    include ../sections/service/service-laser-contraindications
    include ../sections/about-steffany-salon/specialists
    include ../sections/service/accordeon
    include ../sections/consultation-form
