section.section.consultation
  .consultation-01.mb-9.pt-4
    .container
      .row
        .col-12.col-lg-6
          h2.h1-title.text-color-light.mb-3 Лазерная эпиляция начинается с консультации
          h3.h3-title.paragraph-text.text-color-light.text-w-bold.mb-4 Поэтому эпиляция проходит так комфортно
          p.paragraph-text.text-color-light.text-w-light.mb-2 Мы удаляем волосы лазером Soprano Ice Baby от израильской компании Alma Lasers, которая выпускает бьюти-аппараты нового поколения. Их изготавливают на заводах в Израиле, Германии и США.
          p.paragraph-text.text-color-light.text-w-light.mb-4 Мы выбрали для своих салонов именно эти лазеры. Потому что вместе с нежелательными волосами они разрушают стереотип о том, что лазерная эпиляция — это мучения.
          ul.info-list
            li.text-color-light.mb-4  <span class="paragraph-text">Не приносит боли</span> и неприятных ощущений во время процедуры.
            li.text-color-light.mb-4  <span class="paragraph-text">эффективно работает</span> Одинаково на очень светлой и смуглой коже — от 1 до 6 фототипа.
            li.text-color-light.mb-4  <span class="paragraph-text">чувствительной кожи</span> Подходит для и варикозного расширения вен.
            li.text-color-light.mb-4  <span class="paragraph-text">быстрее обычного лазера</span> Обрабатывает кожу благодаря технике InMotion — постоянному движению по эпилируемому участку.
            li.text-color-light.mb-4  <span class="paragraph-text">не вредит загорелой коже.</span> Готов к работе в пляжный сезон и
        .col-12.col-lg-6.d-flex.justify-content-center
          .white-block-design.ml-auto.ml-lg-0.mx-auto.mx-lg-0
            img(src="assets/img/position-img_2.png" alt="position-img-2")
  .consultation-02
    .container
      .row
        .col-12.col-lg-6
          .white-block-design.mx-auto.mx-lg-0
            img(src="assets/img/position-img_3.png" alt="position-img-3")
        .col-12.col-lg-6.pt-7.pb-7
          h2.h2-title Как работает лазерная эпиляция
          p.paragraph-text.text-color-light.text-w-light.mb-2 Перед тем, как удалять волосы лазером, стоит устроить себе минутку биологии и вспомнить циклический обмен волос на теле. Наши волосы проходят разные фазы своего развития:
          .c-li.d-flex.align-items-center.mb-2.mt-2
            .custom-icon-number.mb-2
              p 1
            p.paragraph-text.text-color-bold.mb-2.ml-2 <span class="paragraph-text">анаген</span> — период активного роста, который длится от 2 до 6 лет;
          .c-li.d-flex.align-items-center.mb-2.mt-2
            .custom-icon-number.mb-2
              p 2
            p.paragraph-text.text-color-bold.mb-2.ml-2 <span class="paragraph-text">катаген</span> — переходный период от одной стадии к другой;
          .c-li.d-flex.align-items-center.mb-2.mt-2
            .custom-icon-number.mb-2
              p 3
            p.paragraph-text.text-color-bold.mb-2.ml-2 телоген — период покоя, когда волосы почти незаметно для нас выпадают и освобождают место для новых активных волос.
          p.paragraph-text.text-color-light.text-w-light.mb-2 Природа задумала такой процесс, чтобы волосы естественным образом сменяли друг друга, а мы не замечали этих изменений. Если бы все наши волосы на теле «синхронизировались», часть времени мы бы ходили совсем безволосыми и ждали, когда вырастут новые волоски.
          p.paragraph-text.text-color-light.text-w-light.mb-2 <span class="paragraph-text">Задача лазерной эпиляции</span> — обработать те фолликулы, из которых растут волосы в активной фазе. Благодаря процедуре со временем эти фолликулы зарастают соединительной тканью и волосы оттуда больше не растут.
          p.paragraph-text.text-color-light.text-w-light.mb-2 <span class="paragraph-text">Однако надо понимать:</span> лазер не влияет на часть волос в фазе сна. Они находятся под кожей и не видны на поверхности, но рано или поздно начинают расти. Это нормально. поэтому раз в год после полного курса лазерной эпиляции стоит приходить на профилактический сеанс.



.consultation-03
    .container
      .row.pt-5
        .col-12.col-lg-6.pt-5
          .c-li.d-flex.align-items-center.mb-3.mt-2
            .custom-icon-number.custom-bg-dark.mb-2
              p 4
            p.paragraph-text.text-color-lightdark.text-w-bold.mb-2.ml-2 Составляем график процедур
          p.paragraph-text.text-color-lightdark.text-w-light.mb-2 Когда у нас есть вся необходимая информация о вас, мы можем сказать вам количество процедур в курсе. В среднем это 6-8 сеансов, но может понадобиться и больше. Все зависит от ваших волос, кожи, а также общих физиологических особенностей роста волос.
          p.paragraph-text.text-color-lightdark.text-w-light.mb-2 Также на консультации мы определяем, как часто вам нужно ходить на процедуры лазерной эпиляции. Постарайтесь придерживаться этого графика — от него реально зависит результат всей затеи.
          .c-li.d-flex.align-items-center.mb-3.mt-2
            .custom-icon-number.custom-bg-dark.mb-2
              p 5
            p.paragraph-text.text-color-lightdark.text-w-bold.mb-2.ml-2 Проводим тест-драйв
          p.paragraph-text.text-color-lightdark.text-w-light.mb-5 Наш лазер подходит для чувствительной кожи и вообще является спасением от раздражений и вросших волос. Однако мы обязательно проводим тест-драйв на небольшом участке вашей кожи. Так мы увидим, как ваша кожа реагирует на лазер и готова ли она к процедуре. Лично мы уверены: все будет хорошо!
        .col-12.col-lg-6
          .white-block-design
            img(src="assets/img/position-img_4.png" alt="position-img-4")

