.disease-treatment-img-container
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  width: 74px
  height: 81px

.disease-treatment-img-container.container-1
  background-image: url("../assets/img/services-warts/one-tablet.png")

.disease-treatment-img-container.container-2
  background-image: url("../assets/img/services-warts/two-tablet.png")

.disease-treatment-img-container.container-3
  background-image: url("../assets/img/services-warts/three-tablet.png")

.disease-treatment-img-container.container-4
  background-image: url("../assets/img/services-warts/four-tablet.png")

@include desktop
  .disease-treatment-img-container.container-1
    background-image: url("../assets/img/services-warts/one.png")

  .disease-treatment-img-container.container-2
    background-image: url("../assets/img/services-warts/two.png")

  .disease-treatment-img-container.container-3
    background-image: url("../assets/img/services-warts/three.png")

  .disease-treatment-img-container.container-4
    background-image: url("../assets/img/services-warts/four.png")

  .text-px-desktop
    padding: 0 235px
