section.section.about-salon-zt
  .container
    .row.no-gutters.d-flex.align-items-start.justify-content-between.about-content
      .col-12.col-xl-7.order-2.order-xl-1.video-item-cnt
        .row
          .col-12.order-2.order-xl-1
            .video-slider.owl-images-container.owl-carousel.slider-block.w-100.mb-5
            .video-slider-dots-wrap.d-none.d-sm-block.mb-xl-5.small-owl-images-container
              .video-nav-slider-dots
              .video-slider-dots.owl-carousel.owl-dots.w-100
                .owl-dots-item.d-flex.align-items-start.justify-content-between.flex-wrap.w-100

          .col-12.order-1
            p.paragraph-text.text-color-lightdark.f-bold.mb-3 Наші фахівці постійно розвиваються, щоб бути для вас краще
            p.paragraph-text.text-color-lightdark.f-light.mb-3 Незалежно від виду послуг, наші майстри регулярно навчаються і отримують нові знання для роботи з вами.
            ul.info-list
              li.paragraph-text.text-color-lightdark.f-light.mb-3 Проходять спеціалізовані курси по своїх напрямках.
              li.paragraph-text.text-color-lightdark.f-light.mb-3 Підвищують кваліфікацію.
              li.paragraph-text.text-color-lightdark.f-light.mb-3 Запрошують технологів і представників знаменитих світових брендів провести навчальні семінари.
              li.paragraph-text.text-color-lightdark.f-light.mb-3 Їздять до інших міст на конференції, семінари, майстер-класи.


      .col-12.col-xl-5.order-1.order-xl-2.about-block-cnt
        h2.h2-title.text-color-dark Центр краси Steffany
          span.city-in-dynamic
        p.paragraph-text.text-color-lightdark.f-light.mb-4 Ігристе, музика і повне розслаблення. Наша головна мета — влаштувати для вас вечір п'ятниці в будь-який день тижня. Коли нікуди не треба поспішати, нічого не треба робити і у вас є законне право відпочити. Забувайте про справи і записуйтеся на процедури до Steffany!
        p.paragraph-text.text-color-lightdark.f-bold.mb-3 Що ви можете зробити у Steffany Beauty
        ul.info-list
          li.mb-3(data-remove-hair)
            p.paragraph-text.text-color-lightdark.f-bold.mb-3 Манікюр та педікюр
            p.paragraph-text.text-color-lightdark.f-light Зробіть апаратний, класичний, європейський манікюр і педикюр, а потім покриття звичайним лаком або гелем. Також приводьте своїх рідних на чоловічий і дитячий манікюр і педикюр.
          li.mb-3(data-remove-hair)
            p.paragraph-text.text-color-lightdark.f-bold.mb-3 Нарощування нігтів
            p.paragraph-text.text-color-lightdark.f-light Нарощуйте гелем або полігелем нігті бажаної форми та довжини.
          li.mb-3(data-remove-hair)
            p.paragraph-text.text-color-lightdark.f-bold.mb-3 Спа для рук і ніг
            p.paragraph-text.text-color-lightdark.f-light Робіть парафінотерапію для рук або ніг — догляньте за шкірою після манікюру або педікюру.
          li.mb-3(data-remove-nail)
            p.paragraph-text.text-color-lightdark.f-bold.mb-3 Фарбування і догляд за волоссям
            p.paragraph-text.text-color-lightdark.f-light Фарбуйте волосся: в один тон або складно (об'ємне фарбування, омбре, шатуш, балаяж, різні види мелірування). Проходьте доглядові процедури для фарбованого або натурального волосся. Робіть перманентну завивку і кератинове відновлення.
          li.mb-3(data-remove-nail)
            p.paragraph-text.text-color-lightdark.f-bold.mb-3 Зачіски та стрижки
            p.paragraph-text.text-color-lightdark.f-light Приходьте на стрижку, укладку, полірування волосся або вечірню зачіску. Приводьте рідних на дитячі або чоловічі стрижки.
          li.mb-3(data-remove-hair)
            p.paragraph-text.text-color-lightdark.f-bold.mb-3 Макіяж
            p.paragraph-text.text-color-lightdark.f-light Робіть класичний макіяж для фотосесій, свят, випускних та інших подій.
          li.mb-3(data-remove-nail)
            p.paragraph-text.text-color-lightdark.f-bold.mb-3 Послуги для брів
            p.paragraph-text.text-color-lightdark.f-light Виконуйте моделювання, корекцію, фарбування хною і фарбою, ламінування брів, фарбування вій.

