//.map.map-2
//  .container.container-l.pb-5.border-b-light.px-0.px-lg-1
//    .row.no-gutters.justify-content-between
//      .col-12.col-lg-5.mb-5.mb-lg-0.mx-auto.mx-lg-0.justify-content-center.map-cnt
//        p.section-title-s.mb-40.w-100.map-title-1 Записывайтесь и приходите на процедуры в Steffany Beauty!
//        .row.no-gutters.contact-information
//          +cnt-info
//        .row.no-gutters
//          p.section-title-s.mb-30.w-100.map-title-2 Хотите связаться лично с собственником Steffany Beauty?
//          form.d-flex.align-items-start.justify-content-between.flex-wrap(action="")
//            .col-12.col-sm-5.p-0
//              input.field.w-100.p-text-light(type="text", placeholder="Имя")
//              input.field.w-100.p-text-light(type="email", placeholder="Email")
//              input.field.w-100.p-text-light.mb-0(type="tel", placeholder="Телефон")
//            .col-12.col-sm-7.p-0.pl-sm-3.mb-0
//              textarea.field.w-100.p-text-light.mb-0(name="Info", cols="30", rows="10", placeholder="О чем вы хотите рассказать?")
//            button.btn-send.btn-callback-simple.d-flex.align-items-center.justify-content-between.ml-sm-auto.mt-22(href="#")
//              span.d-flex.align-items-center.justify-content-between
//                span отправить
//              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
//                style(type='text/css').
//                  .st0{fill:#D11111;}
//                path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
//                C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
//      .col-12.col-lg-7.map-img
//        img.w-100(src="assets/img/map/map.jpg", srcset="assets/img/map/map@2x.jpg 2x", alt="map")

section.section.contact
  .container
    .row
      .col-12.col-xl-5
        .tablet-container
          h2.form-title.text-color-dark Записывайтесь и приходите на процедуры в Steffany Beauty!
          //p.sub-title.letter-spacing-1.mb-4 Steffany Cosmetology
        +cnt-info
        hr.mt-4.mb-3
        h2.form-title.text-color-dark Хотите связаться лично с собственником Steffany Beauty?
        form.feedback-form.row
          .col-12.col-md-4.col-xl-5.px-xl-0
            input(type="text" placeholder="Имя" name="name" required)
            input(type="email" placeholder="Email" name="email" required )
            input.mb-0(type="tel" placeholder="Телефон" name="phone" required maxlength="19" minlength="19" pattern=".{19}")
            input(type='submit' data-contact-submit style="display:none;")
          .col-12.col-md-8.col-xl-7.pl-xl-0.pr-xl-3
            textarea(placeholder="О чем вы хотите рассказать?" name="message" required ).mt-4.mt-md-0
        .row.d-flex.justify-content-end.no-gutters
        //+customBtn('отправить')
        #sendMail.btn-callback.no-svg(data-btn-contact-submit)
          .text-section
            span отправить
          .arrow-section
            +arrowSvg

      .col-12.col-xl-7
        .map-dynamic.map.h-100

    hr.mt-5

