.specialists
  .container.slider-wrap
    .row.no-gutters
      h2.section-title.mb-5.mx-auto.white-text.text-center Спеціалісти салону
    .row.no-gutters
      .specialists-slider.owl-carousel.slider-block.slider-pad

