@import "variables"
@import "mixins"

@include tablet

@media(max-width: 880px)
	.grid-number
		top: 25px
		left: 18px
		letter-spacing: 1px
@media(max-width: 767px)
    .h-title
      font-size: 28px
      line-height: 34px
    .grid-number
        top: 62px
        left: 15px
        letter-spacing: 2px
@include mobile-medium



@include desktop





