$mobile-width: 400px
$tablet-width: 768px
$laptop-width: 992px
$desktop-width: 1199px


$color-white: #ffffff
$color-purple: #A09BCF
$color-purple-opacity: rgba(160, 155, 207, 0.8)
$color-orange-opacity: rgba(242, 223, 225, 0.8)
$color-purple-text: #848AA4
$hover-color: #e9522e
$red-color: #5e191d
$orange-color: #e9522e
$header-bg: #47484a
$primary-color: #574CFA
$secondary-color: #e9522e
$text-color-dark: #556278
$text-color-lightDark: #47484a
$text-color-white: #ffffff
$bg-color-white: #F9F8F4
$bg-color-dark: #0A0D0E
$bg-cards-name: #bddcdf
$section-title-color: #58606C
$btn-bg: #A8A4CD
$list-number: #9FA6BA
$proccess-info: #555555
$box-shadow-lightgray: #dadada
$breadcrump-color: #4D5259
$play-btn-color: #3A405B
$soc-btn: #6F7682
$border-light: #D2DBE9
$input-bg: #F8F8F8
$border-bottom-bg: #D8D9DE
$spec-bg: #EDE1DF
$menu-line: #303947
$card-arrow-bg: #7D8595
$question-head-hover: rgba(137, 146, 166, 0.53)
$dark-gren-bg: #BECDD4
$bg-rose: #DDB7EB


$text-color-lightdark: #556278
$btn-primary-color: #A09BCF
$btn-second-color: #A09BCF
