@import "variables"
@import "mixins"
@import "fonts"
@import "reset"
@import "spacing-helpers"
@import "grid"
@import "sections/all"


.container
  width: 100% !important
  padding: 0 30px

.section
  padding: 2rem 0 !important

.paragraph-text-light
  @include font(Circe, 400, 16, 26)
  color: $text-color-white

.paragraph-text-dark
  @include font(Circe, 400, 16, 26)
  color: $text-color-dark

.extralarge-text-bg
  white-space: nowrap
  position: absolute
  @include font(Circe, 400, 321, 377)
  color: $text-color-white

.section-title-light
  @include font(Circe, bold, 44, 45)
  color: $text-color-white

.section-title-dark
  @include font(Circe, bold, 44, 45)
  color: $text-color-dark

.custom-icon-number
  display: inline-flex
  justify-content: center
  align-items: center
  width: 55px
  height: 55px
  background-color: #EDE1DF
  border-radius: 50%

  p
    @include font(Circe, bold, 27, 42)
    color: #9FA6BA
    transform: translateY(8px)

.custom-icon-number-dark
  @extend .custom-icon-number
  background-color: #9FA6BA

p, .p-text
  margin-bottom: 0 !important
  @include font('Circe-Regular', 400, 16, 23)
  color: $text-color-dark
.p-bold
  @include font('Circe-Bold', 700, 16, 23)

.button
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  padding: 0 33px
  height: 38px
  background: $btn-bg
  @include font('Circe-ExtraBold', 900, 10, 13)
  text-transform: uppercase
  color: $color-white !important
  letter-spacing: 1.5px
  border-radius: 100px
  transition: 0.3s ease 
  &:hover 
    box-shadow: 0 0 20px $btn-bg

.h-title
  display: block
  width: 100%
  margin-bottom: 20px
  @include font('CormorantGaramond-Bold', 700, 44, 45)
  color: $h-title-color
.h-subtitle
  display: block
  width: 100%
  margin-bottom: 20px
  @include font('Circe-Light', 300, 20, 21)
  color: $h-title-color
.grid-title
  display: -webkit-box
  height: 70px
  -webkit-line-clamp: 2
  overflow: hidden
  -webkit-box-orient: vertical
  margin-bottom: 26px
  @include font('CormorantGaramond-Bold', 700, 30, 35)
  color: $h-title-color
.grid-number
  display: block
  position: absolute
  top: 64px
  left: 25px
  letter-spacing: 4px
.grid-number
	color: $h-title-color
	@include font('Circe-ExtraBold', 900, 11, 10)
.white-text
  color: $color-white
.h-center
  text-align: center
.bnf-number
  padding-bottom: 20px
  text-transform: uppercase
  letter-spacing: 2px
  @include font('CormorantGaramond-Bold', 700, 75, 75)
.bnf-title
  padding-bottom: 20px
  text-transform: uppercase
  letter-spacing: 2px
  @include font('Circe-Regular', 400, 20, 24)
.thin-text
  font-family: 'Circe-Light'
.extrabold
  font-family: 'Circe-ExtraBold'
.bg-settings
  background-repeat: no-repeat !important
  background-size: cover !important
  background-position: center !important
.container-m
  max-width: 1260px !important
.no-bg
  background: transparent !important
.mt-30
  margin-top: 30px !important
.mb-50
  margin-bottom: 50px
.mb-20
  margin-bottom: 20px !important
.mr-10
  margin-right: 10px !important
.br-100
  border-radius: 100px
.play-btn
	position: absolute
	width: 92px
	height: 92px
	background: $color-purple-opacity
	border-radius: 50%
	span
		width: 20px
		height: 20px
		background: $play-btn-color
		clip-path: polygon(0 0, 0% 100%, 100% 50%)
.info-list
  li
    position: relative
    padding-left: 20px
    &:before
      position: absolute
      left: 0
      top: 9px
      content: ''
      width: 5px
      height: 5px
      background: $breadcrump-color
      border-radius: 50%
.soc-btn
  width: 38px
  height: 38px
  background: $soc-btn
  border-radius: 50%
  transition: 0.4s ease
  &:hover
    background: $color-purple
.btn-simple
  height: 38px
  font-size: 10px
  text-transform: uppercase
  letter-spacing: 2px
  background: $color-purple
  color: $color-white
  transition: 0.4s ease
  &:hover
    background: $soc-btn
    color: $color-white






//nav
//  background-color: $text-color-white !important
//  box-shadow: none !important


@import "media"
