@import "variables"
@import "mixins"
@import "fonts"
@import "reset"
@import "spacing-helpers"
@import "grid"
@import "sections/all"


.container
  width: 100% !important
  padding: 0 30px

.section
  padding: 2rem 0 !important

.paragraph-text-light
  @include font(Circe, 400, 16, 26)
  color: $text-color-white

.paragraph-text-dark
  @include font(Circe, 400, 16, 26)
  color: $text-color-dark

.extralarge-text-bg
  white-space: nowrap
  position: absolute
  @include font(Circe, 400, 321, 377)
  color: $text-color-white

.section-title-light
  @include font(Circe, bold, 44, 45)
  color: $text-color-white

.section-title-dark
  @include font(Circe, bold, 44, 45)
  color: $text-color-dark

.custom-icon-number
  display: inline-flex
  justify-content: center
  align-items: center
  width: 55px
  height: 55px
  background-color: #EDE1DF
  border-radius: 50%

  p
    @include font(Circe, bold, 27, 42)
    color: #9FA6BA
    transform: translateY(8px)

.custom-icon-number-dark
  @extend .custom-icon-number
  background-color: #9FA6BA

  p
    @include font(Circe, bold, 27, 42)
    color: #fff

//nav
//  background-color: $text-color-white !important
//  box-shadow: none !important


@import "media"
