section.section.discount
  .container
    h2.h2-title.text-color-dark.text-center Оплачуйте процедури наперед та отримуйте знижки
    p.discount-subtitle.text-center.mt-0 Пропозиція діє на будь-яку зону для лазерної епіляції
  .container.container-mobile
    .row
      .col-12.col-xl-4
        .box-wrap
          .c-content
            h4.discount-title.text-color-dark.text-w-bold.text-center Глибоке бікіні
            p.paragraph-text.text-color-dark.text-w-light.discount-row
              input(class='discount-radio', id='4722750', value='4722750', type='radio', name="service", data-proc='4', data-price='2 910', data-name='Глибоке бікіні', checked="checked")
              | Знижка <span class="bold">25%</span> при оплаті <span class="bold">4</span>  процедур — <br>  <span class="line-through">3880 </span> &nbsp; <span class="large"> 2 910 грн </span>
              span.discard-sale
                span економте <br> 1 310 грн
            p.paragraph-text.text-color-dark.text-w-light.discount-row
              input(class='discount-radio', id='4722774', value='4722774', type='radio', name="service", data-proc='6', data-price='4 074', data-name='Глибоке бікіні')
              | Знижка <span class="bold">30%</span> при оплаті <span class="bold">6</span>  процедур — <br>  <span class="line-through">5820 </span> &nbsp; <span class="large"> 4 074 грн </span>
              span.discard-sale.hidden
                span економте <br> 1 746 грн
            p.paragraph-text.text-color-dark.text-w-light.discount-row
              input(class='discount-radio', id='4722791', value='4722791', type='radio', name="service", data-proc='8', data-price='5 044', data-name='Глибоке бікіні')
              | Знижка <span class="bold">35%</span> при оплаті <span class="bold">8</span>  процедур — <br>  <span class="line-through">7760 </span> &nbsp; <span class="large"> 5 044  грн </span>
              span.discard-sale.hidden
                span економте <br> 2 716 грн
            .c-btn
              //.button.btn-first.btn-simple.svg.caset(data-toggle='modal', data-target='#payComplexModal').check-radio
                .text-section
                  +casetSvg
                  span сплатити
              .button.btn-second.btn-simple.svg.caset(data-toggle='modal', data-target='#singComplexModal').check-radio
                .text-section
                  +penSvg
                  span(id = "discount-1") записатися
      .col-12.col-xl-4
        .box-wrap
          .c-content
            h4.discount-title.text-color-dark.text-w-bold.text-center Пахви
            p.paragraph-text.text-color-dark.text-w-light.discount-row
              input(class='discount-radio', id='4722796', value='4722796', type='radio', name="service", data-proc='4', data-price='1 110', data-name="Пахви")
              | Знижка <span class="bold">25%</span> при оплаті <span class="bold">4</span> процедур — <br>  <span class="line-through">1480 </span> &nbsp; <span class="large"> 1 110 грн </span>
              span.discard-sale.hidden
                span економте <br> 370 грн
            p.paragraph-text.text-color-dark.text-w-light.discount-row
              input(class='discount-radio', id='4724467', value='4724467', type='radio', name="service", data-proc='6', data-price='1 554', data-name="Пахви")
              | Знижка <span class="bold">30%</span> при оплаті <span class="bold">6</span> процедур — <br>  <span class="line-through">2220 </span> &nbsp; <span class="large"> 1 554 грн </span>
              span.discard-sale.hidden
                span економте <br> 666 грн
            p.paragraph-text.text-color-dark.text-w-light.discount-row
              input(class='discount-radio', id='4724483', value='4724483', type='radio', name="service", data-proc='8', data-price='1 924', data-name="Пахви")
              | Знижка <span class="bold">35%</span> при оплаті <span class="bold">8</span> процедур — <br>  <span class="line-through">2960 </span> &nbsp; <span class="large"> 1 924 грн </span>
              span.discard-sale.hidden
                span економте <br> 1 036 грн
            .c-btn
              //.button.btn-first.btn-simple.svg.caset(data-toggle='modal', data-target='#payComplexModal').check-radio
                .text-section
                  +casetSvg
                  span сплатити
              .button.btn-second.btn-simple.svg.caset(data-toggle='modal', data-target='#singComplexModal').check-radio
                .text-section
                  +penSvg
                  span(id = "discount-2") записатися
      .col-12.col-xl-4
        .box-wrap.mb-0
          .c-content
            h4.discount-title.text-color-dark.text-w-bold.text-center Ноги повністю
            p.paragraph-text.text-color-dark.text-w-light.discount-row
              input(class='discount-radio', id='4724497', value='4724497', type='radio', name="service", data-proc='4', data-price='5 190', data-name="Ноги повністю")
              | Знижка <span class="bold">25%</span> при оплаті <span class="bold">4</span> процедур — <br>  <span class="line-through">6920 </span> &nbsp; <span class="large"> 5 190 грн </span>
              span.discard-sale.hidden
                span економте <br> 1 730 грн
            p.paragraph-text.text-color-dark.text-w-light.discount-row
              input(class='discount-radio', id='4724579', value='4724579', type='radio', name="service", data-proc='6', data-price='7 266', data-name="Ноги повністю")
              | Знижка <span class="bold">30%</span> при оплаті <span class="bold">6</span> процедур — <br>  <span class="line-through">10 380 </span> &nbsp; <span class="large"> 7 266 грн </span>
              span.discard-sale.hidden
                span економте <br> 3 114 грн
            p.paragraph-text.text-color-dark.text-w-light.discount-row
              input(class='discount-radio', id='4724592', value='4724592', type='radio', name="service", data-proc='8', data-price='8 996', data-name="Ноги повністю")
              | Знижка <span class="bold">35%</span> при оплаті <span class="bold">8</span> процедур — <br>  <span class="line-through">13 840  </span> &nbsp; <span class="large"> 8 996 грн </span>
              span.discard-sale.hidden
                span економте <br> 4 844 грн
            .c-btn
              //.button.btn-first.btn-simple.svg.caset(data-toggle='modal', data-target='#payComplexModal').check-radio
                .text-section
                  +casetSvg
                  span сплатити
              .button.btn-second.btn-simple.svg.caset(data-toggle='modal', data-target='#singComplexModal').check-radio
                .text-section
                  +penSvg
                  span(id = "discount-3") записатися
  .container
    p.discount-desc.text-center Плануйте лазерну епіляцію будь-якої зони та заощаджуйте! Сплачуйте наперед 4, 6 або 8 процедур за конкретну зону та збільшуйте свою знижку. <br> Акція діє на всі зони лазерної епіляції. Якщо ви не знайшли в таблиці потрібну вам зону, тисніть на кнопку «Замовити дзвінок». Ми зателефонуємо вам та проконсультуємо по цінах.

    .btn-callback(data-toggle='modal', data-target='#sendComplex')
      .text-section
        +phoneSvg
        span(id = "discount-call") Замовити дзвінок
      .arrow-section
        +arrowSvg
