section.section-services.symptoms-container.symptoms-blk
  .row.no-gutters
    .container
      .row.no-gutters.section-services-treatment-row-padding
        .col-12
          h3.section-title.text-color-light.mb-4.text-center.text-w-bold.extra-h3 Как понять, что у вас деформируется стопа
          p.paragraph-text-light.text-left.text-lg-center.extra-padding-10r Ортоподология корректирует положение стоп с помощью индивидуально изготовленных корректоров и стелек. Это безоперационное лечение, которое улучшает положение стопы на начальных и более поздних этапах деформаций.
          p.paragraph-text-light.text-left.text-lg-center.extra-padding-10r Пользоваться услугами малой ортопедии нужно в том случае, когда кости, суставы и мышцы еще не окончательно закрепились в неправильном положении. Поэтому отслеживайте малейшие симптомы в ваших ногах, чтобы вовремя исправить ситуацию.
          p.paragraph-text-bold.text-left.text-lg-center Ноги сигнализируют о деформациях разными способами:
      .row
        .col-12.col-md-6
          ul.list-blue-bullets.paragraph-text-light
            li.mb-3.white-text постоянно врастает ноготь;
            li.mb-3.white-text на одном и том же месте образовывается мозоль;
            li.mb-3.white-text болит плюсна (передняя часть стопы), к концу дня невозможно ходить из-за ощущения синяка на подошве;
            li.mb-3.white-text вы часто и без видимой причины подворачиваете ноги, и смена обуви не помогает;
            li.mb-3.white-text у вас шишка на пятке в районе задника обуви;
            li.mb-3.white-text болит пятка, вы стучите пяткой при ходьбе или у вас есть шпора — внутренний шип;
            li.mb-3.white-text болит одно или оба колена;
            li.mb-3.white-text болят пальцы стопы;
            li.mb-3.white-text растет косточка;
            li.white-text невозможно ходить на каблуках;
        .col-12.col-md-6
          ul.list-blue-bullets.paragraph-text-light
            li.mb-3.white-text не можете ходить без каблуков, тянет ахиллово сухожилие, болит пятка, некомфортно становиться на ноги;
            li.mb-3.white-text беременность, отеки ног;
            li.mb-3.white-text диабет;
            li.mb-3.white-text судороги, тяжесть в ногах;
            li.mb-3.white-text пекут стопы;
            li.mb-3.white-text вы восстанавливаетесь после операции на суставах ног;
            li.mb-3.white-text нога перестала помещаться в обувь или болит внутри обуви;
            li.mb-3.white-text боль между 3 и 4 пальцами стопы;
            li.mb-3.white-text вы занимаетесь спортом и постоянно нагружаете стопы бегом, прыжками;
            li.mb-3.white-text вы носите берцы;
            li.mb-3.white-text вы подолгу стоите и у вас болит позвоночник;
            li.white-text второй палец длиннее первого.
      p.paragraph-text-bold.text-left.text-lg-center.mt-3 Даже один из этих симптомов должен стать поводом заняться здоровьем своих ног и обратиться к подологу.
