section.section.about-doctors.pt-0.pt-md-5
  .container.d-flex.flex-wrap
    img(src="assets/img/common/circles.png").circles#circles3
    img(src="assets/img/common/dash.png").dashes#dashes3
    .col-12.col-lg-7.owl-video-wrapper.order-1.order-lg-0
      .video.video-overlay
      a.video.d-flex.align-items-center.justify-content-center.shadow
        img.w-100(src="assets/img/salon/sal-1.png", alt="about-video")
        img(src="assets/icon/common/play-video.png" alt="Play video button").custom-play-btn
    .col-12.col-lg-5.d-flex.justify-content-center.flex-column.mb-5.mb-lg-0.align-items-start.order-0.order-lg-1.p-3
      h2.w-100.text-center.text-lg-left Steffany Podology
      .dash.center
      p.text-color-dark.text-center.text-lg-left Це всеукраїнська мережа центрів здоров'я ніг. До нас слід одразу звертатися із будь-яким косметичним, дерматологічним або ортопедичним дефектом стопи.
      .wrapp.w-100.d-flex.justify-content-center.justify-content-lg-start
        +customBtn('детальніше')(data-role="href" data-link="./podology.html")
  .container.mt-5
    h2.text-center Наші спеціалісти працюють із обладнанням, яке дає точні дані про проблему пацієнта:
  .container.mt-5
    .row.row-numbered
      .col-12.col-sm-6.col-lg-3
        img(src="assets/icon/common/alter-num-1.png" alt="1").ml-4
        h3 дерматоскопом
        p приладом для 20-кратного збільшення шкіри. Дозволяє поставити точний діагноз і спостерігати процес одужання;
      .col-12.col-sm-6.col-lg-3
        img(src="assets/icon/common/alter-num-2.png" alt="2")
        h3 подоскопом
        p апаратом для діагностики стопи в стоячому положенні;
      .col-12.col-sm-6.col-lg-3
        img(src="assets/icon/common/alter-num-3.png" alt="3")
        h3 педобарографом
        p сенсорною доріжкою, яка оцінює стан стопи під час ходи.
      .col-12.col-sm-6.col-lg-3
        img(src="assets/icon/common/alter-num-4.png" alt="4")
        h3 лабораторією
        p яка точно показує різновид грибкових захворювань і дозволяє призначити ефективне лікування.


