section.section.call-me
  .container.d-flex.flex-wrap
    .col-12.col-lg-7.d-flex.flex-column.justify-content-center
      h2.white-text.text-center.text-lg-left Запишится на консультацію<br><strong>прямо зараз</strong> та отримайте<br><strong>знижку 10 %</strong>
      .dash.center
      p.white-text.text-center.text-lg-left Раздел медицины, занимающийся лечением заболеваний стопы и голени, объединяющий знания по ортопедии, травматологии, сосудистой и гнойной хирургии, нейрохирургии.
    .col-12.col-lg-5
      +writeClientForm
