section.section.category.pb-0
  .description.pt-5.pb-5
    .container.centered-content
      h2.white-text.text-center.mb-2.mt-2 Яким групам людей потрібен подолог
  .wrapper--dark
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-1.png" alt="cat-item-1")
              .wrapper
                span Діабетики
            p У людей із цукровим діабетом розвивається синдром діабетичної стопи. Такій стопі потрібен спеціальний догляд, який і забезпечує лікар-подолог.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-2.png" alt="cat-item-2")
              .wrapper
                span Люди із захворюваннями м'язів та суглобів
            p До цієї групи відносяться люди з ревматоїдним артритом, остеоартрозом та іншими захворюваннями. Їх опорно-руховий апарат відчуває більшу напругу і це відбивається на стані їхніх стоп.
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-3.png" alt="cat-item-3")
              .wrapper
                span Люди із дерматозами
            p До такої групи відносяться люди із псоріазом, екземою, нейродермітом, атопічним дерматитом. У таких пацієнтів порушена захисна функція шкіри, тому вони частіше «підхоплюють» хвороби стоп і страждають від тиску на нігті.
  .wrapper--mixed
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-8.light-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-4.png" alt="cat-item-4")
              .wrapper
                span Діти від 2-х років
            p У цьому віці у дітей закладається манера ходи. Якщо хода правильна, стопа не буде деформуватися. Тому мами приводять своїх дітей, щоб перевірити основні моменти: чи правильно розвивається стопа малюка, чи схильний він до плоскостопості, чи варто йому носити ортопедичне взуття.<br><br>Якщо діти ходять у спортивні секції, особливо де є так звані «мокрі зони», вони частіше можуть «підхоплювати» бородавки і грибки.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-5.png" alt="cat-item-5")
              .wrapper
                span Вагітні жінки та молоді мами
            p У вагітних жінок зміщується центр опори, і під тиском ваги стопа починає деформуватися. Також через часті набряки ніг у жінок можуть вростати або змінювати форму нігті. Спеціаліст-подолог може полегшити стан майбутніх мам за допомогою ортопедичних устілок або спеціальних процедур.
  .wrapper--dark
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-6.png" alt="cat-item-6")
              .wrapper
                span Підлітки
            p Через гормональний сплеск і підвищене потовиділення захисна функція шкіри стоп у підлітків знижується. Тому вони часто заражаються вірусом папіломи людини — у них з'являються бородавки.<br><br>Крім цього підлітки часто страждають на врослі нігті, тому що неправильно їх стрижуть або носять незручне взуття.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-7.png" alt="cat-item-7")
              .wrapper
                span Люди похилого віку
            p Серед літніх людей багато діабетиків 2-го типу або людей із грибковими захворюваннями. На жаль, багато пенсіонерів не звикли дбати про себе.<br><br>У деяких з них також порушений обмін речовин. Тому періодично ми влаштовуємо безкоштовні консультації, щоб допомогти літнім людям.
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-8.png" alt="cat-item-8")
              .wrapper
                span Офісні співробітники
            p Люди з цієї категорії навантажують свій хребет постійним сидінням, а хребет впливає на стан стопи.<br><br>Також тісне взуття на високих підборах провокує викривлення нігтів, мозолі, врослі нігті і натоптиші.
  .wrapper--mixed
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-8.light-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-9.png" alt="cat-item-9")
              .wrapper
                span Спортсмени
            p Спортсмени переживають великі динамічні навантаження. Особливо це стосується бігунів і легкоатлетів. Кожен крок при бігу — це удар на хребет. Якщо із біомеханікою все добре, стопа слугує амортизатором.<br><br>Якщо ж зі стопою щось не так, удар амортизує безпосередньо хребет або коліно. Тому спортсменам без явних скарг час від часу варто відвідувати лікаря-подолога.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-10.png" alt="cat-item-10")
              .wrapper
                span Військові
            p Ця категорія людей також відчуває регулярні динамічні навантаження, які доводиться переживати в незручному, погано «дихаючому» взутті. Тому їм важливо звертатися до подолога для запобігання ускладнень.
