section.section.introduce
  img(src="assets/img/introduce-cover.png")#feetOne.feet
  img(src="assets/img/feet-2.png")#feetTwo.feet
  .container
    img(src="assets/icon/common/circletest.png")#circles.circles
    .card.col-12.col-sm-11.col-lg-8.col-xl-6
      .p-3
        h1.paragraph-text Лікар подолог<br>
          strong в Житомирі
        .dash
        p.paragraph-text Допомагаємо&nbsp;
          strong вирішити будь-які проблеми&nbsp;
          | стоп та позбавляємо<br>причин їх виникнення
        ul.info-list
          li
            p.paragraph-text Працюємо із проблематикою шкіри та нігтів
          li
            p.paragraph-text Відновлюємо нігті після травм та виправляємо ріст нігтів
          li
            p.paragraph-text Позбавляємо болю у ногах та коригуємо плоскостопість за допомогою ортопедичних устілок та ортезів
          li
            p.paragraph-text Проводимо комп'ютерну діагностику патологічних змін стоп і ходи
          li
            p.paragraph-text Даємо розширений біомеханічний аналіз

        +btnCallback('Перезвоните мне')(data-toggle='modal', data-target='#callbackModal')
        img(src="assets/img/common/dash.png").dashes.intro-dashes
  .container.mt-5.mb-5
    h2.text-center.dark-blue Чому центр здоров'я ніг Steffany?
    p.text-center.dark-blue.mb-5 Наша мета — полегшити ваше життя, тому в нас є
    +numberedSection('Стерильне приміщення та обладнання', 'Центр проходить повний спектр стерилізації. Ми очищуємо повітря у приміщенні циркуляторами закритого типу. Також дезинфікуємо усі поверхні у кабінеті після кожного пацієнта і проводимо регулярні прибирання. Усі інструменти та перев\'язувальні матеріали проходять 3-етапну стерилізацію. Інструменти проходять стерилізацію у крафт-пакетах зі спеціальними індікаторами та розкриваються у вашій присутності',
      'Лабораторія для точних результатів', 'Ми працюємо із доказовою базою. Це означає, що усі діагнози пацієнтам ми ставимо на основі аналізів та лабораторних досліджень. При лікуванні грибкових інфекцій для початку ми беремо у пацієнта аналіз та передаємо у лабораторію IMD. Звідти ми отримуємо дані про вид грибку та його чутливість до препаратів. Завдяки цьому ми можемо призначити максимально точне лікування і надати корисні рекомендації',
      'Апарати для діагностики ходи', 'Більшість проблем із ногами виникають через порушення біомеханіки ходи, прогресуючих  деформацій пальців, стопи та всього опорно-рухового апарату. Біль у стопі, набряки та біль стоп, суглобів і хребта — привід провести біомеханічний аналіз статики і динаміки ходи пацієнта. Також ми проводимо біомеханічний аналіз, аби вилікувані врослі нігті чи мозолі не повертались та більше не турбували вас',
      'Магазин ортопедичних виробів', 'Прямо у нашому центрі є магазин із необхідними товарами для більш ефективної профілактики проблем стоп. Ви можете придбати там різні ортопедичні вироби:  різні типи ортезів і коректорів пальців та стоп, тренажери для стоп, коректори постави, компресійну білизну, ортопедичні подушки, перев\'язочні матеріали європейських виробників. Спеціаліст допоможе вам підібрати необхідні вироби',
      'Співпраця з докторами', 'Часто проблеми зі стопами зачіпають інші частини нашого тіла: шкіру, хребет та весь опорно-руховий апарат. Тому ми співпрацюємо зі спеціалістами з різних областей медицини: дерматологом, вертебрологом (спеціалістом по проблемах хребта), спеціалістом по реабілітації та медичному масажу. У нашому центрі ви можете отримати консультацію кожного цього спеціаліста, а також пройти медичний масаж',
      'Спеціальне обладнання', 'Щоб точно визначити вашу проблему та підібрати найефективніший метод її вирішення, ми використовуємо в роботі спеціальні апарати, серед яких є дерматоскоп, глюкометр, негатоскоп. На дерматоскопі ми відстежуємо патологічні процеси у шкірі та нігтях, а також визначаємо їх найдрібніші зміни. За допомогою глюкометру ми вимірюємо рівень цукру у діабетиків та попереджаємо ускладнення. На негатоскопі дивимось результати рентгена'
    )
