.info-block-grid.grid-bg-1.doubleGrid
  .container.p-0
    .row.no-gutters.mb-5
      h2.section-title.text-center.mb-0 Услуги педикюра
    .row.no-gutters.grid-shodow.double-grid-container.w-100.mx-auto
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Классический
            p.thin-text.pb-5.pb-md-0.text-grid Обрезной педикюр с помощью стерилизованных инструментов
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 40 минут
            | 250 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "ped-order-1", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Педикюр Классический')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/pediure/0.jpg")
      .row.no-gutters.w-100.grid-block(data-anchor='ped-acid')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/pediure/1.jpg")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Кислотный
            p.thin-text.pb-5.pb-md-0.text-grid Педикюр стоп с помощью размягчающих фруктовых кислот
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 250 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "ped-order-2", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Педикюр Кислотный')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Комбинированный
            p.thin-text.pb-5.pb-md-0.text-grid Педикюр двумя техниками одновременно: классическим способом и с помощью аппарата
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 250 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "ped-order-3", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Педикюр Комбинированный')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/pediure/2.jpg")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/pediure/3.jpg")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Частичный
            p.thin-text.pb-5.pb-md-0.text-grid Вы выбираете, какую часть ножек обрабатывает мастер: только пальцы или только стопы
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 200 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "ped-order-4", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Педикюр Частичный')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block(data-anchor='ped-spa')
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Спа
            p.thin-text.pb-5.pb-md-0.text-grid Классический обрезной педикюр с помощью стерилизованных инструментов, к которому добавляются массаж стоп пилингом и обработка смягчающей маской для стоп
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 370 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "ped-order-5", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Педикюр Спа')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/pediure/4.jpg")
      .row.no-gutters.w-100.grid-block(data-not-available-rovno)
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/pediure/5.jpg")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Покрытие ногтей гель-лаком Reforma
            p.thin-text.pb-5.pb-md-0.text-grid Профессиональное стойкое покрытие из Великобритании
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 200 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "ped-order-6", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Педикюр Покрытие ногтей гель-лаком Reforma')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block(data-not-available-rovno)
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Покрытие ногтей гель-лаком Luma
            p.thin-text.pb-5.pb-md-0.text-grid Профессиональное стойкое покрытие из Польши
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 200 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "ped-order-7", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Педикюр Покрытие ногтей гель-лаком Lemme')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/pediure/6.jpg")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/pediure/7.jpg")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Покрытие ногтей гель-лаком Luxio
            p.thin-text.pb-5.pb-md-0.text-grid Профессиональное стойкое покрытие из Канады
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            |  220 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "ped-order-8", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Педикюр Покрытие ногтей гель-лаком Luxio')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block(data-not-available-rovno)
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title.line-height-30
              | Комбинированное покрытие ногтей гель-лаком
            p.thin-text.pb-5.pb-md-0.text-grid.phone-size-13 При покрытии совмещаются средства сразу нескольких брендов вместо одного, чтобы достичь желаемого эффекта: укрепления, определенного финиша и т.д.
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            |  200 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "ped-order-9", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Педикюр Комбинированное покрытие ногтей гель-лаком')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/pediure/8.jpg")
