.info-block.info-block-7.info-block-7-2.info-block-7-4.info-block-7-6.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk
          p.p-bold.pb-3text-lightdark.mb-35 Этапы спа-педикюра
          .info-list
            .info-list-item.d-flex.align-items-start.justify-content-start.mb-20
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 01
              .info-list-cnt
                p.p-bold.pb-3text-lightdark Подготовка к педикюру
                p.thin-texttext-lightdark Мастер устанавливает на дно ванночки одноразовый пакет и наполняет его горячей водой с арома-солью. Вы опускаете стопы в ванночку, чтобы сделать кожу мягче. Благодаря арома-соли с эфирными маслами в составе кожа размягчается быстрее.
            .info-list-item.d-flex.align-items-start.justify-content-start.mb-20
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 02
              .info-list-cnt
                p.p-boldtext-lightdark.pb-3 Обработка ногтей
                p.thin-texttext-lightdark Когда стопы достаточно побыли в воде, мастер обрабатывает ваши ногти в технике классического педикюра — стерильными инструментами. 
            .info-list-item.d-flex.align-items-start.justify-content-start.mb-20
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 03
              .info-list-cnt
                p.p-boldtext-lightdark.pb-3 Пилинг кожи 
                p.thin-texttext-lightdark Чтобы как можно эффективнее удалить с кожи ороговевший слой омертвевших клеток, мастер использует скраб. Он наносит его на вашу кожу и растирает массажными движениями. Скрабируется вся область стоп: пальцы, пятки, область косточки.
            .info-list-item.d-flex.align-items-start.justify-content-start.mb-20
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 04
              .info-list-cnt
                p.p-boldtext-lightdark.pb-3 Дополнительное смягчение
                p.thin-texttext-lightdark После массажа мастер смывает скраб и наносит на подготовленную кожу специальную маску или пенку. Выбирайте средство на свое усмотрение. Оно еще больше смягчит кожу после пилинга и продлит эффект педикюра.
          p.p-bold.text-lightdark Спа-педикюр длится 2 часа 30 минут
        .col.col-img.behind-bg.behind-white-bg.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-16.jpg", srcset="./assets/img/infoblock/item-16@2x.jpg 2x",  alt="item")
        span.big-text.d-none.d-xl-block nails