.info-block.info-block-7.info-block-7-3.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-1.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-18.jpg", srcset="./assets/img/infoblock/item-18@2x.jpg 2x",  alt="item")
        .col.col-info.order-2.no-bg-blk
          .info-list
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-green-text 02
              .info-list-cnt
                p.p-bold.pb-3.white-text Размягчение водой
                p.thin-text.white-text Вы поочередно опускаете ноги в ванночку с арома-солью. Она быстрее размягчает вашу кожу и имеет дополнительный спа-эффект. Мастер обрабатывет ваши стопы лопаткой, на которую наклеивает одноразовые абразивы. Он очищает стопы от ороговевшей кожи.
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-green-text 03
              .info-list-cnt
                p.p-bold.white-text.pb-3 Обработка ногтевой пластины
                p.thin-text.white-text Мастер достает из крафт-пакета ваши стерильные инструменты. Затем снимает с ногтей покрытие, если оно сеть, придает форму ногтям и обрезает кутикулу.
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-green-text 04
              .info-list-cnt
                p.p-bold.white-text.pb-3 Покрытие 
                p.thin-text.white-text Когда ножки готовы, мастер покрывает ваши ногти лаком или гель-лаком.
        span.big-text.d-none.d-xl-block colorin