.info-block.info-block-8.info-block-8-1
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-end.no-gutters
      .col.col-img.order-2
        img.w-100(src="./assets/img/infoblock/item-20.jpg", srcset="./assets/img/infoblock/item-20@2x.jpg 2x", alt="item")
      .col.col-info.order-1
        p.p-bold.mb-15 Кому подойдет кислотный педикюр
        p.p-text.thin-text.mb-15 Этот вид педикюра идеально подойдет в том случае, если на стопах есть новообразования, которые сложно размягчить обычной водой:
        ul.info-list.mb-25
          li.p-text.thin-text.mb-15 натоптыши;
          li.p-text.thin-text.mb-15 мозоли;
          li.p-text.thin-text просто сильно огрубевшая кожа. 
        p.p-bold.mb-15 Противопоказания к кислотному педикюру
        p.p-text.thin-text.mb-15 Кислоты абсолютно безвредны, если кожа здоровая и неповрежденная. Но если целостность кожи хоть немного нарушена, лучше выбрать другой способ педикюра. Вот что входит в ситуации, при которых не стоит обрабатывать кожу стоп кислотами:
        ul.info-list.mb-35
          li.p-text.thin-text.mb-15 трещины на пятках;
          li.p-text.thin-text.mb-15 ранки;
          li.p-text.thin-text чувствительная кожа. 
        p.p-bold Педикюр кислотный с покрытием длится 2 часа 30 минут