.info-block.info-block-7.info-block-7-3.info-block-7-5.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-1.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-15.jpg",  alt="item")
        .col.col-info.order-2.no-bg-blk
          h2.section-title.white-text.mb-25  Спа педикюр <span class='city-in-dynamic'></span>
          p.thin-text.white-text.mb-15 Эта процедура — доказательство того, что с помощью педикюра можно расслабиться и восстановить силы. За одну процедуру вы получаете ухоженные стопы, а вместе с этим релакс и дополнительный уход. Особых показаний к этому виду педикюра нет. Выбирайте его, если вы в настроении подарить себе что-то особенное.
          p.p-bold.white-text.pb-3 В чем заключается спа-педикюр
          p.thin-text.white-text На этой процедуре мастер обрабатывает ваши ногти обычным обрезным способом, массажирует кожу стоп скрабом и в конце наносит смягчающее средство. В комплексе получается настоящая спа-процедура, за которую вы успеваете отдохнуть и снять тяжесть с ног.
          a.btn-simple.br-100.d-flex.align-items-center.justify-content-center.white-text(data-anchor-link='ped-spa') Цена
