.benefits
  .container
    .row.no-gutters
      h2.section-title.h-center.white-text Ваше здоровье для нас превыше всего
    .row.no-gutters.mb-4
      .section-subtitle.h-center.white-text Поэтому мы соблюдаем все правила безопасного педикюра
    .row.no-gutters
      .bnf.bnf-three.col-lg-4.col-12.mb-30.mx-auto.mx-lg-0
        .bnf-cnt
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-color-for-list.mb-30.pl-1 01
          .bnf-title.white-text Своя лаборатория стерилизации
          p.thin-text.white-text В нашем салоне оборудована отдельная лаборатория стерилизации, где инструменты для педикюра проходят все этапы очищения. Мы замачиваем в дезинфицирующем растворе все режущие инструменты для классического педикюра и все насадки для аппаратного педикюра. Затем мы чистим их щеткой под проточной водой и ополаскиваем дистиллированной
      .bnf.bnf-three.col-lg-4.col-12.mb-30.mx-auto.mx-lg-0
        .bnf-cnt
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-color-for-list.mb-30.pl-1 02
          .bnf-title.white-text Индивидуальный набор инструментов
          p.thin-text.white-text После этапа дезинфекции мы раскладываем каждый набор инструментов по отдельным крафт-пакетам. В них инструменты стерилизуются в сухожаровом шкафу 1 час при температуре 180 градусов. В каждый крафт-пакет встроен индикатор в виде розового кружочка. Когда инструменты внутри проходят весь цикл стерилизации, кружок меняет свой цвет на серый. Обратите на это внимание

      .bnf.bnf-three.col-lg-4.col-12.mb-30.mx-auto.mx-lg-0
        .bnf-cnt
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-color-for-list.mb-30.pl-1 03
          .bnf-title.white-text Пакет одноразовых материалов
          p.thin-text.white-text Во время вашей процедуры мастер открывает ваш индивидуальный пакет, где находятся сменные абразивы, апельсиновая палочка, а также перчатки и маска для мастера. Мастер берет металлическую простерилизованную основу, надевает на нее сменные файлы с абразивами и обрабатывает ими ваши стопы. После сеанса с вами все эти материалы утилизируются