.benefits.serviceBenefits
  .container
    .row.no-gutters.mb-4
      h2.section-title.h-center Профессиональный педикюр в салоне — всегда верное решение
    .row.no-gutters
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.bnf-number-one.d-flex.align-items-center.justigy-content-center.text-center.white-text 01
          .bnf-title.bnf-title-smaller.text-center.text-color-dark Мастер подбирает вид педикюра
          p.thin-text.text-center.text-color-dark Во время записи вам нужно выбрать вид педикюра. Однако не всем девушкам подходит кислотный или аппаратный педикюр. Если мастер увидит, что вашей коже не подходит выбранный педикюр, он обязательно порекомендует другой вид. Так вы получите желаемый результат
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.bnf-number-two.d-flex.align-items-center.justigy-content-center.text-center.white-text 02
          .bnf-title.bnf-title-smaller.text-center.text-color-dark Оттенки лака на любое настроение
          p.thin-text.text-center.text-color-dark В наших салонах ногти можно покрыть гель-лаком или обычным лаком. Оттенков море: гель-лаков больше 200 оттенков, а обычных лаков — около 40. Мы регулярно пополняем свою коллекцию гель-лаков минимум 10-ю сезонными оттенками. Выбирайте цвет под любое настроение и повод
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.bnf-number-three.d-flex.align-items-center.justigy-content-center.text-center.white-text 03
          .bnf-title.bnf-title-smaller.text-center.text-color-dark Маникюр и педикюр одновременно
          p.thin-text.text-center.text-color-dark Чтобы сэкономить время на другие дела, вы можете записаться на маникюр и педикюр в 4 руки. Два мастера обработают ваши ручки и ножки за пару часов, и вы за один раз выполните сразу две процедуры. Записывайтесь заранее на параллельный маникюр и педикюр, и экономьте свое время с нами 