.info-block.info-block-8.info-block-8-2
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-end.no-gutters
      .col.col-img.order-2.d-none.d-xl-block
        img.w-100(src="./assets/img/infoblock/item-21.png", alt="item")
      .col.col-info.order-1
        h2.section-title.underline-title Покрытие ногтей гель-лаком с гарантией
        p.p-text.thin-text.mb-15 После самого педикюра вы можете покрыть ногти гель-лаком. Покрытие может быть однотонным или с дизайном. На этом этапе можете задействовать всю свою фантазию и заказать у мастера покрытие мечты, потому что выбор оттенков и техники дизайна позволяют сделать с вашими ногтями практически все.
        p.p-bold.mb-23 Бренды гель-лаков
        p.p-text.thin-text.mb-15 Когда мы представляли идеальный гель-лак, то видели его безопасным — без аллергических реакций и стойким. Пришлось поискать, и в итоге мы выбрали гель-лаки трех профессиональных брендов:
        .row.no-gutters.justify-content-between
          .col-12.col-md-6.pr-sm-3.mb-25
            ul.info-list.mb-25
              li.p-text.thin-text.mb-15 Reforma;
              li.p-text.thin-text.mb-15 Lemme;
              li.p-text.thin-text Luxio
            a.btn-callback(href="#",  data-toggle='modal', data-target='#appointmentModal')
              .text-section
                +penSvg
                span записаться
              .arrow-section
                +arrowSvg
          .col-12.col-md-6.d-block.d-xl-none
            img.w-100(src="./assets/img/infoblock/item-21.png", alt="item")
