.info-block.info-block-7.info-block-7-2.info-block-7-4.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk
          h2.section-title.text-lightdark.border-el Комбинированный <br/> педикюр в Житомире
          p.thin-text.text-lightdark.mb-28 В этой процедуре совмещаются такие виды педикюра: классический и аппаратный педикюр. Комбинированный педикюр подойдет вам, если на ваших стопах не сильно много ороговелостей и их можно снять без размачивания в воде. Перед процедурой мастер осмотрит ваши стопы и определит, подходит ли им комбинированный вид педикюра. 
          p.p-bold.text-lightdark.list-p-text Как работает комбинированный педикюр
          p.thin-text.text-lightdark.mb-33 При этом виде педикюра мастер обрабатывает пальцы инструментами и насадками аппарата, а кожу стоп — абразивом. Мастер работает абразивом по сухой коже и легко удаляет частички омертвевшей кожи. Под каждый этап педикюра используются определенные насадки.
          p.p-bold.text-lightdark.list-p-text Какой аппарат используется 
          p.thin-text.text-lightdark.mb-11 При комбинированном аппаратном педикюре мастер обрабатывает пальцы с помощью аппарата южнокорейского бренда Marathon.
          p.p-bold.text-lightdark.list-p-text Комбинированный педикюр с покрытием длится 2-2,5 часа
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.d-none.d-xl-block
          img.w-100(src="./assets/img/infoblock/item-14.jpg", srcset="./assets/img/infoblock/item-14@2x.jpg 2x",  alt="item")
        span.big-text.d-none.d-xl-block pedicure