.info-block.info-block-7.info-block-7-1.info-block-7-7.light-purple-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk
          p.p-bold.pb-20.white-text Выбор оттенков
          p.thin-text.white-text В общей сложности в нашей коллекции больше 200 оттенков гель-лаков. Периодически бренды обновляют свои линейки сезонными оттенками, и автоматически эти оттенки появляются у нас. 
          p.thin-text.white-text Так каждый месяц в Steffany появляется до 10 новых цветов гель-лака. Это значит, что к вашему следующему визиту мы найдем, чем вас удивить.
          p.p-bold.pb-19.white-text 7-дневная гарантия на покрытие 
          p.thin-text.white-text Мы уверены в качестве и стойкости нашего покрытия. Но чтобы перестраховать вас, дарим на любое покрытие гель-лаком гарантию на 7 дней. 
          p.p-bold.pb-19.white-text Как работает гарантия 
          p.thin-text.white-text Если в течение недели после педикюра с покрытием что-то случается, мы бесплатно снимем его и переделаем.
          p.thin-text.white-text Гарантируем бесплатно исправить вам покрытие, когда это недоработка с нашей стороны. Если ваше покрытие как-то испортилось по нашей вине, мы честно признаемся и обязательно исправим ситуацию
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.behind-white-bg.d-none.d-xl-block
          img.w-100(src="./assets/img/infoblock/item-22.jpg", srcset="./assets/img/infoblock/item-22@2x.jpg 2x",  alt="item")