.info-block.info-block-3-2.light-green-bg.overflow-hidden
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters.border-block-item2.border-darkgray
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-13.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title Педикюр <span class='city-in-dynamic'></span>
          p.under-border Не важно, какой сейчас сезон: пляжный или зимний, с открытой обувью или без. В Steffany круглый год продолжается сезон ухоженных стоп и идеального женского педикюра. Наши мастера помогут вам подобрать нужный вид педикюра. Они обработают ваши стопы профессиональными средствами и инструментами и нанесут нужное вам покрытие.
      span.big-text.d-none.d-xl-block pedicure
