section.section.about-page-spa
  span.big-text-rotate.d-none.d-xl-block spa
  .container
    .d-white-bg
      .c-desc
        h2.section-title Парафинотерапия в Житомире
        p.thin-text Люди использовали парафин в медицинских целей еще со времен Древнего Рима. Им лечили артриты, а более современные люди помогали им себе во время ушибов и спортивных травм. Парафинотерапия сейчас — это спа-процедура с исключительно косметическим эффектом. Но кто сказал, что это плохо? Парафинотерапия для рук и ног в Steffany смягчит вашу кожу, подарит наслаждение от ароматерапии и заживит мелкие царапинки
      img(src="./assets/img/infoblock/item-9.jpg" alt="test" srcset="./assets/img/infoblock/item-9@2x.jpg 2x")
      .d-border
      span.big-text hands

