.info-block.info-block-3-10.light-purple-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters.border-block-item2
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-44.jpg", srcset="./assets/img/infoblock/item-44@2x.jpg 2x",  alt="item")
        .col.col-info.order-1
          h2.section-title Парафинотерапия в Житомире
          p.under-border Люди использовали парафин в медицинских целях еще со времен Древнего Рима. Им лечили артриты, а более современные люди помогали им себе во время ушибов и спортивных травм. Парафинотерапия сейчас — это спа-процедура с исключительно косметическим эффектом. Но кто сказал, что это плохо? Парафинотерапия для рук и ног в Steffany смягчит вашу кожу, подарит наслаждение от ароматерапии и заживит мелкие царапинки.
      span.big-text.d-none.d-xl-block spa  