.info-block.info-block-7.info-block-7-14.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-1.mx-auto.mx-xl-0.d-none.d-xl-block
          img.w-100(src="./assets/img/infoblock/item-60.jpg",  alt="item")
        .col.col-info.order-2.no-bg-blk
          .info-list
            .info-list-item.d-flex.align-items-start.justify-content-start.mb-50
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 03
              .info-list-cnt
                p.p-bold.mb-15.pb-0.text-color-dark Этап ожидания
                p.thin-text.text-color-dark.mb-15 Мастер надевает на ваши руки или стопы полиэтиленовые пакетики, чтобы перекрыть доступ воздуха к поверхности кожи. На руки в пакетиках вы надеваете специальную согревающую перчатку из полиэстера и вискозы.
                p.thin-text.text-color-dark Ваши кисти или стопы оказываются в тепле и без доступа воздуха. Благодаря такому эффекту сауны на коже расширяются поры. Парафин проникает глубже, заживляет и смягчает кожу.
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 04
              .info-list-cnt
                p.p-bold.text-color-dark.mb-15.pb-0 Этап увлажнения
                p.thin-text.text-color-dark Через 15 минут после остывания парафина мастер освобождает ваши руки или ноги из всех слоев защиты. Парафин легко отстает от кожи. Ваша кожа уже смягчилась. Чтобы закрепить этот эффект, мастер массажными движениями втирает в вашу кожу увлажняющий крем бренда «Бьюти мастер».
        span.big-text.d-none.d-xl-block brands
