.info-block.info-block-8.info-block-8-11.gray-word-bg2
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-start.no-gutters
      .col.col-img.order-2.d-none.d-xl-block
        img.w-100(src="./assets/img/infoblock/item-63.jpg", srcset="./assets/img/infoblock/item-63@2x.jpg 2x",  alt="item")
      .col.col-info.order-1
        .border-el
          h2.section-title.mb-25.pb-0 Еще пару важных моментов о парафинотерапии рук и ног
          p.think-text Парафинотерапия для рук и ног — одна из самых доступных и простых процедур из серии спа. Но даже при этом у нее есть свои правила.
        .p-bold.mb-15.under-border Когда нельзя делать процедуру
        p.think-text.mb-15 Единственное противопоказание к парафинотерапии — серьезные повреждения на коже. Если у вас на коже рук или ног незажившие раны и порезы, повремените с процедурой. 
        p.think-text.mb-25  При этом незначительные повреждения кутикулы после маникюра или педикюра не считаются серьезными. Поэтому сразу после них и с одобрения мастера вы можете смело делать процедуру парафинотерапии. 
        p.p-bold.mb-15 Как часто делать парафинотерапию
        p.think-text Достаточно всего раза в месяц, чтобы восстанавливать кожу на руках или ногах горячим парафином. Подстройтесь под свой график маникюра и педикюра — так вам будет удобнее планировать процедуру.