.benefits.serviceBenefits.pt-5
  .container.pt-5
    .row.no-gutters
      h2.section-title.h-center Процедура парафинотерапии — это признание в любви своей коже
      p Сделайте ее после маникюра или педикюра, чтобы поухаживать за кожей
    .row.no-gutters
      .bnf.bnf-two.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-img
          img(src="./assets/img/bnf/item-5.png", srcset="./assets/img/bnf/item-5@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-lightdark 01
          .bnf-title.text-lightdark Быстро смягчает и восстанавливает кожу
          p.thin-text.text-lightdark Парафинотерапия рук и ног состоит из нескольких этапов, которые ухаживают за кожей: скрабирование, крем и сам жидкий парафин. Вся испаряющаяся влага во время процедуры снова впитывается в кожу. За время услуги все эти шаги помогают коже восстановиться, стать нежной и гладкой
      .bnf.bnf-two.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-img
          img(src="./assets/img/bnf/item-6.png", srcset="./assets/img/bnf/item-6@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-lightdark 02
          .bnf-title.text-lightdark Спасает от шелушений в холодную погоду
          p.thin-text.text-lightdark Парафинотерапия рук лучше любых перчаток и защитных кремов спасает кожу от шелушений поздней осенью. зимой и в начале весны. Конечно, ухаживать за руками и защищать кожу на морозе все равно нужно. Однако парафинотерапия рук быстро заживит кожу и подготовит к следующим уходовых процедурам
      .bnf.bnf-two.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-img
          img(src="./assets/img/bnf/item-7.png", srcset="./assets/img/bnf/item-7@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-lightdark 03
          .bnf-title.text-lightdark Массажирует и расслабляет
          p.thin-text.text-lightdark Каждый этап процедуры приносит рукам или ногам по-своему приятные тактильные ощущения. Скраб массажирует кожу мелкими частичками, горячий парафин нежно обволакивает кожу, крем позволяет мастеру сделать вам массаж кистей или стоп. Также запах парафина создаст ощущение ароматерапии
