.info-block.info-block-7.info-block-7-3.info-block-7-3-1.light-purple-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-1.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-62.jpg", srcset="./assets/img/infoblock/item-62@2x.jpg 2x",  alt="item")
        .col.col-info.order-2.no-bg-blk
          ul.info-list
            li.mb-15.white-text 
              p.p-bold.pb-20.white-text Регулярно пользуйтесь питательным кремом
              p.p-text.thin-text.white-text Смазывайте руки после мытья рук с мылом и после душа, а стопы смазывайте перед сном. В этом случае кожа будет оставаться увлажненной, и вы не будете чувствовать стянутость.
            li.mb-15.white-text 
              p.p-bold.pb-20.white-text Носите перчатки
              p.p-text.thin-text.white-text Когда на улице минусовая температура и дует ветер, одни карманы не спасут от обветривания и шелушений. Как только вам становится холодно на улице, надевайте перчатки и не рискуйте своей кожей.
            li.white-text
              p.p-bold.pb-20.white-text Избегайте бытовой химии
              p.p-text.thin-text.white-text Даже самая увлажненная кожа не продержится в хорошем состоянии долго, если будет часто контактировать с агрессивными моющими средствами. Поэтому не забывайте мыть посуду, убирать и выполнять другие домашние дела в резиновых перчатках.