.benefits.serviceBenefits.doubleBnf.doubleBnfDark.three-benefits.white-bg.triple-bnfs
  .container.mx-auto
    .row.no-gutters
      .section-title.text-color-dark.text-center Процедура парафинотерапии — это признание в любви своей коже
    .row.no-gutters
      .section-subtitle.text-color-dark.text-center Сделайте ее после маникюра или педикюра, чтобы поухаживать за кожей
    .row.no-gutters.bnf-items.flex-column.flex-xl-row
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-5.png", srcset="./assets/img/bnf/item-5@2x.png 2x", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-20.png", srcset="./assets/img/bnf/item-20@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-color-dark 01
          .bnf-title.text-color-dark Быстро смягчает и восстанавливает кожу
          p.paragraph-text-dark.text-color-dark.mb-2
            span Парафинотерапия рук и ног состоит из нескольких этапов, которые ухаживают за кожей: скрабирование, крем и сам жидкий парафин. Вся испаряющаяся влага во время процедуры снова впитывается в кожу. За время услуги все эти шаги помогают коже восстановиться, стать нежной и гладкой
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-6.png", srcset="./assets/img/bnf/item-6@2x.png 2x", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", srcset="./assets/img/bnf/item-21@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-color-dark 02
          .bnf-title.text-color-dark Спасает от шелушений в холодную погоду
          p.paragraph-text-dark.text-color-dark.mb-2
            span Парафинотерапия рук лучше любых перчаток и защитных кремов спасает кожу от шелушений поздней осенью. зимой и в начале весны. Конечно, ухаживать за руками и защищать кожу на морозе все равно нужно. Однако парафинотерапия рук быстро заживит кожу и подготовит к следующим уходовых процедурам
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-7.png", srcset="./assets/img/bnf/item-7@2x.png 2x", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", srcset="./assets/img/bnf/item-21@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-color-dark 03
          .bnf-title.text-color-dark Массажирует и расслабляет 
          p.paragraph-text-dark.text-color-dark.mb-2
            span Каждый этап процедуры приносит рукам или ногам по-своему приятные тактильные ощущения. Скраб массажирует кожу мелкими частичками, горячий парафин нежно обволакивает кожу, крем позволяет мастеру сделать вам массаж кистей или стоп. Также запах парафина создаст ощущение ароматерапии
