.info-block.info-block-5.info-block-5-5.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-start.justify-content-center.justify-content-xl-end.no-gutters.border-block-item9
        .col.col-img.d-none.d-xl-block.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-58.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title Как проходит парафинотерапия для рук в Житомире
          p.thin-text.under-border Парафинотерапия — это целых три этапа расслабления и релакса для рук и ног. Эта процедура одна из самых доступных и быстрых среди всех спа-услуг. Наблюдать за процессом — все равно что устроить себе медитацию. Но пока вы не записались и не прочувствовали эффект на себе, предлагаем познакомиться с ней через слова.
      span.big-text.d-none.d-xl-block hand
