section.section.about-video
  .container
    .row.no-gutters.d-flex.align-items-start.justify-content-between
      .col-12.col-xl-7.order-2.order-xl-1
        .row
          .col-12.order-2.order-xl-1.mt-4.mt-md-5.mt-xl-0
            a.d-flex
              // (data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
              img.image-about-dynamic.video-img.w-100
              //span.play-btn.d-flex.align-items-center.justify-content-center
              //  span
          .col-12.order-1
            .c-content
              a(id ="inst",target="_blank").inst-dynamic.mr-2
                img(src="assets/icon/about-steffany-video/soc-instagram.svg" alt="soc-instagram.svg")
              a(id = "fb",target="_blank").fb-dynamic.mr-4
                img(src="assets/icon/about-steffany-video/soc-facebook.svg" alt="soc-facebook.svg")
              a(id = "pod", target="_blank" href='/podologiya')
                .btn-simple.fluid.mr-4.d-none.d-xl-flex
                  .text-section
                    span steffany podology
              a(id = "beauty", target="_blank" href='/beauty')
                .btn-simple.fluid.mr-4.d-none.d-xl-flex
                  .text-section
                    span steffany beauty
              a.fluid.d-xl-none.ml-auto(id="home", href="https://steffany.ua")
                .btn-callback
                  .text-section
                    +penSvg
                    span детальніше
                  .arrow-section
                    +arrowSvg
      .col-12.col-xl-5.order-1
        .c-desc
          h3.h2-title.text-color-dark.mb-50 Давайте знайомитися!
          .d-line
          p.mb-2.paragraph-text.text-color-lightdark.text-w-light Давайте знайомитися! Ми — мережа центрів краси і здоров'я Steffany, де на кожне ваше «хочу» знайдеться процедура. А ви — та сама дівчина, яка заслужила розслабитися і отримати якісний професійний догляд. Ви можете прийти в окремі центри Steffany <b>за трьома напрямками: </b>
          ul.info-list
            li.p-text.paragraph-text.text-color-lightdark.text-w-light.mb-2 б'юті, де можна зробити манікюр, зачіску, стрижку і макіяж;
            li.p-text.paragraph-text.text-color-lightdark.text-w-light.mb-2 епіляція та косметологія, де на вас чекають доглядові процедури для обличчя, тіла і видалення волосся;
            li.p-text.paragraph-text.text-color-lightdark.text-w-light подологія, де ми подбаємо про здоров'я ваших стоп.
          p.paragraph-text.text-color-lightdark.text-w-light Зупинимося на епіляції. У нас ви можете безболісно і в будь-яку пору року видалити волосся лазером. Або вибрати інший спосіб, який вам до душі.
