.info-block.info-block-3-2.info-block-3-5.overflow-hidden
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters.border-block-item2
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-9.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title Уход за волосами и окрашивание волос
          p.under-border.mb-15 Поможем изменить свой стиль и лучшим образом преобразиться внешне! В женской природе заложено желание экспериментировать с внешностью, меняя причёски от длинных волос до каре и обратно.
          p Каждая женщина знает, что поход к парикмахеру и стилисту снимает усталость и стресс, а мелирование или окрашивание с переходом — это первая ступенька к приятным изменениям в жизни.
      span.big-text.d-none.d-xl-block coloring
