.info-block.info-block-9.info-block-9-1.infoblock-words-bg.p-110
  .container-xl.px-15.mx-auto
    .row.d-flex.flex-column.flex-lg-row.align-items-center.justify-content-center.justify-content-lg-between.no-gutters
      .col-12.col-xl-6.col-info.order-1.no-bg-blk
        h2.section-title.mb-25 Уход за волосами
        p.mb-15.thin-text После частых укладок и окрашиваний уход за волосами просто обязателен!
        p.mb-15.thin-text Красивые волосы не всегда подарок природы, а жизнь в большом городе оставляет свой след и на самых здоровых волосах. Мы знаем об этом, как никто другой, и потому наши специалисты смогут подарить вам радость обладания здоровыми волосами.
        a.btn-callback.d-flex.align-items-center.justify-content-between.mt-15.mx-auto.mr-sm-auto.ml-sm-0(href="#",  data-toggle='modal', data-target='#appointmentModal')
          span.d-flex.align-items-center.justify-content-between
            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 12 12', style='enable-background:new 0 0 12 12;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#1B3EBF;}
              path.st0(d='M11.2,0.8c-1-1-2.7-1-3.7,0L0.6,7.6C0.6,7.7,0.5,7.8,0.5,7.8L0,11.6c0,0.1,0,0.2,0.1,0.3C0.2,12,0.3,12,0.3,12\
              c0,0,0,0,0,0l2.3-0.3c0.2,0,0.3-0.2,0.3-0.4c0-0.2-0.2-0.3-0.4-0.3l-1.8,0.2l0.4-2.6l2.8,2.8c0.1,0.1,0.2,0.1,0.2,0.1\
              c0.1,0,0.2,0,0.2-0.1l6.9-6.9C11.7,4,12,3.4,12,2.6C12,1.9,11.7,1.3,11.2,0.8z M7.6,1.6l1.2,1.2L2.5,9L1.3,7.9L7.6,1.6z M4.1,10.7\
              L3,9.5l6.3-6.3l1.1,1.1L4.1,10.7z M10.9,3.9L8.1,1.1c0.4-0.3,0.8-0.4,1.2-0.4c0.5,0,1,0.2,1.4,0.6c0.4,0.4,0.6,0.9,0.6,1.4\
              C11.3,3.1,11.2,3.5,10.9,3.9z')
            span записаться
          svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
            style(type='text/css').
              .st0{fill:#D11111;}
            path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
            C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .col-12.col-xl-6.d-none.d-xl-block.col-img.order-2
        img.w-100(src="./assets/img/infoblock/item-30.jpg", srcset="./assets/img/infoblock/item-30@2x.jpg 2x", alt="item")
