.info-block.info-block-3
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./images/img/infoblock/item-3.png", srcset="./images/img/infoblock/item-3@2x.png 2x",  alt="item")
        .col.col-info.order-1
          .section-title.border-el Укладка и стрижка волос в Житомире
          p.pb-3 Поход на стрижку обычно приводит к двум сценариям: или вам очень нравится, или вы приходите домой и еще немного стрижете себя сами. Мастера в Steffany прошли все возможные обучения и потратили годы опыта, чтобы вы искренне радовались результату. 
          p В нашем салоне вы можете выполнить стрижку в Житомире любой сложности, уложить волосы, сделать прическу, завить или заплести волосы, а также избавиться от посеченных кончиков. Выбирайте нужную вам процедуру или записывайтесь сразу на несколько — мы с радостью поработаем над вашими волосами.
      span.big-text hairc  