.benefits.serviceBenefits.pt-5
  .container.pt-5
    .row.no-gutters
      .section-title.h-center В салоне вас ждет профессиональная стрижка и уход
    .row.no-gutters
      .bnf.bnf-two.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-img
          img(src="./images/img/bnf/item-5.png", srcset="./images/img/bnf/item-5@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-lightdark 01
          .bnf-title.text-lightdark Подбираем средства <br/> под ваши волосы
          p.thin-text.text-lightdark Для каждого типа волос предназначены абсолютно разные укладочные средства. В нашем салоне действительно большой выбор косметики, чтобы мастер подобрал лак, пенку, флюид или спрей специально для ваших волос. Благодаря этому вы получите нужный вам результат 
      .bnf.bnf-two.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-img
          img(src="./images/img/bnf/item-6.png", srcset="./images/img/bnf/item-6@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-lightdark 02
          .bnf-title.text-lightdark Выполняем стрижки<br/> любой сложности
          p.thin-text.text-lightdark Наши мастера делают стрижки женские для любой длины волос. Приходите с любым пожеланием по стрижке. Наши мастера воплотят его, учитывая форму вашей головы, черты лица и тип волос. Также в стоимость стрижки входит легкая укладка феном, которая подчеркнет красоту новой стрижки
      .bnf.bnf-two.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-img
          img(src="./images/img/bnf/item-7.png", srcset="./images/img/bnf/item-7@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-lightdark 03
          .bnf-title.text-lightdark Готовим к важным <br/> событиям
          p.thin-text.text-lightdark Помимо повседневных укладок и стрижек вы можете сделать у нас прическу, укладку или накрутку для торжественного события, в том числе свадьбы или выпускного. Если вы планируете сложную прическу, обязательно приходите на пробную процедуру
.benefits.serviceBenefits
  .container
    .row.no-gutters
      .section-title.h-center Почему иногда стоит заглядывать в салон
    .row.no-gutters
      .section-subtitle.h-center Несколько причин доверить уход и окрашивание профессиональным мастерам
    .row.no-gutters
      .bnf.bnf-two.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img(src="./images/img/bnf/item-8.png", srcset="./images/img/bnf/item-8@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-lightdark 01
          .bnf-title.text-lightdark Дома почти нереально<br/> провести сложное<br/> окрашивание
          p.thin-text.text-lightdark Волосы — живой организм. Покрасить их в нужный оттенок с помощью всего одного тюбика нереально. Для одного цвета мастеру нужно смешать как минимум 3 красителя. Именно поэтому в салоне у мастера десятки оттенков, из которых он создает нужную химическую смесь. Проделать то же самое дома сложно. Чаще всего девушки просто покупают пачку краски по картинке на ней. Но результат редко оказывается похожим.
      .bnf.bnf-two.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img(src="./images/img/bnf/item-9.png", srcset="./images/img/bnf/item-9@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-lightdark 02
          .bnf-title.text-lightdark Мастер может<br/> подобрать<br/> подходящий вам уход
          p.thin-text.text-lightdark Никто не знает историю ваших волос и кожи головы лучше вас самих. Именно поэтому вы всю жизнь подбираете себе косметические средства: шампуни, кондиционеры, маски, термозащиты, масла и многое другое. Однако ваши волосы меняются и иногда старые методы перестают работать. Поэтому после любой процедуры наш мастер советует вам качественный домашний уход, который будет работать именно в вашей ситуации.
      .bnf.bnf-two.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img(src="./images/img/bnf/item-10.png", srcset="./images/img/bnf/item-10@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-lightdark 03
          .bnf-title.text-lightdark Мастер может оценить<br/> волосы и посоветовать<br/> процедуру 
          p.thin-text.text-lightdark Многие девушки выбирают процедуру по одному критерию: какой обещается эффект. Однако это не самый надежный метод, потому что разные процедуры работают по-разному в зависимости от типа и состояния волос. Когда на ваши волосы смотрит мастер, он сразу определяет уровень их поврежденности, их тип, состояние кожи головы и другие нюансы. В зависимости от этого он подбирает процедуру, которая действительно вам поможет.
.benefits.serviceBenefits
  .container
    .row.no-gutters
      .section-title.h-center Есть много причин сделать наращивание ногтей
    .row.no-gutters.mb-4
      .section-subtitle.h-center Для начала назовем хотя бы три
    .row.no-gutters
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-center.white-text 01
          .bnf-title.text-center.text-color-dark Спасение для ломких ногтей
          p.thin-text.text-center.text-color-dark Отрастить натуральные ногти сложно, когда они внезапно ломаются или ослабевают. Однако это не причина прощаться с длинными ногтями. Их можно просто нарастить искусственным материалом и периодически корректировать.
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-center.white-text 02
          .bnf-title.text-center.text-color-dark Ногти желаемой формы
          p.thin-text.text-center.text-color-dark Природная форма ногтей не всегда соответствует нашим идеалам. При наращивании вы сами определяете, какая форма ногтей у вас будет. Мастер поможет подобрать такую форму, которая подойдет всей кисти и подчеркнет красоту пальцев.
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-center.white-text 03
          .bnf-title.text-center.text-color-dark Любой цвет и дизайн
          p.thin-text.text-center.text-color-dark Нарощенные ногти можно сделать прозрачными и покрыть лаком или гель-лаком. Но кроме этого вы можете сделать их естественного нюдового оттенка, с френч маникюром или аквариумным дизайном прямо внутри нарощенных ногтей.
.benefits
  .container
    .row.no-gutters
      .section-title.h-center.white-text Ваше здоровье для нас превыше всего
    .row.no-gutters.mb-4
      .section-subtitle.h-center.white-text Поэтому мы соблюдаем все правила безопасного педикюра
    .row.no-gutters
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-color-for-list.mb-5.pl-1 01
          .bnf-title.white-text Своя лаборатория стерилизации
          p.thin-text.white-text В нашем салоне оборудована отдельная лаборатория стерилизации, где инструменты для педикюра проходят все этапы очищения. Мы замачиваем в дезинфицирующем растворе все режущие инструменты для классического педикюра и все насадки для аппаратного педикюра. Затем мы чистим их щеткой под проточной водой и ополаскиваем дистиллированной
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-color-for-list.mb-5.pl-1 02
          .bnf-title.white-text Индивидуальный набор инструментов
          p.thin-text.white-text После этапа дезинфекции мы раскладываем каждый набор инструментов по отдельным крафт-пакетам. В них инструменты стерилизуются в сухожаровом шкафу 1 час при температуре 180 градусов. В каждый крафт-пакет встроен индикатор в виде розового кружочка. Когда инструменты внутри проходят весь цикл стерилизации, кружок меняет свой цвет на серый. Обратите на это внимание

      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-color-for-list.mb-5.pl-1 03
          .bnf-title.white-text Пакет одноразовых материалов
          p.thin-text.white-text Во время вашей процедуры мастер открывает ваш индивидуальный пакет, где находятся сменные абразивы, апельсиновая палочка, а также перчатки и маска для мастера. Мастер берет металлическую простерилизованную основу, надевает на нее сменные файлы с абразивами и обрабатывает ими ваши стопы. После сеанса с вами все эти материалы утилизируются