.info-block.info-block-7.info-block-7-3.info-block-7-pad.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-1.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-31.jpg", srcset="./assets/img/infoblock/item-31@2x.jpg 2x",  alt="item")
        .col.col-info.order-2.no-bg-blk
          h2.section-title.white-text Уход за волосами обеспечивает:
          ul.info-list.mb-20
            li.thin-text.white-text.mb-15 Восстанавливление волос из середины
            li.thin-text.white-text.mb-15 Устранение сухости и посеченных кончиков
            li.thin-text.white-text Волосы приобретают здоровый блеск и легкость
          p.thin-text.white-text.mb-15 Важно помнить, что преимущество салонного ухода за волосами — это накопительный эффект. С каждой последующей процедурой волосы становятся все более напитанные и здоровые на более длинный срок.
          p.thin-text.white-text Красивые волосы всегда в моде! А чтобы сохранить здоровый блеск и ухоженный вид, в современном мире, без профессионального ухода не обойтись!
        span.big-text.d-none.d-xl-block colo