.info-block.info-block-6.info-block-6-1.info-block-6-2.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.mob-hidden-item
          img.w-100(src="./assets/img/infoblock/item-29.jpg",  alt="item")
        .col.col-info.order-1.no-bg-blk
          h2.section-title.border-el Почему окрашивание волос стоит доверять мастерам Steffany
          ul.info-list
            li.thin-text.mb-15 Колоссальный опыт в профессиональном окрашивании волос
            li.thin-text.mb-15 Оригинальные материалы от лучших брендов. Мы не экономим на качестве!
            li.thin-text.mb-15 Детальная консультация для идеального оттенка и правильного ухода после окрашивания длинных и коротких волос.
          p.thin-text Если душа требует перемен, пусть даже покраску кончиков, но вы боитесь пойти на этот шаг — со Steffany можете быть спокойны. Колористика — наша любовь! Окрашивание — наша магия! Обращаясь к нам, вы получаете недорогое салонное окрашивание, гарантию идеального оттенка и сохранение здоровья волос!
      span.big-text.mob-hidden-item hair
