section.section.category.section-services.pt-0
  .wrapper--dark
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/services-warts/eye-and-circle.png" alt="Item")
              .wrapper
                span Дерматоскоп
            p Это ручной прибор, который увеличивает нужное место в 20 раз. Этого достаточно, чтобы определить мозоль или бородавку и их глубину. Также мы используем этот прибор во время лечения. Прибор позволяет отслеживать процесс заживления кожи. Такие изменения невозможно увидеть глазами, зато можно с помощью дерматоскопа.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/services-warts/feets-and-circle.png" alt="Item")
              .wrapper
                span Подоскоп
            p Это аппарат, который показывает отпечаток ступней в статичном положении и позволяет оценить строение стоп. Благодаря этому подолог отслеживает возможные искривления стопы и всего позвоночника. Это позволяет найти причины мозолей и бородавок, и подобрать профилактические ортопедические изделия.
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/services-warts/microscope-and-circle.png" alt="Item")
              .wrapper
                span Педобарография
            p Это компьютерная диагностика с помощью суперчувствительных сенсоров. Она представляет из себя специальную платформу, которая дает возможность оценить вашу биомеханику ходьбы. Специалист увидит, как ваши стопы ведут себя во время ходьбы. Если платформа покажет нарушения при ходьбе, вы сможете исправить их с помощью дальнейшего ортопедического лечения.
