section.section-services.container-fluid
  .row.section-bg-dark.section-services-treatment-row-padding.pb-3
    .container
      .row
        .col.text-px-desktop
          h3.section-title-services.text-color-light.mb-4.text-center Что делать, если у вас мозоль или бородавка
          p.paragraph-text.text-center.mb-3.w-200 В интернете можно найти огромное количество способ избавления от мозолей и бородавок. Как правило, это народные средства и приемы. Однако при всем их разнообразии все они малоэффективны и даже опасны.
          p.paragraph-text.text-center.mb-3.w-200 Лечить любое новообразование на стопе можно только в том случае, когда понятен его вид и причина появления. Например, мозоль может иметь стержень, который уходит глубоко в кожу и достигает надкостницы. При самолечении можно лишь усугубить ситуацию.
          p.paragraph-text.text-center.mb-3.w-200 Поэтому вот <strong>первые действия</strong>, к которым стоит прибегнуть:
    .container
      .row.treatment-line.pt-5
        .col-12.col-md-6.col-xl-3.d-flex.flex-column.align-items-center.px-4.mb-5
          .disease-treatment-img-container.container-1.mb-3
          p.paragraph-text.text-center.font-weight-bold.mb-3.text-uppercase.font-weight-bold Не прижигать, тереть, срезать
        .col-12.col-md-6.col-xl-3.d-flex.flex-column.align-items-center.px-4.mb-5
          .disease-treatment-img-container.container-2.mb-3
          p.paragraph-text.text-center.font-weight-bold.mb-3.text-uppercase.font-weight-bold Поменять обувь
        .col-12.col-md-6.col-xl-3.d-flex.flex-column.align-items-center.px-4.mb-5
          .disease-treatment-img-container.container-3.mb-3
          p.paragraph-text.text-center.font-weight-bold.mb-3.text-uppercase.font-weight-bold Осторожно обработать бородавку средством, содержащим салициловую кислоту
        .col-12.col-md-6.col-xl-3.d-flex.flex-column.align-items-center.px-4.mb-5
          .disease-treatment-img-container.container-4.mb-3
          p.paragraph-text.text-center.font-weight-bold.mb-3.text-uppercase.font-weight-bold Обратиться к подологу
