section.section.adv
  .container
    h2.text-center.dark-blue.mb-5 Лечение в центре Steffany абсолютно безопасно
    +numberedSection('Вы дышите очищенным воздухом', 'Воздух в помещении фильтруют рециркуляторы и бактерицидные облучатели закрытого типа. Также аппараты, которые работают с кожей стоп и ногтями, оснащены встроенными пылесосами. Они всасывают всю пыль и аллергены прямо во время работы и делают воздух гипоаллергенным.',
        'Инструменты стерилизуют после каждого приема', 'Инструменты обеззараживают в ультразвуковых боксах с дезинфицирующим раствором широкого спектра действия. Под его действием инструменты полностью очищаются от любых бактерий, вирусов и грибков. После этого их промывают и просушивают.',
        'Инструменты вскрывают при вас', 'Последний этап стерилизации инструменты проходят в паровом автоклаве класса В при двух атмосферах парового давления при температуре 134 градуса. Они находятся в крафт-пакетах, у которых есть индикатор, который меняет цвет при полной стерилизации.',
        'Перед вами дезинфицируют кабинет', 'После каждого приема специалисты дезинфицируют все поверхности в кабинете, в том числе кресло, тумбы, лампы и аппараты. Бактерицидные лампы кварцуют помещение после каждого пациента.  Также в центре проводят регулярные уборки: в начале и конце дня проходит обычная уборка, а раз в неделю — генеральная.')
