section.section.advantages
  .container
    h2.text-center.dark-blue Почему центр здоровья ног Steffany?
    p.text-center.dark-blue Наша цель — облегчить вашу жизнь, поэтому у нас есть
    +numberedSection('Стерильное помещение и оборудование', 'Центр проходит полный цикл стерилизации. Мы очищаем воздух в помещении тремя циркуляторами закрытого типа. Инструменты замачиваем в ультразвуковой ванночке в специальном растворе и обрабатываем в сухожаровом шкафу при температуре 180 градусов. Также дезинфицируем все поверхности в кабинете после каждого пациента и проводим регулярные уборки',
        'Контракт с лабораторией для точных результатов', 'Мы работаем с доказательной базой. Это значит, что все диагнозы мы ставим на основе анализов и исследований. Когда лечим грибок, для начала берем у пациента забор на анализ. Затем передаем этот образец через курьера в киевскую лабораторию, и через время получаем результат. Благодаря этому мы можем назначить максимально точное лечение и дать рекомендации',
        'Аппараты для диагностики ходьбы', 'Большинство проблем с ногами возникают из-за неправильного положения стоп во время походки. Чтобы вылеченные вросшие ногти или мозоли не возвращались, мы диагностируем ходьбу пациентов. Делаем это с помощью подоскопа — аппарата, который выявляет нарушения стопы в положении стоя. Также анализируем походку с помощью параподографического мата',
        'Обезболивание и аккуратность процесса', 'Боль — один из главных страхов наших пациентов, и он развеивается уже при первом визите на процедуру. Если ситуация не запущенная, пациентам не больно. Наши специалисты обезболивают пораженный участок — делают замораживания местными препаратами. В более сложных ситуациях специалисты обязательно предупреждают обо всех неприятных ощущениях')


//section.section.section-services.about-doctors
//  .container
//    h2.text-center.mb-5 Лечение в центре Steffany абсолютно безопасно
//    .pt-4
//      +numberedSection('Вы дышите очищенным воздухом', 'Воздух в помещении фильтруют три циркулятора закрытого типа. Также аппараты, которые работают с кожей стоп и ногтями, оснащены встроенными пылесосами. Они всасывают всю пыль и аллергены прямо во время работы и делают воздух гипоаллергенным.',
//          'Инструменты стерилизуют после кажд', 'Инструменты обеззараживают в ультразвуковых боксах с дезинфицирующим раствором широкого спектра действия. Под его действием инструменты полностью очищаются от любых бактерий, вирусов и грибков. После этого их промывают и просушивают.',
//          'Инструменты вскрывают при вас', 'Последний этап стерилизации инструменты проходят в сухожаровом шкафу, где они стерилизуются в течение 60 минут при температуре 180 градусов. Они находятся в крафт-пакетах, у которых есть индикатор, который меняет цвет при полной стерилизации.',
//          'Перед вами дезинфицируют кабинет', 'После каждого приема специалисты дезинфицируют все поверхности в кабинете, в том числе кресло, тумбы, лампы и аппараты. Также в центре проводят регулярные уборки: в начале и конце дня проходит обычная уборка, а раз в неделю — генеральная.')
