section.section.circles-bg.pb-0
  .container.d-flex.flex-column.align-items-center
    h3.section-title-services.text-center.dark-blue Аппаратура для лечения мозолей и бородавок
    .wrapper.d-flex.justify-content-center.mb-3.mt-3
      .dash
    .col-12.col-xl-6.col-md-9
      p.paragraph-text.text-dark-1.text-center В Steffany вы проходите диагностику на аппаратах, которые точно определят тип вашей проблемы и помогут найти ее причину
