section.section-services
  .container.circles-bg
    .row
      .col.d-flex.flex-column.align-items-center
        h3.section-title-services.mb-4.text-dark-1.text-center Услуги по лечению мозолей и бородавок
        .services-treatment-divider.mb-4
        p.paragraph-text.text-dark-1.text-center.mb-4.mb-md-5.custom-px.w-200 В нашем центре вы сможете за один или несколько сеансов удалить беспокоящие вас новообразования. А самое главное — в Steffany вы найдете причину, которая спровоцировала появление мозолей или бородавок.
        .row.custom-padding-treatment.mt-md-4.mb-5
          .col-12.col-md-6.px-4
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Консультация
              p.paragraph-text.text-dark-1.w-200 Специалист-подолог осматривает вашу стопу с помощью дерматоскопа — прибора, который увеличивает нужное место в 20 раз. Это позволит точно определить вид новообразования и назначить дальнейшее лечение. В зависимости от конкретного случая специалист решит вашу проблему за одну процедуру или назначит курс лечения.
            .paragraph-container
              h4.paragraph-title Удаление сухих мозолей в житомире цена за дополнительную услугу
              p.paragraph-text.text-dark-1.w-200 Если вы со специалистом договорились о курсе лечения, на данной процедуре он выполняет промежуточные действия, чтобы избавиться от мозоли.
          .col-12.col-md-6.px-4
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Удаление стержневой мозоли за единицу. Удаление мозолей
              p.paragraph-text.text-dark-1.w-200 Специалист-подолог удаляет стержневую мозоль с помощью аппаратной и инструментальной стерильной техники.
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Удаление подногтевой и околоногтевой мозоли на одном пальце цена
              p.paragraph-text.text-dark-1.w-200 Во время процедуры подолог удаляет мозоль с помощью аппаратной техники, а также консультирует по правильному подбору обуви, чтобы подногтевая мозоль больше не появлялась.
            .paragraph-container
              h4.paragraph-title.mb-3 Обработка бородавки на стопе Cryoderm System цена
              p.paragraph-text.text-dark-1.w-200 Специалист удаляет бородавку с помощью жидкого азота, который быстро разрушает новообразование и при этом не травмирует здоровую кожу.
        .container-fluid.d-flex.flex-column.align-items-center
          .row.prices-container.custom-padding-treatment.mb-4
            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Консультация цена
              .col-4.col-md-2.p-0
                p.treatment-price 250 грн
              .col-4.col-md-2.p-0
                p.treatment-duration 45 мин

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Удаления мозоли (дополнительная услуга)
              .col-4.col-md-2.p-0
                p.treatment-price 300 грн
              .col-4.col-md-2.p-0
                p.treatment-duration 1 час

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Удаление стержневой мозоли за единицу. Удаление мозолей цена
              .col-4.col-md-2.p-0
                p.treatment-price 200 грн
              .col-4.col-md-2.p-0
                p.treatment-duration 30 мин

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Удаление подногтевой и околоногтевой мозоли на одном пальце цена
              .col-4.col-md-2.p-0
                p.treatment-price 450 грн
              .col-4.col-md-2.p-0
                p.treatment-duration 1 час

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Обработка бородавки на стопе Cryoderm System цена
              .col-4.col-md-2.p-0
                p.treatment-price 350 грн
              .col-4.col-md-2.p-0
                p.treatment-duration 45 мин
          .services-btn-container
            +btnPen('записаться')(data-toggle='modal', data-target='#callbackModal')
