section.section-services.wart-symptoms
  .container
    .row
      .col-12.col-lg-6.order-2.order-lg-1
        img.w-100.shadow(src="assets/img/services-warts/feet-2.png")
      // .col-12.col-lg-6.d-flex.align-items-center.order-1.order-lg-2
      .col-12.col-lg-6.order-1.order-lg-2
        h3.section-title.mb-4 Как понять, что у вас бородавка
        p.paragraph-text.text-dark-1 Бородавки — это внешнее проявление папилломавируса человека. Они бывают разных типов, однако их суть одна и та же. В отличие от мозолей, они разрастаются наружу. Однако при ходьбе и давлении на стопу бородавка вдавливается внутрь, а над ней образовывается роговой слой. Из-за этого бородавки могут причинять острую боль и серьезный дискомфорт. Вот те признаки, по которым можно узнать подошвенную бородавку:
        ul.list-blue-bullets.paragraph-text.text-dark-1.mb-4
          li.mb-3 кожа новообразования рыхлая по своей структуре;
          li.mb-3 вызывает сильную боль, если ее сжать;
          li.mb-3 кожа в месте предполагаемой бородавки приобретает желтый цвет;
          li новообразования распространяются по стопе, особенно в местах наибольшего давления (на подушечках пальцев и стоп, пятках).
        p.paragraph-text.text-dark-1.mb-5.mb-lg-0 Если вы заметили у себя на стопах необычные наросты, сразу обращайтесь к подологу.
