section.section.about-salon
  .container
    +breadcrumbs('Главная', 'О нас', '/about.html', 'Салон', '/about-salon.html')
  .container.container-m
    .row.no-gutters.d-flex.align-items-start.justify-content-between.about-content
      .col-12.col-lg-7.pr-0.pr-lg-5.mt-5.mt-lg-0.video-item-cnt
        h2.h2-title.text-center.text-lg-left.d-block.d-lg-none Центр здоровья ног Steffany Podology в Житомире
        .d-flex.justify-content-center.d-block.d-lg-none
          .dash.center
        p.paragraph-text.text-color-dark.text-w-light.d-block.d-lg-none.text-center Центр здоровья ног в Житомире предоставляет услуги подологии, ортониксии (исправления ногтевой пластины) и малой ортопедии.
        .video-slider.owl-carousel.slider-block.w-100.mb-5
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="")
            img.w-100(src="assets/img/cabinet-1.png")
            span.play-btn.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="")
            img.w-100(src="assets/img/cabinet-2.jpg")
            span.play-btn.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="")
            img.w-100(src="assets/img/cabinet-3.jpg")
            span.play-btn.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="")
            img.w-100(src="assets/img/cabinet-4.png")
            span.play-btn.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="")
            img.w-100(src="assets/img/cabinet-5.jpg")
            span.play-btn.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="")
            img.w-100(src="assets/img/cabinet-6.jpg")
            span.play-btn.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="")
            img.w-100(src="assets/img/cabinet-7.png")
            span.play-btn.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="")
            img.w-100(src="assets/img/cabinet-8.png")
            span.play-btn.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="")
            img.w-100(src="assets/img/cabinet-9.png")
            span.play-btn.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="")
            img.w-100(src="assets/img/cabinet-10.png")
            span.play-btn.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="")
            img.w-100(src="assets/img/cabinet-11.png")
            span.play-btn.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="")
            img.w-100(src="assets/img/cabinet-12.png")
            span.play-btn.align-items-center.justify-content-center
              span
        .video-slider-dots-wrap.d-none.d-sm-block
          .video-nav-slider-dots
          .video-slider-dots.owl-carousel.owl-dots.w-100.mb-5
            .owl-dots-item.d-flex.align-items-start.justify-content-between.flex-wrap.w-100
              a.owl-dot.d-flex.align-items-center.justify-content-center.mb-4(href="", data-pos="0")
                img(src="assets/img/cabinet-13.png")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center.mb-4(href="", data-pos="1")
                img(src="assets/img/cabinet-14.png")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center.mb-4(href="", data-pos="2")
                img(src="assets/img/cabinet-15.png")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="3")
                img(src="assets/img/cabinet-16.png")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="4")
                img(src="assets/img/cabinet-17.png")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="5")
                img(src="assets/img/cabinet-18.png")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
            .owl-dots-item.d-flex.align-items-start.justify-content-between.flex-wrap.w-100
              a.owl-dot.d-flex.align-items-center.justify-content-center.mb-4(href="", data-pos="6")
                img(src="assets/img/cabinet-19.png")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center.mb-4(href="", data-pos="7")
                img(src="assets/img/cabinet-20.png")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center.mb-4(href="", data-pos="8")
                img(src="assets/img/cabinet-21.png")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="9")
                img(src="assets/img/cabinet-1.png")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="10")
                img(src="assets/img/cabinet-2.png")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="11")
                img(src="assets/img/cabinet-3.png")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span

      .col-12.col-lg-5.about-block-cnt
        h2.h2-title.text-center.text-lg-left.d-none.d-lg-block Центр здоровья ног Steffany Podology в Житомире
        .dash.center.d-none.d-lg-block
        p.paragraph-text.text-color-dark.text-w-light.d-none.d-lg-block.mb-5 Центр здоровья ног в Житомире предоставляет услуги подологии, ортониксии (исправления ногтевой пластины) и малой ортопедии.
        p.paragraph-text.text-color-dark.text-w-bold.text-uppercase Кто может к нам прийти
        p.paragraph-text.text-color-dark.text-w-light Мы принимаем всех нуждающихся в нашей помощи людей:
        ul.info-list
          li.mb-1 деток от 3-х лет;
          li.mb-1 подростков;
          li.mb-1 беременных женщин и молодых мам;
          li.mb-1 юдей с сидячей или активной физической работой;
          li.mb-1 спортсменов;
          li.mb-1 пожилых людей;
          li.mb-1 людей с сахарным диабетом;
          li.mb-1 людей с болезнями мышц и суставов;
          li.mb-1 людей с дерматитами;
          li.mb-1 всех, кто испытывает любые неприятные симптомы в стопах.
