section.section.about-salon
  .container.container-m
    .row.no-gutters.d-flex.align-items-start.justify-content-between.about-content
      .col-12.col-lg-7.pr-0.pr-lg-5.mt-5.mt-lg-0.order-2.order-lg-1.video-item-cnt
        .video-slider.owl-carousel.slider-block.w-100.mb-5
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/salon-videos/item-1.png")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/salon-videos/item-2.jpg")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/salon-videos/item-3.jpg")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/salon-videos/item-1.png")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/salon-videos/item-2.jpg")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/salon-videos/item-3.jpg")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/salon-videos/item-1.png")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/salon-videos/item-2.jpg")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/salon-videos/item-3.jpg")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/salon-videos/item-1.png")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/salon-videos/item-2.jpg")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/salon-videos/item-3.jpg")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
        .video-slider-dots-wrap.d-none.d-sm-block
          .video-nav-slider-dots
          .video-slider-dots.owl-carousel.owl-dots.w-100.mb-5
            .owl-dots-item.d-flex.align-items-start.justify-content-between.flex-wrap.w-100
              a.owl-dot.d-flex.align-items-center.justify-content-center.mb-4(href="", data-pos="0")
                img(src="assets/img/salon-videos/item-1.png")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center.mb-4(href="", data-pos="1")
                img(src="assets/img/salon-videos/item-1.png")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center.mb-4(href="", data-pos="2")
                img(src="assets/img/salon-videos/item-2.jpg")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="3")
                img(src="assets/img/salon-videos/item-3.jpg")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="4")
                img(src="assets/img/salon-videos/item-1.png")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="5")
                img(src="assets/img/salon-videos/item-2.jpg")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
            .owl-dots-item.d-flex.align-items-start.justify-content-between.flex-wrap.w-100
              a.owl-dot.d-flex.align-items-center.justify-content-center.mb-4(href="", data-pos="6")
                img(src="assets/img/salon-videos/item-3.jpg")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center.mb-4(href="", data-pos="7")
                img(src="assets/img/salon-videos/item-1.png")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center.mb-4(href="", data-pos="8")
                img(src="assets/img/salon-videos/item-2.jpg")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="9")
                img(src="assets/img/salon-videos/item-3.jpg")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="10")
                img(src="assets/img/salon-videos/item-1.png")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="11")
                img(src="assets/img/salon-videos/item-2.jpg")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span



      .col-12.col-lg-5.order-1.order-lg-1.about-block-cnt
        h2.h2-title Центр здоровья ног Steffany Podology в Житомире
        .dash
        p.paragraph-text.text-color-dark.text-w-light Центр здоровья ног в Житомире предоставляет услуги подологии, ортониксии (исправления ногтевой пластины) и малой ортопедии.
        p.paragraph-text.text-color-dark.text-w-bold.text-uppercase Кто может к нам прийти
        p.paragraph-text.text-color-dark.text-w-light Мы принимаем всех нуждающихся в нашей помощи людей:
        ul.info-list
          li.mb-3 деток от 3-х лет;
          li.mb-3 подростков;
          li.mb-3 беременных женщин и молодых мам;
          li.mb-3 юдей с сидячей или активной физической работой;
          li.mb-3 спортсменов;
          li.mb-3 пожилых людей;
          li.mb-3 людей с сахарным диабетом;
          li.mb-3 людей с болезнями мышц и суставов;
          li.mb-3 людей с дерматитами;
          li.mb-3 всех, кто испытывает любые неприятные симптомы в стопах.
