section.section.about-salon-list
  img.circles(src="assets/img/common/circles-with-hr.png")
  .container.d-flex.flex-wrap.list-section
    .col-12.col-lg-6
      h2.mb-4 Что мы лечим
      p У нас пациенты могут вылечить проблемы стоп в трех направлениях:
      ul
        li
          h3 Подология
          p Аппаратный педикюр, грибки, вросшие ногти, мозоли, натоптыши, бородавки, трещины на пятках, обработка диабетической стопы.
        li
          h3 Ортониксия
          p Восстановление и протезирование ногтевых пластин после травм или грибковых поражений с помощью скоб и титановой нити.
        li
          h3 Малая ортопедия
          p Проектирование стелек и индивидуальных силиконовых корректоров, диагностика стопы и биомеханики походки, изготовление разгрузочных стелек.
        li
          h3 Медицинский массаж
          p Услуги по реабилитационному медицинскому массажу
    .col-12.col-lg-6
      h2.mb-4 Образование наших специалистов
      p Все наши специалисты-подологи регулярно развиваются в своей профессии. Каждый из них прошел такие программы:
      ul
        li.mb-5
          p
            strong полный курс по подологии и ортониксии, а также малой ортопедии
        li.mb-5
          p
            strong курс по сердечно-легочной реанимации и базовой первой помощи
        li.mb-5
          p
            strong курс по дезинфекции и стерилизации инструментов и помещения
      p Каждый подолог в нашем центре имеет опыт лечения любых проблем стоп разной степени сложности.<br><br>Специалисты по диагностике стоп и биомеханики ходьбы имеют международную сертификацию и прошли обучение в Европе.<br><br>Специалисты, занимающиеся стельками, прошли ряд международных программ обучения и являются партнерами международной программы Podologia.Pl. Это значит, что они переняли опыт технический и интеллектуальный опыт европейских специалистов и применяет его в Steffany.
