section.section.about-salon-list
  img.circles(src="assets/img/common/circles-with-hr.png")
  .container.d-flex.flex-wrap.list-section
    .col-12.col-lg-6
      h2.mb-4 Що ми лікуємо
      p У нас пацієнти можуть вилікувати проблеми стоп у чотирьох напрямках:
      ul
        li
          h3 Подологія
          p Апаратний педикюр, грибки, врослі нігті, мозолі, натоптиші, бородавки, тріщини на п'ятах, обробка діабетичної стопи.
        li
          h3 Ортоніксія
          p Відновлення та протезування нігтьових пластин після травм або грибкових уражень за допомогою скоб і титанової нитки
        li
          h3 Мала ортопедія
          p Проектування устілок і індивідуальних силіконових коректорів, діагностика стопи і біомеханіки ходи, виготовлення розвантажувальних устілок
        li
          h3 Медичний масаж
          p Послуги по реабілітаційному медичному масажу
    .col-12.col-lg-6
      h2.mb-4 Освіта наших фахівців
      p Усі наші спеціалісти-подологи регулярно розвиваються у своїй професії. Кожен з них пройшов такі програми:
      ul
        li.mb-5
          p
            strong повний курс із подології і ортоніксії, а також малої ортопедії;
        li.mb-5
          p
            strong курс із серцево-легеневої реанімації і базового порятунку життя;
        li.mb-5
          p
            strong курс із дезінфекції та стерилізації інструментів і приміщення.
      p Кожен подолог у нашому центрі має досвід лікування будь-яких проблем стоп різного ступеня складності.<br><br>Спеціалісти з діагностики стоп і біомеханіки ходьби мають міжнародну сертифікацію і пройшли навчання у Європі.<br><br>Фахівці, що займаються устілками, пройшли ряд міжнародних програм навчання і є партнерами міжнародної програми Podologia.Pl. Це означає, що вони перейняли технічний і інтелектуальний досвід європейських спеціалістів і застосовують його в Steffany.
