.info-block.info-block-7.info-block-7-10.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk
          .info-list
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-green-text 04
              .info-list-cnt
                p.p-bold.pb-0.mb-15.white-text База під тіні
                p.thin-text.white-text Денний та вечірній макіяж передбачає велику кількість тіней на очах. Аби вони трималися довше, не скочувалися і не стиралися, майстер обов'язково наносить вам на повіки базу під тіні. Крім того, завдяки базі тіні лягають рівно, їх легко розтушовувати. База під тіні зробить вам виразні очі на весь день.
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-green-text 05
              .info-list-cnt
                p.p-bold.pb-0.white-text.mb-15 Контурування
                p.thin-text.white-text.mb-15 Щоб обличчя виглядало рельєфним, майстер робить вам контурування. В процесі контурування беруть участь бронзер для затемнення, консилер для висвітлення, хайлайтер для світіння та рум'яна. В залежності від часу доби і характеру вашого заходу майстер робить відповідний контуринг: легкий або більш ґрунтовний.
                p.thin-text.white-text Контуринг допомагає зробити обличчя об'ємним, більш струнким. Це буде помітно наживо і на фото.
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.d-none.d-xl-block
          img.w-100(src="./assets/img/infoblock/item-41.jpg",  alt="item")
