.info-block.info-block-6.info-block-6-4.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.mob-hidden-item
          img.w-100(src="./assets/img/infoblock/item-38.jpg",  alt="item")
        .col.col-info.order-1.no-bg-blk
          h2.section-title.underline-title Бренди косметики, якими ми зробимо вам макіяж обличчя
          p.mb-15 Наші візажисти роблять макіяж регулярно. Вони спробували багато засобів, але зупинилися на цих:
          ul.info-list.mb-20.pt-0
            li.thin-text.mb-15 Тональні основи від Atelier Paris, Collagen
            li.thin-text.mb-15 База під макіяж від Atelier Paris
            li.thin-text.mb-15 Засоби для контурування від Cinecitta, Anastasia Beverly Hills
            li.thin-text.mb-15 Тіні та пігменти для повік від Atelier Paris. Anastasia Beverly Hills, proVG, SINART
            li.thin-text.mb-15 Олівці для брів, повік, губ від Cinecitta, Cascade, proVG
          p.mb-15  Разом із косметикою для макіяжу важливо те, чим її наносять. У нашому випадку це професійні помічники:
          p Кисті від Anastasia Beverly Hills, Make Up For Ever, ZOEVA
      span.big-text.mob-hidden-item brands
