.info-block.info-block-8.info-block-8-3.info-block-8-5.gray-word-bg2
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-start.no-gutters
      .col.col-img.order-2.d-none.d-xl-block
        img.w-100(src="./assets/img/infoblock/item-39.jpg", alt="item")
      .col.col-info.order-1
        .border-el
          h2.section-title.mb-20 Обов'язкові етапи професійного макіяжу
          p.p-text.thin-text.mb-15.fs-20 Наші візажисти виконують усі обов'язкові етапи для правильного макіяжу
        p.p-text.thin-text.mb-30 У кожного візажиста свій процес макіяжу. Хтось любить починати макіяж з очей, хтось — із брів. Яку би послідовність не обрав професіонал, у вас буде гарний фініш. Тим не менш, є обов'язкові етапи макіяжу, які виконують усі майстри нашого салону.
        a.btn-simple.br-100.d-flex.align-items-center.justify-content-center.white-text(data-anchor-link='makeup') Ціна
