.info-block.info-block-3-3.info-block-3-4.info-block-3-7.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters.border-block-item5.border-darkgray
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-33.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title Макіяж <br/> <span class='city-in-dynamic'></span>
          p.under-border.pb-15 Як би ми не любили фарбуватися самі, іноді варто довірити макіяж та візаж майстрам у салоні. Тому що макіяж не повинен «поплисти» під студійним світлом на фотосесії. Зате повинен витримати всі тости на дні народження, конкурси на весіллі та танці на випускному. Загалом, весь захід ви повинні бути впевнені в своєму мейкап.
          p Максимум, який вам знадобиться контролювати — підфарбовувати губи між напоями. Але ніяк не домальовувати стрілку або намагатися повернути на місце тіні. Для цього приходьте до салону Steffany на класичний та святковий макіяж. Ми робимо усі основні види класичного мейкапу і підбираємо під ваші риси обличчя ідеальний образ.
      span.big-text.d-none.d-md-block make
