.benefits.serviceBenefits.doubleBnf.doubleBnfDark.three-benefits.white-bg.triple-bnfs
  .container.mx-auto
    .row.no-gutters
      .section-title.text-color-dark.text-center Можете бути впевненими щодо макіяжу в салоні Steffany
    .row.no-gutters.bnf-items.flex-column.flex-xl-row
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-5.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-20.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-color-dark 01
          .bnf-title.text-color-dark Ми працюємо професійною косметикою
          p.paragraph-text-dark.text-color-dark.mb-2
            span Наші майстри працюють косметикою та кистями, які дозволяють відтворити потрібний вам макіяж без «сюрпризів». Ці засоби зручні в роботі, красиво лягають на шкіру та здатні радувати вас весь захід
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-6.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-color-dark 02
          .bnf-title.text-color-dark Наші візажисти пройшли спеціальне навчання
          p.paragraph-text-dark.text-color-dark.mb-2
            span Будьте впевнені: ваш майстер навчався не лише завдяки макіяж-туторіалах в інтернеті. Він пройшов спеціалізовані курси з макіяжу і має відповідний сертифікат. Також наші майстри регулярно навчаються
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-7.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-color-dark 03
          .bnf-title.text-color-dark Ви за один раз можете зробити зачіску, манікюр або брови
          p.paragraph-text-dark.text-color-dark.mb-2
            span Запишіться до Steffany у день заходу, і вийдіть від нас повністю готовими до нього. Разом із макіяжем можете зробити зачіску, манікюр та оформлення брів. Робіть будь-які процедури, які вам потрібні
