.info-block.info-block-7.info-block-7-9.info-block-7-9-mob.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-1.mx-auto.mx-xl-0.d-none.d-xl-block
          img.w-100(src="./assets/img/infoblock/item-40.jpg",  alt="item")
        .col.col-info.order-2.no-bg-blk
          .info-list
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 01
              .info-list-cnt
                p.p-bold.pb-3.text-color-dark Зняття макіяжу
                p.thin-text.text-color-dark Якщо ви прийшли з косметикою на обличчі, майстер обов'язково знімає її міцелярною водою.
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 02
              .info-list-cnt
                p.p-bold.text-color-dark.pb-3 Очищення тоніком
                p.thin-text.text-color-dark Майстер очищає вашу шкіру тоніком для комбінованої шкіри після міцелярної води або просто так, якщо ви одразу прийшли без макіяжу. Тонік відновлює кислотно-лужний баланс шкіри і готує її до наступних етапів.
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 03
              .info-list-cnt
                p.p-bold.text-color-dark.pb-3 База під макіяж
                p.thin-text.text-color-dark Праймер або база під макіяж потрібна в будь-якому випадку для будь-якого типу шкіри. Майстер тонким шаром наносить базу перед тональним засобом та іншою косметикою. Вона вирівнює поверхню шкіри, маскує розширені пори, прибирає лущення, зволожує шкіру. Завдяки основі під макіяж усі наступні засоби будуть триматися на шкірі довше звичайного і не скочуватися.
        span.big-text.d-none.d-xl-block hair
