.info-block.info-block-7.info-block-7-1.info-block-7-8.light-purple-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk.pl-sm
          ul.info-list
            li.mb-15.white-text
              p.p-bold.pb-20.white-text Косметика повинна бути професійною
              p.p-text.thin-text.white-text Професійною якісною косметикою набагато легше робити макіяж та візаж, коли є досвід і техніка. Із такою косметикою наші майстри впевнені в тому, як вона себе поведе на різних типах шкіри. Ваш майстер одразу зрозуміє, які засоби відтворять потрібний вам макіяж
            li.mb-15.white-text
              p.p-bold.pb-20.white-text Засоби мають адаптуватися під вашу шкіру
              p.p-text.thin-text.white-text До нас приходять дівчата з різними типами шкіри: сухою, жирною, нормальною, комбінованою, віковою, чутливою. Нам важливо, щоб макіяж лягав якісно і перекривав можливі недосконалості
            li.white-text
              p.p-bold.pb-20.white-text Компоненти різних засобів повинні «подружитися» на вашому обличчі
              p.p-text.thin-text.white-text Будь-який макіяж та візаж — це нашарування різних засобів. База, тональна основа, контур, хайлайтер, консилер — усі ці засоби пристосовуються один до одного завдяки їх складу та професійному призначенню
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.d-none.d-xl-block
          img.w-100(src="./assets/img/infoblock/item-37.jpg",  alt="item")
