.info-block.info-block-5.info-block-5-3.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-start.justify-content-center.justify-content-xl-end.no-gutters.border-block-item6
        .col.col-img.d-none.d-xl-block.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-36.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title Досвідчені майстри використовують професійні засоби для макіяжу
          p.thin-text.fs-20 Щоб ви були впевнені в якості косметики на своєму обличчі
          p.thin-text.under-border Ми вибираємо косметику ретельно і довго. Все тому, що у нас є свої критерії при виборі, і ми від них не відступаємо.
      span.big-text.d-none.d-xl-block proff
