.info-block.info-block-8.info-block-8-6
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-end.no-gutters
      .col.col-img.order-2.d-none.d-xl-block
        img.w-100(src="./assets/img/infoblock/item-42.jpg", alt="item")
      .col.col-info.order-1
        .border-el
          h2.section-title «Доброго дня, зробіть мене красивою»
          p.p-text.thin-text.fs-20 Ці слова ми чуємо найчастіше і наша відповідь «звичайно!»
        p.p-text.thin-text.mb-15.under-border Є три типи дівчат:
        ul.info-list.mb-15
          li.p-text.thin-text.mb-15 Перший тип знає, який макіяж хоче, і приніс із собою фото
          li.p-text.thin-text.mb-15 Другий тип знає приблизно і на словах описує свої побажання
          li.p-text.thin-text Третій тип просто хоче бути красивою і шукає поради у майстра
        p.p-text.thin-text Ми обожнюємо працювати у всіх трьох випадках, тому що це завжди цікаво.
