.benefits.serviceBenefits2
  .container
    .row.no-gutters
      .bnf.bnf-three.col-xl-4.col-12.mb-30.mx-auto.mx-lg-0
        .bnf-cnt
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-color-for-list.mb-30.pl-1 01
          .bnf-title.white-text Якщо ви прийшли з прикладом
          p.thin-text.white-text Це чудово, якщо у вас є фото або картинка із прикладом для макіяжу. Обов'язково покажіть її майстру. Він проаналізує макіяж на зображенні і пояснить, як було б найкраще адаптувати такий вид макіяжу під ваше обличчя. Іноді міняти нічого не треба, іноді — внести якісь корективи. Ви можете погодитися з майстром або відмовитися від його рекомендацій. У будь-якому випадку ми нафарбуємо вас так, як ви цього хочете.
      .bnf.bnf-three.col-xl-4.col-12.mb-30.mx-auto.mx-lg-0
        .bnf-cnt
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-color-for-list.mb-30.pl-1 02
          .bnf-title.white-text Якщо ви знаєте приблизно
          p.thin-text.white-text Розкажіть майстру, що б ви хотіли бачити на своєму обличчі. Може, у вас є приклад якоїсь зірки, чий макіяж (вечірній або денний) вам особливо подобається. Майстер вислухає вас і покаже кілька прикладів, які могли б відповідати вашому опису. Так ви разом обговорите вид макіяжу і визначитеся.
      .bnf.bnf-three.col-xl-4.col-12.mb-30.mx-auto.mx-lg-0
        .bnf-cnt
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-color-for-list.mb-30.pl-1 03
          .bnf-title.white-text Якщо ви не знаєте
          p.thin-text.white-text Не переживайте, якщо не визначилися із макіяжем — майстер вам обов'язково допоможе. Ви разом з'ясуєте, чого б вам більше хотілося, за допомогою навідних запитань від візажиста. Він дізнається, денний чи вечірній макіяж вам потрібен, на який захід ви збираєтеся, чи є там дрес-код, у якому вбранні ви йдете і яка в нього кольорова гамма, ви хочете яскравіше чи спокійніше... Після всього цього майстер запропонує вам кілька варіантів і ви виберете найгарніший.