.info-block.info-block-8.info-block-8-3.info-block-8-7
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-start.no-gutters
      .col.col-img.order-2
        img.w-100(src="./assets/img/infoblock/item-43.jpg", alt="item")
      .col.col-info.order-1
        .border-el
          h2.section-title.mb-20 Ваше здоров'я — наш головний пріоритет
          p.p-text.thin-text.mb-15.fs-20 Тому професійний макіяж проходить за всіма правилами безпеки і чистоти
        p.p-bold.mb-20 Очищаємо інструменти після кожного клієнта
        p.p-text.thin-text.mb-30 Після кожного макіяжу ми промиваємо усі кисті і бьютіблендери спеціальним розчином. Він очищає їх від залишків косметики і дезінфікує. Такий розчин досить швидко висихає. Тому навіть якщо незадовго перед вами майстер робив комусь макіяж, на вашому сеансі інструменти будуть вже сухі і чисті
        p.p-bold.mb-20 Використовуємо одноразові матеріали, коли це можливо
        p.p-text.thin-text.mb-30 Частину процесів майстер виконує за допомогою одноразових матеріалів. Тому ви можете бути впевненими, що з ними ніхто не контактував, окрім вас. Це ватні палички, ватні диски, спонж. Вони зберігаються в окремих зонах і знаходяться в чистоті, щоб на них не потрапляли частинки косметики та інших засобів
