.info-block.info-block-7.info-block-7-10.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk
          .info-list
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-green-text 04
              .info-list-cnt
                p.p-bold.pb-0.mb-15.white-text База под тени
                p.thin-text.white-text Дневной и вечерний макияж предполагает большое количество теней на глазах. Чтобы они держались дольше, не скатывались и не стирались, мастер обязательно наносит вам на веки базу под тени. Кроме того, благодаря базе тени ложатся ровно, их легко растушевывать. База под тени сделает вам выразительные глаза на весь день.
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-green-text 05
              .info-list-cnt
                p.p-bold.pb-0.white-text.mb-15 Контурирование
                p.thin-text.white-text.mb-15 Чтобы лицо выглядело рельефным, мастер делает вам контурирование. В процессе контурирования участвуют бронзер для затемнения, консилер для высветления, хайлайтер для свечения и румяна. В зависимости от времени суток и характера вашего мероприятия мастер делает соответствующий контуринг: легкий или более основательный.
                p.thin-text.white-text Контуринг помогает сделать лицо объемным, более стройным. Это будет заметно вживую и на фото.
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.d-none.d-xl-block
          img.w-100(src="./assets/img/infoblock/item-41.jpg",  alt="item")
