.benefits.serviceBenefits2
  .container
    .row.no-gutters
      .bnf.bnf-three.col-xl-4.col-12.mb-30.mx-auto.mx-lg-0
        .bnf-cnt
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-color-for-list.mb-30.pl-1 01
          .bnf-title.white-text Если вы пришли с примером
          p.thin-text.white-text Это замечательно, если у вас есть фото или картинка с примером для макияжа. Обязательно покажите ее мастеру. Он проанализирует макияж на изображении и объяснит, как было бы лучше всего адаптировать такой вид макияжа под ваше лицо. Иногда менять ничего не надо, иногда — внести какие-то коррективы. Вы можете согласиться с мастером или отказаться от его рекомендаций. В любом случае мы накрасим вас так, как вы этого хотите.
      .bnf.bnf-three.col-xl-4.col-12.mb-30.mx-auto.mx-lg-0
        .bnf-cnt
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-color-for-list.mb-30.pl-1 02
          .bnf-title.white-text Если вы знаете приблизительно
          p.thin-text.white-text Расскажите мастеру, что бы вы хотели видеть на своем лице. Может, у вас есть пример какой-то звезды, чей макияж вам особенно нравится. Мастер выслушает вас и покажет несколько примеров, которые могли бы соответствовать вашему описанию. Так вы вместе обсудите вид макияжа и в конечном итоге определитесь.
      .bnf.bnf-three.col-xl-4.col-12.mb-30.mx-auto.mx-lg-0
        .bnf-cnt
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-color-for-list.mb-30.pl-1 03
          .bnf-title.white-text Если вы не знаете
          p.thin-text.white-text Не переживайте, если не определились с макияжем — мастер вам обязательно поможет. Вы вместе выясните, чего бы вам больше хотелось, с помощью наводящих вопросов от визажиста. Он узнает, нужен ли вам дневной или вечерний макияж, на какое мероприятие вы собираетесь, есть ли там дресс-код, в каком наряде вы идете и какая у него цветовая гамма, вы хотите поярче или поспокойнее… После всего этого мастер предложит вам несколько вариантов и вы выберете самый понравившийся.