.headline.px-xl-6.text-center.my-4
  h3.section-title.text-color-dark.text-center Фото до и после
.slider-wrap
  .row.no-gutters
    .podology-service-slider.owl-carousel.slider-block
      - let arrResult = [{name:"Удаление мозолей / ДО", img:"slider-img-1"},{name:"Удаление мозолей / после",img:"slider-img-2"},{name:"Обработка бородавки / ДО",img:"slider-img-3"},{name:"Обработка бородавки / после",img:"slider-img-4"},{name:"Удаление мозолей / ДО", img:"slider-img-1"},{name:"Удаление мозолей / после",img:"slider-img-2"},{name:"Обработка бородавки / ДО",img:"slider-img-3"},{name:"Обработка бородавки / после",img:"slider-img-4"},{name:"Удаление мозолей / ДО", img:"slider-img-1"},{name:"Удаление мозолей / после",img:"slider-img-2"},{name:"Обработка бородавки / ДО",img:"slider-img-3"},{name:"Обработка бородавки / после",img:"slider-img-4"},{name:"Удаление мозолей / ДО", img:"slider-img-1"},{name:"Удаление мозолей / после",img:"slider-img-2"},{name:"Обработка бородавки / ДО",img:"slider-img-3"},{name:"Обработка бородавки / после",img:"slider-img-4"}];
        each element in arrResult
          - let resultPath = "./assets/img/services-warts/slider-1/" + element.img + ".png"
          a.diploma-item(href=resultPath, data-fancybox="")
            img.w-100(src=resultPath, alt="result-image")
            .slider-item-footer.d-flex.flex-column.align-items-center.justify-content-center
              .section-bg-dark.w-100.p-1
                p.paragraph-text.text-center.mb-0 #{element.name}
