.slider-wrap
  .row.no-gutters
    .podology-service-slider.owl-carousel.slider-block
      // - let arrResult = [{name:"Удаление мозолей / ДО", img:"slider-img-1"},{name:"Удаление мозолей / после",img:"slider-img-2"},{name:"Обработка бородавки / ДО",img:"slider-img-3"},{name:"Обработка бородавки / после",img:"slider-img-4"},{name:"Удаление мозолей / ДО", img:"slider-img-1"},{name:"Удаление мозолей / после",img:"slider-img-2"},{name:"Обработка бородавки / ДО",img:"slider-img-3"},{name:"Обработка бородавки / после",img:"slider-img-4"},{name:"Удаление мозолей / ДО", img:"slider-img-1"},{name:"Удаление мозолей / после",img:"slider-img-2"},{name:"Обработка бородавки / ДО",img:"slider-img-3"},{name:"Обработка бородавки / после",img:"slider-img-4"},{name:"Удаление мозолей / ДО", img:"slider-img-1"},{name:"Удаление мозолей / после",img:"slider-img-2"},{name:"Обработка бородавки / ДО",img:"slider-img-3"},{name:"Обработка бородавки / после",img:"slider-img-4"}];
      each element in [{name:"Удаление мозолей", img:"slider-img-11", href:'./warts-treatment.html'}, {name:"Удаление натоптышей", img:"slider-img-22", href:'./minorOrthopedics.html'}, {name:"Лечение грибка", img:"slider-img-33", href:'./nail-fungus-treatment.html'}, {name:"Обработка трещин", img:"slider-img-44", href:'./cracking.html'}]
        - let resultPath = "./assets/img/orthopedics/slider-1/" + element.img + ".png"
        a.diploma-item(href=element.href)
          img.w-100(src=resultPath, alt="result-image")
          .slider-item-footer.d-flex.flex-column.align-items-center.justify-content-center
            .section-bg-dark.w-100.p-1
              p.paragraph-text.text-center.mb-0 #{element.name}
