.specialists
  .container.slider-wrap
    .row.no-gutters
      h2.h2-title.h-center.mb-5.mx-auto.white-text Фахівці салону
    .row.no-gutters
      .specialists-slider.owl-carousel.slider-block.slider-pad

