section.section.about-salon-zt
  .container
    .row.no-gutters.d-flex.align-items-start.justify-content-between.about-content
      .col-12.col-xl-7.order-2.order-xl-1.video-item-cnt
        .row
          .col-12.order-2.order-xl-1
            .video-slider.owl-images-container.owl-carousel.slider-block.w-100.mb-5
            .video-slider-dots-wrap.d-none.d-sm-block.mb-xl-5.small-owl-images-container
              .video-nav-slider-dots
              .video-slider-dots.owl-carousel.owl-dots.w-100
                .owl-dots-item.d-flex.align-items-start.justify-content-between.flex-wrap.w-100

          .col-12.order-1
            p.paragraph-text.text-color-lightdark.text-w-bold Наші фахівці вчаться, щоб бути для вас краще
            p.paragraph-text.text-color-lightdark.text-w-light Спеціальна освіта — це обов'язкова умова для кожного нашого майстра.
            p.paragraph-text.text-color-lightdark.text-w-bold Для косметологів:
            ul.info-list
              li.paragraph-text.text-color-lightdark.text-w-light.mb-3 медична освіта
              li.paragraph-text.text-color-lightdark.text-w-light Спеціалізовані курси з певних косметологічних послуг.
            p.paragraph-text.text-color-lightdark.text-w-bold Для майстрів лазерної епіляції:
            ul.info-list.mb-4.mb-md-5.mb-xl-0
              li.paragraph-text.text-color-lightdark.text-w-light.mb-3 навчання від компанії Alma Lasers
              li.paragraph-text.text-color-lightdark.text-w-light курси для підвищення кваліфікації

      .col-12.col-xl-5.order-1.order-xl-2.about-block-cnt
        h2.h2-title.text-color-dark Центр лазерної епіляції і косметології
          span.city-in-dynamic
        p.paragraph-text.text-color-lightdark.text-w-light.w-500 Просто видаляти волосся і доглядати за шкірою — це нудно. Наша мета — влаштувати вам на процедурі міні-відпустку. Щоб ви розслабилися і відпустили усі звіти, дитячі садки, школи, ремонти і прибирання. Справи — там, а в Steffany на вас чекає релакс і нові сили. Ну і краса, куди без неї?
        p.paragraph-text.text-color-lightdark.text-w-bold.mb-1 Що ви можете зробити у Steffany Laser & Cosmetology
        ul.info-list
          li.mb-3
            p.paragraph-text.text-color-lightdark.text-w-bold Лазерну епіляцію
            p.paragraph-text.text-color-lightdark.text-w-light Видаляйте волосся на кілька років без болю і в будь-який час завдяки нашому лазеру від Alma Lasers.

          //li.mb-3
          //  p.paragraph-text.text-color-lightdark.text-w-bold Нано-епіляцію
          //  p.paragraph-text.text-color-lightdark.text-w-light Позбавтеся світлого і пушкового небажаного волосся на курсі безболісного лужного пілінгу.
          li.mb-3
            p.paragraph-text.text-color-lightdark.text-w-bold Шугарінг
            p.paragraph-text.text-color-lightdark.text-w-light Зробіть шкіру гладенькою на 2-3 тижні із цукровою пастою, яка вириває волосся за напрямком їх росту і заподіює значно менше больових відчуттів.
          li.mb-3
            p.paragraph-text.text-color-lightdark.text-w-bold Воскову депіляцію
            p.paragraph-text.text-color-lightdark.text-w-light Економте час на депіляцію завдяки воску, який прибирає усе відросле волосся мінімум на 3 тижні.
          li.mb-3
            p.paragraph-text.text-color-lightdark.text-w-bold Косметологічні процедури
            p.paragraph-text.text-color-lightdark.text-w-light Доглядайте за шкірою обличчя і тіла на відновлюючих процедурах, які проводять професійні косметологи.

