extends ../layout/main

block content
  include ../sections/about-salon/about-salon
  include ../sections/about-salon/list
  include ../sections/about-salon/doctors
  +contactForm('Записывайтесь и приходите на прием в Центр подологии Steffany')
