.dark-section-circles-bg
  //background-image: url("../assets/img/services-nail-fungus/circles-bg.png")
  //background-repeat: no-repeat
  //background-size: 100% auto
  //background-position: center calc(10vh + 10vw)
  @include media-breakpoint-up(xl)
    background-image: url("../assets/img/services-nail-fungus/circles-bg.png")
    background-repeat: no-repeat
    background-position: center 0
    background-size: 1450px auto
    //background-size: 80em
    //height: 20em
    //margin-top: 3em

.col-circle-bg
  background-image: url("../assets/img/col-circle-bg.png")
  background-repeat: no-repeat
  background-size: 293px 143px
  background-position: 0 0

