.descr-row--padding
  padding: 65px 0 40px 90px
  @include mobile-all
    padding: 65px 45px 40px 45px

.feets-and-hands-bg-img
  //background: url("../assets/img/services-warts/feets-and-hands.png")
  // background-image: url("../assets/img/services-warts/feets-and-hands.svg")
  background-repeat: no-repeat
  background-position: right

.symptoms-message-line
  background-color: $forward-buutton

.line-height-100
  line-height: 100%