section.section.treatment-fungus
	background: url(../assets/img/background/treatment.png) no-repeat center
	background-size: cover

	> h2
		font-size: 30px
		letter-spacing: .05em
		line-height: 22px

	div
		div
			h2
				letter-spacing: .05em
				font-size: 14px
				line-height: 22px

	> p
		font-size: 20px

	.special-line-height
		line-height: 22px
