section.section.accordion-answer-dark-theme
    +accordeon('Часто задаваемые вопросы', 'Почитайте ответы на вопросы, которые интересуют наших клиентов в шугаринге <span class="city-in-dynamic"></span>',
        [
            {
                title: 'Как долго длится процедура?',
                body : 'Зависит от зоны. В целом, это достаточно быстрый способ удаления волос, хотя восковая депиляция еще быстрее. Шугаринг подмышек можно сделать за 15 минут, шугаринг бикини — за полчаса, шугаринг ног полностью — за полтора часа. Время зависит от длины волос. Если волоски короткие, процедура может затянуться.'
            },
            {
                title: 'Можно ли обезболить кожу перед процедурой?',
                body : 'Вообще можно. Мастер может нанести вам анестезирующий крем на нужную зону.'
            },
            {
                title: 'Можно делать шугаринг зоны бикини во время критических дней?',
                body : 'Да, точно можно. Просто воспользуйтесь тампоном. Только предупреждаем: во время критических дней болевые ощущения обостряются, поэтому вам может быть больнее обычного.'
            },
            {
                title: 'Вы делаете мужской шугаринг&nbsp; <span class="city-in-dynamic"></span>?',
                body : 'Да, конечно! Мы проводим шугаринг для мужчин <span class="city-in-dynamic"></span>. Процедура остается такой же. Единственный момент: из-за более широкого фолликула мужчинам обычно больнее при удалении волос. Но если делать шугаринг регулярно, волосы будут вырываться все легче и легче.'
            },
            {
                title: 'Можно делать процедуру при сахарном диабете?',
                body : 'Все индивидуально. Зависит от стадии диабета, зависимости от инсулина и других факторов. Также важно, чтобы на коже не было повреждений. В некоторых случаях шугаринг допускается даже при сахарном диабете. Запишитесь на консультацию, чтобы обсудить свой случай с мастером и понять, подходит ли вам эта процедура.'
            },
            {
                title: 'У меня вросшие волосы. Шугаринг решит эту проблему?',
                body : 'Если техника шугаринга соблюдается и паста удаляется по росту волос, риск вросших волосков минимальный. Если же эта проблема для вас уже «хроническая», у вас может быть нарушена траектория роста волоса. Если основная задача — избавиться от вросших волос, вам больше подойдет лазерная эпиляция.'
            },
            {
                title: 'У меня очень длинные волосы. Вы будете их укорачивать или это сделать мне до процедуры?',
                body : 'В этом нет особой необходимости. Для мастера работать с длинными волосами намного легче, чем с короткими. Единственный нюанс — из-за длинных волос вам может быть чуть больнее. Поэтому если вы захотите, мастер укоротит вам волоски до комфортной длины прямо на сеансе.'
            }
        ], true, 1)
