section.section.block-answer-after
  .container
    .row
      .col-12.col-xl-6
        h2.h2-title.text-color-dark.mb-4 Что делать до и после шугаринга
        p.paragraph-text.text-color-lightdark.text-w-bold Как подготовиться к процедуре
        ul.info-list
          li.paragraph-text.text-color-lightdark.text-w-light.mb-3 Отрастить волосы так, чтобы длина волосков была минимум 0,5-0,8 мм. Сахарной пасте нужно обволакивать волос, чтобы вырвать. Если волосы длиннее, это только лучше — специально укорачивать их не надо.
          li.paragraph-text.text-color-lightdark.text-w-light.mb-4 За день до процедуры можно обработать нужную зону скрабом или активно потереть мочалкой. Это сделает волосы более податливыми к пасте.
        p.paragraph-text.text-color-lightdark.text-w-bold Что делать после процедуры
        ul.info-list
          li.paragraph-text.text-color-lightdark.text-w-light.mb-3 В день процедуры желательно не ходит в баню, сауну, солярий.
          li.paragraph-text.text-color-lightdark.text-w-light Также в этот день лучше не заниматься спортом, чтобы лишний раз не тереть кожу и не травмировать ее.
      .col-12.col-xl-6
        img.w-100.mx-auto.mx-xl-0.mt-4.mt-xl-3(src="assets/img/shugaring-page/answer-after.jpg" alt="four-boxes-1" srcset="assets/img/shugaring-page/answer-after@2x.jpg 2x")


