section.section.service-laser-results-nano
  .container
    h1.h2-title.text-color-dark.text-center.mb-4 Вас также может заинтересовать
      //p.paragraph-text.text-color-lightdark.mb-0 которые уже прошли полный курс лазерной эпиляции
    .container.slider-wrap
      .row.no-gutters
        .diploma-slider.owl-carousel.slider-block
          - let arrResult = [{name:"SPA массажи", img:"test"},{name:"Чистка лица",img:"test"},{name:"Карбокси косметология",img:"test"},{name:"SPA пиллинги",img:"test"},{name:"Лазерная эпиляция / ДО", img:"test"},{name:"Лазерная эпиляция / после",img:"test"}];
            each element in arrResult
              - let resultPath = "./assets/img/" + element.img + ".jpg"
              a.diploma-item(href=resultPath, data-fancybox="" )
                img.w-100(src=resultPath, alt="result-image")
                .slider-item-footer.d-flex.flex-column.align-items-center.justify-content-center
                  p.paragraph-text.text-w-bold.text-color-dark.m-0.py-2 #{element.name}
