section.section.service-three-boxes_01
    .container
      h3.three-box-title.text-color-dark.text-center.mb-4.mb-lg-5 Минимум 3 причины делать шугаринг
      .row
        .col-12.col-xl-4
          .c-three-box
            img.img-position(src="assets/img/three-boxes/three-box-shugarin-1.png", alt="circle fether" srcset="assets/img/three-boxes/three-box-shugarin-1@2x.png 2x")
            p.bnf-number.text-color-dark 01
            h4.h4-title.text-color-dark.text-uppercase Вы получаете абсолютно гладкую кожу
            p.paragraph-text.text-color-dark.text-w-light За один сеанс вы избавляетесь от всех волос в нужной вам зоне. Вы сразу видите результат, в отличие от лазерной эпиляции. При этом кожа сохраняет длительный эффект 2-3 недели.
        .col-12.col-xl-4
          .c-three-box
            img.img-position(src="assets/img/three-boxes/three-box-shugarin-2.png", alt="circle fether" srcset="assets/img/three-boxes/three-box-shugarin-2@2x.png 2x")
            p.bnf-number.text-color-dark 02
            h4.h4-title.text-color-dark.text-uppercase Волосы отрастают реже и тоньше
            p.paragraph-text.text-color-dark.text-w-light Через несколько недель после шугаринга волоски начинают отрастать. При этом они более тонкие, мягкие и не такие густые. Если делать сахарную депиляцию регулярно, такой эффект усилится.
        .col-12.col-xl-4
          .c-three-box
            img.img-position(src="assets/img/three-boxes/three-box-shugarin-3.png", alt="circle fether" srcset="assets/img/three-boxes/three-box-shugarin-3@2x.png 2x")
            p.bnf-number.text-color-dark 03
            h4.h4-title.text-color-dark.text-uppercase Никаких раздражений, щетины, ранок
            p.paragraph-text.text-color-dark.text-w-light У техники шугаринга низкая травматичность. Поэтому на коже не остается раздражений и других негативных последствий, как от того же станка. Также паста для шугаринга гипоаллергенна.
