section.section.service-laser-service-list-tablet1.d-block.d-xl-none.pt-3.pb-4
  .container
    .col-12.sale
      .sale-container.d-flex.flex-column.align-items-center.align-items-md-start.flex-md-row.justify-content-md-center
        .sale-img-container.d-flex
          p#sale-p.text-color-light  -40%
          //img.mt-3(src="assets/img/service-laser-page/Ellipse.png")
        h3.h3-title.text-color-light.mb-0.align-self-center.text-center Вы выбрали такие зоны:
    .col-12.sale
      .sale-container.d-flex.align-items-center.justify-content-center

section.section.service-laser-service-list.nano-service-list.overflow-visible
  .container
    .row.main-block
      .col-12.col-xl-8.d-flex.flex-column.align-items-center.left.custom-py-services-price.man-symbol-bg
        .checkbox-wrapper
          input(type="checkbox" class="checkbox" id="checkboxServiceList")
        .service-list-group.mt-4.d-flex.flex-column.justify-content-center.align-items-center
          - let arrServiceShugaringFeale= [{"id": 1415211, "title": "Верхняя губа"},{"id": 1415213, "title": "Подбородок"},{"id": 2271100, "title": "Межьбровье"}, {"id": 1415216, "title": "Скулы"},{"id": 2271102, "title": "Щеки"},{"id": 2271101, "title": "Шея"},{"id": 1415208,"title": "Бакенбарды"},{"id": 1415215, "title": "Руки"},{"id": 1415214, "title": "Подмышки"},{"id": 1415209, "title": "Бедера"},{ "id": 1415212,"title": "Голени"}, {"id": 1415210,"title": "Бикини"},{"id": 2271104, "title": "Глубокое бикини"}]
          - let arrServiceShugaringMale= [{"id": 1415211,"title": "Верхняя губа"},{"id": 1415213,"title": "Подбородок"},{"id": 2271100,"title": "Межьбровье"},{"id": 1415216,"title": "Скулы", }, { "id": 2271102, "title": "Щеки", }, {"id": 2271101, "title": "Шея"}, {"id": 1415208,"title": "Бакенбарды"},{"id": 1415215,"title": "Руки", },{"id": 1415214, "title": "Подмышки"},{"id": 1415209,"title": "Бедера"},{"id": 1415212, "title": "Голени", }, { "id": 1415210, "title": "Бикини" },{ "id": 2271104, "title": "Глубокое бикини"}]
          .list-female
            .checkbox-group.pb-4
              each service in arrServiceShugaringFeale
                .checkbox-row.d-flex.align-items-start.justify-content-between.py-2(id=service.id data-sex='0')
                  .column-right.d-flex.align-items-start
                    +defaultCheckbox('dark')
                    p.paragraph-text.text-color-lightdark.ml-3.mb-0 #{service.title}
                  .column-left
                    p.paragraph-text.text-color-lightdark.mr-3.mb-0.item-time
                    p.paragraph-text.text-color-lightdark.mb-0.font-weight-bold.item-price
          .list-male
            .checkbox-group.pb-4
              each service in arrServiceShugaringMale
                .checkbox-row.d-flex.align-items-start.justify-content-between.py-2(id=service.id data-sex='1')
                  .column-right.d-flex.align-items-start
                    +defaultCheckbox('dark')
                    p.paragraph-text.text-color-lightdark.ml-3.mb-0 #{service.title}
                  .column-left
                    p.paragraph-text.text-color-lightdark.mr-3.mb-0.item-time
                    p.paragraph-text.text-color-lightdark.mb-0.font-weight-bold.item-price


      .col-12.col-xl-4.right.custom-py-services-price.d-none.d-xl-block
        .stash.d-flex.flex-column.align-items-center.pb-5
          .sale-container.d-flex.flex-column.align-items-center
            h4.h4-title.text-color-white.text-w-bold.mt-5 Вы выбрали такие зоны:

          #choosenServices.checkbox-group.d-flex.flex-column.align-items-center.mt-4.pb-4

          //.sale-group.d-flex.justify-content-between
            p.paragraph-text.text-w-light.text-color-white Акция
            p.paragraph-text.text-w-bold.text-color-white 40%
          .price-group.d-flex.justify-content-between
            .price-block.d-flex.justify-content-start
              img(src="assets/img/laser-page/time.svg")
              p.paragraph-text.text-w-bold.text-color-white.ml-2.serviceListTime
            .price-block.d-flex.justify-content-end
              img(src="assets/img/laser-page/price.svg")
              p.paragraph-text.text-w-bold.text-color-white.ml-2.serviceListSum 0 грн
          .c-btn.mt-3.d-flex.justify-content-between.w-332
            .button.btn-first.btn-simple.svg.caset(data-toggle='modal', data-target='#modalServiceListPay')
              .text-section
                +casetSvg
                span оплатить
            .button.btn-second.btn-simple.svg.pen(data-toggle='modal', data-target='#modalServiceListSinugUp')
              .text-section
                +penSvg
                span записаться

section.section.service-laser-service-list-tablet3.d-flex.d-xl-none.py-0.flex-column.pt-4.py-3
  .container
    .d-flex.flex-column.align-items-center.flex-md-row.justify-content-md-center
      .d-flex.mb-3.mb-md-0.align-items-center
        p.paragraph-text.d-inline-flex.align-items-center.mr-5.mb-0.drop-menu Список услуг
          svg.icon.icon-arrow(width='13', height='7', viewBox='0 0 13 7', fill='white', xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M5.16693 6.68549L0.314506 1.83307C-0.104835 1.41373 -0.104835 0.733846 0.314506 0.314506C0.733846 -0.104835 1.41373 -0.104835 1.83307 0.314506L6.18447 4.66591L10.5359 0.314506C10.9552 -0.104835 11.6351 -0.104835 12.0544 0.314506C12.4738 0.733846 12.4738 1.41373 12.0544 1.83307L7.20202 6.68549C6.92614 6.96137 6.53751 7.05575 6.18447 6.96864C5.83144 7.05575 5.4428 6.96137 5.16693 6.68549Z', fill='white')
        p.serviceListSum.paragraph-text.d-inline-flex.align-items-center.font-weight-bold.mr-md-5.mb-0 0 грн.
      .c-btn.w-332
        .button.btn-first.btn-simple.svg.caset(data-toggle='modal', data-target='#modalServiceListPay')
          .text-section
            +casetSvg
            span оплатить
        .button.btn-second.btn-simple.svg.pen(data-toggle='modal', data-target='#modalServiceListSinugUp')
          .text-section
            +penSvg
            span записаться


