section.section.service-three-boxes-shugaring
    .container
      h2.h2-title.text-color-lightdark.text-center.letter-spacing-1.mb-4.mb-lg-5 Минимум 3 причины делать шугаринг
      .d-flex
        .c-three-box
          .img-position
            img.img-position-01.d-none.d-md-block(src="", alt="circle fether" srcset="assets/img/three-boxes/three-box-shugarin-1@2x.png 2x")
            img.img-position-01.d-md-none.d-block(src="assets/img/three-boxes/three-box-nano-mob-1.png", alt="circle fether" srcset="assets/img/three-boxes/three-box-nano-mob-1@2x.png 2x")
          .c-desc
            p.bnf-number.text-color-lightdark 01
            h4.h4-title.text-color-lightdark.text-uppercase Вы получаете абсолютно гладкую кожу
            p.paragraph-text.text-color-lightdark.text-w-light.d-width За один сеанс вы избавляетесь от всех волос в нужной вам зоне. Вы сразу видите результат, в отличие от лазерной эпиляции. При этом кожа сохраняет длительный эффект 2-3 недели.

        .c-three-box
          .img-position
            img.img-position-02(src="", alt="circle fether" srcset="assets/img/three-boxes/three-box-shugarin-2@2x.png 2x")
          .c-desc
            p.bnf-number.text-color-lightdark 02
            h4.h4-title.text-color-lightdark.text-uppercase Волосы отрастают реже и тоньше
            p.paragraph-text.text-color-lightdark.text-w-light.d-width Через несколько недель после шугаринга волоски начинают отрастать. При этом они более тонкие, мягкие и не такие густые. Если делать сахарную депиляцию регулярно, такой эффект усилится.
        .c-three-box
          .img-position
            img.img-position-03(src="", alt="circle fether" srcset="assets/img/three-boxes/three-box-shugarin-3@2x.png 2x"  )
          .c-desc
            p.bnf-number.text-color-lightdark 03
            h4.h4-title.text-color-lightdark.text-uppercase Никаких раздражений, щетины, ранок
            p.paragraph-text.text-color-lightdark.text-w-light.d-width У техники шугаринга низкая травматичность. Поэтому на коже не остается раздражений и других негативных последствий, как от того же станка. Также паста для шугаринга гипоаллергенна.
