section.section.consultation-service
  .custom-icon-number
    background: #4D5259
    min-width: 27px
    max-width: 27px
    height: 27px
    p
      @include font (Circe, bold, 16, 26)
      color: #fff !important
  .container
    .sub-title
      @include font (Circe, 400, 20, 45)

    .c-content
      max-width: 620px
      @include media-breakpoint-down(lg)
        max-width: 655px
  .d-line
    background: rgba(255, 255, 255, 0.26)
  .info-list
    li
      &:before
        background: #fff
  .consultation-01
    overflow: hidden
    padding-top: 90px
    background-color: #9FA6BA
    margin-bottom: 142px
    @include media-breakpoint-down(lg)
      padding-top: 75px
      margin-bottom: 122px
    @include media-breakpoint-down(sm)
      margin-bottom: 102px
    .container
      .h2-title
        max-width: 400px
        @include media-breakpoint-down(lg)
          max-width: 100%
      .white-block-design
        margin-top: 26px
        width: 540px
        height: 684px
        @include media-breakpoint-down(lg)
          width: 465px
          height: 649px
          margin-left: 5%
        @include media-breakpoint-down(sm)
          width: 223px
          height: 329px
        img
          width: 540px
          height: 513px
          top: 75px
          left: 72px
          @include media-breakpoint-down(lg)
            top: 48px
            left: 62px
          @include media-breakpoint-down(sm)
            width: 250px
            height: 246px
            top: 35px
            left: 36px
        .extralarge-text-bg
          bottom: 45px
          left: 39px
          @include media-breakpoint-down(md)
            left: 17px
          @include media-breakpoint-down(sm)
            font-size: 152.762px
            bottom: 15px
            left: 8px
  .consultation-02
    background-color: #A9A8C6
    padding-bottom: 80px
    @include media-breakpoint-down(lg)
      padding-bottom: 78px
    @include media-breakpoint-down(sm)
      padding-bottom: 66px
    .container
      .h2-title
        width: 605px
        @include media-breakpoint-down(lg)
          width: 100%
      .c-content
        padding-top: 116px
        @include media-breakpoint-down(lg)
          padding-top: 66px
      .white-block-design
        width: 520px
        height: 721px
        @include media-breakpoint-down(lg)
          width: 507px
          height: 557px
          margin-left: auto
        @include media-breakpoint-down(sm)
          width: 251px
          height: 250px
        img
          width: 540px
          height: 710px
          bottom: 72px
          right: 72px
          @include media-breakpoint-down(lg)
            width: 520px
            height: 541px
            right: 62px
            bottom: 63px
          @include media-breakpoint-down(sm)
            width: 252.85px
            height: 263.55px
            right: 30px
            bottom: 30px
        .extralarge-text-bg
          bottom: 45px
          left: 39px
          @include media-breakpoint-down(md)
            left: 17px
          @include media-breakpoint-down(sm)
            font-size: 152.762px
            bottom: 15px
            left: 8px
@include media-breakpoint-down(lg)
  .consultation-02
    .container
      .white-block-design

@include media-breakpoint-down(sm)
  .consultation-02
    .container
      .c-content
        //padding-top: 42px

