section.section.service-laser-contraindications
  background-color: #9FA6BA
  overflow: initial

  .container
    .white-block-mobile
      .white-block-design
        width: 489px
        height: 489px
        top: -81px
        left: 184px

        img
          top: -76px
          left: -149px

    .white-block-lg
      .white-block-design
        width: 562px
        height: 789px
        top: -100px
        left: 49px

        img
          top: -9px
          left: -116px

    .info-list
      li
        &:before
          background: $text-color-white
