section.section.service-after-laserepila
  .custom-icon-number
    width: 27px
    height: 27px
    p
      @include font (Circe, bold, 16, 26)
  
  .consultation-top
    background-color: #9FA6BA
    .container
        h2.before
            margin-bottom: 2.5rem
            &::before
                content: ''
                display: block
                height: 2px
                width: 90px
                background-color: rgba(255, 255, 255, 0.26)
                position: relative
                top: 76px
        .white-block-design
            width: 504px
            height: 675px
            h1.extralarge-text-bg 
                position: absolute
                z-index: 10 
                top: 0px
                left: 43px
                margin-left: -308px
                margin-top: 420px
            

  .consultation-middle
    background-color: #EDE1DF 
    .container
        h2.before
            line-height: 38px
            &::before
                content: ''
                display: block
                height: 2px
                width: 90px
                background-color: rgba(0, 0, 0, 0.26)
                position: relative
                top: 105px   
        .white-block-design
            width: 573px
            height: 687px
            margin-left: 30px
            img
                top: -65px
                left: -34px

  .consultation-bottom
    background-color: #A9A8C6
    .container
        .white-block-design
            width: 498px
            height: 503px
            margin-left: auto
            img
                top: 30px
                left: -175px
            h1.extralarge-text-bg 
                position: absolute
                z-index: 10 
                margin-top: 242px
                margin-left: -106px
