section.section.service-after-laserepila
  .custom-icon-number
    width: 27px
    height: 27px
    min-width: 27px
    p
      @include font(Circe, bold, 16, 26)

  .consultation-top
    background-color: #9FA6BA
    overflow: hidden
    margin-bottom: 154px
    padding-top: 70px
    @include media-breakpoint-down(lg)
      margin-bottom: 228px
      padding-top: 77px
    @include media-breakpoint-down(sm)
      margin-bottom: 107px
      padding-top: 48px

    .container
      .c-content
        padding-top: 32px
        max-width: 563px
        @include media-breakpoint-down(lg)
          padding-top: 0px
          max-width: 666px
          margin-bottom: 52px
        @include media-breakpoint-down(sm)
          margin-bottom: 28px
        .d-line
          background: rgba(255, 255, 255, 0.39)

      .white-block-design
        width: 504px
        height: 669px
        @include media-breakpoint-down(lg)
          width: 465px
          height: 657px
        @include media-breakpoint-down(sm)
          width: 238.75px
          height: 337.33px
        .extralarge-text-bg
          bottom: 22px
          right: 214px
          @include media-breakpoint-down(lg)
            right: 70px
            bottom: 41px
          @include media-breakpoint-down(sm)
            font-size: 165.069px
            right: 35px
            bottom: 24px
        img
          width: 537px
          height: 500.17px
          top: 72px
          right: 74px
          @include media-breakpoint-down(lg)
            width: 507px
            height: 500.17px
            top: 61px
            left: 61px
          @include media-breakpoint-down(sm)
            max-width: 253px
            max-height: 257px
            top: 31px
            left: 32px

  .consultation-middle
    background-color: #EDE1DF
    .container
      .white-block-design
        width: 540px
        height: 686px
        margin-left: auto
        @include media-breakpoint-down(lg)
          width: 527px
          height: 427px
          margin-right: auto
        @include media-breakpoint-down(sm)
          width: 254px
          height: 208px
          margin-left: auto
        .extralarge-text-bg
          bottom: 54px
          right: 245px
          @include media-breakpoint-down(lg)
            right: 133px
          @include media-breakpoint-down(sm)
            font-size: 165.069px
            right: 41px
            bottom: 24px
        img
          width: 540px
          height: 676px
          right: 72px
          bottom: 81px
          @include media-breakpoint-down(lg)
            width: 527px
            height: 525px
            right: 62px
            bottom: 58px
            object-fit: cover
          @include media-breakpoint-down(sm)
            width: 254px
            height: 253px
            bottom: 28px
            right: 30px
      .c-content
        width: 603px
        padding-top: 72px
        padding-bottom: 82px
        @include media-breakpoint-down(lg)
          width: 100%
          padding-top: 45px
          padding-bottom: 78px
        @include media-breakpoint-down(sm)
          padding-top: 35px
          padding-bottom: 50px
        .h2-title
          @include media-breakpoint-down(lg)
            max-width: 600px
          @include media-breakpoint-down(sm)
  .consultation-bottom
    background-color: #9FA6BA
    padding-top: 80px
    @include media-breakpoint-down(lg)
      padding-top: 69px
    @include media-breakpoint-down(sm)
      padding-top: 48px

    .custom-icon-number
      p
        color: #9FA6BA !important
    .container
      .c-content
        width: 610px
        padding-top: 47px
        @include media-breakpoint-down(lg)
          padding-top: 0
          margin-bottom: 65px
          width: 650px
        @include media-breakpoint-down(sm)
          margin-bottom: 37px

          width: 100%
      .white-block-design
        width: 498px
        height: 516px
        margin-left: auto
        @include media-breakpoint-down(lg)
          width: 465px
          height: 515px
        @include media-breakpoint-down(sm)
          width: 250px
          height: 275px
        img
          object-fit: cover
          width: 537px
          height: 384px
          top: 74px
          right: 72px
          box-shadow: $shadow-image
          @include media-breakpoint-down(lg)
            width: 522px
            height: 410px
            top: 48px
            right: 53px
          @include media-breakpoint-down(sm)
            width: 255px
            height: 200px
            top: 30px
            right: 30px
        .extralarge-text-bg
          bottom: 55px
          left: -107px
          @include media-breakpoint-down(lg)
            bottom: 55px
            left: -75px
          @include media-breakpoint-down(sm)
            font-size: 173px
            bottom: 24px
            left: -75px

