section.section.service-laser
  background-color: #EDE1DF
  padding-top: 64px
  .container
    .c-content
      max-width: 466px
      padding-top: 96px
      @include media-breakpoint-down(lg)
        padding-top: 0px
        margin-bottom: 36px
      @include media-breakpoint-down(sm)
    .white-block-design
      margin-right: auto
      width: 504px
      height: 674px
      @include media-breakpoint-down(lg)
        width: 465px
        height: 626px
      @include media-breakpoint-down(sm)
        width: 232px
        height: 310px
      img
        box-shadow: $shadow-image
        width: 540px
        height: 513px
        object-fit: cover
        top: 68px
        left: 72px
        @include media-breakpoint-down(lg)
          width: 520px
          height: 513px
          top: 48px
          left: 48px

        @include media-breakpoint-down(sm)
          width: 259px
          height: 255px
          top: 24px
          left: 24px
      .extralarge-text-bg
        font-size: 377px
        bottom: 51px
        right: -374px
        @include media-breakpoint-down(lg)
          bottom: 51px
          right: -802px
        @include media-breakpoint-down(sm)
          font-size: 166px
          bottom: 26px
          right: -332px
