section.section.service-laser-service-list
  background: #EDE1DF
  @include media-breakpoint-up(xl)
    background: linear-gradient(to right, #EDE1DF 50%, #6F7682 50%)
  .container
    background: url(../assets/img/service-list/service-laser-service-list-bg-tablet.svg)
    background-repeat: no-repeat
    background-position: top center
    overflow: initial
    @include media-breakpoint-up(xl)
      background: url(../assets/img/service-list/service-laser-service-list-bg.png), linear-gradient(to right, #EDE1DF 50%, #6F7682 50%)
      background-position: -100px 0
      background-repeat: no-repeat
      overflow: initial

  .column-left
    width: 69px
    display: flex
    justify-content: space-between
    @include media-breakpoint-down(sm)
      width: 100%
    .paragraph-text
      white-space: nowrap
  .column-right
    width: 100%

  .custom-py-services-price
    padding: 72px 0

  .man-symbol-bg
    background: url(../assets/img/service-laser-page/man-symbol.svg) center -5px no-repeat
    background-size: 360px 360px

  .woman-symbol-bg
    background: url(../assets/img/service-laser-page/woman-symbol.svg) center -5px no-repeat
    background-size: 360px 360px

  .service-section-header-mb
    margin-bottom: 55px

  .paragraph-text

  h3
    font-size: 30px
  .checkbox-group
    display: flex
    flex-direction: column
    align-items: center
    width: 500px
    @include media-breakpoint-down(md)
      width: 100%

    .checkbox-row
      width: 100%
      input
        width: 15px
        height: 15px
  .list-male
    display: none
  .container
    .row
      .left
        .radio-container
          width: 100px
          height: 36px
          background: #9FA6BA
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.18)
          border-radius: 100px
          input
            width: 30px
            height: 30px
        .service-list-group
          width: 100%
          padding: 0 60px
          @include media-breakpoint-down(sm)
            padding: 0 15px
          h2
            font-size: 30px
      .right
        .sale-container
          position: relative
          height: 110px
          width: 100%
          .sale-title
            @include font(CormorantGaramond, 700, 30, 30)
            letter-spacing: 0.01em
            color: $text-color-white
          &:before
            content: ' '
            display: block
            position: absolute
            width: 620px
            height: 180px
            top: -72px
            left: -118px
            background:
              image: url("../assets/img/laser-page/sale-bg.png")
              size: cover
            z-index: -1
            @media(min-width: 1920px)
              display: none
        .stash
          position: sticky
          top: 71px
          margin-left: 20%
          height: 90vh
          .checkbox-group
            width: 324px
            box-sizing: border-box
            overflow: auto
            max-height: 343px

          .sale-group
            width: 77%
            box-sizing: border-box
            border-bottom: 1px solid rgba(255, 255, 255, 0.34)

            p
              margin: 20px 0
              &:nth-of-type(1)
                margin-left: 2rem
          .c-btn

          .price-group

          .price-count
            display: flex
            justify-content: space-between
            align-items: center
            border-top: 1px solid rgba(255, 255, 255, 0.34)
            width: 95%
            padding-top: 15px
            margin-top: auto
            margin-bottom: 24px
          //.price-block
          //  width: 50%
          //  p
          //    margin: 10px 0
          //  img
          //    width: 20px
          //    height: 20px
          //    margin: 10px 0
section.section.service-laser-service-list-tablet1
  background: url(../assets/img/service-laser-page/list-image-tablet.png)
  background-size: cover
  .btn
    background: #4D5259
    border-radius: 100px
    border: 1px solid rgba(255, 255, 255, 0.3)!important
    color: #fff
    font-size: 10px
    font-weight: bold
    width: 159px
    height: 36px
    margin-top: 5px
  h3
    font-size: 30px
  .sale-img-container
    display: flex
    justify-content: center
    align-items: center
    width: 55px
    height: 55px
    background-color: #9FA6BA
    border-radius: 100%
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.18)
    @include media-breakpoint-up(md)
      width: 100px
      height: 100px
      margin-right: 15px

    #sale-p
      font-family: "CormorantGaramond"
      font-style: normal
      font-weight: 700
      font-size: 30px
      line-height: 33px
      color: #ffffff
      text-align: center
      position: absolute
      @include media-breakpoint-up(md)
        font-size: 44px
        line-height: 33px

section.section.service-laser-service-list-tablet2
  background: url(../assets/img/service-laser-page/service-laser-list-bg-tablet.png)
  background-size: cover
  #radio-container
    width: 100px
    height: 36px
    background: #9FA6BA
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.18)
    border-radius: 100px
    input
      width: 30px
      height: 30px
  .checkbox-group
    width: 100%
section.section.service-laser-service-list-tablet3
  background: #6f7682
  .c-btn
    display: none
    display: inline-flex
    justify-content: space-between
    @include media-breakpoint-down(sm)
      flex-direction: column
      align-items: center
      justify-content: space-between
      height: 92px


.w-332
  width: 332px

