section.section.service-laser-results
  background-color: #fff
  .slider-block
    .owl-dots
      padding-top: 30px
      span
      .owl-dot
        &:not(:last-child)
        &:hover, &.active
          background: #303947
    .slider-item-footer
      background: #EDE1DF
      mix-blend-mode: normal
      border-radius: 0px 0px 8px 8px

section.section.service-laser-results-nano
  padding-top: 63px
  padding-bottom: 72px
  @include media-breakpoint-down(lg)
    padding-top: 54px
    padding-bottom: 64px
  @include media-breakpoint-down(sm)
    padding-top: 39px
    padding-bottom: 43px
  .slider-block
    .owl-dots
      padding-top: 30px
      span
      .owl-dot
        &:not(:last-child)
        &:hover, &.active
          background: #303947
    .slider-item-footer
      background: #EDE1DF
      mix-blend-mode: normal
      border-radius: 0px 0px 8px 8px

section.section.service-laser-results-waxing
  padding-top: 63px
  padding-bottom: 72px
  @include media-breakpoint-down(lg)
    padding-top: 54px
    padding-bottom: 64px
  @include media-breakpoint-down(sm)
    padding-top: 39px
    padding-bottom: 43px
  .slider-block
    .owl-dots
      padding-top: 30px
      span
      .owl-dot
        &:not(:last-child)
        &:hover, &.active
          background: #303947
    .slider-item-footer
      background: #EDE1DF
      mix-blend-mode: normal
      border-radius: 0px 0px 8px 8px

