section.section.service-laser-results
    background-color: #fff
    & .headline
        h1
            line-height: 35px
    & .container
        & .container
            & .diploma-slider
                .slider-item-footer
                    height: 37px
                    background: #EDE1DF
                    mix-blend-mode: normal
                    border-radius: 0px 0px 8px 8px
                & .owl-dots
                    padding-top: 40px
