section.section.service-laser-whatToDo
    background: url(../assets/img/service-list/whatToDoBg.png)
    .container
        .items-container
            img 
            .text-container1
                p
                    &:nth-of-type(1)
                        margin-top: 52px
                    &:nth-of-type(2)
                        margin-top: 87px
                    &:nth-of-type(3)
                        margin-top: 68px
                    span 
                        color: #000
            .text-container2
                p
                    &:nth-of-type(1)
                        margin-top: 52px
                    &:nth-of-type(2)
                        margin-top: 101px
                    &:nth-of-type(3)
                        margin-top: 57px
                    span 
                        color: #000
            .text-container-hide
                p
                    &:nth-of-type(1)
                        margin-top: 52px
                    &:nth-of-type(2)
                        margin-top: 119px
                    &:nth-of-type(3)
                        margin-top: 79px
                    span 
                        color: #000