section.section.service-laser-contraindications
  padding-bottom: 101px
  background-color: #9FA6BA
  overflow: initial
  .container

    .c-content
      padding-top: 46px

    .white-block-design
      width: 540px
      height: 794px
      margin-left: auto
      @include media-breakpoint-down(lg)
        width: 517px
        height: 482px
      @include media-breakpoint-down(sm)
        width: 251px
        height: 209px
      img
        width: 540px
        height: 787px
        right: 72px
        bottom: 78px
        @include media-breakpoint-down(lg)
          width: 520px
          height: 497px
          right: 62px
          bottom: 71px
        @include media-breakpoint-down(sm)
          width: 252.68px
          height: 241.5px
          right: 30px
          bottom: 34px




    .info-list
      li
        &:before
          background: $text-color-white
