section.section.service-laser-personal
  background: url('../assets/img/specialists-zt/bg.jpg')
    repeat: no-repeat
    size: cover
    position: top left
  padding-top: 80px
  padding-bottom: 80px
  .h2-title
    margin-bottom: 63px

  &-info
    position: absolute !important
    top: 0
    left: 0
    height: 100%
    background: $spec-bg
    transition: 0.25s linear
    opacity: 0

    & .specialists-item-container
      position: relative
      cursor: pointer
      overflow: hidden

      & .specialists-img
        height: 100%

      &:hover
        .specialists-info
          opacity: 1
