section.section.diploma
  background-color: #4D5259
  padding-top: 80px
  padding-bottom: 80px
  @include media-breakpoint-down(lg)

  @include media-breakpoint-down(lg)
    padding-top: 50px
    padding-bottom: 50px
  .container
