section.section.diploma
  background-color: #4D5259
  padding-top: 70px
  padding-bottom: 82px
  @include media-breakpoint-down(lg)

  @include media-breakpoint-down(lg)
    padding-top: 41px
    padding-bottom: 53px
  .container
