section.section.about-video
  padding-top: 46px
  padding-bottom: 64px
  @include  media-breakpoint-down(lg)
    padding-top: 39px
    padding-bottom: 84px
  @include  media-breakpoint-down(sm)
    padding-top: 11px
    padding-bottom: 54px
  .c-desc
    max-width: 500px
    @include  media-breakpoint-down(lg)
      max-width: 100%
  .video-img
    max-width: 679px
  .c-content
    display: flex
    margin-top: 42px
  .d-line
    background-color: #9FA6BA
    margin-top: 21px
    margin-bottom: 26px
