section.section.about-video
  padding-top: 48px
  padding-bottom: 48px
  .container
    .video-img
      max-width: 679px
    .c-content
      display: flex
      margin-top: 42px
    .d-line
      background-color: #9FA6BA
      margin-top: 21px
      margin-bottom: 26px
