section.section.about-list
  .container.d-flex.flex-wrap.list-section
    .col-12.col-lg-6
      h2.text-uppercase Напрямки послуг наших центрів
      p.mb-4 У наших центрах чотири напрямки, завдяки яким пацієнти можуть вилікувати різні захворювання і дефекти стоп.
      ul.info-list
        li
          h3 Подологія
          p Медичний педикюр, обробка мозолів, натоптишів і бородавок, кореція врослих нігтів, лікування грибка, догляд за діабетичною стопою.
        li
          h3 Ортоніксія
          p Виправлення і відновлення нігтів після травм і пошкоджень, протезування нігтів, відновлення нігтів з грибковими ураженнями.
        li
          h3 Мала ортопедія
          p Виготовлення ортезів і силіконових коректорів пальців при деформаціях стоп будь-якої складності. Проектування коригувальних ортопедичних устілок та виготовлення розвантажувальних устілок PWO.
        li
          h3 Медичний масаж
          p Послуги по реабілітаційному масажу для дорослих. Дитяча реабілітація при патологіях опорно-рухового апарату: ЛФК і масаж..
    .col-12.col-lg-6
      h2.text-uppercase Апаратура для точного діагнозу і лікування
      p Наші фахівці працюють із обладнанням, яке дає точні дані про проблему пацієнта.
      ul.info-list
        li
          p
            strong дерматоскоп
            | — прилад для 20-кратного збільшення шкіри. Дозволяє визначити вид новоутворення на стопі і поставити точний діагноз. Використовується у лікуванні бородавок і мозолів. Дає можливість спостерігати процес одужання пацієнта на тому рівні, який неможливо розрізнити оком.
        li
          p
            strong подоскоп
            | —  апарат для діагностики стопи в положенні стоячи. Він дозволяє побачити можливі викривлення та інші деформації у стопі, які впливають на загальний стан здоров'я ніг.
        li
          p
            strong педобарограф
            | — сенсорна доріжка, яка оцінює стан стопи при ходьбі. Така платформа дозволяє оцінити біомеханіку ходьби пацієнта і її якість. При такому аналізі видно біомеханічні порушення нижніх кінцівок.
            | <br><br>За результатами на цьому апараті ми можемо судити про те, як положення стопи, таза і зміна центру ваги впливає на здоров'я стоп: де відбувається зайвий тиск або натирання. Також ми можемо запобігти розвитку деформацій.
        li
          p
            strong лабораторія
            | , яка точно показує різновид грибкових захворювань і дозволяє призначити ефективне лікування. Завдяки точному діагнозу пацієнти швидше позбавляються грибкових інфекцій.
