section.section.about-page-section-shugaring
  .container
    .row
      .col-12.col-xl-6
        .c-content
          h2.h2-title Шугаринг <span class="city-in-dynamic">Житомире</span>
          .d-line
          p.paragraph-text.text-w-light.mb-1 Шугаринг — это депиляция сахарной пастой. После такой процедуры кожа остается гладкой несколько недель. Такой способ избавляться от нежелательных волос в разы комфортнее бритвы или эпилятора. После него не нужно страдать от раздражений или быстро появляющейся щетины. Главное для качественного результата — чтобы мастер работал пастой в правильной технике. В Steffany вы попадете на депиляцию сахаром как раз к таким мастерам.
      .col-12.col-xl-6
        .white-block-design
          img(src="assets/img/shugaring-page/about-page.jpg" alt="about-page" srcset="assets/img/shugaring-page/about-page@2x.jpg")
          p.extralarge-text-bg shugaring

