section.section-services.container-fluid.py-0.ort-treatment.ingrown-cnt.ingrown-cnt-2.py-0
  .row.no-gutters.section-services-treatment-row-padding
    .container
      .row
        .col
          h3.section-title.text-color-light.mb-4.text-center.text-w-bold Як зрозуміти, що у вас врослий ніготь на нозі
          .d-flex.justify-content-center.w-100
            p.paragraph-text-light.text-center.mb-80 Діагноз врослого нігтя можна поставити собі самостійно, тому що у цього дефекту яскраво виражені симптоми:
    .container
      .row.no-gutters.mx-auto.justify-content-center
        .col-12.col-lg-6.ort-block.ort-block-1
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt Гострий колючий біль
          p.paragraph-text-light.ort-cnt При ходьбі і будь-якому іншому натисканні на шкіру навколо нігтя ви відчуваєте гострий колючий біль. Іноді біль залишається навіть якщо не рухатися.
        .col-12.col-lg-6.ort-block.ort-block-1
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt Почервоніння і набряк нігтьового валика
          p.paragraph-text-light.ort-cnt Шкіра, біля якої знаходиться кут врослого нігтя, помітно червоніє і набрякає. Якщо запустити проблему, може початися кровотеча.
        .col-12.col-lg-6.ort-block.ort-block-1
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt Гнійно-запальний процес
          p.paragraph-text-light.ort-cnt Якщо довго не звертатися до спеціалісту, запалення посилюється і на поверхні рани з'являються гнійні виділення
        .col-12.col-lg-6.ort-block.ort-block-1
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt Перехід в хронічну стадію та утворення грануляцій («дикого м'яса»)
          p.paragraph-text-light.ort-cnt Якщо не проводити адекватного лікування, хвороба переходить в небезбечну хронічну стадію. В такій стадії можливі ускладнення у вигляді абсцеса, сепсиса, кісткового панариція, лімфаденіта, лімфангита та гангрени.
