section.section-services.container-fluid.py-0.ort-treatment.ingrown-cnt
  .row.no-gutters.section-services-treatment-row-padding
    .container
      .row
        .col
          h3.section-title.text-color-light.mb-4.text-center.extra-h3.text-w-bold(style="padding-left: 3rem; padding-right: 3rem;") Чому небезпечно відкладати лікування врослого нігтя
          p.responsive-text.paragraph-text-light.text-center.mb-80 Вростаючий ніготь — не тільки естетична чи медична проблема. Крім болю і сорому врослий ніготь на ногах може принести ускладнення. Вони розвиваються швидше у тих пацієнтів, які вже мають певні проблеми зі здоров'ям: ендартеріїт (хронічне захворювання судин), атеросклероз, який вражає судини ніг, а також цукровий діабет.
    .container
      .row.no-gutters.mx-auto.justify-content-between
        .col-12.col-lg-6.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt(style="font-weight: 800!important") Ускладнення №1 — абсцес
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Що це:
            |
            | абсцес — це гнійне запалення тканин із підшкірною порожниною, де застоюється гній.
          p.paragraph-text-light.ort-cntid=`serv${index+1}`
            span.paragraph-text-bold Як протікає:
            |
            |  у місці ускладнення шкіра червоніє, починає боліти, набрякати і опухати, температура цієї зони підвищується. Пацієнт слабшає, відчуває нездужання і головний біль, втрачає апетит.
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Чим небезпечне:
            |
            | при несвоєчасному лікуванні запалення може поширитися по шкірі і привести до великого ураження. Також інфекція може поширитися з кров'ю і лімфою по всьому організму, і це тягне найгірші наслідки, в тому числі летальний кінець.
        .col-12.col-lg-6.ort-block.ort-block-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt(style="font-weight: 800!important") Ускладнення №2 — лімфаденіт
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Що це:
            |
            | запальне ураження лімфатичних вузлів. При ускладненнях від врослого нігтя страждають прилеглі лімфатичні вузли — під коліном або у паховій області.
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Як протікає:
            |
            | лімфатичні вузли збільшуються і болять, у пацієнта підвищується температура.
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Чим небезпечне:
            |
            | ігнорування проблеми може призвести до глибокого ураження тканин і сепсису (запальної реакції, коли інфекція потрапляє у кров і тканини організму).
        .col-12.col-lg-6.ort-block.ort-block-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt Ускладнення №3 — кістковий панарицій (остеомієліт нігтьової фаланги)
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Що це:
            | це гнійно-запальне ураження кісткових тканин пальця.
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Як протікає:
            |
            | у пацієнта набрякає палець, судини в цьому місці переповнюються кров'ю (з'являється гіперемія), все це супроводжується пульсуючим болем. Організм слабшає, підвищується температура.
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Чим небезпечне:
            |
            | при особливо запущених випадках у пацієнта може розвинутися розлите гнійне запалення сполучної тканини (флегмона), а іноді гангрена.
        .col-12.col-lg-6.ort-block.ort-block-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt Ускладнення №4 — гангрена пальця
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Що це:
            |
            | процес омертвіння тканин.
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Як протікає:
            |
            | процес триває довго — місяцями і навіть роками. Палець болить, потім уражена ділянка втрачає чутливість і набуває чорно-коричневого кольору (муміфікований вид).
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Чим небезпечне:
            |
            | гангрена закінчується видаленням відмерлих тканин або ампутацією.
.container.mb-5
  .row
    p.w-100.paragraph-text-bold.text-center.mx-0.mx-md-auto.mb-3.dark-color Лікуйте врослий ніготь відразу. Тоді все пройде максимально безболісно і без хірургічного втручання.
    .services-btn-container.mx-auto
      +btnPen('Записатися')(id="write-end", data-toggle='modal', data-target='#callbackModal')
