section.section-services.lightblue-bg.legs-bg
  .container.circles-bg
    .row
      .col.d-flex.flex-column.align-items-center.section-service-block.mx-auto
        h3.section-title.mb-4.text-dark-1.text-center.extra-h3.text-w-bold Послуги по лікуванню врослого нігтя
        .services-treatment-divider.mb-4
        p.paragraph-text.text-dark-1.text-center.mb-4.mb-md-5.lh-40
          | У центрі здоров'я ніг Steffany є різні методики лікування врослого нігтя. Ми практикуємо три методики лікування: <br/>
          span.f-bold 1. Апаратне або інструментальне лікування&nbsp;
          | — коли спеціаліст працює за допомогою стерильних інструментів або апаратної техніки, і витягує врослу частина нігтя;<br/>
          span.f-bold 2. Ортоніксія&nbsp;
          | — коли на врослий ніготь на ногах встановлюється скоба або коригувальна пластина;<br/>
          span.f-bold 3. Корекція нігтя&nbsp;
          | за допомогою протезування вкладками — коли протезуючий матеріал захищає тіло нігтя і коригує напрям зростання пластини
          | Якщо ви не знаєте, яка процедура потрібна саме у вашому випадку, просто запишіться на прийом. Спеціаліст підбере вам потрібне лікування і визначить кількість процедур.
        .services-btn-container.btn-wrapper
          +btnPen('Записатися')(id = "cons", data-toggle='modal', data-target='#callbackModal')
        .row.mt-md-4.mb-5
          .col-12.col-md-6.px-4
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Консультація
              p.paragraph-text.text-dark-1.extra-fw-300(style="font-weight: 300") На консультації спеціаліст збирає всю необхідну інформацію для того, щоб визначити причини виникнення врослого нігтя і призначити ефективні методики лікування.
            .paragraph-container
              h4.paragraph-title Врослий ніготь без запального процесу
              p.paragraph-text.text-dark-1.extra-fw-300(style="font-weight: 300") Спеціаліст виконує процедуру за допомогою стерильних інструментів і коригує форму нігтя.
            .paragraph-container
              h4.paragraph-title 3ТО скоби на врослий ніготь
              p.paragraph-text.text-dark-1.extra-fw-300(style="font-weight: 300") Така скоба складається з трьох компонентів: петлі і двох гачків з боків з медичної сталевої проволоки. Вона ефективно виводить назовні вростаючі кути.
            .paragraph-container
              h4.paragraph-title Корекція скоби Фрезера на врослий ніготь
              p.paragraph-text.text-dark-1.extra-fw-300(style="font-weight: 300") Під час курсу лікування спеціаліст змінює форму скоби в залежності від стану нігтьової пластини, щоб продовжити лікування врослого нігтя і привести його в початкову здорову форму.
            .paragraph-container
              h4.paragraph-title Нігтьова маса і каполін
              p.paragraph-text.text-dark-1.extra-fw-300(style="font-weight: 300") При лікуванні врослого нігтя спеціаліст встановлює нігтьову масу і каполін — спеціальний фіксуючий і коригувальний матеріал — під вростаючий кут нігтя, і таким чином коригує напрямок його подальшого зростання. Край нігтя піднімається і завдяки цьому не вростає по-старому.
            .paragraph-container
              h4.paragraph-title Анестезія
              p.paragraph-text.text-dark-1.extra-fw-300(style="font-weight: 300") Лікування врослого нігтя відбувається абсолютно безболісно. Для цього спеціаліст «заморожує» місце проблеми за допомогою місцевої анестезії. В особливо складних, запущених випадках спеціаліст завжди попереджає в разі больових відчуттів.
          .col-12.col-md-6.px-4
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Скоба Фрезера на врослий ніготь
              p.paragraph-text.text-dark-1.extra-fw-300(style="font-weight: 300") Скоба Фрезера — це свого роду брекети для нігтів. Спеціаліст встановлює на нігтьову пластину виріб з медичної сталі у вигляді проволоки, який коригує форму нігтя.
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Врослий ніготь із запальним процесом
              p.paragraph-text.text-dark-1.extra-fw-300(style="font-weight: 300") Спеціаліст акуратно працює з нігтем, прибираючи причину запалення за допомогою стерильних інструментів, і коригує форму нігтя.
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Титанова нитка на врослий ніготь
              p.paragraph-text.text-dark-1.extra-fw-300(style="font-weight: 300") Скоба виготовлена зі сплаву титану та нікелю. Її особливість в тому, що вона не деформується під тиском, тому при установці на нігтьову пластину вона безперервно піднімає вгору її край та коригує ніготь.
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Онікліп-пластина на врослий ніготь
              p.paragraph-text.text-dark-1.extra-fw-300(style="font-weight: 300") Пластина онікліп одноразова, тому її необхідно змінювати по ходу зрощення нігтьової пластини (приблизно раз на три місяці). Під час установки її розмір, силу натягу і форму можна коригувати.
        .container-fluid.d-flex.flex-column.align-items-center
          .row.prices-container.mb-4
            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Врослий ніготь без перев'язки
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 350 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 1 година

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Врослий ніготь з перев'язкой
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 550 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 1 година

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Анестезія
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 100 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 15 хв

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Контрольний огляд  врослого нігтя
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 150 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 хв

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Корекція скоби Фрезера
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 600 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 хв

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Первинна консультація подолога
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 150 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 хв

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Протезування нігтьової пластини  нігтьова масса (за 1 од)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 250 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 хв

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Протезування нігтьової пластини гель с антимікотиком або сріблом (за 1 од)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 500 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 хв

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Протезування нігтьової пластини медичним акрилатом (за 1 од)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 650 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 хв

            //.row.px-4.container-fluid
            //  .col-12.col-md-8.p-0.pr-5
            //    p.treatment-service-name.mb-1 Скоба ЗТО
            //  .col-4.col-md-2.p-0
            //    p.treatment-price.text-right 1100 грн
            //  .col-4.col-md-2.p-0
            //    p.treatment-duration.text-right 1 час

            //.row.px-4.container-fluid
            //  .col-12.col-md-8.p-0.pr-5
            //    p.treatment-service-name.mb-1 Скоба Фрезера
            //  .col-4.col-md-2.p-0
            //    p.treatment-price.text-right 1000 грн
            //  .col-4.col-md-2.p-0
            //    p.treatment-duration.text-right 1 час

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Тампонування бокових валиків (за 1 палець)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 50 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 хв

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Встановлення системи корекції
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 1000 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 1 година



            //.row.px-4.container-fluid
            //  .col-12.col-md-8.p-0.pr-5
            //    p.treatment-service-name.mb-1 Титановая нить
            //  .col-4.col-md-2.p-0
            //    p.treatment-price.text-right 800 грн
            //  .col-4.col-md-2.p-0
            //    p.treatment-duration.text-right 1 час

            //.row.px-4.container-fluid
            //  .col-12.col-md-8.p-0.pr-5
            //    p.treatment-service-name.mb-1 Ониклип пластина
            //  .col-4.col-md-2.p-0
            //    p.treatment-price.text-right 800 грн
            //  .col-4.col-md-2.p-0
            //    p.treatment-duration.text-right 1 час

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Протезування нігтьової пластини  частковий протез гель (за 1 од)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 300 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 хв
            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Протезування нігтьової пластини з вкладкою (за 1 од)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 650 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 хв
          .services-btn-container
            +btnPen('записатись')(id="write",data-toggle='modal', data-target='#callbackModal')
