.about-process-spa
  &_top
    position: relative
    padding-top: 170px
    background-color: #BECDD4
    margin-bottom: 110px
    @include media-breakpoint-down(lg)
      padding-top: 120px
    @include media-breakpoint-down(sm)
      margin-bottom: 139px
      padding-top: 31px
      background-color: #fff


    .c-desc
      @include media-breakpoint-down(lg)
        max-width: 649px
      @include media-breakpoint-down(sm)
        margin-left: auto
        max-width: 320px
      .section-title
        margin-left: 0px
        margin-bottom: 64px
        @include media-breakpoint-down(lg)
          margin-bottom: 20.23px
        @include media-breakpoint-down(sm)
          margin-bottom: 15px
          line-height: 30px
      .thin-text
        @include media-breakpoint-down(sm)
          line-height: 22px

    .container
      @include media-breakpoint-down(lg)
        max-width: 100%
        padding: 0
      @include media-breakpoint-down(sm)
        padding: 18px

    .d-white-bg
      width: 647px
      height: 497px
      padding: 57px 107px 36px 149px
      margin-left: auto
      margin-right: 179px
      @include media-breakpoint-down(lg)
        margin-right: 0
        padding: 51px 31px  20px 80px
        width: 540px
        height: 423px
      @include media-breakpoint-down(sm)
        height: 100%
        padding: 0px
        width: 100%
      .d-border
        width:  612px
        height:  298px
        bottom: 260px
        right: 35px
        border-color: #9FA6BA
        @include media-breakpoint-down(lg)
          display: none
      img
        width: 467px
        height: 531px
        right: 539px
        bottom: 73px
        @include media-breakpoint-down(lg)
          width: 382.15px
          height: 503px
          top: -52px
          right: 490px
          z-index: 2 // для тени падающей на следующую секцию
        @include media-breakpoint-down(sm)
          display: none
      .big-text
        right: 564px
        bottom: 23px
        @include media-breakpoint-down(lg)
          bottom: -69px
          right: 632px
        @include media-breakpoint-down(sm)
          display: none


  &_middle
    background-color: #A8A4CD
    padding-bottom: 65px
    @include media-breakpoint-down(lg)
      padding-bottom: 69px
    @include media-breakpoint-down(sm)
      padding-bottom: 50px
    .container
      @include media-breakpoint-down(lg)
        max-width: 720px
    .c-content
      position: relative
    .c-desc
      padding-top: 67px
      @include media-breakpoint-down(lg)
        max-width: 380px
        margin-left: 84px
    .d-white-bg
      width: 540px
      height: 547px
      //margin-left: auto
      @include media-breakpoint-down(lg)
        position: absolute
        top: 0
        right: -257px
        width: 361px
        height: 641px
        margin-left: 179px
      @include media-breakpoint-down(sm)
        width: 253px
        height: 224px
        //padding: 0px
      .d-border
        width:  612px
        height:  298px
        bottom: 260px
        right: 35px
        border-color: #9FA6BA
        @include media-breakpoint-down(lg)
          display: none
      img
        width: 539px
        height: 540px
        right: 72px
        bottom: 76px
        @include media-breakpoint-down(lg)
          width: 404.54px
          height: 620px
          right: 49px
          bottom: 50px
        @include media-breakpoint-down(sm)
          display: none
