section.section.block-answer-before-shugaring
  background-color: #9FA6BA
  padding-top: 92px
  padding-bottom: 87px
  @include media-breakpoint-down(lg)
    padding-top: 0px
    padding-bottom: 59px
  @include media-breakpoint-down(sm)
    padding-bottom: 30px
  .container
    .d-line
      background: rgba(255, 255, 255, 0.39)
    .c-content
      @include media-breakpoint-down(lg)
      max-width: 614px
      @include media-breakpoint-down(lg)
    img
      width: 540px
      height: 497px
      box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.13)
      margin-top: 56px
      @include media-breakpoint-down(lg)
        padding-top: 0
        margin-top: -75px
        margin-bottom: 50px
      @include media-breakpoint-down(sm)
        width: 286px
        height: 266px
  .custom-icon-number
    width: 27px
    height: 27px
    background-color: #4D5259
    p
      @include font (Circe, bold, 16, 26)
      color: #fff

