section.section-services.container-fluid.py-0.ort-treatment.ingrown-cnt.ingrown-cnt-2.py-0
  .row.no-gutters.section-services-treatment-row-padding
    .container
      .row
        .col
          h3.section-title.text-color-light.mb-4.text-center.extra-h3.text-w-bold Що робити, якщо у вас тріщини на п'ятах
          p.paragraph-text-light.text-center.mb-80.extra-padding Лікування тріщин на п'ятах безпосередньо залежить від причини їх виникнення. Як ми вже з'ясували, далеко не завжди тріщини можна прибрати звичайним зволоженням, тому що причина криється глибше. Тому краще відразу вжити певних заходів.
    .container
      .row.no-gutters.mx-auto.justify-content-between
        .col-12.col-lg-4.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt.text-w-bold Н
              span.text-lowercase е робити кислотний педикюр
          p.paragraph-text-light.ort-cnt Кислотний педикюр протипоказаний при тріщинах і інших пошкодженнях шкіри, а також при грибку. Тому не варто робити його, аби не посилити проблему.
        .col-12.col-lg-4.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt.text-w-bold Н
              span.text-lowercase е застосовувати носочки для педикюру
          p.paragraph-text-light.ort-cnt Не варто використовувати одноразові шкарпетки для педикюру для відлущування ороговілих клітин, до складу яких входить молочна кислота. Вони працюють тільки на абсолютно здоровій шкірі. Якщо ваша шкіра схильна до алергічних реакцій або у вас є грибок, рідина такої маски травмує стопи.
        .col-12.col-lg-4.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt.text-w-bold З
              span.text-lowercase вернутися до подолога
          p.paragraph-text-light.ort-cnt Спеціаліст огляне вашу шкіру і збере дані про стан організму в цілому. Завдяки цьому він зможе зрозуміти причину тріщин, рекомендувати правильне лікування і домашній догляд. Якщо подолог з'ясує, що причина тріщин лежить в зоні відповідальності інших фахівців, він обов'язково перенаправить вас до потрібного лікаря.
