section.section-services.container-fluid.py-0.ort-treatment.ingrown-cnt.ingrown-cnt-2.py-0
  .row.no-gutters.section-services-treatment-row-padding
    .container
      .row
        .col
          h3.section-title.text-color-light.mb-4.text-center.extra-h3.text-w-bold Чому на п'ятах з'являються тріщини
          .services-treatment-divider.mb-4.mx-auto
          p.paragraph-text-light.text-center.mb-0.extra-padding Шкіра на п'ятах — зона, на яку припадає величезний тиск при ходьбі. Коли шкіра еластична, вона здатна справлятися із таким навантаженням. Проте якщо вона грубіє і недостатньо зволожується, починає тріскатися. Якщо залишити шкіру в такому стані, тріщини поглибшаться. При цьому суха шкіра — не єдина причина виникнення тріщин на п'ятах. Іноді пацієнти навіть не підозрюють про реальний збудник проблеми.
