.info-block-grid.grid-bg-1.double-grid-big.fix-space-top
  .container.p-0
    .row.no-gutters.mb-5
      h2.section-title.text-center.mb-0 Цены на дневной макияж <span class='city-in-dynamic'></span> <br/> и вечерний макияж <span class='city-in-dynamic'></span>
    .row.no-gutters.grid-shodow.w-100
      .row.no-gutters.w-100.grid-block.grid-block-2.grid-block-bigger(data-anchor='makeup')
        .col-12.col-md-6.grid-cnt.grid-cnt-big.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between.pr-3
          .grid-titles.order-1
            .grid-title
              | Профессиональный <br/>
              | макияж <span class='city-in-dynamic'></span>
            p.thin-text.pb-5.pb-md-0.text-grid Опытный визажист делает вам макияж, который вы обсудили заранее, нанося все средства на основу под макияж для стойкости. Макияж можно делать по вашему желанию (как на картинке или фото) или с нуля
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 350 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "makeuo-order-1", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Профессиональный макияж в Житомире')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-big.grid-img-hover
          img.w-100(src="assets/img/infoblock/grid-item-21.jpg", alt="grid-item")
      .row.no-gutters.w-100.grid-block.grid-block-2.grid-block-bigger
        .col-12.col-md-6.grid-img.grid-img-big.grid-img-hover
          img.w-100(src="assets/img/infoblock/grid-item-22.jpg", alt="grid-item")
        .col-12.col-md-6.grid-cnt.grid-cnt-big.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between.pr-3
          .grid-titles.order-1
            .grid-title
              | Пробный макияж
            p.thin-text.pb-5.pb-md-0.text-grid За несколько месяцев, недель или дней до мероприятия мастер-визажист выполняет для вас макияж, который вы с ним выбрали. Вы смотрите, нравится ли вам результат, чтобы повторить его в день мероприятия или подобрать другие варианты
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 минут
            | 350 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "makeuo-order-2", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Пробный макияж')
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
