.info-block.info-block-3-3.info-block-3-4.info-block-3-7.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters.border-block-item5.border-darkgray
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-33.jpg", srcset="./assets/img/infoblock/item-33@2x.jpg 2x",  alt="item")
        .col.col-info.order-1
          h2.section-title Классический макияж <br/> в Житомире
          p.under-border.pb-15 Как бы мы ни любили краситься сами, иногда стоит доверить макияж мастерам в салоне. Потому что макияж не должен «поплыть» под студийным светом на фотосессии. Зато должен выдержать все тосты на дне рождения, конкурсы на свадьбе и танцы на выпускном. В общем, все мероприятие вы должны быть уверены в своем мэйкапе. 
          p Максимум, который вам понадобится контролировать — подкрашивать губы между напитками. Но никак не дорисовывать стрелку или пытаться вернуть на место тени. Для этого приходите в салон Steffany на классический макияж. Мы делаем все основные виды классического мэйкапа и подбираем под ваши черты лица идеальный образ.
      span.big-text.d-none.d-md-block make 