.info-block.info-block-6.info-block-6-3.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-35.jpg",  alt="item")
        .col.col-info.order-1.no-bg-blk
          .row.no-gutters
            .col-12.col-md-6.col-xl-5.pr-2.order-2.order-md-1
              p.p-bold.mb-22 Мы делаем такие виды макияжа:
              ul.info-list.p-0.mb-38
                li.thin-text.mb-15 Макияж вечерний
                li.thin-text.mb-15 Макияж дневной
                li.thin-text.mb-15 Нюдовый макияж
                li.thin-text.mb-15 Смоки айз
                li.thin-text.mb-15 Макияж со стрелками
                li.thin-text.mb-15 Кошачий глаз
                li.thin-text.mb-15 Макияж с акцентом на складке века
              a.btn-callback(href="#",  data-toggle='modal', data-target='#appointmentModal')
                .text-section
                  +penSvg
                  span записаться
                .arrow-section
                  +arrowSvg
            .col-12.col-md-6.col-xl-7.order-1.order-md-1
              p.p-bold.mb-22 Вы сможете сделать макияж в зависимости от события:
              ul.info-list.p-0
                li.thin-text.mb-15 Макияж на корпоратив
                li.thin-text.mb-15 Макияж на свадьбу (если вы невеста или гостья)
                li.thin-text.mb-15 Макияж для фотосессии
                li.thin-text.mb-15 Макияж на выпускной
                li.thin-text.mb-15 Макияж на день рождения
                li.thin-text.mb-15 Макияж на новый год, 8 марта и любые другие праздники
                li.thin-text.mb-15 Макияж для настроения побыть особенно красивой
      span.big-text.mob-hidden-item mak
