.info-block.info-block-5.info-block-5-3.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-start.justify-content-center.justify-content-xl-end.no-gutters.border-block-item6
        .col.col-img.d-none.d-xl-block.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-36.jpg", srcset="./assets/img/infoblock/item-36@2x.jpg 2x",  alt="item")
        .col.col-info.order-1
          h2.section-title Мы используем профессиональные средства для услуги макияжа
          p.thin-text.fs-20 Чтобы вы были уверены в качестве косметики на своем лице
          p.thin-text.under-border Мы выбираем косметику тщательно и долго. Все потому, что у нас есть свои критерии при выборе, и мы от них не отступаем.
      span.big-text.d-none.d-xl-block proff