.info-block.info-block-8.info-block-8-3.info-block-8-7
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-start.no-gutters
      .col.col-img.order-2
        img.w-100(src="./assets/img/infoblock/item-43.jpg", srcset="./assets/img/infoblock/item-43@2x.jpg 2x", alt="item")
      .col.col-info.order-1
        .border-el
          h2.section-title.mb-20 Ваше здоровье — наш главный приоритет
          p.p-text.thin-text.mb-15.fs-20 Поэтому профессиональный макияж проходит по всем правилам безопасности и чистоты
        p.p-bold.mb-20 Очищаем инструменты после каждого клиента
        p.p-text.thin-text.mb-30 После каждого макияжа мы промываем все кисти и бьютиблендеры специальным раствором. Он очищает их от остатков косметики и дезинфицирует. Такой раствор достаточно быстро высыхает. Поэтому даже если незадолго перед вами мастер делал кому-то макияж, на вашем сеансе инструменты будут уже сухие и чистые
        p.p-bold.mb-20 Используем одноразовые материалы, когда это возможно
        p.p-text.thin-text.mb-30 Часть процессов мастер выполняет с помощью одноразовых материалов. Поэтому вы можете быть уверенными, что с ними никто не контактировал, кроме вас. Это ватные палочки, ватные диски, спонжи. Они хранятся в отдельных зонах и находятся в чистоте, чтобы на них не попадали частицы косметики и других средств