.benefits.serviceBenefits.doubleBnf.doubleBnfDark.three-benefits.white-bg.triple-bnfs
  .container.mx-auto
    .row.no-gutters
      .section-title.text-color-dark.text-center Можете быть уверенными в макияже в салоне Steffany
    .row.no-gutters.bnf-items.flex-column.flex-xl-row
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-5.png", srcset="./assets/img/bnf/item-5@2x.png 2x", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-20.png", srcset="./assets/img/bnf/item-20@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-color-dark 01
          .bnf-title.text-color-dark Мы работаем профессиональной косметикой
          p.paragraph-text-dark.text-color-dark.mb-2
            span Наши мастера работают косметикой и кистями, которые позволяют воспроизвести нужный вам макияж без «сюрпризов». Эти средства удобны в работе, красиво ложатся на кожу и способны радовать вас все мероприятие 
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-6.png", srcset="./assets/img/bnf/item-6@2x.png 2x", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", srcset="./assets/img/bnf/item-21@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-color-dark 02
          .bnf-title.text-color-dark Наши визажисты прошли специальное обучение
          p.paragraph-text-dark.text-color-dark.mb-2
            span Будьте уверены: ваш мастер учился не только на мейкап-туториалах в интернете. Он прошел специализированные курсы по макияжу и имеет соответствующий сертификат. Также наши мастера регулярно обучаются
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-7.png", srcset="./assets/img/bnf/item-7@2x.png 2x", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", srcset="./assets/img/bnf/item-21@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-color-dark 03
          .bnf-title.text-color-dark Вы за один раз можете сделать прическу, маникюр или брови
          p.paragraph-text-dark.text-color-dark.mb-2
            span Запишитесь в Steffany в день мероприятия, и выйдите от нас полностью готовыми к нему. Вместе с макияжем можете сделать прическу, маникюр, оформление бровей. Делайте любые процедуры, которые нужны