.info-block.info-block-7.info-block-7-9.info-block-7-9-mob.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-1.mx-auto.mx-xl-0.d-none.d-xl-block
          img.w-100(src="./assets/img/infoblock/item-40.jpg", srcset="./assets/img/infoblock/item-40@2x.jpg 2x",  alt="item")
        .col.col-info.order-2.no-bg-blk
          .info-list
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 01
              .info-list-cnt
                p.p-bold.pb-3.text-color-dark Снятие макияжа
                p.thin-text.text-color-dark Если вы пришли с косметикой на лице, мастер обязательно снимает ее мицеллярной водой. 
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 02
              .info-list-cnt
                p.p-bold.text-color-dark.pb-3 Очищение тоником
                p.thin-text.text-color-dark Мастер очищает вашу кожу тоником для комбинированной кожи после мицеллярной воды или просто так, если вы сразу пришли без макияжа. Тоник восстанавливает кислотно-щелочной баланс кожи и готовит ее к следующим этапам.
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 03
              .info-list-cnt
                p.p-bold.text-color-dark.pb-3 База под макияж
                p.thin-text.text-color-dark Праймер или база под макияж нужна в любом случае для любого типа кожи. Мастер тонким слоем наносит базу перед тональным средством и другой косметикой. Она выравнивает поверхность кожи, маскирует расширенные поры, убирает шелушения, увлажняет кожу. Благодаря основе под макияж все последующие средства будут держаться на коже дольше обычного и не скатываться.
        span.big-text.d-none.d-xl-block hair