.info-block.info-block-6.info-block-6-4.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.mob-hidden-item
          img.w-100(src="./assets/img/infoblock/item-38.jpg",  alt="item")
        .col.col-info.order-1.no-bg-blk
          h2.section-title.underline-title Бренды косметики, которыми мы сделаем вам виды макияжа
          p.mb-15 Наши визажисты делают макияж регулярно. Они попробовали много средств, но остановились на этих:
          ul.info-list.mb-20.pt-0
            li.thin-text.mb-15 Тональные основы от Atelier Paris,Collagen
            li.thin-text.mb-15 База под макияж от Atelier Paris
            li.thin-text.mb-15 Средства для контурирования от Cinecitta, Anastasia Beverly Hills
            li.thin-text.mb-15 Тени и пигменты для век от Atelier Paris. Anastasia Beverly Hills, proVG, SINART
            li.thin-text.mb-15 Карандаши для бровей, век, губ от Cinecitta, Cascade, proVG
          p.mb-15  Вместе с косметикой для макияжа важно то, чем ее наносят. В нашем случае это профессиональные помощники:
          p Кисти от Anastasia Beverly Hills, Make Up For Ever, ZOEVA
      span.big-text.mob-hidden-item brands
