.info-block.info-block-8.info-block-8-3.info-block-8-5.gray-word-bg2
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-start.no-gutters
      .col.col-img.order-2.d-none.d-xl-block
        img.w-100(src="./assets/img/infoblock/item-39.jpg", alt="item")
      .col.col-info.order-1
        .border-el
          h2.section-title.mb-20 Обязательные этапы профессионального макияжа
          p.p-text.thin-text.mb-15.fs-20 Наши визажисты выполнят вам все обязательные этапы для правильного макияжа
        p.p-text.thin-text.mb-30 У каждого визажиста свой процесс макияжа. Кто-то любит начинать макияж с глаз, кто-то — с бровей. Если профессионал выбрал такую последовательность, у вас будет красивый финиш. Тем не менее, есть обязательные этапы макияжа, которые выполняет все мастера нашего салона.
        a.btn-simple.br-100.d-flex.align-items-center.justify-content-center.white-text Цена
