.info-block.info-block-7.info-block-7-1.info-block-7-8.light-purple-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk.pl-sm
          ul.info-list
            li.mb-15.white-text 
              p.p-bold.pb-20.white-text Косметика должны быть профессиональной
              p.p-text.thin-text.white-text Профессиональной качественной косметикой намного легче делать макияж, когда есть опыт и техника. С такой косметикой наши мастера уверены в том, как она себя поведет на разных типах кожи. Ваш мастер сразу сможет понять, какие средства воспроизведут нужный вам макияж
            li.mb-15.white-text 
              p.p-bold.pb-20.white-text Средства должны адаптироваться под вашу кожу
              p.p-text.thin-text.white-text К нам приходят девушки с разными типами кожи: сухой, жирной, нормальной, комбинированной, возрастной, чувствительной. Нам важно, чтобы макияж ложился качественно и перекрывал возможные несовершенства
            li.white-text
              p.p-bold.pb-20.white-text Компоненты разных средств должны «подружиться» на вашем лице 
              p.p-text.thin-text.white-text Любой, особенно вечерний макияж и макияж для фотосессии — это наслоение разных средств. База, тональная основа, контур, хайлайтер, консилер — все эти средства приспосабливаются друг к другу благодаря их составу и профессиональному предназначению
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.d-none.d-xl-block
          img.w-100(src="./assets/img/infoblock/item-37.jpg", srcset="./assets/img/infoblock/item-37@2x.jpg 2x",  alt="item")