section.section.accordion-answer
	padding-top: 72px
	padding-bottom: 84px

	.card-header
		display: flex
		justify-content: space-between
		cursor: pointer
		margin-bottom: 1rem
		position: relative
		border-radius: 100px !important
		background-color: rgba(85, 98, 120, .3)
		padding: 0

		p
			padding: .35rem 1.25rem
			margin-bottom: 0

		.card-header
			//height: 70px
			display: none

	.card-header.active
		.card-arrow
			background-color: $secondary-header-color
			box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18)

			&:before
				transform: rotate(180deg)

	.card-arrow
		width: 64px
		height: 64px
		border-radius: 50%
		background-color: $secondary-header-color
		display: flex
		align-items: center
		justify-content: center

		&:before
			content: ' '
			display: block
			background-image: url("../assets/icon/accordion-arrow.png")
			background-repeat: no-repeat
			width: 13px
			height: 9px
			transition: transform .3s

	.btn:focus
		outline: none !important
		box-shadow: none !important

@include media-breakpoint-down(lg)
	section.section.accordion-answer
		padding-top: 72px
		padding-bottom: 77px

		.card-header p
			max-width: 480px
			margin: 0 auto

		.card-arrpw
			width: 64px
			height: 64px

			&:before
				width: 13px
				height: 9px

@include media-breakpoint-down(xs)
	section.section.accordion-answer
		padding-top: 70px
		padding-bottom: 48px

		.card-header p
			max-width: 250px
			margin: 0 auto

		.card-arrpw
			width: 76px
			height: 7664

			&:before
				width: 13px
				height: 9px
