.breadcrumbs
	.separator
		margin:
			left: .5em
			right: .5em
	a
		text-decoration: none
		color: $secondary-header-color
		@include font(Circe, 200, 14, 20)
		&:hover
			color: $secondary-header-color
			text-decoration: none
