.btn-callback
	display: flex
	justify-content: center
	width: 14em
	max-width: 14em
	text-decoration: none
	border-radius: 100px
	border: none
	background: $btn-primary-bg
	color: #fff
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18)
	text-transform: uppercase

	&.no-svg
		width: 11em

		.text-section
			width: 75%

		.arrow-section
			width: 25%

	.text-section
		border:
			top:
				left-radius: inherit
				right-radius: 0
			bottom:
				left-radius: inherit
				right-radius: 0
		display: flex
		justify-content: center
		align-items: center
		padding: .6em
		width: 80%

		svg
			margin-right: .7em

		span
			margin-top: .1em

		span
			@include font(Circe, 400, 11, 20)

	.arrow-section
		width: 20%
		padding: .6em
		border:
			top:
				left-radius: 0
				right-radius: inherit
			bottom:
				left-radius: 0
				right-radius: inherit
		background: $btn-primary-arrow-bg
		display: flex
		justify-content: center
		align-items: center
