.callback-card
	background: $dark-gray
	padding: 4em
	@include media-breakpoint-down(lg)
		padding: 1.5em
	@include media-breakpoint-down(md)
		padding: 2em 3em

	h3,
	p
		color: #fff
		text-transform: uppercase
		text-align: center
		margin-bottom: 2rem

	h3
		@include font(Circe, 600, 24, 26)

	form
		display: flex
		flex-direction: column
		align-items: center

		input:not([type="submit"])
			border: none
			@include font(Lato, 200, 18, 20)
			outline: none
			border-radius: .2em
			padding: .7em
			width: 100%
			margin-bottom: 1rem
			background: #57606c
			color: #fff

			&::placeholder
				color: #fff
				@include font(Circe, 200, 18, 20)
