#overlay
	position: fixed
	width: 100%
	height: 100%
	background: url("../assets/img/background/overlay-bg.png") no-repeat center/cover
	z-index: 10
	display: flex
	justify-content: center
	align-items: center
	top: 0

	.wrapper
		width: 30em

		.dropdown.bootstrap-select
			width: 100%

			.filter-option-inner-inner
				color: #3a405b

	#closeOverlay
		position: absolute
		top: 3em
		right: 3em
		width: 3em
		height: 3em
		cursor: pointer
