section.section.podology-about
  .container
    +breadcrumbs('Головна', 'Послуги', './pod', 'Подологія', './pod')
  .container.ab-out
    h1 Подологія
    .row
      .col-12.col-md-4.col-lg-6.d-flex.align-items-center
        img(src="assets/img/nogi.png" alt="NOZHKI").d-none.d-lg-block
        img(src="assets/img/small-nogi.png" alt="NOZHKI").d-none.d-md-block.d-lg-none
      .col-12.col-md-8.col-lg-6.d-flex.align-items-center
        p Безліч людей страждає на захворювання стоп і нігтьових пластин на ногах. Вони звертаються до різних фахівців, наприклад, нейл-майстрів, дерматологів або хірургів, але ті не можуть якісно вирішити їх проблеми. Все тому, що медичними проблемами стоп займаються окремі спеціалісти — подологи. Подолог розглядає стопу крізь призму здоров'я, тоді як майстер нігтьового сервісу — тільки крізь призму естетики. Подологія працює із різноманітними проблемами стоп: врослими нігтями, грибковими інфекціями, тріщинами на п'ятах, натоптишами, мозолями і бородавками.
