section.section.podology-consultation
  .container.d-flex.flex-wrap
    .col-12.col-lg-12.d-flex.flex-column.justify-content-center.align-items-center
      h2.white-text.text-center Запишіться на консультацію<br><strong>прямо зараз!</strong>
      .dash.align-self-center
      p.white-text.text-center Ми передзвонимо вам і запишемо на консультацію, де спецыалыст проведе огляд, дасть необхідні рекомендації та відповість на запитання.
      span.d-none.d-lg-block
        +btnCallback('Передзвонити мені')(id="callme-pod", data-toggle='modal', data-target='#callbackModal')
    .col-12.col-lg-5.d-block.d-lg-none
      +writeClientForm
