.ort-treatment
	.section-bg-dark
		padding-bottom: 30px !important
	.container
		max-width: 1210px !important
	.ort-title
		position: relative
		margin-top: 24px !important
		font-size: 14px !important
		text-transform: uppercase
		&::before
			content: ''
			position: absolute
			z-index: 1
			left: -66px
			top: -87px
			display: block
			width: 194px
			height: 194px
			background: #4F79CA
			border-radius: 50%
	.ort-cnt
		position: relative
		z-index: 2
		margin-bottom: 12px
		& li
			margin-bottom: 12px
	.ort-block
		background-image: url('../assets/img/orthopedics/dash.png')
		background-repeat: no-repeat
		background-position: top left
		max-width: 506px !important
@media(max-width: 991px)
	.ort-treatment .ort-block
		max-width: 415px !important
		margin: 0 auto
	.ort-treatment .ort-block-1
		margin-top: 55px !important
		margin-bottom: 55px !important
@media(max-width: 767px)
	.ort-treatment .container
		padding: 0 15px 0 15px !important