.symptoms-blk 
	background-color: #2D3745
	ul.list-blue-bullets li::before
		width: 1.5rem
@media (min-width: 1200px)
	.symptoms-blk 
		background-color: #2D3745
		background-image: url(../assets/img/services-warts/feets-and-hands.png)
		background-repeat: no-repeat
		background-position: right
		background-size: 710px 682px
@media (max-width: 767px)
	.symptoms-blk .container
		padding-left: 15px !important
		padding-right: 15px !important