.info-block-grid.grid-bg-1.doubleGrid
  .container.p-0
    .row.no-gutters.mb-5
      h2.section-title.text-center.mb-0 Ціни на педикюр
    .row.no-gutters.grid-shodow.double-grid-container.w-100.mx-auto
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Класичний
            p.thin-text.pb-5.pb-md-0.text-grid Обрізний педикюр за допомогою стерилізованих інструментів
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 40 хвилин
            | 250 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Педикюр Класичний')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/pediure/0.jpg")
      .row.no-gutters.w-100.grid-block(data-anchor='ped-acid')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/pediure/1.jpg")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Кислотний
            p.thin-text.pb-5.pb-md-0.text-grid Педикюр стоп за допомогою розм'якшуючих фруктових кислот
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 250 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Педикюр Кислотний')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Комбінований
            p.thin-text.pb-5.pb-md-0.text-grid Педикюр двома техніками одночасно: класичним способом та за допомогою апарату
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 250 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Педикюр Комбінований')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/pediure/2.jpg")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/pediure/3.jpg")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Частковий
            p.thin-text.pb-5.pb-md-0.text-grid Ви обираєте, яку частину ніжок обробляє майстер: тільки пальці або тільки стопи
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 200 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Педикюр Частковий')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block(data-anchor='ped-spa')
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Спа
            p.thin-text.pb-5.pb-md-0.text-grid Класичний обрізний педикюр за допомогою стерилізованих інструментів, до якого додаються масаж стоп пілінгом та обробка пом'якшувальною маскою для стоп
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 370 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Педикюр Спа')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/pediure/4.jpg")
      .row.no-gutters.w-100.grid-block(data-not-available-rovno)
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/pediure/5.jpg")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Покриття нігтів гель-лаком Reforma
            p.thin-text.pb-5.pb-md-0.text-grid Професійне стійке покриття з Великобританії
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 200 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Педикюр Покриття нігтів гель-лаком Reforma')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block(data-not-available-rovno)
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Покриття нігтів гель-лаком Luma
            p.thin-text.pb-5.pb-md-0.text-grid Професійне стійке покриття з Польщі
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 200 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Педикюр Покриття нігтів гель-лаком Lemme')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/pediure/6.jpg")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/pediure/7.jpg")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Покриття нігтів гель-лаком Luxio
            p.thin-text.pb-5.pb-md-0.text-grid Професійне стійке покриття з Канади
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            |  220 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Педикюр Покриття нігтів гель-лаком Luxio')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block(data-not-available-rovno)
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Комбіноване покриття нігтів гель-лаком
            p.thin-text.pb-5.pb-md-0.text-grid При покритті поєднуються засоби одразу декількох брендів замість одного, щоб досягти бажаного ефекту: зміцнення, певного фінішу і т.д.
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            |  200 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Педикюр Комбіноване покриття нігтів гель-лаком')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/pediure/8.jpg")
