section.section.accordion-answer.questions
  h2.section-title.text-center.white-text Поширені запитання
  p.h3-title-regular.text-center.mb-4 Возможно, наши клиенты уже задали интересующий ваш вопрос про процедуру педикюра
  #accordion.accordion.mt-3
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading01.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse01',   aria-controls='collapse01', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Як мені обрати вид педикюру?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse01.collapse.w-100.collapse-answer.questions-container.show(aria-labelledby='heading01', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Якщо ви не можете визначитися із видом педикюру, нічого страшного! Майстер огляне ваші стопи, поставить необхідні питання та порекомендує найбільш підходящий вид педикюру.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading02.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse02',   aria-controls='collapse02', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Яка техніка використовується у частковому педикюрі?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse02.collapse.w-100.collapse-answer.questions-container(aria-labelledby='heading02', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Під час часткової процедури ви можете зробити чистку лише нігтів або лише стоп. Для цього можете вибрати абсолютно будь-яку техніку, наприклад, класичну обрізну або апаратну. Якщо не можете визначитися, майстер вам допоможе.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading03.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse03',   aria-controls='collapse03', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Як часто ви рекомендуєте робити педикюр?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse03.collapse.w-100.collapse-answer.questions-container(aria-labelledby='heading03', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Звичайно, все індивідуально і залежить від швидкості росту ваших нігтів, вашого типу шкіри і її схильності до сухості. В середньому інтервал між процедурами складає 4 тижні.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading04.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse04',   aria-controls='collapse04', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Як я можу підтримувати ефект від педикюру між процедурами?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse04.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading04', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Щовечора перед сном змащуйте стопи живильним кремом. Якщо ж у вас підвищена сухість п'ят і вас не влаштовує ефект від нинішнього крему, ми допоможемо підібрати вам домашній догляд за ногами. Ви можете купити професійні пом'якшувальні засоби для догляду за стопами прямо в салоні після процедури.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading06.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse06',   aria-controls='collapse06', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Як ви знімаєте покриття перед обробкою нігтів?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse06.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading06', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Ми знімаємо покриття двома способами: апаратом або рідиною. Ви можете вибрати вид зняття самі. В іншому випадку майстер буде відштовхуватися від виду початкового покриття, яке потрібно зняти.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading07.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse07',   aria-controls='collapse07', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Яку лампу для застигання гель-лаку ви використовуєте?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse07.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading07', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Ми використовуємо для застигання (полімеризації) диодную лампу SUN 2. Ці лампи просушують гель-лак і матеріали для нарощування нігтів. Досить 30 секунд, аби матеріал повністю закріпився.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading08.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse08',   aria-controls='collapse08', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Які види дизайну нігтів ви робите?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse08.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading08', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Усі види: художній розпис, стемпінг, наклейки, втирки, присипки, стрази, блискітки, липкі стрічки, фольгу, слюду, аерографію. Попереджайте про дизайн під час запису, щоб ми виділили для нього час на вашій процедурі.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading09.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse09',   aria-controls='collapse09', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Я можу покрити нігті після педикюру звичайним лаком?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse09.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading09', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Звісно! Звичайні лаки користуються значно меншим попитом у порівнянні з гель-лаками, та вони все одно у нас є. Можете обрати колір зі 40 відтінків.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading10.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse10',   aria-controls='collapse10', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Я читала, що кислотний педикюр лікує тріщини на п'ятах. Це правда?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse10.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading10', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Ні, це міф. Навпаки, тріщини та інші пошкодження шкіри — це протипоказання до кислотного педикюру. Майстер не буде його робити, аби не нашкодити.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading11.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse11',   aria-controls='collapse11', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Ви робите медичний педикюр?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse11.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading11', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Ні, ми займаємося тільки естетичним педикюром. Якщо у вас є конкретна проблема зі стопами і ви хочете її вилікувати, зверніться до Центру здоров'я ніг <a href='/podologiya'>Steffany Podology</a>. Це окремий центр нашої мережі, який розглядає ніжки з позиції здоров'я. Там ви зможете зробити медичний педикюр <span class='city-in-dynamic'></span> з лікувальним ефектом.
