.info-block.info-block-8.info-block-8-1
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-end.no-gutters
      .col.col-img.order-2.d-none.d-xl-block
        img.w-100(src="./assets/img/infoblock/item-20.jpg", alt="item")
      .col.col-info.order-1
        p.p-bold.mb-15 Кому підійде кислотний педикюр
        p.p-text.thin-text.mb-15 Цей вид педикюру ідеально підійде в тому випадку, якщо на стопах є новоутворення, які складно розм'якшити звичайною водою:
        ul.info-list.mb-25
          li.p-text.thin-text.mb-15 натоптиші;
          li.p-text.thin-text.mb-15 мозолі;
          li.p-text.thin-text просто сильно згрубіла шкіра.
        p.p-bold.mb-15 Протипоказання до кислотного педикюру
        p.p-text.thin-text.mb-15 Кислоти абсолютно нешкідливі, якщо шкіра здорова і неушкоджена. Але якщо цілісність шкіри хоч трохи порушена, краще обрати інший вид педикюру. Ось що входить до ситуацій, коли не варто обробляти шкіру стоп кислотами:
        ul.info-list.mb-35
          li.p-text.thin-text.mb-15 тріщини на п'ятах;
          li.p-text.thin-text.mb-15 ранки;
          li.p-text.thin-text чутлива шкіра.
        p.p-bold Кислотний педикюр із покриттям триває 2 години 30 хвилин
