.info-block.info-block-8.info-block-8-2
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-end.no-gutters
      .col.col-img.order-2.d-none.d-xl-block
        img.w-100(src="./assets/img/infoblock/item-21.png", alt="item")
      .col.col-info.order-1
        h2.section-title.underline-title Покриття нігтів гель-лаком із гарантією
        p.p-text.thin-text.mb-15 Після самого педикюру ви можете покрити нігті гель-лаком. Покриття може бути однотонним або з дизайном. На цьому етапі можете задіяти всю свою фантазію і замовити у майстра покриття мрії, тому що вибір відтінків і техніки дизайну дозволяють зробити з вашими нігтями практично все.
        p.p-bold.mb-23 Бренди гель-лаків
        p.p-text.thin-text.mb-15 Коли ми уявляли ідеальний гель-лак, то бачили його безпечним — без алергічних реакцій і стійким. Довелося пошукати, та врешті решт ми обрали гель-лаки трьох професійних брендів:
        .row.no-gutters.justify-content-between
          .col-12.col-md-6.pr-sm-3.mb-25
            ul.info-list.mb-25
              li.p-text.thin-text.mb-15 Reforma;
              li.p-text.thin-text.mb-15 Lemme;
              li.p-text.thin-text Luxio
            a.btn-callback(href="#",  data-toggle='modal', data-target='#appointmentModal')
              .text-section
                +penSvg
                span записатися
              .arrow-section
                +arrowSvg
          .col-12.col-md-6.d-block.d-xl-none
            img.w-100(src="./assets/img/infoblock/item-21.png", alt="item")
