.info-block.info-block-7.info-block-7-3.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-1.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-18.jpg",  alt="item")
        .col.col-info.order-2.no-bg-blk
          .info-list
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-green-text 02
              .info-list-cnt
                p.p-bold.pb-3.white-text Розм'якшення водою
                p.thin-text.white-text Ви по черзі опускаєте ноги у ванночку із арома-сіллю. Вона швидше розм'якшує вашу шкіру і має додатковий спа-ефект. Майстер обробляє ваші стопи лопаткою, на яку наклеює одноразові абразиви. Він очищає стопи від ороговілої шкіри.
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-green-text 03
              .info-list-cnt
                p.p-bold.white-text.pb-3 Обробка нігтьової пластини
                p.thin-text.white-text Майстер дістає з крафт-пакету ваші стерильні інструменти. Потім знімає з нігтів покриття, якщо воно є, надає форму нігтям і обрізає кутикулу.
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-green-text 04
              .info-list-cnt
                p.p-bold.white-text.pb-3 Покриття
                p.thin-text.white-text Коли ніжки готові, майстер покриває ваші нігті лаком або гель-лаком.
        span.big-text.d-none.d-xl-block colorin
