.info-block.info-block-3.info-block-3-1.info-block-3-3.light-purple-bg(style="overflow: visible!important;")
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-center.mx-auto
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters.border-block-item
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-19.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title Кислотний педикюр <span class='city-in-dynamic'></span> <br/>
          p.under-border Кислотний педикюр — той самий класичний педикюр, але із додаванням спеціального засобу з кислотами. Майстер вибірково наносить засіб на шкіру стоп, кислоти швидко розм'якшують огрубілу шкіру, і майстру значно легше прибрати ороговілий шар за допомогою пилок. Однак при всій своїй ефективності процедура кислотного педикюру підійде не всім. Тому перед тим, як записатися на педикюр із кислотами, прочитайте цю інформацію.
          a.btn-simple.br-100.d-flex.align-items-center.justify-content-center.white-text(data-anchor-link='ped-acid') Ціна
      span.big-text pedi
      span.big-text.big-text-2 cure
