.info-block.info-block-7.info-block-7-2.info-block-7-4.info-block-7-6.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk
          p.p-bold.pb-3text-lightdark.mb-35 Етапи спа-педикюру
          .info-list
            .info-list-item.d-flex.align-items-start.justify-content-start.mb-20
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 01
              .info-list-cnt
                p.p-bold.pb-3text-lightdark Підготовка до педикюру
                p.thin-texttext-lightdark Майстер встановлює на дно ванночки одноразовий пакет і наповнює його гарячою водою з арома-сіллю. Ви опускаєте стопи у ванночку, щоб зробити шкіру м'якше. Завдяки ефірним маслам у складі солі шкіра розм'якшується швидше.
            .info-list-item.d-flex.align-items-start.justify-content-start.mb-20
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 02
              .info-list-cnt
                p.p-boldtext-lightdark.pb-3 Обробка нігтів
                p.thin-texttext-lightdark Коли стопи досить побули у воді, майстер обробляє ваші нігті у техніці класичного педикюру — стерильними інструментами.
            .info-list-item.d-flex.align-items-start.justify-content-start.mb-20
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 03
              .info-list-cnt
                p.p-boldtext-lightdark.pb-3 Пілінг шкіри
                p.thin-texttext-lightdark Щоб якомога ефективніше видалити зі шкіри ороговілий шар відмерлих клітин, майстер використовує скраб. Він наносить його на вашу шкіру і розтирає масажними рухами. Скрабується уся область стоп: пальці, п'яти, зона кісточки.
            .info-list-item.d-flex.align-items-start.justify-content-start.mb-20
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 04
              .info-list-cnt
                p.p-boldtext-lightdark.pb-3 Додаткове пом'якшення
                p.thin-texttext-lightdark Після масажу майстер змиває скраб і наносить на підготовлену шкіру спеціальну маску або пінку. Обирайте засіб на свій розсуд. Це ще більше пом'якшить шкіру після пілінгу і подовжить ефект педикюру.
          p.p-bold.text-lightdark Спа-педикюр триває 2 години 30 хвилин
        .col.col-img.behind-bg.behind-white-bg.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-16.jpg",  alt="item")
        span.big-text.d-none.d-xl-block nails
