.info-block.info-block-7.info-block-7-2.info-block-7-4.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk
          h2.section-title.text-lightdark.border-el Комбінований <br/> педикюр <span class='city-in-dynamic'></span>
          p.thin-text.text-lightdark.mb-28 У цій процедурі поєднуються класичний і апаратний педикюр. Комбінований педикюр підійде вам, якщо на ваших стопах не сильно багато ороговілостей і їх можна зняти без розмочування у воді. Перед процедурою майстер огляне ваші стопи і визначить, чи підходить їм комбінований вид педикюру.
          p.p-bold.text-lightdark.list-p-text Як працює комбінований педикюр
          p.thin-text.text-lightdark.mb-33 При цьому виді педикюру майстер обробляє пальці інструментами і насадками апарату, а шкіру стоп — абразивом. Майстер працює абразивом по сухій шкірі і легко видаляє частинки омертвілої шкіри. Під кожен етап педикюру використовуються певні насадки.
          p.p-bold.text-lightdark.list-p-text Який апарат використовується
          p.thin-text.text-lightdark.mb-11 При комбінованому апаратному педикюрі майстер обробляє пальці за допомогою апарату південно-корейського бренду Marathon.
          p.p-bold.text-lightdark.list-p-text Комбінований педикюр із покриттям триває 2-2,5 години
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.d-none.d-xl-block
          img.w-100(src="./assets/img/infoblock/item-14.jpg",  alt="item")
        span.big-text.d-none.d-xl-block pedicure
