.info-block.info-block-7.info-block-7-3.info-block-7-5.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-1.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-15.jpg",  alt="item")
        .col.col-info.order-2.no-bg-blk
          h2.section-title.white-text.mb-25  Спа педикюр <span class='city-in-dynamic'></span>
          p.thin-text.white-text.mb-15 Ця процедура — доказ того, що за допомогою педикюру можна розслабитися і відновити сили. За одну процедуру ви отримуєте доглянуті стопи, а разом із цим релакс і додатковий догляд. Особливих показань до цього виду педикюру немає. Обирайте його, якщо ви в настрої подарувати собі щось особливе.
          p.p-bold.white-text.pb-3 У чому полягає спа-педикюр
          p.thin-text.white-text На цій процедурі майстер обробляє ваші нігті звичайним обрізним способом, масажує шкіру стоп скрабом і в кінці наносить пом'якшувальний засіб. У комплексі виходить справжня спа-процедура, за яку ви встигаєте відпочити і зняти важкість з ніг.
          a.btn-simple.br-100.d-flex.align-items-center.justify-content-center.white-text(id = "ped-price-2", data-anchor-link='ped-spa') Ціна
