.info-block.info-block-7.info-block-7-2.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk
          .border-el
            h2.section-title.text-lightdark Класичний обрізний<br>  педикюр
            p.thin-text.text-lightdark Класичний педикюр — це обрізна техніка видалення кутикули, яка виконується стерильними інструментами і одноразовими абразивами (пилочками). Шкіра стоп розмочується у ванні з водою. Цей вид педикюру не дарма має таку назву. Він підходить практично всім людям і дає якісний результат.
          p.p-bold.text-lightdark.list-p-text Етапи класичного педикюру
          .info-list
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 01
              .info-list-cnt
                p.p-bold.pb-3.text-lightdark Підготовка робочого місця
                p.thin-text.text-lightdark Ви приходите, зручніше влаштовуєтеся в кріслі і ставите ногу на чистий рушник, який заздалегідь підготував майстер. Тим часом майстер надягає одноразовий пакет на ванночку і наповнює її гарячою водою. Простерилізовані інструменти лежать в запечатаному крафт-пакеті, який розкривають при вас.
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-17.jpg",  alt="item")
        span.big-text.d-none.d-xl-block nails
