.benefits.serviceBenefits.serviceBenefits2
  .container
    .row.no-gutters.mb-4
      h2.section-title.h-center Професійний педикюр в салоні — завжди вірне рішення
    .row.no-gutters.justify-content-center
      .bnf.bnf-three.col-xl-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.bnf-number-one.d-flex.align-items-center.justigy-content-center.text-center.white-text 01
          .bnf-title.bnf-title-smaller.text-center.text-color-dark Різні види педикюру для будь-якої шкіри
          p.thin-text.text-center.text-color-dark Під час запису вам потрібно обрати вид педикюру. Однак не всім дівчатам підходить кислотний або апаратний педикюр. Якщо майстер побачить, що вашій шкірі не підходить обраний спосіб, він обов'язково порекомендує інші види педикюру. Так ви отримаєте бажаний результат
      .bnf.bnf-three.col-xl-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.bnf-number-two.d-flex.align-items-center.justigy-content-center.text-center.white-text 02
          .bnf-title.bnf-title-smaller.text-center.text-color-dark Відтінки лаку на будь-який настрій
          p.thin-text.text-center.text-color-dark У наших салонах нігті можна покрити гель-лаком або звичайним лаком. Відтінків море: гель-лаків більше 200 відтінків, а звичайних лаків — близько 40. Ми регулярно поповнюємо свою колекцію гель-лаків мінімум 10-ю сезонними відтінками. Обирайте колір під будь-який настрій і привід
      .bnf.bnf-three.col-xl-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.bnf-number-three.d-flex.align-items-center.justigy-content-center.text-center.white-text 03
          .bnf-title.bnf-title-smaller.text-center.text-color-dark Манікюр та педикюр одночасно
          p.thin-text.text-center.text-color-dark Аби заощадити час на інші справи, ви можете записатися на манікюр і педикюр у 4 руки. Два майстри оброблять ваші ручки та ніжки за пару годин, і ви за один раз виконаєте одразу дві процедури. Записуйтеся заздалегідь на паралельний манікюр і педикюр, і економте свій час з нами
