.benefits.serviceBenefits2
  .container
    .row.no-gutters
      h2.section-title.h-center.white-text Ваше здоров'я для нас понад усе
    .row.no-gutters.mb-4
      .section-subtitle.h-center.white-text На процедурі ви отримуєте якісні послуги нігтьового сервісу
    .row.no-gutters
      .bnf.bnf-three.col-xl-4.col-12.mb-30.mx-auto.mx-lg-0
        .bnf-cnt
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-color-for-list.mb-30.pl-1 01
          .bnf-title.white-text Своя лабораторія стерилізації
          p.thin-text.white-text У нашому салоні обладнана окрема лабораторія стерилізації, де інструменти для педикюру проходять усі етапи очищення. Ми замочуємо в дезинфікуючому розчині всі ріжучі інструменти для класичного педикюру та всі насадки для апаратного педикюру. Потім ми чистимо їх щіткою під проточною водою і ополіскуємо дистильованою
      .bnf.bnf-three.col-xl-4.col-12.mb-30.mx-auto.mx-lg-0
        .bnf-cnt
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-color-for-list.mb-30.pl-1 02
          .bnf-title.white-text Індивідуальний набір інструментів
          p.thin-text.white-text Після етапу дезінфекції ми розкладаємо кожен набір інструментів по окремих крафт-пакетах. У них інструменти стерилізуються у сухожаровій шафі 1 годину при температурі 180 градусів. У кожен крафт-пакет вбудований індикатор у вигляді кружечка. Коли інструменти всередині проходять повний цикл стерилізації, кружечок змінює свій колір

      .bnf.bnf-three.col-xl-4.col-12.mb-30.mx-auto.mx-lg-0
        .bnf-cnt
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-color-for-list.mb-30.pl-1 03
          .bnf-title.white-text Пакет одноразових матеріалів
          p.thin-text.white-text Під час вашої процедури майстер відкриває ваш індивідуальний пакет, де знаходяться змінні абразиви, апельсинова паличка, а також рукавички і маска для майстра. Майстер бере металеву простерилізовану основу, надягає на неї змінні файли з абразивами і обробляє ними ваші стопи. Після сеансу з вами всі ці матеріали утилізуються
