.info-block.info-block-7.info-block-7-1.info-block-7-7.light-purple-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk
          p.p-bold.pb-20.white-text Вибір відтінків
          p.thin-text.white-text Загалом у нашій колекції більше 200 відтінків гель-лаків. Періодично бренди оновлюють свої лінійки сезонними відтінками, і автоматично ці відтінки з'являються у нас.
          p.thin-text.white-text Так кожен місяць у Steffany з'являється до 10 нових кольорів гель-лаку. Це означає, що до вашого наступного візиту ми знайдемо, чим вас здивувати.
          p.p-bold.pb-19.white-text 7-денна гарантія на покриття
          p.thin-text.white-text Ми впевнені в якості та стійкості нашого покриття. Та щоб перестрахувати вас, даруємо на будь-яке покриття гель-лаком гарантію на 7 днів.
          p.p-bold.pb-19.white-text Як працює гарантія
          p.thin-text.white-text Якщо протягом тижня після педикюру щось трапляється з покриттям, ми безкоштовно знімемо його і переробимо.
          p.thin-text.white-text Гарантуємо безкоштовно виправити вам покриття, коли це недоробка з нашого боку. Якщо ваше покриття якось зіпсувався з нашої вини, ми чесно зізнаємося і обов'язково виправимо ситуацію.
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.behind-white-bg.d-none.d-xl-block
          img.w-100(src="./assets/img/infoblock/item-22.jpg",  alt="item")
