.descr-row--padding
  padding: 65px 0 40px 90px
  @include mobile-all
    padding: 65px 45px 40px 45px

.feets-and-hands-bg-img-desktop
  @include desktop
    background-image: url("../assets/img/services-warts/feets-and-hands.png")
    // background-image: url("../assets/img/services-warts/feets-and-hands.svg")
    background-repeat: no-repeat
    background-position: right
    background-size: 656px 582px

.feets-and-hands-bg-img-mobile
  @include mobile-all
    background-image: url("../assets/img/services-warts/feets-and-hands.png")
    background-repeat: no-repeat
    background-position: top right
    background-size: 656px 582px


.symptoms-message-line
  background-color: $forward-buutton

.line-height-100
  line-height: 100%
