.container
  h2.white-text.text-center.mb-3 Часто задаваемые вопросы
  p.h4-title.text-center.d-none.d-md-block.mb-5 Возможно, наши клиенты уже задали интересующий вас вопрос
  #accordion.accordion.mt-3

    #heading01.card-header(data-toggle='collapse', data-target='#collapse01', aria-controls='collapse01', aria-expanded='true')
      p.paragraph-text.text-w-bold
        |  Это больно?
      .card-arrow
    #collapse01.collapse(aria-labelledby='heading01', data-parent='#accordion')
      .card-body
        h3.white-text У меня сахарный диабет. Я могу пойти к подологу?
        hr
        p.paragraph-text.text-w-light
          | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
    #heading02.card-header.active(data-toggle='collapse', data-target='#collapse02', aria-controls='collapse02', aria-expanded='false')
      p.paragraph-text.text-w-bold
        | У меня сахарный диабет. Я могу пойти к подологу?
      .card-arrow
    #collapse02.collapse.show(aria-labelledby='heading02', data-parent='#accordion')
      .card-body
        h3.white-text У меня сахарный диабет. Я могу пойти к подологу?
        hr
        p.paragraph-text.text-w-light
          | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
    #heading03.card-header(data-toggle='collapse', data-target='#collapse03', aria-controls='collapse03', aria-expanded='false')
      p.paragraph-text.text-w-bold
        | Вы принимаете детей и подростков?
      .card-arrow
    #collapse03.collapse(aria-labelledby='heading03', data-parent='#accordion')
      .card-body
        h3.white-text У меня сахарный диабет. Я могу пойти к подологу?
        hr
        p.paragraph-text.text-w-light
          | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
    #heading04.card-header(data-toggle='collapse', data-target='#collapse04', aria-controls='collapse04', aria-expanded='false')
      p.paragraph-text.text-w-bold
        | Насколько у вас стерильно?
      .card-arrow
    #collapse04.collapse(aria-labelledby='heading04', data-parent='#accordion')
      .card-body
        h3.white-text У меня сахарный диабет. Я могу пойти к подологу?
        hr
        p.paragraph-text.text-w-light
          | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
    #heading05.card-header(data-toggle='collapse', data-target='#collapse05', aria-controls='collapse05', aria-expanded='false')
      p.paragraph-text.text-w-bold
        | К вам можно прийти просто на консультацию?
      .card-arrow
    #collapse05.collapse(aria-labelledby='heading05', data-parent='#accordion')
      .card-body
        h3.white-text У меня сахарный диабет. Я могу пойти к подологу?
        hr
        p.paragraph-text.text-w-light
          | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
    #heading06.card-header(data-toggle='collapse', data-target='#collapse06', aria-controls='collapse06', aria-expanded='false')
      p.paragraph-text.text-w-bold
        | Сколько стоит консультация подолога? Какие в целом цены на услуги подолога?
      .card-arrow
    #collapse06.collapse(aria-labelledby='heading06', data-parent='#accordion')
      .card-body
        h3.white-text У меня сахарный диабет. Я могу пойти к подологу?
        hr
        p.paragraph-text.text-w-light
          | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
    #heading07.card-header(data-toggle='collapse', data-target='#collapse07', aria-controls='collapse07', aria-expanded='false')
      p.paragraph-text.text-w-bold
        | Какие косметические средства для лечения стоп вы используете?
      .card-arrow
    #collapse07.collapse(aria-labelledby='heading07', data-parent='#accordion')
      .card-body
        h3.white-text У меня сахарный диабет. Я могу пойти к подологу?
        hr
        p.paragraph-text.text-w-light
          | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
    #heading08.card-header(data-toggle='collapse', data-target='#collapse08', aria-controls='collapse08', aria-expanded='false')
      p.paragraph-text.text-w-bold
        | Я могу купить в вашем центре косметические средства для стоп для домашнего ухода?
      .card-arrow
    #collapse08.collapse(aria-labelledby='heading08', data-parent='#accordion')
      .card-body
        h3.white-text У меня сахарный диабет. Я могу пойти к подологу?
        hr
        p.paragraph-text.text-w-light
          | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
    #heading09.card-header(data-toggle='collapse', data-target='#collapse09', aria-controls='collapse09', aria-expanded='false')
      p.paragraph-text.text-w-bold
        | Вы лечите плоскостопие?
      .card-arrow
    #collapse09.collapse(aria-labelledby='heading09', data-parent='#accordion')
      .card-body
        h3.white-text У меня сахарный диабет. Я могу пойти к подологу?
        hr
        p.paragraph-text.text-w-light
          | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
