mixin contactForm(title)
  .container.contact-form
    .row.no-gutters
      .col-12.col-lg-6
        h2= title
        .cnt-info.mt-4
          .row.d-flex.flex-wrap.mb-0.mb-lg-3.no-gutters
            .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
              img(src="assets/icon/phone-black.svg" alt="Phone").d-block.mr-3
              a(href="tel:380980070753").text-color-dark 098-180-10-88
            .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
              img(src="assets/icon/common/map.svg" alt="Map").d-block.mr-3
              p.text-color-dark.mb-0.font-weight-normal Площадь Путятинская, 1/63
          .row.d-flex.flex-wrap.no-gutters
            .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
              img(src="assets/icon/common/mail.svg" alt="Mail").d-block.mr-3
              a(href="mailto:info@steffany.ua").text-color-dark info@steffany.ua
            .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
              img(src="assets/icon/common/time.svg" alt="Time").d-block.mr-3
              p.text-color-dark.mb-0.font-weight-normal 9:00 – 20:00
        hr.mt-5.mb-5
        form.feedback-form
          h2.text-color-dark
          form
            .col-12.col-lg-6.inp-wrapper
              input(type="text" placeholder="Имя" name="name" data-feedback-name required)
              input(type="tel" placeholder="Телефон" name="phone" data-feedback-phone required)
              input.mb-0(type="email" placeholder="Email" name="email" data-feedback-email pattern="^\\b[\\w\\.-]+@[\\w\\.-]+\\.\\w{2,4}\\b$")
              input(type="submit" data-contact-submit style="display: none;")
            .col-12.col-lg-6
              textarea(placeholder="Ваше сообщение..." name="message" data-feedback-message).mt-4.mt-lg-0
          .row.d-flex.justify-content-center.justify-content-lg-end.no-gutters.mt-5.mt-sm-5
            +customBtn('отправить')(data-btn-contact-submit)
      .col-12.col-lg-6.d-none.d-lg-block
        iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1835.583581656319!2d28.684723260705255!3d50.248782417190625!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c63618a264b5f%3A0x2c17058cddf4af74!2z0YPQu9C40YbQsCDQodCy0Y_RgtC-0YHQu9Cw0LLQsCDQoNC40YXRgtC10YDQsCwgNjMvMSwg0JbQuNGC0L7QvNC40YAsINCW0LjRgtC-0LzQuNGA0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDEwMDAx!5e0!3m2!1sru!2sua!4v1575553810586!5m2!1sru!2sua' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen='')
  .mini-map.d-block.d-lg-none
    iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1835.583581656319!2d28.684723260705255!3d50.248782417190625!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c63618a264b5f%3A0x2c17058cddf4af74!2z0YPQu9C40YbQsCDQodCy0Y_RgtC-0YHQu9Cw0LLQsCDQoNC40YXRgtC10YDQsCwgNjMvMSwg0JbQuNGC0L7QvNC40YAsINCW0LjRgtC-0LzQuNGA0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDEwMDAx!5e0!3m2!1sru!2sua!4v1575553810586!5m2!1sru!2sua' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen='')
