footer.footer.pt-3
    .container.container-m
        .row.footer-cnt.mx-auto.mx-xl-0
            .col-12.col-xl-3.d-none.d-xl-block
                .c-logo-f
                    img(src="assets/img/logo/footer-header-logo.png", alt="logo-f")
            .col-12.col-md-4.col-xl-3.mb-3.mb-xl-0
                ul.d-flex.d-md-block.flex-column.align-items-center.mb-0
                    li.mb-3.text-center.text-xl-left.d-flex.align-items-center
                        img.icon.icon-phone.mr-3(src="assets/icon/phone.png", alt="icon-phone-f")
                        a.paragraph-text-light.text-color-dark(href='tel:+0980070753') 098-007-07-53
                    li.mb-3.text-center.text-xl-left.d-flex.align-items-center
                        img.icon.mr-3.icon-loc(src="assets/icon/map.png", alt="icon-map-f")
                        span.paragraph-text-light.text-color-dark Ивано-Франковск
                    li.mb-3.text-center.text-xl-left.d-flex.align-items-center.footer-icon-blk
                        a.mr-3(href="")
                            img.icon.icon-facebook(src="assets/icon/facebook-Icon.png", alt="facebook-f")
                        a(href="")
                            img.icon.icon-inst.mr-0(src="assets/icon/inst.png", alt="inst-f")
            .col-12.col-md-3.col-xl-2.mb-3
                a.paragraph-text.text-color-dark.text-center.text-md-left.mb-3.d-block(href="") Вакансии
                a.paragraph-text.text-color-dark.text-center.text-md-left.mb-3.d-block(href="") Steffany Beauty
                a.paragraph-text.text-color-dark.text-center.text-md-left.d-block(href="") Steffany Podology
                hr.d-sm-none.my-4
            .col-12.col-md-5.d-none.d-md-flex.flex-column.align-items-center.align-items-md-start.d-xl-none
                a.p-text-light.text-dashed.d-inline-block.mb-3(href="") Пользовательское соглашение <br/>
                a.p-text-light.text-dashed.d-inline-block.mb-3.mb-md-0(href="") Политика конфиденциальности
            .col-12.col-xl-4.d-none.d-md-flex.flex-column.justify-content-center.justify-content-sm-between.justify-content-xl-start.flex-xl-column.align-items-xl-center
                p.paragraph-text.text-color-dark.text-center.mb-3
                    | Скачай приложение! <br/>
                    | Почувствую заботу о себе в любой момент
                div.d-none.d-sm-flex.justify-content-center.align-items-center
                    a.mr-3(href="#")
                        img.icon.icon-large(src="assets/icon/mob-f.png", alt="mob-f")
                    a(href="#")
                        img.icon.icon-large(src="assets/icon/google-play-f.png", alt="play-f")

        hr.d-none.d-sm-block.my-3
        .d-flex.flex-column.align-items-center.flex-xl-row.justify-content-xl-between.mb-3.footer-cnt.mx-auto.mx-xl-0
            p.mb-3.m-md-0.p-text-light.order-1.order-xl-0.text-center.text-xl-left Разработано в &nbsp
                |
                a.p-text-light.text-dashed(href="") dotwork
            a.mb-3.m-md-0.p-text-light.text-dashed.d-block.d-md-none.d-xl-block(href="") Пользовательское соглашение
            a.mb-3.m-md-0.p-text-light.text-dashed.d-block.d-md-none.d-xl-block(href="") Политика конфиденциальности
            p.mb-3.m-md-0.p-text-light.text-center.text-xl-left steffany.ua ©2019. Все права защищены
