header
  .container
    .c-logo
      img.logo-header(src="assets/img/logo/logo.png" alt="Image Title")
    .c-row
      ul.header-contact-list
        li
          img.icon(src="assets/icon/map.png" alt="h-map")
          a(href="#") Ивано-Франковск
        li
          img.icon(src="assets/icon/phone.png" alt="h-map")
          a(href="#") 098 007 07 53
        li
          a(href="#").header-lang

      nav.header-nav
        ul.header-nav-list
          li
            a(href="#") О нас
            img.icon-arrow(src="assets/icon/drop-arrow-down.png" alt="h-map")
          li
            a(href="#") Услуги
            img.icon-arrow(src="assets/icon/drop-arrow-down.png" alt="h-map")
          li
            a(href="#") Цены
            img.icon-arrow(src="assets/icon/drop-arrow-down.png" alt="h-map")
          li
            a(href="#") Контакты



