section.section.map
  .container
    .row.no-gutters
      .col-12.col-xl-6.pr-xl-5.mb-5.mb-xl-0.mx-auto.mx-xl-0.px-15.justify-content-center.map-cnt.mb-4
        p.paragraph-text.text-color-dark.text-w-bold.text-uppercase.mb-4 Житомир
        .row.no-gutters.mb-5
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-phone(src="assets/icon/phone-black.svg" alt="h-map")
                a.paragraph-text.text-color-dark.text-color-dark(href="tel:0980070753") 098 180 10 88
              .col-12.d-flex.align-items-center.mb-3.mb-sm-0.height-25.ultra-spec-mb
                img.icon.icon-mail(src="assets/icon/common/mail.svg" alt="h-map")
                a.paragraoh-text.text-color-dark(href="mail-to:info@steffany.ua") info@steffany.ua
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-loc(src="assets/icon/common/map.svg" alt="h-map")
                p.paragraph-text.text-color-dark.thin-text ул. Площадь Путятинская, 63/1
              .col-12.d-flex.align-items-center.height-25
                img.icon.icon-time(src="assets/icon/common/time.svg" alt="h-map")
                p.paragraph-text.text-color-dark 9:00 – 20:00
        .row.no-gutters.mb-5
          .video.video-overlay
          a.video.d-flex.align-items-center.justify-content-center(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
            img.w-100(src="assets/img/cabinet-22.png", alt="about-video")
            img(src="assets/icon/common/play-video.png" alt="Play video button").custom-play-btn
        .row.no-gutters
          +customBtn('подробнее про салон')(data-role="href" data-link="./about-salon.html")
      .col-12.col-xl-6.mapped
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d637.8288834942899!2d28.68484882924661!3d50.248690856293756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0:0x0!2zNTDCsDE0JzU1LjMiTiAyOMKwNDEnMDcuNCJF!5e0!3m2!1sru!2sua!4v1574779818178!5m2!1sru!2sua', width='600', height='450', frameborder='0', style='border:0;', allowfullscreen='')
  .row.no-gutters.small-map
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d637.8288834942899!2d28.68484882924661!3d50.248690856293756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0:0x0!2zNTDCsDE0JzU1LjMiTiAyOMKwNDEnMDcuNCJF!5e0!3m2!1sru!2sua!4v1574779818178!5m2!1sru!2sua', width='600', height='450', frameborder='0', style='border:0;', allowfullscreen='')
