.container.container-m.slider-wrap
  .d-flex.justify-content-center.align-items-center.mb-5
    h2.white-text Наши специалисты
  .row.no-gutters
    .specialists-slider.owl-carousel.slider-block.slider-pad
      each item, index in [{name: 'Атаманенко Таня', specialist: 'подолог', exp: '13', description: 'Blah-blah'}, {name: 'Вишневська Ірина', specialist: 'подолог', exp: '13', description: 'Blah-blah'}, {name: 'Горбатенко Ольга', specialist: 'подолог', exp: '13', description: 'Blah-blah'}, {name: 'Громова Надія', specialist: 'подолог', exp: '13', description: 'Blah-blah'}, {name: 'Даценко Руслана', specialist: 'директор подологии', exp: '13', description: 'Blah-blah'}, {name: 'Левковська Яна', specialist: 'подолог', exp: '13', description: 'Blah-blah'}, {name: 'Писаревська Юлія', specialist: 'подолог', exp: '13', description: 'Blah-blah'}, {name: 'Поліщук Наталія', specialist: 'подолог', exp: '13', description: 'Blah-blah'}, {name: 'Томашевська Наталія', specialist: 'подолог', exp: '13', description: 'Blah-blah'}, {name: 'Черних Ірина', specialist: 'подолог', exp: '13', description: 'Blah-blah'}]
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src=`assets/img/common/doctors/doc-${index + 1}.png`, alt="Doctor")
            .specialists-info.d-flex.flex-column.align-items-start.justify-content-between.w-100.p-3
              p.p-text-light.fs-16= item.description
              p.p-text
                span.p-bold Работает уже&nbsp;
                =item.exp
                | &nbsp;лет
          p.h3-title.h-center= item.name
          p.fs-16.h-center.light-white= item.specialist
