#overlay
  img(src="assets/icon/close.png" alt="Close")#closeOverlay
  .wrapper
    h2.text-center.white-text Привет!
    p.white-text.text-center Пожалуйста, выбери город из списка.<br>Это поможет отобразить корректную информацию для тебя
    p.white-text Я живу в:
    select.selectpicker
      option Киев
      option Житомир
      option Ивано-Франковск
