mixin video(link, cover)
.video.video-overlay
a.video.d-flex.align-items-center.justify-content-center.shadow(data-fancybox="" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
  img.w-100(src="assets/img/about-video.png", alt="about-video")
  img(src="assets/icon/common/play-video.png" alt="Play video button").custom-play-btn
