a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
    img(src="assets/img/about/about-video-1.jpg", alt="about-video")
    span.play-btn.d-flex.align-items-center.justify-content-center
        span
