mixin video(link, cover)
  .video.video-overlay
  a.video.d-flex.align-items-center.justify-content-center.shadow(data-fancybox="" href=link)
    img.w-100(src="images/img/about-video.png", alt="about-video")
    img(src=cover alt="Play video button").custom-play-btn
