section.section.four-boxes-about-steffany
  .container
    .row.c-boxes
      .col-12.col-xl-6
        .c-desc
          img.d-md-block(src="" alt="four-boxes-1" srcset="./assets/img/four-boxes/four-box_about-steffany@2x.png 2x")
          //img.d-md-none.d-block(src="assets/img/four-boxes/four-box_about-steffany-mob-01.png" alt="four-boxes-1-mob" srcset="assets/img/four-boxes/four-box_about-steffany-mob-01@2x.png 2x")
          p.bnf-number 01
          h4.h4-title.text-uppercase.mb-3 Стерильні умови і чистота
          p.paragraph-text.text-color-light.text-w-light Після кожного клієнта ми обробляємо робоче місце спеціальним дезинфікуючим розчином. Проходимося по поверхнях меблів і апарату. У сам апарат для лазерної епіляції вже вбудована внутрішня система стерилізації. Вона знаходиться у сапфіровому наконечнику і руйнує всі бактерії високими температурами. Також після кожного клієнта ми дезінфікуємо контактну частину насадки 70%-м спиртом.
      .col-12.col-xl-6
        .c-desc
          img.d-md-block(src="" alt="four-boxes-1" srcset="./assets/img/four-boxes/four-box_about-steffany-02@2x.png 2x")
          //img.d-md-none.d-block(src="assets/img/four-boxes/four-box_about-steffany-mob-02.png" alt="four-boxes-1-mob" srcset="assets/img/four-boxes/four-box_about-steffany-mob-02@2x.png 2x")
          p.bnf-number 02
          h4.h4-title.text-uppercase.text-uppercase.mb-3 Одноразові інструменти
          p.paragraph-text.text-color-light.text-w-light Майже всі інструменти на вашому сеансі одноразові: бритва, дерев'яний шпатель, паперові воскові смужки, ватні диски, серветки, рукавички і т.д. Всі вони знаходяться у чистому просторі і готові до використання. А після закінчення сеансу майстер утилізує всі одноразові інструменти, які використовувалися на процедурі, і підготує робоче місце до наступного клієнта.
      .col-12.col-xl-6
        .c-desc
          img.d-md-block(src="" alt="four-boxes-1" srcset="./assets/img/four-boxes/four-box_about-steffany-03@2x.png 2x")
          //img.d-md-none.d-block(src="assets/img/four-boxes/four-box_about-steffany-mob-03.png" alt="four-boxes-1-mob" srcset="./assets/img/four-boxes/four-box_about-steffany-03@2x.png 2x")
          p.bnf-number 03
          h4.h4-title.text-uppercase.mb-3 Фахівці за покликанням
          p.paragraph-text.text-color-light.text-w-light У всіх наших фахівців від 2 до 15 років стажу роботи. У майстрів лазерної епіляції обов'язковий диплом про проходження спеціалізованого навчання, а у косметологів — диплом про медичну освіту. Також у них є медична книжка, в якій зазначаються регулярні огляди і стан здоров'я. Але найважливіше — у всіх наших майстрів є вроджена любов до людей і бажання допомогти.
      .col-12.col-xl-6
        .c-desc
          img.d-md-block(src="", alt="four-boxes-1", srcset="./assets/img/four-boxes/four-box_about-steffany-04@2x.png 2x")
          //img.d-md-none.d-block(src="assets/img/four-boxes/four-box_about-steffany-mob-04.png" alt="four-boxes-1-mob" srcset="assets/img/four-boxes/four-box_about-steffany-mob-04@2x.png 2x")
          p.bnf-number 04
          h4.h4-title.text-uppercase.mb-3 Медичний підхід
          p.paragraph-text.text-color-light.text-w-light Видалення волосся — це естетична сфера, але наш головний пріоритет — це здоров'я. Перед процедурою ми проводимо огляд клієнта і збираємо усі потрібні подробиці про стан здоров'я. Це потрібно, щоб виключити можливі протипоказання і зрозуміти, що процедура не принесе шкоди організму. Якщо ми бачимо ознаки проблеми на ранньому етапі, обов'язково направляємо до вузькоспеціалізованих лікарів.

