.info-block.info-block-7.info-block-7-2.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk
          .border-el
            h2.section-title.text-lightdark Классический <br/> педикюр
            p.thin-text.text-lightdark Классический педикюр — это обрезная техника удаления кутикулы, которая выполняется стерильными инструментами и одноразовыми абразивами (пилочками). Кожа стоп размачивается в ванночке с водой. Этот вид педикюра не зря имеет такое название. Он подходит практически всем людям и дает качественный результат.
          p.p-bold.text-lightdark.list-p-text Этапы классического педикюра
          .info-list
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 01
              .info-list-cnt
                p.p-bold.pb-3.text-lightdark Подготовка рабочего места
                p.thin-text.text-lightdark Вы приходите, поудобнее устраиваетесь в кресле и ставите ногу на чистое полотенце, которое зара  нее подготовил мастер. Тем временем мастер надевает одноразовый пакет на ванночку и наполняет ее горячей водой. Простерилизованные инструменты лежат в запечатанном крафт-пакете, который вскроют при вас.
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-17.jpg",  alt="item")
        span.big-text.d-none.d-xl-block nails
