section.section-services.container-fluid.py-0.ort-treatment.ingrown-cnt.ingrown-cnt-2.py-0
  .row.no-gutters.section-services-treatment-row-padding
    .container
      .row
        .col-12.d-flex.flex-column.align-items-center.justify-content-center
          h3.section-title.text-color-light.mb-4.text-center Как проходит консультация
          p.paragraph-text-light.text-center.mb-4.custom-px Консультация со специалистом-подологом — это первый этап любого визита. На нее можно прийти даже без особых жалоб. Наши специалисты всегда рады принять пациентов, которые заботятся о своем здоровье.<br>Консультация состоит из нескольких этапов, которые помогают нам познакомиться и собрать всю необходимую информацию.
    .container
      .row.no-gutters.mx-auto.justify-content-between
        .col-12.col-lg-4.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt Этап 1. Знакомимся
          p.paragraph-text-light.ort-cnt Мы представляемся, рассказываем о себе и о том, чем можем быть полезны. Обязательно слушаем вас и выясняем, что вас беспокоит.
        .col-12.col-lg-4.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt Этап 2. Заполняем карту клиента
          p.paragraph-text-light.ort-cnt В процессе общения мы заполняем вашу индивидуальную карту клиента. Помимо общих сведений вроде пола и возраста мы добавляем туда дополнительную информацию: образ жизни, условия работы, сопутствующие заболевания, лечебные препараты. Эта и другая информация помогает нам понять, как ваш образ жизни влияет на здоровье вашего организма и стоп в частности.
        .col-12.col-lg-4.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt Этап 3. Осматриваем или выдаем результат
          p.paragraph-text-light.ort-cnt Этот этап отличается в зависцимости от пациента. Мы проводим осмотр. Когда ситуация очевидная, сообщаем о состоянии стоп сразу и даем советы по лечению или поддержанию здоровья. Если нужна дополнительная диагностика на специальном оборудовании, рекомендуем ее пройти.
