section.section-services.wart-symptoms.orthopedics-symptoms
  .container
    .row.align-items-center
      .col-12.col-lg-6.order-2.order-lg-1
        img.w-100.shadow(src="./assets/img/img22.jpg", srcset="./assets/img/img22@2x.jpg 2x")
      .col-12.col-lg-6.order-1.order-lg-2
        h3.section-title.mb-4 Зачем нужна обработка диабетической стопы
        p.paragraph-text-light.text-dark-1 У людей с сахарным диабетом на фоне диагноза может развиться синдром диабетической стопы. Его первые симптомы — потеря чувствительности и необычные ощущения в ногах: летом ноги мерзнут, зимой им жарко, а также в ногах появляется ощущение «мурашек».<br><br>Из-за сниженной чувствительности кожу и ногти диабетической стопы легко травмировать. Достаточно часто у пациентов, которые не поддерживают стопы в нормальном состоянии, развиваются осложнения.При высоком сахаре даже микропореза достаточно, чтобы развилась язва.<br><br>Мы рекомендуем диабетикам, чтобы кто-то из членов семьи регулярно осматривал их стопы на предмет наличия инородных предметов. Также мы рекомендуем носить закрытую удобную обувь без внутренних швов с хорошей фиксацией стопы. Третья рекомендация диабетикам — проводить процедуры медицинского аппаратного педикюра раз в месяц во избежание осложнений.<br><br>Мы предлагаем всем диабетикам специальный уход за диабетической стопой. Помимо ухаживающей процедуры все пациенты получают распечатанный материал с инструкцией и советами по домашнему уходу за диабетической стопой. Также мы подбираем средства для домашнего ухода за стопами людей, страдающих сахарным диабетом.
