section.section-services.symptoms-container.symptoms-blk
  .row.no-gutters
    .container
      .row.no-gutters.section-services-treatment-row-padding
        .col-xl-6
          h3.section-title.text-color-light.mb-4.extra-h3 Зачем нужен медицинский педикюр
          p.paragraph-text-light Обычный педикюр в салоне не гарантирует идеальное состояние стоп. Он и не должен это обещать. При непрофессионализме мастера обычный педикюр часто вредит клиентам. Салонный педикюр может принести такие проблемы:
          ul.list-blue-bullets.paragraph-text-light
            li.mb-3.white-text ожоги ногтевого ложа и ногтей от LED-ламп;
            li.white-text травмы ногтей и кожи стоп.
          p.paragraph-text-light Медицинский педикюр  — это процедура, где вашу стопу рассматривают с точки зрения здоровья, а не эстетики. Задача такого педикюра в том, чтобы улучшить состояние ногтей и кожи стоп, остановить и предупредить развитие возможных проблем. Регулярный медицинский педикюр может исправить разные проблемы со стопами в их начальном состоянии:
          ul.list-blue-bullets.paragraph-text-light
            li.mb-3.white-text откорректировать вросшие ногти;
            li.mb-3.white-text удалить мозоли и натоптыши;
            li.mb-3.white-text убрать трещины на пятках;
            li.mb-3.white-text уменьшить сухость стоп;
            li.white-text остановить изменения формы ногтей.
      p.text-w-bold.text-white Медицинский педикюр — идеальный способ поддерживать стопы в здоровом состоянии.
