section.section.faq
  .container
    h2.white-text.text-center.mb-3 Часто задаваемые вопросы
    p.h4-title.text-center.d-none.d-md-block.mb-5 Здесь вы найдете информацию, которая чаще всего интересует наших пациентов
    #accordion.accordion.mt-3
      #heading01.card-header(data-toggle='collapse', data-target='#collapse01', aria-controls='collapse01', aria-expanded='true')
        p.paragraph-text.text-w-bold
          |  Лечение грибка — это больно?
        .card-arrow
      #collapse01.collapse(aria-labelledby='heading01', data-parent='#accordion')
        .card-body
          p.paragraph-text.text-w-light
            | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
      #heading02.card-header.active(data-toggle='collapse', data-target='#collapse02', aria-controls='collapse02', aria-expanded='false')
        p.paragraph-text.text-w-bold
          | Сколько нужно процедур, чтобы вылечить грибок?
        .card-arrow
      #collapse02.collapse.show(aria-labelledby='heading02', data-parent='#accordion')
        .card-body
          p.paragraph-text.text-w-light
            | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
      #heading03.card-header(data-toggle='collapse', data-target='#collapse03', aria-controls='collapse03', aria-expanded='false')
        p.paragraph-text.text-w-bold
          | Почему за 2 недели до сдачи анализа в лабораторию нельзя ничем мазать место с грибком?
        .card-arrow
      #collapse03.collapse(aria-labelledby='heading03', data-parent='#accordion')
        .card-body
          p.paragraph-text.text-w-light
            | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
      #heading04.card-header(data-toggle='collapse', data-target='#collapse04', aria-controls='collapse04', aria-expanded='false')
        p.paragraph-text.text-w-bold
          | Пока я ничем не мажу ногу 2 недели, испытываю дискомфорт. Как его снизить?
        .card-arrow
      #collapse04.collapse(aria-labelledby='heading04', data-parent='#accordion')
        .card-body
          p.paragraph-text.text-w-light
            | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
