section.section.about-doctors

  .container.d-flex.flex-wrap
    img(src="assets/img/circles.png").circles#circles3
    img(src="assets/img/dash.png").dashes#dashes3
    .col-12.col-lg-7.owl-video-wrapper
      .video.video-overlay
      a.video.d-flex.align-items-center.justify-content-center.shadow(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
        img.w-100(src="assets/img/about-video.png", alt="about-video")
        img(src="assets/icon/play-video.png" alt="Play video button").custom-play-btn
    .col-12.col-lg-5.d-flex.justify-content-center.flex-column.mt-sm-5
      h2 Steffany Podology
      .dash
      p.text-color-dark Это всеукраинская сеть центров здоровья ног. К нам следует сразу обратиться с любым косметическим, дерматологическим или ортопедическим дефектом стопы.
      button Подробнее
  .container.mt-5
    h2.text-center Наши специалисты работают с оборудованием, которое дает точные данные о проблеме пациента:
  .container.mt-5
    .row.row-numbered
      .col-sm-12.col-lg-3
        img(src="assets/icon/adv-1.png" alt="1")
        h3 дерматоскопом
        p прибором для 20-кратного увеличения кожи. Позволяет поставить точный диагноз и наблюдать процесс выздоровления;
      .col-sm-12.col-lg-3
        img(src="assets/icon/adv-2.png" alt="2")
        h3 подоскопом
        p аппаратом для диагностики стопы в стоящем положении;
      .col-sm-12.col-lg-3
        img(src="assets/icon/adv-3.png" alt="3")
        h3 параподографическим матом
        p дорожкой, которая оценивает положение стопы при ходьбе
      .col-sm-12.col-lg-3
        img(src="assets/icon/adv-4.png" alt="4")
        h3 лабораторией
        p которая точно показывает разновидность грибковых заболеваний и позволяет назначить эффективное лечение.


