section.section.activity
  .container.d-flex.flex-wrap
    .col-sm-12.col-lg-6.d-flex.flex-column.justify-content-center
      h2.dark-blue Чем занимается врач подолог Житомир?
      .dash
      p.description Проблемы со стопами встречаются намного чаще, чем кажется. Люди мучаются, обращаются в разные клиники и больницы, но не находят там должного лечения. Все потому, что заболеваниями стоп занимаются специально обученные люди  —  подологи.<br><br>Классический подолог отвечает за здоровье кожи и ногтей на ногах. Он лечит вросшие ногти, мозоли, натоптыши, бородавки, трещины на пятках или грибок.<br><br>Однако многие из этих проблем появляются из-за неправильного положения стопы во время ходьбы, физических нагрузок или наоборот малоподвижности. Поэтому разумнее всего убрать причину, из-за которой появляются заболевания стоп.<br><br>В нашем центре стопы рассматривают как часть опорно-двигательного аппарата. Мы находим причину проблемы и делаем так, чтобы она больше не возвращалась.
    .col-sm-12.col-lg-6
      img(src="assets/img/doctor-podolog.png").d-block
