section.section.advantages
  .container
<<<<<<< HEAD
    h2.section-title.text-color-light.text-center Кто сказал, что красота требует жертв?
    p.paragraph-text.text-color-light.text-center В Steffany совсем другой подход к эпиляции
    .row
      .col-md-6.col-sm-12.c-boxes
        img(src="assets/img/advantages/advantages_1.png" alt="advantages-1")
        p.advantages-count 01
        h3.h3-title.mb-3 Никакой боли
        p.paragraph-text.text-color-light.text-w-light У нас нет услуги «экстра комфорт», потому что лазер и так полностью безболезненный. Он прогревается до высоких температур, но при касании с кожей охлаждается до температуры -3 градуса.  Благодаря такой мощной системе охлаждения вы почувствуете просто прикосновение. Нано-эпиляция также не приносит болевых ощущений. А если вы хотите обезболивание при шугаринге или восковой эпиляции, мы ее сделаем.

      .col-md-6.col-sm-12.c-boxes
        img(src="assets/img/advantages/advantages_2.png" alt="advantages-2")
        p.advantages-count 02
        h3.h3-title.mb-3 В любое время года
        p.paragraph-text.text-color-light.text-w-light Нельзя загорать? Лучше начинать с осени? Забудьте об этих устаревших правилах.  Наш лазер удаляет волосы на коже до 6-го фототипа, а это метисы и мулаты. Так что при вашем загаре он тоже справится. В зависимости от оттенка кожи мастер просто выставит на лазере определенные параметры, чтобы процедура прошла эффективно. Так что можете делать лазерную эпиляцию летом и не бояться негативного эффекта.

      .col-md-6.col-sm-12.c-boxes
        img(src="assets/img/advantages/advantages_3.png" alt="advantages-3")
        p.advantages-count 03
        h3.h3-title.mb-3 Безопасно для здоровья
        p.paragraph-text.text-color-light.text-w-light Наш лазер не сжигает волосяной фолликул, а прогревает его. Когда он видит в фолликуле пигмент, он действует строго на него, не рассеиваясь на пигмент в коже. Это значит, что лазер работает только с волосом и не затрагивает близлежащие ткани. Поэтому лазер не будет влиять на ваши внутренние органы и организм в целом.

      .col-md-6.col-sm-12.c-boxes
        img(src="assets/img/advantages/advantages_4.png" alt="advantages-4")
        p.advantages-count 04
        h3.h3-title.mb-3 Может, шампанского?
        p.paragraph-text.text-color-light.text-w-light Поход в салон — это радость, а не обязанность. Мы хотим, чтобы процедуры принесли вам только расслабление и приятные ощущения. Поэтому смело озвучивайте все, что вам необходимо. Чай, кофе, шампанское, поболтать или наоборот помолчать — мы подстроимся под ваше настроение и сделаем сеанс эпиляции максимально комфортным.
=======
    h2.text-center.dark-blue Почему центр здоровья ног Steffany?
    p.text-center.dark-blue Наша цель — облегчить вашу жизнь, поэтому у нас есть
    .numbered-section
      .col-sm-12.col-lg-6
        img(src="assets/icon/adv-1.png")
        .description
          h3.title Стерильное помещение и оборудование
          p.desc Центр проходит полный цикл стерилизации. Мы очищаем воздух в помещении тремя циркуляторами закрытого типа. Инструменты замачиваем в ультразвуковой ванночке в специальном растворе и обрабатываем в сухожаровом шкафу при температуре 180 градусов. Также дезинфицируем все поверхности в кабинете после каждого пациента и проводим регулярные уборки
      .col-sm-12.col-lg-6
        img(src="assets/icon/adv-2.png")
        .description
          h3.title Стерильное помещение и оборудование
          p.desc Мы работаем с доказательной базой. Это значит, что все диагнозы мы ставим на основе анализов и исследований. Когда лечим грибок, для начала берем у пациента забор на анализ. Затем передаем этот образец через курьера в киевскую лабораторию, и через время получаем результат. Благодаря этому мы можем назначить максимально точное лечение и дать рекомендации
      .col-sm-12.col-lg-6
        img(src="assets/icon/adv-3.png")
        .description
          h3.title Стерильное помещение и оборудование
          p.desc Большинство проблем с ногами возникают из-за неправильного положения стоп во время походки. Чтобы вылеченные вросшие ногти или мозоли не возвращались, мы диагностируем ходьбу пациентов. Делаем это с помощью подоскопа — аппарата, который выявляет нарушения стопы в положении стоя. Также анализируем походку с помощью параподографического мата
      .col-sm-12.col-lg-6
        img(src="assets/icon/adv-4.png")
        .description
          h3.title Стерильное помещение и оборудование
          p.desc Боль — один из главных страхов наших пациентов, и он развеивается уже при первом визите на процедуру. Если ситуация не запущенная, пациентам не больно. Наши специалисты обезболивают пораженный участок — делают замораживания местными препаратами. В более сложных ситуациях специалисты обязательно предупреждают обо всех неприятных ощущениях
>>>>>>> 6dc4d8ee50dbae10aad4027cbffdfb414716987c
