section.section.consultaion
  .container
    .col-12.col-lg-6
      h2.white-text.text-sm-center.text-lg-left Запишись на консультацию <strong>прямо сейчас</strong> и получите <string>скидку 10%</string>
