section.section.pricing
  h2.paragraph-text.text-center Цены на услуги подолога
  .container.feet-section
    .col-sm-12.col-lg-6.item.mb-4
      .c-content
        h3.dark-blue Подология
        p.desc Лечение ногтей и кожи стоп
        ul.info-list
          li Медицинский педикюр
          li Обработка диабетической стопы
          li Обработка грибковых поражений
        a(href="#").button-forward
    .col-sm-12.col-lg-6.item.mb-4
      .c-content
        h3.dark-blue Вросший ноготь
        p.desc Исправление формы и роста ногтей
        ul.info-list
          li Установка скобы Фрезера
          li Установка титановой нити
          li Изготовление гелевого корректора пальцев
        a(href="#").button-forward
    .col-sm-12.col-lg-6.item.mb-4
      .c-content
        h3.dark-blue Малая ортопедия
        p.desc Исправление положения стопы
        ul.info-list
          li Лечение грибковой инфекции
          li Удаление мозолей и натоптышей
          li Лечение трещин стопы
        a(href="#").button-forward
    .col-sm-12.col-lg-6.item.mb-4
      .c-content
        h3.dark-blue Другие услуги
        p.desc
        ul.info-list
          li Лечение грибковой инфекции
          li Удаление мозолей и натоптышей
          li Лечение трещин стопы
        a(href="#").button-forward
