section.section.almalaser
  padding-top: 87px
  background-color: #EDE1DF
  position: relative
  z-index: -1
  b
    color: #556278
  @include media-breakpoint-down(lg)
    padding-top: 66px
  @include media-breakpoint-down(xs)
    padding-top: 46px
  .extralarge-text-bg
    bottom: 46px
    left: 522px
  .container
    .c-content
      max-width: 575px
      @include  media-breakpoint-down(lg)
        max-width: 590px

    .white-block-design
      width: 468px
      height: 657px
      z-index: -1
      .extralarge-text-bg
        position: absolute
        bottom: 46px
        left: -268px
        @include media-breakpoint-down(lg)
        @include media-breakpoint-down(sm)
          font-size: 159.63px
          left: -132px
      img
        top: 60px
        left: 60px
        box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.13)
      @include media-breakpoint-down(lg)
        margin-left: 23px
        margin-top: 40px
      @include media-breakpoint-down(xs)
        margin-top: 20px
        width: 230px
        height: 326px
        img
          width: 251px
          height: 248px
          top: 33px
          left: 33px

@include media-breakpoint-down(xs)
  section.section.almalaser
    .container
      .c-content
      .white-block-design
        .extralarge-text-bg
          bottom: 9px
          left: -122px
