section.section.four-boxes
  padding-top: 58px
  padding-bottom: 78px
  background-image: url("../assets/img/background/advantages-bg.jpg")
  background-size: cover
  background-repeat: no-repeat
  @include media-breakpoint-down(lg)
    background-image: url("../assets/img/four-boxes/bg-tablet.jpg")
  @include media-breakpoint-down(sm)
    padding-top: 86px
    background-position: -731px, 105px
    padding-bottom: 41px

  .c-desc
    width: 394px // test
    @include media-breakpoint-down(lg)
      width: 100%
    @include media-breakpoint-down(sm)
  .container
    .c-boxes
      img
        position: absolute
      &:nth-of-type(1)
        img
          left: -27px
      &:nth-of-type(2)
        img
          left: -24px
          top: -20px
      &:nth-of-type(3)
        img
          left: -75px
      &:nth-of-type(4)
        img
          left: -59px
          top: -37px
      @include media-breakpoint-down(sm)
        &:nth-of-type(1)
          img
            left: 62px
        &:nth-of-type(2)
          img
            left: 55px
            top: -39px
        &:nth-of-type(3)
          img
            left: 16px
            top: -29px
        &:nth-of-type(4)
          img
            left: 29px
            top: -53px
        .c-desc
          max-width: 290px
          margin:
            left: auto
            right: auto
            top: 90px









section.section.four-boxes-service-laser
  padding-top: 58px
  padding-bottom: 78px
  background-color: #fff
  @include media-breakpoint-down(lg)
    padding-bottom: 92px
    padding-top: 67px
  @include media-breakpoint-down(sm)
    padding-bottom: 62px
    padding-top: 57px

  .h2-title
    z-index: 99
    position: relative
    margin-bottom: 7px
    @include media-breakpoint-up(lg)
      margin-bottom: 9px
  .c-content
    margin: 0 auto
  .container
    .c-boxes
      img
        position: absolute
      &:nth-of-type(1)
        img
          left: -27px
      &:nth-of-type(2)
        img
          left: -24px
          top: -20px
      &:nth-of-type(3)
        img
          left: -75px
      &:nth-of-type(4)
        img
          left: -59px
          top: -37px
      .c-desc
        max-width: 395px
@include media-breakpoint-down(sm)
  section.section.four-boxes-service-laser
    .container
      .c-boxes
        img
          position: absolute
        &:nth-of-type(1)
          img
            left: 28px
            top: -14px
        &:nth-of-type(2)
          img
            left: 87px
            top: -39px
        &:nth-of-type(3)
          img
            left: 22px
            top: -29px
        &:nth-of-type(4)
          img
            left: 74px
            top: -33px
        .c-desc
          max-width: 290px
          margin:
            left: auto
            right: auto
            top: 90px




section.section.four-boxes-03
  overflow: hidden
  background-color: #fff
  background-size: cover
  .c-boxes
    &:nth-of-type(1)
      img
        position: absolute
        left: -30px
    &:nth-of-type(2)
      img
        position: absolute
        left: -30px
    &:nth-of-type(3)
      img
        position: absolute
        left: -86px
    &:nth-of-type(4)
      img
        position: absolute
        left: -55px
