section.section.about-page-section-waxing
  //overflow: visible
  padding-top: 63px
  background-color: #9FA6BA
  @include media-breakpoint-down(lg)
    padding-top: 40px
  @include media-breakpoint-down(sm)
    padding-top: 28px
  .extralarge-text-bg
    bottom: 46px
    left: 522px
  .container
    .c-content
      margin-left: auto
      padding-top: 39px
      max-width: 504px
      @include media-breakpoint-down(lg)
        padding-top: 0
        margin-left: 0
        max-width: 640px

    .d-line
      background: rgba(255, 255, 255, 0.26)
    .white-block-design
      margin-left: auto
      width: 465px
      height: 512px
      @include media-breakpoint-down(lg)
        wwidth: 418px
        height: 494px
        margin-top: 42px
      @include media-breakpoint-down(sm)
        width: 224px
        height: 238px
        margin-top: 32px
      .extralarge-text-bg
        position: absolute
        bottom: 25px
        left: -251px
        @include media-breakpoint-down(lg)
          bottom: 46px
          left: -253px
        @include media-breakpoint-down(sm)
          bottom: 8px
          left: -171px
      img
        width: 538px
        height: 359px
        bottom: 84px
        right: 72px
        @include media-breakpoint-down(lg)
          bottom: 67px
          right: 50px
          width: 477px
          height: 379px
        @include media-breakpoint-down(sm)
          bottom: 28px
          right: 32px
          width: 257px
          height: 187px


