section.section.block-answer-after
  background-image: url('../assets/img/vaxing/bg.jpg')
  padding-top: 92px
  padding-bottom: 87px
  @include media-breakpoint-down(lg)
    padding-top: 67px
    padding-bottom: 91px
  @include media-breakpoint-down(xs)
    padding-top: 45px
    padding-bottom: 82px
  .container
    .h2-title
      @include media-breakpoint-up(xl)
        width: 75%
    img
      width: 100%
      max-width: 502px
      max-height: 500px
      box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.13)

