section.section.custom-block-answer-before
  .custom-icon-number
    width: 27px
    height: 27px
    background-color: #4D5259
    p
      @include font (Circe, bold, 16, 26)
      color: #fff

  .c-content-first
    padding-top: 71px
    background-color: #EDE1DF
    margin-bottom: 157px
    @include media-breakpoint-down(lg)
      padding-top: 98px
      margin-bottom: 144px
    @include media-breakpoint-down(sm)
      padding-top: 40px
      margin-bottom: 99px
    .container
      .c-content
        padding-top: 59px
        @include media-breakpoint-down(lg)
          padding-top: 0px
          margin-bottom: 50px
        @include media-breakpoint-down(sm)
          margin-bottom: 30px
      .d-line
        background: rgba(85, 98, 120, 0.39)
      .white-block-design
        width: 505px
        height: 620px
        @include media-breakpoint-down(lg)
          width: 517px
          height: 589px
        @include media-breakpoint-down(sm)
          width: 259px
          height: 309px
        img
          width: 538px
          height: 483px
          object-fit: cover
          box-shadow: $shadow-image
          left: 54px
          top: 61px
          @include media-breakpoint-down(lg)
            width: 520px
            height: 494px
            left: 57px
            top: 61px
          @include media-breakpoint-down(sm)
            width: 256px
            height: 247px
            left: 28px
            top: 31px
        .extralarge-text-bg
          right: -108px
          bottom: 53px
          @include media-breakpoint-down(lg)
            right: -341px
            bottom: 53px
          @include media-breakpoint-down(sm)
            font-size: 161px
            bottom: 23px
            right: -177px
  .c-content-second
    background-color: #A9A8C6
    padding-bottom: 98px
    @include media-breakpoint-down(lg)
      padding-bottom: 86px
    @include media-breakpoint-down(sm)
      padding-bottom: 38px
    .container
      .c-content
        padding-top: 88px
        max-width: 544px
        @include media-breakpoint-down(lg)
          max-width: 742px
        @include media-breakpoint-down(sm)
          padding-top: 57px
      .white-block-design
        margin-left: auto
        width: 432px
        height: 537px
        @include media-breakpoint-down(lg)
          width: 517px
          height: 537px
        @include media-breakpoint-down(sm)
          width: 243px
          height: 234px
        img
          width: 468px
          height: 533px
          object-fit: cover
          box-shadow: $shadow-image
          right: 85px
          bottom: 75px
          @include media-breakpoint-down(lg)
            width: 520px
            height: 545px
            right: 85px
            bottom: 75px
          @include media-breakpoint-down(sm)
            width: 244px
            height: 255px
            right: 40px
            bottom: 36px
