.info-block.white-bg.info-block-9
  .container
    .row.d-flex.flex-column.flex-lg-row.align-items-center.justify-content-center.justify-content-lg-end.no-gutters
      .col-12.col-xl-6.d-none.d-xl-block.col-img.order-1
        img.w-100(src="./assets/img/infoblock/item-75.jpg", srcset="./assets/img/infoblock/item-75@2x.jpg 2x", alt="item")
      .col-12.col-xl-6.col-info.order-2
        p.p-bold.pb-3  Какой материал для укрепления выбрать
        p.pb-3.thin-text Точнее и подробнее всего на этот вопрос вам ответит мастер. Перед укреплением он обязательно осмотрит ваши ногти, задаст вопросы и определит материал для укрепления. 
        p.pb-3.thin-text У нас вы можете укрепить ногти четырьмя материалами: акриловой пудрой, базой, гелем или полигелем. Вид укрепления зависит от ногтевой пластины. Каждый материал подходит разному типу ногтей и выполняет разные задачи.