.info-block.info-block-8
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-end.no-gutters
      .col.col-img.order-2
        img.w-100(src="./assets/img/infoblock/item-73.jpg", alt="item")
      .col.col-info.order-1
        .border-el
          h2.section-title Как проходит коррекция <br/> формы нарощенных ногтей
          p.control-width Когда свои натуральные ногти отрастают, нарощенные ногти теряют свою архитектуру, их легче сломать или случайно повредить. Поэтому примерно раз в месяц стоит приходить на коррекцию нарощенных ногтей.
        p.p-bold.pt-3.pt-xl-4.pt-50.pb-15 Как готовиться к коррекции нарощенных ногтей
        p Специально готовиться к коррекции ногтей не нужно. Единственная процедура, которую вы можете по желанию выполнить до коррекции — это маникюр. Можно сделать его дома самостоятельно или записаться на маникюр к нам. Мы сделаем маникюр, не повредив кутикулу, поэтому вы сможете нарастить ногти гелем или полигелем на этом же сеансе.
