.benefits.serviceBenefits
  .container
    .row.no-gutters
      h2.section-title.h-center Есть много причин сделать наращивание ногтей
    .row.no-gutters.mb-4
      .section-subtitle.h-center Для начала назовем хотя бы три
    .row.no-gutters
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-center.white-text 01
          .bnf-title.bnf-title-smaller.text-center.text-color-dark Спасение для ломких ногтей
          p.thin-text.text-center.text-color-dark Отрастить натуральные ногти сложно, когда они внезапно ломаются или ослабевают. Однако это не причина прощаться с длинными ногтями. Их можно просто нарастить искусственным материалом и периодически корректировать.
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-center.white-text 02
          .bnf-title.bnf-title-smaller.text-center.text-color-dark Ногти желаемой формы
          p.thin-text.text-center.text-color-dark Природная форма ногтей не всегда соответствует нашим идеалам. При наращивании вы сами определяете, какая форма ногтей у вас будет. Мастер поможет подобрать такую форму, которая подойдет всей кисти и подчеркнет красоту пальцев.
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-center.white-text 03
          .bnf-title.bnf-title-smaller.text-center.text-color-dark Любой цвет и дизайн
          p.thin-text.text-center.text-color-dark Нарощенные ногти можно сделать прозрачными и покрыть лаком или гель-лаком. Но кроме этого вы можете сделать их естественного нюдового оттенка, с френч маникюром или аквариумным дизайном прямо внутри нарощенных ногтей.