.info-block.info-block-4.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-4.jpg", srcset="./assets/img/infoblock/item-4@2x.jpg 2x",  alt="item")
        .col.col-info.order-1.no-bg-blk
          h2.section-title.border-el Укрепление и <br/> наращивание ногтей <br/>  в Житомире
          p.pb-3 Сколько времени нужно, чтобы получить крепкие длинные ногти идеальной формы? Несколько месяцев? Ну не знаем… В Steffany это дело нескольких часов. Приходите к нам и получите ногти, которые хотели. Вы можете сделать наращивание гелем или полигелем (акрилатиком), а также можете укрепить ногтевую пластину. Выбирайте процедуру, которая подойдет вам лучше всего. 
      span.big-text nails  