.info-block.info-block-3.info-block-3-1.light-purple-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-center.mx-auto
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters.border-block-item
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-74.jpg", srcset="./assets/img/infoblock/item-74@2x.jpg 2x",  alt="item")
        .col.col-info.order-1
          h2.section-title Укрепление ногтевой пластины
          p.pb-3 Укрепление ногтевой пластины — это когда гель-лак на ногтях носится плохо, но наращивать ногти не хочется. Знакомо? Тогда приходите на эту процедуру. Мастер укрепит ваши естественные ногти определенным материалом и нанесет поверх гель-лак. После этого вы сможете отходить 3-4 недели без отслоек, сколов и других неприятностей.
          p.pb-3.p-bold.under-border Как укрепляется ноготь
          p На процедуре мастер выстраивает на ваших ногтях архитектуру. Он укрепляет материалом те ослабленные или тонкие места, которые больше всего подвержены риску.
      span.big-text pedi  
      span.big-text.big-text-2 cure  