.benefits.serviceBenefits.word-bg
  .container
    .row.no-gutters
      .section-title.h-center Как проходит коррекция ногтей
    .row.no-gutters.justify-content-around
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-center.pl-1.white-text 01
          .bnf-title.text-center.text-color-dark Снятие покрытия
          p.thin-text.text-center.text-color-dark Мастер снимает верхний слой вашего покрытия с помощью одноразовых абразивов.
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-center.pl-1.white-text 02
          .bnf-title.text-center.text-color-dark Подготовка ногтевой пластины
          p.thin-text.text-center.text-color-dark Мастер придает ногтям форму, убирает толщину, наносит средства, которые позже позволяют искусственному материалу соединиться с поверхностью натуральных ногтей.
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-center.pl-1.white-text 03
          .bnf-title.text-center.text-color-dark Нанесение материала
          p.thin-text.text-center.text-color-dark Мастер устанавливает форму и наносит на подготовленные ногти выбранный моделирующий материал — гель или полигель. 
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-center.pl-1.white-text 04
          .bnf-title.text-center.text-color-dark Оформление ногтей
          p.thin-text.text-center.text-color-dark Вы опускаете ногти в диодную лампу, они сушатся, а затем мастер оформляет их с помощью сменных абразивов.
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-center.pl-1.white-text 05
          .bnf-title.text-center.text-color-dark Покрытие ногтей
          p.thin-text.text-center.text-color-dark Если хотите, мастер покрывает нарощенные ногти выбранным оттенком лака или гель-лака.