.info-block.info-block-7.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk
          .info-list
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-green-text 03
              .info-list-cnt
                p.p-bold.pb-3.white-text Создание искусственного ногтя
                p.thin-text.white-text Мастер создал нарощенные ногти. Теперь вы опускаете руки внутрь диодной лампы для застывания (полимеризации) материала. Когда ногти полностью застывают, мастер еще раз проходится по ним абразивами и придает идеальную форму.

            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-green-text 04
              .info-list-cnt
                p.p-bold.white-text.pb-3 Покрытие
                p.thin-text.white-text Если хотите, мастер покрывает ваши нарощенные ногти гель-лаком или лаком выбранного оттенка.
          p.p-bold.white-text.list-p-text Сколько длится наращивание ногтей
          p.thin-text.white-text.pb-42 2,5-3,5 часа в зависимости от формы и длины ногтей
          a.btn-simple.br-100.d-flex.align-items-center.justify-content-center.white-text(data-anchor-link='man-extension') Цена
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-72.jpg",  alt="item")
