.info-block.info-block-6.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.mob-hidden-item
          img.w-100(src="./assets/img/infoblock/item-6.jpg", srcset="./assets/img/infoblock/item-6@2x.jpg 2x",  alt="item")
        .col.col-info.order-1.no-bg-blk
          h2.section-title Как проходит процесс<br/> наращивания ногтей гелем<br/> и полигелем 
          p.pb-0 Не важно, что вы выбрали — гель или полигель. Этапы во время наращивания будут одни и те же. Меняться будут лишь техники наращивания.
          .info-list
            .info-list-item.mb-3.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 01
              .info-list-cnt
                p.p-bold.pb-3 Подготовка ногтевой пластины
                p.thin-text Мастер подготавливает вашу ногтевую пластину к наращиванию с помощью одноразовых абразивов. Он придает форму натуральным ногтям, готовит их верхний слой к дальнейшим действиям, обезжиривает поверхность.

            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 02
              .info-list-cnt
                p.p-bold.pb-3 Постановка форм
                p.thin-text Когда поверхность натуральных ногтей готова, мастер выставляет у ногтя шаблон для наращивания. На шаблон он наносит выбранный вами материала для наращивания ногтей — гель или полигель (акрилатик). На форме мастер вычерчивает форму и длину нарощенных ногтей.
      span.big-text.mob-hidden-item nails  