.benefits.serviceBenefits.doubleBnf.doubleBnfDark.two-benefits.dark-words
  .container.mx-auto
    .row.no-gutters
      .section-title.white-text.text-center Мы выполняем качественное наращивание ногтей
      .section-subtitle.white-text.text-center Оно проходит абсолютно безопасно для вашего здоровья
    .row.no-gutters.bnf-items.flex-column.flex-xl-row
      .bnf.bnf-two.col-xl-6.col-12.mb-3.mx-auto.mx-xl-0
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-5.png", srcset="./assets/img/bnf/item-5@2x.png 2x", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-8.png", srcset="./assets/img/bnf/item-8@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 01
          .bnf-title.white-text Стерилизуем инструменты
          p.paragraph-text-dark.white-text.mb-2
            span Если вы захотите выполнить маникюр перед наращиванием или укреплением ногтей, будьте уверены — мастер выполнит эту процедуру стерильными инструментами. Они проходят полный цикл стерилизации в нашей лаборатории и запечатываются в одноразовый крафт-пакет. Его вскроют при вас. Цветной кружочек на крафт-пакете свидетельствует о том, что инструменты стерильны
      .bnf.bnf-two.col-xl-6.col-12.mb-3.mx-auto.mx-xl-0
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-6.png", srcset="./assets/img/bnf/item-6@2x.png 2x", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-11.png", srcset="./assets/img/bnf/item-11@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 02
          .bnf-title.white-text Используем одноразовые материалы
          p.paragraph-text-dark.white-text.mb-2
            span Для вашей процедуры мастер открывает ваш личный пакет с одноразовыми инструментами, который до этого никто не использовал. Там находится апельсиновая палочка, сменные абразивы (пилочки), а также перчатки и маска для мастера. Когда процедура начинается, мастер надевает одноразовые абразивы на стерилизованную металлическую основу и выполняет ими все действия.