.benefits.serviceBenefits.doubleBnf.bg-white
  .container.mx-auto
    .row.no-gutters
      .bnf.bnf-two.col-lg-6.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img(src="./assets/img/bnf/item-5.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-lightdark 01
          .bnf-title.text-lightdark Наращивание ногтей гелем 
          p.paragraph-text-dark.text-lightdark.mb-2
            span.f-bold Бренд материала: Reforma <br/>
            span Вам подойдет наращивание полигелем, если:
          ul.info-list
            li.p-text.thin-text.text-lightdark.mb-2 у вас тонкие, ослабленные ногти;
            li.p-text.thin-text.text-lightdark.mb-2 вы склонны к аллергическим реакциям;
            li.p-text.thin-text.text-lightdark.mb-2 у вас чувствительная кожа и ногтевая пластина.
      .bnf.bnf-two.col-lg-6.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img(src="./assets/img/bnf/item-6.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-lightdark 02
          .bnf-title.text-lightdark Наращивание ногтей акрилатиком
          p.paragraph-text-dark.text-lightdark.mb-2
            span.f-bold Бренд материала: Lemme <br/>
            span Вам подойдет наращивание гелем в Житомире, если:
          ul.info-list
            li.p-text.thin-text.text-lightdark.mb-2 вас не беспокоит состояние ваших ногтей;
            li.p-text.thin-text.text-lightdark.mb-2 ваши ногти плохо держат обычное покрытие;
            li.p-text.thin-text.text-lightdark.mb-2 вы хотите новую форму и длину.