section.section.accordion-answer-dark-theme
  padding-top: 62px
  padding-bottom: 65px
  background-color: #6F7682
  @include media-breakpoint-down(lg)
    padding-top: 62px
    padding-bottom: 61px
  @include media-breakpoint-down(sm)
    padding-top: 52px
    padding-bottom: 33px

  .h2-title
    margin-bottom: 11px
    @include media-breakpoint-down(lg)
      margin-bottom: 11px
    @include media-breakpoint-down(sm)
      margin-bottom: 36px

  .h4-title
    margin-bottom: 55px
    @include media-breakpoint-down(lg)
      margin-bottom: 31px
    @include media-breakpoint-down(sm)
      display: none

  .card-header
    display: flex
    justify-content: space-between
    cursor: pointer
    margin-bottom: 1rem
    position: relative
    border-radius: 100px !important
    background-color: rgba(85, 98, 120, .3)
    padding: 0
    @include media-breakpoint-down(lg)

    @include media-breakpoint-down(sm)
      min-height: 64px
    .paragraph-text
      display: flex
      align-items: center
      padding: .35rem 1.70rem
      margin-bottom: 0
      @include media-breakpoint-down(lg)
        max-width: 603px
      @include media-breakpoint-down(sm)
        max-width: 300px
        line-height: 14px

  .card-header.active
    background: rgba(159, 166, 186, 0.28)
    .card-arrow
      background-color: $btn-primary-color
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.18)
      &:before
        transform: rotate(180deg)
  .card-body
    padding-top: 0
  .card-arrow
    min-width: 64px
    min-height: 64px
    max-width: 64px
    max-height: 64px
    border-radius: 50%
    background-color: #4D5259
    display: flex
    align-items: center
    justify-content: center
    &:before
      content: ' '
      display: block
      background-image: url("../assets/icon/accordion-arrow.png")
      background-repeat: no-repeat
      width: 13px
      height: 9px
      transition: transform .3s

  .btn:focus
    outline: none !important
    box-shadow: none !important

