section.section.service-three-boxes-nano
  padding-top: 59px
  padding-bottom: 63px
  @include media-breakpoint-down(lg)
    padding-top: 77px
    padding-bottom: 133px
  @include media-breakpoint-down(sm)
    padding-top: 59px
    padding-bottom: 132px
  .c-three-box
    @include media-breakpoint-down(lg)
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0
    @include media-breakpoint-down(sm)
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
  .paragraph-text
    margin-bottom: 0px
  .h2-title
    margin-bottom: 37px
    @include media-breakpoint-down(lg)
      margin-bottom: 20px
    @include media-breakpoint-down(sm)
      margin-bottom: 30px
  .d-flex
    justify-content: space-between
    @include media-breakpoint-down(lg)
      flex-direction: column
      align-items:  center
  .c-desc
    text-align: start
    max-width: 395px
    @include media-breakpoint-down(lg)
      max-width: 435px
    @include media-breakpoint-down(sm)
      max-width: 280px
  .img-position
    height: 250px
    margin-bottom: -100px
    z-index: -1
    position: relative
    @include media-breakpoint-down(sm)
      margin-bottom: -136px
    img
      margin: 0 auto
      width: 250px
      position: absolute
      left: 0
      right: 0
      @include media-breakpoint-down(sm)
    .img-position-01
      @include media-breakpoint-down(lg)

      @include media-breakpoint-down(sm)
        width: 275px
        left: 20px

    .img-position-02
      bottom: 20px
      @include media-breakpoint-down(lg)

      @include media-breakpoint-down(sm)
        width: 237px
        left: 55px
        bottom: 20px
    .img-position-03
      width: 254px
      top: 17px
      @include media-breakpoint-down(lg)
        top: 0px
      @include media-breakpoint-down(sm)
        width: 248px
        left: 50px


section.section.service-three-boxes-shugaring
  padding-top: 102px
  padding-bottom: 125px
  @include media-breakpoint-down(lg)
    padding-top: 84px
    padding-bottom: 132px
  @include media-breakpoint-down(sm)
    padding-top: 53px
    padding-bottom: 110px
  .c-three-box
    @include media-breakpoint-down(lg)
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0
    @include media-breakpoint-down(sm)
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
  .paragraph-text
    margin-bottom: 0px
  .h2-title
    margin-bottom: 37px
    @include media-breakpoint-down(lg)
      margin-bottom: 20px
    @include media-breakpoint-down(sm)
      margin-bottom: 30px
  .d-flex
    justify-content: space-between
    @include media-breakpoint-down(lg)
      flex-direction: column
      align-items:  center
  .c-desc
    text-align: start
    max-width: 395px
    @include media-breakpoint-down(lg)
      max-width: 435px
    @include media-breakpoint-down(sm)
      max-width: 280px
  .img-position
    height: 250px
    margin-bottom: -100px
    z-index: -1
    position: relative
    @include media-breakpoint-down(sm)
      margin-bottom: -136px
    img
      margin: 0 auto
      width: 250px
      position: absolute
      left: 0
      right: 0
    .img-position-01

      @include media-breakpoint-down(lg)
      @include media-breakpoint-down(sm)
        width: 278px
        left: 24px
        top: 20px

    .img-position-02
      bottom: 39px
      @include media-breakpoint-down(lg)
      @include media-breakpoint-down(sm)
        width: 224px
        left: 71px
        bottom: 54px

    .img-position-03
      width: 350px
      bottom: 11px
      @include media-breakpoint-down(lg)
      @include media-breakpoint-down(sm)
        width: 323px
        bottom: 24px
        left: 24px

section.section.service-three-boxes-waxing
  padding-top: 59px
  padding-bottom: 63px
  @include media-breakpoint-down(lg)
    padding-top: 77px
    padding-bottom: 133px
  @include media-breakpoint-down(sm)
    padding-top: 59px
    padding-bottom: 61px
  .c-three-box
    @include media-breakpoint-down(lg)
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0
    @include media-breakpoint-down(sm)
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
  .paragraph-text
    margin-bottom: 0px
  .h2-title
    margin-bottom: 37px
    @include media-breakpoint-down(lg)
      margin-bottom: 20px
    @include media-breakpoint-down(sm)
      margin-bottom: 30px
  .h4-title
    max-width: 325px
    @include media-breakpoint-down(sm)
      width: 300px
  .d-flex
    justify-content: space-between
    @include media-breakpoint-down(lg)
      flex-direction: column
      align-items:  center
  .c-desc
    text-align: start
    max-width: 395px
    @include media-breakpoint-down(lg)
      max-width: 435px
    @include media-breakpoint-down(sm)
      max-width: 280px
  .img-position
    height: 250px
    margin-bottom: -100px
    z-index: -1
    position: relative
    @include media-breakpoint-down(sm)
      margin-bottom: -136px
    img
      margin: 0 auto
      width: 250px
      position: absolute
      left: 0
      right: 0
      @include media-breakpoint-down(sm)
    .img-position-01
      @include media-breakpoint-down(lg)

      @include media-breakpoint-down(sm)
        width: 275px
        left: 20px
    .img-position-02
      bottom: 20px
      @include media-breakpoint-down(lg)

      @include media-breakpoint-down(sm)
        width: 225px
        left: 70px
        bottom: 61px
    .img-position-03
      width: 254px
      top: 17px
      @include media-breakpoint-down(lg)
        top: 0px
      @include media-breakpoint-down(sm)
        width: 231px
        left: 59px


section.section.service-three-boxes-dark-theme
  padding-top: 80px
  padding-bottom: 66px
  .container
    .three-box-title
      @include font(CormorantGaramond, 700, 44, 45)
      color: $text-color-white
      @include media-breakpoint-down(xs)
        @include font(CormorantGaramond, 700, 30, 30)
    .c-three-box
      .d-width
        width: 395px
        @include media-breakpoint-down(lg)
          width: 430px
        @include media-breakpoint-down(sm)
          width: 280px

      .img-position
        min-height: 270px
        margin-bottom: -100px
        &-01
          transform: translateY(0px)
        &-02
          transform: translateY(25px)
        &-03
          transform: translateY(13px)
      .d-img
        margin:
          left: auto
          right: auto
