doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Stefany | Beauty
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="bootstrap/css/bootstrap.min.css")
    script(type='text/javascript')
    script(type='text/javascript' src="/bootstrap/js/bootstrap.min.js")
    script(type='text/javascript' src="/bootstrap/js/bootstrap.bundle.min")
  body
    include ../modules/header

    block content

    include ../modules/footer

