section.section.about-steffany
  .container
    .row
      .col-md-7.col-sm-12
        .c-image
          img(src="/assets/img/about-steffany-page/img-video.png", atl="video")
        .btn steffany podology
        .btn steffany beauty
      .col-md-5.col-sm-12
        .c-desc.ml-4
          h2.section-title.text-color-dark Про Steffany
          p.paragraph-text.text-color-dark.text-w-light Давайте знакомиться! Мы — сеть центров красоты и здоровья Steffany, где на каждое ваше «хочу» найдется процедура. А вы —  та самая девушка, которая заслужила расслабиться и получить качественный профессиональный уход.
          p.paragraph-text.text-color-dark.text-w-light.mb-2 Вы можете прийти в отдельные центры Steffany по трем направлениям:
          ul.list-outside
            li.paragraph-text.text-color-dark.text-w-light.mb-2 бьюти, где можно сделать маникюр, прическу, стрижку и макияж;
            li.paragraph-text.text-color-dark.text-w-light.mb-2 эпиляция и косметология, где вас ждут ухаживающие процедуры для лица, тела и удаления волос;
            li.paragraph-text.text-color-dark.text-w-light.mb-2.mb-2 подология, где мы позаботимся о здоровье ваших стоп.
          p.paragraph-text.text-color-dark.text-w-light Остановимся на эпиляции. У нас вы можете безболезненно и в любое время года удалить волосы лазером. Или выбрать другой способ, который вам по душе.

