section.section.advantages
	.container
		@include media-breakpoint-down(md)
			padding: 0 !important
			h2
				font-size: 24px
			> p
				font-size: 16px
	overflow: auto
	background: transparent
	@include desktop
		margin:
			top: -9em
			bottom: -9em
	@include laptop
		margin: 0
