section.section.advantages
	.container
		@include media-breakpoint-down(md)
			padding: 0!important
	overflow: auto
	background: transparent
	@include desktop
		margin:
			top: -9em
			bottom: -9em
	@include laptop
		margin: 0
