section.section.category
	.description
		background: url("../images/img/background/category-people-bg.png") no-repeat center/cover
		.container
			height: 100%
		h2
			color: #ffffff
		p
			text-align: center
			font-weight: 100
			@include desktop
				width: 40em
			@include laptop
				width: 40em
