section.section.client-feedback
	.container
		position: relative

	#quote
		width: 3em
		height: auto

	.circles
		top: -25em
		width: 87em
		display: block
		@include media-breakpoint-down(sm)
			width: 59em
			top: -9em

	.slider-block.slider-pad
		width: 43em
		@include media-breakpoint-down(sm)
			padding: 0 !important
			width: 100%

		.owl-item
			width: 1195px

			img
				width: 39em
				@include media-breakpoint-down(sm)
					width: 19em

		.owl-nav
			@include media-breakpoint-down(sm)
				width: 8em
				top: 6em
				left: 50%
				transform: translateX(-50%)
			//left: 8em

			button
				&.owl-next
					background: url(../assets/icon/arrow-right-gray.png) !important

				&.owl-prev
					background: url(../assets/icon/arrow-left-gray.png) !important
