section.section.consultaion
	background: url("../images/img/background/consulation-bg.png") no-repeat center/cover

	h2
		font-weight: 200

		strong
			font-weight: 700

	.sale
		.dash
			color: rgba(255, 255, 255, 0.21)
