section.section.pricing
	background: $bg-color-section-dark-blue

	.btn-callback
		width: 220px

	h2
		@include font(Circe, 600, 28, 20)
		margin-bottom: 2em
		@include media-breakpoint-down(sm)
		font-size: 1.5em

	.c-content
		height: 528px !important

	.info-list
		li
			margin-bottom: 1rem !important
			font-weight: 200

