section.section.salon-photos
	.salon-photos-slider
		.owl-stage
			.owl-item
				opacity: .5
				filter: grayscale(1)
				transition: .25s ease-in

			.owl-item.active.center
				opacity: 1
				filter: none
