section.section.specific
	position: relative
	//padding: 0
	margin-bottom: -4em
	.circles
		z-index: -1
		left: -17em
		top: -30em
	p
		color: $text-color-dark
	h3
		@include font(Circe, 600, 20, 20)
		margin:
			top: 2em
			bottom: 2em
	.person-wrapper
		img
			width: 4em
			height: auto
