.contact-form
	h2
		font-size: 28px
		@include font(Circe, bold, 28, 30)
		text-transform: initial

	h3
		font-size: 16px
		line-height: 19px
		color: #3a405b
		font-weight: 600
		letter-spacing: 0.15px
		margin-bottom: 1rem

	margin:
		top: 2em
		bottom: 2em

	.btn-callback
		box-shadow: none
		width: 200px
		height: 38px

.feedback-form
	div
		padding: 0 !important
	display: flex
	flex-wrap: wrap
	align-items: stretch

	textarea
		height: 100%
		resize: none
		box-sizing: border-box

	input,
	textarea
		display: block
		appearance: none
		outline: none
		width: 100%
		padding: .5em
		border: 1px solid #D2DBE9
		margin-bottom: 1rem

		&::placeholder
			@include font(Circe, 400, 14, 20)

	@include media-breakpoint-up(lg)
		input
			width: 90%
