section.section.accordion-answer-dark-theme
  +accordeon('Часто задаваемые вопросы', 'Здесь вы найдете информацию про восковую депиляцию, которая чаще всего интересует наших клиентов',
    [
      {
        title: 'Как часто нужно делать восковую депиляцию?',
        body: 'Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.'
      },
      {
        title: 'Восковая депиляция — это больно?',
        body: 'Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.'
      },
      {
        title: 'Если у меня варикозное расширение вен на ногах, но я хочу сделать восковую депиляцию в другой зоне, я могу это сделать?',
        body: 'Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.'
      },
      {
        title: 'Вы можете сделать обезболивание перед процедурой?',
        body: 'Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.'
      },
      {
        title: 'У меня вросшие волосы. Удаление волос воском избавит меня от этой проблемы?',
        body: 'Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.'
      },
      {
        title: 'Есть ли риск получить ожоги от процедуры горячим воском?',
        body: 'Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.'
      },
      {
        title: 'Какие еще риски в восковой депиляции?',
        body: 'Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.'
      },
      {
        title: 'Мне можно пользоваться скрабом перед процедурой? Нужно ли подготовить кожу, сделав пилинг?',
        body: 'Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.'
      },
      {
        title: 'Что мне выбрать между шугарингом и воском?',
        body: 'Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.'
      }
    ], true, 1)
