section.section.custom-block-answer-before
  .c-content-first
    .container
      .row
        .col-12.col-xl-6.order-1.order-xl-0
          .white-block-design
            p.extralarge-text-bg epilation
            img.w-100.mx-auto.mx-xl-0.mb-4.mb-xl-3(src="assets/img/shugaring-page/answer-before.jpg" alt="four-boxes-1" srcset="assets/img/shugaring-page/answer-before@2x.jpg 2x")
        .col-12.col-xl-6
          .c-content
            h2.h2-title.text-color-dark Как проходит процедура восковой депиляции
            .d-line.my-3
            p.paragraph-text.text-w-light.text-color-lightdark Восковая депиляция — быстрый способ избавиться от нежелательной растительности. Чтобы эффект был наиболее безопасным, с воском надо работать аккуратно и профессионально. Поэтому вместо домашних процедур доверьтесь специалистам Steffany, чтобы не подвергать депилируемые зоны риску возможных ожогов и вросших волос.
            p.paragraph-text.text-w-bold.text-color-lightdark Этапы процедуры

            .c-li.d-flex.align-items-center.mb-3
              .custom-icon-number.custom-bg-dark.mb-2
                p 1
              p.paragraph-text.text-w-light.text-color-lightdark.mb-2.ml-2 Подготовка
            p.paragraph-text.text-w-light.text-color-lightdark Для начала кожу нужно продезинфицировать и обезжирить. Для этого мастер обрабатывает кожный участок специальным средством и промакивает салфетками. После этого кожа готова к следующему, самому главному этапу.
  .c-content-second
    .container
      .row
        .col-12.col-xl-6.order-1.order-xl-0
          .c-content
            .c-li.d-flex.align-items-center.mb-3
              .custom-icon-number.custom-bg-dark.mb-2
                p 2
              p.paragraph-text.text-w-light.mb-2.ml-2 Удаление волос
            p.paragraph-text.text-w-light На подготовленную кожу мастер наносит разогретый до 40-60 градусов воск. Температура зависит от зоны, которую вы хотите депилировать. Благодаря такой температуре горячего воска область волосяного фолликула расширяется и волос легче поддается рывку.

            p.paragraph-text.text-w-light Мастер может наносить воск разными способами: деревянным шпателем или картриджем. Это также зависит от нужного вам участка депиляции.

            p.paragraph-text.text-w-light Воск наносится по направлению роста волос, а вырывается против роста волос. Это добавляет не очень приятных ощущений, зато проходит быстро.

            .c-li.d-flex.align-items-center.mb-3
              .custom-icon-number.custom-bg-dark.mb-2
                p 3
              p.paragraph-text.text-w-light.mb-2.ml-2 Успокоение
            p.paragraph-text.text-w-light Воск убрал все нежелательные волосы. Теперь нужно убрать с кожи остатки воска. Для этого мастер наносит на кожу специальное масло, а затем восстанавливающее средство, которое увлажняет и реабилитирует кожный покров после такой процедуры.
        .col-12.col-xl-6
          .white-block-design
            img(src="assets/img/shugaring-page/answer-before.jpg" alt="four-boxes-1" srcset="assets/img/shugaring-page/answer-before@2x.jpg 2x")


