section.section.block-answer-after-waxing
  .container
    .row
      .col-12.col-xl-6
        h2.h2-title.text-color-dark.mb-4 Противопоказания к депиляции воском
        p.paragraph-text.text-color-lightdark.text-w-light Восковая депиляция подходит не всем. В некоторых ситуациях воск может повлечь за собой осложнение или неприятную реакцию. Чтобы этого не случилось, прочитайте список ниже. Если же вы хотите убедиться наверняка, можно ли вам удалять волосы воском, приходите на консультацию. Мастер проведет поверхностный осмотр вашей кожи предполагаемой зоны и соберет информацию, которая поможет принять решение.
        ul.info-list
          li.paragraph-text.text-color-lightdark.text-w-light.mb-3 Открытые раны и другие повреждения кожи, которые нарушают ее целостность.

          li.paragraph-text.text-color-lightdark.text-w-light.mb-3 Варикозное расширение вен.

          li.paragraph-text.text-color-lightdark.text-w-light.mb-3 Регулярно врастающие волосы.

          li.paragraph-text.text-color-lightdark.text-w-light.mb-3 Воспаления и новообразования на коже.

      .col-12.col-xl-6
        img.w-100.mx-auto.mx-xl-0.mt-4.mt-xl-3(src="assets/img/shugaring-page/answer-after.jpg" alt="four-boxes-1" srcset="assets/img/shugaring-page/answer-after@2x.jpg 2x")


