section.section.block-answer-before
  .container
    .row
      .col-12.col-xl-6
        img.w-100.mx-auto.mx-xl-0.mb-4.mb-xl-3(src="assets/img/shugaring-page/answer-before.jpg" alt="four-boxes-1" srcset="assets/img/shugaring-page/answer-before@2x.jpg 2x")
      .col-12.col-xl-6
        .h2-title Как проходит процедура восковой депиляции
        .d-line.my-3
        p.paragraph-text.text-w-light Восковая депиляция — быстрый способ избавиться от нежелательной растительности. Чтобы эффект был наиболее безопасным, с воском надо работать аккуратно и профессионально. Поэтому вместо домашних процедур доверьтесь специалистам Steffany, чтобы не подвергать депилируемые зоны риску возможных ожогов и вросших волос.
        p.paragraph-text.text-w-bold Этапы процедуры

        .c-li.d-flex.align-items-center.mb-3
          .custom-icon-number.custom-bg-dark.mb-2
            p 1
          p.paragraph-text.text-w-bold.mb-2.ml-2 Подготовительный этап

        p.paragraph-text.text-w-light Для начала кожу нужно продезинфицировать и обезжирить. Для этого мастер обрабатывает кожный участок специальным средством и промакивает салфетками. После этого кожа готова к следующему, самому главному этапу.






