section.section.service-three-boxes-dark-theme
  .container
    h2.three-box-title.text-center.mb-4.mb-lg-5 Процедура восковой депиляции безопасна для вашего здоровья
    .row
      .col-12.col-xl-4
        .c-three-box
          .img-position
            img.d-img.img-position-01(src="assets/img/three-boxes/three-box-waxing-dark-1.png", alt="circle fether" srcset="assets/img/three-boxes/three-box-waxing-dark-1@2x.png 2x")
          p.bnf-number 01
          h4.h4-title.text-uppercase Используем одноразовые материалы
          p.paragraph-text.text-w-light Почти все материалы, которыми с вами работает мастер, принадлежат только вам. Деревянные шпатели, ватные диски, салфетки, бумажные восковые полоски. Все это утилизируется после вашего ухода
      .col-12.col-xl-4
        .c-three-box
          .img-position
            img.d-img.img-position-02(src="assets/img/three-boxes/three-box-waxing-dark-2.png", alt="circle fether" srcset="assets/img/three-boxes/three-box-waxing-dark-2@2x.png 2x")
          p.bnf-number 02
          h4.h4-title.text-uppercase Дезинфицируем вашу кожу
          p.paragraph-text.text-w-light Процедура восковой депиляции может быть немного травматичной. Если волосы слишком длинные и густые, после процедуры на коже могут выступить мельчайшие капли крови. Это не страшно, потому что ваша кожа и руки мастера дезинфицированы.
      .col-12.col-xl-4
        .c-three-box
          .img-position
            img.d-img.img-position-03(src="assets/img/three-boxes/three-box-waxing-dark-3.png", alt="circle fether" srcset="assets/img/three-boxes/three-box-waxing-dark-3@2x.png 2x")
          p.bnf-number 03
          h4.h4-title.text-uppercase Проверяем медкнижки наших мастеров
          p.paragraph-text.text-w-light У каждого из наших мастеров есть рабочая медкнижка, где они подтверждают свое здоровье и безопасность для клиентов. Мастера регулярно проходят медкомиссию и обновляют все необходимые для косметологической сферы осмотры.
