section.section.service-laser-whatToDo.pt-0
  .container
    h2.h2-title.text-color-lightdark.text-center Что делать до и после восковой депиляции
    .section-1
      .row
        .col-12.col-xl-5
          h3.todo-subtitle.text-color-dark.text-center.text-xl-right.mt-5.text-uppercase Как подготовиться
            span.light-span.text-uppercase
              |
              | к восковой депиляции
        .col-12.col-xl-5.offset-xl-2.d-none.d-xl-block
          h3.todo-subtitle.text-color-dark.text-xl-left.mt-5.text-uppercase Что делать после
            span.light-span.text-uppercase
              |
              | восковой депиляции
      .row.custom-row-height.d-flex.mb-5.mb-xl-0
        .col-xl-5.d-none.d-xl-flex.order-xl-3.custom-pt-text
          p.paragraph-text.text-color-dark.text-left.mb-0
            | Пару дней после процедуры <b>не нужно ходить в сауну, баню, солярий.</b> Кожа после воска должна прийти в себя.
        .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-1.order-1.order-xl-2.order-1
        .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
          p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
            | Перед восковой депиляцией следует отрастить волосы на нужной зоне до нужной длины. Длина волос должна быть <b>минимум 0,5 мм.</b>  Более короткие волосы не поддадутся воску, поэтому важно прийти на процедуру с нужной длиной.
      .row.custom-row-height.d-flex
        .col-xl-5.d-none.d-xl-flex.order-xl-3.custom-pt-text
          p.paragraph-text.text-color-dark.text-left.mb-0
            | В этот же период <b>не нужно загорать на солнце</b> и пользоваться <b>автозагаром</b>.
        .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-2.order-1.order-xl-2.order-1
        .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
          p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
            | Постараться не <b>травмировать кожный покров</b> в депилируемой зоне. На коже не должно быть ранок, ссадин, царапин и других повреждений.
      .row.custom-row-height.d-flex
        .col-xl-5.d-none.d-xl-flex.order-xl-3.custom-pt-text
          p.paragraph-text.text-color-dark.text-left.mb-0
            | Если кожа кажется вам сильно покрасневшей или опухшей, намажьте ее <b>аптечным Пантенолом</b>. Как правило, такое происходит после первого в жизни ваксинга. Спустя несколько процедур кожа привыкает и реагирует на воск более спокойно.
        .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-3.order-1.order-xl-2.order-1
        .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
          p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
            | Если хотите <b>снизить болевые ощущения</b>, планируйте процедуру в первую неделю после критических дней. В это время у вас увеличится болевой порог и процедура будет намного терпимее.
    .section-2.d-block.d-xl-none
      .row
        .col-12
          h3.todo-subtitle.text-color-dark.text-center.mt-5.text-uppercase Что делать после
            span.light-span.text-uppercase
              |
              | восковой депиляции
      .row.custom-row-height.d-flex
        .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-1.order-1.order-xl-2.order-1
        .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
          p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
            | Пару дней после процедуры <b>не нужно ходить в сауну, баню, солярий</b>. Кожа после воска должна прийти в себя.
      .row.custom-row-height.d-flex
        .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-2.order-1.order-xl-2.order-1
        .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
          p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
            | В этот же период <b>не нужно загорать на солнце</b> и пользоваться <b>автозагаром</b>.
      .row.custom-row-height.d-flex
        .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-3.order-1.order-xl-2.order-1
        .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
          p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
            | Если кожа кажется вам сильно покрасневшей или опухшей, намажьте ее <b>аптечным Пантенолом</b>. Как правило, такое происходит после первого в жизни ваксинга. Спустя несколько процедур кожа привыкает и реагирует на воск более спокойно.
