

section.section.service-laser-service-list.nano-service-list
  .container
    .row.main-block
      .col-12.col-xl-8.d-flex.flex-column.align-items-center.left.custom-py-services-price.woman-symbol-bg
        .checkbox-wrapper
          input(type="checkbox" class="checkbox" id="checkboxServiceList")
        .service-list-group.mt-4.d-flex.flex-column.justify-content-center.align-items-center
          - let arrServiceWaxingFemale = [{"id": 1415174,"title": " Верхняя губа"}, { "id": 1415177, "title": " Подбородок", }, { "id": 1415179, "title": "Руки", }, { "id": 1415178, "title": "Подмышки", }, { "id": 1415172, "title": "Белоя линия живота", }, { "id": 1415175, "title": "Глубокое бикини", }, { "id": 1415173, "title": " Бикини", }, { "id": 1415176, "title": " Ноги", }, { "id": 1415180, "title": "Голени", }, { "id": 3293896, "title": " Ягодицы", }, { "id": 3293903, "title": " Живот", }, { "id": 3293907, "title": " Поясница", }, { "id": 3293912, "title": " Скулы", }, { "id": 3828379, "title": " Грудь", }, { "id": 3942706, "title": " Бедро частично", }, { "id": 4430902, "title": " Уши", }, { "id": 4430917, "title": " Брови", }, { "id": 4430933, "title": "Нос", } ]
          - let arrServiceWaxingMale =[{"id": 1415174,"title": " Верхняя губа"}, { "id": 1415177, "title": " Подбородок", }, { "id": 1415179, "title": "Руки", }, { "id": 1415172, "title": "Белоя линия живота", }, { "id": 1415175, "title": "Глубокое бикини", }, { "id": 1415173, "title": "Бикини", }, { "id": 1415176, "title": "Ноги", }, { "id": 1415180, "title": "Голени", }, { "id": 3293896, "title": "Ягодицы", }, { "id": 3293907, "title": " Поясница", }, { "id": 3293912, "title": " Скулы", }, { "id": 3942706, "title": " Бедро частично", }, { "id": 4430902, "title": " Уши", }, { "id": 4430917, "title": " Брови", }, { "id": 4430933, "title": " Нос", },{ "id": 1415198, "title": " Спина",},{ "id": 1415197, "title": " Подмышки",},{ "id": 1415196, "title": "Живот",},{ "id": 1415195, "title": "Грудь",},]
          .list-female
            .checkbox-group.pb-4
              each service in arrServiceWaxingFemale
                .checkbox-row.d-flex.align-items-start.justify-content-between.py-2(id=service.id data-sex='0')
                  .column-right.d-flex.align-items-start
                    +defaultCheckbox('dark')
                    p.paragraph-text.text-color-lightdark.ml-3.mb-0 #{service.title}
                  .column-left
                    p.paragraph-text.text-color-lightdark.mr-3.mb-0.item-time
                    p.paragraph-text.text-color-lightdark.mb-0.font-weight-bold.item-price
          .list-male.hidden
            .checkbox-group.pb-4
              each service in arrServiceWaxingMale
                .checkbox-row.d-flex.align-items-start.justify-content-between.py-2(id=service.id data-sex='1')
                  .column-right.d-flex.align-items-start
                    +defaultCheckbox('dark')
                    p.paragraph-text.text-color-lightdark.ml-3.mb-0 #{service.title}
                  .column-left
                    p.paragraph-text.text-color-lightdark.mr-3.mb-0.item-time
                    p.paragraph-text.text-color-lightdark.mb-0.font-weight-bold.item-price


      .col-12.col-xl-4.right.custom-py-services-price.d-none.d-xl-block
        .stash.d-flex.flex-column.align-items-center.pb-5
          .sale-container.d-flex.flex-column.align-items-center
            h4.sale-title.text-color-white Вы выбрали такие зоны:

          div(class="choosenServices").scrollbar.checkbox-group.d-flex.flex-column.align-items-center.mt-4.pb-4

          .price-group.d-flex.justify-content-between
          .price-count
            .price-block.d-flex.justify-content-start
              img(src="assets/img/laser-page/time.svg")
              span.paragraph-text.text-w-bold.text-color-white.ml-2.serviceListTime 0 мин
            .price-block.d-flex.justify-content-end
              img(src="assets/img/laser-page/price.svg")
              span.paragraph-text.text-w-bold.text-color-white.ml-2.serviceListSum 0 грн
          .c-btn.d-flex.justify-content-between.w-332
            .button.btn-first.btn-simple.svg.caset(data-toggle='modal', data-target='#modalServiceListPay')
              .text-section
                +casetSvg
                span оплатить
            .button.btn-second.btn-simple.svg.pen(data-toggle='modal', data-target='#modalServiceListSinugUp')
              .text-section
                +penSvg
                span записаться


section.section.service-laser-service-list-tablet3.d-flex.d-xl-none.py-0.flex-column

  .sale-container.d-flex.flex-column.align-items-center
    h4.sale-title.text-color-white Вы выбрали такие зоны:

  .container.drop-content.hidden.scaleY
    .c-content
      div(class="choosenServices").scrollbar.checkbox-group.d-flex.flex-column.align-items-center.mt-4.pb-4
      .price-count.d-flex.justify-content-between
        span.paragraph-text Общее время
        .price-block.d-flex.justify-content-start
          img.mb-1(src="assets/img/laser-page/time.svg")
          span.paragraph-text.text-w-bold.text-color-white.ml-2.serviceListTime 0 мин
.bottom-content.d-flex.flex-column.align-items-center.flex-md-row.justify-content-md-center.d-xl-none
  .container
    .row
      .col-12.col-md-6.d-flex.justify-content-between.justify-content-md-center.mb-4.mb-md-0
        p.paragraph-text.d-inline-flex.align-items-center.mr-5.mb-0.drop-menu Список услуг
          svg.icon.icon-arrow(width='13', height='7', viewBox='0 0 13 7', xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M5.16693 6.68549L0.314506 1.83307C-0.104835 1.41373 -0.104835 0.733846 0.314506 0.314506C0.733846 -0.104835 1.41373 -0.104835 1.83307 0.314506L6.18447 4.66591L10.5359 0.314506C10.9552 -0.104835 11.6351 -0.104835 12.0544 0.314506C12.4738 0.733846 12.4738 1.41373 12.0544 1.83307L7.20202 6.68549C6.92614 6.96137 6.53751 7.05575 6.18447 6.96864C5.83144 7.05575 5.4428 6.96137 5.16693 6.68549Z')
        .d-flex
          img.mr-2.mb-1(src="assets/img/laser-page/price.svg")
          span.serviceListSum.paragraph-text.d-inline-flex.align-items-center.font-weight-bold.mr-md-5.mb-0 0 грн.
      .col-12.col-md-6
        .c-btn
          .button.btn-first.mr-md-4.btn-simple.svg.caset(data-toggle='modal', data-target='#modalServiceListPay')
            .text-section
              +casetSvg
              span оплатить
          .button.btn-second.btn-simple.svg.pen(data-toggle='modal', data-target='#modalServiceListSinugUp')
            .text-section
              +penSvg
              span записаться

