section.section.service-three-boxes-waxing
    .container
      h3.three-box-title.text-color-lightdark.text-center.mb-4.mb-lg-5 Восковая депиляция имеет свои явные плюсы
      .row
        .col-12.col-xl-4
          .c-three-box
            .img-position
              img.d-img.img-position-01(src="assets/img/three-boxes/three-box-shugarin-1.png", alt="circle fether" srcset="assets/img/three-boxes/three-box-shugarin-1@2x.png 2x")
            p.bnf-number.text-color-lightdark 01
            h4.h4-title.text-color-lightdark.text-uppercase Нет раздражений и щетины
            p.paragraph-text.text-color-lightdark.text-w-light После привычного удаления волос бритвенным станком разница очевидна. На коже не появляются раздражения и жесткие волоски, зона депиляции не начинает чесаться. Кожа несколько недель остается гладкой.
        .col-12.col-xl-4
          .c-three-box
            .img-position
              img.d-img.img-position-02(src="assets/img/three-boxes/three-box-shugarin-2.png", alt="circle fether" srcset="assets/img/three-boxes/three-box-shugarin-2@2x.png 2x")
            p.bnf-number.text-color-lightdark 02
            h4.h4-title.text-color-lightdark.text-uppercase Волосы истончаются и редеют
            p.paragraph-text.text-color-lightdark.text-w-light Когда волосы начинают отрастать, они делают это мягко. Волоски более тонкие и редкие. Уходит жесткость и возможный зуд. Если регулярно удалять воском волосы в нужной зоне, такой эффект будет развиваться.
        .col-12.col-xl-4
          .c-three-box
            .img-position
              img.d-img.img-position-03(src="assets/img/three-boxes/three-box-shugarin-3.png", alt="circle fether" srcset="assets/img/three-boxes/three-box-nano-3@2x.png 2x")
            p.bnf-number.text-color-lightdark 03
            h4.h4-title.text-color-lightdark.text-uppercase Процедура проходит супер-быстро
            p.paragraph-text.text-color-lightdark.text-w-light Восковая депиляция максимально быстрая по сравнению с другими салонными способами удаления волос. К примеру, сахарная паста делает ноги гладкими за полтора часа. Воск справляется с этой же задачей за 40 минут.


