.conteiner-s
  max-width: 860px !important
  padding-left: 15px
  padding-right: 15px
.course-info
  background: 
    image: url("../assets/img/padalogy/learning/course-info-bg.png")
    size: cover
    position: top left
    repeat: no-repeat
  padding: 57px 0 64px
  .info-list-item
    position: relative
    padding-left: 20px !important
    &:before
      position: absolute
      left: 3px
      top: 9px
      content: ''
      width: 4px
      height: 4px
      background: $breadcrump-color
      border-radius: 50%
h2.section-title-small
  padding-bottom: 2px
.extrabold
  font-family: $Circe
  font-weight: 900
.course-info-titles
  position: relative
  p
    position: relative
    z-index: 2
    &.extrabold
      text-transform: uppercase
  &::before
    content: ''
    position: absolute
    z-index: 1
    display: block
    top: -28px
    left: -37px
    width: 109px
    height: 109px
    background: #D3E1EC
    border-radius: 100%
    opacity: 0
.course-info-cnt
  .info-list-item
    padding-bottom: 26px !important
@media(max-width: 991px)
  .course-info
    background: #EBF4FB
@media(max-width: 767px)
  .course-info-titles::before
    opacity: 1
  .course-info-cnt
    max-width: 437px
    .l-one
      padding-bottom: 60px !important