section.section.category
  .wrapper--dark
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-18.png" alt="cat-item-18")
              .wrapper
                span Незручне взуття
            p Тісне закрите взуття — <strong>причина багатьох проблем зі стопою</strong>, в тому числі тріщин на п'ятах. Коли взуття передавлює шкіру, тиск від ходьби розподіляється по стопі нерівномірно і шкіра тріскається.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-19.png" alt="cat-item-19")
              .wrapper
                span Надмірний пілінг
            p Тріщини на п'ятах непросто прибрати в домашніх умовах. Багато пацієнтів тільки посилюють проблему, коли намагаються позбутися тріщин за допомогою пемзи, пилок або леза для гоління. Так вони порушують цілісність шкіри, надають зайве тертя, що призводить до розриву міжклітинних зв'язків.
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-20.png" alt="cat-item-20")
              .wrapper
                span Деякі захворювання
            p Тріщини на п'ятах <strong>можуть стати наслідком</strong> деяких захворювань: цукрового діабету, залізодефіцитної анемії, грибкових інфекцій, дерматиту, гіпергідрозу (підвищеного потовиділення) і гормонального дисбалансу в організмі людини.
  .wrapper--dark--reversed
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-21.png" alt="cat-item-21")
              .wrapper
                span Відкрите взуття
            p Відкрите взуття або ходіння босоніж <strong>провокують сухість шкіри</strong>. Вона грубіє, і без регулярного зволоження швидко тріскається.
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-25.png" alt="cat-item-22")
              .wrapper
                span Порушення ліпідної мантії і зниження захисної функції шкіри
            p Цераміди — це міжклітинний «цемент». Вони виробляються в організмі і поширюються між верхніми шарами шкіри, роблячи її гладкою. Тільки-но в організмі порушується вироблення ліпідів, шкіра починає лущитися і втрачає гладкість, а це може призвести до утворення тріщин.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-23.png" alt="cat-item-23")
              .wrapper
                span Нестача вітамінів
            p За еластичність і молодість шкіри відповідають вітаміни А та Е. Якщо не отримувати їх з продуктами харчування, шкіра всього тіла і зокрема п'ят <strong> може сохнути. </strong> Навіть якщо наносити на неї зволожуючі креми і регулярно робити педикюр. Спеціалісту-подологу важливо розуміти причину проблеми, щоб призначити правильне лікування.
  .wrapper--light
      .container.very-special-container
        .row.very-special-row
          .col-12.light-block
            .centered-content.info-section
              .row
                img(src="assets/img/cat-item-24.png" alt="cat-item-24")
                .wrapper
                  span Частий контакт з водою
              p Ще одна причина надмірної сухості — часті водні процедури у жорсткій воді з-під крану або у хлорній воді басейну. Це теж травмує шкіру, якщо не зволожувати її. Люди, які працюють у мокрому середовищі (басейнах і саунах), сильно схильні до різних інфекцій шкіри і нігтів, бо бар'єрна функція шкіри перестає працювати через 15 хвилин перебування у мокрому середовищі.Наша шкіра має здатність самоочищення: в перші 10 хвилин вона виводить і віддає воді накопичені продукти переробки, шлаки і токсини. Однак через 15 хвилин шкіра починає приймати все назад, додаючи до цього бактерії з води, бо бар'єрна функція не працює.

