section.section.advantages-spec.pb-0
  .container
    h2.text-center.dark-blue.mb-65 На процедуре в Steffany полностью стерильно
    +numberedSection('Повітря в приміщенні очищається фільтрами', 'Рециркулятори і бактерицидні опромінювачі закритого типу фільтрують повітря в приміщенні центру. Також апарати, які працюють зі шкірою стоп і нігтями, оснащені вбудованими пилососами. Вони всмоктують весь пил і алергени прямо під час роботи.',
      'Інструменти стерилізуються після кожного пацієнта', 'Інструменти знезаражують в ультразвукових боксах із дезинфікуючим розчином широкого спектру дії. Під його дією інструменти повністю очищаються від бактерій, вірусів і грибків. Після цього їх промивають і просушують.',
      'Інструменти в крафт-пакетах розкривають при вас', 'Останній етап стерилізації інструменти проходять в паровому автоклаві класу В при двох атмосферах парового тиску при температурі 134 градусів. Вони знаходяться в крафт-пакетах, у яких є індикатор, який змінює колір при повній стерилізації.',
      'Кабінет дезінфікують перед вашим візитом', 'Після кожного прийому спеціалісти дезінфікують усі поверхні в кабінеті, у тому числі крісло, тумби, лампи і апарати. Також в центрі проводять регулярні прибирання: на початку і наприкінці дня звичайне прибирання, раз на тиждень — генеральне.'
      )
