section.section-services.circles-bg
  .container
    .row
      .col.pt-4.d-flex.flex-column.align-items-center
        h3.section-title-services.mb-4.text-dark-1.text-center Ми співпрацюємо із незалежною медичною лабораторією IMD
        .services-treatment-divider.mb-4
        p.paragraph-text.text-dark-1.text-center.mb-4.mb-md-5.custom-px-2.w-200 Ми працюємо із доказовою базою, тому відправляємо в лабораторію ваші аналізи і тільки після цього призначаємо індивідуальне лікування
        p.paragraph-text.text-dark-1.text-center.mb-0.custom-px-2.w-200 Ми працюємо з Інститутом мікробіологічних досліджень (IMD). Це незалежна лабораторія в Києві, яка за допомогою найпотужнішого апарату масспектрометру зі 100%-ю точністю визначає вид грибкової інфекції пацієнта і його чутливість до антибіотиків і антимікотиків (дерматологічних протигрибкових засобів).


        
