section.section-services.symptoms-container.pb-0
  .row.section-bg-dark.feets-and-hands-bg-img-mobile
    .container.feets-and-hands-bg-img-desktop
      .row.section-services-treatment-row-padding
        .col-xl-6
          h3.text-uppercase.section-title-services.text-color-light.mb-4(style="font-size: 14px;") Як проходять дослідження
          p.paragraph-text.w-200(style="font-size: 16px;") Для проведення дослідження лабораторія спочатку «вирощує» культуру грибка в спеціальному середовищі протягом 21 дня. Завдяки цьому лабораторія може швидко отримати всі необхідні для лікування грибка дані. Щоб «виростити» культуру грибка, лабораторія використовує поживні середовища французького бренду <strong>bioMerieux</strong>.
          p.paragraph-text.mb-4.w-200(style="font-size: 16px;") Фахівці лабораторії висівають кожен зразок одночасно в 4-6 середовищах. Завдяки цьому вони за мінімальний проміжок часу визначають максимальний склад мікроорганізмів, які знаходяться в зразку.
          p.paragraph-text.mb-4.w-200(style="font-size: 16px;") У лабораторії працюють із <strong>масспектрометром</strong> — апаратом, який за 2-3 хвилини визначає культуру грибка. Похибка такого тесту дорівнює нулю.
          p.paragraph-text.mb-4.w-200(style="font-size: 16px;") Також у лабораторії використовують <strong>люмінесцентний мікроскоп</strong>, який також виключає похибки.
          p.paragraph-text.mb-4.w-200(style="font-size: 16px;") Методи досліджень в <strong>лабораторії IMD</strong> дозволяють отримати максимально точну інформацію про характер грибка пацієнта. Лабораторія розрізняє такі дані:
          ul.list-blue-bullets.paragraph-text
            li.mb-3.text-white <strong>1101</strong> вид бактерій;
            li.mb-3.text-white <strong>95</strong> видів міцеліальних грибків;
            li.text-white <strong>120</strong> видів дріжджоподібних грибків.

