section.section
  .container
    h2.text-center.dark-blue На прийомі подолога ви перебуваєте в абсолютної стерильності
    +numberedSection(
        'Ви дихаєте очищеним повітрям', 'Повітря у приміщенні очищують рециркулятор і бактерицидні опромінювачі закритого типу. Також апарати, які працюють зі шкірою і нігтями стоп, оснащені вбудованими пилососами. Вони всмоктують весь пил і алергени прямо під час роботи і роблять повітря гіпоалергенним.',
        'Фахівці стерилізують інструменти після кожного прийому', 'Інструменти знезаражуються в ультразвукових боксах із дезинфікуючим розчином широкого спектру дії. Під його дією інструменти повністю очищуються від будь-яких бактерій, вірусів і грибків. Після цього їх промивають і просушують.',
        'Інструменти розкривають при вас', 'Останній етап стерилізації інструменти проходять у паровому автоклаві класу В при двох атмосферах парового тиску при температурі 134 градусів. Вони знаходяться в крафт-пакетах, у яких є індикатор, який змінює колір при повній стерилізації.',
        'Перед вами дезінфікують кабінет', 'Після кожного прийому фахівці дезінфікують усі поверхні в кабінеті, у тому числі крісло, тумби, лампи і апарати. Також у центрі проводять регулярні прибирання: на початку і наприкінці дня проходить звичайне прибирання, а раз на тиждень — генеральне.')
