section.section.treatment-fungus
  .container
    h2.text-center Лікування грибка нігтів на руках і ногах
    p.text-center Якими засобами ми лікуємо грибок
    .container.d-flex.flex-wrap.list-section
      .col-12.col-lg-6
        h2.mb-4.text-uppercase Який вид засобів ми використовуємо
        p.text-w-bold.mb-4 Космецевтичні засоби
        p.special-line-height Грибок — це наполовину медична, наполовину естетична проблема. Тому ми обробляємо уражені грибком зони космецевтичними засобами. Космецевтика — це засоби, які поєднують у собі косметичні та фармацевтичні компоненти. Такі засоби вузькоспеціалізовані і діють на конкретні проблеми. Тому тільки фахівець може підібрати потрібний засіб для лікування грибка нігтів ніг.
        p.text-w-bold.mb-4 Медикаментозне лікування
        p.special-line-height У разі необхідності наші лікарі призначать вам медикаментозну схему лікування. Для цього вам буде потрібно здати аналіз і отримати його результати.
        p.text-w-bold.mb-4 Апаратне лікування
        p.special-line-height Грибки формують так звані біоплівки, які є щитом їх захисту від проникнення медикаментів. Давно помічено, що при щомісячній апаратній обробці уражених ділянок ефективність і швидкість лікування підвищується в рази, тому що біоплівки грибка руйнуються і препарати діють більш ефективно.
      .col-12.col-lg-6
        h2.mb-4.text-uppercase Бренди засобів для лікування грибка
        p.special-line-height Уся космецевтика в центрі здоров'я ніг Steffany — це сертифіковані засоби європейських виробників, а саме:
        ul
          ul.info-list
            li
              p
                strong Suda (Німеччина);
            li
              p
                strong Gehwol (Німеччина);
            li
              p
                strong Podopharm (Польща);
            li
              p
                strong Peclavus (чиста органіка з Німеччини);
            li
              p
                strong Kart (Ізраїль);
            li
              p
                strong ADN (Ізраїль);
            li
              p
                strong Veratin (Польща).
        p Всі ці засоби ви можете придбати в наших центрах, якщо спеціаліст-подолог порекомендує їх для щоденного догляду або профілактики грибкових захворювань.
