section.section.podology-services.arrows
  .container.feet-section
    .col-sm-12.col-lg-6.item.mb-4
      .c-content
        h3.dark-blue Профілактичны послуги
        a(href="./prevention.html").button-forward
    .col-sm-12.col-lg-6.item.mb-4
      .c-content
        h3.dark-blue Грибок та оніхомікоз
        a(href="./nail-fungus-treatment.html").button-forward
    .col-sm-12.col-lg-6.item.mb-4
      .c-content
        h3.dark-blue Обробка тріщин
        a(href="./cracking.html").button-forward
    .col-sm-12.col-lg-6.item.mb-4
      .c-content
        h3.dark-blue Видалення мозолів та бородавок
        a(href="./warts-treatment.html").button-forward
