section.section.diploma-list
  .container.container-m.slider-wrap
    .d-flex.justify-content-center.align-items-center.mb-5
      h2.white-text Сертифікати та нагороди Steffany Podology
    .row.no-gutters
      .dilpomas-slider.owl-carousel.slider-block.slider-pad
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate1.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate2.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate3.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate4.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100.nav-callback
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate5.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate6.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate7.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate8.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate9.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate10.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate11.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate12.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate13.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate14.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate15.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate16.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate17.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate18.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate19.jpg", alt="Certificate")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/cerfificate20.jpg", alt="Certificate")
