section.section.about-page-section-laser
  .container
    .row
      .col-12.col-xl-6
        .c-content
          h2.h2-title.text-color-lightdark
            |Лазерная эпиляция
            br
            |в Steffany
          .d-line
          p.paragraph-text.text-color-lightdark.text-w-light.mb-3.position Удалить нежелательные волосы и надолго забыть об их существовании хотят многие девушки. Только когда они решаются на процедуру, сталкиваются со множеством ограничений. Два недели до процедуры не загорать, две недели после не загорать. А во время процедуры терпеть боль, после которой на следующий сеанс уже не хочется.
          p.paragraph-text.text-color-lightdark.text-w-light.mb-1 Нам это тоже надоело. Поэтому в Steffany Lazer & Cosmetology эпиляцию проводят <b>лазером нового поколения</b>, который удаляет волосы быстро, без боли и в любое время года.
      .col-12.col-xl-6
        .white-block-design
          img(src="assets/img/laser-page/about-page-img.jpg" alt="position-img-1" srcset="assets/img/laser-page/about-page-img@2x.jpg 2x")
          p.extralarge-text-bg laser epila



