.info-block.info-block-6.info-block-6-1.info-block-6-2.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.mob-hidden-item
          img.w-100(src="./assets/img/infoblock/item-24.jpg", srcset="./assets/img/infoblock/item-24@2x.jpg 2x",  alt="item")
        .col.col-info.order-1.no-bg-blk
          h2.section-title.border-el Почему стоит доверять стрижку мастерам <br/> Steffany  
          ul.info-list
            li.thin-text.mb-15 Колоссальный опыт и профессионализм наших мастеров. 
            li.thin-text.mb-15 Индивидуальный подход. Вам не только освежат прическу, но и подберут идеальную стрижку, учитывая ваши пожелания, структуру волос и типаж внешности.
            li.thin-text.mb-15 Блестящий результат. После выхода из Steffany с каждым разом вы начнете любить себя все больше и больше.
          p.thin-text Говорят, идеальная женская стрижка – один из компонентов «эликсира молодости». Если подобрать стрижку правильно, вы больше не захотите экспериментов, потому что с ней вы в любом возрасте будете выглядеть роскошно! Хотите знать, какая стрижка именно «ваша»? Приходите в Steffany на запись, мы обсудим и испробуем лучшие варианты вместе, а когда найдем вашу — обещаем, вы больше не захотите ее менять!
      span.big-text.mob-hidden-item hair  