.benefits.serviceBenefits.doubleBnf
  .container
    .row.no-gutters
      h2.section-title.h-center.white-text Почему иногда стоит заглядывать в салон
    .row.no-gutters
      .section-subtitle.h-center.white-text Несколько причин доверить уход и окрашивание профессиональным мастерам
    .row.no-gutters
      .bnf.bnf-two.col-lg-6.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img(src="./assets/img/bnf/item-8.png", srcset="./assets/img/bnf/item-8@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 01
          .bnf-title.white-text Стерилизуем рабочее место к <br/> каждой процедуре
          p.thin-text.white-text Перед каждой процедурой мастер обязательно обрабатывает руки дезинфицирующим раствором АХД-2000. Также мы обрабатываем расчески, ножницы и полотно машинки ватным спонжем, смоченным в растворе Бланидас
      .bnf.bnf-two.col-lg-6.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img(src="./assets/img/bnf/item-11.png", srcset="./assets/img/bnf/item-11@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 02
          .bnf-title.white-text Дезинфицируем инструменты <br/> в растворе
          p.thin-text.white-text После каждой стрижки мы ополаскиваем инструменты проточной водой, затем опускаем в дезинфицирующий раствор Бланидас 0,2% на 10-15 минут, и снова моем под проточной водой. Это делает их чистыми и готов к следующему использованию