.benefits.serviceBenefits.pt-5
  .container.pt-5
    .row.no-gutters
      .section-title.h-center В салоне вас ждет профессиональная стрижка и уход
    .row.no-gutters
      .bnf.bnf-two.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-img
          img(src="./assets/img/bnf/item-5.png", srcset="./assets/img/bnf/item-5@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-lightdark 01
          .bnf-title.text-lightdark Подбираем средства <br/> под ваши волосы
          p.thin-text.text-lightdark Для каждого типа волос предназначены абсолютно разные укладочные средства. В нашем салоне действительно большой выбор косметики, чтобы мастер подобрал лак, пенку, флюид или спрей специально для ваших волос. Благодаря этому вы получите нужный вам результат 
      .bnf.bnf-two.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-img
          img(src="./assets/img/bnf/item-6.png", srcset="./assets/img/bnf/item-6@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-lightdark 02
          .bnf-title.text-lightdark Выполняем стрижки<br/> любой сложности
          p.thin-text.text-lightdark Наши мастера делают стрижки женские для любой длины волос. Приходите с любым пожеланием по стрижке. Наши мастера воплотят его, учитывая форму вашей головы, черты лица и тип волос. Также в стоимость стрижки входит легкая укладка феном, которая подчеркнет красоту новой стрижки
      .bnf.bnf-two.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-img
          img(src="./assets/img/bnf/item-7.png", srcset="./assets/img/bnf/item-7@2x.png 2x", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-lightdark 03
          .bnf-title.text-lightdark Готовим к важным <br/> событиям
          p.thin-text.text-lightdark Помимо повседневных укладок и стрижек вы можете сделать у нас прическу, укладку или накрутку для торжественного события, в том числе свадьбы или выпускного. Если вы планируете сложную прическу, обязательно приходите на пробную процедуру