.info-block.info-block-7.info-block-7-1.info-block-7-8.light-purple-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk
          p.p-bold.pb-20.white-text Гарантия идеальной стрижки — это:
          ul.info-list.mb-15
            li.p-text.thin-text.white-text.mb-15 Качественные инструменты
            li.p-text.thin-text.white-text.mb-15 Соблюдение норм и стерильности
            li.p-text.thin-text.white-text.mb-15 Хорошее настроение
            li.p-text.thin-text.white-text Ваш личный мастер в «Steffany»
          p.thin-text.white-text.mb-15 Каждая девушка знает, что одно из условий здоровых и ухоженных волос — это регулярное обновление стрижки. Скажите «нет» посеченным кончикам! Полировка волос освежит ваш внешний вид и придаст волосам здоровый блеск.
          p.p-bold.white-text Steffany — идеальное сочетание цены, условий и результата, ведь вы достойны лучшего!
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-23.jpg",  alt="item")
