.info-block.info-block-8.info-block-8-3
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-start.no-gutters
      .col.col-img.order-1
        img.w-100(src="./assets/img/infoblock/item-27.jpg", srcset="./assets/img/infoblock/item-27@2x.jpg 2x", alt="item")
      .col.col-info.order-2
        h2.section-title.mb-35 Почему стоит доверить прическу мастерам Steffany
        ul.info-list.mb-25
          li.p-text.thin-text.mb-15 Потому что в салоне Steffany работают настоящие укротительницы фенов и брашингов. Они сумеют вмиг обуздать ваши копны волос, превратив их в роскошную укладку, и все это по приятной цене.
          li.p-text.thin-text.mb-15 Потому что наши мастера всегда в курсе последних тенденций современных причесок на короткие и длинные волосы.
          li.p-text.thin-text Потому что Steffany — это то место, куда обязательно нужно заскочить перед важным событием. 
        p.p-text.thin-text.mb-15 Иногда сделать простую, но аккуратную и красивую прическу на выпускной бал или свадьбу — совсем непростая задача. Доверьтесь профессионалам и ловите на себе взгляды каждый миг!