.info-block.info-block-9.info-block-9-1.infoblock-words-bg
  .container
    .row.d-flex.flex-column.flex-lg-row.align-items-center.justify-content-center.justify-content-lg-between.no-gutters
      .col-12.col-xl-6.col-info.order-1.no-bg-blk
        h2.section-title.mb-25 Прически
        p.mb-15.thin-text Любая прическа должна быть произведением искусства, оставаясь при этом гармоничной частью всего вашего образа.
        p.mb-15.thin-text Независимо от того, какое торжественное событие предстоит, будь то выпускной бал, праздничный ужин или же корпоративный праздник, исключительно важно продумать свой образ вплоть до мелочей. Изысканное платье, безупречный макияж, превосходный маникюр и, конечно же, блестящая прическа на средние волосы от Steffany. Теперь весь мир у ваших ног!
        a.btn-callback
          .text-section
            +penSvg
            span записаться
          .arrow-section
            +arrowSvg
      .col-12.col-xl-6.d-none.d-xl-block.col-img.order-2
        img.w-100(src="./assets/img/infoblock/item-25.jpg", alt="item")
