section.section.map
  .container
    .row.no-gutters
      .col-12.col-xl-6.pr-xl-5.mb-5.mb-xl-0.mx-auto.mx-xl-0.px-15.justify-content-center.map-cnt.mb-4
        p.paragraph-text.text-color-dark.text-w-bold.text-uppercase.mb-4.city-dynamic
        .row.no-gutters.mb-5
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-phone(src="assets/icon/phone-black.svg" alt="h-map")
                a.paragraph-text.text-color-dark.text-color-dark(href="tel:0980070753").telephone-dynamic
              .col-12.d-flex.align-items-center.mb-3.mb-sm-0.height-25.ultra-spec-mb
                img.icon.icon-mail(src="assets/icon/common/mail.svg" alt="h-map")
                a.paragraoh-text.text-color-dark(href="mail-to:info@steffany.ua") info@steffany.ua
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-loc(src="assets/icon/common/map.svg" alt="h-map")
                p.paragraph-text.text-color-dark.thin-text.address-dynamic
              .col-12.d-flex.align-items-center.height-25
                img.icon.icon-time(src="assets/icon/common/time.svg" alt="h-map")
                p.paragraph-text.text-color-dark.schedule-dynamic
        .row.no-gutters.mb-5
          .video.video-overlay
          a.video.d-flex.align-items-center.justify-content-center
            img.w-100.image-about-dynamic(src="assets/img/cabinet-2.png", alt="about-video")
            img(src="assets/icon/common/play-video.png" alt="Play video button").custom-play-btn
        .row.no-gutters
          +customBtn('подробнее про салон')(data-role="href" data-link="./salon" id="details1")
      .col-12.col-xl-6.mapped.map-dynamic
  .row.no-gutters.small-map.map-dynamic
