section.section.map
  .container
    .row.no-gutters
      .col-12.col-xl-6.pr-xl-5.mb-5.mb-xl-0.mx-auto.mx-xl-0.px-15.justify-content-center.map-cnt.mb-4
        p.paragraph-text.text-color-dark.text-w-bold.text-uppercase.mb-4 Житомир
        .row.no-gutters.mb-5
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-phone(src="assets/icon/phone-black.svg" alt="h-map")
                a.paragraph-text.text-color-dark.text-color-dark(href="tel:0980070753") 098 180 10 88
              .col-12.d-flex.align-items-center.mb-3.mb-sm-0.height-25.ultra-spec-mb
                img.icon.icon-mail(src="assets/icon/common/mail.svg" alt="h-map")
                a.paragraoh-text.text-color-dark(href="mail-to:info@steffany.ua") info@steffany.ua
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-loc(src="assets/icon/common/map.svg" alt="h-map")
                p.paragraph-text.text-color-dark.thin-text Площадь Путятинская, 1/63
              .col-12.d-flex.align-items-center.height-25
                img.icon.icon-time(src="assets/icon/common/time.svg" alt="h-map")
                p.paragraph-text.text-color-dark 9:00 – 20:00
        .row.no-gutters.mb-5
          .video.video-overlay
          a.video.d-flex.align-items-center.justify-content-center
            img.w-100(src="assets/img/cabinet-2.png", alt="about-video")
            img(src="assets/icon/common/play-video.png" alt="Play video button").custom-play-btn
        .row.no-gutters
          +customBtn('подробнее про салон')(data-role="href" data-link="./about-salon")
      .col-12.col-xl-6.mapped
        iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1835.583581656319!2d28.684723260705255!3d50.248782417190625!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c63618a264b5f%3A0x2c17058cddf4af74!2z0YPQu9C40YbQsCDQodCy0Y_RgtC-0YHQu9Cw0LLQsCDQoNC40YXRgtC10YDQsCwgNjMvMSwg0JbQuNGC0L7QvNC40YAsINCW0LjRgtC-0LzQuNGA0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDEwMDAx!5e0!3m2!1sru!2sua!4v1575553810586!5m2!1sru!2sua' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen='')
  .row.no-gutters.small-map
    iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1835.583581656319!2d28.684723260705255!3d50.248782417190625!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c63618a264b5f%3A0x2c17058cddf4af74!2z0YPQu9C40YbQsCDQodCy0Y_RgtC-0YHQu9Cw0LLQsCDQoNC40YXRgtC10YDQsCwgNjMvMSwg0JbQuNGC0L7QvNC40YAsINCW0LjRgtC-0LzQuNGA0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDEwMDAx!5e0!3m2!1sru!2sua!4v1575553810586!5m2!1sru!2sua' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen='')
