.checkbox-wrapper
	width: 76px
	height: 40px
	background: green
	border-radius: 3em
	padding: .3em
	position: relative
	transition: .25s linear all
	transition-duration: 0.1s

	&:before
		content: ''
		background: url("../images/icon/female.png") no-repeat
		background-size: contain
		position: absolute
		left: 14px
		top: 11px
		z-index: 5
		width: 12px
		height: 25px
		pointer-events: none

	&:after
		content: ''
		background: url("../images/icon/male.png") no-repeat
		background-size: contain
		position: absolute
		pointer-events: none
		z-index: 5
		left: 49px
		top: 12px
		width: 15px
		height: 29px

	&.checked
		input[type="checkbox"]
			margin-left: 0

			&:before
				left: 41px

	input[type="checkbox"]
		appearance: none
		width: 30px
		height: 30px
		margin-left: 35px
		outline: none
		border: none

		&:before
			content: ''
			display: block
			width: 30px
			height: 30px
			background: red
			border-radius: 50%
			position: absolute
			top: 50%
			transform: translateY(-50%)
			transition: .15s ease-in
			left: 6px
			pointer-events: none
