$Circe: 'Circe'
$Cormorant: 'CormorantGaramond'

$mobile-width: 400px
$tablet-width: 768px
$laptop-width: 992px
$desktop-width: 1200px


// fields marked with "added" "changed" are added or changed to 
// podology webstite (other variables are from laser website)

$color-white: #FFF
$red-color: #5E191D
$orange-color: #E9522E

$header-bg: #47484A
$primary-color: #574CFA
$secondary-color: #E9522E

$text-color-dark: #556278
$text-color-dark-2: #3A405B // added
$text-color-lightDark: #47484A
$text-color-light: #8dA0bE  // added
$text-color-light-2: #CCD1D9 // added
$text-color-white: #FFF

$bg-color-white: #F9F8F4
$bg-color-dark: #2D3745 // changed
$bg-cards-name: #BDDCDF