@import "variables"
@import "mixins"
@import "fonts"
@import "reset"
@import "spacing-helpers"

@media only screen and (min-width : 1200px)
  .container
    max-width: 1280px !important

@media only screen and (min-width : 1200px)
  .container
    max-width: 1280px !important

.container
  padding: 0 30px 0 30px!important

.section
  padding: 4rem 0
  overflow: hidden

@import 'custom_classes'
@import 'sections/header'
@import 'sections/introduce'
@import 'sections/advantages'
@import 'sections/activity'
@import 'sections/pricing'
@import 'sections/specific'
@import 'sections/category'
@import 'sections/aboutDoctors'
@import 'sections/consultaion'

@import 'sections/services/about'

@import 'sections/footer'

@import 'modules/accordion'
@import 'modules/numbered-section'
@import 'lib/all'

@import "media"
