/****************
/*   SECTIONS
/****************

/* Common
@import "pages/common/variables"
@import "pages/common/mixins"
@import "pages/common/fonts"
@import "../../node_modules/bootstrap/scss/mixins/breakpoints"
@import 'pages/common/custom_classes'
@import 'pages/common/header'
@import 'pages/common/footer'
@import "pages/common/media"
@import "pages/common/reset"
@import "pages/common/spacing-helpers"
@import "pages/common/grid"

/* Home Page
@import 'pages/index/introduce'
@import 'pages/index/advantages'
@import 'pages/index/activity'
@import 'pages/index/pricing'
@import 'pages/index/specific'
@import 'pages/index/category'
@import 'pages/index/aboutDoctors'
@import 'pages/index/consultaion'
@import 'pages/index/client-feedback'

/* About
@import 'pages/about/about'

/***************
/*  BOOTSTRAP
/***************

@import "../../node_modules/bootstrap/scss/bootstrap"
@import "../../node_modules/bootstrap/scss/bootstrap-grid"
@import "../../node_modules/bootstrap/scss/bootstrap-reboot"

/****************
/*   MODULES
/****************

@import 'modules/accordion'
@import 'modules/button'
@import 'modules/overlay'
@import 'modules/numbered-section'
@import 'modules/numbered-section'
@import 'modules/breadcrumbs'
@import 'modules/video'

/****************
/*     LIBS
/****************

@import 'lib/all'

/* Ne bug, a feature

@media only screen and (min-width: 1200px)
	.container
		max-width: 1280px !important

.container
	padding: 0 30px 0 30px !important

.section
	padding: 4rem 0
	overflow: hidden
