/****************
/*   SECTIONS
/****************

/* Common
@import "sections/common/variables"
@import "sections/common/mixins"
@import "../../node_modules/bootstrap/scss/mixins/breakpoints"
@import 'sections/common/custom_classes'
@import 'sections/common/header'
@import 'sections/common/footer'
@import "sections/common/media"
@import "sections/common/fonts"
@import "sections/common/reset"
@import "sections/common/spacing-helpers"
@import "sections/common/grid"

/* Home Page
@import 'sections/index/introduce'
@import 'sections/index/advantages'
@import 'sections/index/activity'
@import 'sections/index/pricing'
@import 'sections/index/specific'
@import 'sections/index/category'
@import 'sections/index/aboutDoctors'
@import 'sections/index/consultaion'
@import 'sections/index/client-feedback'

/****************
/*   MODULES
/****************

@import 'modules/accordion'
@import 'modules/overlay'
@import 'modules/numbered-section'

/****************
/*     LIBS
/****************

@import 'lib/all'

/* Ne bug, a feature
@media only screen and (min-width: 1200px)
	.container
		max-width: 1280px !important

.container
	padding: 0 30px 0 30px !important

.section
	padding: 4rem 0
	overflow: hidden
