extends layout/main
block content
  .container-overflow
    include modules/breadcrumbs
    include sections/main-laser-service
    include sections/laser-description
    include sections/four-boxes
    include sections/almalaser
    include sections/choose-service
    include sections/choose-service-icon
    include sections/consultation
    include sections/custom-consultation
    include sections/discount/discount-section
    include sections/safety
    include modules/accordion-answer
    //include sections/consultation-form









