section.section.about-video
  .container
    .row.no-gutters.d-flex.align-items-start.justify-content-between
      .col-12.col-xl-7.pr-0.pr-md-0.pr-xl-5.order-1.order-lg-0
        a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
          img.w-100(src="assets/img/about/about-video-1.jpg", alt="about-video")
          span.play-btn.d-flex.align-items-center.justify-content-center
            span
        .c-content
          a(href="").mr-2
            img(src="assets/icon/about-steffany-video/soc-instagram.svg" alt="soc-instagram.svg")
          a(href="").mr-4
            img(src="assets/icon/about-steffany-video/soc-facebook.svg" alt="soc-facebook.svg")

          +btnSimple('steffany podology')(class="fluid mr-4")
          +btnSimple('steffany beauty')(class="fluid")
      .col-12.col-xl-5
        h3.h2-title.text-color-dark.mb-50 Давайте знакомиться!
        .d-line
        p.mb-2.paragraph-text.text-color-dark.text-w-light Мы — сеть центров красоты и здоровья Steffany, где на каждое ваше «хочу» найдется процедура. А вы —  та самая девушка, которая заслужила расслабиться и получить качественный профессиональный уход. Вы можете прийти в отдельные центры Steffany <b>по трем направлениям: </b>
        ul.info-list
          li.p-text.paragraph-text.text-color-dark.text-w-light.mb-2 бьюти, где можно сделать маникюр, прическу, стрижку и макияж;
          li.p-text.paragraph-text.text-color-dark.text-w-light.mb-2 эпиляция и косметология, где вас ждут ухаживающие процедуры для лица, тела и удаления волос;
          li.p-text.paragraph-text.text-color-dark.text-w-light подология, где мы позаботимся о здоровье ваших стоп.
        p.paragraph-text.text-color-dark.text-w-light Остановимся на эпиляции. У нас вы можете безболезненно и в любое время года удалить волосы лазером. Или выбрать другой способ, который вам по душе.
