section.section.diploma
  .container
    .diploma.py-5
      .container.container-m.slider-wrap
        .row.no-gutters
          .h2-title.h-center.mb-5.mx-auto Дипломы и сертификаты
        .row.no-gutters
          .diploma-slider.owl-carousel.slider-block
            a.diploma-item(href="./assets/img/diploma/diploma-1.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/diploma-test.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/diploma-2.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/diploma-test.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/diploma-3.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/diploma-test.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/diploma-4.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/diploma-test.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/diploma-1.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/diploma-test.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/diploma-2.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/diploma-test.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/diploma-3.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/diploma-test.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/diploma-4.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/diploma-test.jpg", alt="diploma")
