section.section.four-boxes-about-steffany
  .container
    .row
      .col-12.col-xl-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position
            img.d-none.d-md-block(src="assets/img/about/four-box-01.png" alt="four-boxes-1" srcset="assets/img/about/four-box-01@2x.png 2x")
            img.d-md-none.d-block(src="assets/img/four-boxes/four-box_01-mob.png" alt="four-boxes-1-mob" srcset="assets/img/four-boxes/four-box_01-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number 01
              h4.h4-title.text-uppercase.mb-3 Стерильные условия и чистота
              p.paragraph-text.text-color-light.text-w-light После каждого клиента мы обрабатываем рабочее место специальным дезинфицирующим раствором. Проходимся по поверхностям мебели и аппарата. В сам аппарат для лазерной эпиляции уже встроена внутренняя система стерилизации. Она находится в сапфировом наконечнике и разрушает все бактерии высокими температурами. Также после каждого клиента мы дезинфицируем контактную часть насадки 70%-м спиртом.
      .col-12.col-xl-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position
            img.d-none.d-md-block(src="assets/img/about/four-box-02.png" alt="four-boxes-1" srcset="assets/img/about/four-box-02@2x.png 2x")
            img.d-md-none.d-block(src="assets/img/four-boxes/four-box_0w-mob.png" alt="four-boxes-2-mob" srcset="assets/img/four-boxes/four-box_02-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number 02
              h4.h4-title.text-uppercase.text-uppercase.mb-3 Одноразовые инструменты
              p.paragraph-text.text-color-light.text-w-light Почти все инструменты на вашем сеансе одноразовые: бритвенный станок, деревянный шпатель, бумажные восковые полоски, ватные диски, салфетки, перчатки и т.д. Все они находятся в чистом пространстве и готовы к использованию. А по окончании сеанса мастер утилизирует все одноразовые инструменты, которые использовались на процедуре, и подготовит рабочее место к следующему клиенту.

      .col-12.col-xl-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position
            img.d-none.d-md-block(src="assets/img/about/four-box-03.svg" alt="four-boxes-1")
            img.d-md-none.d-block(src="assets/img/four-boxes/four-box_03-mob.png" alt="four-boxes-3-mob" srcset="assets/img/four-boxes/four-box_03-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number 03
              h4.h4-title.text-uppercase.mb-3 Специалисты по призванию
              p.paragraph-text.text-color-light.text-w-light У всех наших специалистов от 2 до 15 лет стажа работы. У мастеров лазерной эпиляции обязательный диплом о прохождении специализированного обучения, а у косметологов — диплом о медицинском образовании. Также у них есть медицинская книжка, в которой отмечаются регулярные осмотры и состояние здоровья. Но что еще важнее — у всех наших специалистов есть врожденная любовь к людям и желание помочь.
      .col-12.col-xl-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position
            img.d-none.d-md-block(src="assets/img/about/four-box-04.png" alt="four-boxes-1" srcset="assets/img/about/four-box-04@2x.png 2x")
            img.d-md-none.d-block(src="assets/img/four-boxes/four-box_04-mob.png" alt="four-boxes-4-mob" srcset="assets/img/four-boxes/four-box_04-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number 04
              h4.h4-title.text-uppercase.mb-3 Медицинский подход
              p.paragraph-text.text-color-light.text-w-light Удаление волос — это эстетическая сфера, но наш главный приоритет  — это здоровье. Перед процедурой мы проводим осмотр клиента и собираем все нужные подробности о состоянии здоровья. Это нужно, чтобы исключить возможные противопоказания и понять, что процедура не принесет вреда организму. Если мы видим признаки зарождающихся проблем, обязательно направляем к узкоспециализированным врачам.

