section.section.map-slider
  .container
    .row.no-gutters.p-0
      .col.select-city-dropdown.d-flex.align-items-center.justify-content-start.flex-wrap.map-cnt.m-auto.m-xl-0
        a.nav-link-text.btn-simple-map.city-trigger.mr-3(href="", data-city="zt") Житомир
        a.nav-link-text.btn-simple-map.city-trigger.mr-3(href="", data-city="if") Ивано-фракновск
        a.nav-link-text.btn-simple-map.city-trigger.mr-3(href="", data-city="lutsk") Луцк
        a.nav-link-text.btn-simple-map.city-trigger.mr-3(href="", data-city="lviv") Львов
        a.nav-link-text.btn-simple-map.city-trigger(href="", data-city="rovno") Ровно
.bg-wrapper
  .container
    .row.no-gutters.city-item.zt
      .col-12.col-xl-5.pr-xl-5.mb-5.mb-xl-0.mx-auto.mx-xl-0.justify-content-center.map-cnt
        p.city-dynamic.paragraph-text.text-color-lightdark.text-w-bold.text-uppercase.mb-4
        //p.sub-title.letter-spacing-1.mb-4 Steffany Cosmetology
        +cnt-info
        .row.no-gutters.mb-4.mb-md-5
          //a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
          img.w-100(src="assets/img/about/about-video-1.jpg", alt="about-video")
        .row.no-gutters.justify-content-center.justify-content-xl-start
          a(href="about-steffany-salon.html")
            +customBtn('подробнее про салон')
      .col-12.col-xl-7
        .map-dynamic.map.h-100
    .row.no-gutters.city-item.if.city-active
      .col-12.col-xl-5.pr-xl-5.mb-5.mb-xl-0.mx-auto.mx-xl-0.justify-content-center.map-cnt
        p.city-dynamic.paragraph-text.text-color-lightdark.text-w-bold.text-uppercase.mb-3
        //p.sub-title.letter-spacing-1.mb-4 Steffany Cosmetology
        +cnt-info
        .row.no-gutters.mb-4.mb-md-5
          //a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
          img.w-100(src="assets/img/about/about-video-1.jpg", alt="about-video")
        .row.no-gutters.justify-content-center.justify-content-xl-start
          a(href="about-steffany-salon.html")
            +customBtn('подробнее про салон')
      .col-12.col-xl-7
        .map-dynamic.map.h-100
    .row.no-gutters.city-item.lutsk
      .col-12.col-xl-5.pr-xl-5.mb-5.mb-xl-0.mx-auto.mx-xl-0.justify-content-center.map-cnt
        p.city-dynamic.paragraph-text.text-color-lightdark.text-w-bold.text-uppercase.mb-3
        //p.sub-title.letter-spacing-1.mb-4 Steffany Cosmetology
        +cnt-info
        .row.no-gutters.mb-4.mb-md-5
          //a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
          img.w-100(src="assets/img/about/about-video-1.jpg", alt="about-video")
        .row.no-gutters.justify-content-center.justify-content-xl-start
          a(href="about-steffany-salon.html")
            +customBtn('подробнее про салон')
      .col-12.col-xl-7
        .map-dynamic.map.h-100

    .row.no-gutters.city-item.lviv
      .col-12.col-xl-5.pr-xl-5.mb-5.mb-xl-0.mx-auto.mx-xl-0.justify-content-center.map-cnt
        p.city-dynamic.paragraph-text.text-color-lightdark.text-w-bold.text-uppercase.mb-4
        //p.sub-title.letter-spacing-1.mb-4 Steffany Cosmetology
        +cnt-info
        .row.no-gutters.mb-4.mb-md-5
          //a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
          img.w-100(src="assets/img/about/about-video-1.jpg", alt="about-video")
        .row.no-gutters.justify-content-center.justify-content-xl-start
          a(href="about-steffany-salon.html")
            +customBtn('подробнее про салон')
      .col-12.col-xl-7
        .map-dynamic.map.h-100
    .row.no-gutters.city-item.rovno
      .col-12.col-xl-5.pr-xl-5.mb-5.mb-xl-0.mx-auto.mx-xl-0.justify-content-center.map-cnt
        p.city-dynamic.paragraph-text.text-color-lightdark.text-w-bold.text-uppercase.mb-4
        //p.sub-title.letter-spacing-1.mb-4 Steffany Cosmetology
        +cnt-info
        .row.no-gutters.mb-4.mb-md-5
          //a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
          img.w-100(src="assets/img/about/about-video-1.jpg", alt="about-video")
        .row.no-gutters.justify-content-center.justify-content-xl-start
          a(href="about-steffany-salon.html")
            +customBtn('подробнее про салон')
      .col-12.col-xl-7
        .map-dynamic.map.h-100
  hr.d-none.d-xl-block.mt-5
