section.section.map-slider
  .container
    .row.no-gutters.p-0
      .col.select-city-dropdown.d-flex.align-items-center.justify-content-start.flex-wrap.map-cnt.m-auto.m-xl-0
        a.nav-link-text.btn-simple-map.city-trigger.mr-3(href="", data-city="zt") Житомир
        a.nav-link-text.btn-simple-map.city-trigger.mr-3(href="", data-city="if") Ивано-фракновск
        a.nav-link-text.btn-simple-map.city-trigger.mr-3(href="", data-city="lutsk") Луцк
        a.nav-link-text.btn-simple-map.city-trigger.mr-3(href="", data-city="lviv") Львов
        a.nav-link-text.btn-simple-map.city-trigger(href="", data-city="rovno") Ровно
.bg-wrapper
  .container
    .row.no-gutters.city-item.zt
      .col-12.col-xl-5.pr-xl-5.mb-5.mb-xl-0.mx-auto.mx-xl-0.justify-content-center.map-cnt
        p.paragraph-text.text-color-lightdark.text-w-bold.text-uppercase.mb-4 Житомире
        //p.sub-title.letter-spacing-1.mb-4 Steffany Cosmetology
        .row.no-gutters.mb-5
          .col-12.col-md-6
            .row.no-gutters.justify-content-center.justify-content-xl-start
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-phone(src="assets/icon/phone.svg" alt="h-map")
                a.paragraph-text.text-color-lightdark.text-color-lightdark(href="tel:096-205-50-30") 096-205-50-30
              .col-12.d-flex.align-items-center.mb-3.mb-sm-0.height-25
                img.icon.icon-mail(src="assets/icon/mail.svg" alt="h-map")
                a.paragraoh-text.text-color-lightdark(href="mail-to:info@steffany.ua") info@steffany.ua
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-loc(src="assets/icon/map.svg" alt="h-map")
                p.paragraph-text.text-color-lightdark.thin-text ул. Киевская, 84
              .col-12.d-flex.align-items-center.height-25
                img.icon.icon-time(src="assets/icon/time.svg" alt="h-map")
                p.paragraph-text.text-color-lightdark 9:00 – 20:00
        .row.no-gutters.mb-4.mb-md-5
          //a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
          img.w-100(src="assets/img/about/about-video-1.jpg", alt="about-video")

        .row.no-gutters.justify-content-center.justify-content-xl-start
          a(href="#")
            +customBtn('подробнее про салон')
      .col-12.col-xl-7
        iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10203.204981280256!2d28.6831072!3d50.2582963!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c64a35524e091%3A0x94671cf8df29cc74!2z0JrQuNC10LLRgdC60LDRjyDRg9C7LiwgODQsINCW0LjRgtC-0LzQuNGALCDQltC40YLQvtC80LjRgNGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAxMDAwMQ!5e0!3m2!1sru!2sua!4v1573470059108!5m2!1sru!2sua', width='600', height='450', frameborder='0', style='border:0;', allowfullscreen='')
    .row.no-gutters.city-item.if.city-active
      .col-12.col-xl-5.pr-xl-5.mb-5.mb-xl-0.mx-auto.mx-xl-0.justify-content-center.map-cnt
        p.paragraph-text.text-color-lightdark.text-w-bold.text-uppercase.mb-3 Ивано-фракновск
        //p.sub-title.letter-spacing-1.mb-4 Steffany Cosmetology
        .row.no-gutters.mb-3.mb-xl-5
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-phone(src="assets/icon/phone.svg" alt="h-map")
                a.paragraph-text.text-color-lightdark(href="tel:067-110-09-69") 067-110-09-69
              .col-12.d-flex.align-items-center.mb-3.mb-sm-0.height-25
                img.icon.icon-mail(src="assets/icon/mail.svg" alt="h-map")
                a.paragraph-text.text-color-lightdark.thin-text(href="mail-to:info@steffany.ua") info@steffany.ua
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-loc(src="assets/icon/map.svg" alt="h-map")
                p.paragraph-text.text-color-lightdark.thin-text ул. Ивана Франка, 25
              .col-12.d-flex.align-items-center.height-25
                img.icon.icon-time(src="assets/icon/time.svg" alt="h-map")
                p.paragraph-text.text-color-lightdark 9:00 – 20:00
        .row.no-gutters.mb-4.mb-md-5
          //a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
          img.w-100(src="assets/img/about/about-video-1.jpg", alt="about-video")


        .row.no-gutters.justify-content-center.justify-content-xl-start
          a(href="#")
            +customBtn('подробнее про салон')
      .col-12.col-xl-7
        iframe.map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2621.6151145976846!2d24.714299715612086!3d48.92272480412903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c16c4f01503f%3A0x2ad33aab5a158616!2z0YPQuy4g0JjQstCw0L3QsCDQpNGA0LDQvdC60L4sIDI1LCDQmNCy0LDQvdC-LdCk0YDQsNC90LrQvtCy0YHQuiwg0JjQstCw0L3Qvi3QpNGA0LDQvdC60L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA3NjAwMA!5e0!3m2!1sru!2sua!4v1573037148887!5m2!1sru!2sua' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen='')
    .row.no-gutters.city-item.lutsk
      .col-12.col-xl-5.pr-xl-5.mb-5.mb-xl-0.mx-auto.mx-xl-0.justify-content-center.map-cnt
        p.paragraph-text.text-color-lightdark.text-w-bold.text-uppercase.mb-3 Луцк
        //p.sub-title.letter-spacing-1.mb-4 Steffany Cosmetology
        .row.no-gutters.mb-3.mb-xl-5
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-phone(src="assets/icon/phone.svg" alt="h-map")
                a.paragraph-text.text-color-lightdark(href="tel:068-129-24-23") 068-129-24-23
              .col-12.d-flex.align-items-center.mb-3.mb-sm-0.height-25
                img.icon.icon-mail(src="assets/icon/mail.svg" alt="h-map")
                a.paragraph-text.text-color-lightdark.thin-text(href="mail-to:info@steffany.ua") info@steffany.ua
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-loc(src="assets/icon/map.svg" alt="h-map")
                p.paragraph-text.text-color-lightdark.thin-text Проспект Свободы, 10
              .col-12.d-flex.align-items-center.height-25
                img.icon.icon-time(src="assets/icon/time.svg" alt="h-map")
                p.paragraph-text.text-color-lightdark 9:00 – 20:00
        .row.no-gutters.mb-4.mb-md-5
          //a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
          img.w-100(src="assets/img/about/about-video-1.jpg", alt="about-video")


        .row.no-gutters.justify-content-center.justify-content-xl-start
          a(href="#")
            +customBtn('подробнее про салон')
      .col-12.col-xl-7
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2524.595352108268!2d25.32941115148884!3d50.74599357941664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472599efdec12f9b%3A0x2dd6f91bc0308c8e!2z0L_RgNC-0YHQvy4g0JLQvtC70LgsIDEwLCDQm9GD0YbQuiwg0JLQvtC70YvQvdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA0MzAwMA!5e0!3m2!1sru!2sua!4v1574858037923!5m2!1sru!2sua', width='600', height='450', frameborder='0', style='border:0;', allowfullscreen='')


    .row.no-gutters.city-item.lviv
        .col-12.col-xl-5.pr-xl-5.mb-5.mb-xl-0.mx-auto.mx-xl-0.justify-content-center.map-cnt
          p.paragraph-text.text-color-lightdark.text-w-bold.text-uppercase.mb-4 Львов
          //p.sub-title.letter-spacing-1.mb-4 Steffany Cosmetology
          .row.no-gutters.mb-4
            .col-12.col-md-6
              .row.no-gutters
                .col-12.d-flex.align-items-center.mb-3.height-25
                  img.icon.icon-phone(src="assets/icon/phone.svg" alt="h-map")
                  a.paragraph-text.text-color-lightdark(href="tel:097-203-90-03") 097-203-90-03
                .col-12.d-flex.align-items-center.mb-3.mb-sm-0.height-25
                  img.icon.icon-mail(src="assets/icon/mail.svg" alt="h-map")
                  a.paragraph-text.text-color-lightdark.thin-text(href="mail-to:info@steffany.ua") info@steffany.ua
            .col-12.col-md-6
              .row.no-gutters
                .col-12.d-flex.align-items-center.mb-3.height-25
                  img.icon.icon-loc(src="assets/icon/map.svg" alt="h-map")
                  p.paragraph-text.text-color-lightdark.thin-text ул. Гулака-Артемовского, 2
                .col-12.d-flex.align-items-center.height-25
                  img.icon.icon-time(src="assets/icon/time.svg" alt="h-map")
                  p.paragraph-text.text-color-lightdark 9:00 – 20:00
          .row.no-gutters.mb-4.mb-md-5
            //a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/about/about-video-1.jpg", alt="about-video")


          .row.no-gutters.justify-content-center.justify-content-xl-start
            a(href="#")
              +customBtn('подробнее про салон')
        .col-12.col-xl-7
          iframe.map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.3207133690416!2d24.03369211564091!3d49.83643113929711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add69070842c9%3A0x9108f74379396188!2z0YPQuy4g0JPRg9C70LDQutCwLdCQ0YDRgtC10LzQvtCy0YHQutC-0LPQviwgMiwg0JvRjNCy0L7Qsiwg0JvRjNCy0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA3OTAwMA!5e0!3m2!1sru!2sua!4v1573037292724!5m2!1sru!2sua' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen='')

    .row.no-gutters.city-item.rovno
        .col-12.col-xl-5.pr-xl-5.mb-5.mb-xl-0.mx-auto.mx-xl-0.justify-content-center.map-cnt
          p.paragraph-text.text-color-lightdark.text-w-bold.text-uppercase.mb-4 Ровно
          //p.sub-title.letter-spacing-1.mb-4 Steffany Cosmetology
          .row.no-gutters.mb-5
            .col-12.col-md-6
              .row.no-gutters
                .col-12.d-flex.align-items-center.mb-3.height-25
                  img.icon.icon-phone(src="assets/icon/phone.svg" alt="h-map")
                  a.paragraph-text.text-color-lightdark(href="tel:098-500-48-86") 098-500-48-86
                .col-12.d-flex.align-items-center.mb-3.mb-sm-0.height-25
                  img.icon.icon-mail(src="assets/icon/mail.svg" alt="h-map")
                  a.paragraph-text.text-color-lightdark.thin-text(href="mail-to:info@steffany.ua") info@steffany.ua
            .col-12.col-md-6
              .row.no-gutters
                .col-12.d-flex.align-items-center.mb-3.height-25
                  img.icon.icon-loc(src="assets/icon/map.svg" alt="h-map")
                  p.paragraph-text.text-color-lightdark.thin-text ул. Киевская, 4
                .col-12.d-flex.align-items-center.height-25
                  img.icon.icon-time(src="assets/icon/time.svg" alt="h-map")
                  p.paragraph-text.text-color-lightdark 9:00 – 20:00
          .row.no-gutters.mb-4.mb-md-5
            //a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/about/about-video-1.jpg", alt="about-video")


          .row.no-gutters.justify-content-center.justify-content-xl-start
            a(href="#")
              +customBtn('подробнее про салон')
        .col-12.col-xl-7
          iframe.map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2531.5705084842903!2d26.267335815665785!3d50.61651778326605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f1366b7f21ce1%3A0x6d5a726bdbefb70!2z0YPQuy4g0JrQuNC10LLRgdC60LDRjywgNCwg0KDQvtCy0L3Qviwg0KDQvtCy0LXQvdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzMzAwMA!5e0!3m2!1sru!2sua!4v1573036973623!5m2!1sru!2sua' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen='')
  hr.d-none.d-xl-block.mt-5
