.map.pt-5
  .container.container-l.pb-5.border-b-light.px-0.px-xl-1
    .row.no-gutters.px-15.mb-5.p-0.px-xl-3
      .col.d-flex.align-items-center.justify-content-start.flex-wrap.map-cnt.m-auto.m-xl-0.px-15
        a.btn-simple.btn-simple-light.br-100.px-3.d-flex.align-items-center.justify-content-center.mb-3.mb-md-0.mr-3.city-popup(href="") Все города
        a.btn-simple.btn-simple-light.br-100.px-3.d-flex.align-items-center.justify-content-center.mb-3.mb-md-0.city-trigger.mr-3(href="", data-city="city-item-1") Киев
        a.btn-simple.btn-simple-light.br-100.px-3.d-flex.align-items-center.justify-content-center.mb-3.mb-md-0.city-trigger.mr-3.active(href="", data-city="city-item-2") Ивано-фракновск
        a.btn-simple.btn-simple-light.br-100.px-3.d-flex.align-items-center.justify-content-center.mb-3.mb-md-0.city-trigger.mr-3(href="", data-city="city-item-3") Львов
        a.btn-simple.btn-simple-light.br-100.px-3.d-flex.align-items-center.justify-content-center.mb-3.mb-md-0.city-trigger(href="", data-city="city-item-4") Ровно
    .row.no-gutters.city-item.city-item-1
      .col-12.col-xl-5.pr-xl-5.mb-5.mb-xl-0.mx-auto.mx-xl-0.px-15.justify-content-center.map-cnt
        p.p-text.fs-12.p-bold.text-uppercase.mb-40 Киев
        .row.no-gutters.mb-5
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-phone(src="assets/icon/phone.png" alt="h-map")
                a.p-text(href="tel:0980070753") 098 007 07 53
              .col-12.d-flex.align-items-center.mb-3.mb-sm-0.height-25
                img.icon.icon-mail(src="assets/icon/mail.png" alt="h-map")
                a.p-text.thin-text(href="mail-to:info@steffany.ua") info@steffany.ua
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-loc(src="assets/icon/map.png" alt="h-map")
                p.p-text.thin-text ул. Киевская, 84
              .col-12.d-flex.align-items-center.height-25
                img.icon.icon-time(src="assets/icon/time.png" alt="h-map")
                p.p-text 9:00 – 20:00
        .row.no-gutters.mb-5
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/about/about-video-1.jpg", alt="about-video")
            span.play-btn.play-btn-orange.d-flex.align-items-center.justify-content-center
              span
        .row.no-gutters
          a.btn-callback.btn-callback-simple.d-flex.align-items-center.justify-content-between.height-50.mx-auto.mx-xl-0(href="#")
            span.d-flex.align-items-center.justify-content-between
              span подробнее про салон
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .col-12.col-xl-7
        img.w-100(src="assets/img/map.jpg" alt="map")
    .row.no-gutters.city-item.city-item-2.city-active
      .col-12.col-xl-5.pr-xl-5.mb-5.mb-xl-0.mx-auto.mx-xl-0.px-15.justify-content-center.map-cnt
        p.p-text.fs-12.p-bold.text-uppercase.mb-40 Ивано-фракновск
        .row.no-gutters.mb-5
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-phone(src="assets/icon/phone.png" alt="h-map")
                a.p-text(href="tel:0980070753") 098 007 07 53
              .col-12.d-flex.align-items-center.mb-3.mb-sm-0.height-25
                img.icon.icon-mail(src="assets/icon/mail.png" alt="h-map")
                a.p-text.thin-text(href="mail-to:info@steffany.ua") info@steffany.ua
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-loc(src="assets/icon/map.png" alt="h-map")
                p.p-text.thin-text ул. Киевская, 84
              .col-12.d-flex.align-items-center.height-25
                img.icon.icon-time(src="assets/icon/time.png" alt="h-map")
                p.p-text 9:00 – 20:00
        .row.no-gutters.mb-5
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/about/about-video-1.jpg", alt="about-video")
            span.play-btn.play-btn-orange.d-flex.align-items-center.justify-content-center
              span
        .row.no-gutters
          a.btn-callback.btn-callback-simple.d-flex.align-items-center.justify-content-between.height-50.mx-auto.mx-xl-0(href="#")
            span.d-flex.align-items-center.justify-content-between
              span подробнее про салон
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .col-12.col-xl-7
        img.w-100(src="assets/img/map.jpg" alt="map")
    .row.no-gutters.city-item.city-item-3
      .col-12.col-xl-5.pr-xl-5.mb-5.mb-xl-0.mx-auto.mx-xl-0.px-15.justify-content-center.map-cnt
        p.p-text.fs-12.p-bold.text-uppercase.mb-40 Львов
        .row.no-gutters.mb-5
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-phone(src="assets/icon/phone.png" alt="h-map")
                a.p-text(href="tel:0980070753") 098 007 07 53
              .col-12.d-flex.align-items-center.mb-3.mb-sm-0.height-25
                img.icon.icon-mail(src="assets/icon/mail.png" alt="h-map")
                a.p-text.thin-text(href="mail-to:info@steffany.ua") info@steffany.ua
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-loc(src="assets/icon/map.png" alt="h-map")
                p.p-text.thin-text ул. Киевская, 84
              .col-12.d-flex.align-items-center.height-25
                img.icon.icon-time(src="assets/icon/time.png" alt="h-map")
                p.p-text 9:00 – 20:00
        .row.no-gutters.mb-5
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/about/about-video-1.jpg", alt="about-video")
            span.play-btn.play-btn-orange.d-flex.align-items-center.justify-content-center
              span
        .row.no-gutters
          a.btn-callback.btn-callback-simple.d-flex.align-items-center.justify-content-between.height-50.mx-auto.mx-xl-0(href="#")
            span.d-flex.align-items-center.justify-content-between
              span подробнее про салон
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .col-12.col-xl-7
        img.w-100(src="assets/img/map.jpg" alt="map")
    .row.no-gutters.city-item.city-item-4
      .col-12.col-xl-5.pr-xl-5.mb-5.mb-xl-0.mx-auto.mx-xl-0.px-15.justify-content-center.map-cnt
        p.p-text.fs-12.p-bold.text-uppercase.mb-40 Ровно
        .row.no-gutters.mb-5
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-phone(src="assets/icon/phone.png" alt="h-map")
                a.p-text(href="tel:0980070753") 098 007 07 53
              .col-12.d-flex.align-items-center.mb-3.mb-sm-0.height-25
                img.icon.icon-mail(src="assets/icon/mail.png" alt="h-map")
                a.p-text.thin-text(href="mail-to:info@steffany.ua") info@steffany.ua
          .col-12.col-md-6
            .row.no-gutters
              .col-12.d-flex.align-items-center.mb-3.height-25
                img.icon.icon-loc(src="assets/icon/map.png" alt="h-map")
                p.p-text.thin-text ул. Киевская, 84
              .col-12.d-flex.align-items-center.height-25
                img.icon.icon-time(src="assets/icon/time.png" alt="h-map")
                p.p-text 9:00 – 20:00
        .row.no-gutters.mb-5
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/about/about-video-1.jpg", alt="about-video")
            span.play-btn.play-btn-orange.d-flex.align-items-center.justify-content-center
              span
        .row.no-gutters
          a.btn-callback.btn-callback-simple.d-flex.align-items-center.justify-content-between.height-50.mx-auto.mx-xl-0(href="#")
            span.d-flex.align-items-center.justify-content-between
              span подробнее про салон
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .col-12.col-xl-7
        img.w-100(src="assets/img/map.jpg" alt="map")
