extends ../layout/main

block content
  include ../sections/aboutPage/breadcrumbs
  include ../sections/aboutPage/aboutInfo
  include ../sections/aboutPage/benefitsSteffany
  include ../sections/aboutPage/diploma
  include ../sections/aboutPage/map
  include ../sections/aboutPage/modal
