extends ../layout/main

block content
  include ../sections/serviceNailsPedicure/serviceInfoBlock.pug
  include ../sections/serviceNailsPedicure/serviceBenefits.pug
  include ../sections/serviceNailsPedicure/doubleGrid.pug
  include ../sections/serviceNailsPedicure/serviceInfoBlock2.pug
  include ../sections/serviceNailsPedicure/serviceInfoBlock3.pug
  include ../sections/serviceNailsPedicure/serviceInfoBlock4.pug
  include ../sections/serviceNailsPedicure/serviceInfoBlock5.pug
  include ../sections/serviceNailsPedicure/serviceInfoBlock6.pug
  include ../sections/serviceNailsPedicure/serviceInfoBlock7.pug
  include ../sections/serviceNailsPedicure/serviceInfoBlock8.pug
  include ../sections/serviceNailsPedicure/serviceInfoBlock9.pug
  include ../sections/serviceNailsPedicure/serviceInfoBlock10.pug
  include ../sections/serviceNailsPedicure/serviceBenefitsRules.pug
  include ../sections/serviceNailsPedicure/questions.pug
  include ../sections/serviceNailsPedicure/modal.pug
