extends ../layout/main

block content
  include ../sections/serviceHairdresser/serviceInfoBlock.pug
  include ../sections/serviceHairdresser/serviceInfoBlock2.pug
  include ../sections/serviceHairdresser/serviceInfoBlock3.pug
  include ../sections/serviceHairdresser/serviceInfoBlock4.pug
  include ../sections/serviceHairdresser/serviceInfoBlock5.pug
  include ../sections/serviceHairdresser/serviceInfoBlock6.pug
  include ../sections/serviceHairdresser/doubleGrid.pug
  //include ../sections/serviceHairdresser/questions.pug
  include ../sections/serviceHairdresser/modal.pug

