.info-block.info-block-8.info-block-8-3.info-block-8-4
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-start.no-gutters
      .col.col-img.order-2
        img.w-100(src="./assets/img/infoblock/item-28.jpg", alt="item")
      .col.col-info.order-1
        h2.section-title.mb-35 Гарантия идеального окрашивания волос – это
        ul.info-list.mb-25
          li.p-text.thin-text.mb-15 Современные профессиональные красители
          li.p-text.thin-text.mb-15 Правильная технология окрашивания
          li.p-text.thin-text Высокий профессионализм мастеров
        p.p-text.thin-text.mb-15 Модное окрашивание волос без потери их качества и по приятной цене? Со Steffany возможно все!
        p.p-text.thin-text.mb-15 В салоне Steffany смогут реализовать все ваши желания по окрашивании корней и волос различной длины!
