.course-benefits
  .container
    .row.no-gutters
      h2.section-title-small.text-center На кожному 2-тижневому курс ви обов'язково отримаєте
    .row.no-gutters.course-benefits-cnt
      .info-list-item.w-100.paragraph-text-dark До&nbsp;
        span.f-bold 60 годин
        |
        | теорії та практики&nbsp;
      .info-list-item.w-100.paragraph-text-dark До&nbsp;
        span.f-bold 10 пацієнтів&nbsp;
        | із різноманітною проблематикою стоп для практики&nbsp;
      .info-list-item.w-100.paragraph-text-dark
        span.f-bold Блокнот та ручку&nbsp;
        | для конспектів&nbsp;
      .info-list-item.w-100.paragraph-text-dark
        span.f-bold Методичні матеріали&nbsp;
        | за кожною лекцією і список додаткової літератури&nbsp;
      .info-list-item.w-100.paragraph-text-dark Необхідні для роботи&nbsp;
        span.f-bold інструменти, матеріали та обладнання&nbsp;
      .info-list-item.w-100.paragraph-text-dark
        span.f-bold Дезінфікуючі засоби&nbsp;
        | для шкіри, інструментів і робочих поверхонь&nbsp;
      .info-list-item.w-100.paragraph-text-dark
        span.f-bold Космецевтичні засоби&nbsp;
        | для догляду за стопою&nbsp;
      .info-list-item.w-100.paragraph-text-dark Спеціально розроблену&nbsp;
        span.f-bold медичну форму&nbsp;
      .info-list-item.w-100.paragraph-text-dark
        span.f-bold Повний супровід&nbsp;
        | методиста під час практики і зворотний зв'язок&nbsp;
      .info-list-item.w-100.paragraph-text-dark
        span.f-bold Сертифікат&nbsp;
        | про успішне закінчення курсу з кількістю годин теорії та практики&nbsp;
      .info-list-item.w-100.paragraph-text-dark Можливість пройти стажування в центрі здоров'я ніг Steffany і влаштуватися туди на&nbsp;
        span.f-bold постійну роботу&nbsp;
      .callback-wrap.w-100
        +customBtn('Зайняти місце')(data-toggle='modal', data-target='#chooseDayCourse')
