section.section.accordion-answer.program.py-5.remove-arrow
  h2.section-title-small.text-center.white-text Програма курсу базової подології
  p.h3-title-regular.text-center.mb-4.pb-4.text-border-b.text-w-bold Найближчий старт — 17 лютого
  p.h3-title-regular.text-center.mb-4.text-w-bold Перший тиждень
  .programAccordion.accordion.m-0
    .col-12.program-item-wrap.w-100.mx-auto.p-0
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading01.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse01',   aria-controls='programCollapse01', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 1
            p.paragraph-text-18
              span.text-w-bold Теорія <br/>
              span.thin-text Основи подології. Збір інформації про пацієнта. Робота з подоскопом
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse01.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading01', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите:  <br/>
              span.thin-text Як заповнювати карту пацієнта і збирати анамнез. Правила дезінфекції та стерилізації. Анатомія стопи. Деформації стоп і порушення біомеханіки ходьби. Зв'язок проблем врослого нігтя, оніхолізису, мозолів і тріщин на стопі з надмірним навантаженням на стопу. Що таке подоскоп і як розглядати на ньому стопу в статиці. Техніка апаратного педикюру. Вибір інструментів.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading02.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse02',   aria-controls='programCollapse02', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 2
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Основи подології. Збір інформації про пацієнта. Робота з подоскопом
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse02.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading02', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите:  <br/>
              span.thin-text Практичне відпрацювання матеріалу на реальних пацієнтах. Апарати та інструменти: подоскоп, прилад для апаратного педикюру Nova3, стандартні інструменти.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading03.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse03',   aria-controls='programCollapse03', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 3
            p.paragraph-text-18
              span.text-w-bold Теорія <br/>
              span.thin-text Мозолі та бородавки. Робота скальпелем
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse03.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading03', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите:  <br/>
              span.thin-text Будова і функції шкіри. Дисфункції. Ліпідний шар. Мозолі. Деформації стопи, що призводять до утворення мозолів. Обробка ділянки та розвантаження проблемних зон. Робота скальпелем. Підошовні бородавки. Види підошовних бородавок і фактори ризику. Папіломавірус людини. Диференціальна діагностика: мозоль або бородавка. Дерматоскоп і робота з ним. Домашній догляд за проблемною ділянкою. Профілактика мозолів. Десмургія як наука про перев'язки.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading04.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse04',   aria-controls='programCollapse04', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 4
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Мозолі та бородавки. Робота скальпелем
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse04.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading04', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите:  <br/>
              span.thin-text Практичне відпрацювання матеріалу на реальних пацієнтах. Апарати та інструменти: скальпель
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading05.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse05',   aria-controls='programCollapse05', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 5
            p.paragraph-text-18
              span.text-w-bold Теорія <br/>
              span.thin-text Гіперкератоз. Гіпергідроз. Тріщини на п'ятах
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse05.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading05', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите:  <br/>
              span.thin-text Види і причини гіперкератозу. Обробка ороговілості скальпелем або апаратною технікою. Види і причини кератодермії. Обробка в кабінеті. Домашній догляд. Гіпергідроз. Дрібноточечний кератолізіс: причини, типи, профілактика. Первинна і вторинна інфекція. Тріщини на стопі і їх причини. Види тріщин і робота з ними. Пов'язки. Профілактика тріщин.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading06.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse06',   aria-controls='programCollapse06', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 6
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Гіперкератоз. Гіпергідроз. Тріщини на п'ятах
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse06.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading06', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите:  <br/>
              span.thin-text Практичне відпрацювання на реальних пацієнтах. Апарати та інструменти: прилад для апаратного педикюру Nova3, перев'язувальні матеріали.
  p.h3-title-regular.text-center.my-5.text-w-bold Другий тиждень. 16-21 березня
  .programAccordion2.accordion.m-0
    .col-12.program-item-wrap.w-100.mx-auto.p-0
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading07.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse07',   aria-controls='programCollapse07', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 7
            p.paragraph-text-18
              span.text-w-bold Теорія <br/>
              span.thin-text Захворювання нігтів. Грибок. Меланома та невуси. Дерматоскоп
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse07.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading07', data-parent='.programAccordion2')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите:  <br/>
              span.thin-text Будова і функції нігтів. Кератин, біотин та їх роль у формуванні нігтьової пластини. Оніхії і оніходистрофії. Що таке меланома і невуси, їх причини та наслідки. Робота з дерматоскопом. Інфекційні захворювання нігтів і шкіри. Мікоз та оніхомікоз: типи, стадії і робота з ними. Забір матеріалу на аналіз.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading08.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse08',   aria-controls='programCollapse08', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 8
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Проблеми нігтів. Грибок. Як брати аналізи
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse08.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading08', data-parent='.programAccordion2')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите:  <br/>
              span.thin-text Практичне відпрацювання на реальных пацієнтах. Апарати та інструменти: дерматоскоп.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading09.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse09',   aria-controls='programCollapse09', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 9
            p.paragraph-text-18
              span.text-w-bold Теорія <br/>
              span.thin-text Врослий ніготь. Запалення і рани. Панарицій
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse09.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading09', data-parent='.programAccordion2')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите:  <br/>
              span.thin-text  Врослий ніготь: стадії, причини, ускладнення. Запалення, рановий процес і робота з ними. Видалення врослого нігтя. Перев'язка. Домашній догляд. Розвантаження стопи. Пароніхія, панарицій і робота з ними. Ведення пацієнта
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading10.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse10',   aria-controls='programCollapse10', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 10
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Врослий ніготь. Запалення і рани. Панарицій
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse10.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading10', data-parent='.programAccordion2')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите:  <br/>
              span.thin-text Практичне відпрацювання на реальних пацієнтах. Апарати та інструменти: набори обертових і ручних інструментів.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading11.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse11',   aria-controls='programCollapse11', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 11
            p.paragraph-text-18
              span.text-w-bold Теорія <br/>
              span.thin-text Діабетична стопа. Дерматози
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse11.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading11', data-parent='.programAccordion2')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите:  <br/>
              span.thin-text Як працювати з діабетичною стопою: обробка і фактори ризику. Навіщо потрібен глюкометр і як з ним працювати. Тест на діабетичну стопу. Дерматози і робота з ними: псоріаз, екзема, дерматит.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading12.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse12',   aria-controls='programCollapse12', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 12
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Діабетична стопа. Дерматози
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse12.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading12', data-parent='.programAccordion2')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите:  <br/>
              span.thin-text Практичне відпрацювання на реальних пацієнтах. Апарати та інструменти: глюкометр
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading13.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse13',   aria-controls='programCollapse13', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 13
            p.paragraph-text-18
              span.text-w-bold Іспит
        .row.no-gutters.w-100.program-answer
  .w-100.d-flex.justify-content-center.mt-4.flex-column.align-items-center
    p.light-blue Вартість курсу&nbsp;
      strong 12 500 грн
    p.crutch-text.mb-0 Студентам, які пройшли один курс, дається знижка 10% на подальше навчання. Термін дії знижки — 3 місяці. Далі знижка становитиме 5% протягом 1 року.
    +customBtn('Зайняти місце')(data-toggle='modal', data-target='#chooseDayCourseSpecial' data-choose-text='Програма курсу базової подології')
  h2.section-title.text-center.white-text.mt-5.text-w-bold Програма курсу малої ортопедії і ортоніксії
  p.h3-title-regular.text-center.mb-4.pb-4.text-border-b.text-w-bolds Найближчій старт — 24 лютого
  p.h3-title-regular.text-center.mb-4.text-w-bold.p-2 МОДУЛЬ 1: ОРТОНІКСІЯ І МЕТОДИКИ КОРЕКЦІЇ ВРОСЛИХ НІГТІВ
  .programAccordionTwo.accordion.m-0
    .col-12.program-item-wrap.w-100.mx-auto.p-0
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo01.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapseTwo01',   aria-controls='programCollapseTwo01', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 1
            p.paragraph-text-18
              span.text-w-bold Теорія <br/>
              span.thin-text Корекція врослого нігтя за допомогою пластин
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo01.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo01', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите:  <br/>
              span.thin-text Роль ортоніксії в роботі з врослим нігтем. Поняття врослого нігтя і показання до установки пластин. Порівняльна характеристика пластин Bs, Gold, Onyclip, NiTi wire, Podofix. Вибір системи і установка. Протипоказання. Матеріали для роботи. Особливості системи. Відпрацювання систем Onyclip, NiTi Wire
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo02.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapseTwo02',   aria-controls='programCollapseTwo02', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 2
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Корекція врослого нігтя за допомогою пластин
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo02.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo02', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите:  <br/>
              span.thin-text Практичне відпрацювання на реальних пацієнтах. Скоба Фрезера. Омега. Подвійна петля. Показання, протипоказання, виготовлення та встановлення. Дія скоби. Установка. Зняття і корекція.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo03.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapseTwo03',   aria-controls='programCollapseTwo03', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 3
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Корекція врослого нігтя за допомогою пластин
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo03.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo03', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите:  <br/>
              span.thin-text Практичне відпрацювання на реальних пацієнтах. Скоба Фрезера. Омега. Подвійна петля. Показання, протипоказання, виготовлення та встановлення. Дія скоби. Установка. Зняття і корекція.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo04.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapseTwo04',   aria-controls='programCollapseTwo04', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 4
            p.paragraph-text-18
              span.text-w-bold Теорія і практика <br/>
              span.thin-text Ортоніксія. Скоба 3ТО
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo04.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo04', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите:  <br/>
              span.thin-text Дія в статиці і динаміці. Підбір скоби, виготовлення заготівок. Матеріали і інструменти. Показання та протипоказання для установки скоби. Помилки майстра. Зняття скоби.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo05.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapseTwo05',   aria-controls='programCollapseTwo05', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 5
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Ортоніксія. Скоба 3ТО
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo05.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo05', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите:  <br/>
              span.thin-text Дія в статиці і динаміці. Підбір скоби, виготовлення заготівок. Матеріали і інструменти. Показання та протипоказання для установки скоби. Помилки майстра. Зняття скоби.
  .w-100.d-flex.justify-content-center.mt-4.flex-column.align-items-center
    p.light-blue Вартість курсу&nbsp;
      strong 12 500 грн
    +customBtn('зайняти місце')(data-toggle='modal', data-target='#chooseDayCourseSpecial' data-choose-text='Програма курсу ортоніксії і малої ортопедії / Модуль 1')
  p.h3-title-regular.text-center.my-5.text-w-bold МОДУЛЬ 2: ПОДОЛОГ ДЛЯ ПРОФІ

  .programAccordionTwo.accordion.m-0
    .col-12.program-item-wrap.w-100.mx-auto.p-0
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo06.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapseTwo06',   aria-controls='programCollapseTwo06', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 1
            p.paragraph-text-18
              span.text-w-bold Мала ортопедія <br/>
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo06.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo06', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите:  <br/>
              span.thin-text Ортези. Анатомія стопи. Деформації стоп і біомеханічні порушення. Подоскоп, педобарограф. Виготовлення індивідуальних ортезів. Жорсткість за Шором. Коригувальні та амортизуючі властивості ортезів.

  .w-100.d-flex.justify-content-center.mt-4.flex-column.align-items-center.mb-5
    p.d-flex.flex-column.align-items-center
      span.light-blue.mt-4.d-block(style="color: #fff; font-weight: 600;").text-center У заняття входять відпрацювання на пацієнтах і виготовлення ортезів
      span.light-blue.mt-4.d-block(style="color: #7b9ddd; font-weight: 600;") Вартість першого дня — <strong>3000 грн</strong>
      +customBtn('зайняти місце')(data-toggle='modal', data-target='#chooseDayCourseSpecial' style="margin: 0;" data-choose-text='Програма курсу ортоніксії і малої ортопедії / Модуль 2 (первый день)')

  .programAccordionTwo.accordion.m-0
    .col-12.program-item-wrap.w-100.mx-auto.p-0
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo07.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapseTwo07',   aria-controls='programCollapseTwo07', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 2
            p.paragraph-text-18
              span.text-w-bold Протезування та відновлення нігтів <br/>
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style .cls-1 {fill: none;}  .cls-2 {clip-path: url(#clip-path);}  .cls-3 {fill: #F2F2F2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo07.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo07', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите: <br/>
              span.thin-text Системи протезування: медичний гель, акрил, нігтьова маса (клей), показання та протипоказання, підбір системи, акрилові вкладки як метод корекції врослих нігтів, часткове і повне протезування.

  .w-100.d-flex.justify-content-center.mt-4.flex-column.align-items-center.mb-5
    p.d-flex.flex-column.align-items-center.text-center
      span.light-blue.mt-4.d-block.text-center(style="color: #fff; font-weight: 600; text-align: center;") У заняття входить відпрацювання на пацієнтах
      span.light-blue.mt-4.d-block(style="color: #7b9ddd; font-weight: 600;") Вартість другого дня — <strong>2500 грн</strong>
      +customBtn('зайняти місце')(data-toggle='modal', data-target='#chooseDayCourseSpecial' style="margin: 0;" data-choose-text='Програма курсу ортоніксії і малої ортопедії / Модуль 2 (другий день)')

  .w-100.d-flex.justify-content-center.mt-4.flex-column.align-items-center
    p.light-blue.text-w-bold.text-center Вартість за два дні відразу —&nbsp;
      del 5 500&nbsp;
      strong 5000 грн
    +customBtn('зайняти місце')(data-toggle='modal', data-target='#chooseDayCourseSpecial' data-choose-text='Програма курсу ортоніксії і малої ортопедії / Обидва Модуля (Повний курс)')
  p.h3-title-regular.text-center.my-5.text-w-bold Модуль 3: ОРТОПОДОЛОГІЯ
  .programAccordionThree.accordion.m-0
    .col-12.program-item-wrap.w-100.mx-auto.p-0
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingThree01.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapseThree01',   aria-controls='programCollapseThree01', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 1-2
            p.paragraph-text-18
              span.text-w-bold Навчання розраховано на 2 дні <br/>
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1 {fill: none;}  .cls-2 {clip-path: url(#clip-path);}  .cls-3 {fill: #F2F2F2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseThree01.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingThree01', data-parent='.programAccordionThree')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Що ви вивчите: <br/>
              span.thin-text Анатомія стопи і нижніх кінцівок. Введення в біомеханіку. Коли стопи кричать SOS. Аналіз стопи на подоскопі. Пальпування стопи. Вимірювання показників стопи. Функціональні тести. Норми і відмінності дитячої та дорослої стопи. Взаємозв'язок біомеханічних порушень стоп з основними проблемами в подології: врослим нігтем, мозолями, п'єзогенними грижами, тріщинами. Стопа з фактором ризику: діабетики, ревматоїдний артрит. Подоскоп. Педобарограф. Сканер. Навіщо потрібні устілки. Як перевірити, чи правильно підібрані устілки. Розвантаження стопи. Підбір ортопедичних виробів.

  .w-100.d-flex.justify-content-center.mt-5.flex-column.align-items-center
    p.text-w-bold.light-blue.text-center.p-2 Натисніть на кнопку, щоб дізнатися вартість навчання на модулі «Ортоподологія»
    +customBtn('Дізнатися вартість')(data-toggle='modal', data-target='#chooseDayCourseSpecial' data-choose-text='Програма курсу ортоніксії і малої ортопедії / Модуль 3')
