section.section.express-course-2
  .container.p-md-0.p-lg-5
    h2.text-center Розклад програм на 2020 рік
    h3 Січень
    p <strong>27 січня</strong> – семінар «Грибкові ураження нігтів і шкіри. Ефективна взаємодія подолога з лабораторією, дерматологом та іншими фахівцями»
    h3.mt-5 Лютий
    p <strong>10 лютого</strong> – семінар «Врослий ніготь. Робота із запаленнями»
    p <strong>17-22 лютого</strong> – курс базової подології, рівень 1
    p <strong>17-22 лютого</strong> – «Ортоніксія. Корекція вростаючого нігтя за допомогою скоб і пластин»
    h3.mt-5 Березень
    p <strong>16-21 березня</strong> – курс базової подології, рівень 2
    p <strong>30 березня</strong> — семінар «Оніходістрофія. Протезування і відновлення нігтьових пластин»
    p <strong>31 березня</strong> — семінар «Ортези. Виготовлення індивідуальних виробів та їх застосування»
    h3.mt-5 Квітень
    p <strong>6 квітня</strong> — семінар «Мозолі. Тріщини. Гіперкератоз в практиці подолога»
    p <strong>6-10 квітня</strong> — «Ортоніксія. Корекція вростаючого нігтя за допомогою скоб і пластин»
    p.text-center.text-w-bold.mt-5 Залиште свої дані, щоб зайняти місце на цікаву вам програму

    .d-flex.justify-content-center.mt-4
      +customBtn('Зайняти місце')(data-toggle='modal', data-target='#chooseDayCourseSpecial' style="width: 234px;" data-choose-text='Консультація по розкладу програм на 2020 рік')
