#firstDayCourse.modal.fade(tabindex='-1', role='dialog', aria-labelledby='firstDayCourse', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content
      h4.text-center Залиште ваші дані
      h5.text-center щоб зайняти місце у группі
      form
        input.w-100.p-text-light.mb-2(type="text", placeholder="Ім'я" data-name required autocomplete='on')
        input.w-100.p-text-light.mb-2(type="email" placeholder="Email" data-email required autocomplete='on')
        input.w-100.p-text-light.mb-4(type="tel" required placeholder="Телефон" data-phone minlength="19" maxlength="19" pattern=".{19}" autocomplete='on')
        input(type="submit" style="display: none;" data-f-day-s-btn)
        +customBtn('відправити')(data-f-day-c-btn)

#callbackModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='callbackModal', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content(style="padding-left: 50px!important; padding-right: 50px!important;")
      h4.text-center.pb-4(style="font-size: 16px;") Запис на прийом відбувається в телефонному режимі
      h5.text-center.pb-4 вкажіть телефон, для дзвінка і узгодження деталей
      form.pb-4p
        input.w-100.p-text-light.mb-4(type="text", placeholder="Ім'я" id='consultName' data-name required autocomplete='on')
        input.w-100.p-text-light.mb-4(type="email" placeholder="Email" required id='consultEmail' data-email autocomplete='on')
        input.w-100.p-text-light.mb-4(type="tel" required placeholder="Телефон" id='consultPhone' data-phone minlength="19" maxlength="19" pattern=".{19}" autocomplete='on')
        input(type="submit" style="display: none;" data-call-day-sub-btn)
        +customBtn('відправити')(data-call-day-callback-btn)

#secondDayCourse.modal.fade(tabindex='-1', role='dialog', aria-labelledby='firstDayCourse', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content
      h4.text-center Введите свои данные
      h5.text-center чтобы занять место в группе
      form
        input.w-100.p-text-light.mb-2(type="text", placeholder="Ім'я" data-name required autocomplete='on')
        input.w-100.p-text-light.mb-2(type="email" placeholder="Email" required data-email autocomplete='on')
        input.w-100.p-text-light.mb-4(type="tel" required placeholder="Телефон" data-phone minlength="19" maxlength="19" pattern=".{19}" autocomplete='on')
        input(type="submit" style="display: none;" data-t-day-s-btn)
        +customBtn('відправити')(data-t-day-c-btn)

#chooseDayCourse.modal.fade(tabindex='-1', role='dialog', aria-labelledby='firstDayCourse', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content
      h4.text-center Залиште ваші дані
      h5.text-center щоб зайняти місце у группі
      form
        input.w-100.p-text-light.mb-2(type="text", placeholder="Ім'я" data-name required autocomplete='on')
        input.w-100.p-text-light.mb-2(type="email" required, placeholder="Email" data-email autocomplete='on')
        input.w-100.p-text-light.mb-2(type="tel" required placeholder="Телефон" data-phone minlength="19" pattern=".{19}" autocomplete='on')
        select.w-100.p-text-light.mb-4(placeholder="Який курс ви оберете?" required)
          option.p-text-light(selected disabled hidden) Який курс ви оберете?
          option.p-text-light(value="1") Програма курсу базової подологии
          option.p-text-light(value="2") Програма курсу ортоніксіі і малої ортопедії
          option.p-text-light(value="3") Експрес-курс апаратних і інструментальних технік
        input(type="submit" style="display: none;" data-fr-day-s-btn)
        +customBtn('відправити')(data-fr-day-c-btn)

#chooseDayCourseSpecial.modal.fade(tabindex='-1', role='dialog', aria-labelledby='firstDayCourse', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content
      h4.text-center Залиште ваші дані
      h5.text-center щоб зайняти місце у группі
      form
        input.w-100.p-text-light.mb-2(type="text", placeholder="Ім'я" data-name required autocomplete='on')
        input.w-100.p-text-light.mb-2(type="email" required, placeholder="Email" data-email autocomplete='on')
        input.w-100.p-text-light.mb-2(type="tel" required, placeholder="Телефон" data-phone minlength="19" pattern=".{19}" autocomplete='on')
        p.text-center.text-white.text-w-bold.my-3 Курс:&nbsp;
          span.text-white.text-light#placeForCourseText
        input(type="submit" style="display: none;" data-fr-day-s-btn-special)
        +customBtn('відправити')(data-fr-day-c-btn-special)

#thanksPopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanksPopup', aria-hidden='true')
  .modal-dialog.modal-popup.modal-dialog-centered(role='document')
    .modal-content.px-1
      h4.text-center Дякуємо!
      h5.text-center Ми зв'яжемося з вами найближчим часом!
