.owl-nav
	position: absolute
	top: 50%
	left: 0
	transform: translateY(-50%)
	display: flex
	align-items: center
	justify-content: space-between
	width: 100%

	span
		display: none

	button
		width: 30px
		height: 30px
		opacity: .4

		&.owl-prev
			background-image: url('../images/icon/slider-left-arrow.png') !important
			background-repeat: no-repeat !important
			background-size: contain !important

		&.owl-next
			background-image: url('../images/icon/slider-right-arrow.png') !important
			background-repeat: no-repeat !important
			background-size: contain !important
