$Circe: 'Circe'
$Cormorant: 'CormorantGaramond'

$mobile-width: 400px
$tablet-width: 768px
$laptop-width: 992px
$desktop-width: 1200px

// Podology
$secondary-header-color: #3A405B
$forward-buutton: #4F79CA

$color-white: #fff
$red-color: #5e191d
$orange-color: #e9522e
$header-bg: #47484a
$primary-color: #574CFA
$secondary-color: #e9522e
$text-color-dark: #556278
$text-color-white: #ffffff
$text-color-lightgrey: #F2F2F2

$bg-color-white: #F9F8F4
$bg-color-dark: #0A0D0E
$bg-cards-name: #bddcdf
$bg-color-section-dark-blue: #303947


$color-orange: #F6AE9F

$card-body: rgba(114, 126, 146, .3)

$color-white: #ffffff
$color-purple: #A09BCF
$color-purple-opacity: rgba(160, 155, 207, 0.8)
$color-orange-opacity: rgba(242, 223, 225, 0.8)
$color-purple-text: #848AA4
$hover-color: #e9522e
$red-color: #5e191d
$orange-color: #e9522e
$header-bg: #47484a
$primary-color: #574CFA
$secondary-color: #e9522e
$text-color-dark: #556278
$text-color-lightDark: #47484a
$text-color-white: #ffffff
$bg-color-white: #F9F8F4
$bg-color-dark: #0A0D0E
$bg-cards-name: #bddcdf
$section-title-color: #58606C
$btn-bg: #A8A4CD
$list-number: #9FA6BA
$proccess-info: #555555
$box-shadow-lightgray: #dadada
$breadcrump-color: #4D5259
$play-btn-color: #3A405B
$soc-btn: #6F7682
$border-light: #D2DBE9
$input-bg: #F8F8F8
$border-bottom-bg: #D8D9DE
$spec-bg: #EDE1DF
$light-bg: #77849B
$dark-gray: #2F3847

$btn-primary-bg: #7B9DDD
$btn-primary-arrow-bg: #4F79CA
