section.section.category.cat-overflow
  .wrapper--light
    .container.very-special-container
      .row.very-special-row
        .col-12.light-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-dark.png" alt="cat-item-dark")
              .wrapper
                span Снижение иммунитета
            p Как только иммунитет дает сбой, мы становимся подвержены вирусам, грибковым и бактериальным инфекциям. Во многом этому способствует фактор стресса, неправильное питание и фаст-фуд, недостаток отдыха и сна, а также малоподвижный образ жизни. Если вы заметили, что часто болеете, посетите иммунолога и займитесь своим иммунитетом.
  .wrapper--dark
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-light.png" alt="cat-item-light")
              .wrapper
                span Заболевания кожи
            p У людей с дерматозами (псориазом, экземой, нейродермитами, атопическими дерматитами и т.д.) снижена барьерная защитная функция кожи. Из-за этого <strong>грибковые инфекции быстрее проникают</strong> в нее и развиваются на отдельных участках.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-dark.png" alt="cat-item-dark")
              .wrapper
                span Хождение босиком в общественных влажных местах
            p Грибковые споры могут <strong>годами сохраняться на поверхностях</strong> мокрых зон: на влажном полу бассейна, общественного душа, сауны. Грибок может быть на кафеле, а также деревянной поверхности. Если пройтись босиком по зараженной грибком поверхности, человек незамедлительно заработает грибковую инфекцию.
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-light.png" alt="cat-item-light")
              .wrapper
                span Использование чужих средств личной гигиены и обуви
            p Грибок <strong>молниеносно распространяется между членами семьи</strong>, потому что достаточно проконтактировать со средством личной гигиены носителя грибковой инфекции. К таким средствам относится обувь человека, его мочалка, полотенца, банный коврик. Также заразиться грибком можно через недостаточно хорошо обработанную поверхность ванны.
  .wrapper--dark--reversed
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-dark.png" alt="cat-item-dark")
              .wrapper
                span Плохая стерилизация инструментов во время педикюра
            p Грибков можно заразиться от предыдущих посетителей салона, где вы делаете педикюр. Конечно, при условии некачественной стерилизации инструментов. Поэтому мы рекомендуем <strong>обращать внимание на способ стерилизации инструментов</strong> еще перед началом маникюра или педикюра.<br><br>Салоны, которые предоставляют эти услуги, обязаны подробно объяснить и продемонстрировать, как они обрабатывают инструменты и поверхности кабинета.
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-light.png" alt="cat-item-light")
              .wrapper
                span Длительное взаимодействие с бытовой химией
            p Средства бытовой химии чаще всего имеют агрессивный состав. Чтобы контактировать с ними, нужно защищать кожу рук и ног перчатками или специальной резиновой обувью.<br><br>В противном случае компоненты бытовой химии <strong>снижают защитный барьер</strong> кожи и образовывают микротрещины, через которые в дальнейшем проникают грибковые инфекции.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-dark.png" alt="cat-item-dark")
              .wrapper
                span Специфические профессии
            p Грибковым заболеваниям чаще подвержены жители крупных городов. Чаще всего пациентами <strong>подологов и дерматологов становятся</strong> шахтеры, металлурги, сотрудники атомных электростанций. Люди, работающие на производстве в таких местах, подвержены негативному влиянию пыли, высоких температур, загазованности и других вредных факторов. Также в группу риска попадают военные, что обусловлено тесной обувью и общими душевыми. Вторая группа риска — спортсмены, тренировки которых проходят в бассейне и открытых водоемах.
