section.section-services
  .container.circles-bg
    .row
      .col.d-flex.flex-column.align-items-center
        h3.section-title-services.mb-4.text-dark-1.text-center Что делать, если у вас грибок
        .services-treatment-divider.mb-4
        p.paragraph-text.w-200.text-dark-1.text-center.mb-4.mb-md-5.custom-px К сожалению, даже с ощутимыми симптомами грибка к специалистам-подологам доходит только 50% пациентов. Вторая половина пытается вылечить грибок своими силами. Это не всегда заканчивается успехом. В большинстве случаев даже приводит к ухудшению состояния или возвращению болезни. Поэтому соблюдайте эти правила, если подозреваете у себя грибок.
        .row.mb-md-5
          .col-12.col-xl-4.pt-5.pl-5.col-circle-bg
            p.paragraph-text.w-200.text-dark-1.font-weight-bold.mb-4 Не пытаться вылечить грибок самостоятельно
            p.paragraph-text.w-200.text-dark-1 Как вы уже узнали выше, самолечение не всегда заканчивается выздоровлением. Это легко объяснить. Без специального лабораторного анализа невозможно определить, какой именно вид грибка вы имеете и в каком он состоянии. Также важную роль играет дальнейший уход за стопой, обувью, одеждой и гигиеной. Такие рекомендации тоже дает специалист-подолог, который исходит из вида грибка и общего состояния пациента.
          .col-12.col-xl-4.pt-5.pl-5.col-circle-bg
            p.paragraph-text.w-200.text-dark-1.font-weight-bold.mb-4 Соблюдать правила личной гигиены
            p.paragraph-text.w-200.text-dark-1 При грибке важно пользоваться чистыми полотенцами, носить чистые носки или колготки, а также дезинфицировать обувь. Когда у человека появляется грибок, в зону риска автоматически попадают все члены семьи, которые с ним живут. Поэтому все средства гигиены ног должны быть только вашими. Подробные инструкции по уходу и гигиене вы получите уже на приеме подолога в нашем центре.
          .col-12.col-xl-4.pt-5.pl-5.col-circle-bg
            p.paragraph-text.w-200.text-dark-1.font-weight-bold.mb-4 Подготовиться к визиту специалиста-подолога
            p.paragraph-text.w-200.text-dark-1 На приеме перед подологом стоит первоочередная задача — определить вид грибка. Для этого он возьмет маленький образец пораженного ногтя или кожи для того, чтобы отправить в лабораторию на анализ. Поэтому за 2 недели до приема нельзя обрабатывать кожу стоп и ногти ничем, кроме обычной воды и мыла. Более подробную информацию о том, как подготовиться к приему при грибке, вы прочитаете ниже.
        .row
          p.section-title-services.mt-4.mt-xl-5 Услуги по лечению грибка
        .row.custom-padding-treatment.pt-3.pt-md-5.mb-5
          .col-12.col-md-6.px-4
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Консультация
              p.paragraph-text.w-200.text-dark-1 На консультации специалист-подолог проводит осмотр пациента и собирает всю необходимую информацию для назначения дальнейшего лечения. Также он берет с пораженной грибком зоны анализ и отправляет в лабораторию. Это первый этап, после которого можно назначить эффективное лечение и определить его продолжительность.
            .paragraph-container
              h4.paragraph-title Обработка онихогрифоза с нанесением антимикотика
              p.paragraph-text.w-200.text-dark-1 Специалист работает с зоной поражения с помощью аппаратной техники космецевтических противогрибковых средств и стерильных инструментов.
          .col-12.col-md-6.px-4
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Обработка грибковых поражений кожи стоп
              p.paragraph-text.w-200.text-dark-1 Специалист работает с зоной поражения с помощью аппаратной техники, космецевтических противогрибковых средств и стерильных инструментов.
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Обработка онихомикоза
              p.paragraph-text.w-200.text-dark-1 Специалист работает с зоной поражения с помощью космецевтических противогрибковых средств и стерильных инструментов.
            .paragraph-container
              h4.paragraph-title.mb-3 Обработка грибковых поражений или онихогрифоза ногтей (дополнительная услуга)
        .container-fluid.d-flex.flex-column.align-items-center
          .row.prices-container.custom-padding-treatment.mb-4

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Первичная консультация подолога (с 1 января 2020 г)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 150 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 мин

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Консультация Дерматолога
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 250 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 25 мин

            .row.px-4.container-fluid
                .col-12.col-md-8.p-0.pr-5
                    p.treatment-service-name.mb-1 Обработка грибковых поражений  (стопа)
                .col-4.col-md-2.p-0
                    p.treatment-price.text-right 450 грн
                .col-4.col-md-2.p-0
                    p.treatment-duration.text-right 1 час

            .row.px-4.container-fluid
                .col-12.col-md-8.p-0.pr-5
                    p.treatment-service-name.mb-1 Обработка грибковых поражений (ногти) (доп услуга) онихогрифоз
                .col-4.col-md-2.p-0
                    p.treatment-price.text-right 150 грн
                .col-4.col-md-2.p-0
                    p.treatment-duration.text-right 1 час

            .row.px-4.container-fluid
                .col-12.col-md-8.p-0.pr-5
                    p.treatment-service-name.mb-1 Анализы
                .col-4.col-md-2.p-0
                    p.treatment-price.text-right 200 грн
                .col-4.col-md-2.p-0
                    p.treatment-duration.text-right 30 мин

            .row.px-4.container-fluid
                .col-12.col-md-8.p-0.pr-5
                    p.treatment-service-name.mb-1 Обработка грибковых поражений стоп
                .col-4.col-md-2.p-0
                    p.treatment-price.text-right 450 грн
                .col-4.col-md-2.p-0
                    p.treatment-duration.text-right 30 мин

            .row.px-4.container-fluid
                .col-12.col-md-8.p-0.pr-5
                    p.treatment-service-name.mb-1 Обработка онихомикоза и онихогрифоза (за 1 ед)
                .col-4.col-md-2.p-0
                    p.treatment-price.text-right 150 грн
                .col-4.col-md-2.p-0
                    p.treatment-duration.text-right 30 мин
            .row.px-4.container-fluid
                .col-12.col-md-8.p-0.pr-5
                    p.treatment-service-name.mb-1 Оброботка  онихомикозов
                .col-4.col-md-2.p-0
                    p.treatment-price.text-right 450 грн
                .col-4.col-md-2.p-0
                    p.treatment-duration.text-right 1 час
            .row.px-4.container-fluid
                .col-12.col-md-8.p-0.pr-5
                    p.treatment-service-name.mb-1 Оброботка онихогрифоза с антимикотиком
                .col-4.col-md-2.p-0
                    p.treatment-price.text-right 450 грн
                .col-4.col-md-2.p-0
                    p.treatment-duration.text-right 1 час
          .services-btn-container
            +btnPen('записаться')(data-toggle='modal', data-target='#callbackModal')
