section.section-services.container-fluid
  .row.section-bg-dark.section-services-treatment-row-padding.pb-3.dark-section-circles-bg.pb-md-5
    .container
      .row.mb-3.mb-sm-5
        .col.text-px-desktop
          h3.section-title-services.text-color-light.mb-4.text-center Как понять, что у вас грибок
          p.paragraph-text.text-center.pt-2.mb-3.w-200 В природе существует около 1500 видов грибка. Примерно 600 из них могут поражать человека. Симптомы каждого вида чем-то отличаются. Иногда они ярко выражены, а иногда скрыты. В любом случае вы почувствуете, что что-то не так. Как только вы заметили что-то нетипичное, уже можно записаться на консультацию к специалисту-подологу.
          p.paragraph-text.text-center.font-weight-bold.mb-0.mb-lg-3 Если же вы обнаружили у себя один из этих симптомов, прием лучше не откладывать:
      .row.pt-0.pt-sm-2
        .col-xl-6.pr-4
          ul.list-blue-bullets.paragraph-text
            li.mb-3.w-200 пораженное место чешется или жжет;
            li.mb-3.w-200 кожа начинает отслаиваться, краснеть, шелушиться;
            li.mb-3.w-200 ногти меняют свою форму и структуру: истончаются или наоборот утолщаются, расслаиваются;
            li.w-200 на пятках образуются трещины, которые в некоторых случаях являются симптомом грибка, а не сухой кожи
        .col-xl-6
          ul.list-blue-bullets.paragraph-text
            li.mb-3.w-200 ногти меняют цвет на коричневый, желтый, зеленый, белый или черный;
            li.mb-3.w-200 появляется неприятный запах от места, пораженного грибком;
            li.mb-3.w-200 вокруг ногтя начинается воспаление;
            li.mb-3.w-200 в складках между пальцами образовываются трещины;
            li.w-200 на более запущенных стадиях грибковые зоны могут болеть и мешать при ходьбе.
