section.section-services.laboratory-section-bg.py-0
  .container
    .row.py-80.py-55-mobile
      .col.pt-4.d-flex.flex-column.align-items-center
        h3.section-title-services.mb-4.text-dark-1.text-center.text-uppercase(style="font-size: 14px;") Что нам дают результаты лаборатории
        p.paragraph-text.text-dark-1.text-center.mb-4.mb-md-5.custom-px-2 Данные лаборатории дают вашему лечащему подологу ответы на<br><strong>3 главных вопроса:</strong>
        .d-flex.justify-content-center.mb-4.flex-column.flex-md-row
          .col-xl-4.col-circle-bg-2.width-180.mr-lg-4.py-4
            p.paragraph-text.text-dark-1.text-center <b>Есть ли у вас</b> грибок или вредные бактерии?
          .col-xl-4.col-circle-bg-2.width-180.mr-lg-4.py-4
            p.paragraph-text.text-dark-1.text-center <b>Что это</b> за грибок или бактерия?
          .col-xl-4.col-circle-bg-2.width-180.mr-lg-4.py-4
            p.paragraph-text.text-dark-1.text-center К каким <b>препаратам</b> чувствительны этот грибок или бактерия?

        p.paragraph-text.text-dark-1.text-center.mb-0.custom-px-2.font-weight-bold.mb-4 Все это помогает нам правильно назначить лечение, которое уже с первой процедуры начнет действовать на пораженную грибком зону стопы.
