section.section.warnings.position-relative
  img(src="assets/img/common/circles-with-hr.png").circles.bg-circles
  .container
    .row.py-80.py-55-mobile
      .col.pt-4.d-flex.flex-column.align-items-center
        h3.section-title-services.mb-4.text-dark-1.text-center Почему опасно откладывать лечение грибковых инфекций
        p.paragraph-text.text-dark-1.text-center.mb-4.mb-md-5.custom-px-2.w-200 Людей с грибковыми поражениями прежде всего волнуют эстетические проблемы, которые приносят эти инфекции. Однако переживать стоит о том, как грибок влияет на здоровье всего организма. Если не начать лечение вовремя и запустить грибок, он повлечет за собой осложнения.
        .d-flex.justify-content-center.mb-4.w-100.flex-column.flex-md-row
          .col-12.col-lg-4.col-circle-bg-special.width-180.mr-lg-4.py-2
            p.paragraph-text.text-dark-1.w-200 <strong>Осложнение №1 — интоксикация организма</strong><br><br>Грибковая инфекция вызывает интоксикацию. Организм воспринимает токсины как аллергены и вырабатывает повышенное количество антител. Это ухудшает общее состояние пациента, усугубляет и затягивает текущие болезни. Особенно это касается бронхо-легочных заболеваний.
          .col-12.col-lg-4.col-circle-bg-special.width-180.mr-lg-4.py-2
            p.paragraph-text.text-dark-1.w-200 <strong>Осложнение №2 — боль во время ходьбы</strong><br><br>При несвоевременном лечении площадь пораженной грибком зоны увеличивается, и ноготь из-за этого приподнимается. Инфекция проникает все глубже, пока не задевает нервные окончания. Когда пациент ходит в узкой обуви, то чувствует характерную боль в зоне с прогрессирующей грибковой инфекцией.
          .col-12.col-lg-4.col-circle-bg-special.width-180.mr-lg-4.py-2
            p.paragraph-text.text-dark-1.w-200 <strong>Осложнение №3 — поражение нервной системы</strong><br><br>Грибковые инфекции в запущенной стадии проникают в кровь, а также провоцируют патологические изменения нервных окончаний. Такая ситуация приводит к тому, что пациент становится раздражительным. А при долгом отсутствии лечения может впасть в депрессию.
