.section-service-block
	max-width: 885px
.section-services
	&.lightblue-bg
		.circles-bg
			background-position: center center !important


.prices-container
  .btn-callback
    max-width: 250px
    margin: 20px auto 0px auto

@media(max-width: 767px)
	.container.circles-bg
		padding-left: 15px !important
		padding-right: 15px !important
		.treatment-price, .treatment-duration
			text-align: left !important
		.row
			margin: 0 !important
		//br
		//	display: none !important
	.section-service-block, .col-12, .container-fluid, .row
		padding-left: 0 !important
		padding-right: 0 !important

