section.section.about-network
  .container
    +breadcrumbs('Главная', 'О нас', '/about.html', 'Про Steffany', '/steffany.html')
    img(src="assets/img/common/circles-with-hr.png" alt="Circles").circles
  .container.d-flex.flex-wrap
    .col-12.col-lg-7.owl-video-wrapper
      .video.video-overlay
      a.video.d-flex.align-items-center.justify-content-center.shadow(data-fancybox="" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
        img.w-100(src="assets/img/about-video.png", alt="about-video")
        img(src="assets/icon/common/play-video.png" alt="Play video button").custom-play-btn
    .col-12.col-lg-5.d-flex.justify-content-center.flex-column.mt-sm-5
      h2 Steffany Podology
      .dash
      p.text-color-dark Это всеукраинская сеть центров здоровья ног. К нам следует сразу обратиться с любым косметическим, дерматологическим или ортопедическим дефектом стопы.
      .row
        a(href="#")
          img(src="assets/icon/social/instagram.svg" alt="Instagram")
        a(href="#")
          img(src="assets/icon/social/facebook.svg" alt="Facebook").ml-5
