section.section.about-center
  .container
    h2.text-center.dark-blue.mb-.mb-lg-5 В центре Steffany абсолютно стерильно
    +numberedSection('Очищенный воздух в помещении', 'Внутри наших центров работают по три циркулятора закрытого типа. Они прогоняют через себя воздух и обеззараживают его. Аппараты для медицинского педикюра имеют встроенный пылесос и всасывают в себя пыль во время приема. Поэтому наши пациенты дышат чистым воздухом.',
      'Стерилизация инструментов после каждого приема', 'Сначала мы замачиваем инструменты в ультразвуковых боксах, где они очищаются под действием гравитации и раствора. Мы используем раствор, который дезинфицирует инструменты и очищает их от любых бактерий, вирусов и грибков. Дальше мы еще раз промываем инструменты и просушиваем их.',
      'Инструменты вскрывают при пациентах', 'Мы раскладываем инструменты по специальным крафт-пакетам и кладем в сухожаровой шкаф. Там они 1 час стерилизуются при температуре 180 градусов. Когда инструмент стерилен, индикатор на крафт-пакете меняет цвет с розового на серый.',
      'Дезинфекция кабинета после каждого пациента', 'После каждого приема мы обрабатываем все поверхности в кабинете дезинфицирующим средством: аппараты, кресло, мебель. Также проводим регулярные уборки в начале и конце дня. Раз в неделю в центре проходит генеральная уборка. Для уборки мы используем специальные раствор и инвентарь.')
