section.section.diploma-list
  .container.container-m.slider-wrap
    .d-flex.justify-content-center.align-items-center.mb-5
      h2.white-text Сертификаты и награды Steffany Podology
    .row.no-gutters
      .dilpomas-slider.owl-carousel.slider-block.slider-pad
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/diploma-1.png", alt="Doctor")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/diploma-2.png", alt="Doctor")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/diploma-3.png", alt="Doctor")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/diploma-4.png", alt="Doctor")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/diploma-1.png", alt="Doctor")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/diploma-2.png", alt="Doctor")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/diploma-3.png", alt="Doctor")
        .specialists-item
          .specialists-item-container.mb-3.w-100
            .specialists-img.w-100
              img.w-100(src="assets/img/common/diploma-4.png", alt="Doctor")
