section.section.about-list
  .container.d-flex.flex-wrap.list-section
    .col-12.col-lg-6
      h2 Направления услуг наших центров
      p В наших центрах три направления, благодаря которым пациенты могут вылечить разные заболевания и дефекты стоп:
      ul
        li
          h3 Подология
          p медицинский педикюр, обработка мозолей, натоптышей и бородавок, удаление вросших ногтей, лечение грибка, уход за диабетической стопой
        li
          h3 Ортониксия
          p исправление и восстановление ногтей после травм и повреждений, протезирование ногтей, восстановление ногтей с грибковыми поражениями
        li
          h3 Малая ортопедия
          p проектируем стельки и силиконовые корректоры для различных деформаций стоп
    .col-12.col-lg-6
      h2 Аппаратура для точного диагноза и лечения
      p Наши специалисты работают с оборудованием, которое дает точные данные о проблеме пациента.
      ul
        li
          p
            strong дерматоскоп
            | — прибор для 20-кратного увеличения кожи. Позволяет определить вид новообразования на стопе и поставить точный диагноз. Используется в лечении бородавок и мозолей. Дает наблюдать процесс выздоровления пациента на том уровне, который невозможно различить глазом.
        li
          p
            strong подоскоп
            | — аппарат для диагностики стопы в положении стоя. Он позволяет увидеть возможные искривления и другие деформации в стопе, которые влияют на общее здоровье ног.
        li
          p
            strong параподографический мат
            | — дорожка, которая оценивает положение стопы при ходьбе. Такая платформа позволяет оценить биомеханику ходьбы пациента и оценить ее качество. При таком анализе видно, как положение стопы влияет на ее здоровье: где происходит излишнее давление или натирание.
        li
          p
            strong лаборатория
            |  которая точно показывает разновидность грибковых заболеваний и позволяет назначить эффективное лечение. Благодаря точному диагнозу пациенты быстрее избавляются от грибковых инфекций.
