section.section.about-list
  .container.list-section
    .col-12.col-lg-6
      h2 Направления услуг наших центров
      p В наших центрах три направления, благодаря которым пациенты могут вылечить разные заболевания и дефекты стоп:
      ul
        li
          h3 Подология
          p медицинский педикюр, обработка мозолей, натоптышей и бородавок, удаление вросших ногтей, лечение грибка, уход за диабетической стопой
        li
          h3 Подология
          p медицинский педикюр, обработка мозолей, натоптышей и бородавок, удаление вросших ногтей, лечение грибка, уход за диабетической стопой

