section.section.about-list
  .container.d-flex.flex-wrap.list-section
    .col-12.col-lg-6
      h2.text-uppercase Направления услуг наших центров
      p В наших центрах четыре направления, благодаря которым пациенты могут вылечить разные заболевания и дефекты стоп.
      ul.info-list
        li
          h3 Подология
          p медицинский педикюр, обработка мозолей, натоптышей и бородавок, коррекция вросших ногтей, лечение грибка, уход за диабетической стопой.
        li
          h3 Ортониксия
          p исправление и восстановление ногтей после травм и повреждений, протезирование ногтей, восстановление ногтей с грибковыми поражениями.
        li
          h3 Малая ортопедия
          p изготовление ортезов и силиконовых корректоров пальцев при деформациях стоп любой сложности. Проектирование корректирующих ортопедических стелек и изготовление разгрузочных стелек PWO.
        li
          h3 Медицинский массаж
          p услуги по реабилитационному массажу для взрослых. Детская реабилитация при патологиях опорно-двигательного аппарата: ЛФК и массаж.
    .col-12.col-lg-6
      h2.text-uppercase Аппаратура для точного диагноза и лечения
      p Наши специалисты работают с оборудованием, которое дает точные данные о проблеме пациента.
      ul.info-list
        li
          p
            strong дерматоскоп
            | — прибор для 20-кратного увеличения кожи. Позволяет определить вид новообразования на стопе и поставить точный диагноз. Используется в лечении бородавок и мозолей. Дает наблюдать процесс выздоровления пациента на том уровне, который невозможно различить глазом.
        li
          p
            strong подоскоп
            | — аппарат для диагностики стопы в положении стоя. Он позволяет увидеть возможные искривления и другие деформации в стопе, которые влияют на общее здоровье ног.
        li
          p
            strong педобарограф
            | — сенсорная дорожка, которая оценивает положение стопы при ходьбе. Такая платформа позволяет оценить биомеханику ходьбы пациента и ее качество. При таком анализе видны биомеханические нарушения нижних конечностей.
            | <br>По результатам на этом аппарате мы можем судить о том, как положение стопы, таза и изменение центра тяжести влияет на здоровье стоп: где происходит излишнее давление или натирание. Также мы можем предотвратить развитие деформаций.
        li
          p
            strong лаборатория
            | , которая точно показывает разновидность грибковых заболеваний и позволяет назначить эффективное лечение.  Благодаря точному диагнозу пациенты быстрее избавляются от грибковых инфекций.
