extends ../layout/main

block content
  include ../sections/about-steffany-page/about-steffany
  //include ../sections/about-salon/four-boxes_02
  include ../sections/about-salon/diploma
  include ../sections/about-steffany-page/map







