extends ../layout/main

block content

  include ../sections/about-steffany/about-video
  include ../sections/four-boxes
  include ../sections/about-steffany/diploma
  include ../sections/about-steffany/map







