extends ../layout/main

block content

  include ../sections/about-steffany/about-video
  include ../sections/about-steffany/four-boxes_01
  include ../sections/about-steffany/diploma
  include ../sections/about-steffany/map







