extends ../layout/main

block content
  .container-overflow
    include ../sections/about-steffany/breadcrambs-page
    include ../sections/about-steffany/about-video
    include ../sections/about-steffany/four-boxes
    include ../sections/about-steffany/diploma
    include ../sections/about-steffany/map







