extends ../layout/main

block content

  include ../sections/about-steffany-salon/breadcrambs-page
  include ../sections/about-steffany-salon/video-slider
  include ../sections/about-steffany-salon/workers-slider
  include ../sections/about-steffany-salon/contact







