extends ../layout/main

block content
  include ../sections/about-page/about-steffany
  include ../sections/about-page/map
  include ../sections/about-page/diploma
  include ../sections/about-page/workers-slider







