extends ../layout/main

block content
  section.section.oferta
    .container

      h3.h3-title.text-color-dark.text-center.text-w-bold ПУБЛІЧНИЙ ДОГОВІР – ОФЕРТА <br> Steffany



      p.paragraph-text.text-color-dark Товариство з обмеженою відповідальністю «СТЕФФАНІ» (надалі «Виконавець»), що належним чином зареєстроване відповідно до законодавства України, в особі Полонського Сергія Васильовича та який діє на підставі Статуту, керуючись ст. 633 Цивільного кодексу України, пропонує укласти договір про надання послуг (надалі «Договір») на нижчевикладених умовах:

      h4.h4-title.text-color-dark.text-center.text-w-bold  1. ТЕРМІНИ
      p.paragraph-text.text-color-dark 1.1. Публічний договір – договір про надання послуг, який встановлює однакові для всіх замовників умови отримання таких послуг на умовах публічної оферти з моменту її акцептування Замовником.
      p.paragraph-text.text-color-dark 1.2. Публічна оферта – пропозиція Виконавця, адресована будь-якій фізичній особі укласти з ним публічний договір про надання послуг на умовах і в порядку, передбаченому цим Договором.
      p.paragraph-text.text-color-dark 1.3. Акцепт – підтвердження Замовником повної і безумовної згоди укласти договір з Виконавцем, на умовах, передбачених публічною офертою, шляхом часткової передоплати замовлення.
      p.paragraph-text.text-color-dark 1.4. Замовник – фізична або юридична особа, яка уклала з Виконавцем Договір.
      p.paragraph-text.text-color-dark 1.5. Прейскурант – затверджені Виконавцем розцінки на свої послуги, яким встановлюється єдиний для всіх Замовників розмір оплати за надання відповідних послуг.
      p.paragraph-text.text-color-dark 1.6. Сайт – сукупність програм для електронних обчислювальних машин та іншої інформації, що міститься в інформаційній системі, доступ до якої забезпечується через мережу Інтернет за мережевою адресою посилання на сайт https://steffany.ua./ (а також інших сайтів Виконавця).
      p.paragraph-text.text-color-dark 1.7. Послуга – діяльність Виконавця, яка здійснюється за індивідуальним замовленням Замовника для задоволення його особистих потреб і в сукупності з іншими послугами формує список послуг, повний перелік яких зазначений на Сайті. Послуга надається громадянам України, іноземцям та особам без громадянства у відповідності з діючим Прейскурантом Виконавця.
      p.paragraph-text.text-color-dark 1.8. Замовлення – послуга або список послуг з переліку, розміщеного на Сайті Виконавця, який формується на Сайті.
      p.paragraph-text.text-color-dark 1.9. Приміщення Виконавця – місце, де Виконавець надає Послуги Замовникам відповідно до даного Договору.
      p.paragraph-text.text-color-dark 1.10. Виконавець – Товариство з обмеженою відповідальністю «СТЕФФАНІ», а також треті особи (фізичні особи-підприємці, юридичні особи), яким передано право на укладення такого Договору від імені ТОВ «СТЕФФАНІ» на умовах франчайзингу.
      p.paragraph-text.text-color-dark 1.11. Сертифікат - документ в електронному або паперовому вигляді, який засвідчує право Замовника на отримання Послуг, що визначені у ньому Виконавцем. Оферта включає два види Сертифікатів:
      p.paragraph-text.text-color-dark - Сертифікат на визначену суму, яку в подальшому Замовник може використати на отримання Послуги, перелік яких визначений на Сайті;
      p.paragraph-text.text-color-dark - Сертифікат із визначеними у ньому Послугами(-гою), перелік яких визначений на Сайті. В такому разі у ціну Сертифікату входить вартість відповідних Послуг.
      p.paragraph-text.text-color-dark 1.12. Сторони – Виконавець та Замовник.
      p.paragraph-text.text-color-dark 1.13. Всі інші терміни та визначення, що зустрічаються в тексті Договору, тлумачиться Сторонами відповідно до чинного законодавства України.
      p.paragraph-text.text-color-dark 1.14.  Назви заголовків (статей) Договору призначені виключно для зручності користування текстом Договору і буквального юридичного значення не мають.

      h4.h4-title.text-color-dark.text-center.text-w-bold 2. АКЦЕПТУВАННЯ ДОГОВОРУ
      p.paragraph-text.text-color-dark 2.1. Підтвердженням повного та безумовного акцептування публічної оферти є внесення ним плати за замовлені Послуги, що свідчить про прийняття ним публічної оферти.       2.2. Договір вважається укладеним без його подальшого підписання з моменту отримання Виконавцем суми оплати в рахунок оформленого Замовлення.
      p.paragraph-text.text-color-dark 2.3. Укладаючи Договір, Замовник автоматично погоджується з повним і беззаперечним прийняттям умов Договору, Прейскуранта Виконавця і всіх додатків, які є невід'ємною частиною даного Договору.
      p.paragraph-text.text-color-dark 2.4. Замовник дає згоду дотримуватися умов Договору та згоду отримати Послуги на встановлених Виконавцем умовах з моменту оплати замовлених Послуг.
      p.paragraph-text.text-color-dark 2.5. Термін акцепту не обмежений.
      h4.h4-title.text-color-dark.text-center.text-w-bold 3. ЗАГАЛЬНІ ПОЛОЖЕННЯ
      p.paragraph-text.text-color-dark 3.1. Акцептуючи умови публічної оферти цього Договору, Замовник підтверджує, що володіє необхідною правоздатністю і повноваженнями для прийняття цього Договору, здатний виконувати умови цього Договору та нести відповідальність за порушення його умов, ознайомився з умовами цього Договору в повному обсязі та приймає всі його умови в повному обсязі без будь-яких вилучень чи обмежень, згоден і зобов’язується дотримуватись умов цього Договору; ознайомився із Умовами користування Сайтом та Політикою конфіденційності та збору даних на Сайті, приймає всі їх умови в повному обсязі без будь-яких вилучень чи обмежень та надає згоду на обробку наданої Виконавцю персональної інформації.
      p.paragraph-text.text-color-dark 3.2. Всі умови Договору, викладені в цій Публічній оферті, є обов’язковими для Сторін.
      p.paragraph-text.text-color-dark 3.3. Якщо Замовник не згодний з умовами Договору, він має право не укладати цей Договір. Відповідно, Замовник, який здійснив Акцепт, підтверджує своє ознайомлення та згоду з усіма умовами цього Договору.
      p.paragraph-text.text-color-dark 3.4. Договір про надання послуг укладається шляхом надання згоди Замовником на приєднання до запропонованого Договору в цілому, шляхом акцептуванням всіх істотних умов Договору, без підпису письмового примірника сторонами. Дійсний Договір має юридичну силу відповідно до ст. 633 ЦК України і є рівносильним Договору, підписаному сторонами.
      p.paragraph-text.text-color-dark 3.5. Всі інформаційні матеріали, представлені на Сайті, носять довідковий характер. У разі виникнення у Замовника питань, що стосуються виконання Послуги, перед розміщенням Замовлення йому необхідно звернутися за консультацією до Виконавця або відправити запит на адресу електронної пошти info@steffany.ua.
      p.paragraph-text.text-color-dark 3.6. Замовник усвідомлює й погоджується з тим, що Виконавець має право обмежувати доступ до всього Сайту на розсуд Виконавця, або у зв’язку із проведенням технічних робіт на Сайті.
      p.paragraph-text.text-color-dark 3.7. Цей Договір вважається укладеним і набирає чинності з моменту вираження згоди при реєстрації в мережі Інтернет або першому оформленні запису на послугу Виконавця (на сайті або іншим способом) і означає повне і безумовне прийняття (акцептування) Замовником цього Договору, який діє протягом невизначеного строку або до моменту його розірвання.
      p.paragraph-text.text-color-dark 3.8.   Цей Договір має силу Акту про надання послуг. Відсутність вимоги про повернення грошових коштів відповідно до п.7 Договору означає, що Послуги надані в термін і належної якості. Письмові акти виконаних робіт можуть бути (але не повинні) виписані і надані тільки на вимогу Замовника.

      h4.h4-title.text-color-dark.text-center.text-w-bold 4. ПРЕДМЕТ ДОГОВОРУ
      p.paragraph-text.text-color-dark 4.1. Виконавець зобов’язується на умовах та в порядку, визначених цим Договором, надати Замовнику послуги що обираються Замовником на Сайті, а Замовник зобов’язується на умовах та в порядку, визначених цим Договором, прийняти та оплатити замовлені послуги.
      p.paragraph-text.text-color-dark 4.2. Замовник та Виконавець підтверджують, що даний Договір не є фіктивним чи удаваним правочином або правочином, укладеним під впливом тиску чи обману.

      h4.h4-title.text-color-dark.text-center.text-w-bold 5. ПРАВА ТА ОБОВ’ЯЗКИ ВИКОНАВЦЯ
      p.paragraph-text.text-color-dark 5.1. Виконавець зобов’язаний:
      p.paragraph-text.text-color-dark 5.1.1. Надати Послуги Замовнику в порядку і строки, передбачені Договором, заявою-приєднанням і Тарифами Виконавця.
      p.paragraph-text.text-color-dark 5.2. Виконавець має право:
      p.paragraph-text.text-color-dark 5.2.1. Обробляти персональні дані Замовника під час укладення та виконання Договору відповідно до Закону України «Про захист персональних даних» на підставі угоди Замовника під час акцептування Публічної оферти, а також відповідно до політики конфіденційності Виконавця.
      p.paragraph-text.text-color-dark 5.2.2. В односторонньому порядку вносити зміни до Договору і/або Тарифи з подальшим розміщенням на Сайті відповідної інформації.
      p.paragraph-text.text-color-dark 5.2.3. Тимчасово призупинити надання Замовнику послуг, визначених цим Договором, через технічні або інші причини, що заважають наданню послуг на час виявлення і ліквідації̈ таких причин;
      p.paragraph-text.text-color-dark 5.2.4. Залучати третіх осіб до надання Послуг Замовнику, без узгодження таких дій Виконавця з Замовником.
      p.paragraph-text.text-color-dark 5.2.5. Відмовити в наданні Послуги Замовнику, якщо така послуга здатна нашкодити здоров'ю або зовнішньому вигляду Замовника.
      p.paragraph-text.text-color-dark 5.2.6. В односторонньому порядку відмовитись від надання послуг з будь-яких причин, з обов’язковим поверненням грошових коштів, сплачених замовником, без жодної компенсації завданої майнової та/або моральної шкоди, збитків тощо.

      h4.h4-title.text-color-dark.text-center.text-w-bold 6. ПРАВА ТА ОБОВ’ЯЗКИ ЗАМОВНИКА
      p.paragraph-text.text-color-dark 6.1. Замовник зобов’язаний:
      p.paragraph-text.text-color-dark 6.1.1. Повідомити Виконавцю достовірні дані про себе та надати належним чином документи, що необхідні для виконання зобов’язань за цим Договором.
      p.paragraph-text.text-color-dark 6.1.2. Своєчасно оплатити і отримати послуг, визначені цим Договором.
      p.paragraph-text.text-color-dark 6.1.3. Завчасно (не пізніше 24 годин до початку надання Послуги, попередити Виконавця про неможливість з'явитися.
      p.paragraph-text.text-color-dark 6.1.4. Приходити до Виконавця на вказаний час, не порушуючи сформований графік роботи Виконавця.
      p.paragraph-text.text-color-dark 6.1.5. Замовник надає згоду на отримання інформаційних розсилок від Виконавця.
      p.paragraph-text.text-color-dark 6.1.6. Ознайомитись з інформацією про послуги, яка розміщена на сайті https://steffany.ua/.
      p.paragraph-text.text-color-dark 6.2. Замовник має право:
      p.paragraph-text.text-color-dark 6.2.1. Отримати Послуги Виконавця в порядку, строки та на умовах, передбачених цим Договором.

      h4.h4-title.text-color-dark.text-center.text-w-bold 7. ЦІНА ТА ПОРЯДОК ОФОРМЛЕННЯ  РОЗРАХУНКІВ
      p.paragraph-text.text-color-dark 7.1. Ціна кожної окремої Послуги визначається Виконавцем та зазначається на відповідній сторінці Веб-сайту https://steffany.ua/. Ціна Договору (вартість Замовлення) визначається шляхом додавання цін всіх обраних Замовником Послуг.
      p.paragraph-text.text-color-dark 7.2. Замовник оплачує послуги, визначені цим Договором, на підставі цього Договору у національній валюті України – гривні.
      p.paragraph-text.text-color-dark 7.3. Виконавець може в односторонньому порядку змінити ціну Послуги до моменту його оплати Замовником шляхом публікації нової ціни на Сайті або відправки нового рахунку-фактури.
      p.paragraph-text.text-color-dark 7.4. Оплата здійснюється шляхом:
      p.paragraph-text.text-color-dark 7.4.1. перерахування грошових коштів на поточний рахунок Виконавця (з обов’язковим призначенням платежу у відповідності до обраної послуги);
      p.paragraph-text.text-color-dark 7.4.2. за допомогою інших платіжних засобів, які вказані на Веб-сайті Виконавця (якщо Замовником є фізична особа).
      p.paragraph-text.text-color-dark 7.4.3. виплатою готівковими коштами.
      p.paragraph-text.text-color-dark 7.5. Моментом оплати за цим Договором вважається час зарахування грошових коштів на поточний рахунок Виконавця або отримання коштів Виконавцем та відповідне його оформлення. Оплата Замовником вартості послуги є укладенням цього Договору (акцепт - оферти).
      p.paragraph-text.text-color-dark 7.6. Витрати, в тому числі комісії платіжних сервісів, по перерахуванню Замовником коштів за цим договором несе Замовник.
      p.paragraph-text.text-color-dark 7.6. Замовник самостійно оформлює Замовлення на відповідній сторінці Веб-сайту https://steffany.ua шляхом додавання Послуг у віртуальний кошик за допомогою натискання відповідної кнопки «Продовжити» або «Кошик», або за допомогою платіжної системи натисканням кнопки «Замовити», або зробивши замовлення по електронній пошті, чи за номером телефону, вказаним в розділі контактів Веб-сайту https://steffany.ua.
      p.paragraph-text.text-color-dark 7.7. Якщо Замовник, при перерахуванні грошових коштів на поточний рахунок Виконавця, не зазначить належним чином призначення платежу (у відповідності до обраної послуги, що унеможливить ідентифікацію послуги, за яку була внесена оплата), Виконавець має право самостійно визначити послугу, за яку була внесена оплата Замовником, з обов’язковим врахуванням розміру здійсненої оплати.
      p.paragraph-text.text-color-dark 7.8. Строк обробки Виконавцем Замовлення - до 3-х (трьох) робочих днів з моменту його оформлення. В разі, якщо Замовлення відправлено у вихідний або святковий день, строк обробки Замовлення починається з першого після вихідного робочого дня.

      h4.h4-title.text-color-dark.text-center.text-w-bold 8. ПОВЕРНЕННЯ КОШТІВ
      p.paragraph-text.text-color-dark 8.1. Сторони домовились, що відповідно до порядку та умов цього Договору Замовник купує замовлені послуги.
      p.paragraph-text.text-color-dark 8.2. Повернення грошових коштів у випадках, передбачених Договором, здійснюється на рахунок (банківський, електронний) Замовника, з якого кошти були перераховані Виконавцю, протягом 10 (десяти) робочих днів з моменту виникнення підстав для повернення за вирахуванням грошових сум, що становлять комісію, що стягується з Виконавця як користувача платіжною системою за отримання і повернення грошових коштів Замовнику або шляхом отримання коштів Замовником та відповідне його оформлення. У разі неможливості повернення коштів у спосіб, передбачений Договором, Виконавець повідомляє про це Замовника протягом терміну, встановленого Договором. У цьому випадку повернення грошових коштів здійснюється іншим способом, додатково узгодженим Сторонами.


      h4.h4-title.text-color-dark.text-center.text-w-bold 9. ІНТЕЛЕКТУАЛЬНА ВЛАСНІСТЬ
      p.paragraph-text.text-color-dark 9.1. Виконавець та(або) працівники Виконавця, залишають за собою всі виключні майнові права інтелектуальної власності на послугу та інформацію, що строюється послуги, що їм належать.
      p.paragraph-text.text-color-dark 9.2. Виконавець не несе відповідальності за неналежне виконання Замовлення, в разі надання Замовником недостовірної інформації про себе або виявлених помилок в замовленні.
      p.paragraph-text.text-color-dark 9.3. Дії та / або бездіяльність Замовника, що спричинили порушення прав Виконавця або спрямовані на порушення прав Виконавця на Сайт або його компоненти, тягнуть за собою кримінальну, цивільну та адміністративну відповідальність відповідно до законодавства України.
      p.paragraph-text.text-color-dark 9.4. Всі результати інтелектуальної діяльності, що містяться на Сайті можуть бути використані Замовником виключно в особистих цілях. Замовник не має права використовувати такі результати іншими способами.

      h4.h4-title.text-color-dark.text-center.text-w-bold 10. ВІДПОВІДАЛЬНІСТЬ СТОРІН
      p.paragraph-text.text-color-dark 10.1. Виконавець має право відмовити в наданні Послуги Замовнику з подальшим списанням Попередньої оплати в якості штрафу в наступних випадках:
      p.paragraph-text.text-color-dark 10.1.1. Запізнення Замовника на Послугу більш ніж на дві години від того часу, який зазначено Виконавцем.
      p.paragraph-text.text-color-dark 10.1.2. Не попередження Замовником Виконавця не пізніше, ніж за 24 години до часу надання Послуги, про неможливість з'явитися в зазначений час.
      p.paragraph-text.text-color-dark 10.2. Виконавець має право відмовити в обслуговуванні Замовника, якщо було повернена оплата.
      p.paragraph-text.text-color-dark 10.3. Виконавець не несе відповідальності за збереження особистих речей і грошових коштів Замовника під час перебування останнього в Приміщенні Виконавця.
      p.paragraph-text.text-color-dark 10.4. Відповідальність за шкоду, заподіяну Виконавцю або третім особам, які перебувають в Приміщенні Виконавця малолітніми/неповнолітніми дітьми Замовника, несе Замовник. Шкода, заподіяна Виконавцем Замовнику або третім особам, внаслідок дій малолітніх/неповнолітніх дітей Замовника підлягає відшкодуванню Замовником.
      p.paragraph-text.text-color-dark 10.5. Виконавець не несе відповідальності перед Замовником за невиконання або неналежне виконання обов'язків за Договором, якщо воно стало наслідком виникнення форс-мажорних обставин: пожежа, стихійне лихо, військові дії, громадські заворушення, епідемія, блокада, землетрус, повінь і так далі, що підтверджується рішенням відповідного уповноваженого органу.
      p.paragraph-text.text-color-dark 10.6. Сторона повинна повідомити іншу Сторону про дію обставин непереборної сили не пізніше ніж через один день з дня їх виникнення або з дня, коли виникла можливість здійснити таке повідомлення, шляхом подання відповідного повідомлення засобами електронного або телефонного зв'язку.
      p.paragraph-text.text-color-dark 10.7. Замовник в повному обсязі несе відповідальність за: достовірність відомостей, зазначених ним при реєстрації в якості користувача на Сайті, достовірність гарантій і запевнень, що містяться в п. 10.6. цього Договору.

      h4.h4-title.text-color-dark.text-center.text-w-bold 11. ГАРАНТІІ СТОРІН
      p.paragraph-text.text-color-dark 11.1. Погоджуючись з умовами та приймаючи умови цього Договору шляхом оплати вартості послуг замовлення, Замовник запевняє Виконавця і гарантує, що:
      p.paragraph-text.text-color-dark 11.1.1. Замовник вказав достовірні дані, в тому числі свої персональні дані, при реєстрації на Сайті і при оформленні платіжних документів з оплати замовлення.
      p.paragraph-text.text-color-dark 11.1.2. Що не буде використовувати отримані послуги (в тому числі консультацію та рекомендації Виконавця щодо тих чи інших послуг) з метою підбурювання інших учасників до використання будь-яких конкурентних продуктів або послуг.
      p.paragraph-text.text-color-dark 11.1.3. Замовник укладає Договір добровільно. Замовник повністю розуміє предмет Договору (оферти), ознайомився з його умовами та розуміє значення і наслідки своїх дій щодо його укладення та виконання.

      h4.h4-title.text-color-dark.text-center.text-w-bold 12. ПОРЯДОК НАПРАВЛЕННЯ ПРЕТЕНЗІЇ ТА РОЗВ'ЯЗАННЯ СПОРІВ
      p.paragraph-text.text-color-dark 12.1. Всі спори, що виникатимуть внаслідок даного Договору, або будуть пов'язані з ним, розв'язуватимуться шляхом переговорів між Сторонами.
      p.paragraph-text.text-color-dark 12.2. У випадку, якщо відповідний спір неможливо розв'язати шляхом переговорів протягом чотирнадцяти календарних днів, такий спір може бути розв'язаний в судовому порядку згідно з встановленою підвідомчістю/підсудністю спору, у відповідності з чинним законодавством.
      p.paragraph-text.text-color-dark 12.3. Сторона, у якої виникли претензії і / або розбіжності, направляє іншій Стороні повідомлення із зазначенням претензій і / або розбіжностей, що виникли.
      p.paragraph-text.text-color-dark 12.4. Звернення (повідомлення) повинно містити суть висунутої вимоги, докази, що підтверджують вимогу, а також необхідні відомості передбачені чинним законодавством України та Договором.
      p.paragraph-text.text-color-dark 12.5. Зазначене в пункті 11.3 Договору повідомлення направляється Замовником на адресу електронної пошти: info@steffany.ua, а також направляється на юридичну адресу Виконавця в письмовій формі за допомогою відправки поштою рекомендованим листом з повідомленням про вручення та описом вкладення.
      p.paragraph-text.text-color-dark 12.6. Протягом 20 (двадцяти) робочих днів з моменту отримання оригіналу зазначеного в пункті 11.3. Договору повідомлення, за умови, що дане повідомлення відповідає положенням пункту 11.5. Договору, Сторона, що отримала його, зобов'язана направити відповідь на це повідомлення.

      h4.h4-title.text-color-dark.text-center.text-w-bold 13. ІНШІ УМОВИ
      p.paragraph-text.text-color-dark 13.1. Договір є публічним і безстроковим та діє до його припинення будь-якою зі Сторін у порядку, встановленому цим Договором або чинним законодавством. Договір набуває чинності з моменту його укладення згідно пункту 7.5. Договору і діє до повного і належного виконання Сторонами своїх зобов'язань за ним. Дострокове розірвання Договору допускається у випадку, передбаченим цим Договором та згідно чинного законодавства України.
      p.paragraph-text.text-color-dark 13.2. Цей Договір публічно доводиться до відома усіх Замовників, шляхом його розміщення (оприлюднення) на Сайті Виконавця.
      p.paragraph-text.text-color-dark 13.3. Виконавець може проводити відео та фото запис всього процесу надання послуги.
      p.paragraph-text.text-color-dark 13.4. Визнання будь-якого положення або пункту даного Договору чи додатків до нього не дійсним, не впливає на дійсність інших положень і умов Договору
      p.paragraph-text.text-color-dark 13.5. Виконавець не несе відповідальність за зміст і правдивість інформації, що надається Замовником при оформленні Замовлення. Замовник несе відповідальність за достовірність вказаної при оформленні Замовлення інформації.
      p.paragraph-text.text-color-dark 13.6. Всі Додатки до Договору є невід’ємними частинами цього Договору та є обов’язковими  для виконання та дотримання Сторонами.
      p.paragraph-text.text-color-dark 13.7. Інформація про можливі додаткові або інші супутні послуги міститься на сайті Виконавця або на сайтах відповідних партнерів Виконавця.
      p.paragraph-text.text-color-dark 13.8. Укладаючи цей Договір, Замовник автоматично погоджується з повним та безумовним прийняттям положень Договору і вартості послуг (Прейскурант), затверджених Виконавцем, та інших умов надання Послуг, оприлюднених на Сайті.
      p.paragraph-text.text-color-dark 13.9. Оформивши (підписавши) заяву-приєднання до Договору, Замовник надає дозвіл на збір та обробку його персональних даних для цілей, пов’язаних з наданням Послуг та в межах, визначених законодавством України. Виконавець вправі здійснювати обробку персональних даних Заявників самостійно, так і доручивши її розпоряднику бази персональних даних.
      p.paragraph-text.text-color-dark 13.10. Цей Договір може бути змінено Виконавцем в односторонньому порядку без попереднього та наступного повідомлення про це Замовника. Зміни набирають чинності в день публікації цього Договору на сайті https://steffany.ua/t.
      p.paragraph-text.text-color-dark 13.11. Чинна редакція цього Договору доступна (опублікована) в мережі Інтернет за адресою: https://steffany.ua/.
      p.paragraph-text.text-color-dark 13.12. Замовник розуміє та погоджується, що його згода з умовами цього Договору або отримання ним послуг, визначених цим Договором, після дати публікації змін до цього Договору означає згоду Замовника з оновленими умовами.
      p.paragraph-text.text-color-dark 13.13. Сторони домовились, що окремого акту прийому-передачі на підтвердження надання послуг за цим Договором не вимагається. Послуги вважаються наданими у повному обсязі та належним чином, якщо протягом  1 (одного) календарного дня з дня наступного за днем у який було надано послугу, Виконавцем не було отримано письмової мотивованої претензії щодо якості надання послуг.
      p.paragraph-text.text-color-dark 13.14. Авторські права на матеріали, які надаються за цим Договором, належать Виконавцю. Не дозволяється їх копіювати, відтворювати, поширювати або використовувати без попереднього дозволу Виконавця. Замовнику дозволяється  особисте користування засобами та іншими матеріалами, що передаються йому Виконавцем. Але таке користування не надає Замовнику будь-яких прав інтелектуальної власності на ці засоби чи матеріали. Всі права зберігаються за Виконавцем.
      p.paragraph-text.text-color-dark 13.15. Замовник зобов'язується вказувати авторство і давати посилання на Виконавця (в мережі інтернет обов'язково активне гіперпосилання на сайт за адресою посилання на сайт) при будь-якому письмовому або усному посиланню на Виконавця та / або Послуги на Сайті, включаючи матеріали та інформації, отримані внаслідок використання Сертифіката за цим Договором (офертою).
      p.paragraph-text.text-color-dark 13.16. Сторони погоджуються, що Договір може бути змінений Виконавцем в односторонньому порядку шляхом розміщення оновленого тексту Договору в мережі Інтернет на Сайті не менше ніж за один день до введення змін в дію. Замовник підтверджує свою згоду зі змінами умов Договору шляхом використання Сайту.

      h4.h4-title.text-color-dark.text-center.text-w-bold 14. ВИКОНАВЕЦЬ

      p.paragraph-text.text-color-dark ТОВ «СТЕФФАНІ»

      p.paragraph-text.text-color-dark Житомир, вул. Київська, 84

      p.paragraph-text.text-color-dark Код ЄДРПОУ 42723501

      p.paragraph-text.text-color-dark Тел: (093) 409-04-79

      p.paragraph-text.text-color-dark Тел: (067) 404-19-33

      p.paragraph-text.text-color-dark e-mail: info@steffany.ua


