extends ../layout/main

block content

  //include ../sections/service-shugarin/breadcrambs-page
  include ../sections/service-shugarin/about-page-section
  include ../sections/service-shugarin/service-three-boxes
  include ../sections/service-shugarin/block-answer-before
  include ../sections/service-shugarin/service-list-shugaring
  include ../sections/service-shugarin/block-answer-after
  include ../sections/service-shugarin/accordeon
  include ../sections/service-shugarin/service-laser-results
  include ../sections/consultation-form
  include ../modules/modal







