extends ../layout/main

block content
    include ../sections/service/service-laser-main
    include ../sections/service/four-boxes_03
    include ../sections/service/service-consultation
    include ../sections/service/service-laser-service-list
    include ../sections/service/service-laser-discout
    include ../sections/service/service-after-laserepila
    include ../sections/service/service-laser-whatToDo
    include ../sections/service/service-laser-contraindications
    include ../sections/service/service-laser-results
    include ../sections/service/service-laser-personal
    include ../modules/accordion-answer
    include ../sections/service/service-laser-interests
    include ../sections/service/service-consultation-form







