extends ../layout/main

block content

  include ../sections/service-shugarin/about-page-section
  include ../sections/service-shugarin/service-three-boxes_01
  include ../sections/service-shugarin/block-answer-before
  include ../sections/service/service-laser-service-list
  include ../sections/service-shugarin/block-answer-after
  include ../sections/service-shugarin/accordeon
  include ../sections/service-shugarin/service-laser-results
  include ../sections/consultation-form







