extends ../layout/main

block content
  .container-overflow
    include ../sections/about-steffany-salon/breadcrambs-page
    include ../sections/about-steffany-salon/video-slider
    include ../sections/about-steffany-salon/specialists
    include ../sections/about-steffany-salon/contact







