extends ../layout/main
block content

  //include ../sections/vaxing/breadcrambs-page
  include ../sections/vaxing/about-page-section
  include ../sections/vaxing/service-three-boxes_01
  include ../sections/vaxing/block-answer-before
  include ../sections/service/service-laser-service-list
  include ../sections/vaxing/service-three-boxes-dark-theme.pug
  include ../sections/vaxing/block-answer-after
  include ../sections/vaxing/accordeon
  include ../sections/vaxing/service-laser-results
  include ../sections/consultation-form







