extends ../layout/main
block content

  //include ../sections/vaxing/breadcrambs-page
  include ../sections/vaxing/about-page-section
  include ../sections/vaxing/service-three-boxes
  include ../sections/vaxing/block-answer-before
  include ../sections/vaxing/service-list-waxing
  include ../sections/vaxing/service-laser-whatToDo
  include ../sections/vaxing/service-three-boxes-dark-theme
  include ../sections/vaxing/block-answer-after
  include ../sections/vaxing/accordeon
  //include ../sections/vaxing/service-laser-results
  include ../sections/consultation-form
  include ../modules/modal







