section.section.consultation-homepage
  .consultation-01
    .container
      .row
        .col-12.col-xl-6.mb-3.ml-xl-0
          .c-content
            h2.h2-title Лазерна епіляція <br> починається з консультації
            p.paragraph-text.text-color-light.text-w-bold.c-margin Головна задача консультації — щоб ви були спокійні і впевнені у процедурі
            p.paragraph-text.text-opacity.text-w-light.mb-2 Консультація — це перший і обов'язковий етап лазерної епіляції. Під час неї ви отримуєте відповіді на всі свої питання, а ми переконуємося, яку кількість процедур вам призначити для найкращого результату.
            p.paragraph-text.text-opacity.text-w-light.mb-2 Як же проходить консультація?
            .c-li.d-flex.align-items-center.mb-2.mt-2.left
              .custom-icon-number.mb-2
                p.paragraph-text.text-color-lightdark 1
              p.paragraph-text.text-color-light.mb-2.ml-2 Ми знайомимося і заповнюємо карту клієнта
            p.paragraph-text.text-opacity.text-w-light.mb-2 Для початку ми з'ясовуємо, чи є у вас досвід процедури лазерної епіляції. Від цього залежить уся подальша бесіда. Адже якщо ви вже видаляли волосся лазером, напевно, точно розумієте свої вимоги до процедури. А якщо ні — у вас може бути багато питань.
            p.paragraph-text.text-opacity.text-w-light.mb-2 Під час розмови ми водночас заповнюємо вашу індивідуальну карту клієнта. Там ми збираємо анамнез — інформацію про стан вашого здоров'я. Ми спілкуємося з вами і проводимо поверхневий огляд, щоб дізнатися відомості про вашу шкіру, можливі хронічні захворювання, прийом препаратів, гормональний фон, алергічні реакції та інше. Все це допоможе зробити подальшу процедуру максимально безпечною.
        .col-12.col-xl-6.mt-2.mt-xl-0
          .white-block-design
            img(src="assets/img/homepage/cansultation-01.jpg" alt="position-img-2" srcset="assets/img/homepage/cansultation-01@2x.jpg 2x")
            p.extralarge-text-bg epilation
  .consultation-02
    .container
      .row.align-items-top
        .col-12.col-xl-6
          .white-block-design.mr-auto.ml-xl-auto
            img(src="assets/img/homepage/cansultation-02.jpg" alt="position-img-2" srcset="assets/img/homepage/cansultation-02@2x.jpg 2x")
        .col-12.col-xl-6
          .c-content
            .c-li.d-flex.align-items-center.mb-2.mt-2.left
              .custom-icon-number.mb-2
                p 2
              p.paragraph-text.text-color-light.text-w-bold.mb-2.ml-2 Розповідаємо про лазер і його ефект
            p.paragraph-text.text-opacity.text-w-light.mb-2 Ми розповідаємо, як працює лазер і як буде видалятися волосся. Кожна друга наша клієнтка із досвідом лазерної епіляції дивується, що ми обіцяємо повну безболісність і всесезонність. Однак це правда: лазер не відчувається на шкірі і його можна робити влітку, а вже на наступний день йти на пляж.
            p.paragraph-text.text-opacity.text-w-light.mb-2 Також детально розповідаємо, як буде зникати волосся після першої процедури. Цей процес теж відрізняється від лазерів попереднього покоління. Ми не випалюємо волосяний фолікул, а прогріваємо його. Тому ефект ви побачите на 10-14 день, коли шкіра почне виштовхувати мертве волосся. На консультації ви докладно дізнаєтеся про такі моменти і поставите необхідні запитання.
            .c-li.d-flex.align-items-center.mb-2.mt-2.left
              .custom-icon-number.mb-2
                p 3
              p.paragraph-text.text-color-bold.mb-2.ml-2 Повідомляємо про всі протипоказання
            p.paragraph-text.text-opacity.text-w-light.mb-2 У нашого лазера є абсолютні та відносні протипоказання. Більшість із них потрібно обговорювати індивідуально. Ми поговоримо про це на консультації і разом зрозуміємо, чи підходить вам видалення волосся за допомогою лазера.
            p.paragraph-text.text-opacity.text-w-light.mb-2 Після цього ви підписуєте інформаційну угоду про те, що ми провели з вами бесіду і ознайомили з усіма тонкощами і особливостями процесу.

