section.section.safety
  .container
    h2.h2-title.text-center.mb-3 Лазерна епіляція має вам допомогти, а не нашкодити
    p.subtitle.text-center Тому ми вживаємо всі заходи безпеки
    .row.c-safety.justify-content-center.justify-content-lg-between
      .col-12.col-xl-6.safety-box.mb-5.mb-xl-0
        .c-content
          p.paragraph-text.text-w-bold Направляємо до вузькопрофільного фахівця, якщо нас щось насторожує
          p.paragraph-text.text-opacity.text-w-light.mb-5.mb-xl-0 У деяких ситуаціях наші майстри можуть запідозрити можливі проблеми зі здоров'ям. Наприклад, волосся в небажаних місцях за чоловічим типом можуть наштовхнути на думку, що у дівчини проблеми з гормонами. А велика кількість родимок може свідчити про потенційну загрозу, що якась родимка перетвориться з доброякісною в злоякісну. Тому іноді ми відправляємо клієнтів до хірургів, ендокринологів, дерматологів і інших вузьких спеціалістів
      .col-12.col-xl-6.safety-box
        .c-content
          p.paragraph-text.text-w-bold  Чесно відмовляємо у процедурі, <br> якщо вона протипоказана
          p.paragraph-text.text-opacity.text-w-light Небажані волосся на тілі — всього лише естетична проблема. Нашим з вами головним пріоритетом повинно бути здоров'я. Тому якщо стан організму ніяк не дозволяє провести лазерну епіляцію — нічого страшного. Ми підберемо для вас інший спосіб позбавлення від небажаного волосся, який буде ефективним і безпечним особисто для вас в цей період життя. У майбутньому, якщо стан організму зміниться, ми разом можемо переглянути це рішення і знову подумати про лазерну епіляцію.

