extends ../layout/404-layout

block content
  .wrapper-404
    .container.d-flex.flex-column
      h1.mt-5.mt-lg-0 Ця сторінка не знайдена
      p Перевірте правильність адреси, або натисніть на будь-яке посилання внизу:

      ul.d-block.d-md-none.d-lg-block
        li
          a(href='./') Перейти на головну
        li
          a(href='./about.html') Почитати про мережу салонів Steffany
        li
          a(href='./pod.html') Дізнатися про послуги подології
        li
          a(href='./edu.html') Почитати про можливість навчання подології

      .row.d-none.d-md-flex.d-lg-none
        .col-6
          ul
            li
              a(href='./') Перейти на головну
            li
              a(href='./about.html') Почитати про мережу салонів Steffany
        .col-6
          ul
            li
              a(href='./pod.html') Дізнатися про послуги подології
            li
              a(href='./edu.html') Почитати про можливість навчання подології

      .row.feet-404
        .col-12.col-lg-4.p-3
          .wrapper
            h2 Подологія
            p Лікування нігтів і шкіри стоп
            a(href="./pod.html").button-forward
        .col-12.col-lg-4.p-3
          .wrapper
            h2 Ортоніксія
            p Виправлення форми і зростання нігтів
            a(href="./otronixia.html").button-forward
        .col-12.col-lg-4.p-3
          .wrapper
            h2 Мала ортопедія
            p Корекція положення стоп за допомогою устілок і ортезів
            a(href="./orthopedics.html").button-forward
