extends ../layout/main

block content
  include ../sections/services/nail-fungus-treatment/about-fungus
  include ../sections/services/nail-fungus-treatment/fungus-symptoms
  include ../sections/services/nail-fungus-treatment/fungus-treatment-services
  include ../sections/index/doctors
  include ../sections/services/service-consultation
  include ../sections/services/nail-fungus-treatment/laboratory-cooperation
  include ../sections/services/nail-fungus-treatment/research-description
  include ../sections/services/nail-fungus-treatment/laboratory-results
  include ../sections/services/nail-fungus-treatment/prepare-to-appointment
  include ../sections/services/nail-fungus-treatment/sterial-treatment
  include ../sections/services/nail-fungus-treatment/treatment
  include ../sections/services/nail-fungus-treatment/fungus-reasons
  include ../sections/services/nail-fungus-treatment/category
  include ../sections/services/nail-fungus-treatment/warnings
  +FAQ('Поширені запитання', 'Тут ви знайдете інформацію, яка найчастіше цікавить наших пацієнтів', [
    {
      title: 'Лікування грибка нігтів і шкіри — це боляче?',
      body: 'Біль — це головний страх усіх, хто вперше приходить до подолога. Однак боятися нема чого. Процедура видалення грибка максимально безболісна і в кінці приносить полегшення. Пацієнти кажуть, що їх шкіра «знову починає дихати»..'
    },
    {
      title: 'Скільки потрібно процедур, щоб провести лікування грибка нігтів на ногах?',
      body: 'Однозначну відповідь ви отримаєте на індивідуальній консультації, коли фахівець-подолог проведе огляд вашої ситуації і в разі потреби отримає результати ваших лабораторних аналізів.'
    },
    {
      title: 'Чому за 2 тижні до здачі аналізу в лабораторію не можна нічим мазати місце з грибком?',
      body: 'Щоб лабораторія точно визначила вид грибка і його чутливість до лікарських препаратів, грибок повинен бути у своєму природному вигляді. Будь-які мазі, креми та інші засоби маскують реальну картину, через що лабораторія дасть неточний результат. Аби ви не витрачали час і гроші даремно на лікування грибка нігтів і шкіри, постарайтеся дотримуватися цієї рекомендації 2 тижні. Тоді ви зі спеціалістом-подологом швидше приступите до самого лікування.'
    },
    {
      title: 'Поки я нічим не мажу ногу 2 тижні, відчуваю дискомфорт. Як його знизити?',
      body: 'Розуміємо. Це дійсно дискомфортно. Однак пам\'ятайте, що поки ви не знаєте вид і культуру грибкової інфекції, ви і будь-який лікар-подолог не можуть визначити його «на око» і призначити правильний препарат. Отже, ваша поточна мазь може не полегшити ситуацію, а навіть посилити її або просто не зрушити з місця. Для підтримки гігієни мийте ноги проточною водою з милом, носіть чисті прокип\'ячені шкарпетки (або випрані у пральній машинці при 90 градусах). Також щовечора обробляйте взуття 1%-м Хлоргексидином.'
    },
    {
      title: 'Мені потрібно брати на прийом чисте взуття? Те, в якій я прийду, контактувало з грибком.',
      body: 'Ні, можете не брати з собою чисте взуття. У нас є апарат для дезінфекції взуття. Візьміть з собою лише чисті шкарпетки.'
    },
    {
      title: 'У вас можна вилікувати грибок нігтів на руках?',
      body: 'Так, процедура для грибка на руках така ж, як і для грибка стоп. Симптоми грибка на руках особливо не відрізняються від грибка на ногах. Приходьте на консультацію і фахівець-подолог розповість вам про те, як вилікувати грибок нігтів на руках.'
    },
    {
      title: 'Якщо член моєї родини заразився грибком, варто і мені йти на прийом до подолога? Поки я не відчуваю симптоми',
      body: 'Від члена сім\'ї дійсно можна «підхопити» грибок. Якщо у вас є можливість і бажання, приходьте на консультацію до подолога. Він вчасно попередить у вас наявність грибка і оцінить загальний стан стопи і нігтьової пластинки.'
    }
  ], true, 1)
  include ../sections/podology/slider
