extends ../layout/main

block content
  include ../sections/podology/about
  include ../sections/podology/services
  include ../sections/podology/specialists
  include ../sections/podology/consultation
  include ../sections/podology/technologies
  include ../sections/podology/slider
