.course-benefits
  .container
    .row.no-gutters
      h2.section-title-small.text-center На каждом 2-недельном курсе вы обязательно получаете
    .row.no-gutters.course-benefits-cnt
      .info-list-item.w-100.paragraph-text-dark До&nbsp;
        span.f-bold 60 часов
        |
        | теории и практики&nbsp;
      .info-list-item.w-100.paragraph-text-dark До&nbsp;
        span.f-bold 10 пациентов&nbsp;
        | с разнообразной проблематикой стоп для практики&nbsp;
      .info-list-item.w-100.paragraph-text-dark
        span.f-bold Блокнот и ручку&nbsp;
        | для конспектов&nbsp;
      .info-list-item.w-100.paragraph-text-dark
        span.f-bold Методические материалы&nbsp;
        | по каждой лекции и список дополнительной литературы&nbsp;
      .info-list-item.w-100.paragraph-text-dark Необходимые для работы&nbsp;
        span.f-bold инструменты, материалы и оборудование&nbsp;
      .info-list-item.w-100.paragraph-text-dark
        span.f-bold Дезинфицирующие средства&nbsp;
        | для кожи, инструментов и рабочих поверхностей&nbsp;
      .info-list-item.w-100.paragraph-text-dark
        span.f-bold Космецевтические средства&nbsp;
        | для ухода за стопой&nbsp;
      .info-list-item.w-100.paragraph-text-dark Специально разработанную&nbsp;
        span.f-bold медицинскую форму&nbsp;
      .info-list-item.w-100.paragraph-text-dark
        span.f-bold Полное сопровождение&nbsp;
        | методиста во время практики и обратную связь&nbsp;
      .info-list-item.w-100.paragraph-text-dark
        span.f-bold Сертификат&nbsp;
        | об успешном окончании курса с количеством часов теории и практики&nbsp;
      .info-list-item.w-100.paragraph-text-dark Возможность пройти стажировку в центре здоровья ног Steffany и устроиться туда на&nbsp;
        span.f-bold постоянную работу&nbsp;
      .callback-wrap.w-100
        +customBtn('Записаться на курс')(data-toggle='modal', data-target='#chooseDayCourse')
