section.section.accordion-answer.program.py-5.remove-arrow
  h2.section-title-small.text-center.white-text Программа курса базовой подологии
  p.h3-title-regular.text-center.mb-4.pb-4.text-border-b.text-w-bold Ближайший старт — 17 февраля
  p.h3-title-regular.text-center.mb-4.text-w-bold Первая неделя. 17-22 февраля
  .programAccordion.accordion.m-0
    .col-12.program-item-wrap.w-100.mx-auto.p-0
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading01.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse01',   aria-controls='programCollapse01', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 1
            p.paragraph-text-18
              span.text-w-bold Теория <br/>
              span.thin-text Основы подологии. Сбор информации о пациенте. Работа с подоскопом
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse01.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading01', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как заполнять карту пациента и собирать анамнез. Правила дезинфекции и стерилизации. Анатомию стопы. Деформации стоп и нарушения биомеханики ходьбы. Связь проблем вросшего ногтя, онихолизиса, мозолей и трещин на стопе с избыточной нагрузкой на стопу. Что такое подоскоп и как изучать на нем стопу в статике. Техника аппаратного педикюра. Выбор инструментов.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading02.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse02',   aria-controls='programCollapse02', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 2
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Основы подологии. Сбор информации о пациенте. Работа с подоскопом
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse02.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading02', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Практическая отработка материала на реальных пациентах. Аппараты и инструменты: подоскоп, прибор для аппаратного педикюра Nova3, стандартные инструменты.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading03.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse03',   aria-controls='programCollapse03', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 3
            p.paragraph-text-18
              span.text-w-bold Теория <br/>
              span.thin-text Мозоли и бородавки. Работа скальпелем
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse03.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading03', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Строение и функции кожи. Дисфункции. Липидный слой. Мозоли. Деформации стопы, приводящие к образованию мозолей. Обработка участка и разгрузка проблемных зон. Работа скальпелем. Подошвенные бородавки. Виды подошвенных бородавок и факторы риска. Папилломавирус человека. Дифференциальная диагностика: мозоль или бородавка. Дерматоскоп и работа с ним. Домашний уход за проблемным участком. Профилактика мозолей. Десмургия как наука о перевязках.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading04.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse04',   aria-controls='programCollapse04', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 4
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Мозоли и бородавки. Работа скальпелем
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse04.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading04', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Практическая отработка материала на реальных пациентах. Аппараты и инструменты: скальпель.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading05.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse05',   aria-controls='programCollapse05', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 5
            p.paragraph-text-18
              span.text-w-bold Теория <br/>
              span.thin-text Гиперкератоз. Гипергидроз. Трещины на пятках
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse05.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading05', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Виды и причины гиперкератоза. Обработка ороговелостей скальпелем или аппаратной техникой. Виды и причины кератодермии. Обработка в кабинете. Домашний уход. Гипергидроз. Мелкоточечный кератолизис: причины, типы, профилактика. Первичная и вторичная инфекция. Трещины на стопе и их причины. Виды трещин и работа с ними. Повязки. Профилактика трещин.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading06.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse06',   aria-controls='programCollapse06', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 6
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Гиперкератоз. Гипергидроз. Трещины на пятках
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse06.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading06', data-parent='.programAccordion')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Практическая отработка на реальных пациентах Аппараты и инструменты: прибор для аппаратного педикюра Nova3, перевязочные материалы.
  p.h3-title-regular.text-center.my-5.text-w-bold Вторая неделя. 16-21 марта
  .programAccordion2.accordion.m-0
    .col-12.program-item-wrap.w-100.mx-auto.p-0
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading07.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse07',   aria-controls='programCollapse07', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 7
            p.paragraph-text-18
              span.text-w-bold Теория <br/>
              span.thin-text Заболевания ногтей. Грибок. Меланома и невусы. Дерматоскоп
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse07.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading07', data-parent='.programAccordion2')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Строение и функции ногтей. Кератин, биотин и их роль в формировании ногтевой пластины. Онихии и ониходистрофии. Что такое меланома и невусы, их причины и следствия. Работа с дерматоскопом. Инфекционные заболевания ногтей и кожи. Микоз и онихомикоз: типы, стадии и работа с ними. Забор материала на анализ.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading08.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse08',   aria-controls='programCollapse08', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 8
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Проблемы ногтей. Грибок. Как брать анализы
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse08.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading08', data-parent='.programAccordion2')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Практическая отработка на реальных пациентах. Аппараты и инструменты: дерматоскоп.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading09.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse09',   aria-controls='programCollapse09', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 9
            p.paragraph-text-18
              span.text-w-bold Теория <br/>
              span.thin-text Вросший ноготь. Воспаления и раны. Панариций
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse09.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading09', data-parent='.programAccordion2')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Что вы изучите: Вросший ноготь: стадии, причины, осложнения. Воспаления, раневой процесс и работа с ними. Удаление вросшего ногтя. Перевязка. Домашний уход. Разгрузка стопы. Паронихия, панариций и работа с ними. Ведение пациента.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading10.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse10',   aria-controls='programCollapse10', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 10
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Вросший ноготь. Воспаления и раны. Панариций
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse10.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading10', data-parent='.programAccordion2')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Практическая отработка на реальных пациентах. Аппараты и инструменты: наборы вращающихся и ручных инструментов.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading11.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse11',   aria-controls='programCollapse11', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 11
            p.paragraph-text-18
              span.text-w-bold Теория <br/>
              span.thin-text Диабетическая стопа. Дерматозы
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse11.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading11', data-parent='.programAccordion2')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Как работать с диабетической стопой: обработка и факторы риска. Зачем нужен глюкометр и как с ним работать. Тест на диабетическую стопу. Дерматозы и работа с ними: псориаз, экзема, дерматит.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading12.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse12',   aria-controls='programCollapse12', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 12
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Диабетическая стопа. Дерматозы
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapse12.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeading12', data-parent='.programAccordion2')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Практическая отработка на реальных пациентах. Аппараты и инструменты: глюкометр.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeading13.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapse13',   aria-controls='programCollapse13', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 13
            p.paragraph-text-18
              span.text-w-bold Экзамен
        .row.no-gutters.w-100.program-answer
  .w-100.d-flex.justify-content-center.mt-4.flex-column.align-items-center
    p.light-blue Стоимость курса&nbsp;
      strong 12 500 грн
    p.crutch-text.mb-0 Студентам, прошедшим один курс, дается скидка 10% на последующее обучение. Срок действия скидки — 3 месяца. Дальше скидка будет составлять 5 % в течение 1 года.
    +customBtn('занять место')(id="place-1", data-toggle='modal', data-target='#chooseDayCourseSpecial' data-choose-text='Программа курса базовой подологии')
  h2.section-title.text-center.white-text.mt-5.text-w-bold Программа курса малой ортопедии и ортониксии
  p.h3-title-regular.text-center.mb-4.pb-4.text-border-b.text-w-bolds Ближайший старт — 24 февраля
  p.h3-title-regular.text-center.mb-4.text-w-bold МОДУЛЬ 1: ОРТОНИКСИЯ И МЕТОДИКИ КОРРЕКЦИИ ВРОСШИХ НОГТЕЙ
  .programAccordionTwo.accordion.m-0
    .col-12.program-item-wrap.w-100.mx-auto.p-0
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo01.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapseTwo01',   aria-controls='programCollapseTwo01', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 1
            p.paragraph-text-18
              span.text-w-bold Теория <br/>
              span.thin-text Коррекция вросшего ногтя с помощью пластин
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo01.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo01', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Роль ортониксии в работе с вросшим ногтем. Понятие вросшего ногтя и показания к установке пластин. Сравнительная характеристика пластин Bs, Gold, Onyclip, NiTi wire, Podofix. Выбор системы и установка. Противопоказания. Материалы для работы. Особенности системы. Отработка систем Onyclip, NiTi Wire.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo02.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapseTwo02',   aria-controls='programCollapseTwo02', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 2
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Коррекция вросшего ногтя с помощью пластин
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo02.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo02', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Практическая отработка на реальных пациентах Скоба Фрезера. Омега. Двойная петля. Показания, противопоказания, изготовление и установка. Действие скобы. Установка. Снятие и коррекция.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo03.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapseTwo03',   aria-controls='programCollapseTwo03', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 3
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Коррекция вросшего ногтя с помощью пластин
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo03.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo03', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Практическая отработка на реальных пациентах Скоба Фрезера. Омега. Двойная петля. Показания, противопоказания, изготовление и установка. Действие скобы. Установка. Снятие и коррекция.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo04.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapseTwo04',   aria-controls='programCollapseTwo04', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 4
            p.paragraph-text-18
              span.text-w-bold Теория и практика <br/>
              span.thin-text Ортониксия. Скоба 3ТО
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo04.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo04', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Действие в статике и динамике. Подбор скобы, изготовление заготовок. Материалы и инструменты. Показания и противопоказания для установки скобы. Ошибки мастера. Снятие скобы.
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo05.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapseTwo05',   aria-controls='programCollapseTwo05', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 5
            p.paragraph-text-18
              span.text-w-bold Практика <br/>
              span.thin-text Ортониксия. Скоба 3ТО
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo05.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo05', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Действие в статике и динамике. Подбор скобы, изготовление заготовок. Материалы и инструменты. Показания и противопоказания для установки скобы. Ошибки мастера. Снятие скобы.
  .w-100.d-flex.justify-content-center.mt-4.flex-column.align-items-center
    p.light-blue Стоимость курса&nbsp;
      strong 12 500 грн
    +customBtn('занять место')(id="place-2", data-toggle='modal', data-target='#chooseDayCourseSpecial' data-choose-text='Программа курса малой ортопедии и ортониксии / Модуль 1')
  p.h3-title-regular.text-center.my-5.text-w-bold МОДУЛЬ 2: ПОДОЛОГИЯ ДЛЯ ПРОФИ

  .programAccordionTwo.accordion.m-0
    .col-12.program-item-wrap.w-100.mx-auto.p-0
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo06.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapseTwo06',   aria-controls='programCollapseTwo06', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 1
            p.paragraph-text-18
              span.text-w-bold Малая ортопедия <br/>
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo06.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo06', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Ортезы. Анатомия стопы. Деформации стоп и биомеханические нарушения. Подоскоп, подобарограф. Изготовление индивидуальных ортезов. Жесткость по Шору. Корректирующие и амортизирующие свойства ортезов.

  .w-100.d-flex.justify-content-center.mt-4.flex-column.align-items-center.mb-5
    p.d-flex.flex-column.align-items-center
      span.light-blue.mt-4.d-block(style="color: #fff; font-weight: 600;").text-center В занятие входят отработка на пациентах и изготовление ортезов
      span.light-blue.mt-4.d-block(style="color: #7b9ddd; font-weight: 600;") Стоимость 1 дня — <strong>3000 грн</strong>
      +customBtn('занять место')(id="place-3", data-toggle='modal', data-target='#chooseDayCourseSpecial' style="margin: 0;" data-choose-text='Программа курса малой ортопедии и ортониксии / Модуль 2 (первый день)')

  .programAccordionTwo.accordion.m-0
    .col-12.program-item-wrap.w-100.mx-auto.p-0
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingTwo07.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapseTwo07',   aria-controls='programCollapseTwo07', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 2
            p.paragraph-text-18
              span.text-w-bold Протезирование и восстановление ногтей <br/>
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style .cls-1 {fill: none;}  .cls-2 {clip-path: url(#clip-path);}  .cls-3 {fill: #F2F2F2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseTwo07.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingTwo07', data-parent='.programAccordionTwo')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Системы протезирования: медицинский гель, акрил, ногтевая масса (клей), показания и противопоказания, подбор системы, акриловые вкладки как метод коррекции вросших ногтей, частичное и полное протезирование.

  .w-100.d-flex.justify-content-center.mt-4.flex-column.align-items-center.mb-5
    p.d-flex.flex-column.align-items-center
      span.light-blue.mt-4.d-block(style="color: #fff; font-weight: 600;") В занятие входит отработка на пациентах
      span.light-blue.mt-4.d-block(style="color: #7b9ddd; font-weight: 600;") Стоимость 2 дня — <strong>2500 грн</strong>
      +customBtn('занять место')(id="place-4", data-toggle='modal', data-target='#chooseDayCourseSpecial' style="margin: 0;" data-choose-text='Программа курса малой ортопедии и ортониксии / Модуль 2 (второй день)')

  .w-100.d-flex.justify-content-center.mt-4.flex-column.align-items-center
    p.light-blue.text-w-bold Стоимость за 2 дня сразу —&nbsp;
      del 5 500&nbsp;
      strong 5000 грн
    +customBtn('занять место')(id="place-5", data-toggle='modal', data-target='#chooseDayCourseSpecial' data-choose-text='Программа курса малой ортопедии и ортониксии / Оба Модуля (Полный курс)')
  p.h3-title-regular.text-center.my-5.text-w-bold МОДУЛЬ 3: ОРТОПОДОЛОГИЯ
  .programAccordionThree.accordion.m-0
    .col-12.program-item-wrap.w-100.mx-auto.p-0
      .row.no-gutters.program-item
        .row.no-gutters.w-100.program-head
          #programHeadingThree01.card-header.p-0.w-100.program-container.d-flex.justify-content-start(data-toggle='collapse', data-target='#programCollapseThree01',   aria-controls='programCollapseThree01', aria-expanded='true')
            .card-arrow.section-subtitle.white-text.d-flex.align-items-center.justify-content-center  день 1-2
            p.paragraph-text-18
              span.text-w-bold Обучение рассчитано на 2 дня <br/>
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
              defs
                style.
                  .cls-1 {fill: none;}  .cls-2 {clip-path: url(#clip-path);}  .cls-3 {fill: #F2F2F2;}
                clippath#clip-path(transform='translate(0 -2.5)')
                  rect.cls-1(width='12.5', height='12.5')
              g(id='Слой_2', data-name='Слой 2')
                g(id='Слой_1-2', data-name='Слой 1')
                  g.cls-2
                    path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
        .row.no-gutters.w-100.program-answer
          #programCollapseThree01.collapse.w-100.collapse-answer.program-container(aria-labelledby='programHeadingThree01', data-parent='.programAccordionThree')
            p.card-body.py-0.paragraph-text-dark.white-text
              span.text-w-bold.mb-1 Что вы изучите: <br/>
              span.thin-text Анатомия стопы и нижних конечностей. Введение в биомеханику. Когда стопы кричат SOS. Анализ стопы на подоскопе. Пальпирование стопы. Измерение показателей стопы. Функциональные тесты. Нормы и отличия детской и взрослой стопы. Взаимосвязь биомеханических нарушений стоп с основными проблемами в подологии: вросшим ногтем, мозолями, пьезогенными грыжами, трещинами. Стопа с фактором риска: диабетики, ревматоидный артрит. Подоскоп. Подобарограф. Сканер. Зачем нужны стельки. Как проверить, правильно ли подобраны стельки. Разгрузка стопы. Подбор ортопедических изделий.<br>

  .w-100.d-flex.justify-content-center.mt-5.flex-column.align-items-center
    p.text-w-bold.light-blue.text-center Нажмите на кнопку, чтобы узнать стоимость обучения на модуле «Ортоподология»
    +customBtn('узнать стоимость')(id="price", data-toggle='modal', data-target='#chooseDayCourseSpecial' data-choose-text='Программа курса малой ортопедии и ортониксии / Модуль 3')
