section.section.client-feedback
  .container.d-flex.flex-column.justify-content-center.align-items-center
    h2.text-center.dark-blue Посмотрите, что говорят наши выпускники
    img(src="assets/icon/quote.png" alt="Quote")#quote.d-block.mt-4.mb-4
    img(src="assets/img/common/circles-with-hr.png").circles
  .container.d-flex.justify-content-center.mt-4.reviews-slider.owl-carousel.slider-block.slider-pad
    img(src="assets/img/comments/comment-7.jpg").d-block
    img(src="assets/img/comments/comment-8.jpg").d-block
    img(src="assets/img/comments/comment-9.jpg").d-block
    img(src="assets/img/comments/comment-10.jpg").d-block
