.metodists
  .container
    .row.no-gutters
      h2.section-title-small.text-center.text-border-b.text-initial.fs-30 Вас сопровождают и обучают методисты со стажем
    .row.no-gutters.justify-content-between
      //.col-12.col-xl-6.metodist-block
      //  p.paragraph-text-dark.mb-0.pb-3.text-w-bold Надежда Громова
      //  p.paragraph-text-dark.mb-0.pb-4 Методист курса базовой подологии
      //  .row.no-gutters.justify-content-between
      //    .col-12.col-sm-6.metodist-img
      //      img.w-100(src="assets/img/padalogy/learning/metodist-1.jpg", alt="")
      //    .col-12.col-sm-6.metodist-cnt
      //      .info-list-item.w-200 Специалист-подолог с 5-летним стажем
      //      .info-list-item.w-200 Получила образование в школе подологии «Вларус» на курсе «Основы подологии»
      //      .info-list-item.w-200 Прошла авторский курс Русланы Даценко «Ортониксия, малая ортопедия и техники восстановления ногтей»
      //      .info-list-item.w-200 Заняла 3-е место по классическому маникюру на Международном чемпионате по маникюру (2018 г.)
      //      .info-list-item.w-200 Заняла 1-е место по классическому педикюру и 1-е место по мужскому маникюру на Всеукраинском чемпионате по маникюру (2019 г.)
      .col-12.col-xl-6.metodist-block
        p.paragraph-text-dark.mb-0.pb-3.text-w-bold Руслана Даценко
        p.paragraph-text-dark.mb-0.pb-4 Методист курса малой ортопедии и ортониксии
        .row.no-gutters.justify-content-between
          .col-12.col-sm-6.metodist-img
            img.w-100(src="assets/img/padalogy/learning/metodist-2.jpg", alt="")
          .col-12.col-sm-6.metodist-cnt
            .info-list-item.w-200 Специалист-подолог с 16-летним стажем
            .info-list-item.w-200 Руководитель центра здоровья ног Steffany
            .info-list-item.w-200 Окончила Факультет подологии в университете UBA в Буэнос-Айресе
            .info-list-item.w-200 Прошла более 20-ти программ обучения по подологии, малой ортопедии и ортониксии в Украине, Германии и Польше
            .info-list-item.w-200 Сертифицированный преподаватель систем ортониксии
            .info-list-item.w-200 Сертифицированный специалист по компьютерной диагностике стоп и биомеханики ходьбы
            .info-list-item.w-200 Сертифицированный специалист по проектированию корректирующих стелек
            .info-list-item.w-200 Сертифицированный специалист и партнер международной программы Podologia.pl
            .info-list-item.w-200 Сертифицированный специалист по производству стелек PWO
