section.section.contact.py-0
  .container
    .row
      .col-12.col-xl-5
        +breadcrumbsSmall('Главная', 'Контакты', 'contact.html')
        .tablet-container
          h2.h2-title.text-color-dark.mb-3 Контакты
          //p.sub-title.letter-spacing-1.mb-4 Steffany Cosmetology
        +cnt-info
        hr.mt-4.mb-3
        h2.form-title.text-color-dark Хотите связаться лично с собственником Steffany Lazer & Cosmetology?
        form.feedback-form.row
          .col-12.col-md-4.col-xl-5.px-xl-0
            input(type="text" placeholder="Имя" name="name" required)
            input(type="email" placeholder="Email" name="email" required )
            input.mb-0(type="tel" placeholder="Телефона" name="phone" required minlength="19")
            input(type='submit' data-contact-submit style="display:none;")
          .col-12.col-md-8.col-xl-7.pl-xl-0.pr-xl-3
            textarea(placeholder="О чем вы хотите рассказать?" name="message" required ).mt-4.mt-md-0
        .row.d-flex.justify-content-end.no-gutters
        //+customBtn('отправить')
        #sendMail.btn-callback.no-svg(data-btn-contact-submit data-toggle='modal', data-target='#thanksPopup')
          .text-section
            span отправить
          .arrow-section
            +arrowSvg
        //.button.btn-first.btn-simple.svg.caset(data-toggle='modal', data-target='#modalServiceListPay')

      .col-12.col-xl-7
        .map-dynamic.map.h-100

    hr.mt-5
