section.section.contact.py-0
  .container
    .row
      .col-12.col-xl-5
        +breadcrumbsSmall('Главная', 'Контакты', '/contact.html')
        .tablet-container
          h2.h2-title.text-color-dark.mb-3 Контакты
          p.sub-title.letter-spacing-1.mb-4 Steffany Cosmetology
          .cnt-info.mt-4
            .d-flex.flex-wrap.mb-0
              .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
                img(src="assets/icon/phone.svg" alt="Phone").d-block.mr-3
                a(href="tel:380980070753").paragraph-text.text-color-dark 098-007-07-53
              .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
                img(src="assets/icon/map.svg" alt="Map").d-block.mr-3
                p.paragraph-text.text-color-lightdark.text-w-light.mb-0 ул. Киевская, 84
            .d-flex.flex-wrap
              .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
                img(src="assets/icon/mail.svg" alt="Mail").d-block.mr-3
                a(href="mailto:info@steffany.ua").paragraph-text.text-color-lightdark.text-w-light info@steffany.ua
              .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
                img(src="assets/icon/time.svg" alt="Time").d-block.mr-3
                p.paragraph-text.text-color-dark.mb-0 9:00 – 20:00
        hr.mt-4.mb-3
        h2.form-title.text-color-dark Хотите связаться лично с собственником Steffany Lazer & Cosmetology?
        form.feedback-form.row
          .col-12.col-md-4.col-xl-5.px-xl-0
            input(type="text" placeholder="Имя" name="name")
            input(type="email" placeholder="Email" name="email")
            input(type="tel" placeholder="Телефона" name="phone")
          .col-12.col-md-8.col-xl-7.pl-xl-0.pr-xl-3
            textarea(placeholder="О чем вы хотите рассказать?" name="message").mt-4.mt-md-0
        .row.d-flex.justify-content-end.no-gutters
          +customBtn('отправить')
      .col-12.col-xl-7
        iframe.map(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10203.204981280256!2d28.6831072!3d50.2582963!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c64a35524e091%3A0x94671cf8df29cc74!2z0JrQuNC10LLRgdC60LDRjyDRg9C7LiwgODQsINCW0LjRgtC-0LzQuNGALCDQltC40YLQvtC80LjRgNGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAxMDAwMQ!5e0!3m2!1sru!2sua!4v1573470059108!5m2!1sru!2sua', width='600', height='450', frameborder='0', style='border:0;', allowfullscreen='')
    hr.mt-5
