section.section.almalaser
  padding-top: 87px
  background-color: #EDE1DF
  @include media-breakpoint-down(lg)
    padding-top: 66px
  @include media-breakpoint-down(xs)
    padding-top: 46px
  .extralarge-text-bg
    bottom: 46px
    left: 522px
    @include media-breakpoint-down(lg)
      left: -182px
    @include media-breakpoint-down(xs)
      bottom: 14px
      left: -75px
  .container
    .c-content
      max-width: 575px
    .white-block-design
      //position: relative
      width: 468px
      height: 657px
      .extralarge-text-bg
        position: absolute
        bottom: 46px
        left: -278px
      img
        top: 60px
        left: 60px
        box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.13)
      @include media-breakpoint-down(lg)
        margin-left: 23px
        margin-top: 40px
      @include media-breakpoint-down(xs)
        margin-top: 20px
        width: 230px
        height: 326px
        img
          width: 251px
          height: 248px
          top: 33px
          left: 33px

