section.section.almalaser
  position: relative
  background-color: #EDE1DF
  .container
    .white-block-design
      width: 468px
      height: 657px
      img
        top: 60px
        left: 60px
    @include mobile-all
      .white-block-design
        width: 230px
        height: 326px
        img
          width: 251px
          height: 248px
          top: 33px
          left: 33px
