section.section.buty
  padding-top: 122px
  background-color: #EDE1DF
  @include media-breakpoint-down(lg)
    padding-top: 67px
  @include media-breakpoint-down(sm)
    padding-top: 59px
  .d-line
    margin-top: 23px
    margin-bottom: 25px
  .container
    .c-content
    .white-block-design
      width: 540PX
      height: 635px
      @include media-breakpoint-down(lg)
        width: 356px
        height: 587px

        transform: translateX(-316px)

      @include media-breakpoint-down(sm)
        width: 262px
        height: 251px
      img
        width: 541px
        height: 557px
        top: 78px
        left: 72px
        @include media-breakpoint-down(lg)
          width: 349.65px
          height: 482.97px
          top: 40px
          left: 38px
        @include media-breakpoint-down(sm)
          width: 284.6px
          height: 298.49px
          top: 30px
          left: 30px
      .extralarge-text-bg
        bottom: 14px
        left: -225px
        @include media-breakpoint-down(lg)

        @include media-breakpoint-down(sm)
