
section.section.choose-service
  .container
    .serves-box
  @include mobile-all
    .serves-box
      max-width: 340px
      margin: 0 auto
    .icon-service-choo
    se
      height: 190px
    .choose-zone-box
      cursor: pointer
      &:hover .h4-title
        color: #F6AE9F !important


