section.section.choose-service-icon
  padding-bottom: 120px
  .container
    .h2-title
      padding-bottom: 50px
    .c-content
      display: flex
      .c-card
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        cursor: pointer
        &:hover .h4-title
          color: #F6AE9F !important
        .img-03
          margin-top: -4px
        .img-06
          margin-top: -30px


@include media-breakpoint-down(lg)
  section.section.choose-service-icon
    padding-bottom: 120px
    .container
      .h2-title
        padding-bottom: 48px

@include media-breakpoint-down(sm)
  section.section.choose-service-icon
    padding-bottom: 120px
    .container
      .h2-title
        padding-bottom: 32px
      .c-content
        display: flex
        justify-content: center
        .c-card
