section.section.choose-service-icon
  padding-bottom: 120px
  .container
    .h2-title
      padding-bottom: 50px
    .icon-service-choose
      height: 190px
      .choose-zone-box
        cursor: pointer
        &:hover .h4-title
          color: #F6AE9F !important
@include media-breakpoint-down(lg)
  section.section.choose-service-icon
    padding-bottom: 120px
    .container
      .h2-title
        padding-bottom: 48px
      .icon-service-choose
        height: 190px
        .choose-zone-box
          cursor: pointer
          &:hover .h4-title
            color: #F6AE9F !important
@include media-breakpoint-down(xs)
  section.section.choose-service-icon
    padding-bottom: 120px
    .container
      .h2-title
        padding-bottom: 32px
      .icon-service-choose
        height: 190px
        .choose-zone-box
          cursor: pointer
          &:hover .h4-title
            color: #F6AE9F !important
