
section.section.choose-service
  .container
    .h1-title
      line-height: 36px
    .icon-service-choose
      height: 190px
    .choose-zone-box
      cursor: pointer
      &:hover .h4-title
        color: #F6AE9F !important


