section.section.consultation-homepage
  .left
    transform: translateX(-9px)
  .custom-icon-number
    width: 27px
    height: 27px
    p
      @include font (Circe, bold, 16, 26)
      color: #9FA6BA !important
  .container
    .c-content
      width: 620px
      margin-top: -10px
      @include media-breakpoint-down(lg)

      @include media-breakpoint-down(sm)
        width: 100%
  .consultation-01
    overflow: hidden
    padding-top: 114px
    background-color: #9FA6BA
    margin-bottom: 142px
    @include media-breakpoint-down(lg)
      padding-top: 75px
      margin-bottom: 122px
    @include media-breakpoint-down(sm)
      margin-bottom: 102px
    .container
      .white-block-design
        width: 489px
        height: 697px
        @include media-breakpoint-down(lg)
          width: 465px
          height: 669px
        @include media-breakpoint-down(sm)
          width: 221px
          height: 315px
        img
          box-shadow: $shadow-image
          width: 540px
          height: 513px
          top: 66px
          left: 72px
          @include media-breakpoint-down(lg)
            width: 520px
            height: 513px
            top: 48px
            left: 62px
          @include media-breakpoint-down(sm)
            width: 257.54px
            height: 254.07px
            top: 28px
            left: 27px
        .extralarge-text-bg
          bottom: 67px
          left: 27px
          @include media-breakpoint-down(sm)
            font-size: 152.762px
            bottom: 15px
            left: 8px
  .consultation-02
    background-color: #A9A8C6
    padding-bottom: 90px
    @include media-breakpoint-down(lg)
      padding-bottom: 75px
    @include media-breakpoint-down(sm)
      padding-bottom: 62px
    .c-content
      padding-top: 116px
    .white-block-design
      width: 540px
      height: 607px
      @include media-breakpoint-down(lg)
        width: 527px
        height: 607px
      @include media-breakpoint-down(sm)
        width: 260.3px
        height: 299.81px
      img
        box-shadow: $shadow-image
        width: 540px
        height: 585px
        right: 72px
        bottom: 72px
        @include media-breakpoint-down(lg)
          width: 520px
          height: 585px
          right: 61px
          bottom: 72px
        @include media-breakpoint-down(sm)
          width: 256.84px
          height: 288.94px
          right: 24px
          bottom: 33px

