.custom-icon-number
  width: 27px
  height: 27px
  p
    @include font (Circe, bold, 16, 26)
.consultation-01
  background-color: #9FA6BA
  margin-bottom: 87px
  @include mobile-all
    margin-bottom: 65px
  .container
    .white-block-design
      margin-top: 40px
      width: 465px
      height: 670px
      img
        top: 60px
        left: 60px
    @include mobile-all
      .white-block-design
        margin-top: 40px
        width: 230px
        height: 300px
        img
          width: 240px
          height: 254px
          top: 30px
          left: 30px
.consultation-02
  background-color: #A9A8C6
  .container
    .white-block-design
      width: 527px
      height: 607px
      img
        top: -48px
        left: -126px
    @include mobile-all
      .white-block-design
        width: 260px
        height: 300px
        img
          width: 256px
          height: 288px
          top: -22px
          left: -22px
.consultation-03
  background-color: #EDE1DF
  .container
    .white-block-design
      width: 504px
      height: 704px
      margin-left: auto
      img
        top: 58px
        right: 63px
        box-shadow: 0 50px 70px rgba(0, 0, 0, 0.13)
    @include mobile-all
      .white-block-design
        width: 234px
        height: 310px
        img
          top: 34px
          right: 43px
          width: 256px
          height: 252px

section.section.consultation
section.section.service-nano-consultation
section.section.consultation
