section.section.consultation-form
  padding-top: 66px
  background:
    image: url("../assets/img/background/consultation-form-bg.jpg")
    size: cover
  .container
    .c-content
      margin-top: 65px
      .c-title
        width: 100%
        max-width: 500px
      .c-desc
        width: 100%
        max-width: 465px
    .main-form
      max-width: 390px
      background-color: #EDE1DF
      border-radius: 5px 5px 0 0
      .form-control
        background-color: rgba(77, 82, 89, .2)
        width: 252px
    .small-label
      @include font(Circe, 400, 12, 22)
    .input::placeholder
      color: $text-color-white

@include media-breakpoint-down(lg)
  section.section.consultation-form
    .container
      .main-form
        border-radius: 0

@include media-breakpoint-down(xs)
  section.section.consultation-form
    .container
      max-width: 100%
      .media-gutters
        padding: 0
      .main-form
        max-width: 100%


