section.section.discount
  padding-top: 75px
  padding-bottom: 72px
  background:
    image: url("../assets/img/background/discount-bg.jpg")
    size: cover
  .bold
    @include  font(Circe, 700, 22, 26)
  .line-through
    text-decoration: line-through
  .h2-title
    margin-bottom: 15px
  .discount-subtitle
    @include font (Circe, 400, 20, 20)
    color: #6F7682
    letter-spacing: 0.03em
    margin-bottom: 56px
    margin-top: 56px
    @include media-breakpoint-down(lg)
      margin-top: 36px

  .btn-callback
    margin:
      top: 17px
      left: auto
      right: auto

    max-width: 251px
  .container
    .timer-text
      @include font (Circe, 900, 26, 73)
      color: #F6AE9F
    .info-list
      li
        &:before
          background: $color-coral
    .box-wrap
      background-color: #EDE1DF
      border-radius: 10px
      display: flex
      justify-content: center
      align-items: center
      width: 395px
      height: 300px
      box-shadow: 0px 10px 25px rgba(58, 64, 91, 0.15)
      @include media-breakpoint-down(lg)
        margin:
          left: auto
          right: auto
          bottom: 30px
      @include media-breakpoint-down(sm)
        width: 100%
    .c-content
      position: relative
      width: 357px
      height: 261px
      border-radius: 10px
      padding: 20px
      border: 1px solid #9FA5B9
      @include media-breakpoint-down(lg)

      @include media-breakpoint-down(sm)
        width: 100%
      .discount-title
        @include font (CormorantGaramond, 700, 24, 37)
        letter-spacing: 0.15px
        margin-bottom: 28px
      .paragraph-text
        margin-bottom: 41px
        line-height: 32px

      .button
        max-width: 154px
        .btn-first
        .btn-second
      .c-text
        position: absolute
        top: 13px
        left: 11px
        transform: rotate(-45deg)
        .d-text
          @include font (Circe, 900, 10, 0)
          color: #fff
        .d-number
          @include font (Circe, 900, 18, 0)
          color: #fff


      .c-btn
        margin-left:  auto
        margin-right: auto
        max-width: 320px
        display: flex
        justify-content: space-between

//@include media-breakpoint-down(lg)
//  section.section.discount
//    padding-top: 107px
//    padding-bottom: 30px
//    .container
//      .c-content
//        .d-discount
//          max-width: 430px
//          margin:
//            left: auto
//            right: auto
//            bottom: 30px
//        .c-btn
//
@include media-breakpoint-down(sm)
  section.section.discount
    padding-top: 65px
    padding-bottom: 25px
    .container
      .box-wrap
        max-width: 100%
        overflow: hidden
        border: 1px solid #9FA5B9
      .c-content
        max-width:  285px
        border: none
        .d-discount
        .c-btn
          position: relative
          .button
            position: absolute
          .btn-first
            left: -38px
          .btn-second
            right: -38px

