section.section.discount
  background-color: $color-white
  .container
    .info-list
      li
        &:before
          background: $color-coral
    .c-content
      position: relative
      overflow: hidden
      height: 320px
      .d-discount
        position: absolute
        top: -82px
        left: -82px
        display: block
        width: 140px
        height: 140px
        background-color: #A9A8C6
        transform: rotate(45deg)
      @include media-breakpoint-down(lg)
        max-width: 430px
        margin:
          left: auto
          right: auto
          bottom: 30px
      .c-btn
        margin: 0 auto
        max-width: 320px
        display: flex
        justify-content: space-between
        @include media-breakpoint-down(lg)

        @include media-breakpoint-down(xs)


@include media-breakpoint-down(lg)
section.section.discount
  .container
    .c-content
      .d-discount
        max-width: 430px
        margin:
          left: auto
          right: auto
          bottom: 30px
      .c-btn

@include media-breakpoint-down(xs)
section.section.discount
  .container
    .c-content
      .d-discount
        max-width: 430px
        margin:
          left: auto
          right: auto
          bottom: 30px
      .c-btn
