section.section.four-boxes
  padding-top: 58px
  padding-bottom: 78px
  background-image: url("../assets/img/background/advantages-bg.jpg")
  background-size: cover
  .h4-title
    letter-spacing: 0.1em
  .c-desc
    width: 394px // test
  .container
    .c-boxes
      img
        position: absolute
      &:nth-of-type(1)
        img
          left: -27px
      &:nth-of-type(2)
        img
          left: -24px
          top: -20px
      &:nth-of-type(3)
        img
          left: -75px
      &:nth-of-type(4)
        img
          left: -59px
          top: -37px
      .c-desc
        max-width: 395px
@include media-breakpoint-down(sm)
  section.section.four-boxes
    padding-top: 86px
    .container
      .c-boxes
        img
          position: absolute
        &:nth-of-type(1)
          img
            left: 143px
        &:nth-of-type(2)
          img
            left: 142px
            top: -39px
        &:nth-of-type(3)
          img
            left: 64px
            top: -29px
        &:nth-of-type(4)
          img
            left: 113px
            top: -37px
        .c-desc
          max-width: 290px
          margin:
            left: auto
            right: auto
            top: 90px







section.section.four-boxes-service-laser
  padding-top: 58px
  padding-bottom: 78px
  background-color: #fff
  .container
    .c-boxes
      img
        position: absolute
      &:nth-of-type(1)
        img
          left: -27px
      &:nth-of-type(2)
        img
          left: -24px
          top: -20px
      &:nth-of-type(3)
        img
          left: -75px
      &:nth-of-type(4)
        img
          left: -59px
          top: -37px
      .c-desc
        max-width: 395px
@include media-breakpoint-down(sm)
  section.section.four-boxes-service-laser
    padding-top: 86px
    .container
      .c-boxes
        img
          position: absolute
        &:nth-of-type(1)
          img
            left: 143px
        &:nth-of-type(2)
          img
            left: 142px
            top: -39px
        &:nth-of-type(3)
          img
            left: 64px
            top: -29px
        &:nth-of-type(4)
          img
            left: 113px
            top: -37px
        .c-desc
          max-width: 290px
          margin:
            left: auto
            right: auto
            top: 90px

section.section.four-boxes-03
  overflow: hidden
  background-color: #fff
  background-size: cover
  .c-boxes
    &:nth-of-type(1)
      img
        position: absolute
        left: -30px
    &:nth-of-type(2)
      img
        position: absolute
        left: -30px
    &:nth-of-type(3)
      img
        position: absolute
        left: -86px
    &:nth-of-type(4)
      img
        position: absolute
        left: -55px
