section.section.four-boxes-01
  padding-top: 58px
  padding-bottom: 78px
  background-image: url("../images/img/background/advantages-bg.jpg")
  background-size: cover
  @include media-breakpoint-down(lg)
    padding-top: 86px
  @include media-breakpoint-down(xs)
    padding-top: 49px
    padding-bottom: 50px
  .container
    .c-boxes
      .c-card
        img
          @include mobile-all
            margin-left: auto
            margin-right: auto
            margin-bottom: -156px
          @include tablet
            margin-left: -30px
          @include desktop
            margin-left: -40px
        @include mobile-all
          max-width: 300px
          margin: 0 auto
        .c-desc
          @include media-breakpoint-down(lg)
            max-width: 427px
          @include media-breakpoint-down(xs)
            max-width: 395px


section.section.four-boxes-02
  background-image: url("../images/img/background/advantages-bg.jpg")
  background-size: cover
  .container
    h2.h1-title.text-color-light
    p.advantages-count
      @include font(CormorantGaramond, 700, 75, 80)
      color: $text-color-white
    .h3-title
      text-transform: uppercase
    .c-boxes
      position: relative
      z-index: 1
      max-width: 400px
      margin-left: 200px
      img
        position: absolute
        z-index: -1
        left: -245px
section.section.four-boxes-02

