section.section.laser-desc
  padding: 7rem 0
  background-color: #EDE1DF
  .container
    .white-block-design
      width: 460PX
      height: 500px
      img
        top: 50px
        left: 56px
        box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.13)

@include mobile-small
  section.section.laser-desc
    padding: 7rem 0
    background-color: #EDE1DF
    .container
      .white-block-design
        width: 246PX
        height: 242px
        img
          max-width: 250px
          top: 32px
          left: 29px
