section.section.laser-desc
  padding-top: 122px
  padding-bottom: 138px
  background-color: #EDE1DF
  @include media-breakpoint-down(lg)
    padding-top: 67px
    padding-bottom: 163px
  @include media-breakpoint-down(sm)
    padding-top: 59px
    padding-bottom: 71px
  .d-line
    margin-top: 23px
    margin-bottom: 25px
  .container
    .white-block-design
      width: 504PX
      height: 479px
      @include media-breakpoint-down(lg)
        width: 502px
        height: 482px
      @include media-breakpoint-down(sm)
        width: 262px
        height: 251px
      img
        object-fit: cover
        box-shadow: $shadow-image
        width: 480px
        height: 473px
        top: 64px
        left: 60px
        @include media-breakpoint-down(lg)
          width: 483px
          height: 476px
          top: 64px
          left: 66px
        @include media-breakpoint-down(sm)
          width: 252px
          height: 248px
          top: 34px
          left: 30px

