section.section.laser-desc
  padding-top: 122px
  padding-bottom: 79px
  background-color: #EDE1DF
  .container
    .white-block-design
      width: 460PX
      height: 500px
      img
        top: 50px
        left: 56px
        box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.13)

@include media-breakpoint-down(lg)
  section.section.laser-desc
    padding-top: 67px
    padding-bottom: 104px

@include media-breakpoint-down(xs)
  section.section.laser-desc
    padding-top: 61px
    padding-bottom: 39px
    background-color: #EDE1DF
    .container
      .white-block-design
        margin-bottom: 104px
        width: 246PX
        height: 242px
        img
          max-width: 250px
          top: 32px
          left: 29px
