//section.section.main-laser-service
//  .info-list
//    li
//      &:before
//        background-color: #A9A8C6
//  .h1-title
//    @include font (CormorantGaramond, 700, 44, 30)
//    color: #fff
//  .c-service
//    &__service-box
//      height: 300px
//      &_bg-1
//        background:
//          image: url("../assets/img/main-service/bg_1.png")
//          size: cover
//      &_bg-2
//        background:
//          image: url("../assets/img/main-service/bg_2.png")
//          size: cover
//      &_bg-3
//        background:
//          image: url("../assets/img/main-service/bg_3.jpg")
//          size: cover
//      &_bg-4
//        background:
//          image: url("../assets/img/main-service/bg_4.jpg")
//          size: cover
//      &_bg-5
//        background:
//          image: url("../assets/img/main-service/bg_5.png")
//          size: cover
//
//@include media-breakpoint-down(lg)
//
//
//
//@include media-breakpoint-down(xs)
//  .h2-title
//    font-size: 34px
section.section.main-laser-service
  background-image: url(../assets/img/main-service/main-bg-nogirl.jpg)
  padding-top: 64px
  padding-bottom: 122px

  .h1-main-title
    @include font (Cormorant Garamond, 700, 80, 60)
    color: $text-color-lightgrey
  .info-list
    li.list-item
      @include font (Circe, 400, 20, 31)
      color: $text-color-lightgrey
      &:before
        background: #A9A8C6
  .subtitle
    @include font (Circe, 400, 24, 37)
    color: $text-color-lightgrey

@include media-breakpoint-down(lg)



@include media-breakpoint-down(xs)

