section.section.main-laser-service
  .info-list
    li
      position: relative
      padding-left: 20px
      &:before
        position: absolute
        left: 0
        top: 9px
        content: ''
        width: 5px
        height: 5px
        background:
        border-radius: 50%
  .c-service
    &__service-box
      height: 300px
      &_bg-1
        background:
          image: url("../assets/img/main-service/bg_1.png")
          size: cover
      &_bg-2
        background:
          image: url("../assets/img/main-service/bg_2.png")
          size: cover
      &_bg-3
        background:
          image: url("../assets/img/main-service/bg_3.jpg")
          size: cover
      &_bg-4
        background:
          image: url("../assets/img/main-service/bg_4.jpg")
          size: cover
      &_bg-5
        background:
          image: url("../assets/img/main-service/bg_5.png")
          size: cover

@include mobile-small
  .h2-title
    font-size: 34px
