section.section.safety
  padding: 5rem 0
  background:
    image: url("../assets/img/background/safety-bg.jpg")
    size: cover
  .container
    .c-safety
      .safety-box
        max-width: 517px
        z-index: 0
        position: relative
        &:nth-child(1):before
          content: url("../assets/img/safety/safety-img_1.png")
          position: absolute
          left: -83px
          top: -100px
          z-index: -1
        &:nth-child(2):before
          content: url("../assets/img/safety/safety-img_2.png")
          position: absolute
          left: -110px
          top: -93px
          z-index: -1

