section.section.service-three-boxes_01
  padding-top: 80px
  padding-bottom: 66px
  .container
    .three-box-title
      @include font(CormorantGaramond, 700, 44, 45)
      color: $text-color-lightdark
      @include media-breakpoint-down(xs)
        @include font(CormorantGaramond, 700, 30, 30)
    .c-three-box
      .img-position
        margin:
          left: auto
          right: auto
          bottom: -100px

@include media-breakpoint-down(lg)
  section.section.service-three-boxes_01
    padding-top: 93px
    padding-bottom: 133px
  .container
    .c-three-box
      width: 430px
      margin: 0 auto
@include media-breakpoint-down(xs)
  section.section.service-three-boxes_01
    padding-top: 63px
    padding-bottom: 137px
    .container
      .c-three-box
        width: 290px

section.section.service-three-boxes-nano
  padding-top: 80px
  padding-bottom: 66px
  .c-three-box
    img
      min-height: 274px

section.section.service-three-boxes_02

section.section.service-three-boxes_03

