







section.section.service-three-boxes-nano
  padding-top: 59px
  padding-bottom: 63px
  @include media-breakpoint-down(lg)
    padding-top: 77px
    padding-bottom: 133px
  @include media-breakpoint-down(sm)
    padding-top: 59px
    padding-bottom: 132px
  .paragraph-text
    margin-bottom: 0px
  .container
    .three-box-title
      @include font(CormorantGaramond, 700, 44, 45)
      color: $text-color-lightdark
      @include media-breakpoint-down(xs)
        @include font(CormorantGaramond, 700, 30, 30)
    .c-three-box
      .img-position
        min-height: 270px
        margin-bottom: -100px
        position: relative
        z-index: -1
        &-01
          transform: translateY(0px)
        &-02
          transform: translateY(-32px)
        &-03
          transform: translateY(10px)
        @include media-breakpoint-down(lg)
          &-01
            transform: translate(53px, 31px)
          &-02
            transform: translate(53px, 31px)
          &-03
            transform: translate(53px, 64px)
      .d-img
        margin:
          left: auto
          right: auto


section.section.service-three-boxes-shugaring
  padding-top: 80px
  padding-bottom: 66px
  @include media-breakpoint-down(lg)
    padding-top: 84px
    padding-bottom: 132px
  @include media-breakpoint-down(sm)
    padding-top: 53px
    padding-bottom: 110px
  .container
    .three-box-title
      @include font(CormorantGaramond, 700, 44, 45)
      color: $text-color-lightdark
      @include media-breakpoint-down(lg)
        max-width: 600px
        margin: 0 auto
      @include media-breakpoint-down(sm)
        font-size: 30px
        line-height: 30px
    .c-three-box
      .d-width
        width: 395px
        @include media-breakpoint-down(lg)
          width: 430px
        @include media-breakpoint-down(sm)
          width: 280px

      .img-position
        min-height: 270px
        margin-bottom: -100px
        &-01
          transform: translateY(0px)
        &-02
          transform: translateY(0px)
        &-03
          transform: translateY(13px)
      .d-img
        margin:
          left: auto
          right: auto


section.section.service-three-boxes-waxing
  padding-top: 80px
  padding-bottom: 66px
  .container
    .three-box-title
      @include font(CormorantGaramond, 700, 44, 45)
      color: $text-color-lightdark
      @include media-breakpoint-down(xs)
        @include font(CormorantGaramond, 700, 30, 30)
    .c-three-box
      .d-width
        width: 395px
        @include media-breakpoint-down(lg)
          width: 430px
        @include media-breakpoint-down(sm)
          width: 280px

      .img-position
        min-height: 270px
        margin-bottom: -100px
        &-01
          transform: translateY(0px)
        &-02
          transform: translateY(0px)
        &-03
          transform: translateY(13px)
      .d-img
        margin:
          left: auto
          right: auto


section.section.service-three-boxes-dark-theme
  padding-top: 80px
  padding-bottom: 66px
  .container
    .three-box-title
      @include font(CormorantGaramond, 700, 44, 45)
      color: $text-color-white
      @include media-breakpoint-down(xs)
        @include font(CormorantGaramond, 700, 30, 30)
    .c-three-box
      .d-width
        width: 395px
        @include media-breakpoint-down(lg)
          width: 430px
        @include media-breakpoint-down(sm)
          width: 280px

      .img-position
        min-height: 270px
        margin-bottom: -100px
        &-01
          transform: translateY(0px)
        &-02
          transform: translateY(0px)
        &-03
          transform: translateY(13px)
      .d-img
        margin:
          left: auto
          right: auto
