.c-three-box
  .img-position
    margin:
      left: auto
      right: auto
      bottom: -100px

@include tablet
  .c-three-box
    width: 430px
    margin: 0 auto
@include mobile-small
  .c-three-box
    width: 290px

section.section.service-three-boxes_01

section.section.service-three-boxes_02

section.section.service-three-boxes_03

