section.section.almalaser
  .container
    .row
      .col-12.col-xl-6
        .c-content
          h2.h2-title.text-color-dark Ми працюємо лазером Alma Lasers
          .d-line
          p.paragraph-text.text-color-lightdark.text-w-light.mb-2 Лазерна епіляція у Steffany безболісна і всесезонна завдяки нашому лазеру Soprano Ice Baby від ізраїльської компанії Alma Lasers. Його заводи знаходяться в Ізраїлі, Німеччині та США. Це діодний лазер 2019 року випуску.
            p.paragraph-text.text-color-lightdark.text-w-light Чому ми вибрали його?
            ul.info-list
              li
                p.paragraph-text.text-color-lightdark.text-w-light Ніяких болісних відчуттів та мінімальне почервоніння шкіри.
              li
                p.paragraph-text.text-color-lightdark.text-w-light Працює зі шкірою від 1-го до 6-го фототипу.
              li
                p.paragraph-text.text-color-lightdark.text-w-light Підходить чутливій ​​шкірі.
              li
                p.paragraph-text.text-color-lightdark.text-w-light Можна засмагати вже наступного дня після лазерної епіляції.
              li
                p.paragraph-text.text-color-lightdark.text-w-light Працює в русі, тобто швидше за звичайний лазер.
              li
                p.paragraph-text.text-color-lightdark.text-w-light Руйнує волосяний фолікул не спалюванням, а прогріванням.
            p.paragraph-text.text-color-lightdark.text-w-light Наш лазер — доказ того, що лазерна епіляція може бути комфортною.
      .col-12.col-xl-6
        .white-block-design
          img(src="assets/img/homepage/about-section-2.jpg" alt='' srcset="assets/img/homepage/about-section-2@2x.jpg 2x")
          p.extralarge-text-bg alma laser
