section.section.choose-service
  .container
    h2.h2-title.text-color-dark.text-center Кожная процедура у Steffany абсолютно безпечна
    .row
      .col-12.col-xl-4.text-center.serves-box.mb-5
        .c-content
          .custom-icon-number.mb-3
            p 1
          h4.paragraph-text.text-color-dark.text-w-bold.mb-3 Система стерилізації прямо в лазері
          p.paragraph-text.text-color-lightdark.text-w-light.mb-1 Сапфіровий накінечник лазеру має вбудовану систему стерилізації. Він прогрівається до такої високої температури, що руйнує все мікроорганізми і спори
      .col-12.col-xl-4.text-center.serves-box.mb-5
        .c-content
          .custom-icon-number.mb-3
            p 2
          h4.paragraph-text.text-color-dark.text-w-bold.mb-3 Обробка лазеру і кабінету після кожного клієнта
          p.paragraph-text.text-color-lightdark.text-w-light.mb-1 Ми обробляємо 70%-м спиртом накінечник лазеру після кожного клієнта. Також щоранку ми готуємо робочий розчин, яким дезінфікуємо всі меблі і апарат на робочому місці
      .col-12.col-xl-4.text-center.serves-box.mb-5
        .c-content
          .custom-icon-number.mb-3
            p 3
          h4.paragraph-text.text-color-dark.text-w-bold.mb-3 Одноразові інструменти
          p.paragraph-text.text-color-lightdark.text-w-light.mb-1 Під час вашого сеансу майстер використовує переважно одноразові інструменти. Бритва, дерев'яний шпатель, ватні диски, рукавички утилізуються після процедури
      .col-12.col-xl-4.text-center.serves-box.mb-5.mb-xl-0
        .c-content
          .custom-icon-number.mb-3
            p 4
          h4.paragraph-text.text-color-dark.text-w-bold.mb-3 Захисні окуляри під час роботи лазеру
          p.paragraph-text.text-color-lightdark.text-w-light.mb-1 Щоб захистити ваші очі від лазерних променів, майстер видає вам захисні окуляри. Слідкуйте за процедурою безпечно для свого зору
      .col-12.col-xl-4.text-center.serves-box.mb-5.mb-xl-0
        .c-content
          .custom-icon-number.mb-3
            p 5
          h4.paragraph-text.text-color-dark.text-w-bold.mb-3 Медкнижка у кожного майстра
          p.paragraph-text.text-color-lightdark.text-w-light.mb-1 Медкнижка — обов'язкова умова при прийомі на роботу. У всіх наших майстрів є медкнижки, спеціалісти регулярно проходять медкомісію і оновлюють огляди
      .col-12.col-xl-4.text-center.serves-box.mb-0.mb-xl-0
        .c-content
          .custom-icon-number.mb-3
            p 6
          h4.paragraph-text.text-color-dark.text-w-bold.mb-3 Захист родимок від лазерних променів
          p.paragraph-text.text-color-lightdark.text-w-light.mb-1 На консультації майстер оглядає родимки у зонах, що епілюються. Якщо родимки не піднімаються над шкірою, він заклеює їх медичним пластиром для захисту від лазеру





