section.section.consultation-form
  .container
    .row
      .offset-xl-1.col-12.col-md-6.col-xl-6
        .c-content.ml-lg-4
          h2.h2-title.c-title.h1-title.text-w-light Запишіться на консультацію <b>прямо зараз</b>
          h2.h2-title.c-title_color.h1-title.text-w-bold та отримайте експрес-тест
          h2.h2-title.c-title_large.h1-title у подарунок
      .col-12.col-md-6.col-xl-5.no-gutters.media-gutters
        .container-fluid
        form.main-form.d-flex.flex-column.align-items-center.pt-5.mt-4.mt-md-0
          h4.h4-title.text-uppercase.text-color-dark.text-w-bold.text-center Залишіть ваші дані
          p.paragraph-text.text-color-lightdark.text-center.mb-38 та ми вам передзвонимо
          .form-group
            input#fullnameConsult.form-control(name = "fullname" type='text', aria-describedby='emailHelp', placeholder='Ім\'я' required )
          .form-group
            input#emailConsult.form-control(name = "email" type='email', aria-describedby='emailHelp', placeholder='Email' required )
          .form-group
            input#phoneConsult.form-control(name = "phone" type='tel', placeholder='Телефон' required maxlength="19" minlength="19" pattern=".{19}")
            .c-input
              input#service(name = "service", type="hidden" value="1415297")
              input.btn-callback-submit(type='submit' value='передзвоніть')

          small.small-label.mt-3 * ми наберемо вас протягом 15 хвилин
          img(src="assets/img/logo-bg.png")

