section.section.four-boxes
  .container
    h2.h2-title.text-color-light.text-center.d-none.d-sm-block.mx-auto.mb-3.d-none.d-md-block Хто сказав, що краса вимагає жертв?
    p.paragraph-text.text-color-light.text-center.d-none.d-md-block У Steffany інший підхід до епіляції
    .row
      .col-12.col-xl-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position.justify-content-center
            img.d-none.d-md-block(src="assets/img/four-boxes/four-box_01.png" alt="four-boxes-1" srcset="assets/img/four-boxes/four-box_01@2x.png 2x")
            img.d-md-none.d-block(src="assets/img/four-boxes/four-box_01-mob.png" alt="four-boxes-1-mob" srcset="assets/img/four-boxes/four-box_01-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number 01
              h4.h4-title.text-uppercase.mb-3 Ніякого болю
              p.paragraph-text.text-color-light.text-w-light У нас немає послуги «екстра комфорт», тому що лазер і так повністю безболісний. Він прогрівається до високих температур, але при контакті зі шкірою охолоджується до температури -3 градуси. Завдяки такій потужній системі охолодження ви відчуєте просто дотик. А якщо ви хочете знеболювання під час шугарінгу або воскової епіляції, ми її зробимо.

      .col-12.col-xl-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position
            img.d-none.d-md-block(src="assets/img/four-boxes/four-box_02.png" alt="four-boxes-2" srcset="assets/img/four-boxes/four-box_02@2x.png 2x")
            img.d-md-none.d-block(src="assets/img/four-boxes/four-box_0w-mob.png" alt="four-boxes-2-mob" srcset="assets/img/four-boxes/four-box_02-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number 02
              h4.h4-title.text-uppercase.text-uppercase.mb-3 У будь-яку пору року
              p.paragraph-text.text-color-light.text-w-light Не можна засмагати? Краще починати з осені? Забудьте про ці застарілі правила. Наш лазер видаляє волосся на шкірі до 6-го фототипу, а це метиси і мулати. Так що при вашій засмазі він теж впорається. Залежно від відтінку шкіри майстер просто виставить на лазері певні параметри, щоб процедура пройшла ефективно. Так що можете робити лазерну епіляцію влітку і не боятися негативного ефекту.

      .col-12.col-xl-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position
            img.d-none.d-md-block(src="assets/img/four-boxes/four-box_03.png" alt="four-boxes-3" srcset="assets/img/four-boxes/four-box_03@2x.png 2x")
            img.d-md-none.d-block(src="assets/img/four-boxes/four-box_03-mob.png" alt="four-boxes-3-mob" srcset="assets/img/four-boxes/four-box_03-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number 03
              h4.h4-title.text-uppercase.mb-3 Безпечно для здоров'я
              p.paragraph-text.text-color-light.text-w-light Наш лазер не спалює волосяний фолікул, а прогріває його. Коли він бачить у фолікулі пігмент, він діє строго на нього, не розсіюючись на пігмент у шкірі. Це означає, що лазер працює тільки з волоссям і не зачіпає навколишні тканини. Тому лазер не впливатиме на ваші внутрішні органи і організм в цілому.

      .col-12.col-xl-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position
            img.d-none.d-md-block(src="assets/img/four-boxes/four-box_04.png" alt="four-boxes-4" srcset="assets/img/four-boxes/four-box_04@2x.png 2x")
            img.d-md-none.d-block(src="assets/img/four-boxes/four-box_04-mob.png" alt="four-boxes-4-mob" srcset="assets/img/four-boxes/four-box_04-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number 04
              h4.h4-title.text-uppercase.mb-3 Може, шампанського?
              p.paragraph-text.text-color-light.text-w-light.mb-0 Похід до салону — це радість, а не обов'язок. Ми хочемо, щоб процедури принесли вам тільки розслаблення і приємні відчуття. Тому сміливо озвучуйте все, що вам необхідно. Чай, кава, шампанське, поговорити або навпаки помовчати — ми підлаштуємося під ваш настрій і зробимо сеанс епіляції максимально комфортним.
