footer.footer.pt-3
  .container.container-m
    .row.footer-cnt.mx-auto.mx-xl-0
      .col-12.col-xl-3.d-none.d-xl-flex.align-items-center
        .c-logo-f
          img(src="assets/icon/logo-f.svg", alt="logo-f")
      .col-12.col-md-4.col-xl-3.mb-3.mb-xl-0
        ul.d-flex.d-md-block.flex-column.align-items-center.mb-0
          li.mb-3.text-center.text-xl-left.d-flex.align-items-center
            img.icon.icon-phone.mr-3(src="assets/icon/phone.svg", alt="icon-phone-f")
            a.telephone-dynamic.mt-1.paragraph-text-dark
          li.mb-3.text-center.text-xl-left.d-flex.align-items-cent.drop-menu.drop-menu-top.align-items-center.mr-4.mr-md-0
            img.icon.icon-phone.mr-3(src="assets/icon/icon-map-f.svg", alt="icon-map-f")
            span#cityFooter.city-dynamic.paragraph-text-light.text-color-dark.text-w-light
            svg.icon-arrow(width='13', height='7', viewbox='0 0 13 7', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M5.16693 6.68549L0.314506 1.83307C-0.104835 1.41373 -0.104835 0.733846 0.314506 0.314506C0.733846 -0.104835 1.41373 -0.104835 1.83307 0.314506L6.18447 4.66591L10.5359 0.314506C10.9552 -0.104835 11.6351 -0.104835 12.0544 0.314506C12.4738 0.733846 12.4738 1.41373 12.0544 1.83307L7.20202 6.68549C6.92614 6.96137 6.53751 7.05575 6.18447 6.96864C5.83144 7.05575 5.4428 6.96137 5.16693 6.68549Z', fill='white')
            ul#selectCityDropdownFooter.select-city-dropdown.dropdown-menu-list.d-flex.flex-column
              li
                span.nav-link-text.paragraph-text.paragraph-text-dark-header(data-city="zt") Житомир
              li
                span.nav-link-text.paragraph-text.paragraph-text-dark-header.paragraph-text-dark(data-city="rovno") Ровно
          li.mb-3.text-center.text-xl-left.d-flex.align-items-center.footer-icon-blk
            a#fbFooter.fb-dynamic(target="_blank" )
              img.icon.icon-facebook(src="assets/icon/facebook.svg", alt="facebook-f")
            a#instFooter.inst-dynamic(target="_blank" )
              img.icon.icon-inst.mr-0(src="assets/icon/instagram.svg", alt="inst-f")
      .col-12.col-md-3.col-xl-2.mb-3
        a.paragraph-text.text-center.text-md-left.mb-3.d-block(target="_blank" href="http://steffany.dotwork.digital/laser") Steffany Cosmetology
        a.paragraph-text.text-center.text-md-left.d-block(target="_blank" href="http://steffany.dotwork.digital/podology") Steffany Podology
        hr.d-sm-none.my-4
      .col-12.col-md-5.d-none.d-md-flex.flex-column.align-items-center.align-items-md-start.d-xl-none
        a.mb-3.m-md-0.p-text-dark.d-block.d-md-none.d-xl-block.paragraph-text-dark(target="_blank" href="./policy.html") Пользовательское соглашение
      .col-12.col-xl-4.d-none.d-md-flex.flex-column.justify-content-center.justify-content-sm-between.justify-content-xl-start.flex-xl-column.align-items-xl-center
        p.paragraph-text.text-center.mb-3
          | Скачай приложение! <br/>
          | Почувствую заботу о себе в любой момент
        div.d-none.d-sm-flex.justify-content-center.align-items-center
          a.mr-3(target="_blank" href="https://apps.apple.com/ua/app/steffany/id1342254632?l=ru")
            img.icon-large(src="assets/icon/app-store.svg", alt="mob-f")
          a(target="_blank" href="https://play.google.com/store/apps/details?id=com.yclients.widget.g50068")
            img.icon-large(src="assets/icon/google-play.svg", alt="play-f")

    hr.d-none.d-sm-block.my-3
    .d-flex.flex-column.align-items-center.flex-xl-row.justify-content-xl-between.footer-cnt.mx-auto.mx-xl-0.mb-3
      p.mb-3.m-md-0.p-text-dark.order-1.order-xl-0.text-center.text-xl-left(style="padding: 0 15px;") Разработано в &nbsp
        |
        a.paragraph-text-dark(target="_blank" href="http://dotwork.digital/") dotwork
      a.mb-3.m-md-0.p-text-dark.d-block.d-md-none.d-xl-block.paragraph-text-dark(target="_blank" href="./policy.html" style="padding: 0 15px;") Пользовательское соглашение
      p.mb-3.m-md-0.p-text-dark.text-center.text-xl-left(style="padding: 0 50px;") steffany.ua ©2019. Все права защищены
