.info-block.info-block-7.info-block-7-9.info-block-7-9-mob.info-block-7-13.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-1.mx-auto.mx-xl-0.d-none.d-xl-block
          img.w-100(src="./assets/img/infoblock/item-56.jpg", srcset="./assets/img/infoblock/item-56@2x.jpg 2x",  alt="item")
        .col.col-info.order-2.no-bg-blk
          p.p-bold.pb-3.text-color-dark  Что дает покраска бровей хной:
          ul.info-list
            li.thin-text.text-color-dark.mb-15 насыщенный натуральный оттенок бровей
            li.thin-text.text-color-dark.mb-15 равномерно прокрашенные брови по всей ширине и длине
            li.thin-text.text-color-dark.mb-15 окрашенную кожу между волосками, которая создает эффект густых бровей
          p.p-bold.pb-3.text-color-dark Вам подойдет эта процедура, если:
          ul.info-list
            li.thin-text.text-color-dark.mb-15 у вас не очень густо растут волоски на бровях
            li.thin-text.text-color-dark.mb-15 вы пока не решились на обычный татуаж
            li.thin-text.text-color-dark.mb-15 вы не хотите выделять время на оформление бровей разными средствами каждый день
          p.p-bold.pb-3.text-color-dark Процедура окрашивания бровей хной длится 30-40 минут
          a.btn-simple.br-100.d-flex.align-items-center.justify-content-center.white-text.under-border Цена