.info-block.info-block-6.info-block-6-5.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.mob-hidden-item
          img.w-100(src="./assets/img/infoblock/item-53.jpg",  alt="item")
        .col.col-info.order-1.no-bg-blk
          h2.section-title.underline-title Окраска бровей в Житомире
          p.think-text Жизнь слишком коротка, чтобы каждый день оформлять брови кучей разных щеточек, баночек и стиков. Лучше один раз прийти в Steffany и довериться нашим мастерам-бровистам. Они окрасят ваши брови краской Elan или RefectoCil в естественный оттенок, который подходит вашему цветотипу. После процедуры у вас будут красивые брови со стойким цветом. Их не надо будет оформлять и подкрашивать каждое утро. Все, что вам будет нужно — заглядывать в салон на 20 минут и обновлять окрашивание бровок по мере необходимости.
      span.big-text.mob-hidden-item coloring
