.info-block.info-block-8.info-block-8-3.info-block-8-9
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-start.no-gutters
      .col.col-img.order-1
        img.w-100(src="./assets/img/infoblock/item-57.jpg", srcset="./assets/img/infoblock/item-57@2x.jpg 2x", alt="item")
      .col.col-info.order-2
        h2.section-title.underline-title.mb-25.pb-25 Окрашивание ресниц краской
        p.p-text.thin-text.mb-30 Чтобы ресницы оставались темного насыщенного оттенка даже без туши, приходите на процедуру окрашивания ресниц в Steffany. Она выполняется краской Elan или RefectoCil — той самой, которой мы красим бровки. Мастер подберет по вашему желанию оттенок, который будет сочетаться с цветом ваших бровей и глаз. Краска на ресницах ведет себя так же, как и на бровях. Держится неделю, а затем постепенно сходит. Если у вас светлые ресницы, визуально эффект продержится чуть дольше.
        p.p-bold.mb-15 Что дает окрашивание ресниц краской:
        ul.info-list.mb-33
          li.p-text.thin-text.mb-15 стойкий насыщенный цвет ресниц
          li.p-text.thin-text.mb-15 возможность не красить их тушью 
          li.p-text.thin-text.mb-15 эффект как минимум на неделю
        p.p-bold Как проходит процесс: