.info-block.info-block-7.info-block-7-2.info-block-7-12.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk
          .border-el
            h2.section-title.text-lightdark Коррекция формы<br/>  бровей в Житомире
            p.thin-text.text-lightdark Профессиональная коррекция бровей — это услуга, которая понадобится вам, когда ваши идеальные бровки немного отрастут и станут радовать вас меньше обычного. На коррекции мастер подправляет форму бровей с помощью пинцета.
          p.p-bold.text-lightdark.pt-15.pb-10 Как проходит коррекция формы бровей
          p.thin-text.text-lightdark Казалось бы, что тут сложного? Надо просто выщипать брови. На самом деле даже такую «простую» процедуру коррекции бровей в салоне надо выполнять по всем правилам безопасности, чтобы избежать вросших волос или попадания инфекции.
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-49.jpg",  alt="item")
        span.big-text.d-none.d-xl-block brows
