.info-block.info-block-5.info-block-5-3.info-block-5-4.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-start.justify-content-center.justify-content-xl-end.no-gutters.info-block-wrap-item.border-block-item8
        .col.col-img.d-none.d-xl-block.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-52.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title.mb-15 Как проходит процесс ламинирования бровей
          p.thin-text Чтобы эффект на ваших бровках сохранился на обещанные месяц-полтора, мастер детально анализирует состояние бровей. Он выстраивает процесс в зависимости от толщины, направления роста ваших волосков и других параметров.
          a.btn-simple.br-100.d-flex.align-items-center.justify-content-center.white-text.under-border(id = "brows-price-2", data-anchor-link='brow-lam') Цена
      span.big-text.d-none.d-xl-block brows
