.info-block.info-block-7.info-block-7-3.info-block-7-11.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-1.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-48.jpg",  alt="item")
        .col.col-info.order-2.no-bg-blk
          p.p-bold.white-text.mb-15 Вам подойдет эта процедура, если:
          ul.info-list.mb-35
            li.thin-text.white-text.mb-15 вас не устраивает ваша нынешняя архитектура бровей
            li.thin-text.white-text.mb-15 вы хотите скорректировать густоту и ширину своих бровей
            li.thin-text.white-text.pb-10  вы желаете тратить меньше времени на оформление бровей
          p.p-bold.white-text.pb-3 Процедура моделирования формы бровей длится 1 час
          a.btn-simple.br-100.d-flex.align-items-center.justify-content-center.white-text.mt-18(id = "brows-price-1", data-anchor-link='brow-model') Цена
