.info-block.info-block-4.info-block-4-1.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-46.jpg",  alt="item")
        .col.col-info.order-1.no-bg-blk
          h2.section-title.border-el Моделирование,  <br/> окрашивание и коррекция<br/>  бровей <span class='city-in-dynamic'></span>
          p «Никто не приходит в этот мир с идеальными бровями», — сказала одна мудрая женщина. У кого-то они недостаточно густые. У кого-то перестали расти в некоторых местах из-за подростковых экспериментов. Кому-то не нравится оттенок. Знакомо? У нас хорошая новость: все это можно исправить в Steffany. Мы придадим вашим бровкам нужную форму, покрасим в нужный оттенок и поможем поддерживать этот результат.
      span.big-text brows
