.info-block.info-block-3.info-block-3-1.info-block-3-3.info-block-3-9.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-center.mx-auto
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters.border-block-item
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-55.jpg", srcset="./assets/img/infoblock/item-55@2x.jpg 2x",  alt="item")
        .col.col-info.order-1
          h2.section-title Окрашивание бровей хной в Житомире
          p.under-border Не особо густые, светлые волоски на бровях — еще не повод подписываться на пожизненный перманентный макияж. И уж тем более — не повод тратить свое время на ежедневное оформление и прорисовку бровей. Чтобы выделить редкие или светлые брови, достаточно прийти на окрашивание бровей хной в Steffany. Здесь вам  могут сделать бровки с эффектом биотатуажа. Это значит, что вместе с волосками окрасится кожа. Брови приобретут любую форму и натуральный оттенок, который подойдет под ваши глаза, цвет кожи и оттенок волос.
      span.big-text pedi
      span.big-text.big-text-2 cure  Массаж рук с лосьоном La Palm
