.info-block.info-block-8.info-block-8-8
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-end.no-gutters
      .col.col-img.order-2.d-none.d-xl-block
        img.w-100(src="./assets/img/infoblock/item-50.jpg", alt="item")
      .col.col-info.order-1
        h2.section-title.underline-title Ламинирование бровей <span class='city-in-dynamic'></span>
        p.p-text.thin-text.mb-62 Эта процедура стирает из памяти, как выглядит гель для бровей. Все потому, что ламинирование бровей надолго фиксирует даже самые непослушные брови и служит долгосрочной укладкой. На 1-1,5 месяца брови остаются уложенными, блестящими и более утолщенными за счет специального состава, который наносится во время процедуры. В повседневной жизни с бровями можно обращаться как обычно: умываться, тереть, спать лицом в подушку. Им нужен лишь минимальный уход каждое утро, который в разы короче стандартной укладки косметическими средствами.
        a.btn-callback(href="#",  data-toggle='modal', data-target='#appointmentModal')
          .text-section
            +penSvg
            span записаться
          .arrow-section
            +arrowSvg
