.steps.gray-word-bg2
	.container
		.row.justify-content-around
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Этап
					span.text-bold.fs-16 1
				p.p-bold.text-color-dark2.text-center.mb-15 Консультация
				p.think-text.text-color-dark2.text-center Мастер проводит консультацию, где осматривает ваши брови и кожу вокруг них. Он проверяет, нет ли на коже повреждений, какой толщины волоски и какое у них направление роста.
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Этап
					span.f-bold.fs-16 2
				p.p-bold.text-color-dark2.text-center.mb-15 Подготовка
				p.think-text.text-color-dark2.text-center Мастер протирает область вокруг бровей мицеллярной водой без масел, чтобы обезжирить кожу для дальнейших действий.
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Этап
					span.text-bold.fs-16 3
				p.p-bold.text-color-dark2.text-center.mb-15 Нанесение состава
				p.think-text.text-color-dark2.text-center Мастер наносит специальный состав для ламинирования бровей и вы сидите с ним 10-15 минут. Время зависит от густоты, толщины и изначального направления роста волосков ваших бровей.
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Этап
					span.text-bold.fs-16 4
				p.p-bold.text-color-dark2.text-center.mb-15 Нанесение второго состава
				p.think-text.text-color-dark2.text-center Мастер снимает остатки первого состава сухой ватной палочкой и повторно наносит состав. На этот раз средство нужно держать 15-20 минут. 
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Этап
					span.text-bold.fs-16 5
				p.p-bold.text-color-dark2.text-center.mb-15 Нанесение ботокса
				p.think-text.text-color-dark2.text-center Мастер снова удаляет средство с бровей и наносит разведенный в горячей воде ботокс. С ним нужно сидеть около 20 минут.
				