.steps.gray-word-bg
	.container
		.row
			.col-12.col-md-6.col-xl-3.d-flex.align-items-center.flex-column.mb-5.mb-xl-0
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Этап
					span.text-bold.fs-16 1
				p.think-text.text-color-dark2.text-center Если на бровях и коже вокруг них есть макияж (карандаш, тени, гель), мастер удаляет его мицеллярной водой.
			.col-12.col-md-6.col-xl-3.d-flex.align-items-center.flex-column.mb-5.mb-xl-0
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Этап
					span.f-bold 2
				p.think-text.text-color-dark2.text-center Мастер обрабатывает свои руки, ваши брови и кожу вокруг бровей дезинфицирующим средством АХД или спиртовым раствором.
			.col-12.col-md-6.col-xl-3.d-flex.align-items-center.flex-column.mb-5.mb-xl-0
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Этап
					span.text-bold.fs-16 3
				p.think-text.text-color-dark2.text-center При вас мастер достает из крафтового пакета специально простерилизованный пинцет, которым удаляет нежелательные волоски. Мастер вырывает волоски по направлению их роста, чтобы было не сильно больно и волоски потом не врастали.
			.col-12.col-md-6.col-xl-3.d-flex.align-items-center.flex-column.mb-5.mb-xl-0
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Этап
					span.text-bold.fs-16 4
				p.think-text.text-color-dark2.text-center За все время процесса мастер протирает вашу кожу с только что удаленными волосками дезинфицирующим средством. После процедуры он напоследок обрабатывает кожу и дает ей успокоиться.
				