section.section.activity
  img(src="assets/img/common/circles-with-hr.png").circles
  .container.d-flex.flex-wrap
    .col-sm-12.col-lg-6.d-flex.flex-column.justify-content-center
      h2.dark-blue Чим займається лікар подолог?
      .dash
      p.description Проблеми зі стопами зустрічаються набагато частіше, ніж здається. Люди мучаться, звертаються у різні клініки та лікарні, але не знаходять там належного лікування. Усе тому, що захворюваннями стоп займаються спеціально навчені люди — подологи.<br><br>Класичний подолог відповідає за здоров'я шкіри та нігтів на ногах. Він лікує врослі нігті, мозолі, натоптиші, бородавки, тріщини на п'ятах або грибок. Однак багато з цих проблем з'являється через неправильне положення стопи під час ходи, физичних навантажень чи навпаки малорухомості. Деякі більш серйозні проблеми з'являються через порушення біомеханічного характеру, які призводять до серйозних захворювань усього опорно-рухового апарату. Тому розумніше за все прибрати причину, через яку з'являються захворювання стоп.<br><br>У нашому центрі ми працюємо у тандемі з іншими спеціалістами: дерматологами, вертебрологами и фізіотерапевтами. Ми розглядаємо ваші стопи як частину опорно-рухового апарату. Тому знаходимо причину проблеми і робимо так, щоб вона більше не поверталась.
    .col-sm-12.col-lg-6.p-md-5
      img(src="assets/img/doctor-podolog.jpg").d-block
