section.section.call-me
  .container.d-flex.flex-wrap
    .col-12.col-lg-7.d-flex.flex-column.justify-content-center
      h2.white-text.text-center.text-lg-left Запишитесь на консультацию<br><strong>прямо сейчас</strong> и получите<br><strong>скидку 10 %</strong>
      .dash.center
      p.white-text.text-center.text-lg-left Ми передзвонимо вам і запишемо на консультацію, де спецыалыст проведе огляд, дасть необхідні рекомендації та відповість на запитання.
    .col-12.col-lg-5
      +writeClientForm
