section.section.faq
  +accordeon('Поширені запитання', 'Тут ви знайдете інформацію, яку найчастіше запитують наші пацієнти',
    [
      {
        title: 'У мене цукровий діабет. Чи можу я звернутись до подолога?',
        body : 'Звичайно. Ви можете скористатися послугою обробки діабетичної стопи. Перед процедурою ми проводимо 4 простих тесту на чутливість: вібраційну, температурну, больову і тактильну. Якщо чутливість порушена, ми звертаємо увагу на ці ділянки стопи і обробляємо їх із особливою обережністю. Також ми вимірюємо рівень цукру в крові за допомогою апарату глюкометр. Це не боляче і повністю безпечно. Ми відповідальні за нашу роботу і репутацію. Тому якщо рівень цукру вище 10, будь-які процедури зі стопою можуть бути небезпечні для вас. Через високий некомпенсований рівень цукру порушуються всі процеси загоєння і регенерації тканин. Тому якщо глюкометр показує високий рівень цукру, ми звернемо на це вашу увагу і направимо вас до фахівця, щоб допомогти вам знизити рівень цукру в крові. А потім із задоволенням запишемо на нове зручний час.'
      },
      {
        title: 'Подолог в Житомирі приймає дітей та підлітків?',
        body : 'Так, звичайно! Ми приймаємо діток від 2-х років. Проводимо дітям діагностику, щоб ще на ранніх стадіях виявити можливі патології розвитку нижніх кінцівок. Пропонуємо реабілітаційні, профілактичні заходи, а також вправи для стоп. З радістю приймаємо підлітків. Саме в цьому віці найчастіше закладаються проблеми зі стопами. Це викликано гормональною перебудовою, неправильним доглядом за стопою та нігтями, а також підвищеним потовиділенням. Якщо в цьому є необхідність, ви можете придбати у нас спеціальні розвиваючі ортопедичні тренажери для дітей і всієї сім\'ї.'
      },
      {
        title: 'Наскільки у вас стерильно?',
        body : 'У нашому центрі повний цикл стерилізації. Ми стерилізуємо все: від маленького інструменту до повітря в приміщенні. Для стерилізації інструментів ми замочуємо їх у дезинфікуючому розчині широкого спектру дії, який повністю прибирає будь-які віруси, грибки і бактерії. Інструменти знаходяться в ультразвуковій ванні, де під дією процесу кавітації вони ефективніше очищуються. Далі ми закладаємо інструменти в крафт-пакети — спеціальні пакети для стерилізації. У них ми поміщаємо інструменти в паровий стерилізатор класу В — Автоклав — і стерилізуємо в двох атмосферах парового тиску при температурі 134 градусів. На крафт-пакетах є індикатори, які змінюють колір при завершенні циклу стерилізації. Усі стерильні інструменти зберігаються у крафт-пакетах і розкриваються при вас. Після кожного пацієнта ми дезінфікуємо всі поверхні у кабінеті: апарати подоскоп і дерматоскоп, усі меблі і робоче крісло. Для очищення повітря у нас працюють рециркулятор і бактерицидні опромінювачі закритого типу. Вони проганяють через себе повітря і знезаражують його. Також бактерицидні лампи кварцюють приміщення після кожного пацієнта. Крім цього у нас проходять регулярні поточні та генеральні прибирання.'
      },
      {
        title: 'До вас можна прийти просто на консультацію?',
        body : 'Так, можна і потрібно. Саме із консультації починається будь-яке лікування. Якщо у вас є питання щодо стану своїх стоп або ви просто хочете влаштувати профілактичний огляд, телефонуйте нам або залишайте заявку на сайті.'
      },
      {
        title: 'Скільки коштує консультація подолога? Яка в цілому вартість на послуги подолога?',
        body : 'Консультація подолога коштує 200 грн. Періодично ми оголошуємо період безкоштовних консультацій, щоб якомога більше людей могли перевірити здоров\'я своїх стоп. Особливо це важливо для людей похилого віку. Тому стежте за нашими новинами на сайті, в соціальних мережах або по телефону. Повний список послуг із цінами ви можете подивитися на сторінках послуг.'
      },
      {
        title: 'Які косметичні засоби для лікування стоп ви використовуєте?',
        body : 'Використовуємо сертифіковану космецевтику з Європи. Засоби такого типу поєднують у собі косметичні та медичні компоненти. Основні бренди — Suda (Німеччина), Gehwol (Німеччина), Podopharm (Польща), Peclavus (чиста органіка з Німеччини).'
      },
      {
        title: 'Я можу купити у вашому центрі косметичні засоби для стоп для домашнього догляду?',
        body : 'Так, всі засоби є в магазині нашого центру і їх можна купити. Перед покупкою обов\'язково проконсультуйтеся з нашим фахівцем-подологом. Він підбере вам засоби для домашнього догляду і розповість, як ними користуватися.'
      }
    ], true, 1)
