section.section.pricing
  h2.paragraph-text.text-center Послуги подолога в Steffany
  .container.feet-section.justify-content-center
    .col-12.col-sm-7.col-lg-4.item.mb-4
      .c-content
        h3.dark-blue Подологія
        p.desc Лікування нігтів та шкіри стоп
        ul.info-list
          li Медичний педикюр
          li Обробка діабетичної стопи
          li Обробка грибкових уражень шкіри та нігтів
          li Обробка бородавок і мозолів
          li Обробка тріщин на стопі
          li Обробка гіперкератозу
        +customBtn('Більше послуг')(data-role="href" data-link="./pod")
    .col-12.col-sm-7.col-lg-4.item.mb-4
      .c-content
        h3.dark-blue Ортоніксія
        p.desc Виправляємо форму та ріст нігтів
        ul.info-list
          li Встановлення скоби Фрезера
          li Встановлення титанової нитки
          li Протезування корегуючими вкладками
          li Встановлення корегуючої системи 3ТО і протезування нігтів
        +customBtn('Більше послуг')(data-role="href" data-link="./otronixia")
    .col-12.col-sm-7.col-lg-4.item.mb-4
      .c-content
        h3.dark-blue Мала ортопедія
        p.desc Коригування положення стоп за допомогою устілок та ортезів
        ul.info-list
          li Діагностика стопи на педобарографі та проектування устілок
          li Виготовлення силіконових ортезів
          li Виготовлення розвантажувальних устілок
          li Підбір ортопедичної продукції
        +customBtn('Більше послуг')(data-role="href" data-link="./orthopedics")
