.info-block.info-block-8
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-end.no-gutters
      .col.col-img.order-2
        img.w-100(src="./assets/img/infoblock/item-73.jpg", alt="item")
      .col.col-info.order-1
        .border-el
          h2.section-title Як проходить корекція <br/> форми нарощених нігтів
          p.control-width Коли свої натуральні нігті відростають, нарощені нігті втрачають свою архітектуру, їх легше зламати або випадково пошкодити. Тому приблизно раз на місяць варто приходити на корекцію нарощених нігтів.
        p.p-bold.pt-3.pt-xl-4.pt-50.pb-15 Як готуватися до корекції нарощених нігтів
        p Спеціально готуватися до корекції нігтів не потрібно. Єдина процедура, яку ви можете за бажанням виконати до корекції — це манікюр. Можна зробити його вдома самостійно або записатися на манікюр до нас. Ми зробимо манікюр, не пошкодивши кутикулу, тому ви зможете наростити нігті гелем або полігелем на цьому ж сеансі.
