.benefits.serviceBenefits.doubleBnf.bg-white.two-benefits
  .container.mx-auto
    .row.no-gutters.flex-column.flex-xl-row
      .bnf.bnf-two.col-xl-6.col-12.mb-3.mx-auto.mx-xl-0
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img(src="./assets/img/bnf/item-5.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-lightdark 01
          .bnf-title.text-lightdark Нарощування гелевих нігтів
          p.paragraph-text-dark.text-lightdark.mb-2
            span.f-bold Бренд матеріалу: Lemme <br/>
            span Вам підійде гелеве нарощення нігтів, якщо:
          ul.info-list
            li.p-text.thin-text.text-lightdark.mb-2 вас не турбує стан ваших нігтів;
            li.p-text.thin-text.text-lightdark.mb-2 ваші нігті погано тримають звичайне покриття;
            li.p-text.thin-text.text-lightdark.mb-2 ви хочете нову форму і довжину.
      .bnf.bnf-two.col-xl-6.col-12.mb-3.mx-auto.mx-xl-0
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img(src="./assets/img/bnf/item-6.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-lightdark 02
          .bnf-title.text-lightdark Нарощування нігтів акрілатіком
          p.paragraph-text-dark.text-lightdark.mb-2
            span.f-bold Бренд матеріалу: Reforma  <br/>
            span Вам підійде нарощування полігелем, якщо:
          ul.info-list
            li.p-text.thin-text.text-lightdark.mb-2 у вас тонкі, ослаблені нігті;
            li.p-text.thin-text.text-lightdark.mb-2 ви схильні до алергічних реакцій;
            li.p-text.thin-text.text-lightdark.mb-2 у вас чутлива шкіра і нігтьова пластина.
