.info-block.info-block-4.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-4.jpg",  alt="item")
        .col.col-info.order-1.no-bg-blk
          h2.section-title.border-el Укріплення і<br/> нарощування нігтів <br/> <span class='city-in-dynamic'></span>
          p.pb-3 Скільки потрібно часу, аби отримати міцні довгі нігті ідеальної форми? Кілька місяців? Ну не знаємо ... В Steffany це справа кількох годин. Приходьте до нас у нігтьовий сервіс і отримайте нігті, які хотіли. Ви можете зробити нарощування гелем або полігелем (акрілатіком), а також можете зміцнити нігтьову пластину. Обирайте процедуру, яка підійде саме вам.
      span.big-text nails
