.benefits.serviceBenefits.serviceBenefits2.gray-word-bg
  .container
    .row.no-gutters
      h2.section-title.h-center Є багато причин зробити нарощування нігтів
    .row.no-gutters.mb-4
      .section-subtitle.h-center Для початку назвемо хоча б три
    .row.no-gutters
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.bnf-number-one.d-flex.align-items-center.justigy-content-center.text-center.white-text 01
          .bnf-title.bnf-title-smaller.text-center.text-color-dark Порятунок для ламких нігтів
          p.thin-text.text-center.text-color-dark Відростити натуральні нігті складно, коли вони раптово ламаються або слабшають. Однак це не причина прощатися із довгими нігтями. Їх можна просто наростити штучним матеріалом і періодично коригувати.
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.bnf-number-two.d-flex.align-items-center.justigy-content-center.text-center.white-text 02
          .bnf-title.bnf-title-smaller.text-center.text-color-dark Нігті бажаної форми
          p.thin-text.text-center.text-color-dark Природна форма нігтів не завжди відповідає нашим ідеалам. При нарощуванні ви самі визначаєте, яка форма нігтів у вас буде. Майстер допоможе підібрати таку форму, яка буде гармоніювати із кистю і підкреслить красу пальців.
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.bnf-number-three.d-flex.align-items-center.justigy-content-center.text-center.white-text 03
          .bnf-title.bnf-title-smaller.text-center.text-color-dark Будь-який колір і дизайн
          p.thin-text.text-center.text-color-dark Нарощені нігті можна зробити прозорими і покрити лаком або гель-лаком. Але крім цього ви можете зробити їх природного нюдового відтінку, із френч манікюром або акваріумним дизайном прямо всередині нарощених нігтів.
