.info-block.info-block-3.info-block-5.light-purple-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-start.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-70.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title Наращивание ногтей гелем <br/> <span class='city-in-dynamic'></span>. Какой <br/> материал для наращивания<br/> ногтей выбрать
          p У нас вы можете сделать наращивание ногтей гелем или полигелем (акрилатиком). Это самые распространенные материалы для наращивания. Каждый из предназначен для разных целей и имеем свои плюсы.
          p Какой из них выбрать для своих ноготков? Прочитайте информацию ниже — это поможет вам определиться. Если же вы все еще затрудняетесь, просто приходите на консультацию к нашему мастеру. Он осмотрит вашу ногтевую пластину и посоветует для нее лучший материал.
      span.big-text Color
