.info-block.white-bg.info-block-9
  .container
    .row.d-flex.flex-column.flex-lg-row.align-items-center.justify-content-center.justify-content-lg-end.no-gutters
      .col-12.col-xl-6.d-none.d-xl-block.col-img.order-1
        img.w-100(src="./assets/img/infoblock/item-75.jpg", alt="item")
      .col-12.col-xl-6.col-info.order-2
        p.p-bold.pb-3  Який матеріал для зміцнення обрати
        p.pb-3.thin-text Точніше і найдокладніше на це питання вам відповість майстер. Перед зміцненням він обов'язково огляне ваші нігті, задасть питання і визначить матеріал для зміцнення.
        p.pb-3.thin-text У нас ви можете зміцнити нігті чотирма матеріалами: акриловою пудрою, базою, гелем або полігелем. Вид зміцнення залежить від нігтьової пластини. Кожен матеріал підходить різному типу нігтів і виконує різні завдання.
