.info-block.info-block-3.info-block-3-1.light-purple-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-center.mx-auto
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters.border-block-item
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-74.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title Зміцнення нігтьової пластини
          p.pb-3 Зміцнення нігтьової пластини підійде вам, якщо гель-лак на нігтях носиться погано, але нарощувати нігті не хочеться. Знайоме? Тоді приходьте на цю процедуру. Майстер зміцнить ваші природні нігті певним матеріалом і нанесе поверх гель-лак. Після цього ви зможете відходити 3-4 тижні без відшарувань, відколів та інших неприємностей.
          p.pb-3.p-bold.under-border Як зміцнюються нігті
          p На процедурі майстер вибудовує на ваших нігтях архітектуру. Він зміцнює матеріалом ті ослаблені або тонкі місця, які найбільше схильні до ризику.
      span.big-text pedi
      span.big-text.big-text-2 cure
