.info-block.info-block-6.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.mob-hidden-item
          img.w-100(src="./assets/img/infoblock/item-71.jpg",  alt="item")
        .col.col-info.order-1.no-bg-blk
          h2.section-title Як проходить процес<br/> нарощування нігтів гелем<br/> і полігелем
          p.pb-0 Не важливо, що ви обрали — гель чи полігель. Етапи під час послуги нарощування нігтів будуть одні й ті самі. Змінюватися будуть лише техніки нарощування.
          .info-list
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 01
              .info-list-cnt
                p.p-bold.pb-3 Підготовка нігтьової пластини
                p.thin-text Майстер готує вашу нігтьову пластину до нарощування за допомогою одноразових абразивів. Він надає форму натуральним нігтям, готує їх верхній шар до подальших дій, знежирює поверхню.

            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 02
              .info-list-cnt
                p.p-bold.pb-3 Постановка форм
                p.thin-text Коли поверхня натуральних нігтів готова, майстер виставляє у нігтя шаблон для нарощування. На шаблон він наносить обраний вами матеріал для нарощення нігтів — гель або полігель (акрілатік). На формі майстер викреслює форму і довжину нарощених нігтів
      span.big-text.mob-hidden-item nails
