.benefits.serviceBenefits.doubleBnf.doubleBnfDark.two-benefits.dark-words
  .container.mx-auto
    .row.no-gutters
      .section-title.white-text.text-center Ми якісно нарощуємо нігті
      .section-subtitle.white-text.text-center Воно проходить абсолютно безпечно для вашого здоров'я
    .row.no-gutters.bnf-items.flex-column.flex-xl-row
      .bnf.bnf-two.col-xl-6.col-12.mb-3.mx-auto.mx-xl-0
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-5.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-20.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 01
          .bnf-title.white-text Стерилізуємо інструменти
          p.paragraph-text-dark.white-text.mb-2
            span Якщо ви захочете виконати манікюр перед нарощуванням або зміцненням нігтів, будьте впевнені — майстер виконає цю процедуру стерильними інструментами. Вони проходять повний цикл стерилізації у нашій лабораторії і запечатуються в одноразовий крафт-пакет. Його розкриють при вас. Кольоровий кружечок на крафт-пакеті свідчить про те, що інструменти стерильні
      .bnf.bnf-two.col-xl-6.col-12.mb-3.mx-auto.mx-xl-0
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-6.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 02
          .bnf-title.white-text Використовуємо одноразові матеріали
          p.paragraph-text-dark.white-text.mb-2
            span Для вашої процедури майстер відкриває ваш особистий пакет із одноразовими інструментами, яким до цього ніхто не користувався. Там знаходиться апельсинова паличка, змінні абразиви (пилочки), а також рукавички і маска для майстра. Коли процедура починається, майстер надягає одноразові абразиви на стерилізовану металеву основу і виконує ними всі дії.
