.benefits.serviceBenefits.serviceProccesBenefits.word-bg.serviceBenefits2.gray-word-bg2
  .container
    .row.no-gutters
      h2.section-title.text-center.paragraph-text-light Як проходить корекція нігтів
    .row.no-gutters.justify-content-around
      .bnf.bnf-three.col-xl-4.col-md-6.col-12.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-center.pl-1.white-text 01
          .bnf-title.bnf-title-small.text-center.text-color-dark Зняття покриття
          p.thin-text.text-center.text-color-dark Майстер знімає верхній шар вашого покриття за допомогою одноразових абразивів.
      .bnf.bnf-three.col-xl-4.col-md-6.col-12.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-center.pl-1.white-text 02
          .bnf-title.bnf-title-small.text-center.text-color-dark Підготовка нігтьової пластини
          p.thin-text.text-center.text-color-dark Майстер надає нігтям форму, прибирає товщину, наносить засоби, які пізніше дозволяють штучному матеріалу поєднатися із поверхнею натуральних нігтів.
      .bnf.bnf-three.col-xl-4.col-md-6.col-12.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-center.pl-1.white-text 03
          .bnf-title.bnf-title-small.text-center.text-color-dark Нанесення матеріалу
          p.thin-text.text-center.text-color-dark Майстер встановлює форму і наносить на підготовлені нігті обраний моделюючий матеріал — гель або полігель.
      .bnf.bnf-three.col-xl-6.col-md-6.col-12.d-flex.justify-content-end.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-center.pl-1.white-text 04
          .bnf-title.bnf-title-small.text-center.text-color-dark Оформлення нігтів
          p.thin-text.text-center.text-color-dark Ви опускаєте нігті у діодну лампу, вони сушаться, а потім майстер оформляє їх за допомогою змінних абразивів.
      .bnf.bnf-three.col-xl-6.col-md-6.col-12.d-flex.justify-content-start.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.d-flex.align-items-center.justigy-content-center.text-center.pl-1.white-text 05
          .bnf-title.bnf-title-small.text-center.text-color-dark Покриття нігтів
          p.thin-text.text-center.text-color-dark Якщо хочете, майстер покриває нарощені нігті обраним відтінком лаку або гель-лаку.
