.info-block.info-block-7.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk
          .info-list
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-green-text 03
              .info-list-cnt
                p.p-bold.pb-3.white-text Створення штучного нігтя
                p.thin-text.white-text Майстер створив нарощені нігті. Тепер ви опускаєте руки всередину діодної лампи для застигання (полімеризації) матеріалу. Коли нігті повністю застигають, майстер ще раз проходиться по них абразивами і надає ідеальну форму.

            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-green-text 04
              .info-list-cnt
                p.p-bold.white-text.pb-3 Покриття
                p.thin-text.white-text Якщо хочете, майстер покриває ваші нарощені нігті гель-лаком або лаком обраного відтінку.
          p.p-bold.white-text.list-p-text Скільки триває нарощування нігтів
          p.thin-text.white-text.pb-42 2,5-3,5 години в залежності від форми і довжини нігтів
          a.btn-simple.br-100.d-flex.align-items-center.justify-content-center.white-text(data-anchor-link='man-extension') Ціна
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-72.jpg",  alt="item")
