section.section-services.about
  .container
    +breadcrumbs('Головна', 'Услуги', './pod', 'Лікування грибка нігтів', './fungus')
  .container
    h3.page-title.mb-3.mb-lg-5 Лікування грибка нігтів
      |
      |
      span.city-in-dynamic
    .row.m-0
      .col-12.d-block.d-sm-none.mb-3
        .services-about-sm-divider
      .col-12.col-lg-6.order-2.order-lg-1
        img.w-100.shadow(src="assets/img/pd-feet-3.png")
      .col-12.col-lg-6.d-flex.align-items-center.order-1.order-lg-2.d-flex.flex-column
        p.paragraph-text.text-dark-1 Грибок — це інфекційне ураження нігтьової пластини або шкіри стоп, викликане дріжджовими, пліснявими або дерматофітними грибами. Грибок зустрічається у чоловіків і жінок так часто, що за статистикою на нього страждає кожна 3-я людина на планеті. Грибок супроводжується не найприємнішими симптомами: свербінням, специфічним запахом, зміною стану шкіри і нігтьової пластинки. Це привносить у повсякденне життя незручності.
        p.paragraph-text.text-dark-1 Однак реальна шкода грибка у його вплив на організм. Грибок без належного лікування викликає загальну інтоксикацію, яка отруює організм зсередини. Це посилює вже існуючі хвороби і алергії. Тому важливо звертатися до подолога вже з першими симптомами грибка або підозрами на нього. У центрі здоров'я ніг Steffany ви зможете вилікувати будь-який вид ураження грибком.
