+FAQ('Часто задаваемые вопросы', 'Здесь вы найдете информацию, которая чаще всего интересует наших пациентов', [
  {
    title: 'Лечение грибка — это больно?',
    body : 'Боль — это главный страх всех, кто впервые приходит к подологу. Однако бояться нечего. Процедура удаления грибка максимально безболезненная и в конце приносит облегчение. Пациенты говорят, что их кожа «снова начинает дышать».'
  },
  {
    title: 'Сколько нужно процедур, чтобы вылечить грибок?',
    body : 'Однозначный ответ вы получите на индивидуальной консультации, когда специалист-подолог проведет осмотр вашей ситуации и по необходимости получит результаты ваших лабораторных анализов.'
  },
  {
    title: 'Почему за 2 недели до сдачи анализа в лабораторию нельзя ничем мазать место с грибком?',
    body : 'Чтобы лаборатория точно определила вид грибка и его чувствительность к лекарственным препаратам, грибок должен быть в своем естественном виде. Любые мази, крема и другие средства маскируют реальную картину, из-за чего лаборатория даст неточный результат. Чтобы вы не тратили время и деньги зря, постарайтесь придерживаться этой рекомендации 2 недели. Тогда вы со специалистом-подологом быстрее приступите к самому лечению.'
  },
  {
    title: 'Пока я ничем не мажу ногу 2 недели, испытываю дискомфорт. Как его снизить?',
    body : 'Понимаем. Это действительно дискомфортно. Однако помните, что пока вы не знаете вид и культуру грибковой инфекции, вы и любой врач-подолог не могут определить его «на глаз» и назначить правильный препарат. Следовательно, ваша текущая мазь может не облегчить ситуацию, а даже усугубить ее или просто не сдвинуть с места. Для поддержания гигиены мойте ноги проточной водой с мылом, носите чистые прокипяченные носки (или постиранные в стиральной машинке при 90 градусах). Также каждый вечер обрабатывайте обувь 1%-м хлоргексидином.'
  },
  {
    title: 'Мне нужно брать на прием чистую обувь? Та, в которой я приду, контактировала с грибком.',
    body : 'Нет, можете не брать с собой чистую обувь. У нас есть аппарат для дезинфекции обуви. Возьмите с собой только чистые носочки.'
  },
  {
    title: 'У вас можно провести лечение грибка на руках <span class="city-in-dynamic paragraph-text"></span>?',
    body : 'Да, процедура для грибка на руках такая же, как и для грибка стоп. Приходите на консультацию и специалист-подолог расскажет вам о процессе лечения.'
  },
  {
    title: 'Если член моей семьи заразился грибком, стоит и мне идти на прием к подологу? Пока я не чувствую симптомы',
    body : 'От члена семьи действительно можно «подхватить» грибок. Если у вас есть возможность и желание, приходите на консультацию к подологу. Он вовремя предупредит у вас наличие грибка и оценит общее состояние стопы и ногтей.'
  }
], true, 1)
