section.section.circles-bg.position-relative
  img(src="assets/img/common/circles-with-hr.png").circles.bg-circles
  .container.d-flex.flex-column.align-items-center
    h3.section-title-services.text-center.dark-blue Причини виникнення грибкових уражень
    .wrapper.d-flex.justify-content-center.mb-3.mt-3
      .dash
    .col-12.col-xl-6.col-md-9
      p.paragraph-text.text-dark-1.text-center.w-200 На грибок страждає така велика частина населення, тому що він дуже легко передається і поширюється. Отримати грибкове захворювання можна в будь-якому місці, де ви знімаєте взуття, а також де є так звані «мокрі зони». Тому важливо розуміти, в яких ситуаціях можна заробити собі грибкову інфекцію і як від неї захиститися для запобігання зараження.
