section.section-services.container-fluid
  .row.section-bg-dark.section-services-treatment-row-padding.pb-3.dark-section-circles-bg.pb-md-5
    .container
      .row.mb-3.mb-sm-5
        .col.text-px-desktop
          h3.section-title-services.text-color-light.mb-4.text-center Як зрозуміти, що у вас грибкове захворювання
          p.paragraph-text.text-center.pt-2.mb-3.w-200 У природі існує близько 1500 видів грибка. Приблизно 600 із них можуть уражати людину. Симптоми кожного виду чимось відрізняються. Іноді вони яскраво виражені, а іноді приховані. У будь-якому випадку ви відчуєте, що щось не так. Як тільки ви помітили щось нетипове, вже можна записатися на консультацію до спеціаліста-подолога.
          p.paragraph-text.text-center.font-weight-bold.mb-0.mb-lg-3 Якщо ж ви виявили у себе один із цих симптомів, прийом краще не відкладати:
      .row.pt-0.pt-sm-2
        .col-xl-6.pr-4
          ul.list-blue-bullets.paragraph-text
            li.mb-3.w-200 уражене місце свербить або пече;
            li.mb-3.w-200 шкіра починає відшаровуватися, червоніти, лущитися;
            li.mb-3.w-200 нігті змінюють свою форму і структуру: стоншуються або навпаки товщають, розшаровуються;
            li.w-200 на п'ятах утворюються тріщини, які в деяких випадках є симптомом грибка, а не сухої шкіри;
        .col-xl-6
          ul.list-blue-bullets.paragraph-text
            li.mb-3.w-200 нігті змінюють колір на коричневий, жовтий, зелений, білий або чорний;
            li.mb-3.w-200 з'являється неприємний запах від місця, ураженого грибком;
            li.mb-3.w-200 навколо нігтя починається запалення;
            li.mb-3.w-200 у складках між пальцями утворюються тріщини;
            li.w-200 на більш запущених стадіях грибкові зони можуть боліти та заважати під час ходи.
