section.section-services
  .container.circles-bg
    .row
      .col.d-flex.flex-column.align-items-center
        h3.section-title-services.mb-4.text-dark-1.text-center Що робити, якщо у вас грибкове захворювання
        .services-treatment-divider.mb-4
        p.paragraph-text.w-200.text-dark-1.text-center.mb-4.mb-md-5.custom-px На жаль, навіть із відчутними симптомами грибка до спеціалістів-подологів доходить тільки 50% пацієнтів. Друга половина намагається вилікувати грибок нігтів і шкіри своїми силами. Це не завжди закінчується успіхом. У більшості випадків навіть призводить до погіршення стану або повернення хвороби. Тому дотримуйтесь цих правил, якщо підозрюєте у себе грибок.
        .row.mb-md-5
          .col-12.col-xl-4.pt-5.pl-5.col-circle-bg
            p.paragraph-text.w-200.text-dark-1.font-weight-bold.mb-4 Не намагатися вилікувати грибок самостійно
            p.paragraph-text.w-200.text-dark-1 Як ви вже дізналися вище, самолікування не завжди закінчується одужанням. Це легко пояснити. Без спеціального лабораторного аналізу неможливо визначити, який саме вид грибка ви маєте і в якому він стані. Також важливу роль відіграє подальший догляд за стопою, взуттям, одягом і гігієною. Такі рекомендації теж дає фахівець-подолог, який йде від загального вигляду грибка і стану пацієнта.
          .col-12.col-xl-4.pt-5.pl-5.col-circle-bg
            p.paragraph-text.w-200.text-dark-1.font-weight-bold.mb-4 Дотримуватися правил особистої гігієни
            p.paragraph-text.w-200.text-dark-1 При грибку важливо користуватися чистими рушниками, носити чисті шкарпетки або колготки, а також дезінфікувати взуття. Коли у людини з'являється грибок, у зону ризику автоматично потрапляють усі члени родини, які з ним живуть. Тому всі засоби гігієни ніг повинні бути тільки вашими. Детальні інструкції по догляду та гігієні ви отримаєте вже на прийомі подолога в нашому центрі.
          .col-12.col-xl-4.pt-5.pl-5.col-circle-bg
            p.paragraph-text.w-200.text-dark-1.font-weight-bold.mb-4 Підготуватися до візиту до спеціаліста-подолога
            p.paragraph-text.w-200.text-dark-1 На прийомі перед подологом стоїть першочергове завдання — визначити вид грибка. Для цього він візьме маленький зразок ураженої нігтьової пластинки або шкіри для того, щоб відправити у лабораторію на аналіз. Тому за 2 тижні до прийому не можна обробляти шкіру стоп і нігті нічим, крім звичайної води і мила. Більш детальну інформацію про те, як підготуватися до прийому при грибку, ви прочитаєте нижче.
        .row
          p.section-title-services.mt-4.mt-xl-5 Видалення грибку нігтів <span class="city-in-dynamic"></span> — ціни
        .row.custom-padding-treatment.pt-3.pt-md-5.mb-5
          .col-12.col-md-6.px-4
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Консультація
              p.paragraph-text.w-200.text-dark-1 На консультації спеціаліст-подолог проводить огляд пацієнта і збирає всю необхідну інформацію для призначення подальшого лікування. Також він бере з ураженої грибком зони аналіз і відправляє в лабораторію. Це перший етап, після якого можна призначити ефективне рішення і визначити тривалість лікування.
            .paragraph-container
              h4.paragraph-title Обробка оніхогрифоза із нанесенням антимікотика
              p.paragraph-text.w-200.text-dark-1 Спеціаліст зачищає область нігтя із оніхогріфозом (нетиповим потовщенням нігтя) і обробляє антимікотиками — спеціальними дерматологічними засобами від грибків. Спеціаліст підбирає певний антимікотик у кожному конкретному випадку.
          .col-12.col-md-6.px-4
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Обробка грибкових уражень шкіри стоп
              p.paragraph-text.w-200.text-dark-1 Спеціаліст працює із зоною ураження грибком за допомогою апаратної техніки, космецевтичних протигрибкових засобів і стерильних інструментів.
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Обробка оніхомікоза. Лікування грибка нігтів ціна
              p.paragraph-text.w-200.text-dark-1 Спеціаліст працює із зоною ураження за допомогою апаратної техніки, космецевтичних протигрибкових засобів і стерильних інструментів.
            .paragraph-container
              h4.paragraph-title.mb-3 Обробка грибкових уражень або оніхогрифоза нігтів (додаткова послуга)
        .container-fluid.d-flex.flex-column.align-items-center
          .row.prices-container.custom-padding-treatment.mb-4

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Первинна консультація подолога
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 150 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 хв

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Консультація Дерматолога
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 250 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 25 хв

            .row.px-4.container-fluid
                .col-12.col-md-8.p-0.pr-5
                    p.treatment-service-name.mb-1 Обробка грибкових уражень  (стопа)
                .col-4.col-md-2.p-0
                    p.treatment-price.text-right 450 грн
                .col-4.col-md-2.p-0
                    p.treatment-duration.text-right 1 година

            .row.px-4.container-fluid
                .col-12.col-md-8.p-0.pr-5
                    p.treatment-service-name.mb-1 Обробка грибкових уражень (нігті) (дод послуга) оніхогрифоз
                .col-4.col-md-2.p-0
                    p.treatment-price.text-right 150 грн
                .col-4.col-md-2.p-0
                    p.treatment-duration.text-right 1 година

            .row.px-4.container-fluid
                .col-12.col-md-8.p-0.pr-5
                    p.treatment-service-name.mb-1 Аналізи (мікроскопічний, мікробіологічний, посів на чутливість до антибіотиків)
                .col-4.col-md-2.p-0
                    p.treatment-price.text-right 1000 грн
                .col-4.col-md-2.p-0
                    p.treatment-duration.text-right 30 хв

            .row.px-4.container-fluid
                .col-12.col-md-8.p-0.pr-5
                    p.treatment-service-name.mb-1 Обробка грибкових уражень стоп
                .col-4.col-md-2.p-0
                    p.treatment-price.text-right 450 грн
                .col-4.col-md-2.p-0
                    p.treatment-duration.text-right 30 хв

            .row.px-4.container-fluid
                .col-12.col-md-8.p-0.pr-5
                    p.treatment-service-name.mb-1 Обробка оніхомікозу та оніхогрифозу (за 1 одд)
                .col-4.col-md-2.p-0
                    p.treatment-price.text-right 150 грн
                .col-4.col-md-2.p-0
                    p.treatment-duration.text-right 30 хв
            .row.px-4.container-fluid
                .col-12.col-md-8.p-0.pr-5
                    p.treatment-service-name.mb-1 Обробка  оніхомикозів
                .col-4.col-md-2.p-0
                    p.treatment-price.text-right 450 грн
                .col-4.col-md-2.p-0
                    p.treatment-duration.text-right 1 година
            .row.px-4.container-fluid
                .col-12.col-md-8.p-0.pr-5
                    p.treatment-service-name.mb-1 Обробка оніхогрифоза із  антимікотиком
                .col-4.col-md-2.p-0
                    p.treatment-price.text-right 450 грн
                .col-4.col-md-2.p-0
                    p.treatment-duration.text-right 1 година
          .services-btn-container
            +btnPen('записатись')(data-toggle='modal', data-target='#callbackModal')
