section.section-services.laboratory-section-bg.py-0
  .container
    .row.py-80.py-55-mobile
      .col.pt-4.d-flex.flex-column.align-items-center
        h3.section-title-services.mb-4.text-dark-1.text-center.text-uppercase(style="font-size: 14px;") Що нам дають результати лабораторії
        p.paragraph-text.text-dark-1.text-center.mb-4.mb-md-5.custom-px-2 Дані лабораторії дають вашому лікуючому подологу відповіді на <br><strong>3 головних питання:</strong>
        .d-flex.justify-content-center.mb-4.flex-column.flex-md-row
          .col-xl-4.col-circle-bg-2.width-180.mr-lg-4.py-4
            p.paragraph-text.text-dark-1.text-center <b>Чи є у вас</b> грибок або шкідливі бактерії?
          .col-xl-4.col-circle-bg-2.width-180.mr-lg-4.py-4
            p.paragraph-text.text-dark-1.text-center <b>Що це</b> за грибок або бактерія?
          .col-xl-4.col-circle-bg-2.width-180.mr-lg-4.py-4
            p.paragraph-text.text-dark-1.text-center До яких <b>препаратів</b> чутливий цей грибок або бактерія?

        p.paragraph-text.text-dark-1.text-center.mb-0.custom-px-2.font-weight-bold.mb-4 Все це допомагає нам правильно призначити лікування, яке вже з першої процедури почне діяти на уражену грибком зону стопи.
