section.section-services.container-fluid
  .row.section-bg-dark.section-services-treatment-row-padding.pb-3
    .container
      .row
        .col.text-px-desktop.position-relative
          h3.section-title-services.text-color-light.mb-4.text-center Як підготуватися до прийому при грибкових захворюваннях
          p.paragraph-text.text-center.mb-3.z-0.w-200 Щоб лабораторні дослідження дали точний результат, вам потрібно дотримуватися деяких правил перед здачею аналізів
          p.paragraph-text.text-center.mb-3.z-0.w-200 Для аналізу спеціаліст-подолог нашого центру бере маленький фрагмент ураженого нігтя або шкіри, а також субстанцію під проблемним нігтем. Потім він передає цей матеріал у київську лабораторію. Через кілька діб лабораторія надсилає вашому лікуючому спеціалісту-подологу перші проміжні результати мікробіологічного дослідження. Повний аналіз займає 30 календарних днів.
          p.paragraph-text.text-center.mb-3.font-weight-bold.z-0 Щоб отримати максимально точні дані, вам необхідно підготуватися до взяття аналізу
    .container
      .row.treatment-line.pt-5
        .col-12.col-md-6.col-xl-3.d-flex.flex-column.align-items-center.px-4.mb-5.position-relative
          span.step-num Крок 1
          .dotted-bg.first
          p.paragraph-text.text-center.z-0.w-200 Почекати мінімум 3 тижні після останнього педикюру.
        .col-12.col-md-6.col-xl-3.d-flex.flex-column.align-items-center.px-4.mb-5.position-relative
          span.step-num Крок 2
          .dotted-bg.second
          p.paragraph-text.text-center.z-0.w-200 Протягом 2-х тижнів перед здачею аналізу нічим не обробляти стопу: кремами, мазями, розчинамеще 3и та будь-якими іншими косметичними або медикаментозними засобами.
        .col-12.col-md-6.col-xl-3.d-flex.flex-column.align-items-center.px-4.mb-5.position-relative
          span.step-num Крок 3
          .dotted-bg.third
          p.paragraph-text.text-center.z-0.w-200 За 2 дні до здачі аналізу мити ноги тільки звичайною водою без мила або гелю для душу.
        .col-12.col-md-6.col-xl-3.d-flex.flex-column.align-items-center.px-4.mb-5.position-relative
          span.step-num Крок 4
          .dotted-bg.fourth
          p.paragraph-text.text-center.z-0.w-200 Якщо ви йдете на чистку грибкових уражень, візьміть із собою чисті шкарпетки.
  .row.symptoms-message-line.py-5
    .container
      p.paragraph-text.text-center.font-weight-bold.mb-2.line-height-100 Якщо не дотримуватися цих рекомендацій, дані дослідження будуть помилковими, а ви даремно витратите гроші.
      p.paragraph-text.text-center.font-weight-bold.mb-0.line-height-100 Лабораторії завадять сліди засобів на проблемних зонах, тому що вони замаскують реальну картину.

