.info-block-grid.grid-bg-1.doubleGrid.fourGrid
  .container.p-0
    .row.no-gutters.mb-5
      h2.section-title.text-center.mb-0 Цены на услуги по коррекции и покраске бровей <span class='city-in-dynamic'></span>
    .row.no-gutters.four-grid-container.w-100.mx-auto
      .row.no-gutters
        .col-12.no-gutters.col-lg-6.d-flex.offset-lg-3.flex-wrap.order-1.order-lg-1.grid-block
          .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
            .grid-titles.order-1
              .grid-title
                | Моделирование <br/>
                | бровей
              p.thin-text.pb-5.pb-md-0.text-grid Мастер выполняет подбор формы, идеальной для вашего лица, с помощью простерилизованного пинцета и дополнительных средств
            .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
              span.mr-3 35 минут
              | 100 грн
            a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Моделирование бровей')
              span.d-flex.align-items-center.justify-content-between
                span записаться
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
                style(type='text/css').
                  .st0{fill:#D11111;}
                path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
          .col-12.col-md-6.grid-img.grid-img-hover
            img.w-100(src="assets/img/infoblock/grid-item-14.jpg", alt="grid-item")
        .col-12.no-gutters.col-lg-6.d-flex.offset-lg-3.flex-wrap.order-2.order-lg-1.grid-block
          .col-12.col-md-6.grid-img.grid-img-hover
            img.w-100(src="assets/img/infoblock/grid-item-16.jpg", alt="grid-item")
          .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
            .grid-titles.order-1
              .grid-title
                | Ламинирование <br/> бровей
              p.thin-text.pb-5.pb-md-0.text-grid Мастер в несколько этапов наносит на вашу кожу специальный состав, который создает эффект более утолщенных, блестящих и ухоженных бровей.
            .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
              span.mr-3 35 минут
              | 400 грн
            a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Ламинирование бровей')
              span.d-flex.align-items-center.justify-content-between
                span записаться
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
                style(type='text/css').
                  .st0 {
                    fill: #D11111;
                  }
                path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.no-gutters.col-lg-6.d-flex.offset-lg-3.flex-wrap.order-3.order-lg-1.grid-block
          .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
            .grid-titles.order-1
              .grid-title
                | Коррекция формы <br/> бровей
              p.thin-text.pb-5.pb-md-0.text-grid Мастер убирает отросшие волоски с помощью простерилизованного пинцета, чтобы вернуть бровям изначальную форму
            .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
              span.mr-3 35 минут
              | 75-85 грн
            a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Коррекция формы бровей')
              span.d-flex.align-items-center.justify-content-between
                span записаться
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
                style(type='text/css').
                  .st0{fill:#D11111;}
                path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
          .col-12.col-md-6.grid-img.grid-img-hover
            img.w-100(src="assets/img/infoblock/grid-item-15.jpg", alt="grid-item")
        .col-12.no-gutters.col-lg-6.d-flex.offset-lg-3.flex-wrap.order-4.order-lg-1.grid-block
          .col-12.col-md-6.grid-img.grid-img-hover
            img.w-100(src="assets/img/infoblock/grid-item-17.jpg", alt="grid-item")
          .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
            .grid-titles.order-1
              .grid-title
                | Окрашивание <br/> бровей краской
              p.thin-text.pb-5.pb-md-0.text-grid Мастер красит ваши брови профессиональной краской Elan или RefectoCil , делая натуральный переход с помощью двух оттенков
            .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
              span.mr-3 35 минут
              | 75-85 грн
            a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Окрашивание бровей краской')
              span.d-flex.align-items-center.justify-content-between
                span записаться
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
                style(type='text/css').
                  .st0{fill:#D11111;}
                path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.no-gutters.col-lg-6.d-flex.offset-lg-3.flex-wrap.order-5.order-lg-1.grid-block
          .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
            .grid-titles.order-1
              .grid-title
                | Окрашивание <br/> бровей хной
              p.thin-text.pb-5.pb-md-0.text-grid Мастер окрашивает ваши брови профессиональной хной Brow Henna
            .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
              span.mr-3 35 минут
              | 85-130 грн
            a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Окрашивание бровей хной')
              span.d-flex.align-items-center.justify-content-between
                span записаться
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
                style(type='text/css').
                  .st0{fill:#D11111;}
                path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
          .col-12.col-md-6.grid-img.grid-img-hover
            img.w-100(src="assets/img/infoblock/grid-item-18.jpg", alt="grid-item")
        .col-12.no-gutters.col-lg-6.d-flex.offset-lg-3.flex-wrap.order-6.order-lg-1.grid-block
          .col-12.col-md-6.grid-img.grid-img-hover
            img.w-100(src="assets/img/infoblock/grid-item-20.jpg", alt="grid-item")
          .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
            .grid-titles.order-1
              .grid-title
                | Художественное  <br/> оформление бровей
              p.thin-text.pb-5.pb-md-0.text-grid Мастер делает вам своеобразный «макияж для бровей» — причесывает, прокрашивает и подчеркивает консилером, чтобы выделить брови на лице
            .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
              span.mr-3 35 минут
              | 25 грн
            a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Художественное оформление бровей')
              span.d-flex.align-items-center.justify-content-between
                span записаться
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
                style(type='text/css').
                  .st0 {
                    fill: #D11111;
                  }
                path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.no-gutters.col-lg-6.d-flex.offset-lg-3.flex-wrap.order-7.order-lg-1.grid-block
          .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
            .grid-titles.order-1
              .grid-title
                | Окрашивание <br/> ресниц
              p.thin-text.pb-5.pb-md-0.text-grid Мастер окрашивает ваши ресницы в желаемый оттенок с помощью профессиональной краски Elan или RefectoCil
            .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
              span.mr-3 35 минут
              | 75-85 грн
            a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Окрашивание ресниц')
              span.d-flex.align-items-center.justify-content-between
                span записаться
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
                style(type='text/css').
                  .st0{fill:#D11111;}
                path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
          .col-12.col-md-6.grid-img.grid-img-hover
            img.w-100(src="assets/img/infoblock/grid-item-19.jpg", alt="grid-item")

      .row.justify-content-center.w-100.mt-4
        a.btn-callback.d-flex.align-items-center.justify-content-between(href="#",  data-toggle='modal', data-target='#appointmentModal')
          span.d-flex.align-items-center.justify-content-between
            span записаться
          svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
            style(type='text/css').
              .st0 {
                fill: #D11111;
              }
            path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                      C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
