.benefits.serviceBenefits.doubleBnf.doubleBnfDark.three-benefits.white-bg.triple-bnfs
  .container.mx-auto
    .row.no-gutters
      .section-title.text-color-dark.text-center Идеальные брови лучше делать в салоне, а не дома
    .row.no-gutters
      .section-subtitle.text-color-dark.text-center И на это несколько причин
    .row.no-gutters.bnf-items.flex-column.flex-xl-row
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-5.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-20.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-color-dark 01
          .bnf-title.text-color-dark Профессиональные материалы
          p.paragraph-text-dark.text-color-dark.mb-2
            span Краска, кисти, дополнительные жидкие средства — все это должно быть качественным, если вы хотите идеальные брови. Поэтому мы закупаем для ваших бровей и ресниц профессиональную хну и краску. Бренд хны — Brow Henna, а краски — Elan и RefectoCil. Для прорисовки бровей мы используем кисти разной толщины, чтобы сделать линии ровными.
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-6.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-color-dark 02
          .bnf-title.text-color-dark Взгляд со стороны
          p.paragraph-text-dark.text-color-dark.mb-2
            span С первого раза нарисовать себе идеальную форму бровей — это что-то из раздела фантастики. Нужно оценить форму своего лица, расположение глаз, возможную асимметрию и другие нюансы. Поэтому лучше приходите к нам. Мастер объяснит вам, на что обращать внимание в прорисовке бровей, а потом подберет лучшую форму бровей для вашего лица.
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-7.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-color-dark 03
          .bnf-title.text-color-dark Естественный результат
          p.paragraph-text-dark.text-color-dark.mb-2
            span Чтобы добиться естественного вида бровей, наши мастера красят их несколькими оттенками. Они красят начало брови более светлым оттенком, а затем делают плавный переход к темному цвету. Также мастера подбирают краску наиболее натурального оттенка, который подойдет к вашему цветотипу. Чтобы добиться такого же эффекта дома, нужно основать свой мини-салон.
