extends layout/main

block content
<<<<<<< HEAD
  include sections/main-laser-service
  include sections/laser-description
  include sections/advantages
  include sections/almalaser-extralarge-text
  include sections/choose-service
  include sections/consultation
  include sections/discount
  include sections/safety
  include sections/consultation-form




  include modules/accordion-answer

//- block content 
//-   h3 podology home page
//-   a(href='/') link to homepage
=======
  include sections/introduce
  include sections/advantages
  include sections/activity
  include sections/pricing
  include sections/specific
  include sections/category
  include sections/aboutDoctors
  include sections/consultaion
>>>>>>> 6dc4d8ee50dbae10aad4027cbffdfb414716987c
