extends layout/main

block content
  include sections/introduce
  include sections/advantages
  include sections/activity
  include sections/pricing
  include sections/specific
  include sections/category
  include sections/aboutDoctors
