extends layout/main

block content
  include sections/index/introduce
  include sections/index/advantages
  include sections/index/activity
  include sections/index/pricing
  include sections/index/specific
  include sections/index/category
  include sections/index/aboutDoctors
  include sections/index/consultaion
  include sections/index/client-feedback
  include sections/index/doctors
  include sections/index/salon
  include sections/index/faq
  include sections/index/callMe
