.info-block-grid.grid-bg-1.doubleGrid
  .container.p-0
    .row.no-gutters.mb-5
      h2.section-title.text-center.mb-0 Ціни на послуги манікюру <span class='city-in-dynamic'></span>
    .row.no-gutters.grid-shodow.double-grid-container.w-100.mx-auto
      .row.no-gutters.w-100.grid-block(data-anchor='man-classic')
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Манікюр класичний
            p.thin-text.pb-5.pb-md-0.text-grid Манікюр обрізний, який виконується стерилізованими інструментами
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 120 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "man-order-1", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Классический маникюр')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/nail/0.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/nail/1.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Манікюр апаратний
            p.thin-text.pb-5.pb-md-0.text-grid Манікюр, який виконується фрезерними насадками апарату
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 140 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "man-order-2", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Аппаратный маникюр')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Європейський манікюр
            p.thin-text.pb-5.pb-md-0.text-grid Необрізний манікюр, коли майстер очищає нігтьову пластину за допомогою спеціального засобу
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 90 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "man-order-3", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Европейский маникюр')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/nail/2.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/nail/3.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Комбінований манікюр
            p.thin-text.pb-5.pb-md-0.text-grid Манікюр, де поєднуються одразу два види технік — класична обрізні і апаратна
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 140-150 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "man-order-4", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Комбинированный маникюр')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Чоловічий манікюр
            p.thin-text.pb-5.pb-md-0.text-grid Класичний обрізний манікюр із наданням форми нігтям і поліруванням нігтів
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 140 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "man-order-5", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Мужской маникюр')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/nail/4.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/nail/5.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Дитячий манікюр
            p.thin-text.pb-5.pb-md-0.text-grid Майстер манікюру надає форму дитячим нігтиками і за бажанням батьків фарбує звичайним лаком
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 50 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "man-order-6", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Детский маникюр')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Надання форми нігтів
            p.thin-text.pb-5.pb-md-0.text-grid Просто обрізання нігтів і надання їм форми
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 50-60 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "man-order-7", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Придание формы ногтей')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/nail/6.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/nail/7.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Покриття нігтів гель-лаком Reforma
            p.thin-text.pb-5.pb-md-0.text-grid Професійне стійке покриття гель-лаком англійського бренду Reforma
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 200 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "man-order-8", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Покрытие ногтей гель-лаком Reforma')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Покриття нігтів гель-лаком Lemme
            p.thin-text.pb-5.pb-md-0.text-grid Професійне стійке покриття гель-лаком польського бренду Lemme
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 200 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "man-order-9", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Покрытие ногтей гель-лаком Lemme')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/nail/8.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/nail/9.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Покриття нігтів гель-лаком Luxio
            p.thin-text.pb-5.pb-md-0.text-grid Професійне стійке покриття гель-лаком канадського бренду Luxio
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 220 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "man-order-10", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Покрытие ногтей гель-лаком Luxio')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title.line-height-30
              | Комбіноване покриття нігтів гель-лаком
            p.thin-text.pb-5.pb-md-0.text-grid.phone-size-13 При покритті поєднуються засоби одразу декількох брендів замість одного, щоб досягти бажаного ефекту
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 200 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "man-order-11", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Комбинированное покрытие ногтей гель-лаком')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/nail/10.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/nail/11.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles.order-1
            .grid-title
              | Покриття нігтів звичайним лаком CND Vinilux
            p.thin-text.pb-5.pb-md-0.text-grid Професійне покриття лаком американського бренду CND Vinilux
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 80 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "man-order-12", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Покрытие ногтей обычным лаком CND Vinilux')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
