.benefits.serviceBenefits.doubleBnf.doubleBnfDark.three-benefits.dark-words
  .container.mx-auto
    .row.no-gutters
      .section-title.white-text.text-center
        span.city
        | Манікюр <span class='city-in-dynamic'></span> від Steffany безпечний для здоров'я
      .section-subtitle.white-text.text-center Ми дотримуємося усіх правил стерилізації та очищення під час роботи з вашими руками
    .row.no-gutters.bnf-items.flex-column.flex-xl-row
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-5.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-20.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 01
          .bnf-title.white-text Своя лабораторія стерилізації
          p.paragraph-text-dark.white-text.mb-2
            span У нашому салоні обладнана окрема лабораторія стерилізації, де інструменти для манікюру проходять усі етапи очищення. Ми замочуємо в дезинфікуючому розчині усі ріжучі інструменти для класичного манікюру і все насадки для апаратного манікюру. Потім ми чистимо їх щіткою під проточною водою і ополіскуємо дистильованою
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-6.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 02
          .bnf-title.white-text Індивідуальний набір інструментів
          p.paragraph-text-dark.white-text.mb-2
            span Після етапу дезінфекції ми розкладаємо кожен набір інструментів по окремих крафт-пакетах. У них інструменти стерилізуються у сухожаровій шафі протягом 1 години при температурі 180 градусів. У кожен крафт-пакет вбудований індикатор у вигляді кружечка. Коли інструменти всередині проходять весь цикл стерилізації, кружечок змінює свій колір. Зверніть на це увагу
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-7.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 03
          .bnf-title.white-text Пакет одноразових матеріалів
          p.paragraph-text-dark.white-text.mb-2
            span Під час вашої процедури майстер манікюру відкриває ваш індивідуальний пакет, де знаходяться змінні абразиви, апельсинова паличка, а також рукавички і маска для майстра. Майстер манікюру бере металеву простерилізовану основу, надягає на неї змінні файли з абразивами і обробляє ними ваші нігті. Після вашого сеансу всі ці матеріали утилізуються
