.info-block.info-block-3-2.overflow-hidden
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters.border-block-item2
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-64.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title Манікюр
            span.city-in-dynamic
              |
          p.under-border Манікюр став новим обов'язком усіх жінок. Щоб зробити манікюр, щомісяця вони змушені йти до салону і віддавати 2-3 години свого життя мовчазному нічогонеробленню. Тільки от хто сказав, що манікюр повинен бути нудним? У Steffany звичайний манікюр — це свято. Із шампанським, емоціями і яскравими фарбами. Тому обирайте відповідний вам вид манікюру і записуйтеся на процедуру. Ми вже чекаємо на вас!
      span.big-text.d-none.d-xl-block manicure
