.info-block.info-block-5.info-block-5-1.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-start.justify-content-center.justify-content-xl-end.no-gutters.border-block-item3
        .col.col-img.d-none.d-xl-block.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-65.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title Класичний манікюр <span class='city-in-dynamic'></span>
          p Манікюр класичний називається так не дарма. Він підходить для будь-якого типу шкіри і ідеально видаляє кутикулу за допомогою ріжучих стерильних інструментів.
          p.p-bold.under-border Кому підійде манікюр класичний
          p Класичний манікюр — ідеальний для людей, у яких нігтьове ложе досить швидко заростає кутикулою. Обрізна техніка дозволяє привести нігті в порядок і зробити їх акуратними.
          a.btn-simple.br-100.d-flex.align-items-center.justify-content-center.white-text Ціна
      span.big-text.d-none.d-xl-block Colo
