.benefits.serviceBenefits.serviceBenefits2
  .container
    .row.no-gutters.mb-4
      h2.section-title.h-center Манікюр у Steffany — завжди вірне рішення
    .row.no-gutters
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.bnf-number-one.d-flex.align-items-center.justigy-content-center.text-center.white-text 01
          .bnf-title.bnf-title-smaller.text-center.text-color-dark 7-денна гарантія на покриття
          p.thin-text.text-center.text-color-dark Усі наші гель-лаки від професійних брендів і ми впевнені у їхній якості. Та все ж якщо лак погано поведе себе на ваших нігтях, ми обов'язково виправимо це безкоштовно
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.bnf-number-two.d-flex.align-items-center.justigy-content-center.text-center.white-text 02
          .bnf-title.bnf-title-smaller.text-center.text-color-dark Манікюр та педикюр в 4 руки
          p.thin-text.text-center.text-color-dark Економте свій час — приходьте на послугу паралельного манікюру і педикюру. Два майстри одночасно зроблять вам дві процедури усього за 2 години
      .bnf.bnf-three.col-lg-4.col-12.mb-3.mx-auto.mx-lg-0
        .bnf-cnt.d-flex.align-items-center.justigy-content-start.flex-column
          .bnf-number.bnf-number-three.d-flex.align-items-center.justigy-content-center.text-center.white-text 03
          .bnf-title.bnf-title-smaller.text-center.text-color-dark Будь-які відтінки і дизайн
          p.thin-text.text-center.text-color-dark У нашому салоні на вас вже чекають більше 200 відтінків гель-лаку і близько 40 кольорів звичайного лаку. Також наші майстри можуть зробити будь-який вид дизайну. Вибір за вами!
