.info-block.info-block-6.info-block-6-1.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.mob-hidden-item
          img.w-100(src="./assets/img/infoblock/item-67.jpg",  alt="item")
        .col.col-info.order-1.no-bg-blk
          h2.section-title.border-el Апаратний манікюр <span class='city-in-dynamic'></span>
          p.pb-15 Для цього виду манікюру не потрібна вода, ножиці і додаткові засоби. Процедура виконується виключно фрезерними насадками апарату. Ми використовуємо у нашому салоні професійний апарат корейського бренду Marathon.
          p.pb-3.p-bold Кому підійде апаратний манікюр
          p.pb-15.thin-text Цей вид обробки нігтів і нігтьового ложа не такий глибокий, як класичний. Тому він підійде всім, у кого суха шкіра. Він підійде клієнтам, у яких не особливо активно зростає кутикула. Апаратний манікюр поверхнево прибирає усі ороговілі сухі частинки кутикули.
          p.pb-3.p-bold Скільки триває апаратний манікюр
          p.thin-text Процедура триває 30-45 хвилин в залежності від стану кутикули і сухості шкіри
      span.big-text.mob-hidden-item nails
