section.section.podology-faq
  +accordeon('Поширені запитання', '',
    [
      {
        title: 'Ви лікуєте врослий ніготь?',
        body : 'Так, звичайно! Лікуванням, корекцією і видаленням врослого нігтя займається розділ «Ортоніксія». Переходьте на сторінку цих послуг, щоб подивитися детальну інформацію та записатися на консультацію.'
      },
      {
        title: 'Ви робите медичний педикюр?',
        body : 'Звичайно. Всі деталі про послугу медичного педикюру ви знайдете на сторінці «Профілактичні послуги».'
      },
      {
        title: 'Ви працюєте із діабетичною стопою?',
        body : "Обовязково! Інформація про обробку діабетичної стопи теж знаходиться на сторінці «Профілактичні послуги». Перед процедурою ми вимірюємо ваш цукор в крові за допомогою глюкометра, а також проводимо 4 тесту на чутливість. Тому ви можете не переживати з приводу безпеки процесу."
      },
      {
        title: 'Ви лікуєте грибок нігтів і шкіри?',
        body : 'Так, звичайно. Спочатку ми беремо у вас аналізи з ураженої грибком ділянки і здаємо його в лабораторію. Завдяки цьому ми ставимо точний діагноз і призначаємо якісне лікування. Більш детальна інформація чекає вас на сторінці «Грибок і оніхомікоз».'
      },
      {
        title: 'Ви прибираєте тріщини на п\'ятах?',
        body : 'Так, ми працюємо із тріщинами і прибираємо їх. Дивіться всі необхідні дані про цю процедуру на сторінці «Обробка тріщин».'
      },
      {
        title: 'Ви робите устілки?',
        body : 'Ми виготовляємо устілки та інші ортопедичні вироби після комп\'ютерної діагностики стоп. За її результатами проектуємо устілку спеціально під ваші анатомічні особливості.'
      }
    ], true, 0)
