extends layout/main

block content
  .desktop
    .baba-1
      .default
        .wrapper
          h2 Центры здоровья ног
        .content
          img(src="assets/img/legs.png" alt="Legs").legs
      .hovered
        img(src="assets/img/legs.png" alt="Legs").legs
        .bio
          img(src="assets/icon/podology.svg" alt="Podology")
          p мы позаботимся о здоровье ваших стоп и всего опорно-двигательного аппарата
    .baba-2
      .default
        .wrapper
          h2 Центры лазерной эпиляции и косметологии
      .hovered
        .bio
          img(src="assets/icon/laser.svg" alt="Laser")
          p вы можете удалить волосы лазером, щелочным пилингом, воском или сахаром, поухаживать за кожей лица и тела, а также сделать перманентный макияж
    .baba-3
      .default
        .wrapper
          h2 Салоны красоты и ногтевого сервиса
      .hovered
        .bio
          img(src="assets/icon/beauty.svg" alt="Beauty")
          p вы можете сделать маникюр, педикюр, стрижку, прическу, окрашивание, моделирование, окрашивание или ламинирование бровей и многое другое
