section.section.discount-page
  .container
    h2.h2-title.text-color-dark.mb-5.mb-md-3.mb-xl-0 Оплатите 3 сеанса и получите 4-й в подарок
    .row
      .col-12.col-lg-9
        .c-content.mb-4
          +btnCallback('записаться')
        .c-desc
          p.paragraph-text.text-color-dark.text-w-bold.mb-4 Действует постоянно
          p.paragraph-text.text-color-dark.text-w-light Хотите сделать лазерную эпиляцию определенной зоны? Оплатите три процедуры наперед и четвертую сделайте бесплатно! Акция действует для каждой четвертой процедуры при условии, если перед ней вы сразу оплатите три сеанса лазерной эпиляции для одной зоны наперед.
          +btnSimple('подробнее')(class='ml-auto')




      .col-12.col-lg-3.d-none.d-lg-block.side-bar
        h1.h1-main-title.text-w-bold.text-color-lightgray Комплексные зоны <br> для эпиляции
          p.subtitle.mb-4 Maximum
          .position-block
            .row
              .col-6
                ul.info-list
                  li.list-item.text-color-lightgray.mb-2 Руки
                  li.list-item.text-color-lightgray.mb-2 Голени
                  li.list-item.text-color-lightgray.mb-2 Подмышки
                  li.list-item.text-color-lightgray.mb-5 Бикини глубокое
              .col-6
                p.custopm-text.custopm-text__small <b>15</b> минут
                .c-span
                  span.custopm-text.custopm-text__through.mr-2 2 000 грн
                  span.custopm-text.custopm-text__bold 1 730 грн
          //+btnSimple('подробнее')
