section.section.discount-page
  .container
    h2.h2-title.text-color-dark Оплатите 3 сеанса и получите 4-й в подарок
    .row.wrapper
      .col-12.col-xl-9
        .c-content.mb-4
          +btnCallback('записаться')(class='d-none d-md-flex')
        +btnCallback('записаться')(class='d-flex d-md-none mx-auto')
        .c-desc
          p.paragraph-text.text-color-dark.text-w-bold.mb-4 Действует постоянно
          p.paragraph-text.text-color-lightdark.text-w-light Хотите сделать лазерную эпиляцию определенной зоны? Оплатите три процедуры наперед и четвертую сделайте бесплатно! Акция действует для каждой четвертой процедуры при условии, если перед ней вы сразу оплатите три сеанса лазерной эпиляции для одной зоны наперед.
        +btnSimple('подробнее')(class='mx-auto mx-md-0 ml-md-auto btn-left')
      .col-12.col-xl-3.d-none.d-xl-block.side-bar
        h1.title.text-w-bold.text-color-light.text-center.mb-3 Комплексные зоны <br> для эпиляции
        p.subtitle.paragraph-text.text-w-bold.mb-3 Maximum
        .position-block
          .row
            .col-6
              ul.info-list
                li.list-item.text-color-lightgray.mb-1 Руки
                li.list-item.text-color-lightgray.mb-1 Голени
                li.list-item.text-color-lightgray.mb-1 Подмышки
                li.list-item.text-color-lightgray.mb-4 Бикини глубокое

            .col-6
              p.custopm-text.custopm-text__small.text-color-light.text-w-bold 15
                span.paragraph-text.text-color-light.ml-1 мин
              .c-span.ml-4
                p.custopm-text.custopm-text__through.ml-2.mb-0 2 000 грн
                p.custopm-text.custopm-text__bold.text-color-light 1 730 грн
          +btnSimple('подробнее')(class='mx-auto')
          //+btnSimple('подробнее')
