.benefits.benefits-section
  .container
    .row.no-gutters
      .bnf.bnf-item-2.col-lg-6.col-sm-12.d-flex.align-items-start.justify-content-start.justify-content-sm-end.flex-column.flex-sm-wrap
        .bnf-img.bnf-img-2
          img.bnf-img-item-1(src="./assets/img/bnf/item-22@2x.png" alt="bnf-item")
          img.bnf-img-item-2(src="./assets/img/bnf/item-13.png" alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text.text-center.text-sm-left 01
          .bnf-title.white-text.text-center.text-sm-left Заощаджуємо ваш час
          p.white-text.thin-text.text-center.text-sm-left  Звичайно, було б чудово цілодобово зависати в салоні. Але ми розуміємо вашу зайнятість і намагаємося економити ваш час. Тому у нас ви можете зробити манікюр і педикюр одночасно — в 4 руки. Також в центрі б'юті знаходиться багато майстрів різних напрямків, вони працюють поруч. Ви можете записатися заздалегідь одразу на кілька процедур, наприклад, на нігті і волосся. Щоб вирішити всі справи за один візит.
      .bnf.bnf-item-1.col-lg-6.col-sm-12.d-flex.align-items-start.justify-content-start.justify-content-sm-end.flex-column.flex-sm-wrap
        .bnf-img.bnf-img-1
          img.bnf-img-item-1(src="./assets/img/bnf/item-211@2x.png" alt="bnf-item")
          img.bnf-img-item-2(src="./assets/img/bnf/item-12.png" alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text.text-center.text-sm-left 02
          .bnf-title.white-text.text-center.text-sm-left Піклуємося про ваше здоров'я
          p.white-text.thin-text.text-center.text-sm-left У нас в салоні є окрема лабораторія стерилізації. Вона обладнана спеціально для того, щоб утримувати в чистоті і стерильності інструменти для манікюру, педикюру, процедур для брів. Також наші майстри підлаштовуються під вас, якщо у вас є алергічні реакції на певні компоненти. Повідомте про свої побоювання майстру: він проведе тест будь-якого косметичного засобу на маленькій ділянці вашої шкіри або замінить його на інший.
      .bnf.bnf-item-4.col-lg-6.col-sm-12.d-flex.align-items-start.justify-content-start.justify-content-sm-end.flex-column.flex-sm-wrap
        .bnf-img.bnf-img-5
          img.bnf-img-item-1(src="./assets/img/bnf/item-25.png" alt="bnf-item")
          img.bnf-img-item-2(src="./assets/img/bnf/item-14.png" alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text.text-center.text-sm-left 03
          .bnf-title.white-text.text-center.text-sm-left Перевіряємо послуги на собі
          p.white-text.thin-text.text-center.text-sm-left Перед тим, як ввести нову процедуру і запропонувати її вам, ми перевіряємо її на собі. Добре, що у нас велика мережа. Одні майстри стають клієнтами інших майстрів і дивляться, як їм нові процедури догляду за волоссям, фарбування, догляду за бровами, спа для рук і ніг. Кожен майстер висловлює свою думку, повідомляє про результат. Якщо наша фокус-група схвалює нову послугу, ми додаємо її до постійного переліку і запрошуємо вас
      .bnf.bnf-item-4.col-lg-6.col-sm-12.d-flex.align-items-start.justify-content-start.justify-content-sm-end.flex-column.flex-sm-wrap
        .bnf-img.bnf-img-6
          img.bnf-img-item-1(src="./assets/img/bnf/item-26.png" alt="bnf-item")
          img.bnf-img-item-2(src="./assets/img/bnf/item-15.png" alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text.text-center.text-sm-left 04
          .bnf-title.white-text.text-center.text-sm-left Даємо вам розслабитися  <br/> і відпочити
          p.white-text.thin-text.text-center.text-sm-left «Краса вимагає жертв» — це не наша філософія. Нам важливо, щоб похід до салону став для вас справжньою подією. Тому ми робимо все, щоб ви розслабилися: пропонуємо напої (в тому числі шампанське!), вмикаємо музику і улюблені фільми. Кожен майстер намагається вловити ваш настрій, щоб розважити бесідою або навпаки помовчати і дати відпочити. Почувайтеся як вдома! Тільки без справ і обов'язків.
