section.section.diploma
  .container
    .diploma
      .container.slider-wrap
        .row.no-gutters
          .section-title.mb-5.mx-auto.text-center.white-text Дипломы и сертификаты
        .row.no-gutters
          .diploma-slider.owl-carousel.slider-block


