section.section.about-page-section-shugaring
  .container
    .row
      .col-12.col-xl-6
        .c-content
          h2.h2-title Шугарінг <span class="city-in-dynamic"></span>
          .d-line
          p.paragraph-text.text-w-light.mb-1 Шугарінг — це депіляція цукровою пастою. Після такої процедури шкіра залишається гладкою кілька тижнів. Такий спосіб позбутися небажаного волосся в рази комфортніше бритви чи епілятора. Після нього не потрібно страждати від подразнень або швидкої щетини. Головне для якісного результату — щоб майстер працював пастою у правильній техніці. У Steffany ви потрапите на епіляцію цукровою пастою якраз до таких майстрів. Тепер позбутись зайвого волосся просто!
      .col-12.col-xl-6
        .white-block-design
          img(src="assets/img/shugaring-page/about-page.jpg" alt="about-page" srcset="assets/img/shugaring-page/about-page@2x.jpg")
          p.extralarge-text-bg shugaring

