section.section.accordion-answer-dark-theme
    +accordeon('Поширені запитання', 'Почитайте відповіді на питання, які цікавлять наших клієнтів про особливості цукрової депіляції',
        [
            {
                title: 'Як довго триває епіляція шугарінг?',
                body : 'Залежить від зони. В цілому, це досить швидкий спосіб видалення волосся, хоча воскова депіляція ще швидше. Шугарінг пахв можна зробити за 15 хвилин, шугарінг бікіні — за півгодини, шугарінг ніг повністю — за півтори години. Час залежить від довжини волосся. Якщо волоски короткі, процедура може затягнутися.'
            },
            {
                title: 'Чи можна знеболити шкіру перед процедурою шугарінгу &nbsp; <span class="city-in-dynamic"></span>?',
                body : 'Взагалі можна. Майстер може нанести вам анестезуючий крем на зону бікіні, підпашки, ніжки або іншу потрібну зону.'
            },
            {
                title: 'Можна робити шугарінг зони бікіні під час критичних днів?',
                body : 'Так, точно можна. Просто скористайтеся тампоном. Тільки попереджаємо: під час критичних днів больові відчуття загострюються, тому вам може бути болючіше, ніж звичайно.'
            },
            {
                title: 'Ви робите чоловічий шугарінг &nbsp; <span class="city-in-dynamic"></span>?',
                body : 'Так, звичайно! Ми проводимо шугарінг для чоловіків &nbsp; <span class="city-in-dynamic"></span>. Процедура залишається такою ж. Єдиний момент: через більш широкий фолікул чоловікам зазвичай болючіше при видаленні зайвого волосся. Але якщо робити шугарінг регулярно, волосся буде вириватися все легше й легше.'
            },
            {
                title: 'Можна робити шугаринг при цукровому діабеті?',
                body : 'Все індивідуально. Залежить від стадії діабету, залежності від інсуліну і інших чинників. Також важливо, щоб на шкірі не було пошкоджень. У деяких випадках шугарінг допускається навіть при цукровому діабеті. Запишіться на консультацію, щоб обговорити свій випадок із майстром і зрозуміти, чи підходить вам ця процедура.'
            },
            {
                title: 'У мене вросле волосся. Шугарінг вирішить цю проблему?',
                body : 'Якщо майстер дотримується техніки шугарінгу і паста видаляється за ростом волосся, ризик врослих волосків мінімальний. Якщо ж ця проблема для вас уже «хронічна», у вас може бути порушена траєкторія росту волосся. Якщо основне завдання — позбутися врослого волосся, вам більше підійде лазерна епіляція.'
            },
            {
                title: 'У мене дуже довге волосся. Ви будете його вкорочувати або мені треба зробити це до процедури?',
                body : 'У цьому немає необхідності. Для майстра працювати із довгим волоссям значно легше, ніж з короткими. Єдиний нюанс — через довге волосся вам може бути трохи болючіше. Тому якщо ви захочете, майстер вкоротить вам волоски до комфортної довжини прямо під час сеансу.'
            }
        ], true, 1)
