section.section.block-answer-before-shugaring
  .container
    .row
      .col-12.col-xl-6
        img.mx-auto.mx-xl-0.mb-xl-3(src="assets/img/shugaring-page/answer-before.jpg" alt="four-boxes-1" srcset="assets/img/shugaring-page/answer-before@2x.jpg 2x")
      .col-12.col-xl-6
        .c-content
          .h2-title Як проходить цукрова депіляція
          .d-line.my-3
          p.paragraph-text.text-w-light.text-opacity Цукрова депіляція або шугарінг — досить поширений і доступний метод для позбавлення від небажаного волосся. Теоретично його можна зробити і вдома. Однак в салоні процедура буде набагато швидше, професійніше і просто комфортніше.
          p.paragraph-text.text-w-bold Етапи процедури

          .c-li.d-flex.align-items-center.mb-2
            .custom-icon-number.custom-bg-dark.mb-2
              p 1
            p.paragraph-text.text-w-light.text-opacity.mb-2.ml-2 Підготовка
          p.paragraph-text.text-w-light.text-opacity Щоб підготувати шкіру і волосся до цукрової пасти, їх треба знежирити. Для цього майстер обробляє зону депіляції спиртовмісним антисептиком. Потім присипає тальком.
          .c-li.d-flex.align-items-center.mb-2
            .custom-icon-number.custom-bg-dark.mb-2
              p 2
            p.paragraph-text.text-w-light.text-opacity.mb-2.ml-2 Видалення небажаного волосся
          p.paragraph-text.text-w-light.text-opacity Майстер наносить цукрову пасту на шкіру, захоплює все волосся і ривками видаляє їх. Паста наноситься і видаляється у напрямку росту волосся. Це не так боляче, як при восковій депіляції, яка вириває волоски проти їхнього росту.
          .c-li.d-flex.align-items-center.mb-2
            .custom-icon-number.custom-bg-dark.mb-2
              p 3
            p.paragraph-text.text-w-light.text-opacity.mb-2.ml-2 Зволоження
          p.paragraph-text.text-w-light.text-opacity Майстер видаляє залишки цукрової пасти і наносить на шкіру заспокійливі засоби.






