section.section.block-answer-after-shugaring
  .container
    .row
      .col-12.col-xl-6
        .c-content
          h2.h2-title.text-color-second-dark.mb-4 Що робити до і після шугарінгу
          p.paragraph-text.text-color-second-dark.text-w-bold Як підготуватися до процедури
          ul.info-list
            li.paragraph-text.text-color-second-dark.text-w-light.mb-3 Відростити волосся так, щоб довжина волосків була мінімум 0,5-0,8 мм. Цукрова паста має обволікати волосся, щоб вирвати його. Якщо волосся довше, це тільки краще — спеціально вкорочувати його не треба.
            li.paragraph-text.text-color-second-dark.text-w-light.mb-4 За день до процедури можна обробити потрібну зону скрабом або активно потерти мочалкою. Це зробить волосся більш податливими до пасти.
          p.paragraph-text.text-color-second-dark.text-w-bold Що робити після процедури
          ul.info-list
            li.paragraph-text.text-color-second-dark.text-w-light.mb-3 В день процедури бажано не ходити в лазню, сауну, солярій.
            li.paragraph-text.text-color-second-dark.text-w-light Також у цей день краще не займатися спортом, щоб зайвий раз не терти шкіру і не травмувати її.
      .col-12.col-xl-6
        img.w-100.mx-auto.mx-xl-0.mt-4.mt-xl-3(src="assets/img/shugaring-page/answer-after.jpg" alt="four-boxes-1" srcset="assets/img/shugaring-page/answer-after@2x.jpg 2x")


