.info-block-grid.grid-bg-1.doubleGrid
  .container.p-0
    .row.no-gutters.mb-5
      h2.section-title.text-center.mb-0 Полный список парикмахерских услуг для волос
    .row.no-gutters.grid-shodow.double-grid-container.w-100.mx-auto
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Окрашивание волос в один тон
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 500-1200 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Окрашивание волос в один тон')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/0.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/1.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Омбрэ <span class='city-in-dynamic'></span> цена
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 1000-2500 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Омбрэ в Житомире цена')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Балаяж <span class='city-in-dynamic'></span> цена
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 1000-2500 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Балаяж в Житомире цена')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/2.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/3.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Шатуш <span class='city-in-dynamic'></span> цена
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 25 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Шатуш в Житомире цена')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Мелирование <span class='city-in-dynamic'></span> цена
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 700-2100 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Мелирование в Житомире цена')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/4.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/5.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Мелирование волос «Эир тач»
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 1000-2500 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Мелирование волос «Эир тач»')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Объемное окрашивание волос
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 1000-2500 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Объемное окрашивание волос')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/6.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/7.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Завивка волос <br/> «Estel Niagara»
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 600-1000 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Завивка волос <br/> «Estel Niagara»')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')

      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Кератиновое восстановление волос Luxliss
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 300-350 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Кератиновое восстановление волос Luxliss')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                    C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/8.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/9.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Ритуал Nashi Argan
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | от 60 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Ритуал Nashi Argan')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                    C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Тонирование волос маской Newtone
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | от 200-300 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Тонирование волос маской Newtone')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                    C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/10.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/11.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Талассотерапия
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | от 70-150 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Талассотерапия')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                    C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Термокератин
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 300-350 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Термокератин')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                    C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/12.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/13.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Экспресс-процедура «Молекулярный коктейль»
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | от 60 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Экспресс-процедура «Молекулярный коктейль»')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                    C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Экспресс-процедура пеной Еlgon
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 200-300 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Экспресс-процедура пеной Еlgon')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                    C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/14.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/15.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Базовая защита Olaplex
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | от 70-150 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Базовая защита Olaplex')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                    C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Активная защита Olaplex
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 200-300 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Активная защита Olaplex')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0 {
                  fill: #D11111;
                }
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                          C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/16.jpg" alt="grid-item")
