.info-block-grid.grid-bg-1.doubleGrid
  .container.p-0
    .row.no-gutters.mb-5
      h2.section-title.text-center.mb-0 Послуги з фарбування та догляду за волоссям
    .row.no-gutters.grid-shodow.double-grid-container.w-100.mx-auto
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Фарбування волосся в один тон
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 2 - 2,5 години
            | 500-1200 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "hair-order-1", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Окрашивание волос в один тон')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/0.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/1.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Омбре <span class='city-in-dynamic'></span> ціна
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 2,5 - 3,5 години
            | 1000-2500 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "hair-order-2", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Омбрэ в Житомире ціна')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Балаяж <span class='city-in-dynamic'></span> ціна
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 2,5 - 3,5 години
            | 1000-2500 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "hair-order-3", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Балаяж в Житомире ціна')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/2.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/3.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Шатуш <span class='city-in-dynamic'></span> ціна
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 2,5 - 3,5 години
            | 1000 - 2500 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "hair-order-4", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Шатуш в Житомире ціна')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Мелірування <span class='city-in-dynamic'></span> ціна
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 2,5 - 3,5 години
            | 700-2100 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "hair-order-5", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Мелирование в Житомире ціна')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/4.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block(data-not-available-rovno)
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/5.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Мелірування волосся «Еір тач»
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 2,5 - 3,5 години
            | 1000-2500 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "hair-order-6", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Мелирование волос «Эир тач»')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block(data-not-available-rovno)
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Об'ємне фарбування волосся
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 2,5 - 3,5 години
            | 1000-2500 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "hair-order-7", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Объемное окрашивание волос')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/6.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block(data-not-available-rovno)
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/7.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Завивка волосся <br/> «Estel Niagara»
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 3 години
            | 500-1000 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "hair-order-8", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Завивка волос <br/> «Estel Niagara»')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')

      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Кератинове відновлення волосся Luxliss
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 1-2 години
            | 300-350 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "hair-order-9", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Кератиновое восстановление волос Luxliss')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                    C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/8.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block(data-not-available-rovno)
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/9.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Ритуал Nashi Argan
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | від 60 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "hair-order-10", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Ритуал Nashi Argan')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                    C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block(data-not-available-rovno)
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Тонування волосся маскою Newtone
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 1 година
            | від 200-300 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "hair-order-11", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Тонирование волос маской Newtone')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                    C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/10.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block(data-not-available-rovno)
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/11.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Таласотерапія
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 1 година
            | від 70-150 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "hair-order-12", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Талассотерапия')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                    C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block(data-not-available-rovno)
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Термокератин
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 1 година
            | 300-350 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "hair-order-13", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Термокератин')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                    C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/12.jpg" alt="grid-item")
      .row.no-gutters.w-100.grid-block(data-not-available-rovno)
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/15.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Базовий захист Olaplex
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 від години
            | від 680-1356 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "hair-order-14", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Базовая защита Olaplex')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0 {
                  fill: #D11111;
                }
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                         C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .row.no-gutters.w-100.grid-block
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Експрес-процедура піною Elgon
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 від години
            | 200-300 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "hair-order-15", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Экспресс-процедура пеной Еlgon')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                    C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/14.jpg" alt="grid-item")

      .row.no-gutters.w-100.grid-block(data-not-available-rovno)
        .col-12.col-md-6.grid-img.grid-img-hover
          img.w-100(src="assets/img/coloringAndCare/16.jpg" alt="grid-item")
        .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-center
          .grid-titles.order-1
            .grid-title
              | Активний захист Olaplex
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 200-300 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(id = "hair-order-16", href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Активная защита Olaplex')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0 {
                  fill: #D11111;
                }
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                          C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')

