.info-block.info-block-7.info-block-7-3.info-block-7-pad.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-1.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-31.jpg",  alt="item")
        .col.col-info.order-2.no-bg-blk
          h2.section-title.white-text Догляд за волоссям забезпечує:
          ul.info-list.mb-20
            li.thin-text.white-text.mb-15 Відновлення волосся зсередини
            li.thin-text.white-text.mb-15 Усунення сухості і посічених кінчиків
            li.thin-text.white-text Волосся набуває здорового блиску і легкість
          p.thin-text.white-text.mb-15 Важливо пам'ятати, що перевага салонного догляду за волоссям — це накопичувальний ефект. Із кожною наступною процедурою волосся стає все більш живленим і здоровим на довший термін.
          p.thin-text.white-text Гарне волосся завжди в моді! А щоб зберегти здоровий блиск і доглянутий вигляд, в сучасному світі, без професійного догляду не обійтися!
        span.big-text.d-none.d-xl-block colo
