.info-block.info-block-8.info-block-8-3.info-block-8-4
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-start.no-gutters
      .col.col-img.order-2
        img.w-100(src="./assets/img/infoblock/item-28.jpg", alt="item")
      .col.col-info.order-1
        h2.section-title.mb-35 Гарантія ідеального фарбування волосся — це
        ul.info-list.mb-25
          li.p-text.thin-text.mb-15 Сучасні професійні барвники
          li.p-text.thin-text.mb-15 Правильна технологія фарбування
          li.p-text.thin-text Високий професіоналізм майстрів
        p.p-text.thin-text.mb-15 Модне фарбування волосся без втрати їх якості і за приємною ціною? Зі Steffany можливо все!
        p.p-text.thin-text.mb-15 У салоні Steffany зможуть реалізувати всі ваші бажання щодо фарбування коренів і волосся різної довжини!
