.info-block.info-block-3-2.info-block-3-5.overflow-hidden
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters.border-block-item2
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-9.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title Догляд за волоссям та фарбування волосся
          p.under-border.mb-15 Допоможемо змінити свій стиль і найкращим чином перетворитися зовні! У жіночій природі є бажання експериментувати із зовнішністю, змінюючи зачіски від довгого волосся до каре і назад.
          p Кожна жінка знає, що похід до перукаря і стиліста знімає втому і стрес, а мелірування або фарбування із переходом — це перша сходинка до приємних змін в життя.
      span.big-text.d-none.d-xl-block coloring
