section.section-services.about
  .container
    p.paragraph-text.mb-3.mb-lg-5.text-dark-1 Главная / Услуги / Вросший ноготь
    h3.page-title.mb-3.mb-lg-5 Лечение и удаление вросшего ногтя в Житомире
    .row.mx-auto
      .col-12.d-block.d-sm-none.mb-3
        .services-about-sm-divider
      .col-12.col-lg-6.order-2.order-lg-1
        img.w-100.shadow(src="assets/img/ingrownNail/feet-top.jpg", srcset="assets/img/ingrownNail/feet-top@2x.jpg 2x")
      .col-12.col-lg-6.d-flex.justify-content-center.flex-column.order-1.order-lg-2
        p.paragraph-text.text-dark-1.pb-2 Вросший ноготь — это дефект, когда ногтевая пластина врастает в кожу пальца (край ногтевого валика). Такая проблема вызывает сильную боль и чаще всего воспаление. На первый взгляд, проблема вросшего ногтя исключительно эстетическая. 
        p.paragraph-text.text-dark-1 Однако помимо изменения формы и болевых ощущений она может повлечь за собой серьезные проблемы со здоровьем лимфы и костей. Чтобы избежать осложнений, вросший ноготь нужно лечить сразу. Это можно сделать в центре здоровья ног Steffany с помощью разных методов. 
