section.section-services.container-fluid.py-0.ort-treatment.ingrown-cnt
  .row.no-gutters.section-services-treatment-row-padding
    .container
      .row
        .col
          h3.section-title.text-color-light.mb-4.text-center.extra-h3.text-w-bold(style="padding-left: 3rem; padding-right: 3rem;") Почему опасно откладывать лечение вросшего ногтя
          p.responsive-text.paragraph-text-light.text-center.mb-80 Вросший ноготь — не только эстетическая или болезненная проблема. Помимо боли и стеснения вросший ноготь может принести осложнения, которые напрямую влияют на здоровье всего организма. Осложнения развиваются быстрее у пациентов, которые уже имеют определенные проблемы со здоровьем: эндартериит (хроническое заболевание сосудов), атеросклероз, который поражает сосуды ног, а также сахарный диабет.
    .container
      .row.no-gutters.mx-auto.justify-content-between
        .col-12.col-lg-6.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt(style="font-weight: 800!important") Осложнение №1 — абсцесс
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Что это:
            | абсцесс — это гнойное воспаление тканей с подкожной полостью, где застаивается гной.
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Как протекает:
            | в месте осложнения кожа краснеет, начинает болеть, отекать и опухать, температура этой зоны повышается. Пациент ослабевает, испытывает недомогание и головную боль, теряет аппетит.
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Чем опасно:
            | при несвоевременном лечении воспаление может распространиться по коже и привести к обширному поражению. Также инфекция может распространиться с кровью и лимфой по всему организму, и это влечет наихудшие последствия, в том числе летальный исход.
        .col-12.col-lg-6.ort-block.ort-block-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt(style="font-weight: 800!important") Осложнение №2 — лимфаденит
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Что это:
            | воспалительное поражение лимфатических узлов. При осложнениях от вросшего ногтя страдают близлежащие лимфатические узлы — под коленом или в паховой области.
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Как протекает:
            | лимфатические узлы увеличиваются и болят, у пациента повышается температура.
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Чем опасно:
            | игнорирование проблемы может привести к глубокому поражению тканей и сепсису (воспалительной реакции, когда инфекция попадает в кровь и ткани организма).
        .col-12.col-lg-6.ort-block.ort-block-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt Осложнение №3 — костный панариций (остеомиелит ногтевой фаланги)
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Что это:
            | это гнойно-воспалительное поражение костных тканей пальца.
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Как протекает:
            | у пациента отекает палец, сосуды в этом месте переполняются кровью (появляется гиперемия), все это сопровождается пульсирующей болью. Организм слабеет, повышается температура.
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Чем опасно:
            | при особо запущенных случаях у пациента может развиться разлитое гнойное воспаление соединительной ткани (флегмона), а иногда гангрена.
        .col-12.col-lg-6.ort-block.ort-block-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt Осложнение №4 — гангрена пальца
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Что это:
            | процесс омертвения тканей.
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Как протекает:
            | роцесс длится долго — месяцами и даже годами. Палец болит, затем пораженный участок теряет чувствительность и приобретает черно-коричневый цвет (мумифицированный вид).
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Чем опасно:
            | гангрена заканчивается удалением омертвевших тканей или ампутацией.
.container.mb-5
  .row
    p.w-100.paragraph-text-bold.text-center.mx-0.mx-md-auto.mb-3.dark-color Лечите вросший ноготь сразу. Тогда все пройдет максимально безболезненно и без хирургического вмешательства.
    .services-btn-container.mx-auto
      +btnPen('записаться')
