section.section-services.container-fluid.py-0
  .row.mx-0.section-bg-dark.section-services-treatment-row-padding.pb-3
    .container
      .row.mx-0
        .col.text-px-desktop
          h3.section-title.text-color-light.mb-4.text-center Что делать, если у вас вросший ноготь
          p.paragraph-text.text-center.mb-3 Если вы обнаружили у себя вросший ноготь, нужно сразу обратиться к специалисту-подологу. Только он может своевременно и эффективно вылечить дефект и предотвратить возможные осложнения. Однако до визита к врачу можно немного облегчить свое состояние или попытаться не усугубить его.
    .container
      .row.mx-0.treatment-line.pt-5
        .col-12.col-xl-4.d-flex.flex-column.align-items-center.px-4.mb-5
          .disease-treatment-img-container.container-1.mb-3
          p.paragraph-text.text-center.font-weight-bold.mb-3.text-uppercase.font-weight-bold Дезинфицировать
          p.paragraph-text.text-center.mb-0 Стоит периодически обрабатывать кожу антисептическим средством, например, Хлоргексидином или Декасаном. Желательно иметь дозатор в виде распылителя, чтобы не причинить себе дополнительную боль от прикосновений.
        .col-12.col-xl-4.d-flex.flex-column.align-items-center.px-4.mb-5
          .disease-treatment-img-container.container-2.mb-3
          p.paragraph-text.text-center.font-weight-bold.mb-3.text-uzppercase.font-weight-bold Не заниматься самолечением
          p.paragraph-text.text-center.mb-0 В интернете можно найти множество народных методов и вариантов «самостоятельной хирургии», и все они одинаково опасны для здоровья.
        .col-12.col-xl-4.d-flex.flex-column.align-items-center.px-4.mb-5
          .disease-treatment-img-container.container-3.mb-3
          p.paragraph-text.text-center.font-weight-bold.mb-3.text-uppercase.font-weight-bold Записаться на прием к подологу
          p.paragraph-text.text-center.mb-0 Только специалист-подолог может профессионально оценить состояние проблемы, понять источник ее возникновения и определить метод лечения. Поэтому уже при первых признаках вросшего ногтя вам следует записаться на прием к подологу.
