section.section-services.container-fluid.py-0.ort-treatment.ingrown-cnt.ingrown-cnt-2.py-0
  .row.no-gutters.section-services-treatment-row-padding
    .container
      .row
        .col
          h3.section-title.text-color-light.mb-4.text-center Как понять, что у вас вросший ноготь
          p.paragraph-text-light.text-center.mb-80 Диагноз вросшего ногтя можно поставить себе самостоятельно, потому что у этого дефекта ярко выраженные симптомы:
    .container
      .row.no-gutters.mx-auto.justify-content-between
        .col-12.col-lg-6.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt Острая колющая боль
          p.paragraph-text-light.ort-cnt При ходьбе и любом другом нажатии на кожу вокруг ногтя вы испытываете острую колющую боль. Иногда боль остается даже если не двигаться.
        .col-12.col-lg-6.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt Покраснение и отек ногтевого валика
          p.paragraph-text-light.ort-cnt Кожа, возле которой находится угол вросшего ногтя, заметно краснеет и отекает. Если запустить проблему, может начаться кровотечение.
        .col-12.col-lg-6.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt Гнойно-воспалительный процесс
          p.paragraph-text-light.ort-cnt Если долго не обращаться к специалисту, воспаление усиливается и на поверхности раны появляются гнойные выделения.
        .col-12.col-lg-6.ort-block.ort-block-1.pr-0.pr-lg-2
          p.paragraph-text-bold.ort-title.ort-title-gray
            span.ort-cnt Переход в хроническую стадию и образование грануляций («дикого мяса»)
          p.paragraph-text-light.ort-cnt Если не проводить адекватного лечения, болезнь переходит в опасную хроническую стадию. У такой стадии возможны осложнения в виде абсцеса, сепсиса, костного панариция, лимфаденита, лимфангита и гангрены.
