section.section.category.pb-0
  .description.pt-5.pb-5
    .container.centered-content
      h2.white-text.text-center.mb-3 Как появляется вросший ноготь
      p.white-text Чаще всего ногти врастают на больших пальцах, хотя можно встретить такую проблему на любом из пальцев ног. В любом случае, это состояние появляется не просто так — его обязательно что-то провоцирует. Разберемся в основных причинах возникновения вросшего ногтя.
  .row
    .col-sm-12.col-lg-4.dark-block
      .centered-content.info-section
        .row
          img(src="assets/img/cat-item-11.png" alt="cat-item-11")
          .wrapper
            span Неправильный уход
        p Одна из главных причин возникновения вросшего ногтя — неправильное подрезание, когда вместо прямого среза человек закругляет углы.
    .col-sm-12.col-lg-4.light-darkness-block
      .centered-content.info-section
        .row
          img(src="assets/img/cat-item-12.png" alt="cat-item-12")
          .wrapper
            span Узкая обувь
        p Обувь не по размеру или с удлиненными концами сильно <b>деформирует положение пальцев</b>, поэтому ногти начинают врастать. То же самое касается утягивающих колготок и тесных носков, которые не соблюдают анатомическую форму стопы.
    .col-sm-12.col-lg-4.dark-block
      .centered-content.info-section
        .row
          img(src="assets/img/cat-item-13.png" alt="cat-item-13")
          .wrapper
            span Повышенное потоотделение
        p Закрытая обувь в жаркую погоду или гипергидроз тоже провоцируют врастание ногтя. При повышенной потливости ноготь может размягчиться и деформироваться.
    .col-sm-12.col-lg-4.light-darkness-block
      .centered-content.info-section
        .row
          img(src="assets/img/cat-item-14.png" alt="cat-item-14")
          .wrapper
            span Плоскостопие
        p Некоторые формы плоскостопия <b>перегружают передний отдел стопы</b> во время ходьбы из-за неправильного положения ноги. Из-за постоянного давления ногти начинают врастать.
    .col-sm-12.col-lg-4.dark-block
      .centered-content.info-section
        .row
          img(src="assets/img/cat-item-15.png" alt="cat-item-15")
          .wrapper
            span Травмы ногтя
        p Если случайно удариться ногтем или уронить на него что-то тяжелое, он <b>может изменить направление своего роста.</b>
    .col-sm-12.col-lg-4.light-darkness-block
      .centered-content.info-section
        .row
          img(src="assets/img/cat-item-16.png" alt="cat-item-16")
          .wrapper
            span Анатомические особенности и наследственность
        p В некоторых случаях ноготь врастает из-за <b>неправильного положения стопы</b>, которое обусловлено анатомией человека. Однако даже в таких случаях можно скорректировать положение стопы с помощью ортопедических стелек.
    .col-sm-12.col-lg-12.light-block
      .centered-content.info-section
        .row
          img(src="assets/img/cat-item-17.png" alt="cat-item-17")
          .wrapper
            span Профессиональный спорт
        p Как ни странно, спортсмены тоже находятся в группе риска по врастанию ногтей. Так происходит, потому что они <b>регулярно испытывают динамические нагрузки на ноги</b>. При неправильном положении стоп, тесной неудобной обуви и повышенном потоотделение их ногти могут врастать.
