section.section.consultaion.service-consultation
  .container.d-flex.flex-column.flex-wrap.align-items-center
    .col-12.col-lg-6.d-flex.flex-column.align-items-center
      h2.white-text.text-center.mb-3 Запишіться на консультацію<br><strong>прямо зараз безкоштовно</strong>
      .dash.dash-white
    .col-12.col-lg-7.d-flex.flex-column.align-items-center
      p.white-text.text-center.mb-5 Розділ медицини, який займається лікуванням захворювань стопи та гомілки, що об'єднує знання з ортопедії, травматології, судинної та гнійної хірургії, нейрохірургії.
      .services-btn-container.d-none.d-md-flex.justify-content-center.ultra-mega-bg-btn
        +btnCallback('передзвонити мені')(data-toggle='modal', data-target='#callbackModal')
      .col-12.d-block.d-md-none
        +writeClientForm.btn-callback-w-100
