footer.footer
	p.p-text-light
		color: #fff
	a
		color: #ffffff
		text-decoration: none!important
	background: #303947
	color: #fff

	.container
		.c-logo-f
			img
				max-width: 264px
				max-height: 100px

.footer-icon-blk
	height: 18px

@media(max-width: 1199px)
	footer
		br
			display: none
