section.section.about-page-section-laser
  .container
    .row
      .col-12.col-xl-6
        .c-content
          h2.h2-title.text-color-lightdark
            |Лазерна епіляція
            br
            |у Steffany
          .d-line
          p.paragraph-text.text-color-lightdark.text-w-light.mb-3.position Видалити небажане волосся і надовго забути про його існування хоче багато дівчат. Тільки коли вони наважуються на процедуру, стикаються із безліччю обмежень. Два тижні до процедури не засмагати, два тижні після не засмагати. А під час процедури терпіти біль, після якого на наступний сеанс вже не хочеться
          p.paragraph-text.text-color-lightdark.text-w-light.mb-1 Нам це теж набридло. Тому в Steffany Lazer & Cosmetology епіляцію проводять лазером нового покоління, який видаляє волосся швидко, без болю і в будь-яку пору року.
      .col-12.col-xl-6
        .white-block-design
          img(src="assets/img/laser-page/about-page-img.jpg" alt="position-img-1" srcset="assets/img/laser-page/about-page-img@2x.jpg 2x")
          p.extralarge-text-bg laser epila



