section.section.accordion-answer-dark-theme
  +accordeon('Поширені запитання', 'Тут ви знайдете відповіді на питання про лазерну епіляцію, які найчастіше цікавлять наших клієнтів',
    [
      {
        title: 'Навіщо голитися перед процедурою?',
        body: 'Лазеру потрібно проникнути у волосяний фолікул і прогріти там пігмент. Якщо волосок буде підніматися над шкірою, лазер направить частину теплової енергії на нього і ви не досягнете потрібного від процедури ефекту. Тому напередодні процедури волосся треба якомога коротше видалити бритвою.'
      },
      {
        title: 'У мене швидко відростає волосся після гоління. Як мені підготуватися до процедури?',
        body: 'Це нормально, у кожного з нас своя швидкість росту волосся. У такому разі скористайтеся станком для гоління за 5-6 годин. Головне — аби на шкірі не було ранок. Тому що тоді цю ділянку не можна буде обробляти лазером.'
      },
      {
        title: 'Що буде, якщо я не встигну поголити зону перед процедурою?',
        body: 'Якщо зона епіляції невелика (наприклад, пахви), майстер акуратно пройдеться по ній станком для гоління перед процедурою. Але якщо ви збираєтеся робити ноги повністю, знайдіть час поголити їх заздалегідь. Це великі зони: є ризик залишити подряпини. Вони повинні встигнути зажити до процедури. Якщо ви робите піляцію у зоні обличчя, голити самостійно її не потрібно. Майстер вкоротить триммером волоски на сеансі.'
      },
      {
        title: 'У мене вітіліго. У зоні епіляції є плями світлого волосся. Лазер їх прибере?',
        body: 'Лазер «бачить» лише волосся з пігментом. Світле волосся він, на жаль, не прибере. Але це не означає, що вам протипоказана лазерна епіляція. Обробіть лазером темні волоски, а інші приберіть за допомогою послуги «Нано-епіляція». Це лужний пілінг, який прибирає світле пушкове волосся.'
      },
      {
        title: 'У мене руде волосся. Я можу зробити епіляцію?',
        body: 'На жаль, рудий пігмент відштовхує промені лазера. Тому саме лазерна епіляція вам не підійде. Але нічого страшного! Ви можете видаляти волосся за допомогою шугарингу або воскової епіляції в наших салонах.'
      },
      {
        title: 'Якщо я регулярно видаляю волосся за допомогою шугарингу/воску, через скільки мені можна робити лазерну епіляцію?',
        body: 'Зачекайте мінімум 2 тижні після останньої процедури шугарингу або воску. Також хоча б пару раз видаліть волосся у потрібних зонах звичайним станком для гоління.'
      },
      {
        title: 'Через скільки сходить почервоніння після процедури?',
        body: 'Особливість нашого лазера у тому, що в більшості випадків шкіра залишається без змін. У деяких випадках на шкірі з\'являється легке почервоніння. Воно може пройти через 20 хвилин, а може через кілька годин. Все це в межах норми.'
      }
    ], true, 1)
