section.section.four-boxes-service-laser
  .container
    h2.h2-title.text-color-dark.text-center Лазерна епіляція може може бути комфортною
    p.four-box-.text-color-lightdark.text-center Якщо робити її у Steffany
    .row
      .col-12.col-xl-6.pb-5.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position
            img.d-none.d-md-block(src="" alt="four-boxes-1" srcset="assets/img/four-boxes/four-box_01@2x.png 2x")
            img.d-md-none.d-block(src="" alt="four-boxes-1-mob" srcset="assets/img/four-boxes/four-box-laser-mob-1@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number.text-color-lightdark 01
              h4.h4-title.text-color-lightdark.text-uppercase.mb-3 Повна відсутність болю
              p.paragraph-text.text-color-lightdark.text-w-light Вам не потрібно доплачувати за знеболювання — процедура і так повністю безболісна. Лазер має потужну систему охолодження. Під час сеансу ви відчуваєте просто дотики. Вони абсолютно безболісні.
      .col-12.col-xl-6.pb-5.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position
            img.d-none.d-md-block(src="" alt="four-boxes-2" srcset="assets/img/four-boxes/four-box_02@2x.png 2x")
            img.d-md-none.d-block(src="" alt="four-boxes-2-mob" srcset="assets/img/four-boxes/four-box_02-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number.text-color-lightdark 02
              h4.h4-title.text-color-lightdark.text-uppercase.text-uppercase.mb-3 Можна робити влітку
              p.paragraph-text.text-color-lightdark.text-w-light Із лазерами попереднього покоління кінець весни, літо і початок осені випадали з процедурного графіка. Зараз стільки чекати не треба. Лазер видаляє волосся на шкірі до 6-го фототипу, а це метиси і мулати. Він не боїться засмаги.
      .col-12.col-xl-6.pb-5.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position
            img.d-none.d-md-block(src="" alt="four-boxes-3" srcset="assets/img/four-boxes/four-box_03@2x.png 2x")
            img.d-md-none.d-block(src="" alt="four-boxes-3-mob" srcset="assets/img/four-boxes/four-box_03-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number.text-color-lightdark 03
              h4.h4-title.text-color-lightdark.text-uppercase.mb-3 Безпечно для організму
              p.paragraph-text.text-color-lightdark.text-w-light Лазер бачить одну мішень — пігмент у волосяному фолікулі. Пігмент у шкірі, прилеглі тканини і органи йому зовсім не потрібні, і він на них ніяк не впливає. До того ж лазер не спалює, а прогріває волосся. Тому опіки виключені.
      .col-12.col-xl-6.pb-5.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position
            img.d-none.d-md-block(src="" alt="four-boxes-4" srcset="assets/img/four-boxes/four-box_04@2x.png 2x")
            img.d-md-none.d-block(src="" alt="four-boxes-4-mob" srcset="assets/img/four-boxes/four-box_04-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number.text-color-lightdark 04
              h4.h4-title.text-color-lightdark.text-uppercase.mb-3 Відпочинок для душі
              p.paragraph-text.text-color-lightdark.text-w-light «Процедурний графік» звучить занадто нудно. Краще ставитися до сеансів як до міні-відпустки. Шампанське, чай, кава, музика, поговорити або помовчати - озвучте будь-яке бажання і насолоджуйтеся процесом.
