
section.section.service-laser-whatToDo
  .container
    h2.h2-title.text-color-dark.text-center Що робити до і після процедури
      .section-1
        .row
          .col-12.col-xl-5
            h3.todo-subtitle.text-color-dark.text-center.text-xl-right.mt-5.text-uppercase Як підготуватися
              |
              |
              span.light-span.text-uppercase до лазерної епіляції
          .col-12.col-xl-5.offset-xl-2.d-none.d-xl-block
            h3.todo-subtitle.text-color-dark.text-xl-left.mt-5.text-uppercase Що робити після
              |
              |
              span.light-span.text-uppercase лазерної епіляції
        .row.custom-row-height.d-flex
          .col-xl-5.d-none.d-xl-flex.order-xl-3.custom-pt-text
            p.paragraph-text.text-color-dark.text-left.mb-0
              | У день процедури краще <span class="text-w-bold">не йти</span> у басейн, сауну, солярій або лазню.
          .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-1.order-1.order-xl-2.order-1
          .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
            p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
              | За 12-15 годин до процедури <span class="text-w-bold">видаліть волосся</span> на потрібній ділянці за допомогою станка для гоління. Якщо ваше волосся росте дуже активно, видаліть його у день процедури.

        .row.custom-row-height.d-flex
          .col-xl-5.d-none.d-xl-flex.order-xl-3.custom-pt-text
            p.paragraph-text.text-color-dark.text-left.mb-0
              | Також у день процедури <span class="text-w-bold">не варто займатися спортом</span> і провокувати рясне потовиділення.
          .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-2.order-1.order-xl-2.order-1
          .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
            p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
              | У день процедури <span class="text-w-bold">не обробляйте</span> зону епіляції спиртовмісними засобами, лосьйонами, кремами та іншими косметичними продуктами.

        .row.custom-row-height.d-flex
          .col-xl-5.d-none.d-xl-flex.order-xl-3.custom-pt-text
            p.paragraph-text.text-color-dark.text-left.mb-0
              | <span class="text-w-bold">Пару днів</span> після процедури <span class="text-w-bold">не засмагати</span> на сонці. При цьому можна з'являтися під сонцем, якщо нанести на ділянку епіляції SPF-захист.
          .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-3.order-1.order-xl-2.order-1
          .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
            p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
              | Зачекайте <span class="text-w-bold">1-2 дні після активної засмаги,</span> щоб не нашаровувати високі температури.

      .section-2.d-block.d-xl-none
        .row
          .col-12
            h3.todo-subtitle.text-color-dark.text-center.mt-5.text-uppercase Що робити після
              |
              |
              span.light-span.text-uppercase лазерної епіляції

        .row.custom-row-height.d-flex
          .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-1.order-1.order-xl-2.order-1
          .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
            p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
              | У день процедури краще <span class="text-w-bold">не йти</span> у басейн, сауну, солярій або лазню.
        .row.custom-row-height.d-flex
          .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-2.order-1.order-xl-2.order-1
          .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
            p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
              | Також у день процедури <span class="text-w-bold">не варто займатися спортом</span>і провокувати рясне потовиділення.
        .row.custom-row-height.d-flex
          .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-3.order-1.order-xl-2.order-1
          .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
            p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
              | <span class="text-w-bold">Пару днів</span> після процедури <span class="text-w-bold">не засмагати</span> на сонці. При цьому можна з'являтися під сонцем, якщо нанести на ділянку епіляції SPF-захист.
