section.section.service-laser-contraindications
  .container
    .row
      .col-12.col-xl-6
        .white-block-design
          img(src="assets/img/laser-page/contraindications-img.jpg" alt="item-1" srcset="assets/img/laser-page/contraindications-img2.jpg 2x")
          //img.d-xl-none(src="assets/img/service-laser-page/contraindications-img-mob.jpg" alt="item-1-mob")
      .col-12.col-lg-6
        .c-content
          h2.h2-title.mt-0.mb-3 Протипоказання до лазерної епіляції
          p.paragraph-text.text-w-light.text-opacity.mb-3 Кожен випадок індивідуальний. Якщо ви впізнали себе в списку протипоказань, але дуже хочете лазерну епіляцію, приходьте на консультацію. Майстер огляне вас і збере потрібну інформацію про стан здоров'я. На підставі цього він вирішить, що робити у вашій ситуації.
          p.paragraph-text.text-color-light.text-w-bold.mb-3 Абсолютні протипоказання: коли точно не можна
          ul.info-list
            li.paragraph-text.text-w-light.text-opacity.mb-3 Вагітність
            li.paragraph-text.text-w-light.text-opacity.mb-3 Годування груддю
            li.paragraph-text.text-w-light.text-opacity.mb-3 Онкологічні захворювання
            li.paragraph-text.text-w-light.text-opacity.mb-3 Кардіостимулятор
            li.paragraph-text.text-w-light.text-opacity.mb-3 Оперативні втручання на відкритому серці
            li.paragraph-text.text-w-light.text-opacity.mb-3 Незагоєні рани у зоні епіляції
            li.paragraph-text.text-w-light.text-opacity.mb-3 Світле безпігментне волосся — лазер просто його не побачить
            li.paragraph-text.text-w-light.text-opacity.mb-2 Руде волосся або волосся з рудуватим відтінком: на жаль, рудий пігмент відштовхує лазерний промінь і не піддається видаленню
          p.paragraph-text.text-color-light.text-w-bold.mb-3 Відносні протипоказання: коли іноді можна
          ul.info-list.m-0
            li.paragraph-text.text-w-light.text-opacity.mb-3 Гіпертонічна хвороба з неконтрольованими гіпертонічними кризами
            li.paragraph-text.text-w-light.text-opacity.mb-3 Інсулінозалежний цукровий діабет із порушенням трофіки
            li.paragraph-text.text-w-light.text-opacity.mb-3 Психоемоційна нестабільність
            li.paragraph-text.text-w-light.text-opacity.mb-0 Системні захворювання: ВІЛ-інфекція, вовчак, гепатит В, С, склеродермія
