section.section.discount
  .container
    .row.flex-column.align-items-center
      h2.h2-title.text-color-dark.text-center Комплексные предложения
      p.paragraph-text.text-color-lightdark Курсом <b>дешевле!</b>
      p.timer-text.mb-0 22 : 22 : 22
      .checkbox-wrapper.mb-5
        input(type="checkbox" class="checkbox")
    .row.no-gutters
      .col-12.col-xl-4
        .c-content.p-4.border
          .d-discount
          .c-text
            p.d-text скидка
            p.d-number 30%
          h4.h4-title.text-color-lightdark.text-w-bold.text-center.mb-5 Minimum
          p.paragraph-text.text-color-lightdark.text-center При оплате <b>4 процедур</b> любой <br> зоны наперед
          //.row.mb-5
          //  .col
          //    ul.info-list
          //      li
          //        p.paragraph-text.text-color-lightdark.text-w-light.mb-2 Бикини глубоке
          //      li
          //        p.paragraph-text.text-color-lightdark.text-w-light Подмышечные области
          //  .col
          //    p.paragraph-text.text-color-lightdark.text-w-bold 2 000 грн
          //    p.paragraph-text.text-color-lightdark.text-w-bold 1 730 грн
          .c-btn
            //+btnCaset('сплатити')
            +btnPen('записатися')
      .col-12.col-xl-4
        .c-content.p-4.border
          .d-discount
          .c-text
            p.d-text скидка
            p.d-number 30%

          h4.h4-title.text-color-lightdark.text-w-bold.text-center.mb-5 Standart
          p.paragraph-text.text-color-lightdark.text-center При оплате <b>6 процедур</b> любой <br> зоны наперед
          //.row.mb-5
          //  .col
          //    ul.info-list
          //      li
          //        p.paragraph-text.text-color-lightdark.text-w-light.mb-2 Бикини глубоке
          //      li
          //        p.paragraph-text.text-color-lightdark.text-w-light Подмышечные области
          //  .col
          //    p.paragraph-text.text-color-lightdark.text-w-bold 2 000 грн
          //    p.paragraph-text.text-color-lightdark.text-w-bold 1 730 грн
          .c-btn
            //+btnCaset('сплатити')
            +btnPen('записатися')
      .col-12.col-xl-4
        .c-content.p-4.border
          .d-discount
          .c-text
            p.d-text скидка
            p.d-number 30%

          h4.h4-title.text-color-lightdark.text-w-bold.text-center.mb-5 Maximum
          p.paragraph-text.text-color-lightdark.text-center При оплате <b>8 процедур</b> любой <br> зоны наперед
          //.row.mb-5
          //  .col
          //    ul.info-list
          //      li
          //        p.paragraph-text.text-color-lightdark.text-w-light.mb-2 Бикини глубоке
          //      li
          //        p.paragraph-text.text-color-lightdark.text-w-light Подмышечные области
          //  .col
          //    p.paragraph-text.text-color-lightdark.text-w-bold 2 000 грн
          //    p.paragraph-text.text-color-lightdark.text-w-bold 1 730 грн
          .c-btn
            //button.btn.svg-light.btn-first сплатити
            //  +casetSvg
            //+btnCaset('сплатити')
            +btnPen('записатися')
