section.section.service-after-laserepila
  .consultation-top
    .container
      .row
        .col-12.col-xl-6
          .c-content
            h2.h2-title Що буде після процедури
            .d-line.mb-4
            p.paragraph-text.text-opacity.text-w-light.mb-3 Наш лазер прогріває, а не випалює волосся. Тому ефект від нього трохи відрізняється. При звичайному лазері спалені волоски випадають практично відразу. Із нашим лазером волосся теж піде, але трохи по-іншому. Нехай вас не засмучує нетиповий процес, тому що все добре
            p.paragraph-text.text-color-light.text-w-bold.mb-3 Спочатку волосся залишається на місці
            p.paragraph-text.text-opacity.text-w-light.mb-3 На другий-третій день після процедури ви можете відзначити, що волосся на зоні епіляції продовжує рости. Це нормально. Прогріті лазером волоски вже мертві, просто шкірі потрібен час на їх виштовхування.
            p.paragraph-text.text-color-light.text-w-bold.mb-3 На 10-14 день шкіра виштовхує мертве волосся
            p.paragraph-text.text-opacity.text-w-light.mb-3 Якщо ви ніяк не будете обробляти зону епіляції після процедури, ви помітите: волоски тягнуться за рушником або мочалкою і просто випадають. Якщо ви користуєтеся станком для гоління, то незабаром відзначите, що волосся стає тонкішим. Воно починає рости острівцями — це називається «ефект гепарда». Від процедури до процедури нове волосся буде йти таким самим чином.

        .col-12.col-xl-6
          .white-block-design.mx-sm-auto.mx-lg-0.mr-auto.mr-lg-0.ml-xl-auto
            p.extralarge-text-bg  after
            img(src="assets/img/laser-page/laser-after.jpg" alt="service-laser-image" srcset="assets/img/laser-page/laser-after@2x.jpg 2x")
  .consultation-middle
    .container
      .row
        .col-12.col-xl-6
          .white-block-design
            img(src="assets/img/laser-page/laser-after2.jpg" alt="service-laser-iamge" srcset="assets/img/laser-page/laser-after2@2x.jpg 2x")
        .col-12.col-xl-6
          .c-content
            h2.h2-title.text-color-lightdark.mt-0.mb-3.before Як зберегти результат лазерної епіляції надовго
            .d-line.d-xl-none
            p.paragraph-text.text-color-lightdark.text-w-light.mb-3 Ми б хотіли пообіцяти вам, що волосся піде раз і назавжди. Але такі гарантії — це брехня, яка суперечить біології і фізіології. Проте ми можемо порекомендувати дії, завдяки яким у вас вийде надовго зберегти результат лазерної епіляції.
            .c-li.d-flex.align-items-center.mb-2.mt-2
              .custom-icon-number-dark.mb-2
                p.text-color-light 1
              p.paragraph-text.text-color-lightdark.text-w-bold.mb-2.ml-2 Дотримуйтеся процедурного графіка
            p.paragraph-text.text-color-lightdark.text-w-light.mb-2 Ще на консультації майстер визначить, скільки процедур вам потрібно і як часто їх треба проходити. Цей графік — не рекомендація, а правило. Запізнення на 1-2 дні не вплинуть на ситуацію. А ось затримка на тиждень і більше порушить весь процес і віддалить потрібний вам ефект.
            p.paragraph-text.text-color-lightdark.text-w-light.mb-3 Не хвилюйтесь. Після кожної процедури ми відразу пропонуємо вам призначити дату наступного сеансу. А якщо ви не можете записатися одразу, ми нагадаємо вам про процедуру по телефону і ще раз призначимо потрібний час.
            .c-li.d-flex.align-items-center.mb-2.mt-2
              .custom-icon-number-dark.mb-2
                p.text-color-light 2
              p.paragraph-text.text-w-bold.text-color-lightdark.mb-2.ml-2 Дотримуйтесь усіх рекомендацій по догляду за волоссям
            p.paragraph-text.text-color-lightdark.text-w-light.mb-0 Після процедури майстер детально розповість вам, як доглядати за шкірою між процедурами. Найголовніше правило — не впливати на фолікул. Не треба виривати волоски пінцетом, воском або цукровою пастою. Видаляти волосся на зоні епіляції між процедурами можна тільки станком для гоління, триммерами, ножицями. Ці методи знімають волосся з поверхні, не зачіпаючи фолікули.
  .consultation-bottom
    .container
      .row
        .col-12.col-xl-6
          .c-content
            .c-li.d-flex.align-items-center.left
              .custom-icon-number.mb-2
                p.text-color-dark 3
              p.paragraph-text.text-color-light.text-w-bold.mb-2.ml-2  Слідкуйте за гормональним фоном
            p.paragraph-text.text-opacity.text-w-light При гормональних скачках ріст волосся може активізуватися. Іноді ми бачимо, що небажане волосся може бути викликане внутрішніми проблемами із гормонами. Навіть якщо видалити волосся, внутрішні процеси в організмі будуть провокувати повторне активне зростання. Здоров'я — наш головний пріоритет. Тому в таких ситуаціях ми направляємо клієнток до вузьких спеціалістів для більш детального огляду та можливого лікування.
            .c-li.d-flex.align-items-center.left
              .custom-icon-number.mb-2
                p.text-color-dark 4
              p.paragraph-text.text-color-light.text-w-bold.mb-2.ml-2  Приходьте на профілактичні сеанси
            p.paragraph-text.text-opacity.text-w-light.mb-0 Через певний час після повного курсу лазерної епіляції ви можете помітити нові волоски. Це та сама частина волосся, яка на момент епіляції перебувала у фазі сну. Досить приходити 1 раз на рік, аби прибрати нові волоски і зберегти гладкий ефект.
        .col-12.col-xl-6
          .white-block-design
            p.extralarge-text-bg  epilation
            img(src="assets/img/laser-page/laser-after3.jpg" alt="service-laser-iamge" srcset="assets/img/laser-page/laser-after3@2x.jpg 2x")
