section.section.consultation-service
  .consultation-01
    .container
      .row
        .col-12.col-xl-6
          .c-content
            h2.h2-title Ми працюємо лазером Alma Lasers
            p.sub-title.paragraph-text.text-color-light.before Тому епіляція проходить так комфортно
            .d-line
            p.paragraph-text.text-color-light.text-w-light.mb-2.mb-lg-4 Ми видаляємо волосся лазером Soprano Ice Baby від ізраїльської компанії Alma Lasers, яка випускає б'юті-апарати нового покоління. Їх виготовляють на заводах в Ізраїлі, Німеччині та США.
            p.paragraph-text.text-color-light.text-w-light.mb-2.mb-lg-4 Ми вибрали для своїх салонів саме ці лазери. Тому що разом із небажаними волоссям вони руйнують стереотип про те, що лазерна епіляція — це муки та страждання.
            ul.info-list.mt-3
              li.paragraph-text.text-color-light.text-w-light.mb-3 <b>Не приносить біль</b> та неприємні відчуття під час процедури.
              li.paragraph-text.text-color-light.text-w-light.mb-3 Однаково <b>ефективно працює</b> на світлій та смаглявій шкірі.
              li.paragraph-text.text-color-light.text-w-light.mb-3 Підходить для <b>чутливої шкіри</b>
              li.paragraph-text.text-color-light.text-w-light.mb-3 Обробляє шкіру <b>швидше звичайного лазеру</b> завдяки техніці InMotion — постійного руху по ділянці, де проводиться епіляція.
              li.paragraph-text.text-color-light.text-w-light.mb-0 Готовий до роботи у пляжний сезон і <b>не шкодить засмаглій шкірі</b>.
        .col-12.col-xl-6.mt-2.mt-xl-0
          .white-block-design
            img(src="assets/img/laser-page/contraindications-img1.jpg" alt="position-img-2" srcset="assets/img/laser-page/contraindications-img1@2x.jpg 2x")
            p.extralarge-text-bg epilation
  .consultation-02
    .container
      .row.align-items-top
        .col-12.col-xl-6
          .white-block-design.ml-xl-auto
            img(src="assets/img/laser-page/contraindications-img2.jpg" alt="Как работает лазерная эпиляция" srcset="assets/img/laser-page/contraindications-img2@2x.jpg 2x")
        .col-12.col-xl-6
          .c-content
            h2.h2-title Як працює лазерна епіляція
            .d-line
            p.paragraph-text.text-color-light.text-w-light.mb-3 Перед тим, як видалити волосся лазером, варто влаштувати собі хвилинку біології і згадати циклічний обмін волосся на тілі. Наше волосся проходить різні фази свого розвитку:
            .c-li.d-flex.align-items-flex-start.mb-2.mt-2
              .custom-icon-number.mb-2
                p 1
              p.paragraph-text.text-color-light.text-w-light.mb-2.ml-2 <b>анаген</b> — період активного росту, який триває від 2 до 6 років;
            .c-li.d-flex.align-items-flex-start.mb-2.mt-2
              .custom-icon-number.mb-2
                p 2
              p.paragraph-text.text-color-light.text-w-light.mb-2.ml-2 <b>катаген</b> — перехідний період від однієї стадії до іншої;
            .c-li.d-flex.align-items-flex-start.mb-2.mt-2
              .custom-icon-number.mb-2
                p 3
              p.paragraph-text.text-color-light.text-w-light.mb-2.ml-2 <b>телоген</b> — період спокою, коли волосся майже непомітно для нас випадає і звільняє місце для нового активного волосся.
            p.paragraph-text.text-color-light.text-w-light.mb-3 Природа задумала такий процес, щоб волоски натуральним чином змінювали одне одного, а ми не помічали цих змін. Якби все наше волосся на тілі «синхронізувалося», частину часу ми б ходили зовсім безволосими і чекали, коли виростуть нові волоски.
            p.paragraph-text.text-color-light.text-w-light.mb-3 <b>Завдання лазерної епіляції</b> — опрацювати ті фолікули, з яких росте волосся в активній фазі. Завдяки процедурі згодом ці фолікули заростають сполучною тканиною і волосся звідти більше не росте.
            p.paragraph-text.text-color-light.text-w-light.mb-3 <b>Однак треба розуміти:</b> лазер не впливає на частину волосся у фазі сну. Воно знаходиться під шкірою і його не видно на поверхні, але рано чи пізно воно почне рости. Це нормально. Тому раз на рік після повного курсу лазерної епіляції варто приходити на профілактичний сеанс.



