section.section.accordion-answer
  .container
    h2.section-title.text-center Часто задаваемые вопросы
    p.section-subtitle.text-center Возможно, наши клиенты уже задали интересующий вас вопрос
    #accordionExample.accordion.mt-3
      .card
        #heading01.card-header
          h5.mb-0
            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse01', aria-expanded='true', aria-controls='collapse01')
              | Если я пройду полный курс лазерной эпиляции, волосы исчезнут навсегда?
        #collapse01.collapse(aria-labelledby='heading01', data-parent='#accordionExample')
          .card-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      .card
        #heading02.card-header
          h5.mb-0
            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse02', aria-expanded='true', aria-controls='collapse02')
              | Вы проводите лазерное удаление светлых пушковых волосы?
        #collapse02.collapse.show(aria-labelledby='heading02', data-parent='#accordionExample')
          .card-body
            |Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.
      .card
        #heading03.card-header
          h5.mb-0
            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse03', aria-expanded='true', aria-controls='collapse03')
              | Как еще я могу удалить волосы, если не хочу делать лазерную эпиляцию?
        #collapse03.collapse(aria-labelledby='heading03', data-parent='#accordionExample')
          .card-body
            | Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.
      .card
        #heading04.card-header
          h5.mb-0
            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse04', aria-expanded='true', aria-controls='collapse04')
              | Вы проводите лазерное удаление волос несовершеннолетним?
        #collapse04.collapse(aria-labelledby='heading04', data-parent='#accordionExample')
          .card-body
            | Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.
      .card
        #heading05.card-header
          h5.mb-0
            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse05', aria-expanded='true', aria-controls='collapse05')
              | Можно ли мужчинам удалить волосы в вашем центре? В какую стоимость?
        #collapse05.collapse(aria-labelledby='heading05', data-parent='#accordionExample')
          .card-body
            | Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.
      .card
        #heading06.card-header
          h5.mb-0
            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse06', aria-expanded='true', aria-controls='collapse06')
              | Какой вид эпиляции мне выбрать, если у меня рыжие волосы?
        #collapse06.collapse(aria-labelledby='heading06', data-parent='#accordionExample')
          .card-body
            | Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.
      .card
        #heading07.card-header
          h5.mb-0
            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse07', aria-expanded='true', aria-controls='collapse07')
              | Если я хочу избавиться от одного волоска, у вас для этого есть услуга одного импульса?
        #collapse07.collapse(aria-labelledby='heading07', data-parent='#accordionExample')
          .card-body
            | Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.
      .card
        #heading08.card-header
          h5.mb-0
            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse08', aria-expanded='true', aria-controls='collapse08')
              | Можно ли позволить себе лазерное удаление волос, если на эпилируемом участке у меня есть татуировка?
        #collapse08.collapse(aria-labelledby='heading08', data-parent='#accordionExample')
          .card-body
            | Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.
      .card
        #heading09.card-header
          h5.mb-0
            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse09', aria-expanded='true', aria-controls='collapse09')
              | У ваших мастеров есть медицинское образование?
        #collapse09.collapse(aria-labelledby='heading09', data-parent='#accordionExample')
          .card-body
            | Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.
      .card
        #heading10.card-header
          h5.mb-0
            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse10', aria-expanded='true', aria-controls='collapse10')
              | Какой стаж у ваших мастеров?
        #collapse10.collapse(aria-labelledby='heading10', data-parent='#accordionExample')
          .card-body
            | Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.






