section.section.advantages
  .container
    .row
      h2.section-title-white Кто сказал, что красота требует жертв?
      p.paragraph-text-light В Steffany совсем другой подход к эпиляции
    .row
      .col.m6.s12
        img(src="assets/img/advantages/advantages_1.png" alt="advantages-1")
        p.advantages-count 01
        h3.advantages-box-title
        p.paragraph-text-light У нас нет услуги «экстра комфорт», потому что лазер и так полностью безболезненный. Он прогревается до высоких температур, но при касании с кожей охлаждается до температуры -3 градуса.  Благодаря такой мощной системе охлаждения вы почувствуете просто прикосновение. Нано-эпиляция также не приносит болевых ощущений. А если вы хотите обезболивание при шугаринге или восковой эпиляции, мы ее сделаем.

      .col.m6.s12
        img(src="assets/img/advantages/advantages_2.png" alt="advantages-2")
        p.advantages-count 01
        h3.advantages-box-title
        p.paragraph-text-light Нельзя загорать? Лучше начинать с осени? Забудьте об этих устаревших правилах.  Наш лазер удаляет волосы на коже до 6-го фототипа, а это метисы и мулаты. Так что при вашем загаре он тоже справится. В зависимости от оттенка кожи мастер просто выставит на лазере определенные параметры, чтобы процедура прошла эффективно. Так что можете делать лазерную эпиляцию летом и не бояться негативного эффекта.

      .col.m6.s12
        img(src="assets/img/advantages/advantages_3.png" alt="advantages-3")
        p.advantages-count 01
        h3.advantages-box-title
        p.paragraph-text-light Наш лазер не сжигает волосяной фолликул, а прогревает его. Когда он видит в фолликуле пигмент, он действует строго на него, не рассеиваясь на пигмент в коже. Это значит, что лазер работает только с волосом и не затрагивает близлежащие ткани. Поэтому лазер не будет влиять на ваши внутренние органы и организм в целом.

      .col.m6.s12
        img(src="assets/img/advantages/advantages_4.png" alt="advantages-4")
        p.advantages-count 01
        h3.advantages-box-title
        p.paragraph-text-light Поход в салон — это радость, а не обязанность. Мы хотим, чтобы процедуры принесли вам только расслабление и приятные ощущения. Поэтому смело озвучивайте все, что вам необходимо. Чай, кофе, шампанское, поболтать или наоборот помолчать — мы подстроимся под ваше настроение и сделаем сеанс эпиляции максимально комфортным.
