section.section.almalaser
  p.extralarge-text-bg alma laser
  .container
    .row
      .col.m6.s12
        h2.section-title-dark Мы проводим удаление волос лазером от Alma Lasers
        p.paragraph-text-dark.mb-1.position Лазерная эпиляция в Steffany безболезненная и всесезонная благодаря нашему лазеру Soprano Ice Baby от израильской компании Alma Lasers. Его заводы находятся в Израиле, Германии и США. Это диодный лазер 2019 года выпуска.
          p.paragraph-text-dark.mb-1 Почему мы выбрали его?
          ul
            li
              p.paragraph-text-dark Никаких болезненных ощущений.
            li
              p.paragraph-text-dark Работает с кожей от 1-го до 6-го фототипа: от белоснежек до мулаток.
            li
              p.paragraph-text-dark Подходит для чувствительной кожи.
            li
              p.paragraph-text-dark Можно загорать уже на следующий день.
            li
              p.paragraph-text-dark Работает в движении, т.е. быстрее обычного.
            li
              p.paragraph-text-dark.mb-1 Разрушает волосяной фолликул не сжиганием, а прогреванием.
          p.paragraph-text-dark Наш лазер — доказательство того, что лазерная эпиляция может быть комфортной.
      .col.m6.s12
        img(src="assets/img/position-img_1.png" alt="position-img-1")

