section.section.almalaser
  .container
    .row
      .col-12.col-xl-6
        .c-content
          h2.h2-title.text-color-dark Мы проводим удаление волос лазером от Alma Lasers
          .d-line
          p.paragraph-text.text-color-lightdark.text-w-light.mb-2 Лазерная эпиляция в Steffany <b>безболезненная и всесезонная</b> благодаря нашему лазеру Soprano Ice Baby от израильской компании Alma Lasers. Его заводы находятся в Израиле, Германии и США. Это диодный лазер 2019 года выпуска.
            p.paragraph-text.text-color-lightdark.text-w-light Почему мы выбрали его?
            ul.info-list
              li
                p.paragraph-text.text-color-lightdark.text-w-light Никаких болезненных ощущений.
              li
                p.paragraph-text.text-color-lightdark.text-w-light Работает с кожей до 6-го фототипа.
              li
                p.paragraph-text.text-color-lightdark.text-w-light Подходит для чувствительной кожи.
              li
                p.paragraph-text.text-color-lightdark.text-w-light Можно загорать уже на следующий день.
              li
                p.paragraph-text.text-color-lightdark.text-w-light Работает в движении, т.е. быстрее обычного.
              li
                p.paragraph-text.text-color-lightdark.text-w-light Разрушает волосяной фолликул не сжиганием, а прогреванием.
            p.paragraph-text.text-color-lightdark.text-w-light Наш лазер — доказательство того, что лазерная эпиляция может быть комфортной.
      .col-12.col-xl-6
        .white-block-design
          img(src="assets/img/position-img_1.png" alt="position-img-1")
          p.extralarge-text-bg alma laser
