section.section.almalaser
  .container
    .row
      .col-12.col-xl-6
        .c-content
          h2.h2-title.text-color-dark Мы проводим удаление волос лазером от Alma Lasers
          .d-line
          p.paragraph-text.text-color-dark.mb-1.position Лазерная эпиляция в Steffany <strong>безболезненная и всесезонная</strong> благодаря нашему лазеру Soprano Ice Baby от израильской компании Alma Lasers. Его заводы находятся в Израиле, Германии и США. Это диодный лазер 2019 года выпуска.
            p.paragraph-text.text-color-dark Почему мы выбрали его?
            ul.info-list
              li
                p.paragraph-text.text-color-dark Никаких болезненных ощущений.
              li
                p.paragraph-text.text-color-dark Работает с кожей от 1-го до 6-го фототипа: от белоснежек до мулаток.
              li
                p.paragraph-text.text-color-dark Подходит для чувствительной кожи.
              li
                p.paragraph-text.text-color-dark Можно загорать уже на следующий день.
              li
                p.paragraph-text.text-color-dark Работает в движении, т.е. быстрее обычного.
              li
                p.paragraph-text.text-color-dark Разрушает волосяной фолликул не сжиганием, а прогреванием.
            p.paragraph-text.text-color-dark Наш лазер — доказательство того, что лазерная эпиляция может быть комфортной.
      .col-12.col-xl-6
        .white-block-design
          img(src="images/img/position-img_1.png" alt="position-img-1")
          p.extralarge-text-bg alma laser
