section.section.choose-service-icon
  .container
    h2.h2-title.text-center.text-color-dark Выбирайте зону для эпиляции
    .row
      .col-12.col-md-4.col-xl-2.c-content
        a.c-card(href="service.html#anc-face")
          img.icon-service-choose.img-01(src="" alt="choose-zone_1" srcset="assets/img/services-choose/choose-zone_1@2x.png 2x")
          p.choose-title.text-color-lightdark.text-w-bold Зона лица
      .col-12.col-md-4.col-xl-2.c-content
        a.c-card(href="service.html#anc-arms")
          img.icon-service-choose.img-02(src="" alt="choose-zone_2" srcset="assets/img/services-choose/choose-zone_2@2x.png 2x")
          p.choose-title.text-color-lightdark.text-w-bold Зона рук
      .col-12.col-md-4.col-xl-2.c-content
        a.c-card(href="service.html#anc-stomach")
          img.icon-service-choose.img-03(src="" alt="choose-zone_3" srcset="assets/img/services-choose/choose-zone_3@2x.png 2x")
          p.choose-title.text-color-lightdark.text-w-bold Зона спины
      .col-12.col-md-4.col-xl-2.c-content
        a.c-card(href="service.html#anc-stomach")
          img.icon-service-choose.img-04(src="" alt="choose-zone_4" srcset="assets/img/services-choose/choose-zone_4@2x.png 2x")
          p.choose-title.text-color-lightdark.text-w-bold Зона живота
      .col-12.col-md-4.col-xl-2.c-content
        a.c-card(href="service.html#anc-bikini")
          img.icon-service-choose.img-05(src="" alt="choose-zone_5" srcset="assets/img/services-choose/choose-zone_5@2x.png 2x")
          p.choose-title.text-color-lightdark.text-w-bold Интимная зона
      .col-12.col-md-4.col-xl-2.c-content
        a.c-card(href="service.html#anc-legs")
          img.icon-service-choose.img-06(src="" alt="choose-zone_6" srcset="assets/img/services-choose/choose-zone_6@2x.png 2x")
          p.choose-title.text-color-lightdark.text-w-bold Зона ног
