section.section.choose-service
  .container
    h2.section-title-dark.center.mb-2 Будьте уверены в чистоте и безопасности каждой процедуры
    .row
      .col-sm-12.col-md-6.col-lg-4.text-center.serves-box
        .custom-icon-number.mb-1
          p 1
        h4.serves-box__title.mb-1 Система стерилизации прямо в лазере
        p.serves-box__desc.mb-1 Сапфировый наконечник лазера имеет встроенную систему стерилизации. Он прогревается до такой высокой температуры, что разрушает все микроорганизмы и споры прямо внутри себя
      .col-sm-12.col-md-6.col-lg-4.text-center.serves-box
        .custom-icon-number.mb-1
          p 2
        h4.serves-box__title.mb-1 Система стерилизации прямо в лазере
        p.serves-box__desc.mb-1 Сапфировый наконечник лазера имеет встроенную систему стерилизации. Он прогревается до такой высокой температуры, что разрушает все микроорганизмы и споры прямо внутри себя
      .col-sm-12.col-md-6.col-lg-4.text-center.serves-box
        .custom-icon-number.mb-1
          p 3
        h4.serves-box__title.mb-1 Система стерилизации прямо в лазере
        p.serves-box__desc.mb-1 Сапфировый наконечник лазера имеет встроенную систему стерилизации. Он прогревается до такой высокой температуры, что разрушает все микроорганизмы и споры прямо внутри себя
      .col-sm-12.col-md-6.col-lg-4.text-center.serves-box
        .custom-icon-number.mb-1
          p 4
        h4.serves-box__title.mb-1 Система стерилизации прямо в лазере
        p.serves-box__desc.mb-1 Сапфировый наконечник лазера имеет встроенную систему стерилизации. Он прогревается до такой высокой температуры, что разрушает все микроорганизмы и споры прямо внутри себя
      .col-sm-12.col-md-6.col-lg-4.text-center.serves-box
        .custom-icon-number.mb-1
          p 5
        h4.serves-box__title.mb-1 Система стерилизации прямо в лазере
        p.serves-box__desc.mb-1 Сапфировый наконечник лазера имеет встроенную систему стерилизации. Он прогревается до такой высокой температуры, что разрушает все микроорганизмы и споры прямо внутри себя
      .col-sm-12.col-md-6.col-lg-4.text-center.serves-box
        .custom-icon-number.mb-1
          p 6
        h4.serves-box__title.mb-1 Система стерилизации прямо в лазере
        p.serves-box__desc.mb-1 Сапфировый наконечник лазера имеет встроенную систему стерилизации. Он прогревается до такой высокой температуры, что разрушает все микроорганизмы и споры прямо внутри себя
    h2.section-title-dark.center.mb-2 Выбирайте зону для эпиляции
    .row
      .col-lg-2.col-md-4.col-sm-12.choose-zone-box
        img.icon-service-choose(src="images/img/services-choose/choose-zone_1.png" alt="choose-zone_1")
        p.choose-zone-box__desc.center Зога лица
      .col-lg-2.col-md-4.col-sm-12.choose-zone-box
        img.icon-service-choose(src="images/img/services-choose/choose-zone_2.png" alt="choose-zone_2")
        p.choose-zone-box__desc.center Зога рук
      .col-lg-2.col-md-4.col-sm-12.choose-zone-box
        img.icon-service-choose(src="images/img/services-choose/choose-zone_3.png" alt="choose-zone_3")
        p.choose-zone-box__desc.center Зога спины
      .col-lg-2.col-md-4.col-sm-12.choose-zone-box
        img.icon-service-choose(src="images/img/services-choose/choose-zone_4.png" alt="choose-zone_4")
        p.choose-zone-box__desc.center Зога живота
      .col-lg-2.col-md-4.col-sm-12.choose-zone-box
        img.icon-service-choose(src="images/img/services-choose/choose-zone_5.png" alt="choose-zone_5")
        p.choose-zone-box__desc.center Интимная зона
      .col-lg-2.col-md-4.col-sm-12.choose-zone-box
        img.icon-service-choose(src="images/img/services-choose/choose-zone_6.png" alt="choose-zone_6")
        p.choose-zone-box__desc.center Зога ног
