section.section.choose-service
  .container
    h2.h2-title.text-color-dark.text-center Будьте уверены в чистоте и безопасности каждой процедуры
    .row
      .col-12.col-xl-4.text-center.serves-box.mb-5
        .c-content
          .custom-icon-number.mb-3
            p 1
          h4.paragraph-text.text-color-dark.text-w-bold.mb-3 Система стерилизации прямо в лазере
          p.paragraph-text.text-color-lightdark.text-w-light.mb-1 Сапфировый наконечник лазера имеет встроенную систему стерилизации. Он прогревается до такой высокой температуры, что разрушает все микроорганизмы и споры
      .col-12.col-xl-4.text-center.serves-box.mb-5
        .c-content
          .custom-icon-number.mb-3
            p 2
          h4.paragraph-text.text-color-dark.text-w-bold.mb-3 Обработка лазера и кабинета после каждого клиента
          p.paragraph-text.text-color-lightdark.text-w-light.mb-1 Мы обрабатываем 70%-м спиртом наконечник лазера после каждого клиента. Также каждое утро мы готовим рабочий раствор, которым дезинфицируем всю мебель и аппарат на рабочем месте
      .col-12.col-xl-4.text-center.serves-box.mb-5
        .c-content
          .custom-icon-number.mb-3
            p 3
          h4.paragraph-text.text-color-dark.text-w-bold.mb-3 Одноразовые инструменты
          p.paragraph-text.text-color-lightdark.text-w-light.mb-1 Во время вашего сеанса мастер использует преимущественно одноразовые инструменты. Бритвенный станок, деревянный шпатель, ватные диски, перчатки утилизируются после вашего визита
      .col-12.col-xl-4.text-center.serves-box.mb-5.mb-xl-0
        .c-content
          .custom-icon-number.mb-3
            p 4
          h4.paragraph-text.text-color-dark.text-w-bold.mb-3 Защитные очки во время работы лазера
          p.paragraph-text.text-color-lightdark.text-w-light.mb-1 Чтобы защитить ваши глаза от лазерных лучей, мастер выдает вам защитные очки. Следите за процедурой безопасно для своего зрения
      .col-12.col-xl-4.text-center.serves-box.mb-5.mb-xl-0
        .c-content
          .custom-icon-number.mb-3
            p 5
          h4.paragraph-text.text-color-dark.text-w-bold.mb-3 Медкнижка у каждого мастера
          p.paragraph-text.text-color-lightdark.text-w-light.mb-1 Медкнижка — обязательное условие при приеме на работу. У всех наших мастеров есть медкнижка, они регулярно проходят медкомиссию и обновляют осмотры
      .col-12.col-xl-4.text-center.serves-box.mb-5.mb-xl-0
        .c-content
          .custom-icon-number.mb-3
            p 6
          h4.paragraph-text.text-color-dark.text-w-bold.mb-3 Защита родинок от лазерных лучей
          p.paragraph-text.text-color-lightdark.text-w-light.mb-1 На консультации мастер осматривает родинки в эпилируемых зонах. Если родинки не возвышаются над кожей, он заклеивает их медицинским пластырем для защиты от лазера





