section.section.consultation-form.pt-8.pb-0
  .container
    .row
      .col-12.col-md-6.col-lg-7
        .c-content.ml-lg-7
          h3.c-title.section-title.text-w-light Запишитесь на консультацию <span class="text-w-regular">прямо сейчас</span> и получите скидку 10%
          p.c-desc.paragraph-text.text-w-light Раздел медицины, занимающийся лечением заболеваний стопы и голени, объединяющий знания по ортопедии, травматологии, сосудистой и гнойной хирургии, нейрохирургии.
      .col-12.col-md-6.col-lg-5.no-gutters.media-gutters.mt-5.mt-sm-0
        form.main-form.d-flex.flex-column.align-items-center.pt-5.pb-6
          .h3-title.text-uppercase.text-color-dark.text-center Оставьте ваши данные
          p.paragraph-text.text-color-dark.text-center.mb-4 и мы вам перезвоним
          .form-group
            input#inputName.form-control(type='text', aria-describedby='emailHelp', placeholder='Имя')
          .form-group
            input#inputEmail.form-control(type='email', aria-describedby='emailHelp', placeholder='Email')
          .form-group
            input#inputTell.form-control(type='tel', placeholder='Телефон')

          button.btn.btn-primary.mt-4(type='submit') перезвоните мне
          small.small-label.mt-4 * мы наберем вас в течении 15 минут

