section.section.consultation
  .consultation-top.mb-7
    .container
      .row
        .col-sm-12.col-md-6
          h2.section-title-light.mb-1 Лазерная эпиляция начинается с консультации
          p.paragraph-text-light.mb-2 Главная задача консультации — чтобы вы были спокойны и уверенны в процедуре
          p.paragraph-text-light.mb-1 Консультация — это первый и обязательный этап лазерной эпиляции. На ней вы получаете ответы на все свои вопросы, а мы убеждаемся, какой курс процедур вам назначить для наилучшего результата.
          p.paragraph-text-light.mb-1 Как же проходит консультация?
          .custom-icon-number.mb-1
            p 1
          p.paragraph-text-light.mb-1 Мы знакомимся и заполняем карту клиента
          p.paragraph-text-light.mb-1 Для начала мы выясняем, есть ли у вас опыт процедуры лазерной эпиляции. От этого зависит вся дальнейшая беседа. Ведь если вы уже удаляли волосы лазером, наверняка точно понимаете свои требования к процедуре. А если нет — у вас может быть много вопросов.
          p.paragraph-text-light.mb-1 Во время разговора мы попутно заполняем вашу индивидуальную карту клиента. Там мы собираем анамнез — информацию о состоянии вашего здоровья. Мы общаемся с вами и проводим поверхностный осмотр, чтобы узнать сведения о вашей коже, возможных хронических заболеваниях, приеме препаратов, гормональном фоне, аллергических реакциях и т.д.. Все это поможет сделать дальнейшую процедуру максимально безопасной.
        .col-sm-12.col-md-6
          img(src="assets/img/position-img_2.png" alt="position-img-2")
  .consultation-middle
    .container
      .row
        .col-sm-12.col-md-6
          img(src="assets/img/position-img_3.png" alt="position-img-3")
        .col-sm-12.col-md-6
          .custom-icon-number.mb-1
            p 2
          p.paragraph-text-light.mb-1 Рассказываем о лазере и его эффекте
          p.paragraph-text-light.mb-1 Мы рассказываем, как работает лазер и как будут уходить волосы. Каждая вторая наша клиентка с опытом лазерной эпиляции удивляется, что мы обещаем полную безболезненность и всесезонность. Однако это правда: лазер не ощущается на коже и его можно делать летом, а уже на следующий день идти на пляж.
          p.paragraph-text-light.mb-1 Также подробно рассказываем, как будут уходить волосы. Этот процесс тоже отличается от лазеров предыдущего поколения. Мы не выжигаем волосяной фолликул, а прогреваем его. Поэтому эффект вы увидите на 10-14 день, когда кожа начнет выталкивать мертвые волосы. На консультации вы подробно узнаете о таких моментах и зададите необходимые вопросы.
          .custom-icon-number.mb-1
            p 3
          p.paragraph-text-light.mb-1 Сообщаем обо всех противопоказаниях
          p.paragraph-text-light.mb-1 У нашего лазера есть абсолютные и относительные противопоказания. Большинство из них нужно обсуждать индивидуально. Мы поговорим об этом на консультации и вместе поймем, подходит ли вам удаление волос с помощью лазера.
          p.paragraph-text-light.mb-1 После этого вы подписываете информационное соглашение о том, что мы провели с вами беседу и ознакомили со всеми тонкостями и особенностями процесса. Спрашивайте нас обо всем, что вас интересует. Нам важно, чтобы вы действительно были довольны результатом.
  .consultation-bottom
    .container
      .row
        .col-sm-12.col-md-6
          .custom-icon-number-dark.mb-1
            p 4
          p.paragraph-text-dark.mb-1 Составляем график процедур
          p.paragraph-text-dark.mb-1 Когда у нас есть вся необходимая информация о вас, мы можем сказать вам количество процедур в курсе. В среднем это 6-8 сеансов, но может понадобиться и больше. Все зависит от ваших волос, кожи, а также общих физиологических особенностей роста волос.
          p.paragraph-text-dark.mb-1 Также на консультации мы определяем, как часто вам нужно ходить на процедуры лазерной эпиляции. Постарайтесь придерживаться этого графика — от него реально зависит результат всей затеи.
          .custom-icon-number-dark.mb-1
            p 5
          p.paragraph-text-dark.mb-1 Проводим тест-драйв
          p.paragraph-text-dark.mb-1 Наш лазер подходит для чувствительной кожи и вообще является спасением от раздражений и вросших волос. Однако мы обязательно проводим тест-драйв на небольшом участке вашей кожи. Так мы увидим, как ваша кожа реагирует на лазер и готова ли она к процедуре. Лично мы уверены: все будет хорошо!
        .col-sm-12.col-md-6
          img(src="assets/img/position-img_4.png" alt="position-img-4")


