section.section.consultation
  .consultation-01
    .container
      .row
        .col-12.col-xl-6.mb-3.ml-xl-0
          .c-content
            h2.h2-title.text-color-light.mb-3 Лазерная эпиляция <br> начинается с консультации
            p.paragraph-text.text-color-light.text-w-bold.mb-5 Главная задача консультации — чтобы вы были спокойны и уверенны в процедуре
            p.paragraph-text.text-color-light.text-w-light.mb-2 Консультация — это первый и обязательный этап лазерной эпиляции. На ней вы получаете ответы на все свои вопросы, а мы убеждаемся, какой курс процедур вам назначить для наилучшего результата.
            p.paragraph-text.text-color-light.text-w-light.mb-2 Как же проходит консультация?
            .c-li.d-flex.align-items-center.mb-2.mt-2
              .custom-icon-number.mb-2
                p.paragraph-text.text-color-dark 1
              p.paragraph-text.text-color-light.mb-2.ml-2 Мы знакомимся и заполняем карту клиента
            p.paragraph-text.text-color-light.text-w-light.mb-2 Для начала мы выясняем, есть ли у вас опыт процедуры лазерной эпиляции. От этого зависит вся дальнейшая беседа. Ведь если вы уже удаляли волосы лазером, наверняка точно понимаете свои требования к процедуре. А если нет — у вас может быть много вопросов.
            p.paragraph-text.text-color-light.text-w-light.mb-2 Во время разговора мы попутно заполняем вашу индивидуальную карту клиента. Там мы собираем анамнез — информацию о состоянии вашего здоровья. Мы общаемся с вами и проводим поверхностный осмотр, чтобы узнать сведения о вашей коже, возможных хронических заболеваниях, приеме препаратов, гормональном фоне, аллергических реакциях и т.д.. Все это поможет сделать дальнейшую процедуру максимально безопасной.
        .col-12.col-xl-6.mt-2.mt-xl-0
          .white-block-design
            img(src="assets/img/position-img_2.png" alt="position-img-2")
            p.extralarge-text-bg epilation
  .consultation-02
    .container
      .row.align-items-top
        .col-12.col-xl-6
          .white-block-design
            img(src="assets/img/position-img_3.png" alt="position-img-3")
        .col-12.col-xl-6
          .c-content
            .c-li.d-flex.align-items-center.mb-2.mt-2
              .custom-icon-number.mb-2
                p 2
              p.paragraph-text.text-color-light.text-w-bold.mb-2.ml-2 Рассказываем о лазере и его эффекте
            p.paragraph-text.text-color-light.text-w-light.mb-2 Мы рассказываем, как работает лазер и как будут уходить волосы. Каждая вторая наша клиентка с опытом лазерной эпиляции удивляется, что мы обещаем полную безболезненность и всесезонность. Однако это правда: лазер не ощущается на коже и его можно делать летом, а уже на следующий день идти на пляж.
            p.paragraph-text.text-color-light.text-w-light.mb-2 Также подробно рассказываем, как будут уходить волосы. Этот процесс тоже отличается от лазеров предыдущего поколения. Мы не выжигаем волосяной фолликул, а прогреваем его. Поэтому эффект вы увидите на 10-14 день, когда кожа начнет выталкивать мертвые волосы. На консультации вы подробно узнаете о таких моментах и зададите необходимые вопросы.
            .c-li.d-flex.align-items-center.mb-2.mt-2
              .custom-icon-number.mb-2
                p 3
              p.paragraph-text.text-color-bold.mb-2.ml-2 Сообщаем обо всех противопоказаниях
            p.paragraph-text.text-color-light.text-w-light.mb-2 У нашего лазера есть абсолютные и относительные противопоказания. Большинство из них нужно обсуждать индивидуально. Мы поговорим об этом на консультации и вместе поймем, подходит ли вам удаление волос с помощью лазера.
            p.paragraph-text.text-color-light.text-w-light.mb-2 После этого вы подписываете информационное соглашение о том, что мы провели с вами беседу и ознакомили со всеми тонкостями и особенностями процесса. Спрашивайте нас обо всем, что вас интересует. Нам важно, чтобы вы действительно были довольны результатом.

