section.section.consultation-form
  .container
    .row
      .col-12.col-md-6.col-lg-7
        .c-content
          h2.h2-title.c-title.h1-title.text-w-light Запишитесь на консультацию <b>прямо сейчас</b> и получите <b>скидку 10%</b>
          .d-line
          p.c-desc.paragraph-text.text-w-light Раздел медицины, занимающийся лечением заболеваний стопы и голени, объединяющий знания по ортопедии, травматологии, сосудистой и гнойной хирургии, нейрохирургии.
      .col-12.col-md-6.col-lg-5.no-gutters.media-gutters
        .container-fluid
        form.main-form.d-flex.flex-column.align-items-center.pt-5.mt-4.mt-md-0
          .h3-title.text-uppercase.text-color-dark.text-center Оставьте ваши данные
          p.paragraph-text.text-color-dark.text-center.mb-4 и мы вам перезвоним
          .form-group
            input#inputName.form-control(type='text', aria-describedby='emailHelp', placeholder='Имя')
          .form-group
            input#inputEmail.form-control(type='email', aria-describedby='emailHelp', placeholder='Email')
          .form-group
            input#inputTell.form-control(type='tel', placeholder='Телефон')
          button.btn-callback.mt-3 перезвоните мне
            svg.first-svg(width='10', height='16', viewbox='0 0 10 16', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M8.8373 0H1.1627C0.523313 0 0 0.485943 0 1.08069V14.9189C0 15.5136 0.523313 16 1.1627 16H8.8373C9.47669 16 10 15.5145 10 14.9193V1.08069C10 0.485943 9.47669 0 8.8373 0ZM3.77238 0.778971H6.22762C6.30533 0.778971 6.36829 0.837486 6.36829 0.910171C6.36829 0.9824 6.30533 1.04091 6.22762 1.04091H3.77238C3.69467 1.04091 3.63171 0.9824 3.63171 0.910171C3.63171 0.837486 3.69467 0.778971 3.77238 0.778971ZM5 15.4597C4.67883 15.4597 4.41865 15.2178 4.41865 14.9189C4.41865 14.6199 4.67883 14.3785 5 14.3785C5.32117 14.3785 5.58135 14.6199 5.58135 14.9189C5.58135 15.2178 5.32117 15.4597 5 15.4597ZM9.19093 14H0.809069V1.71383H9.19093V14Z', fill='#4D5259')
            svg.second-svg.svg-light(width='11', height='8', viewbox='0 0 11 8', xmlns='http://www.w3.org/2000/svg')
              path(d='M10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0 4.5H10V3.5H0V4.5Z')

          small.small-label.mt-3 * мы наберем вас в течении 15 минут
          img(src="/images/img/logo-bg.png")
