section.section.consultation-form
  .container
    .row
      .offset-lg-1.col-12.col-md-6.col-lg-6
        .c-content.ml-lg-4
          h2.h2-title.c-title.h1-title.text-w-light Запишитесь на консультацию <b>прямо сейчас</b> и получите <b>скидку 10%</b>
          .d-line
          p.c-desc.paragraph-text.text-w-light Раздел медицины, занимающийся лечением заболеваний стопы и голени, объединяющий знания по ортопедии, травматологии, сосудистой и гнойной хирургии, нейрохирургии.
      .col-12.col-md-6.col-lg-5.no-gutters.media-gutters
        .container-fluid
        form.main-form.d-flex.flex-column.align-items-center.pt-5.mt-4.mt-md-0
          .h3-title.text-uppercase.text-color-dark.text-center Оставьте ваши данные
          p.paragraph-text.text-color-dark.text-center.mb-4 и мы вам перезвоним
          .form-group
            input#inputName.form-control(type='text', aria-describedby='emailHelp', placeholder='Имя')
          .form-group
            input#inputEmail.form-control(type='email', aria-describedby='emailHelp', placeholder='Email')
          .form-group
            input#inputTell.form-control(type='tel', placeholder='Телефон')
          +btnCallbackForm('перезвоните мне')

          small.small-label.mt-3 * мы наберем вас в течении 15 минут
          img(src="assets/img/logo-bg.png")
