section.section.consultation-form
  .container
    .row
      .col-sm-12.col-md-6
        h3.section-title.text-w-regular Запишитесь на консультацию прямо сейчас и получите скидку
        p.paragraph-text.text-w-light Раздел медицины, занимающийся лечением заболеваний стопы и голени, объединяющий знания по ортопедии, травматологии, сосудистой и гнойной хирургии, нейрохирургии.
      .col-sm-12.col-md-6
        .card
          form
            .form-group.row
              label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Email
              .col-sm-10
                input#colFormLabelSm.form-control.form-control-sm(type='email', placeholder='col-form-label-sm')
            .form-group.row
              label.col-sm-2.col-form-label(for='colFormLabel') Email
              .col-sm-10
                input#colFormLabel.form-control(type='email', placeholder='col-form-label')
            .form-group.row
              label.col-sm-2.col-form-label.col-form-label-lg(for='colFormLabelLg') Email
              .col-sm-10
                input#colFormLabelLg.form-control.form-control-lg(type='email', placeholder='col-form-label-lg')
