section.section.consultation-form
  .container
    .row
      .col-12.col-md-6.col-lg-7
        .c-content.ml-lg-7
          h2.h2-title.c-title.h1-title.text-w-light Запишитесь на консультацию <b>прямо сейчас</b> и получите <b>скидку 10%</b>
          .d-line
          p.c-desc.paragraph-text.text-w-light Раздел медицины, занимающийся лечением заболеваний стопы и голени, объединяющий знания по ортопедии, травматологии, сосудистой и гнойной хирургии, нейрохирургии.
      .col-12.col-md-6.col-lg-5.no-gutters.media-gutters.mt-5.mt-sm-0
        .container-fluid
        form.main-form.d-flex.flex-column.align-items-center.pt-5.pb-6
          .h3-title.text-uppercase.text-color-dark.text-center Оставьте ваши данные
          p.paragraph-text.text-color-dark.text-center.mb-4 и мы вам перезвоним
          .form-group
            input#inputName.form-control(type='text', aria-describedby='emailHelp', placeholder='Имя')
          .form-group
            input#inputEmail.form-control(type='email', aria-describedby='emailHelp', placeholder='Email')
          .form-group
            input#inputTell.form-control(type='tel', placeholder='Телефон')
          button.btn.btn-primary.mt-3(type='submit') перезвоните мне
          small.small-label.mt-3 * мы наберем вас в течении 15 минут

