section.section.consultation-form
  .container
    .row
      .offset-xl-1.col-12.col-md-6.col-xl-6
        .c-content.ml-lg-4
          h2.h2-title.c-title.h1-title.text-w-light Запишитесь на консультацию <b>прямо сейчас</b>
          h2.h2-title.c-title_color.h1-title.text-w-bold и получите экспресс-тест
          h2.h2-title.c-title_large.h1-title в подарок
      .col-12.col-md-6.col-xl-5.no-gutters.media-gutters
        .container-fluid
        form.main-form.d-flex.flex-column.align-items-center.pt-5.mt-4.mt-md-0
          h4.h4-title.text-uppercase.text-color-dark.text-w-bold.text-center Оставьте ваши данные
          p.paragraph-text.text-color-lightdark.text-center.mb-38 и мы вам перезвоним
          .form-group
            input#fullnameConsult.form-control(type='text', aria-describedby='emailHelp', placeholder='Имя')
          .form-group
            input#emailConsult.form-control(type='email', aria-describedby='emailHelp', placeholder='Email')
          .form-group
            input#phoneConsult.form-control(type='tel', placeholder='Телефон')
          //+btnCallbackForm('перезвоните мне')('etst')
          #consult.btn-callback
            .text-section
              +phoneSvg
              span перезвоните
            .arrow-section
              +arrowSvg
          small.small-label.mt-3 * мы наберем вас в течении 15 минут
          img(src="assets/img/logo-bg.png")
