section.section.custom-consultation
  .container
    .row
      .col-12.col-xl-6
        .c-content
          .c-li.d-flex.align-items-center.mb-2
            .custom-icon-number.custom-bg-dark.mb-2
              p 4
            p.paragraph-text.text-color-lightdark.text-w-bold.mb-2.ml-2 Составляем график процедур
          p.paragraph-text.text-color-lightdark.text-w-light.mb-2 Когда у нас есть вся необходимая информация о вас, мы можем сказать вам количество процедур в курсе. В среднем это 6-8 сеансов, но может понадобиться и больше. Все зависит от ваших волос, кожи, а также общих физиологических особенностей роста волос.
          p.paragraph-text.text-color-lightdark.text-w-light.mb-2 Также на консультации мы определяем, как часто вам нужно ходить на процедуры лазерной эпиляции. Постарайтесь придерживаться этого графика — от него реально зависит результат всей затеи.
          .c-li.d-flex.align-items-center.mb-2
            .custom-icon-number.custom-bg-dark.mb-2
              p 5
            p.paragraph-text.text-color-lightdark.text-w-bold.mb-2.ml-2 Проводим тест-драйв
          p.paragraph-text.text-color-lightdark.text-w-light.mb-5 Наш лазер подходит для чувствительной кожи и вообще является спасением от раздражений и вросших волос. Однако мы обязательно проводим тест-драйв на небольшом участке вашей кожи. Так мы увидим, как ваша кожа реагирует на лазер и готова ли она к процедуре. Лично мы уверены: все будет хорошо!
      .col-12.col-xl-6
        .white-block-design
          img(src="assets/img/homepage/cansultation-03.jpg" alt="position-img-2" srcset="assets/img/homepage/cansultation-03@2x.jpg 2x")
          p.extralarge-text-bg laser epilation
