section.section.discount
  .container
    .row.flex-column.align-items-center
      h2.section-title-dark Комплексные предложения
      p.paragraph-text-dark Только 1 день скидки на пакеты обученияот 18% до 27%
      p.paragraph-text-dark 22 : 22 : 22
      img(src="images/img/check-female.png" alt="check-female")
    .row.no-gutters
      .col-md-4
        .card
          h3.text-center Minimum
          .row
            .col
              ul
                li
                  p.paragraph-text-dark Бикини глубокое
                  p.paragraph-text-dark Подмышечные области
            .col
              p 2 000 грн
              p 1 730 грн
          a.btn оплатить
          a.btn записаться
      .col-md-4
        .card
          h3.text-center Minimum
          .row
            .col
              ul
                li
                  p.paragraph-text-dark Бикини глубокое
                  p.paragraph-text-dark Подмышечные области
            .col
              p 2 000 грн
              p 1 730 грн
          a.btn оплатить
          a.btn записаться
      .col-md-4
        .card
          h3.text-center Minimum
          .row
            .col
              ul
                li
                  p.paragraph-text-dark Бикини глубокое
                  p.paragraph-text-dark Подмышечные области
            .col
              p 2 000 грн
              p 1 730 грн
          a.btn оплатить
          a.btn записаться
