section.section.discount
  .container
    .row.flex-column.align-items-center
      h2.section-title.text-color-dark Комплексные предложения
      p.paragraph-text.text-color-dark Только 1 день скидки на пакеты обученияот 18% до 27%
      p.paragraph-text.text-color-dark.text-w-bold  22 : 22 : 22
      img(src="assets/img/check-female.png" alt="check-female")
    .row.no-gutters
      .col-12.col-xl-4
        .c-content.p-4.border
          .d-discount
          h4.h4-title.text-color-dark.text-w-bold.text-center.mb-5 Minimum
          .row.mb-5
            .col
              ul.info-list
                li
                  p.paragraph-text.text-color-dark.text-w-light.mb-2 Бикини глубокое
                li
                  p.paragraph-text.text-color-dark.text-w-light Подмышечные области
            .col
              p.paragraph-text.text-color-dark.text-w-bold 2 000 грн
              p.paragraph-text.text-color-dark.text-w-bold 1 730 грн
          .c-btn
            +btnPen('записаться')
            +btnCaset('оплатить')
      .col-12.col-xl-4
        .c-content.p-4.border
          .d-discount
          h4.h4-title.text-color-dark.text-w-bold.text-center.mb-5 Standart
          .row.mb-5
            .col
              ul.info-list
                li
                  p.paragraph-text.text-color-dark.text-w-light.mb-2 Бикини глубокое
                li
                  p.paragraph-text.text-color-dark.text-w-light Подмышечные области
            .col
              p.paragraph-text.text-color-dark.text-w-bold 2 000 грн
              p.paragraph-text.text-color-dark.text-w-bold 1 730 грн
          .c-btn
            +btnPen('записаться')
            +btnCaset('оплатить')
      .col-12.col-xl-4
        .c-content.p-4.border
          .d-discount
          h4.h4-title.text-color-dark.text-w-bold.text-center.mb-5 Maximum
          .row.mb-5
            .col
              ul.info-list
                li
                  p.paragraph-text.text-color-dark.text-w-light.mb-2 Бикини глубокое
                li
                  p.paragraph-text.text-color-dark.text-w-light Подмышечные области
            .col
              p.paragraph-text.text-color-dark.text-w-bold 2 000 грн
              p.paragraph-text.text-color-dark.text-w-bold 1 730 грн
          .c-btn
            +btnPen('записаться')
            +btnCaset('оплатить')

