section.section.discount
  .container
    .row.flex-column.align-items-center
      h2.h2-title.text-color-dark.text-center Комплексные предложения
      p.paragraph-text.text-color-lightdark Курсом <b>дешевле!</b>
      p.timer-text.mb-0 22 : 22 : 22
      .checkbox-wrapper.mb-5
        input(type="checkbox" class="checkbox")
    .row
      .col-12.col-xl-4
        .box-wrap
          .c-content
            h4.discount-title.text-color-dark.text-w-bold.text-center Глубокое бикини
            p.paragraph-text.text-color-lightdark.text-center Скидка <span class="bold">35%</span"> 8 процедур  — <span class="line-through"> 7760 </span>  <span class="bold">5044 грн</span>
            .c-btn
              +btnCaset('оплатить')
              +btnPen('записаться')
      .col-12.col-xl-4
        .box-wrap
          .c-content
            h4.discount-title.text-color-dark.text-w-bold.text-center Подмышки
            p.paragraph-text.text-color-lightdark.text-center При оплате <b>6 процедур</b> любой <br> зоны наперед
            //.row.mb-5
            //  .col
            //    ul.info-list
            //      li
            //        p.paragraph-text.text-color-lightdark.text-w-light.mb-2 Бикини глубокое
            //      li
            //        p.paragraph-text.text-color-lightdark.text-w-light Подмышечные области
            //  .col
            //    p.paragraph-text.text-color-lightdark.text-w-bold 2 000 грн
            //    p.paragraph-text.text-color-lightdark.text-w-bold 1 730 грн
            .c-btn
              +btnCaset('оплатить')
              +btnPen('записаться')
      .col-12.col-xl-4
        .box-wrap
          .c-content
            h4.discount-title.text-color-dark.text-w-bold.text-center Ноги полностью
            p.paragraph-text.text-color-lightdark.text-center При оплате <b>8 процедур</b> любой <br> зоны наперед
            //.row.mb-5
            //  .col
            //    ul.info-list
            //      li
            //        p.paragraph-text.text-color-lightdark.text-w-light.mb-2 Бикини глубокое
            //      li
            //        p.paragraph-text.text-color-lightdark.text-w-light Подмышечные области
            //  .col
            //    p.paragraph-text.text-color-lightdark.text-w-bold 2 000 грн
            //    p.paragraph-text.text-color-lightdark.text-w-bold 1 730 грн
            .c-btn
              //button.btn.svg-light.btn-first оплатить
              //  +casetSvg
              +btnCaset('оплатить')
              +btnPen('записаться')
