section.section.discount
  .container
    .row.flex-column.align-items-center
      h2.h1-title.text-color-dark Комплексные предложения
      p.paragraph-text.text-color-dark Только 1 день скидки на пакеты обученияот 18% до 27%
      p.paragraph-text.text-color-dark.text-w-bold  22 : 22 : 22
      img(src="assets/img/check-female.png" alt="check-female")
    .row.no-gutters
      .col-md-4
        .c-content.p-4.border
          h4.h4-title.text-color-dark.text-w-bold.text-center.mb-4 Minimum
          .row
            .col
              ul.info-list
                li
                  p.paragraph-text.text-color-dark.text-w-light Бикини глубокое
                li
                  p.paragraph-text.text-color-dark.text-w-light Подмышечные области
            .col
              p.paragraph-text.text-color-dark.text-w-bold 2 000 грн
              p.paragraph-text.text-color-dark.text-w-bold 1 730 грн
          .row.justify-content-center
            a.btn оплатить
            a.btn записаться
      .col-md-4
        .c-content.p-4.border
          h4.h4-title.text-color-dark.text-w-bold.text-center.mb-4 Standart
          .row
            .col
              ul.info-list
                li
                  p.paragraph-text.text-color-dark.text-w-light Бикини глубокое
                li
                  p.paragraph-text.text-color-dark.text-w-light Подмышечные области
            .col
              p.paragraph-text.text-color-dark.text-w-bold 2 000 грн
              p.paragraph-text.text-color-dark.text-w-bold 1 730 грн
          .row.justify-content-center
            a.btn оплатить
            a.btn записаться
      .col-md-4
        .c-content.p-4.border
          h4.h4-title.text-color-dark.text-w-bold.text-center.mb-4 Maximum
          .row
            .col
              ul.info-list
                li
                  p.paragraph-text.text-color-dark.text-w-light Бикини глубокое
                li
                  p.paragraph-text.text-color-dark.text-w-light Подмышечные области
            .col
              p.paragraph-text.text-color-dark.text-w-bold 2 000 грн
              p.paragraph-text.text-color-dark.text-w-bold 1 730 грн
          .row.justify-content-center
            a.btn оплатить
            a.btn записаться
