section.section.four-boxes-01
  .container
    h2.h1-title.text-color-light.text-center Кто сказал, что красота требует жертв?
    p.paragraph-text.text-color-light.text-center В Steffany совсем другой подход к эпиляции
    .row
      .col-12.col-lg-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4
            img(src="assets/img/four-boxes/advantages_1.png" alt="four-boxes-1")
          .col-12.col-md-8.col-xl-8
            p.bnf-number 01
            h3.h3-title.text-uppercase.mb-3 Никакой боли
            p.paragraph-text.text-color-light.text-w-light У нас нет услуги «экстра комфорт», потому что лазер и так полностью безболезненный. Он прогревается до высоких температур, но при касании с кожей охлаждается до температуры -3 градуса.  Благодаря такой мощной системе охлаждения вы почувствуете просто прикосновение. Нано-эпиляция также не приносит болевых ощущений. А если вы хотите обезболивание при шугаринге или восковой эпиляции, мы ее сделаем.

      .col-12.col-lg-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4
            img(src="assets/img/four-boxes/advantages_2.png" alt="four-boxes-2")
          .col-12.col-md-8.col-xl-8
            p.bnf-number 02
            h3.h3-title.text-uppercase.text-uppercase.mb-3 В любое время года
            p.paragraph-text.text-color-light.text-w-light Нельзя загорать? Лучше начинать с осени? Забудьте об этих устаревших правилах.  Наш лазер удаляет волосы на коже до 6-го фототипа, а это метисы и мулаты. Так что при вашем загаре он тоже справится. В зависимости от оттенка кожи мастер просто выставит на лазере определенные параметры, чтобы процедура прошла эффективно. Так что можете делать лазерную эпиляцию летом и не бояться негативного эффекта.

      .col-12.col-lg-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4
            img(src="assets/img/four-boxes/advantages_3.png" alt="four-boxes-3")
          .col-12.col-md-8.col-xl-8
            p.bnf-number 03
            h3.h3-title.text-uppercase.mb-3 Безопасно для здоровья
            p.paragraph-text.text-color-light.text-w-light Наш лазер не сжигает волосяной фолликул, а прогревает его. Когда он видит в фолликуле пигмент, он действует строго на него, не рассеиваясь на пигмент в коже. Это значит, что лазер работает только с волосом и не затрагивает близлежащие ткани. Поэтому лазер не будет влиять на ваши внутренние органы и организм в целом.

      .col-12.col-lg-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4
            img(src="assets/img/four-boxes/advantages_4.png" alt="four-boxes-4")
          .col-12.col-md-8.col-xl-8
            p.bnf-number 04
            h3.h3-title.text-uppercase.mb-3 Может, шампанского?
            p.paragraph-text.text-color-light.text-w-light Поход в салон — это радость, а не обязанность. Мы хотим, чтобы процедуры принесли вам только расслабление и приятные ощущения. Поэтому смело озвучивайте все, что вам необходимо. Чай, кофе, шампанское, поболтать или наоборот помолчать — мы подстроимся под ваше настроение и сделаем сеанс эпиляции максимально комфортным.
