section.section.four-boxes
  .container
    h2.h2-title.text-color-light.text-center.d-none.d-sm-block.mx-auto.mb-3.d-none.d-md-block Кто сказал, что красота требует жертв?
    p.paragraph-text.text-color-light.text-center.d-none.d-md-block В Steffany совсем другой подход к эпиляции
    .row
      .col-12.col-xl-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position.justify-content-center
            img.d-none.d-md-block(src="assets/img/four-boxes/four-box_01.png" alt="four-boxes-1" srcset="assets/img/four-boxes/four-box_01@2x.png 2x")
            img.d-md-none.d-block(src="assets/img/four-boxes/four-box_01-mob.png" alt="four-boxes-1-mob" srcset="assets/img/four-boxes/four-box_01-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number 01
              h4.h4-title.text-uppercase.mb-3 Никакой боли
              p.paragraph-text.text-color-light.text-w-light У нас нет услуги «экстра комфорт», потому что лазер и так полностью безболезненный. Он прогревается до высоких температур, но при касании с кожей охлаждается до температуры -3 градуса.  Благодаря такой мощной системе охлаждения вы почувствуете просто прикосновение. Нано-эпиляция также не приносит болевых ощущений. А если вы хотите обезболивание при шугаринге или восковой эпиляции, мы ее сделаем.

      .col-12.col-xl-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position
            img.d-none.d-md-block(src="assets/img/four-boxes/four-box_02.png" alt="four-boxes-2" srcset="assets/img/four-boxes/four-box_02@2x.png 2x")
            img.d-md-none.d-block(src="assets/img/four-boxes/four-box_0w-mob.png" alt="four-boxes-2-mob" srcset="assets/img/four-boxes/four-box_02-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number 02
              h4.h4-title.text-uppercase.text-uppercase.mb-3 В любое время года
              p.paragraph-text.text-color-light.text-w-light Нельзя загорать? Лучше начинать с осени? Забудьте об этих устаревших правилах.  Наш лазер удаляет волосы на коже до 6-го фототипа, а это метисы и мулаты. Так что при вашем загаре он тоже справится. В зависимости от оттенка кожи мастер просто выставит на лазере определенные параметры, чтобы процедура прошла эффективно. Так что можете делать лазерную эпиляцию летом и не бояться негативного эффекта.

      .col-12.col-xl-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position
            img.d-none.d-md-block(src="assets/img/four-boxes/four-box_03.png" alt="four-boxes-3" srcset="assets/img/four-boxes/four-box_03@2x.png 2x")
            img.d-md-none.d-block(src="assets/img/four-boxes/four-box_03-mob.png" alt="four-boxes-3-mob" srcset="assets/img/four-boxes/four-box_03-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number 03
              h4.h4-title.text-uppercase.mb-3 Безопасно для здоровья
              p.paragraph-text.text-color-light.text-w-light Наш лазер не сжигает волосяной фолликул, а прогревает его. Когда он видит в фолликуле пигмент, он действует строго на него, не рассеиваясь на пигмент в коже. Это значит, что лазер работает только с волосом и не затрагивает близлежащие ткани. Поэтому лазер не будет влиять на ваши внутренние органы и организм в целом.

      .col-12.col-xl-6.c-boxes
        .row.c-card
          .col-12.col-md-4.col-xl-4.c-position
            img.d-none.d-md-block(src="assets/img/four-boxes/four-box_04.png" alt="four-boxes-4" srcset="assets/img/four-boxes/four-box_04@2x.png 2x")
            img.d-md-none.d-block(src="assets/img/four-boxes/four-box_04-mob.png" alt="four-boxes-4-mob" srcset="assets/img/four-boxes/four-box_04-mob@2x.png 2x")

          .col-12.col-md-8.col-xl-8
            .c-desc
              p.bnf-number 04
              h4.h4-title.text-uppercase.mb-3 Может, шампанского?
              p.paragraph-text.text-color-light.text-w-light.mb-0 Поход в салон — это радость, а не обязанность. Мы хотим, чтобы процедуры принесли вам только расслабление и приятные ощущения. Поэтому смело озвучивайте все, что вам необходимо. Чай, кофе, шампанское, поболтать или наоборот помолчать — мы подстроимся под ваше настроение и сделаем сеанс эпиляции максимально комфортным.
