section.section.laser-desc
  .container
    .row
      .col-sm12.col-md-6
        .white-block-design
          img(src="assets/img/position-img_5.png")
      .col-sm12.col-md-6
        h2.section-title.text-color-dark.mb-5 Лазерная эпиляция в Житомире
        p.paragraph-text.text-color-dark.text-w-bold.mb-1 А еще шугаринг, восковая эпиляция, нано-эпиляция и косметология
        p.paragraph-text.text-color-dark.text-w-light.mb-3 Давайте знакомиться! Мы — сеть центров красоты и здоровья Steffany, где на каждое ваше «хочу» найдется процедура. А вы —  та самая девушка, которая заслужила расслабиться и получить качественный профессиональный уход.
        p.paragraph-text.text-color-dark.text-w-light.mb-3 Вы можете прийти в отдельные центры Steffany по трем направлениям:
        ul
          li.paragraph-text.text-color-dark.text-w-light.mb-2 бьюти, где можно сделать маникюр, прическу, стрижку и макияж;
          li.paragraph-text.text-color-dark.text-w-light.mb-2 эпиляция и косметология, где вас ждут ухаживающие процедуры для лица, тела и удаления волос;
          li.paragraph-text.text-color-dark.text-w-light.mb-2 подология, где мы  о здоровье ваших стоп.
        p.paragraph-text.text-color-dark.text-w-light.mb-1 Остановимся на эпиляции. У нас вы можете безболезненно и в любое время года удалить волосы лазером. Или выбрать другой способ, который вам по душе.



