section.section.laser-desc
  .container
    .row
      .col-12.col-xl-6.order-1.order-xl-0
        .white-block-design.ml-sm-4.ml-xl-0
          img(src="assets/img/homepage/about-section.jpg" alt='' srcset="assets/img/homepage/about-section@2x.jpg 2x")
      .col-12.col-xl-6.mb-4.mb-md-5.mb-xl-0
        .c-content.pt-xl-4
          h2.h2-title.text-color-dark Лазерная эпиляция в Житомире
          .d-line
          p.paragraph-text.text-color-dark.text-w-bold.mb-3 А еще шугаринг, восковая эпиляция, нано-эпиляция и косметология
          p.paragraph-text.text-color-lightdark.text-w-light.mb-3 Давайте знакомиться! Мы — сеть центров красоты и здоровья Steffany, где на каждое ваше «хочу» найдется процедура. А вы —  та самая девушка, которая заслужила расслабиться и получить качественный профессиональный уход.
          p.paragraph-text.text-color-lightdark.text-w-light.mb-3 Вы можете прийти в отдельные центры Steffany по трем направлениям:
          ul.info-list
            li.paragraph-text.text-color-lightdark.text-w-light.mb-2 бьюти, где можно сделать маникюр, прическу, стрижку и макияж;
            li.paragraph-text.text-color-lightdark.text-w-light.mb-2 эпиляция и косметология, где вас ждут ухаживающие процедуры для лица, тела и удаления волос;
            li.paragraph-text.text-color-lightdark.text-w-light.mb-2 подология, где мы  о здоровье ваших стоп.
          p.paragraph-text.text-color-lightdark.text-w-light.mb-1 Остановимся на эпиляции. У нас вы можете безболезненно и в любое время года удалить волосы лазером. Или выбрать другой способ, который вам по душе.



