section.section.main-laser-service.overflow-visible
  //img.bg-elem(src="/assets/img/main-service/main-bg-girl.png" alt="main-bg-girl")
  .container
    h1.h1-main-title.text-w-bold.text-color-lightgray Комплексные зоны <br> для эпиляции
    p.subtitle.mb-4 Maximum
    .position-block
      .row
        .col-6
          ul.info-list
            li.list-item.text-color-lightgray.mb-2 Руки
            li.list-item.text-color-lightgray.mb-2 Голени
            li.list-item.text-color-lightgray.mb-2 Подмышки
            li.list-item.text-color-lightgray.mb-4 Бикини глубокое
        .col-6
          .c-content
            p.custopm-text.custopm-text__small.text-w-bold 15
              span.custopm-text__small_size минут
            .c-span
              span.custopm-text.custopm-text__through.mr-2 2 000 грн
              span.custopm-text.custopm-text__bold 1 730 грн
    +btnSimple('подробнее', './discount.html')
