section.section.main-laser-service.overflow-visible
  .container
    h1.h1-main-title.text-w-bold.text-color-lightgray Скидки на все зоны эпиляции
    p.subtitle.mb-3 Глубокое бикини
    .position-block
      ul.info-list
        li.list-item.text-color-lightgray.mb-2 Скидка <span class="bold">25%</span> при оплате <span class="bold">4</span> процедур &nbsp;&nbsp; <span class="line-through"> 3 880 грн</span> &nbsp;&nbsp; <span class="large">2 910 грн</span>
        li.list-item.text-color-lightgray.mb-2 Скидка <span class="bold">30%</span> при оплате <span class="bold">6</span> процедур &nbsp;&nbsp; <span class="line-through"> 5 820 грн</span> &nbsp;&nbsp; <span class="large">4 074 грн</span>
        li.list-item.text-color-lightgray.mb-2 Скидка <span class="bold">35%</span> при оплате <span class="bold">8</span> процедур &nbsp;&nbsp; <span class="line-through"> 7 760 грн</span> &nbsp;&nbsp; <span class="large">5 044 грн</span>
    a(href='./complex').link-btn-discount
      .btn-simple
        .text-section
          span(id = "details") подробнее
