section.section.main-laser-service
  .container
    .row.c-service.no-gutters
      .col-md-8.col-sm-12.c-service__service-box.c-service__service-box_bg-1
      .col-md-4.col-sm-12.c-service__service-box.c-service__service-box_bg-2
      .col-md-4.col-sm-12.c-service__service-box.c-service__service-box_bg-3
      .col-md-4.col-sm-12.c-service__service-box.c-service__service-box_bg-4
      .col-md-4.col-sm-12.c-service__service-box.c-service__service-box_bg-5

