section.section.safety
  .container
    h2.h2-title.text-center.mb-3 Лазерная эпиляция должна вам помочь, а не навредить
    p.paragraph-text.text-center Поэтому мы принимаем все меры предосторожности
    .row.mt-7.mt-lg-7.c-safety.justify-content-center.justify-content-lg-between
      .col-12.col-lg-6.safety-box.mb-6.mb-lg-0
        .c-content
          p.paragraph-text.text-w-bold Направляем к узкопрофильному специалисту, <br> если нас что-то настораживает
          p.paragraph-text.text-w-light В некоторых ситуациях наши мастера могут заподозрить возможные проблемы со здоровьем. Например, волосы в нежелательных местах по мужскому типу могут натолкнуть на мысль, что у девушки проблемы с гормонами. А большое количество родинок может свидетельствовать о потенциальной угрозе, что какая-то родинка превратится из доброкачественной в злокачественную. Поэтому иногда мы отправляем клиентов к хирургам, эндокринологам, дерматологам и другим узким специалистам.
      .col-12.col-lg-6.safety-box
        .c-content
          p.paragraph-text.text-w-bold  Честно отказываем в процедуре, <br> если она противопоказана
          p.paragraph-text.text-w-light Нежелательные волосы на теле — всего лишь эстетическая проблема. Нашим с вами главным приоритетом должно быть здоровье. Поэтому если состояние организма никак не позволяет провести лазерную эпиляцию — ничего страшного. Мы подберем вам другой способ избавления от нежелательных волос, который будет эффективным и безопасным лично для вас в этот период жизни. В будущем, если состояние организма изменится, мы вместе можем пересмотреть это решение и снова подумать о лазерной эпиляции.
