section.section.activity
	.container
		div
			h2
				@include font(Circe Bold, 600, 24, 30)

			.description
				@include font(Circe, 200, 14, 25)

			&:nth-child(2)
				position: relative

				img
					width: 100%
					box-shadow: 10px 20px 75px -43px rgba(0,0,0,0.75)
