section.section.category
	.description
		.container
			height: 100%
		background: url("../assets/img/category-people-bg.png") no-repeat center/cover
		height: 20em
		h2
			color: #ffffff
		p
			text-align: center
			font-weight: 100
			@include desktop
				width: 40em
			@include laptop
				width: 40em
