section.section.consultation
  .custom-icon-number
    width: 27px
    height: 27px
    p
      @include font (Circe, bold, 16, 26)

  .consultation-top
    background-color: #9FA6BA
    .container
      .white-block-design
        margin-top: 40px
        width: 465px
        height: 670px
        img
          top: 40px

  .consultation-middle
    background-color: #A9A8C6
    .container
      .white-block-design
        width: 527px
        height: 607px
        img
          top: -90px
          left: -126px

  .consultation-bottom
    background-color: #EDE1DF
    .container
      .white-block-design
        width: 504px
        height: 704px
        margin-left: auto
        img
          top: 30px
          right: -20px

