footer.footer
<<<<<<< HEAD
  padding-top: 4rem
  .container
    .c-logo-f
      img
        max-width: 264px
        max-height: 100px
    img.icon-large
      width: 40px
      height: 40px
=======
	background: #303947
	color: #fff
	.container
		.c-logo-f
			img
				max-width: 264px
				max-height: 100px

.footer-icon-blk
	height: 18px

@media(max-width: 1200px)
	footer
		br
			display: none
>>>>>>> 6dc4d8ee50dbae10aad4027cbffdfb414716987c
