section.section.main-laser-service
  .c-service
    &__service-box
      height: 300px
      &_bg-1
        background:
          image: url("../assets/img/main-service/bg_1.png")
          size: cover
      &_bg-2
        background:
          image: url("../assets/img/main-service/bg_2.png")
          size: cover
      &_bg-3
        background:
          image: url("../assets/img/main-service/bg_3.jpg")
          size: cover
      &_bg-4
        background:
          image: url("../assets/img/main-service/bg_4.jpg")
          size: cover
      &_bg-5
        background:
          image: url("../assets/img/main-service/bg_5.png")
          size: cover

