.circles-bg-specific
  background-image: url("../assets/img/services-warts/circles.png")
  background-size: 180%
  background-repeat: no-repeat
  background-position: center -46px
  @include media-breakpoint-up(md)
    background-size: 1500px
    background-position: center 46px
