section.section.introduce
	.container
		position: relative
		height: 100vh
		.card
			p
		#feetOne
			position: absolute
			top: -10em
			z-index: -1
			display: block
			left: 39em
			width: 50em
			height: auto

