section.section.about-process-spa
  .about-process-spa_top
    .container
      .d-white-bg
        .c-desc
          h2.section-title Как проходит парафинотерапия для рук <span class='city-in-dynamic'></span>
          p.thin-text Парафинотерапия — это целых три этапа расслабления и релакса для рук и ног. Эта процедура одна из самых доступных и быстрых среди всех спа-услуг. Наблюдать за процессом — все равно что устроить себе медитацию. Но пока вы не записались и не прочувствовали эффект на себе, предлагаем познакомиться с ней через слова.
        img(src="./assets/img/service-spa/about-process/img-01.jpg" alt="test" srcset="./assets/img/service-spa/about-process/img-01@2x.jpg 2x")
        .d-border
        span.big-text.d-none.d-xl-block hand
        span.big-text.d-xl-none proff
  .about-process-spa_middle
    .container
      .row
        .col-12.col-xl-6
          .c-content
            .c-desc
              p.thin-text Этап пилинга
              p.thin-text.mb-4 Когда мастер закончил делать вам маникюр или педикюр, он достает скраб бренда «Бьюти мастер», выдавливает небольшую часть средства на руки и массажирует ими вашу кожу. Этап пилинга нужен для того, чтобы удалить с кожи рук или ног ороговевшие клетки и подготовить поверхность к следующим этапам. У скраба очень мелкие абразивные частички, чтобы не поцарапать кожу. Движения мастера нежные и неагрессивные, чтобы не повредить кожу. Если кожа сухая и обветренная, она может быть особенно уязвимой.
              p.thin-text Этап горячего парафина
              p.thin-text.mb-0 После этапа пилинга мастер снимает с кожи рук или ног остатки скраба полотенцем, смоченным теплой водой. Теперь кожа готова к контакту с горячим парафином. Мастер ставит на стол ванночку с предварительно разогретым до 42-43 градусов жидким парафином. Вы опускаете кисти или стопы по очереди в парафин несколько раз, чтобы он полностью покрыл кожу.
            .d-white-bg.d-none.d-md-block.d-xl-none
              img(src="./assets/img/service-spa/about-process/img-02.jpg" alt="test" srcset="./assets/img/service-spa/about-process/img-02@2x.jpg 2x")

        .col-12.col-xl-1.d-md-none.d-xl-block
          .d-white-bg
            img(src="./assets/img/service-spa/about-process/img-02.jpg" alt="test" srcset="./assets/img/service-spa/about-process/img-02@2x.jpg 2x")


