.info-block-grid.grid-bg-1.double-grid-big
  .container.p-0
    .row.no-gutters.mb-5
      h2.section-title.text-center.mb-0 Ціни на процедури парафінотерапії для рук і ніг
    .row.no-gutters.grid-shodow.w-100
      .row.no-gutters.w-100.grid-block.grid-block-2.grid-block-bigger(data-anchor='spa')
        .col-12.col-md-6.grid-cnt.grid-cnt-big.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between.pr-3
          .grid-titles.order-1
            .grid-title
              | Парафінотерапія <br/>
              | рук <span class='city-in-dynamic'></span>
            p.thin-text.pb-5.pb-md-0.text-grid Майстер виконує процедуру після манікюру як завершальний етап догляду за шкірою рук. У процедурі беруть участь кисті рук
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 140 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Парафинотерапия рук в Житомире')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-md-6.grid-img.grid-img-big.grid-img-hover
          img.w-100(src="assets/img/infoblock/grid-item-23.jpg", alt="grid-item")
      .row.no-gutters.w-100.grid-block.grid-block-2.grid-block-bigger
        .col-12.col-md-6.grid-img.grid-img-big.grid-img-hover
          img.w-100(src="assets/img/infoblock/grid-item-24.jpg", alt="grid-item")
        .col-12.col-md-6.grid-cnt.grid-cnt-big.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between.pr-3
          .grid-titles.order-1
            .grid-title
              | Парафінотерапія для ніг <span class='city-in-dynamic'></span>
            p.thin-text.pb-5.pb-md-0.text-grid Майстер виконує процедуру після педикюру як завершальний етап догляду за шкірою стоп. У процедурі беруть участь стопи до щиколотки
          .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
            span.mr-3 35 хвилин
            | 160 грн
          a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Парафинотерапия ног в Житомире')
            span.d-flex.align-items-center.justify-content-between
              span записатися
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
