section.section.accordion-answer.questions
  h2.section-title.text-center.white-text Поширені запитання
  p.h3-title-regular.text-center.mb-4 Можливо, ваше запитання про парафінотерапію для рук в <span class='city-in-dynamic'></span> вже задали наші клієнти
  #accordion.accordion.mt-3
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading01.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse01',   aria-controls='collapse01', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Який парафін ви використовуєте для процедури
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse01.collapse.w-100.collapse-answer.questions-container.show(aria-labelledby='heading01', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Ми використовуємо медичний гіпоалергенний парафін від «Парафін Біо». У нас два види парафіну: з запахом алоє та запахом персика. Обирайте на процедурі, який аромат хочете відчувати на руках ще довгий час.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading02.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse02',   aria-controls='collapse02', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Скільки часу триває процедура парафінотерапії?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse02.collapse.w-100.collapse-answer.questions-container(aria-labelledby='heading02', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Уся процедура триває 40-45 хвилин.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading03.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse03',   aria-controls='collapse03', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Як ви отримуєте розігрітий парафін?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse03.collapse.w-100.collapse-answer.questions-container(aria-labelledby='heading03', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Ми розігріваємо парафін у спеціальній ванні — електричній парафінотопці. Модель нашої — SM-507 від бренду Y.R.E. Такий прилад контролює температуру рідини і точно не дасть вам отримати опік.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading04.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse04',   aria-controls='collapse04', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Я можу зробити процедуру парафінотерапію окремо від манікюру та педикюру?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse04.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading04', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Звичайно. Для зручності ми рекомендуємо поєднувати парафінотерапію із манікюром чи педикюром, та це зовсім не закон. Записуйтеся на парафінотерапію окремо, щоб доглядати за своєю шкірою.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading06.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse06',   aria-controls='collapse06', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Який лікувальний ефект дає парафінотерапія?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse06.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading06', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Сучасна процедура парафінотерапії — це виключно косметична процедура. Вона загоює подразнення, прибирає лущення, пом'якшує і відновлює еластичність шкіри. Але це не означає, що вона працює всередині глибоких шкірних шарів. Це косметичний ефект, який потрібно підтримувати і час від часу оновлювати новими процедурами.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading07.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse07',   aria-controls='collapse07', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Якщо у мене тріщини на п'ятах, парафінотерапія мені допоможе?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse07.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading07', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Тріщини на п'ятах — це не завжди просто естетична проблема. Іноді тріщини є одним із симптомів грибка. Звичайна парафінотерапія ніг точно не вилікує тріщини на п'ятах. Краще зверніться до спеціаліста-подолога. Він подивиться на ваші стопи крізь призму здоров'я, а не лише краси. У нашій мережі є Центр здоров'я ніг Steffany Podology, зверніться туди.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading08.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse08',   aria-controls='collapse08', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Який майстер виконує процедуру парафінотерапії для рук і ніг?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse08.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading08', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Цю процедуру роблять майстри манікюру і педикюру.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading09.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse09',   aria-controls='collapse09', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Як мені вибрати крем для догляду після процедури? Як не помилитися і не погіршити сухість шкіри?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse09.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading09', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Це повинен бути живильний крем. Якщо у вас постійна сухість і далеко не кожен крем із нею справляється, вам варто звернутися до дерматолога. Іноді сухість на шкірі може свідчити про брак вітамінів та якісь зміни на рівні організму.