.info-block.info-block-8.info-block-8-11.gray-word-bg2
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-start.no-gutters
      .col.col-img.order-2.d-none.d-xl-block
        img.w-100(src="./assets/img/infoblock/item-63.jpg",  alt="item")
      .col.col-info.order-1
        .border-el
          h2.section-title.mb-25.pb-0 Ще пару важливих моментів про парафінотерапію
          p.think-text Парафінотерапія для рук і ніг — одна із найдоступніших і простих процедур із серії спа. Але навіть при цьому у неї є свої правила.
        .p-bold.mb-15.under-border Коли не можна робити процедуру
        p.think-text.mb-15 Єдине протипоказання до парафінотерапії — серйозні пошкодження шкіри. Якщо у вас на шкірі рук або ніг незагоєні рани і порізи, почекайте із процедурою.
        p.think-text.mb-25  При цьому незначні пошкодження кутикули після манікюру або педикюру не вважаються серйозними. Тому відразу після них і зі схвалення майстра ви можете сміливо робити процедуру парафінотерапії.
        p.p-bold.mb-15 Як часто робити парафінотерапію
        p.think-text Достатньо лише разу на місяць, аби відновити шкіру на руках або ногах гарячим парафіном. Підлаштуйтеся під свій графік манікюру і педикюру — так вам буде зручніше планувати процедуру.
