.info-block.info-block-7.info-block-7-14.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-1.mx-auto.mx-xl-0.d-none.d-xl-block
          img.w-100(src="./assets/img/infoblock/item-60.jpg",  alt="item")
        .col.col-info.order-2.no-bg-blk
          .info-list
            .info-list-item.d-flex.align-items-start.justify-content-start.mb-50
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 03
              .info-list-cnt
                p.p-bold.mb-15.pb-0.text-color-dark Етап очікування
                p.thin-text.text-color-dark.mb-15 Майстер надягає на ваші руки або стопи поліетиленові пакетики та перекриває доступ повітря до поверхні шкіри. На руки в пакетиках ви одягаєте спеціальну зігріваючу рукавичку з поліестеру та віскози.
                p.thin-text.text-color-dark Ваші кисті або стопи знаходяться в теплі і без доступу повітря. Завдяки парафінотерапії та ефекту сауни на шкірі відкриваються пори та виводяться токсини. Парафін проникає глибше, загоює і пом'якшує шкіру.
            .info-list-item.d-flex.align-items-start.justify-content-start
              .info-list-number.d-flex.align-items-center.justify-content-center
                span.light-orange-text 04
              .info-list-cnt
                p.p-bold.text-color-dark.mb-15.pb-0 Етап зволоження
                p.thin-text.text-color-dark Через 15 хвилин після остигання парафіну майстер звільняє ваші руки або ноги з усіх шарів захисту. Парафін легко відстає від шкіри. Після використання парафінової плівки ваша шкіра вже пом'якшала. Щоб закріпити цей ефект, майстер масажними рухами втирає у вашу шкіру зволожуючий крем бренду «Б'юті майстер».
        span.big-text.d-none.d-xl-block brands
