.info-block.info-block-5.info-block-5-5.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-start.justify-content-center.justify-content-xl-end.no-gutters.border-block-item9
        .col.col-img.d-none.d-xl-block.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-58.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title Як проходить парафінотерапія для рук <span class='city-in-dynamic'></span>
          p.thin-text.under-border Гаряча парафінотерапія рук і ніг  — це цілих три етапи розслаблення і релаксу. Ця процедура одна з найдоступніших і швидких серед усіх спа-послуг. Спостерігати за процесом — все одно що влаштувати собі медитацію. Але поки ви не записалися на парафінотерапію рук до салону Steffany і не відчули ефект на собі, пропонуємо познайомитися з нею тут.
      span.big-text.d-none.d-xl-block hand
