.info-block.info-block-8.info-block-8-10.gray-word-bg2
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-start.no-gutters
      .col.col-img.order-2.d-none.d-xl-block
        img.w-100(src="./assets/img/infoblock/item-61.jpg", alt="item")
      .col.col-info.order-1
        .border-el
          h2.section-title.mb-35.pb-0 Как ухаживать за кожей после процедуры парафинотерапии
          p.p-text.thin-text.mb-15 После процедуры ваша кожа остается мягкой, увлажненной и гладкой где-то 4 дня. Чтобы поддерживать результат парафинотерапии, вам стоит выполнять несколько несложных правил.
        a.btn-simple.br-100.d-flex.align-items-center.justify-content-center.white-text Ціна
