.info-block.info-block-7.info-block-7-3.info-block-7-3-1.light-purple-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-1.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-62.jpg",  alt="item")
        .col.col-info.order-2.no-bg-blk
          ul.info-list
            li.mb-15.white-text
              p.p-bold.pb-20.white-text Регулярно користуйтеся живильним кремом
              p.p-text.thin-text.white-text Змащуйте руки після миття рук з милом та після душа, а стопи змащуйте перед сном. У цьому разі шкіра буде залишатися зволоженою, і ви не будете відчувати стягнутість.
            li.mb-15.white-text
              p.p-bold.pb-20.white-text Носіть рукавички
              p.p-text.thin-text.white-text Коли на вулиці мінусова температура та віє вітер, одні кишені не врятують від обвітрювання та лущення. Тільки-но вам стає холодно на вулиці, надягайте рукавички і не ризикуйте своєю шкірою.
            li.white-text
              p.p-bold.pb-20.white-text Уникайте побутової хімії
              p.p-text.thin-text.white-text Навіть найзволоженіша шкіра не протримається в хорошому стані довго, якщо буде часто контактувати з агресивними миючими засобами. Тому не забувайте мити посуд, прибирати і виконувати інші домашні справи в гумових рукавичках.
