.benefits.serviceBenefits.doubleBnf.doubleBnfDark.three-benefits.white-bg.triple-bnfs
  .container.mx-auto
    .row.no-gutters
      .section-title.text-color-dark.text-center Парафінотерапія рук і ніг — це освідчення у коханні своїй шкірі
    .row.no-gutters
      .section-subtitle.text-color-dark.text-center Зробіть її після манікюру або педикюру, щоб доглянути за шкірою
    .row.no-gutters.bnf-items.flex-column.flex-xl-row
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-5.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-20.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-color-dark 01
          .bnf-title.text-color-dark Швидко пом'якшує і відновлює шкіру
          p.paragraph-text-dark.text-color-dark.mb-2
            span Парафінотерапія складається із декількох етапів, які доглядають за шкірою: пілінгу, крему та рідкого парафіну. Уся волога, що випаровується під час процедури, знову вбирається у шкіру. За час послуги всі ці кроки допомагають шкірі відновитися, стати ніжною і гладенькою. ВІск також дає ефект ліфтингу
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-6.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-color-dark 02
          .bnf-title.text-color-dark Рятує від лущення в холодну погоду
          p.paragraph-text-dark.text-color-dark.mb-2
            span Парафінотерапія краще будь-яких рукавичок і захисних кремів рятує шкіру від лущення пізньої осені, взимку та на початку весни. Звичайно, доглядати за руками і захищати шкіру від морозу все одно потрібно. Однак процедура парафінотерапії швидко загоює шкіру і підготовує до наступних доглядових процедур
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-7.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-color-dark 03
          .bnf-title.text-color-dark Масажує  <br> і розслабляє
          p.paragraph-text-dark.text-color-dark.mb-2
            span Кожен етап процедури приносить рукам чи ногам по-своєму приємні тактильні відчуття. Скраб масажує шкіру дрібними частинками, гарячий парафін ніжно обволікає шкіру, крем дозволяє майстру зробити вам масаж кистей або стоп. Також запах парафіну створює відчуття ароматерапії
