.benefits.benefits-section
  .container
    .row.benefits-head
      h2.section-title.h-center.white-text Жінка повинна бути щасливою
      .section-subtitle.h-center.white-text На цьому переконанні у Steffany будується кожна дрібниця
    .row.no-gutters
      .bnf.bnf-item-1.col-lg-6.col-sm-12.d-flex.align-items-start.justify-content-start.justify-content-sm-end.flex-column.flex-sm-wrap
        .bnf-img.bnf-img-1
          img.bnf-img-item-1(src="./assets/img/bnf/item-211@2x.png" alt="bnf-item")
          img.bnf-img-item-2(src="./assets/img/bnf/item-12.png" alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text.text-center.text-sm-left 01
          .bnf-title.white-text.text-center.text-sm-left Стерильно і безпечно
          p.white-text.thin-text.text-center.text-sm-left Наш девіз — «Ваша краса — наша професія». Та в першу чергу ми піклуємося про вашу безпеку. Тому всі наші салони краси обладнані великими лабораторіями дезінфекції та стерилізації. Після кожного клієнта інструменти проходять там ретельну обробку. Багато матеріалів для процедур одноразові: знімні абразиви (пилочки), апельсинові палички, ватні диски і палички, рукавички і маски для майстра
      .bnf.bnf-item-2.col-lg-6.col-sm-12.d-flex.align-items-start.justify-content-start.justify-content-sm-end.flex-column.flex-sm-wrap
        .bnf-img.bnf-img-2
          img.bnf-img-item-1(src="./assets/img/bnf/item-22@2x.png" alt="bnf-item")
          img.bnf-img-item-2(src="./assets/img/bnf/item-13.png" alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text.text-center.text-sm-left 02
          .bnf-title.white-text.text-center.text-sm-left Економія часу
          p.white-text.thin-text.text-center.text-sm-left За один візит ви можете пройти усі потрібні послуги одразу і виконати план б'юті-процедур на місяць вперед. Також у нас ви можете зробити манікюр і педикюр одночасно. Усього за 2 години наші майстри салону краси паралельно оброблять ваші ручки та ніжки, аби заощадити ваш час. Вам залишиться тільки стежити, щоб одна рука була вільна — адже їй треба тримати келих шампанського
      .bnf.bnf-item-3.col-lg-6.col-sm-12.d-flex.align-items-start.justify-content-start.justify-content-sm-end.flex-column.flex-sm-wrap
        .bnf-img.bnf-img-3
          img.bnf-img-item-1(src="./assets/img/bnf/item-23@2x.png" alt="bnf-item")
          img.bnf-img-item-2(src="./assets/img/bnf/item-14.png" alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text.text-center.text-sm-left 03
          .bnf-title.white-text.text-center.text-sm-left Комфорт і відпочинок
          p.white-text.thin-text.text-center.text-sm-left Візит до салону краси повинен бути радісною подією на вищому рівні, а не черговий обов'язком. Переступивши поріг Steffany, ви можете нарешті відпочити і розслабитися. На вас чекають шампанське, чай, кава, свіжі журнали і музика. Кожен майстер постарається вловити ваш настрій. Нам важлива ваша думка про нас. Тому якщо вас щось буде турбувати, сміливо говоріть нам! Ми постараємося це виправити
      .bnf.bnf-item-4.col-lg-6.col-sm-12.d-flex.align-items-start.justify-content-start.justify-content-sm-end.flex-column.flex-sm-wrap
        .bnf-img.bnf-img-4
          img.bnf-img-item-1(src="./assets/img/bnf/item-24@2x.png" alt="bnf-item")
          img.bnf-img-item-2(src="./assets/img/bnf/item-15.png" alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text.text-center.text-sm-left 04
          .bnf-title.white-text.text-center.text-sm-left Мережа із різними напрямками
          p.white-text.thin-text.text-center.text-sm-left Окрім б'юті-послуг у мережі Steffany є інші центри здоров'я і краси: центри косметології та лазерної епіляції і центр подології. У них працюють відмінні майстри, в тому числі дерматологи, подологи, масажисти. Бувають випадки, коли наші гості просять контакт хорошого фахівця. У нас таких контактів десятки! Ми з радістю порадимо вам потрібного майстра і допоможемо записатися
