section.section.about-page-spa.info-block-about.info-block-about-1
  span.big-text.d-none.d-xl-block Colo
  .container
    .d-white-bg
      .c-desc
        h2.section-title Салон краси <span class='city-in-dynamic'></span>
        p.thin-text Привіт! Ми — мережа центрів здоров'я та краси Steffany. Нам вже не терпиться познайомитися із вами наживо. Тому приходьте до нас, коли захочете втекти від справ і обов'язків. У Steffany ви повинні тільки одне — розслабитися і насолоджуватися доглядом за собою.
        p.p-bold.pad-el-50 Ось кілька приводів заскочити до нас на келих ігристого:
      img.info-block-about-img(src="./assets/img/infoblock/item-76@2x.jpg", alt="item")
      .d-border
      span.big-text Colo
