section.section.accordion-answer.questions
  h2.section-title.text-center.white-text Поширені запитання
  p.h3-title-regular.text-center.mb-4 Прочитайте, що найчастіше цікавить наших клієнтів про салон краси у Житомирі та Рівному
  #accordion.accordion.mt-3
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading01.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse01',   aria-controls='collapse01', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Де ви знаходитесь?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse01.collapse.w-100.collapse-answer.questions-container.show(aria-labelledby='heading01', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Студія краси Steffany Beauty знаходяться у двох містах України — Житомирі та Рівному. Наші адреси і карту проїзду до салону краси в Житомирі та Ріному ви зможете знайти на сторінці «Контакти».
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading02.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse02',   aria-controls='collapse02', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Як я можу записатися на процедуру?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse02.collapse.w-100.collapse-answer.questions-container(aria-labelledby='heading02', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | О, варіантів на попередній запис дуже багато! Перший — можете зателефонувати нам за будь-яким телефоном зі сторінки «Контакти». Другий — можете написати нам у соціальні мережі та в листуванні обговорити час і процедуру. Третій — завантажте наш додаток і записуйтеся через нього. У ньому ви будете отримувати повідомлення, керувати своїм записом і вибирати майстрів. Четвертий варіант — записуйтеся на потрібну послугу прямо через цей сайт.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading03.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse03',   aria-controls='collapse03', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | До котрої ви працюєте?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse03.collapse.w-100.collapse-answer.questions-container(aria-labelledby='heading03', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | У всіх салонах краси ми працюємо з 9:00 до 20:00.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading04.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse04',   aria-controls='collapse04', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Де я можу подивитися ваші роботи майстрів <span class='city-in-dynamic'></span>
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse04.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading04', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Можете подивитися їх на окремих сторінках по кожній послузі на цьому сайті, а також у наших соцмережах — Інстаграмі та Фейсбуці. Там ми регулярно викладаємо свіжі роботи наших майстрів. Підписуйтеся на нас, посилання на соцмережі чекають вас внизу.
    .row.no-gutters.questions-item
      .row.no-gutters.w-100.questions-head.mb-3
        .container-xl.w-100.mx-auto
          #heading05.card-header.py-0.w-100.questions-container.d-flex.align-items-center(data-toggle='collapse', data-target='#collapse05',   aria-controls='collapse05', aria-expanded='true')
            .card-arrow.d-flex.align-items-center.justify-content-center
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12.5 7.07')
                defs
                  style.
                    .cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f2f2f2;}
                  clippath#clip-path(transform='translate(0 -2.5)')
                    rect.cls-1(width='12.5', height='12.5')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    g.cls-2
                      path.cls-3(d='M5.22,9.26.32,4.35A1.09,1.09,0,0,1,1.85,2.82l4.4,4.4,4.4-4.4a1.09,1.09,0,1,1,1.53,1.53l-4.9,4.9a1.08,1.08,0,0,1-1,.29A1.08,1.08,0,0,1,5.22,9.26Z', transform='translate(0 -2.5)')
            p.paragraph-text.text-w-bold.white-text
              | Де подивитися список послуг в салоні краси <span class='city-in-dynamic'></span> і ціни?
      .row.no-gutters.w-100.questions-answer
        .container-xl.w-100.mx-auto
          #collapse05.collapse.collapse-answer.w-100.questions-container(aria-labelledby='heading05', data-parent='#accordion')
            p.card-body.py-0.paragraph-text.white-text
              | Повний спектр послуг та ціни на послуги в салоні краси <span class='city-in-dynamic'></span> ви можете подивитися на окремих сторінках кожної послуги. Переходьте по них і побачите докладний прайс з усіма цінами.
