.benefits
  .container
    .row
      .bnf.bnf-item-1.col-lg-6.col-sm-12.d-flex.align-items-center.align-items-sm-start.justify-content-start.justify-content-sm-end.flex-column.flex-sm-wrap
        .bnf-img.bnf-img-1
          img.bnf-img-item-1(src="./assets/img/bnf/item-1.png", srcset="./assets/img/bnf/item-1@2x.png 2x" alt="bnf-item")
          img.bnf-img-item-2(src="./assets/img/bnf/item-12.png", srcset="./assets/img/bnf/item-12@2x.png 2x" alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text.text-center.text-sm-left 01
          .bnf-title.white-text.text-center.text-sm-left Экономим ваше время
          p.white-text.thin-text.text-center.text-sm-left Конечно, было бы замечательно круглосуточно зависать в салоне. Но мы понимаем вашу занятость и стараемся экономить ваше время. Поэтому у нас вы можете сделать маникюр и педикюр одновременно — в 4 руки. Также в центре бьюти находится много мастеров разных направлений, они работают рядом. Вы можете записаться заранее сразу на несколько процедур, к примеру, на ногти и волосы. Чтобы решить все дела за один визит.
      .bnf.bnf-item-2.col-lg-6.col-sm-12.d-flex.align-items-center.align-items-sm-start.justify-content-start.justify-content-sm-end.flex-column.flex-sm-wrap
        .bnf-img.bnf-img-2
          img.bnf-img-item-1(src="./assets/img/bnf/item-2.png", srcset="./assets/img/bnf/item-2@2x.png 2x" alt="bnf-item")
          img.bnf-img-item-2(src="./assets/img/bnf/item-13.png", srcset="./assets/img/bnf/item-13@2x.png 2x" alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text.text-center.text-sm-left 02
          .bnf-title.white-text.text-center.text-sm-left Заботимся о вашем здоровье
          p.white-text.thin-text.text-center.text-sm-left У нас в салоне есть отдельная лаборатория стерилизации. Она оборудована специально для того, чтобы содержать в чистоте и стерильности инструменты для маникюра, педикюра, процедур для бровей. Также наши мастера подстраиваются под вас, если у вас есть аллергические реакции на определенные компоненты. Сообщите о своих опасениях мастеру: он проведет тест средства на маленьком участке кожи или заменит его на другое. 
      .bnf.bnf-item-3.col-lg-6.col-sm-12.d-flex.align-items-center.align-items-sm-start.justify-content-start.justify-content-sm-end.flex-column.flex-sm-wrap
        .bnf-img.bnf-img-3
          img.bnf-img-item-1(src="./assets/img/bnf/item-3.png", srcset="./assets/img/bnf/item-3@2x.png 2x" alt="bnf-item")
          img.bnf-img-item-2(src="./assets/img/bnf/item-14.png", srcset="./assets/img/bnf/item-14@2x.png 2x" alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text.text-center.text-sm-left 03
          .bnf-title.white-text.text-center.text-sm-left Проверяем услуги на себе
          p.white-text.thin-text.text-center.text-sm-left Перед тем, как ввести новую процедуру и предложить ее вам, мы проверяем ее на себе. Хорошо, что у нас большая сеть. Одни мастера становятся клиентами других мастеров и смотрят, как им новые процедуры по уходу за волосами, окрашиванию, уходу за бровями, спа для рук и ног. Каждый мастер высказывает свое мнение, сообщает о результате. Если наша фокус-группа одобряет новую услугу, мы добавляем ее в постоянный перечень и приглашаем вас. 
      .bnf.bnf-item-4.col-lg-6.col-sm-12.d-flex.align-items-center.align-items-sm-start.justify-content-start.justify-content-sm-end.flex-column.flex-sm-wrap
        .bnf-img.bnf-img-4
          img.bnf-img-item-1(src="./assets/img/bnf/item-4.png", srcset="./assets/img/bnf/item-4@2x.png 2x" alt="bnf-item")
          img.bnf-img-item-2(src="./assets/img/bnf/item-15.png", srcset="./assets/img/bnf/item-15@2x.png 2x" alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text.text-center.text-sm-left 04
          .bnf-title.white-text.text-center.text-sm-left Даем вам расслабиться <br/> и отдохнуть
          p.white-text.thin-text.text-center.text-sm-left «Красота требует жертв» — это не наша философия. Нам важно, чтобы поход в салон стал событием. Поэтому мы делаем все, чтобы вы расслабились: предлагаем напитки (в том числе шампанское!), включаем музыку и любимые фильмы. Каждый мастер старается уловить ваше настроение, чтобы развлечь беседой или наоборот промолчать и дать отдохнуть. Чувствуйте себя как дома! Только без дел и обязанностей.