.diploma
  .container.container-m.slider-wrap
    .row.no-gutters
      .section-title.h-center.mb-59.white-text Дипломы и сертификаты
    .row.no-gutters
      .diploma-slider.owl-carousel.slider-block
        a.diploma-item(href="./assets/img/diploma/diploma-1.jpg", data-fancybox="" )
          img.w-100(src="./assets/img/diploma/diploma-1.jpg", srcset="./assets/img/diploma/diploma-1@2x.jpg 2x", alt="diploma")
        a.diploma-item(href="./assets/img/diploma/diploma-2.jpg", data-fancybox="" )
          img.w-100(src="./assets/img/diploma/diploma-2.jpg", srcset="./assets/img/diploma/diploma-2@2x.jpg 2x", alt="diploma")
        a.diploma-item(href="./assets/img/diploma/diploma-3.jpg", data-fancybox="" )
          img.w-100(src="./assets/img/diploma/diploma-3.jpg", srcset="./assets/img/diploma/diploma-3@2x.jpg 2x", alt="diploma")
        a.diploma-item(href="./assets/img/diploma/diploma-4.jpg", data-fancybox="" )
          img.w-100(src="./assets/img/diploma/diploma-4.jpg", srcset="./assets/img/diploma/diploma-4@2x.jpg 2x", alt="diploma")
        a.diploma-item(href="./assets/img/diploma/diploma-1.jpg", data-fancybox="" )
          img.w-100(src="./assets/img/diploma/diploma-1.jpg", srcset="./assets/img/diploma/diploma-1@2x.jpg 2x", alt="diploma")
        a.diploma-item(href="./assets/img/diploma/diploma-2.jpg", data-fancybox="" )
          img.w-100(src="./assets/img/diploma/diploma-2.jpg", srcset="./assets/img/diploma/diploma-2@2x.jpg 2x", alt="diploma")
        a.diploma-item(href="./assets/img/diploma/diploma-3.jpg", data-fancybox="" )
          img.w-100(src="./assets/img/diploma/diploma-3.jpg", srcset="./assets/img/diploma/diploma-3@2x.jpg 2x", alt="diploma")
        a.diploma-item(href="./assets/img/diploma/diploma-4.jpg", data-fancybox="" )
          img.w-100(src="./assets/img/diploma/diploma-4.jpg", srcset="./assets/img/diploma/diploma-4@2x.jpg 2x", alt="diploma")