section.section.diploma
  .container
    .diploma
      .container.container-m.slider-wrap
        .row.no-gutters
          .h2-title.h-center.mb-5.mx-auto Дипломы и сертификаты
        .row.no-gutters
          .diploma-slider.owl-carousel.slider-block
            //a.diploma-item(href="./assets/img/diploma/modal/1.jpg", data-fancybox="" )
            img.w-100(src="./assets/img/diploma/1.jpg", href="./assets/img/diploma/modal/1.jpg" alt="diploma", data-fancybox="")
            a.diploma-item(href="./assets/img/diploma/modal/2.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/2.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/3.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/3.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/4.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/4.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/5.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/5.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/6.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/6.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/7.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/7.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/8.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/8.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/9.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/9.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/10.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/10.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/11.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/11.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/12.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/12.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/13.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/13.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/14.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/14.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/15.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/15.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/16.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/16.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/17.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/17.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/18.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/18.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/19.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/19.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/20.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/20.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/21.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/21.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/23.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/23.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/24.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/24.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/25.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/25.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/26.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/26.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/27.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/27.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/28.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/28.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/29.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/29.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")
            a.diploma-item(href="./assets/img/diploma/modal/22.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/22.jpg", alt="diploma")

