section.section.diploma
  .container
    .diploma
      .container.container-m.slider-wrap
        .row.no-gutters
          .h2-title.h-center.mb-5.mx-auto Дипломы и сертификаты
        .row.no-gutters
          .diploma-slider.owl-carousel.slider-block
            a.diploma-item(href="./assets/img/diploma/modal/4.jpg", data-fancybox="" )
              img.w-100(src="./assets/img/diploma/4.jpg", alt="diploma")


