section.section.block-answer-after-nano
  background-image: url('../assets/img/nano-page/after.jpg')
  background-size: cover
  padding-top: 113px
  padding-bottom: 101px
  @include media-breakpoint-down(lg)
    padding-top: 61px
    padding-bottom: 91px
  @include media-breakpoint-down(sm)
    padding-top: 39px
    padding-bottom: 82px
  .c-content
    max-width: 500px
    margin-left: auto
    @include media-breakpoint-down(lg)
      max-width: 670px
      margin-left: 0
  .h2-title
    margin-bottom: 37px
    @include media-breakpoint-down(lg)
      margin-bottom: 43px
      width: 700px
    @include media-breakpoint-down(sm)
      margin-bottom: 25px
      width: 100%
  img
    width: 100%
    max-width: 502px
    max-height: 500px
    box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.13)

