extends layout/main

block content
  include sections/mainPage/serviceList.pug
  include sections/mainPage/infoblock.pug
  include sections/mainPage/infoblock2.pug
  include sections/mainPage/infoblockGrid.pug
  include sections/mainPage/benefits.pug
  include sections/mainPage/questions.pug
  include sections/mainPage/homeForm.pug