extends layout/main

block content
  include sections/serviceList.pug
  include sections/infoblock.pug
  include sections/infoblock2.pug
  include sections/infoblockGrid.pug
  include sections/questions.pug
  include sections/homeForm.pug
  include sections/benefits.pug