section.section-services.about
  .container
    +breadcrumbs('Главная', 'Услуги', '/services.html', 'Малая ортопедия', 'minorOrthopedics.html')
  .container
    h3.page-title.mb-3.mb-lg-5.text-w-bold(style="padding-right: 5rem;") Ортоподология и малая ортопедия в Житомире
    .row.mx-auto
      .col-12.d-block.d-sm-none.mb-3
        .services-about-sm-divider
      .col-12.col-lg-6.order-2.order-lg-1
        img.w-100.shadow(src="assets/img/orthopedics/feet-top.jpg", srcset="assets/img/orthopedics/feet-top@2x.jpg 2x")
      .col-12.col-lg-6.d-flex.justify-content-center.flex-column.order-1.order-lg-2
        p.paragraph-text.text-dark-1.pb-2.w-200 Ортоподология — одно из направлений подологии, вплотную занимающееся изучением биомеханических нарушений стопы и нижних конечностей. Ортоподология исправляет и корректирует эти нарушения с помощью стелек и других ортезов.<br><br>Это направление — одно из ключевых в нашем центре здоровья ног. Все потому, что большинство проблем со стопами появляются из-за неправильного положения стоп. Оно провоцирует чрезмерное давление или трение на определенные участки. Из-за этого появляются вросшие ногти, мозоли, трещины на пятках, ороговения, боль и другие неприятные состояния.
        p.paragraph-text.text-dark-1.w-200 Чтобы облегчить ходьбу и не допустить возвращения любой из этих проблем, в центре здоровья ног Steffany для вас доступны услуги по ортоподологии: диагностика стопы и изготовление стелек, изготовление индивидуальных силиконовых ортезов и подбор специальных ортопедических тренажеров из нашего магазина ортопедии.
