section.section-services.container-fluid.py-0.ort-treatment
  .row.no-gutters.section-bg-dark.section-services-treatment-row-padding
    .container
      .row
        .col
          h3.section-title.text-color-light.mb-4.text-center Для диагностики стоп мы используем специальную аппаратуру
          p.paragraph-text-light.text-center.mb-3 Чтобы подобрать вам правильное ортопедическое изделие, сначала вы проходите диагностику стоп на аппаратах, <br/> которые оценивают состояние вашего опорно-двигательного аппарата.
    .container
      .row.no-gutters.mx-auto.justify-content-between
        .col-12.col-lg-6.ort-block.ort-block-1.pr-0.pr-lg-2
          img.ort-cnt.mb-0(src="assets/img/orthopedics/feet-icon-1.png", srcset="assets/img/orthopedics/feet-icon-1@2x.png 2x")
          p.paragraph-text-bold.ort-title
            span.ort-cnt.text-white Подоскоп
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Что это:
            | специальная платформа, которая позволяет оценить стопы в положении стоя — в статике
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Для чего:
            | благодаря подоскопу можно вычислить форму плоскостопия и отследить возможные деформации в позвоночнике.
          p.paragraph-text-bold.ort-cnt Как работает:
          ul.p-0.m-0.ort-cnt
            li.paragraph-text-light Вы встаете на поверхность подоскопа.
            li.paragraph-text-light Подсвеченные отпечатки подошв отражаются в зеркале под поверхностью, на которой вы стоите.
            li.paragraph-text-light Специалист-подолог оценивает полученные отпечатки
        .col-12.col-lg-6.ort-block.ort-block-2
          img.ort-cnt.mb-0(src="assets/img/orthopedics/feet-icon-2.png", srcset="assets/img/orthopedics/feet-icon-2@2x.png 2x")
          p.paragraph-text-bold.ort-title
            span.ort-cnt.text-white Параподографический мат
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Что это:
            | платформа, которая позволяет оценить положение стопы при ходьбе — в динамике
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Для чего:
            | спараподографическим матом можно оценить биомеханику ходьбы — посмотреть, как весь опорно-двигательный аппарат ведет себя при ходьбе.
          p.paragraph-text-bold.ort-cnt Как работает:
          ul.p-0.m-0.ort-cnt
            li.paragraph-text-light Вы встаете на мат и начинаете идти в своей привычной манере.
            li.paragraph-text-light На компьютере отражается схема вашей ходьбы.
            li.paragraph-text-light Специалист оценивает положение ваших стоп при ходьбе.
.blue-block
  .container
    .row
      p.paragraph-text-bold.text-center.mx-0.mx-md-auto.mb-0 После диагностики специалист анализирует результаты диагностики и подбирает вам индивидуальное <br/> ортопедическое изделие, которое отвечает вашим анатомическим особенностям.
