section.section-services.wart-symptoms.orthopedics-symptoms
  .container
    .row
      .col-12.col-lg-6.order-1.order-lg-1
        h3.section-title.mb-4 Чем опасна деформация стопы
        p.paragraph-text-light.text-dark-1 Изменения в форме стоп — это процессы, которые влекут за собой опасные последствия. Давайте разберем, какие именно.
        p.paragraph-text-bold.text-dark-1 Нагрузка на стопы
        p.paragraph-text-light.text-dark-1 Когда ваши стопы по какой-то причине деформируются, вы по-другому начинаете ставить их при ходьбе или беге. Нагрузка неравномерно распределяется по поверхности стоп. В результате какие-то зоны терпят сильное давление или трение. Из-за этого могут регулярно врастать ногти и из-за этого болеть. Также одна за другой могут появляться мозоли и натоптыши, которые тоже приносят болезненные ощущения.
        p.paragraph-text-bold.text-dark-1 Нагрузка на позвоночник
        p.paragraph-text-light.text-dark-1 Стопа — это часть опорно-двигательного аппарата. Ее неправильное положение стопы не остается проблемой только нижней части ноги. Оно задевает голени, колени, таз и весь позвоночник в целом. Чем дольше вы игнорируете очевидные симптомы и терпите боль, тем серьезнее повреждается позвоночник. 
        p.paragraph-text-light.text-dark-1 Поэтому помогать своим стопам и организму надо как можно скорее. И сделать это можно за счет ортопедических изделий.
      .col-12.col-lg-6.order-2.order-lg-2
        img.w-100.shadow(src="assets/img/services-warts/feet-2.png")
section.section-services.wart-symptoms.orthopedics-symptoms
  .container
    .row.align-items-center
      .col-12.col-lg-6.order-2.order-lg-1
        img.w-100.shadow(src="assets/img/orthopedics/feet-ort-symp.jpg", srcset="assets/img/orthopedics/feet-ort-symp@2x.jpg 2x")
      .col-12.col-lg-6.order-1.order-lg-2
        h3.section-title.mb-4 Что делать, если у вас плоскостопие
        p.paragraph-text-light.text-dark-1 Многие люди с детского сада уверены в том, что у них плоскостопие. Они несут этот «диагноз» всю жизнь. Однако 97% из таких обладателей плоскостопия на самом деле заблуждаются. Их деформация называется «плоско-вальгусная стопа» — когда оба свода стопы снижаются и ее ось искривляется. При таком диагнозе кости и суставы только смещаются.
        p.paragraph-text-light.text-dark-1 С реальным плоскостопием живут 3% тех, кто заявляет о своем диагнозе. В таком случае их кости уже срослись в этом положении. Малая ортопедия не может работать с плоскостопием — это уже задача ортопеда. Однако при плоско-вальгусной стопе малая ортопедия в силах скорректировать положение стопы. В таких случаях можно и нужно скорее приниматься за лечение.