section.section.advantages.pb-0
  .container
    h2.text-center.dark-blue.mb-65 На приеме подолога вы находитесь в стерильном помещении
    +numberedSection2('Вы дышите очищенным воздухом', 'Воздух в помещении фильтруют три циркулятора закрытого типа. Также аппараты, которые работают с кожей и ногтями стоп, оснащены встроенными пылесосами. Они всасывают всю пыль и аллергены прямо во время работы и делают воздух гипоаллергенным.',
    'Перед вами дезинфицируют кабинет', 'После каждого приема специалисты дезинфицируют все поверхности в кабинете, в том числе кресло, тумбы, лампы и аппараты. Также в центре проводят регулярные уборки: в начале и конце дня проходят обычные уборки, а раз в неделю — генеральная.')