section.section-services.symptoms-container.symptoms-blk
  .row.no-gutters
    .container
      .row.no-gutters.section-services-treatment-row-padding
        .col-xl-8
          h3.section-title.text-color-light.mb-4 Как понять, что у вас деформируется стопа
          p.paragraph-text-light Малая ортопедия корректирует положение стоп с помощью индивидуально изготовленных корректоров и стелек. Это безоперационное лечение, которое улучшает положение стопы на начальных этапах деформаций. 
          p.paragraph-text-light Пользоваться услугами малой ортопедии нужно в том случае, когда кости, суставы и мышцы еще не окончательно закрепились в неправильном положении. Поэтому отслеживайте малейшие симптомы в ваших ногах, чтобы вовремя исправить ситуацию.
          p.paragraph-text-bold Ноги сигнализируют о деформациях разными способами:
          ul.list-blue-bullets.paragraph-text-light
            li.mb-3 пальцы на ногах выглядят неестественно: слишком согнуты, слишком плотно прилегают друг к другу;
            li.mb-3 при ходьбе болят стопы, а иногда голени и колени;
            li.mb-3 какие-то зоны на стопах припухают, отекают, краснеют;
            li.mb-3 особенно неудобно и больно на каблуках и в тесной обуви;
            li.mb-3 сложно двигать стопой и пальцами в некоторых положениях;
            li.mb-3 регулярно появляются натоптыши, мозоли, врастают ногти;
            li возле пальцев вырастают «шишки».
          p.paragraph-text-bold Даже один из этих симптомов должен стать поводом заняться здоровьем своих ног и обратиться к подологу.