section.section-services.lightblue-bg
  .container.circles-bg
    .row
      .col.d-flex.flex-column.align-items-center.section-service-block.mx-auto
        h3.section-title.mb-4.text-dark-1.text-center Услуги малой ортопедии
        .services-treatment-divider.mb-4
        p.paragraph-text.text-dark-1.text-center.mb-4.mb-md-5 Малая ортопедия выполняет одну важную функцию — разгружает проблемные зоны стоп с <br/> помощью ортопедических изделий. Стельки и корректоры поддерживают стопы и пальцы ног в <br/> правильном положении и возвращают подошвы в здоровое положение. Специалист-подолог <br/> подберет вам нужное изделие, когда проведет осмотр и диагностику.
        //.separator.mb-5
        .row.mt-md-4.mb-5
          .col-12.col-md-6.px-4
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Консультация
              p.paragraph-text.text-dark-1 Специалист-подолог проведет осмотр ваших стоп, узнает необходимую информацию о ваших нагрузках и образе жизни, а затем продиагностирует стопы в положении стоя и во время ходьбы с помощью специальных аппаратов.
            .paragraph-container
              h4.paragraph-title Кинезиотейпирование при мышечных болях (за одну единицу тейпа)
              p.paragraph-text.text-dark-1 Специалист-подолог зафиксирует тейпами (клейкой лентой) ваши стопы и голени в определенном положении, чтобы снять нагрузку с перенапряженных мышц стопы и голени для снятия нагрузки с перенапряженных мышц.
          .col-12.col-md-6.px-4
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Изготовление ортеза за 1 грамм
              p.paragraph-text.text-dark-1 Специалист-подолог изготовит и установит для вас индивидуальный гелевый корректор пальцев, чтобы вернуть пальцы в анатомически здоровое положение.
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Гель с антимикотиком или серебром (полный протез)
              p.paragraph-text.text-dark-1 Специалист-подолог изготовит для вас персональный гелевый протез для корректировки положения стопы.
            .paragraph-container
              h4.paragraph-title.mb-3 Медицинский акрилат (полный протез)
              p.paragraph-text.text-dark-1 Специалист-подолог подготовит ваш индивидуальный протез из медицинского акрилата для корректировки положения стопы.
        .container-fluid.d-flex.flex-column.align-items-center
          .row.prices-container.mb-4
            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Изготовление ортоза (за 1 г)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 1000 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 мин

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Кинезиотейпирование   (за 1 ед. тейпа)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 100 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 1 час

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Изготовление разгрузочной стельки Полная разгрузка (пара)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 800 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 1 час

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Компьютерная диагностика стопы в динамике и статике
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 400 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 40 мин

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Медицинский акрилат (полный протез)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 350 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 45 мин
          .services-btn-container
            +btnPen('записаться')
