section.section.choose-service
  .container
    .icon-service-choose
      height: 190px
    .choose-zone-box
      cursor: pointer
      &:hover .choose-zone-box__desc
        color: #F6AE9F
      &__desc
        @include font ('Cormorant Garamond', 400, 24, 24)
        color: $text-color-dark
        cursor: pointer

