section.section.consultation
  .custom-icon-number
    width: 27px
    height: 27px
    p
      @include font (Circe, bold, 16, 26)

  .consultation-top
    background-color: #9FA6BA
    .container


  .consultation-middle
    background-color: #A9A8C6
    .container


  .consultation-bottom
    background-color: #EDE1DF
    .container
