footer.footer
  padding-top: 39px
  .container
    .c-logo-f
      img
        max-width: 279px
        max-height: 132px
    .footer-col-2
      padding-left: 11px
    .footer-col-3
      padding-left: 26px
    .footer-col-4
      padding-left: 26px
      margin-top: -2px
      p
        letter-spacing: 0.4px
    .icon-phone
      width: 21px
      height: 20px
      margin-right: 12px !important
    .icon-loc
      width: 21px
      height: 21px
      margin-right: 9px !important
    .icon-facebook
      width: 25px
      height: 21px
      margin-right: -4px !important
    .drop-menu .icon-arrow
      margin-left: 5px !important
      width: 10px
    .footer-text-1
      padding-left: 4px
      letter-spacing: 0.69px
      font-size: 13px
    .footer-text-2
      padding-right: 13px
      letter-spacing: 0.45px
      font-size: 13px
    .footer-text-3
      padding-right: 12px
      letter-spacing: 0.55px
      font-size: 13px
    .footer-text-4
      padding-right: 14px
      letter-spacing: 0.45px
      font-size: 13px
.footer-icon-blk
  height: 18px
@media(max-width: 1200px)
	footer 
		br
			display: none