footer.footer
  padding-top: 25px
  @media(max-width: 1199px)
    padding-top: 0
  .container
    .c-logo-f
      img
        max-width: 279px
        max-height: 132px
    .footer-col-2
      padding-left: 11px
      @media(max-width: 767px)
        padding-left: 0px
        margin-bottom: 19px !important
    .footer-col-3
      padding-left: 26px
      @media(max-width: 1199px)
        padding-left: 0px
      @media(max-width: 767px)
        a
          margin-bottom: 21px !important
        h3 
          margin-top: 23px !important
          margin-bottom: 27px !important
    .footer-col-4
      @media(max-width: 1199px)
        padding-left: 40px
    .footer-col-5
      padding-left: 26px
      margin-top: -2px
      @media(max-width: 1199px)
        margin-top: 0px
        margin-bottom: 3px
        padding-left: 0px
        padding-top: 26px
        border-top: 1px solid rgba(0,0,0,.1)
      p
        letter-spacing: 0.4px
        @media(max-width: 1199px)
          letter-spacing: -0.57px
          margin-right: 35px
          margin-bottom: 0!important
    .icon-phone
      width: 19px
      height: 18px
      margin-right: 12px !important
    .icon-loc
      width: 14px
      height: 17px
      margin-right: 9px !important
    .icon-facebook
      width: 9px
      min-width: 9px
      max-width: 9px
      height: 16px
      margin-right: -4px !important
    .drop-menu .icon-arrow
      margin-left: 5px !important
      width: 10px
    .footer-text-1
      padding-left: 4px
      letter-spacing: 0.69px
      font-size: 13px
      @media(max-width: 767px)
        padding-left: 0px
        letter-spacing: 0px
    .footer-text-2
      padding-right: 13px
      letter-spacing: 0.45px
      font-size: 13px
      @media(max-width: 767px)
        padding-right: 0px
        letter-spacing: 0px
    .footer-text-3
      padding-right: 12px
      letter-spacing: 0.55px
      @media(max-width: 767px)
        padding-right: 0px
        letter-spacing: 0px
        font-size: 13px
    .footer-text-4
      padding-right: 14px
      letter-spacing: 0.45px
      font-size: 13px
      @media(max-width: 767px)
        padding-right: 0px
        letter-spacing: 0px
.footer-icon-blk
  height: 18px
@media(max-width: 1199px)
	footer 
		br
			display: none