header
  position: relative
  z-index: 5
  .container
    padding-top: 20px
  .c-logo
    width: 100%
    max-width: 152px
    img
      width: 100%
  .c-row
    max-width: 550px
    ul.header-contact-list
      &:nth-last-child(1)
      & > li
        position: relative
        cursor: pointer
        margin-right: 35px
        & > a
          padding-top: 2px
          img 
            width: 10px
            height: 6px
            margin-top: 2px
            margin-left: 6px
    .header-nav-wrap
      width: 100%
      nav.header-nav
        width: 100%
        max-width: 320px
        margin-right: 5px
        ul.header-nav-list
          width: 100%
          li
            position: relative
            cursor: pointer    
