header
  position: relative
  z-index: 5
  .icon
    margin-right: 10px
  .icon-loc
    width: 10px
    height: 13px
  .icon-phone
    width: 14px
    height: 13px
  .icon-arrow
    width: 12px
    margin-left: 6px
  .container
    padding-top: 20px
  .c-row
    margin-left: auto
    width: 100%
    max-width: 612px
    ul.dropdown-menu-list
      position: absolute
      z-index: -10
      opacity: 0
      top: calc(100%)
      left: 50%
      transform: translateX(-50%)
      width: 100%
      min-width: 100px
      padding: 7px
      background: #ffffff
      border: 2px solid #a9a8c6
      border-radius: 10px
      li
        border-bottom: 0px solid transparent !important
        &:not(:last-child) 
          margin-bottom: 5px
        a 
          @include font ('Circe-Regular', 300, 11, 13)
          transition: 0.3s ease
          text-decoration: none
          color: $text-color-dark 
          border-bottom: 1px solid transparent !important
          &:hover 
            border-bottom: 1px solid $text-color-dark !important
    ul.header-contact-list
      &:nth-last-child(1)
      & > li
        position: relative
        cursor: pointer
        margin-right: 35px
        .header-lang 
          padding: 0 5px
        & > a
          padding-top: 2px
          text-decoration: none
          @include font ('Circe-Regular', 300, 14, 14)
          color: $text-color-dark
          img 
            width: 10px
            height: 6px
            margin-top: 2px
            margin-left: 6px
        &:hover
          ul.dropdown-menu-list
            z-index: 2
            opacity: 1
      .header-lang-wrap
        ul.dropdown-menu-list
          min-width: 35px 
    .header-nav-wrap
      width: 100%
      nav.header-nav
        width: 100%
        max-width: 372px
        margin-right: 5px
        ul.header-nav-list
          width: 100%
          li
            position: relative
            cursor: pointer
            margin-right: 4px
            transition: 0.3s ease
            border-bottom: 2px solid transparent
            a
              @include font ('Circe-Regular', 300, 16, 18)
              color: $text-color-dark
              text-decoration: none
            &:hover 
              border-bottom: 2px solid $text-color-dark
            &.drop-menu
              &:hover 
                border-bottom: 2px solid transparent
                ul.dropdown-menu-list
                  z-index: 2
                  opacity: 1
.btn-callback
  width: 100%
  max-width: 195px
  height: 38px
  padding-right: 18px
  padding-left: 20px
  background: url('../assets/img/background/callback-btn.png')
  background-repeat: no-repeat
  background-size: 45px 38px
  background-position: top right
  border: 2px solid $color-purple
  text-decoration: none
  border-radius: 100px
  transition: 0.3s linear
  & > span 
    text-decoration: none
    width: 100%
    max-width: 120px
    svg
      width: 13px
      height: 13px
    .st0 
      fill: $color-purple-text
      transition: 0.3s ease 0.1s
    span 
      padding-top: 2px
      @include font ('Circe-ExtraBold', 900, 10, 10)
      text-transform: uppercase
      letter-spacing: 2px
      color: $color-purple-text
      transition: 0.3s ease
  & > svg 
    width: 14px
    height: 11px
    .st0 
      fill: $color-white
  &:hover 
    background-size: 195px 38px
    text-decoration: none
    & > span 
      .st0 
        fill: $color-white
      span
        color: $color-white
.btn-callback-white
  background: url('../assets/img/background/callback-btn-white.jpg')
  background-repeat: no-repeat
  background-size: 45px 38px
  background-position: top right
  border: 2px solid $color-white
  & > span
    span
      color: $color-white 
  & > svg 
    .st0 
      fill: $color-purple
  &:hover    
    background-size: 195px 38px
    text-decoration: none
    & > span
      span
        color: $color-purple