.info-block
	padding-top: 160px
	background: url('../assets/img/infoblock/infoblock-bg-1.png')
	background-repeat: no-repeat
	background-size: 100% calc(100% - 150px)
	background-position: top left
	@media(max-width: 1199px)
		background: $color-white !important
		padding:	0 !important
	.bnf-title-smaller
		font-size: 16px
		text-transform: inherit
		letter-spacing: 0px
	.container
		position: relative
		max-width: 1150px
		.row:not(.info-block-wrap)
			position: relative
		.col-img
			position: absolute
			left: 0
			top: -70px
			z-index: 2
			width: 100%
			max-width: 457px
			box-shadow: 0 10px 74px rgba(0, 0, 0, 0.15)
		.col-info
			position: relative
			z-index: 1
			width: 100%
			max-width: 771px
			padding: 57px 93px 100px 144px
			background: $color-white
			p.pt-50
				padding-top: 50px
			@media(max-width: 1199px)
				margin-left: 0 !important
				margin-right: 0 !important
				padding: 35px 0 40px!important
				max-width: 100% !important
				.section-title
					margin-bottom: 20px !important
					&::before, br
						display: none
		.big-text
			position: absolute
			bottom: -18px
			left: -160px
			z-index: 2
			max-width: 100%
			@include font('Circe-ExtraBold', 900, 322, 130)
			letter-spacing: 3.85px
			color: $color-white
	.container-info
		position: relative
		max-width: 1353px
		padding-left: 20px
		padding-right: 20px
		.info-block-wrap
			max-width: 1150px
.border-el
	position: relative
	margin-bottom: 66px
	&::before
		content: ''
		position: absolute
		z-index: 5
		top: -92px
		left: -183px
		width: calc(100% + 208px)
		height: calc(100% + 130px)
		border: 3px solid $list-number
.info-block-1
	padding-bottom: 55px
.info-block-2
	padding-top: 0
	padding-bottom: 65px
	background: url('../assets/img/infoblock/infoblock-bg-2.jpg')
	background-repeat: no-repeat
	background-size: 100% calc(100% - 24px)
	background-position: bottom left
	.container
		.row
			.col-img
				left: auto
				right: 0
				max-width: 470px
			.col-info
				max-width: 758px
				padding: 36px 158px 0 42px
				@media(max-width: 767px)
					padding-top: 20px !important
	.big-text
		left: auto !important
		right: -215px
		top: -90px
		text-align: right
.info-block-3, .info-block-4
	padding-top: 73px
	background: $dark-gren-bg
	.col-img
		top: auto !important
		&:not(.behind-bg)
			max-width: 504px !important
	.col-info
		margin-left: 430px
		padding: 57px 133px 136px 109px !important
		max-width: 720px !important
	.big-text
		bottom: -24px !important
		left: -65px !important
.info-block-5
	padding-top: 118px !important
	@media(max-width: 1199px)
		padding-bottom: 25px !important
	.info-block-wrap
		max-width: 1216px !important
		padding-left: 100px
		@media(max-width: 1199px)
			padding-left: 0px
	.section-title
		margin-bottom: 37px !important
	.col-info
		max-width: 756px !important
		padding: 62px 73px 69px 118px !important
		margin-left: 394px
		p:not(:last-child)
			padding-bottom: 14px
	.container 
		.col-img
			max-width: 467px !important
			top: -55px !important
	.big-text
		left: -150px !important
		bottom: 18px !important
.info-list-item
	&:not(:last-child)
		margin-bottom: 14px
	p
		line-height: 25px
		@media(max-width: 767px)
			line-height: 22px
	.p-bold
		padding-bottom: 15px
		@media(max-width: 767px)
			padding-bottom: 16px
	.info-list-number
		width: 37px
		min-width: 37px
		height: 37px
		margin-top: -7px
		margin-right: 30px
		color: $color-white !important
		background: $list-number
		border-radius: 50%
		@include font('CormorantGaramond-Bold', 700, 42, 42)
		span
			display: block
			margin-top: -6px
			color: $color-white
.info-block .behind-bg
	padding: 59px 0 100px 63px !important
	background: -webkit-linear-gradient(left, #ffffff, #ffffff 70%, transparent 0, transparent )
	max-width: 615px !important
	box-shadow: none !important
	top: -60px !important
	img
		box-shadow: 0 10px 74px rgba(0, 0, 0, 0.15)
.info-block-4
	padding-top: 124px !important
	padding-bottom: 32px !important
	@media(max-width: 1199px)
		border-top: 46px solid #EDE1DF
	.container-info
		.info-block-wrap
			max-width: 1180px
			@media(min-width: 1200px)
				padding-left: 27px
		.col-info
			z-index: 2 !important
			max-width: 505px !important
			padding: 0 0 110px !important
		.section-title
			@media(min-width: 1200px)
				padding-top: 8px
			@media(max-width: 1199px)
				margin-bottom: 9px !important
		.border-el::before
			top: -60px
			left: -144px
			width: calc(100% + 75px)
			height: calc(100% + 92px)
	.info-block-wrap .big-text
		bottom: -40px !important
		left: 4px !important
.info-block
	&.info-block-6
		padding-bottom: 39px !important
		border-bottom: 111px solid $color-white
		padding-top: 63px !important
		@media(max-width: 1199px)
			padding-top: 25px !important
		.section-title
			margin-bottom: 17px
			@media(max-width: 1199px)
				margin-bottom: 12px !important
				br
					display: none
		.info-block-wrap
			max-width: 1234px !important
			padding-left: 27px
			@media(max-width: 767px)
				padding-left: 0
		.col-info
			z-index: 5 !important
			padding: 0 0 0 50px !important
			max-width: 605px !important
			margin-left: 600px !important
		.col-img
			max-width: 603px !important
			padding: 73px 0 15px 72px !important
			top: 0 !important
		.info-block-wrap .big-text
			top: 135px !important
			bottom: auto !important
			left: auto !important
			right: -340px !important
			transform: rotate(-90deg)
		.info-list
			padding-top: 36px
			@media(max-width: 767px)
				padding-top: 20px
			.info-list-number
				margin-right: 16px
			.info-list-item
				margin-bottom: 18px
				@media(max-width: 1199px)
					&:not(:last-child)
						
		.behind-bg
			background: -webkit-linear-gradient(left, #ffffff, #ffffff 83%, transparent 0, transparent)
.info-block-7
	padding-top: 83px !important
	padding-bottom: 103px !important
	.info-block-wrap
		max-width: 1287px !important
	.col-info
		padding: 0 0px 0 140px !important
		max-width: 670px !important
		margin-right: 0 !important
	.col-img
		max-width: 613px !important
		left: auto !important
		right: 0
		top: -143px !important
	.info-list-item .info-list-number
		margin-right: 17px
	.info-list-item:not(:last-child)
		margin-bottom: 33px
	.list-p-text
		padding-top: 5px
		padding-bottom: 15px
	.behind-bg
		padding: 0 70px 76px 0px !important
		background: -webkit-linear-gradient(right, #ffffff, #ffffff 82%, transparent 0, transparent)
	.btn-simple
		max-width: 159px
.info-block-8
	background: transparent
	padding-top: 84px !important
	.container
		max-width: 1289px !important
		padding-right: 91px
		@media(max-width: 767px)
			padding-right: 0
		.col-img
			top: -137px !important
			max-width: 612px !important
		.col-info
			z-index: 2
			max-width: 770px !important
			padding: 39px 0 121px 235px !important
			background: transparent 
	.border-el
		margin-bottom: 60px
	.section-title
		line-height: 42px
		padding-bottom: 15px
		@media(max-width: 767px)
			padding-bottom: 0
			margin-bottom: 17px !important
	.control-width
		max-width: 445px
	.border-el::before
		top: -55px !important
		left: -109px !important
		width: calc(100% + 115px) !important
		height: calc(100% + 98px) !important
.info-block-9
	padding: 60px 0 57px !important
	.container
		max-width: 1106px
		.col-info
			padding: 0 0 0 91px
			padding-top: 26px
		.col-img
			position: static	!important
			max-width: 538px !important
.info-block-3-1
	padding-top: 52px
	.container-info 
		.info-block-wrap
			max-width: 1160px
			padding-left: 56px
	.border-el
		margin-bottom: 65px
		&::before
			top: -34px
			right: -106px
			left: auto
			width: calc(100% + 130px)
			height: calc(100% + 58px)
	.col-info
		max-width: 716px !important
		padding: 89px 173px 69px 96px !important
		margin-left:	0 !important
	.col-img:not(.behind-bg)
		top: 102px !important
		left: auto !important
		right: 24px !important
		max-width: 468px !important
	.big-text
		z-index: 0 !important
		bottom: 23px !important
		left: -88px !important
	.big-text-2
		right: 55px
		left: auto !important
		bottom: 24px !important
		z-index: 3 !important
		@media(max-width: 1400px)
			right: -25px
.info-block-3-2
	padding-top: 93px
	background: #A8A4CD
	@media(max-width: 1199px)
		border-top: 50px solid #A8A4CD
	@media(max-width: 767px)
		padding-top: 0 !important
		border-top:  32px solid #A8A4CD
	.container-info 
		.info-block-wrap
			max-width: 1106px
		.col-info
			max-width: 646px
			padding: 80px 107px 149px 107px
			@media(max-width: 767px)
				padding-top: 15px !important
				padding-bottom: 25px !important
		.col-img
			top: 50px
			left: 103px
			max-width: 429px
		.big-text
			transform: rotate(-90deg)
			top: -94px
			right: -630px
			left: auto
			bottom: auto
.info-block-5-1
	padding-top: 172px !important
	border-bottom: 85px solid #ffffff
	@media(max-width: 1199px)
		border-top: 50px solid #BECDD4
		padding: 0 !important
		background: #ffffff !important
	@media(max-width: 767px)
		border-top: 0px solid transparent
	.container
		.info-block-wrap
			max-width: 1187px !important
			padding-left: 35px
			@media(max-width: 1199px)
				padding-left: 0
			.col-img
				max-width: 504px !important
				top: -108px !important
			.col-info
				padding: 60px 116px 49px 149px !important
				@media(max-width: 1199px)
					padding: 35px 0 70px !important
				.section-title
					margin-bottom: 27px !important
					@media(max-width: 767px)
						margin-bottom: 18px !important
				.btn-simple
					max-width: 159px
					margin-top: 15px
	.big-text
		left: -99px !important
		bottom: 8px !important
.info-block.info-block-6-1
	padding-top: 91px !important
	border-bottom: 113px solid #ffffff
	@media(max-width: 1199px)
		padding-top: 39px !important
	.info-block-wrap
		max-width: 1225px !important
		padding-left: 35px
		@media(max-width: 1199px)
			padding-left: 0
		.section-title
			margin-bottom: 68px
		.col-info
			z-index: 3
			padding-right: 45px !important
			@media(max-width: 1199px)
				padding: 0  !important
				margin-left: 0 !important
				max-width: 100% !important
		.col-img
			max-width: 612px !important
			padding: 64px 0 0 72px !important
			top: -14px !important
		.border-el::before
			top: -91px
			left: -111px
			width: calc(100% + 117px)
			border-top: 0
		.big-text
			z-index: 1
			left: -330px !important
			top: 181px !important
			right: auto !important
.info-block-7-1
	padding-top: 78px !important
	padding-bottom: 100px !important
	@media(max-width: 1199px)
		background: #A8A4CD !important
		padding-bottom: 27px !important
	@media(max-width: 767px)
		padding-bottom: 0 !important
	.info-block-wrap
		max-width: 1186px !important
		.behind-bg
			padding: 0 70px 61px 0px !important
			@media(max-width: 1199px)
				margin-top: -94px !important
				max-height: 100% !important
				min-height: auto !important
				overflow: inherit
				background: -webkit-linear-gradient(right, #ffffff, #ffffff 90%, transparent 0, transparent)
			@media(max-width: 767px)
				margin-top: -195px !important
				margin-left: 0 !important;
				padding: 0 !important
		.col-info
			padding: 0 192px 0 140px !important
			@media(max-width: 1199px)
				padding: 0 !important
		.col-img
			top: -151px !important
.info-block-9-1
	padding-top: 0 !important
	padding-bottom: 11px !important
	@media(max-width: 767px)
		padding: 0 0 0 !important
	.container 
		max-width: 1266px
		padding-right: 72px
		margin: 0 0 0 auto
		@media(max-width: 1199px)
			padding-right: 15px
		.col-info
			max-width: 448px
			padding: 37px 0px 0 26px
			@media(max-width: 767px)
				padding-bottom: 13px !important
			.section-title
				margin-bottom: 43px
		.col-img
			max-width: 100% !important
.info-block-9-2
	@media(max-width: 1199px)
		padding: 32px 0 45px !important
	@media(max-width: 767px)
		padding: 0 0 0 !important
	.container 
		max-width: 1266px
		padding-left: 93px
		margin: 0 auto 0 0
		@media(max-width: 1199px)
			padding-left: 15px
		.col-info
			max-width: 441px
			padding: 0
		.col-img
			max-width: 100% !important
.light-orange-bg
	background: $spec-bg !important
.white-bg
	background: $color-white !important
.light-purple-bg
	background: $btn-bg !important
.light-green-bg
	background: $dark-gren-bg !important
.no-bg-blk
	background: transparent !important
.border-darkgray
	&::before
		border-color: #9FA6BA !important
@media(min-width: 1200px)
	.border-block-item, .border-block-item2, .border-block-item3
		position: relative
		&::before
			content: ''
			position: absolute
			z-index: 3
			display: block
			border: 3px solid #9FA6BA
	.border-block-item
		position: relative
		&::before
			top: 55px
			left: 71px
			width: 577px
			height: 334px
		.under-border
			padding-top: 65px
	.border-block-item2
		&::before
			top: -50px
			right: 66px
			width: 621px
			height: 211px
			border: 3px solid #BECDD4
		.under-border
			padding-top: 53px
	.border-block-item3
		&::before
			top: -53px
			right: 107px
			width: 613px
			height: 342px
			border: 3px solid #9FA6BA
		.under-border
			padding-top: 57px
			padding-bottom: 15px



///////////////////////////////////////////////////////////////////////////////////////////////
.d-white-bg
	position: relative
	background-color: #fff
	.d-border
		position: absolute
		border:	3px solid #BECDD4
	img
		box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.13)
		position: absolute
		object-fit: cover
// не работает из за вложености
.big-text
	position: absolute
	//bottom: -18px
	//left: -160px
	z-index: 2
	max-width: 100%
	font-family: "Circe-ExtraBold"
	font-style: normal
	font-weight: 900
	font-size: 322px
	line-height: 130px
	letter-spacing: 5px
	color: #ffffff
// нужен небольшой рефакт
.big-text-rotate
	//@extend .big-text
	position: absolute
	z-index: 2
	max-width: 100%
	font-family: "Circe-ExtraBold"
	font-style: normal
	font-weight: 900
	font-size: 322px
	line-height: 130px
	letter-spacing: 5px
	color: #ffffff
	position: absolute
	transform: rotate(270deg)
	width: 10%
	right: 14px
	bottom: -27px
////////////////////////////////////////////////////////////




/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@media(max-width: 1199px)
	.info-block-9
		.col-info
			padding-top: 27px !important
			padding-bottom: 33px !important
	.info-block-8
		.col-info
			padding-top: 53px !important
		.col-img
			max-width: 657px !important
			min-height: 397px !important
			max-height: 397px !important
			overflow: hidden
	.border-el::before
		display: none !important
	.border-el
		margin-bottom: 0 !important
	.container-info
		padding-left: 15px !important
		padding-right: 15px !important
	.col-img, .info-block .behind-bg
		position: static !important
		max-height: 504px
		padding: 0 !important
		background: transparent
	.info-block .container .big-text
		bottom: 0 !important
		right: 0 !important
		left: auto !important
	.mob-hidden-item
		display: none !important
	.info-block-6
		padding-top: 24px !important
		padding-bottom: 15px !important
		border-bottom: none !important
		.container .col-info
			padding-bottom: 0  !important

		&.light-orange-bg
			background: $spec-bg !important
			.section-title
				margin-bottom: 11px !important
			.info-list
				padding-top: 37px
				.info-list-number
					margin-right: 16px
				.info-list-item:not(:last-child)
					margin-bottom: 44px
	.info-block-7
		&.light-green-bg
			background: $dark-gren-bg !important
		.col-img
			min-height: 290px !important
			max-height: 209px
			max-width: 658px !important
			margin-top: -20px !important
			margin-bottom: 40px !important
			overflow: hidden
			order: 1 !important
			box-shadow: 0 10px 74px rgba(0, 0, 0, 0.15)
		.col-info
			margin-right: 0 !important
			padding-bottom: 66px !important
			order: 2 !important
		.pb-42
			padding-bottom: 30px !important
	.info-block-3-1
		border-top: 49px solid #A8A4CD !important
		padding-top: 4px !important
		.container-info .info-block-wrap
			padding-left: 0
		.container .big-text
			bottom: 62px !important
			right: -35px !important
		.col-info
			padding-top: 0 !important
			padding-bottom: 57px !important
			.info-list
				margin-bottom: 14px
		.big-text-2
			z-index: 4 !important
			display: block !important
			left: 50% !important
			transform: translate(-50%)
			bottom: 0 !important
@media(max-width: 767px)
	.big-text
		display: none !important
	.info-block-6
		padding-bottom: 60px !important
	.info-block-8
		.col-img
			height: auto !important
			min-height: auto !important
			max-height: 100% !important
			overflow: inherit !important
	.info-block-7 .col-img
		margin-top: -50px !important
		height: auto !important
		min-height: auto !important
		max-height: 100% !important
		box-shadow: none !important
		overflow: inherit !important
	.info-list-item .info-list-number
		margin-right: 23px !important
	.info-block-2
		padding-top: 37px !important
	.info-block-4
		border-top: 30px solid #EDE1DF
		.container-info 
			.col-info
				padding: 20px 0 10px !important
			.section-title
				margin-bottom: 13px !important
				line-height: 31px
	.info-block-7 .col-img
		margin-bottom: 11px !important
	.info-list-item .info-list-number
		margin-right: 16px
	.info-block-3-1
		border-top: 0px solid transparent !important
		padding-top: 4px !important
		.container 
			.col-img
				margin-bottom: 67px
			.big-text
				bottom: 50px !important
				right: -53px !important