.info-block
	padding-top: 160px
	background: url('../assets/img/infoblock/infoblock-bg-1.png')
	background-repeat: no-repeat 
	background-size: 100% calc(100% - 100px)
	background-position: top left
	.container 
		position: relative
		max-width: 1150px
		.row:not(.info-block-wrap)
			position: relative
		.col-img
			position: absolute
			left: 0
			top: -70px
			z-index: 2
			width: 100%
			max-width: 457px
			box-shadow: 0 10px 74px rgba(0, 0, 0, 0.15)
		.col-info
			position: relative
			z-index: 1
			width: 100%
			max-width: 771px
			padding: 57px 93px 100px 144px
			background: $color-white
			p.pt-50 
				padding-top: 50px
		.big-text
			position: absolute
			bottom: 70px
			left: -160px
			z-index: 2
			@include font('Circe-ExtraBold', 900, 322, 130)
			letter-spacing: 5px
			color: $color-white
	.container-info
		position: relative
		max-width: 1353px
		padding-left: 20px
		padding-right: 20px
		.info-block-wrap
			max-width: 1150px
.border-el
	position: relative
	margin-bottom: 70px
	&::before
		content: ''
		position: absolute
		z-index: 5
		top: -92px
		left: -183px
		width: calc(100% + 208px)
		height: calc(100% + 130px)
		border: 3px solid $list-number
.info-block-1
	padding-bottom: 100px	
.info-block-2	
	padding-top: 61px
	padding-bottom: 65px
	background: url('../assets/img/infoblock/infoblock-bg-2.jpg')
	background-repeat: no-repeat 
	background-size: 100% 90%
	background-position: bottom left
	.container
		.row 
			.col-img
				left: auto
				right: 0
				max-width: 476px
			.col-info
				max-width: 739px
				padding: 45px 141px 58px 51px
	.big-text
		left: auto
		right: -235px
		top: -96px
		text-align: right
.info-block-3
	padding-top: 73px
	background: $dark-gren-bg
	.col-img
		top: auto !important
		max-width: 504px !important
	.col-info
		margin-left: 430px
		padding: 57px 133px 136px 109px !important
		max-width: 720px !important
	.big-text
		bottom: -24px !important
		left: -65px !important
.info-list-item
	.info-list-number
		width: 37px
		min-width: 37px
		height: 37px
		margin-top: -7px
		margin-right: 31px
  	color: $color-white !important
		background: $list-number
		border-radius: 50%
		@include font('CormorantGaramond-Bold', 700, 42, 42)
		span 
			display: block
			margin-top: -6px
			color: $color-white
@media(max-width: 1120px)
	.info-block .container .col-img
		top: -15px
		max-width: 400px
	.info-block .container .col-info
		max-width: 690px
	.info-block-3
		.col-info
			margin-left: 460px
			padding: 57px 50px 133px 70px !important
@media(max-width: 991px)
  .info-block
    padding-top: 50px !important
    padding-bottom:  0 !important
    margin-bottom: 312px
  .container-info
    padding-left: 0 !important
    padding-right: 0 !important
  .info-block .container .col-info
    margin-left: 0 !important
    padding: 35px 28px 225px !important
    max-width: 100% !important
    .section-title
      margin-bottom: 20px !important
      &::before, br
        display: none
  .col-img
    top:  auto !important
    bottom: -312px !important
    left: 50% !important
    transform: translateX(-50%)
    max-height: 504px
    img
      width: auto !important
      height: 100%
  .big-text
    display: none !important
@media(max-width: 768px)
	.info-block
		background: none !important
@media(max-width: 700px)
	.big-text
 		display: none
	.info-block .container
		padding-bottom: 80px
	.col-img
		margin-top: 0
	.info-block .container .col-info
		padding: 35px 0 35px !important
	.info-list-item .info-list-number
		margin-right: 10px