section.section.almalaser
  position: relative
  background-color: #EDE1DF
  p.extralarge-text-bg
    bottom: -100px
    left: 700px
  .container
    p.position
      //position: relative
      &:before
        //position: absolute
        content: ''
        display: block
        height: 2px
        width: 90px
        background-color: rgba(125, 137, 158, 0.39)
        margin: 1.5rem 0
