.info-block-about-1
	padding-top: 158px
	background: url('../assets/img/infoblock/infoblock-bg-1.png')
	background-repeat: no-repeat
	background-size: 100% calc(100% - 169px)
	background-position: top left
	background-color: #ffffff
	@media(max-width: 1199px)
		padding-top: 89px
		margin-bottom: 35px
	@media(max-width: 767px)
		padding-top: 35px
	& > .big-text
		bottom: 89px
		left: -46px
	.d-white-bg
		height: 485px
		margin-right: 34px
		padding: 58px 90px 84px 110px
		@media(max-width: 1199px)
			max-width: 639px
			margin-right: 0
			height: auto
			padding: 58px 70px 50px 110px
		@media(max-width: 767px)
			max-width: 100%
			padding: 35px 15px 0
		img.info-block-about-img
			width: 431px
			height: 490px
			right: 647px
			left: auto !important
			top: -111px
			@media(max-width: 1199px)
				width: 296px
				height: 409px
				right: 555px
				top: 41px
			@media(max-width: 767px)
				position: static
				height: auto
				width: 100%
				margin-top: 20px
		.d-border
			width: 679px
			height: 325px
			top: -56px
			left: 0px
		.big-text
			@media(max-width: 1199px)
				left: -460px
				bottom: 0
	.c-desc
		@media(max-width: 767px)
			max-width: 100%
		.section-title
			margin-bottom: 37px
			@media(max-width: 767px)
				margin-bottom: 19px
		.pad-el-50
			position: relative
			z-index: 3
			padding-top: 56px
			@media(max-width: 767px)
				padding-top: 14px
