.service-list
	.container
		max-width: 1470px
	.section-title
		position: relative
		z-index: 2
		margin-bottom: 15px
		line-height: 33px !important
		color: $color-white
		display: -webkit-box	!important
		-webkit-line-clamp: 3 !important
		overflow: hidden !important
		-webkit-box-orient: vertical !important
	p
		position: relative
		z-index: 2
		display: -webkit-box
		-webkit-line-clamp: 3
		overflow: hidden
		-webkit-box-orient: vertical
		line-height: 20px
		color: $color-white
	.button
		position: relative
		z-index: 2
		padding: 0 35px
		letter-spacing: 2.3px
	.row
		.service-item
			min-height: 248px
			height: 309px
			overflow: hidden
			padding-top: 36px
			padding-bottom: 45px
			padding-left: 36px
			&-bigger
				padding-left: 81px
				padding-top: 51px
				padding-bottom: 61px
			&-3
				padding-left: 81px
			.service-btn-wrap
				position: relative
				z-index: 2
				.button
					cursor: pointer
					width: 38px
					height: 38px
					margin-right: 27px
					padding: 0
					& svg 
						width: 13px
						height: 13px
						.st0 
							fill: $color-white
				span
					@include font('Circe-ExtraBold', 900, 12, 12)
					color: $color-white
					letter-spacing: 3.7px
					text-transform: uppercase
			& > img
				position: absolute
				left: 0
				top: 0
				z-index: 1
				width: 100%
				max-width: 100%
			&-1
				@media(min-width: 991px)
					flex: 0 0 64%
					max-width: 64%
			&-2
				padding-bottom: 61px
			&-2, &-5
				@media(min-width: 991px)
					flex: 0 0 36%
					max-width: 36%
			&-3, &-4
				@media(min-width: 991px)
					flex: 0 0 32%
					max-width: 32%
		.service-item-2
			.button 
				background: #9FA6BA
				border: 1px solid rgba(255, 255, 255, 0.3)
				box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.18)
				&:hover
					box-shadow: 0 0 10px rgba(255, 255, 255, 0.3)
@media(max-width: 991px)
	.service-list .row .service-item
		padding-left: 25px
@media(max-width: 767px)
	.service-list .row .service-item
		padding-left: 15px
		padding-top: 40px
		padding-bottom: 69px
		padding-right: 15px
		&-2
			height: 248px
			padding: 49px 30px 64px 14px
		&-3
			height: 252px
			padding: 35px 30px 48px 14px
		&-4
			height: 255px
			padding: 35px 15px 46px 14px
		&-5
			height: 275px
			padding: 29px 15px 40px 15px
	.service-list .section-title
		margin-bottom: 18px
		br
			display: none
