section.section.about-page-section-nano
  .container
    .row
      .col-12.col-xl-6
        .c-content
          h2.h2-title Нано-эпиляция в Steffany
          .d-line
          p.paragraph-text.text-w-light.mb-1 Нано-эпиляция — это щелочной пилинг для удаления нежелательных светлых и пушковых волос. Тех самых, которые не видит лазер из-за отсутствия пигмента. Это не аппаратная процедура, поэтому для нее нужны только качественные косметические средства и мастерство специалиста. Как хорошо, что в Steffany есть и то, и другое.
      .col-12.col-xl-6
        .white-block-design
          img(src="assets/img/nano-page/about-page.jpg" alt="about-page" srcset="assets/img/nano-page/about-page@2x.jpg 2x")
          p.extralarge-text-bg nano

