section.section.accordion-answer-dark-theme
  +accordeon('Часто задаваемые вопросы', 'Здесь вы найдете информацию о нано-эпиляции, которая чаще всего интересует наших клиентов\n',
    [
      {
        title: 'Какие средства вы используете для щелочного пилинга?',
        body: 'Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.'
      },
      {
        title: 'После нано-эпиляции появляются вросшие волосы?',
        body: 'Лазер может удалить только волосы с пигментом. Пигмент — его мишень. Поэтому светлые волосы он просто не увидит. Хорошая новость в том, что вы все равно можете на длительное время избавиться от нежелательных светлых пушковых волос. Для этого мы проводим нано-эпиляцию — щелочной пилинг для удаления таких волос. Курс состоит из минимум 10 процедур и тоже полностью безболезненный. Главное — соблюдать все правила последующего ухода.'
      },
      {
        title: 'Какая на вид кожа после нано-эпиляции?',
        body: 'Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.'
      },
      {
        title: 'Зачем мне идти в салон, если я могу купить это средство и сделать такой пилинг дома?',
        body: 'Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.'
      }
    ], true, 1)
