section.section.accordion-answer-dark-theme
  +accordeon('Часто задаваемые вопросы', 'Здесь вы найдете информацию о нано-эпиляции, которая чаще всего интересует наших клиентов\n',
    [
      {
        title: 'Какие средства вы используете для щелочного пилинга?',
        body: `Мы используем профессиональное средство Alkaline Wash от компании DMK.`
      },
      {
        title: 'Как часто нужно приходить на процедуры?',
        body: 'Для щелочного пилинга нужны отросшие волоски. Поэтому частота процедур зависит от того, с какой скоростью у вас отрастают волосы. Первые 3-4 процедуры проходят в среднем один раз в 2-3 недели. Затем волосяной фолликул истончается и ходить на сеансы нужно чуть реже. Более точное количество и периодичность процедур вам скажет наш косметолог на консультации.'
      },
      {
        title: 'После нано-эпиляции появляются вросшие волосы?',
        body: 'Нет. Наоборот, нано-эпиляция — способ профилактики вросших волос.'
      },
      {
        title: 'Какая на вид кожа после нано-эпиляции?',
        body: 'Сразу после процедуры на коже может быть небольшое покраснение и припухлость. Это вариант нормы и такой реакции бояться не нужно. Главное — соблюдайте все рекомендации специалиста по домашнему уходу. От этого зависит состояние кожи и эффект от процедуры.'
      },
      {
        title: 'Зачем мне идти в салон, если я могу купить это средство и сделать такой пилинг дома?',
        body: 'Щелочной пилинг — это сложная процедура, которую может выполнить только обученный и опытный косметолог. Ее отличие от популярных кислотных пилингов в том, что щелочь никак не ощущается на коже. Нет жжения, покалываний — вообще ничего. Новичок без опыта может колоссально навредить своей коже, если будет сам удалять волосы щелочным пилингом.'
      }
    ], true, 1)
