section.section.block-answer-before-nano
  .container
    .row
      .col-12.col-xl-6
        img.w-100.mx-auto.mx-xl-0(src="assets/img/nano-page/answer-before-nano.jpg" alt="four-boxes-1" srcset="assets/img/nano-page/answer-before-nano@2x.jpg 2x")
      .col-12.col-xl-6
        .c-content
          .h2-title Как проходит процедура нано-эпиляции
          .d-line.my-3
          p.paragraph-text.text-w-light.text-opacity Щелочной пилинг работает с фолликулом. Он проникает в него по волосяному стержню и разрушает его.
          p.paragraph-text.text-w-bold Этапы процедуры

          .c-li.d-flex.align-items-center.mb-2
            .custom-icon-number-small.custom-bg-dark.mb-2
              p 1
            p.paragraph-text.text-w-light.text-opacity.mb-2.ml-2 Подготовительный этап
          .c-li.d-flex.align-items-center.mb-2
            .custom-icon-number-small.custom-bg-dark.mb-2
              p 2
            p.paragraph-text.text-w-light.text-opacity.mb-2.ml-2 Мастер очищает кожу на эпилируемом участке
          .c-li.d-flex.align-items-center.mb-2
            .custom-icon-number-small.custom-bg-dark.mb-2
              p 3
            p.paragraph-text.text-w-light.text-opacity.mb-2.ml-2 Пилинг
          p.paragraph-text.text-w-light.text-opacity Мастер наносит средство на вашу кожу. Вы при этом ничего не чувствуете. В зависимости от зоны и плотности волосков пилинг нужно держать от 1 до 7 минут.
          p.paragraph-text.text-w-bold Реабилитация
          p.paragraph-text.text-w-light.text-opacity После пилинга мастер наносит на вашу кожу нейтрализатор — средство, которое успокаивает и восстанавливает кожу. С ним нужно полежать около 15 минут.






