section.section.block-answer-after-nano
  .container
    .row
      .col-12.col-xl-6
        .c-content
          h2.h2-title.text-color-dark Что делать до и после процедуры
          p.paragraph-text.text-color-lightdark.text-w-bold Как подготовиться к нано-эпиляции
          ul.info-list
            li.paragraph-text.text-color-lightdark.text-w-light.mb-3 Не удалять волоски на эпилируемой зоне — пилингу нужна длина.
            li.paragraph-text.text-color-lightdark.text-w-light.mb-4 Не повреждать кожу. На ней не должно быть воспалений и ранок.
          p.paragraph-text.text-color-lightdark.text-w-bold Что делать после нано-эпиляции
          ul.info-list
            li.paragraph-text.text-color-lightdark.text-w-light.mb-3 Два дня после процедуры избегать активного солнца и загара. От солнца могут появиться пигментные пятна.
            li.paragraph-text.text-color-lightdark.text-w-light.mb-3  В первые дни после процедуры не ходить в солярий, сауну, баню.
            li.paragraph-text.text-color-lightdark.text-w-light.mb-3  Не тереть и не скрабировать кожу. Механическое трение может серьезно повредить кожу после щелочного пилинга.
            li.paragraph-text.text-color-lightdark.text-w-light Соблюдать все рекомендации по восстановлению, которые мастер даст вам после процедуры.
      .col-12.col-xl-6
        img.w-100.mx-auto.mx-xl-0.mt-4.mt-xl-3(src="assets/img/shugaring-page/answer-after.jpg" alt="four-boxes-1" srcset="assets/img/shugaring-page/answer-after@2x.jpg 2x")


