section.section.service-three-boxes_01
    .container
      h3.three-box-title.text-color-dark.text-center.mb-4.mb-lg-5 Нано-эпиляция — лучший способ удалить светлые волосы
      .row
        .col-12.col-xl-4
          .c-three-box
            img.img-position(src="assets/img/three-boxes/three-box-shugarin-1.png", alt="circle fether" srcset="assets/img/three-boxes/three-box-shugarin-1@2x.png 2x")
            p.bnf-number.text-color-dark 01
            h4.h4-title.text-color-dark.text-uppercase Не доставляет болевых ощущений
            p.paragraph-text.text-color-dark.text-w-light Щелочной пилинг не приносит вообще никаких ощущений. Это его плюс и минус одновременно. Плюс, потому что вам комфортно. Минус, потому что вы не почувствуете ожог. Но не переживайте! С опытным специалистом процедура проходит полностью безопасно
        .col-12.col-xl-4
          .c-three-box
            img.img-position(src="assets/img/three-boxes/three-box-shugarin-2.png", alt="circle fether" srcset="assets/img/three-boxes/three-box-shugarin-2@2x.png 2x")
            p.bnf-number.text-color-dark 02
            h4.h4-title.text-color-dark.text-uppercase Работает с беспигментными волосами
            p.paragraph-text.text-color-dark.text-w-light Светлые, пушковые, седые волосы на теле не берет почти все стандартные процедуры для удаления волос. Кроме нано-эпиляции. Поэтому если вы хотите избавиться от нежелательных волосков в любой части тела, присмотритесь к этой услуге
        .col-12.col-xl-4
          .c-three-box
            img.img-position(src="assets/img/three-boxes/three-box-shugarin-3.png", alt="circle fether" srcset="assets/img/three-boxes/three-box-shugarin-3@2x.png 2x")
            p.bnf-number.text-color-dark 03
            h4.h4-title.text-color-dark.text-uppercase Удаляет волосы надолго
            p.paragraph-text.text-color-dark.text-w-light Нано-эпиляцию нужно проходить курсом. Чаще всего это минимум 10 процедур с определенной периодичностью. С каждым сеансом волоски будут расти тоньше и реже. К концу курса они перестанут расти совсем и этот эффект закрепится на длительный период.
