.info-block-grid.grid-bg-1.doubleGrid.fourGrid
  .container.p-0
    .row.no-gutters.mb-5
      h2.section-title.text-center.mb-0 Ламінування, моделювання, корекція та фарбування брів — ціни
    .row.no-gutters.four-grid-container.w-100.mx-auto
      .row.no-gutters
        .col-12.no-gutters.col-lg-6.d-flex.offset-lg-3.flex-wrap.order-1.order-lg-1.grid-block
          .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
            .grid-titles.order-1
              .grid-title
                | Моделювання <br/>
                | брів
              p.thin-text.pb-5.pb-md-0.text-grid <span class='city-in-dynamic'></span> бровист зробить брови форми, ідеальної для вашого обличчя, за допомогою простерилізованого пінцета та додаткових засобів
            .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
              span.mr-3 35 минут
              | 100 грн
            a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Моделирование бровей')
              span.d-flex.align-items-center.justify-content-between
                span записаться
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
                style(type='text/css').
                  .st0{fill:#D11111;}
                path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
          .col-12.col-md-6.grid-img.grid-img-hover
            img.w-100(src="assets/img/infoblock/grid-item-14.jpg", alt="grid-item")
        .col-12.no-gutters.col-lg-6.d-flex.offset-lg-3.flex-wrap.order-2.order-lg-1.grid-block
          .col-12.col-md-6.grid-img.grid-img-hover
            img.w-100(src="assets/img/infoblock/grid-item-16.jpg", alt="grid-item")
          .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
            .grid-titles.order-1
              .grid-title
                | Ламінування  <br/> брів
              p.thin-text.pb-5.pb-md-0.text-grid Майстер в кілька етапів наносить на вашу шкіру спеціальний склад, який створює ефект більш потовщених, блискучих і доглянутих брів, які не треба якось оформляти або фіксувати протягом 1-1,5 місяця
            .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
              span.mr-3 35 минут
              | 400 грн
            a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Ламинирование бровей')
              span.d-flex.align-items-center.justify-content-between
                span записаться
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
                style(type='text/css').
                  .st0 {
                    fill: #D11111;
                  }
                path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.no-gutters.col-lg-6.d-flex.offset-lg-3.flex-wrap.order-3.order-lg-1.grid-block
          .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
            .grid-titles.order-1
              .grid-title
                | Корекція форми <br/> брів
              p.thin-text.pb-5.pb-md-0.text-grid Майстер прибирає відросле волосся за допомогою простерилізованого пінцета, щоб повернути бровам початкову форму
            .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
              span.mr-3 35 минут
              | 75-85 грн
            a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Коррекция формы бровей')
              span.d-flex.align-items-center.justify-content-between
                span записаться
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
                style(type='text/css').
                  .st0{fill:#D11111;}
                path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
          .col-12.col-md-6.grid-img.grid-img-hover
            img.w-100(src="assets/img/infoblock/grid-item-15.jpg", alt="grid-item")
        .col-12.no-gutters.col-lg-6.d-flex.offset-lg-3.flex-wrap.order-4.order-lg-1.grid-block
          .col-12.col-md-6.grid-img.grid-img-hover
            img.w-100(src="assets/img/infoblock/grid-item-17.jpg", alt="grid-item")
          .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
            .grid-titles.order-1
              .grid-title
                | Фарбування брів <br/> <span class='city-in-dynamic'></span>
              p.thin-text.pb-5.pb-md-0.text-grid Фарбування брів виконується професійною фарбою Elan або RefectoCil, роблячи натуральний перехід за допомогою двох відтінків
            .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
              span.mr-3 35 минут
              | 75-85 грн
            a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Окрашивание бровей краской')
              span.d-flex.align-items-center.justify-content-between
                span записаться
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
                style(type='text/css').
                  .st0{fill:#D11111;}
                path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.no-gutters.col-lg-6.d-flex.offset-lg-3.flex-wrap.order-5.order-lg-1.grid-block
          .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
            .grid-titles.order-1
              .grid-title
                | Фарбування <br/> брів хною
              p.thin-text.pb-5.pb-md-0.text-grid Майстер фарбує ваші брови професійною хною Brow Henna
            .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
              span.mr-3 35 минут
              | 85-130 грн
            a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Окрашивание бровей хной')
              span.d-flex.align-items-center.justify-content-between
                span записаться
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
                style(type='text/css').
                  .st0{fill:#D11111;}
                path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
          .col-12.col-md-6.grid-img.grid-img-hover
            img.w-100(src="assets/img/infoblock/grid-item-18.jpg", alt="grid-item")
        .col-12.no-gutters.col-lg-6.d-flex.offset-lg-3.flex-wrap.order-6.order-lg-1.grid-block
          .col-12.col-md-6.grid-img.grid-img-hover
            img.w-100(src="assets/img/infoblock/grid-item-20.jpg", alt="grid-item")
          .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
            .grid-titles.order-1
              .grid-title
                | Художнє <br/> оформлення брів
              p.thin-text.pb-5.pb-md-0.text-grid Майстер робить вам своєрідний «макіяж для брів»  — зачісує, фарбує та підкреслює консілером, щоб виділити брови на обличчі
            .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
              span.mr-3 35 минут
              | 25 грн
            a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Художественное оформление бровей')
              span.d-flex.align-items-center.justify-content-between
                span записаться
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
                style(type='text/css').
                  .st0 {
                    fill: #D11111;
                  }
                path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.no-gutters.col-lg-6.d-flex.offset-lg-3.flex-wrap.order-7.order-lg-1.grid-block
          .col-12.col-md-6.grid-cnt.h-auto.h-md-100.grid-cnt-hover.d-flex.flex-column.justify-content-between
            .grid-titles.order-1
              .grid-title
                | Фарбування <br/> вій
              p.thin-text.pb-5.pb-md-0.text-grid Майстер фарбує ваші вії у бажаний відтінок за допомогою професійної фарби Elan або RefectoCil
            .proccess-info.hidden-text.d-flex.align-items-center.order-3.order-md-2
              span.mr-3 35 минут
              | 75-85 грн
            a.btn-callback.d-flex.align-items-center.justify-content-between.order-2.order-md-3(href="#",  data-toggle='modal', data-target='#appointmentModal' data-service-id='Окрашивание ресниц')
              span.d-flex.align-items-center.justify-content-between
                span записаться
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
                style(type='text/css').
                  .st0{fill:#D11111;}
                path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
          .col-12.col-md-6.grid-img.grid-img-hover
            img.w-100(src="assets/img/infoblock/grid-item-19.jpg", alt="grid-item")

      .row.justify-content-center.w-100.mt-4
        a.btn-callback.d-flex.align-items-center.justify-content-between(href="#",  data-toggle='modal', data-target='#appointmentModal')
          span.d-flex.align-items-center.justify-content-between
            span записаться
          svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
            style(type='text/css').
              .st0 {
                fill: #D11111;
              }
            path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                      C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
