.info-block.info-block-4.info-block-4-1.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-46.jpg",  alt="item")
        .col.col-info.order-1.no-bg-blk
          h2.section-title.border-el Фарбування брів <span class='city-in-dynamic'></span>
          p «Ніхто не приходить до цього світу з ідеальними бровами», — сказала одна мудра жінка. У когось вони недостатньо густі. У когось перестали рости в деяких місцях через підліткові експерименти. Комусь не подобається відтінок. Знайоме? У нас хороша новина: все це можна виправити у Steffany. На вас чекає моделювання, ламінування, корекція та фарбування брів. Ми надамо вашим брівкам потрібну форму, пофарбуємо у потрібний відтінок і допоможемо підтримувати цей результат.
      span.big-text brows
