.info-block.info-block-8.info-block-8-8
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-end.no-gutters
      .col.col-img.order-2.d-none.d-xl-block
        img.w-100(src="./assets/img/infoblock/item-50.jpg", alt="item")
      .col.col-info.order-1
        h2.section-title.underline-title Ламінування брів <span class='city-in-dynamic'></span>
        p.p-text.thin-text.mb-62 Ця процедура стирає з пам'яті, як виглядає гель для брів. Все тому, що ламінування брів надовго фіксує навіть найнеслухняніші брови і служить довгостроковою укладкою. На 1-1,5 місяці брови залишаються укладеними, блискучими і більш потовщеними за рахунок спеціального складу, який наноситься під час процедури. У повсякденному житті з бровами можна поводитися як зазвичай: вмиватися, терти, спати обличчям у подушку. Їм потрібен лише мінімальний догляд щоранку, який в рази коротше стандартної укладки косметичними засобами.
        a.btn-callback(href="#",  data-toggle='modal', data-target='#appointmentModal')
          .text-section
            +penSvg
            span записатися
          .arrow-section
            +arrowSvg
