.benefits.serviceBenefits.doubleBnf.doubleBnfDark.three-benefits.dark-words
  .container.mx-auto
    .row.no-gutters
      .section-title.white-text.text-center Мы соблюдаем все правила стерилизации при оформлении бровей
      .section-subtitle.white-text.text-center Красота красотой, но главный приоритет для нас — ваше здоровье
    .row.no-gutters.bnf-items.flex-column.flex-xl-row
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-5.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-20.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 01
          .bnf-title.white-text Инструменты проходят полный цикл стерилизации
          p.paragraph-text-dark.white-text.mb-2
            span На всех процедурах, где нужно удалять волоски, мы делаем это при помощи пинцета. Чтобы с вами работали стерильным пинцетом, сначала мы отправляем его в нашу лабораторию стерилизации. Сначала мы замачиваем инструменты в дезинфицирующем растворе. Потом мы чистим специальной щеткой инструменты под проточной водой и ополаскиваем дистиллированной
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-6.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 02
          .bnf-title.white-text Крафт-пакет с инструментом вскрывают при вас
          p.paragraph-text-dark.white-text.mb-2
            span После раствора и промывки мы складываем каждый пинцет в отдельный крафт-пакет. Это специальный пакет для стерилизации. Каждый пакет мы складываем в сухожаровой шкаф, где пинцеты стерилизуются при температуре 180 градусов. Там они находятся 1 час. После этого цветной кружок на крафт-пакете меняет свой цвет с розового на серый. Обратите на это внимание, когда при вас будут вскрывать пакет с пинцетом
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-7.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 03
          .bnf-title.white-text Одноразовые или продезинфицированные материалы
          p.paragraph-text-dark.white-text.mb-2
            span Часть инструментов не нуждается в такой тщательной стерилизации, потому что она одноразовая. Мы имеем в виду ватные палочки, ватные диски, перчатки. Что касается кистей — их мы обрабатываем быстросохнущим дезинфицирующим раствором после каждой процедуры. Поэтому вы можете быть уверенными, что все подручные средства на сеансе по моделированию или окрашиванию бровей чистые
