.info-block.info-block-8.info-block-8-3.info-block-8-9
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-lg-start.no-gutters
      .col.col-img.order-1
        img.w-100(src="./assets/img/infoblock/item-57.jpg", alt="item")
      .col.col-info.order-2
        h2.section-title.underline-title.mb-25.pb-25 Фарбування  вій
        p.p-text.thin-text.mb-30 Щоб вії залишалися темного насиченого відтінку навіть без туші, приходьте на процедуру фарбування вій до Steffany. Вона виконується фарбою Elan або RefectoCil — тою самою, якою ми фарбуємо бровки. Майстер підбере за вашим бажанням відтінок, який буде поєднуватися із кольором ваших брів і очей. Фарба на віях поводиться так само, як і на бровах. Тримається тиждень, а потім поступово сходить. Якщо у вас світлі вії, візуально ефект протримається трохи довше.
        p.p-bold.mb-15 Що дає фарбування вій:
        ul.info-list.mb-33
          li.p-text.thin-text.mb-15 стійкий насичений колір вій
          li.p-text.thin-text.mb-15 можливість не фарбувати їх тушшю
          li.p-text.thin-text.mb-15 ефект як мінімум на тиждень
        p.p-bold Як проходить процес
