.benefits.serviceBenefits.doubleBnf.doubleBnfDark.three-benefits.white-bg.triple-bnfs
  .container.mx-auto
    .row.no-gutters
      .section-title.text-color-dark.text-center Ідеальні брови краще робити в салоні, а не вдома
    .row.no-gutters
      .section-subtitle.text-color-dark.text-center І на це кілька причин
    .row.no-gutters.bnf-items.flex-column.flex-xl-row
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-5.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-20.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-color-dark 01
          .bnf-title.text-color-dark Професійні матеріали
          p.paragraph-text-dark.text-color-dark.mb-2
            span Фарба, олівці, додаткові рідкі засоби — все це повинно бути якісним, якщо ви хочете ідеальні брови. Тому ми закуповуємо для ваших брів та вій професійну хну і фарбу. Бренд хни — Brow Henna, а фарби — Elan і RefectoCil. Для промальовування брів ми використовуємо професійні кисті різної товщини, щоб зробити лінії рівними.
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-6.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-color-dark 02
          .bnf-title.text-color-dark Погляд зі сторони
          p.paragraph-text-dark.text-color-dark.mb-2
            span З першого разу намалювати собі ідеальну форму брів — це щось із розділу фантастики. Потрібно оцінити форму свого обличчя, розташування очей, можливу асиметрію та інші нюанси. Тому краще приходьте до нас. Майстер пояснить вам, на що звертати увагу в промальовуванні брів, а потім підбере найкращу форму брів для вашого обличчя.
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-7.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.text-color-dark 03
          .bnf-title.text-color-dark Природний результат
          p.paragraph-text-dark.text-color-dark.mb-2
            span Щоб досягти природного вигляду брів, наші майстри фарбують їх кількома відтінками. Вони фарбують початок брови більш світлим відтінком, а потім роблять плавний перехід до темного кольору. Також майстри підбирають фарбу найбільш натурального відтінку, який пасуватиме вашому кольоротипу. Щоб домогтися такого ж ефекту вдома, потрібно заснувати свій міні-салон.
