.info-block.info-block-7.info-block-7-2.info-block-7-12.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk
          .border-el
            h2.section-title.text-lightdark Корекція брів <br/> <span class='city-in-dynamic'></span>
            p.thin-text.text-lightdark Професійна корекція брів — це послуга, яка знадобиться вам, коли ваші ідеальні бровки трохи відростуть і стануть радувати вас менше звичайного. На корекції майстер підправляє форму брів за допомогою пінцета.
          p.p-bold.text-lightdark.pt-15.pb-10 Як проходить корекція форми брів
          p.thin-text.text-lightdark Здавалося б, що тут складного? Треба просто вищипнути брови. Насправді навіть таку «просту» процедуру корекції брів в салоні треба виконувати за всіма правилами безпеки, аби уникнути врослого волосся або попадання інфекції.
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-49.jpg",  alt="item")
        span.big-text.d-none.d-xl-block brows
