.info-block.info-block-7.info-block-7-1.info-block-7-8.light-purple-bg.pb-108
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk.pl-sm
          p.p-bold.pb-20.white-text Вам підійде ця процедура, якщо:
          ul.info-list
            li.p-text.thin-text.white-text.mb-15 у вас неслухняні брови, які доводиться регулярно фіксувати за допомогою гелю
            li.p-text.thin-text.white-text.mb-15 ви фарбуєте брови і хочете подовжити ефект від фарбування брів та укладки брів на один-два тижні
            li.p-text.thin-text.white-text.mb-15 у вас немає ранок, висипань, подряпин та інших пошкоджень на шкірі навколо брів
          p.p-bold.pb-20.white-text Як доглядати за бровами після ламінування:
          ul.info-list
            li.p-text.thin-text.white-text.mb-15 першу добу після процедури не мочити їх водою, а також не спати обличчям у подушку
            li.p-text.thin-text.white-text.mb-15 кожен день розчісувати їх щіточкою для брів
            li.p-text.thin-text.white-text.mb-15 щоранку змащувати брови буквально краплею будь-якої доглядаючої олії для брів
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.d-none.d-xl-block
          img.w-100(src="./assets/img/infoblock/item-51.jpg",  alt="item")
