.benefits.serviceBenefits.doubleBnf.doubleBnfDark.three-benefits.dark-words
  .container.mx-auto
    .row.no-gutters
      .section-title.white-text.text-center Дотримуємося правил стерилізації при фарбуванні та моделюванні брів
      .section-subtitle.white-text.text-center Краса красою, але головний пріоритет для нас — ваше здоров'я
    .row.no-gutters.bnf-items.flex-column.flex-xl-row
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-5.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-20.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 01
          .bnf-title.white-text Інструменти проходять повний цикл стерилізації
          p.paragraph-text-dark.white-text.mb-2
            span На всіх процедурах, де потрібно видаляти волоски, ми робимо це за допомогою пінцета. Щоб з вами працювали стерильним пінцетом, ми відправляємо його до нашої лабораторії стерилізації. Спочатку ми замочуємо інструменти в дезинфікуючому розчині. Потім чистимо спеціальною щіткою інструменти під проточною водою та ополіскуємо дистильованою
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-6.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 02
          .bnf-title.white-text Крафт-пакет з інструментом розкривають при вас
          p.paragraph-text-dark.white-text.mb-2
            span Після розчину і промивання ми складаємо кожен пінцет в окремий крафт-пакет. Це спеціальний пакет для стерилізації. Кожен пакет ми кладемо до сухожарової шафи, де пінцети стерилізуються при температурі 180 градусів. Там вони перебувають 1 годину. Після цього кольоровий кружечок на крафт-пакеті змінює свій колір. Зверніть на це увагу, коли при вас будуть розкривати пакет із пінцетом
      .bnf.bnf-two.col-xl-4.col-12
        .bnf-img-wrap.d-flex.align-items-end
          .bnf-img
            img.d-none.d-xl-block(src="./assets/img/bnf/item-7.png", alt="bnf-item")
            img.d-block.d-xl-none(src="./assets/img/bnf/item-21.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 03
          .bnf-title.white-text Одноразові або продезинфіковані матеріали
          p.paragraph-text-dark.white-text.mb-2
            span Частина інструментів не потребує такої ретельної стерилізації, тому що вона одноразова. Ми маємо на увазі ватні палички, ватні диски, рукавички. Що стосується кисточок — їх ми обробляємо швидковисихаючим дезинфікуючим розчином після кожної процедури. Тому ви можете бути впевненими, що всі підручні засоби на сеансі з моделювання або фарбування брів чисті
