.info-block.info-block-7.info-block-7-1.info-block-7-8.light-purple-bg.pb-108
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk.pl-sm
          p.p-bold.pb-20.white-text Вам подойдет эта процедура, если:
          ul.info-list
            li.p-text.thin-text.white-text.mb-15 у вас непослушные брови, которые приходится регулярно фиксировать с помощью геля
            li.p-text.thin-text.white-text.mb-15 вы красите брови и хотите продлить эффект от окрашивания на одну-две недели
            li.p-text.thin-text.white-text.mb-15 у вас нет ранок, высыпаний, царапин и других повреждений на коже вокруг бровей
          p.p-bold.pb-20.white-text Как ухаживать за бровями после ламинирования:
          ul.info-list
            li.p-text.thin-text.white-text.mb-15 первые сутки после процедуры не мочить их водой, а также не спать лицом в подушку
            li.p-text.thin-text.white-text.mb-15 каждый день расчесывать их щеточкой для бровей
            li.p-text.thin-text.white-text.mb-15 каждое утро смазывать брови буквально каплей любого ухаживающего масла для бровей
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.d-none.d-xl-block
          img.w-100(src="./assets/img/infoblock/item-51.jpg",  alt="item")
