.info-block.info-block-7.info-block-7-9.info-block-7-9-mob.info-block-7-13.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-1.mx-auto.mx-xl-0.d-none.d-xl-block
          img.w-100(src="./assets/img/infoblock/item-56.jpg",  alt="item")
        .col.col-info.order-2.no-bg-blk
          p.p-bold.pb-3.text-color-dark  Що дає фарбування брів хною:
          ul.info-list
            li.thin-text.text-color-dark.mb-15 насичений натуральний відтінок брів
            li.thin-text.text-color-dark.mb-15 рівномірно нафарбовані брови по всій ширині і довжині
            li.thin-text.text-color-dark.mb-15 забарвлену шкіру між волосками, яка створює ефект густих брів
          p.p-bold.pb-3.text-color-dark Вам підійде ця процедура, якщо:
          ul.info-list
            li.thin-text.text-color-dark.mb-15 у вас не дуже густо ростуть волоски на бровах
            li.thin-text.text-color-dark.mb-15 ви поки не зважилися на звичайний татуаж
            li.thin-text.text-color-dark.mb-15 ви не хочете виділяти час на оформлення брів різними засобами кожен день
          p.p-bold.pb-3.text-color-dark Процедура фарбування брів хною триває 30-40 хвилин
          a.btn-simple.br-100.d-flex.align-items-center.justify-content-center.white-text.under-border(data-anchor-link='brow-paint') Ціна
