.info-block.info-block-3.info-block-3-8.light-purple-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-center.mx-auto
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters.border-block-item7
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-47.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title.mb-22 Моделювання форми брів <span class='city-in-dynamic'></span>
          p Моделювання брів — та сама процедура, яка ділить життя на «до» і «після». Вона робить ідеальну форму для ваших брів. Потім, час від часу, потрібно виривати відрослі волоски та коригувати форму. Але головне — на моделюванні ви отримаєте бажані доглянуті брови, які можна буде легко привести в порядок.
          p.mb-15.p-bold.under-border Що дає моделювання форми брів
          ul.info-list
            li.p-text.think-text.mb-15 надання форму бровам з урахуванням всіх особливостей вашого обличчя
            li.p-text.think-text.mb-15 виділяє симетричний вигин лінії брів
            li.p-text.think-text вимальовує рівні лінії і робить брови симетричними
      span.big-text pedi
      span.big-text.big-text-2 cure
