.info-block.info-block-7.info-block-7-1.info-block-7-8.light-purple-bg.pb-108
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters
        .col.col-info.order-1.no-bg-blk.pl-sm
          p.p-bold.pb-20.white-text Що дає фарбування брів фарбою:
          ul.info-list
            li.p-text.thin-text.white-text.mb-15 яскраві, чітко-окреслені брови натурального кольору
            li.p-text.thin-text.white-text.mb-15 природний перехід відтінку від більш світлого до темного
            li.p-text.thin-text.white-text.mb-15 стійкий колір на 1 тиждень
          p.p-bold.pb-20.white-text Вам підійде ця процедура, якщо:
          ul.info-list
            li.p-text.thin-text.white-text.mb-15 ваші брови ростуть густо і немає необхідності фарбувати шкіру
            li.p-text.thin-text.white-text.mb-15 ви хочете виділити брови на обличчі
            li.p-text.thin-text.white-text.mb-15 ви хочете пофарбувати тільки волоски, а не шкіру
          p.p-bold.pb-20.white-text Процедура фарбування брів фарбою триває 20-30 хвилин
          a.btn-callback.border-light(href="#",  data-toggle='modal', data-target='#appointmentModal')
            .text-section
              +penSvglight
              span.text-white записатися
            .arrow-section
              +arrowSvgDark
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.d-none.d-xl-block
          img.w-100(src="./assets/img/infoblock/item-54.jpg",  alt="item")
