.info-block.info-block-3.info-block-3-1.info-block-3-3.info-block-3-9.light-green-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-center.mx-auto
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-start.no-gutters.border-block-item
        .col.col-img.order-2.mx-auto.mx-xl-0
          img.w-100(src="./assets/img/infoblock/item-55.jpg",  alt="item")
        .col.col-info.order-1
          h2.section-title Фарбування брів хною <span class='city-in-dynamic'></span>
          p.under-border Не особливо густі, світлі волоски на бровах — ще не привід підписуватися на довічний перманентний макіяж. І тим більше — не привід витрачати свій час на щоденне оформлення і промальовування брів. Щоб виділити рідкі або світлі брови, досить прийти на фарбування брів хною до Steffany. Фарбування хною може дати ефект біотатуажу. Це означає, що разом із волосками забарвиться шкіра. Брови придбають будь-яку форму і натуральний відтінок, який підійде під ваші очі, колір шкіри та відтінок волосся.
      span.big-text pedi
      span.big-text.big-text-2 cure
