.info-block.info-block-6.info-block-6-5.light-orange-bg
  .container.container-info
    .row.no-gutters.info-block-wrap.w-100.d-flex.justfiy-content-start
      .row.w-100.d-flex.flex-column.flex-xl-row.align-items-center.justify-content-center.justify-content-xl-end.no-gutters
        .col.col-img.behind-bg.order-2.mx-auto.mx-xl-0.mob-hidden-item
          img.w-100(src="./assets/img/infoblock/item-53.jpg",  alt="item")
        .col.col-info.order-1.no-bg-blk
          h2.section-title.underline-title Фарбування брів <span class='city-in-dynamic'></span>
          p.think-text Життя занадто коротке, щоб кожен день оформляти брови купою різних щіточок, баночок і стіків. Краще один раз прийти до Steffany і довіритися нашим майстрам-бровістам. Вони пофарбують ваші брови засобом Elan або RefectoCil у природний відтінок, який підходить вашому кольоротипу. Після процедури у вас будуть гарні брови зі стійким кольором. Їх не треба буде оформляти і підфарбовувати щоранку. Усе, що вам буде потрібно — заглядати до салону на 20 хвилин і оновлювати фарбування бровок по мірі необхідності.
      span.big-text.mob-hidden-item coloring
