.steps.gray-word-bg2
	.container
		.row.justify-content-around
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Этап
					span.text-bold.fs-16 1
				p.think-text.text-color-dark2.text-center Если у вас на глазах есть макияж, мастер обрабатывает ваши веки и ресницы мицеллярной водой.
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Этап
					span.f-bold.fs-16 2
				p.think-text.text-color-dark2.text-center На область вокруг глаз мастер наносит аргановое масло, чтобы создать пленку, через которую краска не отпечатается на кожу.
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Этап
					span.text-bold.fs-16 3
				p.think-text.text-color-dark2.text-center Под глаза мастер клеит одноразовые патчи, которые вбирают в себя излишки краски.
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Этап
					span.text-bold.fs-16 4
				p.think-text.text-color-dark2.text-center Вы закрываете глаза, а мастер наносит на ваши верхние и нижние реснички раствор с краской. 
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Этап
					span.text-bold.fs-16 5
				p.think-text.text-color-dark2.text-center Через 10-15 минут мастер стирает сухой ватной палочкой или ватным диском краску с ресничек, снимает патчи и протирает кожу вокруг глаз. 
				