.steps.gray-word-bg2
	.container
		.row.justify-content-around
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Етап
					span.text-bold.fs-16 1
				p.p-bold.text-color-dark2.text-center.mb-15 Консультація
				p.think-text.text-color-dark2.text-center Майстер проводить консультацію, де оглядає ваші брови і шкіру навколо них. Він перевіряє, чи немає на шкірі пошкоджень, якої товщини волоски і який у них напрямок росту.
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Етап
					span.f-bold.fs-16 2
				p.p-bold.text-color-dark2.text-center.mb-15 Підготовка
				p.think-text.text-color-dark2.text-center Майстер протирає область навколо брів міцелярною водою без масел, щоб знежирити шкіру для подальших дій.
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Етап
					span.text-bold.fs-16 3
				p.p-bold.text-color-dark2.text-center.mb-15 Нанесення складу
				p.think-text.text-color-dark2.text-center Майстер наносить спеціальний склад для ламінування брів і ви сидите з ним 10-15 хвилин. Час залежить від густоти, товщини і початкового напрямку росту волосків ваших брів.
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Етап
					span.text-bold.fs-16 4
				p.p-bold.text-color-dark2.text-center.mb-15 Нанесення другого складу
				p.think-text.text-color-dark2.text-center Майстер знімає залишки першого складу сухою ватною паличкою і повторно наносить склад. На цей раз засіб потрібно тримати 15-20 хвилин. Якщо волоски занадто неслухняні, майстер запечатує брови зі складом стрічкою харчової плівки. Вона створює паровий ефект і під дією високої температури засіб краще береться на брови.
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Етап
					span.text-bold.fs-16 5
				p.p-bold.text-color-dark2.text-center.mb-15 Нанесення ботокса
				p.think-text.text-color-dark2.text-center Майстер знову видаляє засіб з брів і наносить розведений у гарячій воді ботокс. Із ним потрібно сидіти близько 20 хвилин.
