.steps.gray-word-bg2
	.container
		.row.justify-content-around
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Крок
					span.text-bold.fs-16 1
				p.think-text.text-color-dark2.text-center Якщо у вас на очах є макіяж, майстер обробляє ваші повіки та вії міцелярною водою.
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Крок
					span.f-bold.fs-16 2
				p.think-text.text-color-dark2.text-center На область навколо очей майстер наносить арганову олію, щоб створити плівку, через яку фарба не відіб'ється на шкіру.
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Крок
					span.text-bold.fs-16 3
				p.think-text.text-color-dark2.text-center Під очі майстер клеїть одноразові патчі, які вбирають у себе надлишки фарби.
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Крок
					span.text-bold.fs-16 4
				p.think-text.text-color-dark2.text-center Ви закриваєте очі, а майстер наносить на ваші верхні і нижні вії розчин із фарбою.
			.col-12.col-md-6.col-xl-4.d-flex.align-items-center.flex-column.mb-30
				.step-head.mb-15.d-flex.align-items-center.justify-content-center.flex-column
					span.mb-6 Крок
					span.text-bold.fs-16 5
				p.think-text.text-color-dark2.text-center Через 10-15 хвилин майстер стирає сухою ватною паличкою або ватним диском фарбу з вій, знімає патчі і протирає шкіру навколо очей.
