section.section.contact-about-zt
  .container
    .row
      .col-12.col-xl-5
        h2.form-title.text-color-dark Записывайтесь и приходите на процедуры в Центр лазерной эпиляции и косметологии Steffany!
        p.sub-title.letter-spacing-1.mb-4 Steffany Cosmetology
        .cnt-info.mt-4
          .d-flex.flex-wrap.mb-0
            .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
              img(src="assets/icon/phone.svg" alt="Phone").d-block.mr-3
              a(href="tel:380980070753").text-color-dark 098-007-07-53
            .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
              img(src="assets/icon/map.svg" alt="Map").d-block.mr-3
              p.text-color-lightdark.text-w-light.mb-0 ул. Киевская, 84
          .d-flex.flex-wrap
            .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
              img(src="assets/icon/mail.svg" alt="Mail").d-block.mr-3
              a(href="mailto:info@steffany.ua").text-color-lightdark.text-w-light info@steffany.ua
            .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
              img(src="assets/icon/time.svg" alt="Time").d-block.mr-3
              p.text-color-dark.mb-0 9:00 – 20:00
        h2.form-title.text-color-dark.mb-0.mt-2 Хотите связаться лично с собственником Steffany Lazer & Cosmetology?
        form.feedback-form.row
          .col-12.col-md-4.col-xl-5.px-xl-0
            input(type="text" placeholder="Имя" name="name")
            input(type="email" placeholder="Email" name="email")
            input(type="tel" placeholder="Телефона" name="phone")
          .col-12.col-md-8.col-xl-7.pl-xl-0.pr-xl-3
            textarea(placeholder="О чем вы хотите рассказать?" name="message").mt-4.mt-md-0
        .row.d-flex.justify-content-end.no-gutters
            +customBtn('отправить')(class= 'mt-3 mt-lg-0')
      .col-12.col-xl-7.mt-5.mt-xl-0
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2550.621270001225!2d28.67571661590941!3d50.261657408831034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c64a35524e091%3A0x94671cf8df29cc74!2z0JrQuNC10LLRgdC60LDRjyDRg9C7LiwgODQsINCW0LjRgtC-0LzQuNGALCDQltC40YLQvtC80LjRgNGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAxMDAwMQ!5e0!3m2!1sru!2sua!4v1573036491816!5m2!1sru!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen='')
.container
  hr.m-0

