section.section.contact.py-0.py-lg-5
  .container
    //+breadcrumbs('Главная', 'Контакты', '/contact.html')
  .container
    .row
      .col-12.col-xl-5
        h2.form-title.text-color-dark Записывайтесь и приходите на процедуры в Центр лазерной эпиляции и косметологии Steffany!
        .cnt-info.mt-4
          .d-flex.flex-wrap.mb-0.mb-lg-2
            .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
              img(src="assets/icon/phone.svg" alt="Phone").d-block.mr-3
              a(href="tel:380980070753").text-color-dark 098-007-07-53
            .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
              img(src="assets/icon/map.svg" alt="Map").d-block.mr-3
              p.text-color-dark.mb-0 ул. Киевская, 84
          .d-flex.flex-wrap
            .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
              img(src="assets/icon/mail.svg" alt="Mail").d-block.mr-3
              a(href="mailto:info@steffany.ua").text-color-dark info@steffany.ua
            .col-12.col-md-6.d-flex.p-0.align-items-center.mb-3
              img(src="assets/icon/time.svg" alt="Time").d-block.mr-3
              p.text-color-dark.mb-0 9:00 – 20:00
        hr.mt-4.mb-3
        h2.form-title.text-color-dark Хотите связаться лично с собственником Steffany Lazer & Cosmetology?
        form.feedback-form
          form.row
            .col-12.col-md-3.col-xl-5
              input(type="text" placeholder="Имя" name="name")
              input(type="email" placeholder="Email" name="email")
              input(type="tel" placeholder="Телефона" name="phone")
            .col-12.col-md-9.col-xl-7
              textarea(placeholder="О чем вы хотите рассказать?" name="message").mt-4.mt-md-0
          .row.d-flex.justify-content-end.no-gutters
            +customBtn('отправить')(class= 'mt-3 mt-lg-0')
      .col-12.col-xl-7.mt-5.mt-xl-0
        img(src="assets/img/common/map.png").w-100
  //img(src="assets/img/common/mobile-map.png")
  //.mini-map.d-block.d-lg-none
