.specialists.py-5
  .container.slider-wrap
    .row.no-gutters
      h2.h2-title.h-center.mb-5.mx-auto.white-text Специалисты салона
    .row.no-gutters
      .specialists-slider.owl-carousel.slider-block.slider-pad
        .specialists-item
          .specialists-item-container.mb-3.w-100(href="./assets/img/specialists-zt/item-2.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./assets/img/specialists-zt/item-2.jpg", alt="Кос Инна")
            .specialists-info.d-flex.flex-column.align-items-start.w-100.p-3
              p.paragraph-text.text-color-dark.text-w-light По образованию медсестра
              p.paragraph-text.text-color-dark.text-w-bold Работает уже 7 лет
              p.paragraph-text.text-color-dark.text-w-light Сделает лазерную эпиляцию, восковую депиляцию, шугаринг, пилинг, уходовые процедуры, индивидуальные программы с учетом состояния и типа кожи
          p.h4-title.h-center Кос Инна

        .specialists-item
          .specialists-item-container.mb-3.w-100(href="./assets/img/specialists-zt/item-1.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./assets/img/specialists-zt/item-1.jpg", alt="Виктория Демчук")
            .specialists-info.d-flex.flex-column.align-items-start.w-100.p-3
              p.paragraph-text.text-color-dark.text-w-light По образованию косметолог.
              p.paragraph-text.text-color-dark.text-w-bold Работает уже 7 лет
              p.paragraph-text.text-color-dark.text-w-light Сделает все виды чисток, пилингов, уходовых процедур, лазерную эпиляцию, все виды депиляций, подбор домашнего ухода
          p.h4-title.h-center Виктория Демчук

        .specialists-item
          .specialists-item-container.mb-3.w-100(href="./assets/img/specialists-zt/item-3.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./assets/img/specialists-zt/item-3.jpg", alt="diploma")
            .specialists-info.d-flex.flex-column.align-items-start.w-100.p-3
              p.paragraph-text.text-color-dark.text-w-light По образованию медицинский работник.
              p.paragraph-text.text-color-dark.text-w-bold Работает уже 8 лет
              p.paragraph-text.text-color-dark.text-w-light Сделает лазерную эпиляцию, эстетическую косметологию, шугаринг, восковую эпиляцию
          p.h4-title.h-center Ульяна Кравчук

        .specialists-item
          .specialists-item-container.mb-3.w-100(href="./assets/img/specialists-zt/item-4.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./assets/img/specialists-zt/item-4.jpg", alt="diploma")
            .specialists-info.d-flex.flex-column.align-items-start.w-100.p-3
              p.paragraph-text.text-color-dark.text-w-light По образованию медсестра.
              p.paragraph-text.text-color-dark.text-w-bold Работает уже 18 лет
              p.paragraph-text.text-color-dark.text-w-light Сделает массаж, SPA-услуги, лазерную эпиляцию, LPG-массаж
          p.h4-title.h-center Татьяна Огир

        .specialists-item
          .specialists-item-container.mb-3.w-100(href="./assets/img/specialists-zt/item-5.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./assets/img/specialists-zt/item-5.jpg", alt="Инна Степанчук")
            .specialists-info.d-flex.flex-column.align-items-start.w-100.p-3
              p.paragraph-text.text-color-dark.text-w-light По образованию фармацевт.
              p.paragraph-text.text-color-dark.text-w-bold Работает уже 3 года
              p.paragraph-text.text-color-dark.text-w-light Сделает перманентный макияж, лазерную эпиляцию, восковую депиляцию, шугаринг, чистку и пилинг лица
          p.h4-title.h-center Инна Степанчук

        .specialists-item
          .specialists-item-container.mb-3.w-100(href="./assets/img/specialists-zt/item-6.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./assets/img/specialists-zt/item-6.jpg", alt="Александра Бородиян")
            .specialists-info.d-flex.flex-column.align-items-start.w-100.p-3
              p.paragraph-text.text-color-dark.text-w-light По образованию социальный реабилитолог, фельдшер-лаборант.
              p.paragraph-text.text-color-dark.text-w-bold Работает уже 12 лет
              p.paragraph-text.text-color-dark.text-w-light Сделает все виды чисток, пилингов, уходовые процедуры, лазерную эпиляцию, все виды депиляции, подбор домашнего ухода
          p.h4-title.h-center Александра Бородиян

        .specialists-item
          .specialists-item-container.mb-3.w-100(href="./assets/img/specialists-zt/item-7.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./assets/img/specialists-zt/item-7.jpg", alt="Ирина Гутель")
            .specialists-info.d-flex.flex-column.align-items-start.w-100.p-3
              p.paragraph-text.text-color-dark.text-w-light По образованию медсестра и реабилитолог
              p.paragraph-text.text-color-dark.text-w-bold Работает уже 9 лет
              p.paragraph-text.text-color-dark.text-w-light Сделает массаж, SPA-услуги, лазерную эпиляцию, LPG-массаж
          p.h4-title.h-center Ирина Гутель
