.about.about-salon
  .container.container-m
    .row.no-gutters.d-flex.align-items-start.justify-content-between.about-content.flex-xl-nowrap
      .col-12.col-xl-7.pr-0.pr-xl-5.mt-5.mt-xl-0.order-2.order-xl-1.video-item-cnt
        .video-slider.owl-carousel.slider-block.w-100
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/about/about-video-2.jpg", srcset="assets/img/about/about-video-2@2x.jpg 2x", alt="about-video")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/about/about-video-1.jpg", srcset="assets/img/about/about-video-1@2x.jpg 2x", alt="about-video")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/about/about-video-1.jpg", srcset="assets/img/about/about-video-1@2x.jpg 2x", alt="about-video")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/about/about-video-1.jpg", srcset="assets/img/about/about-video-1@2x.jpg 2x", alt="about-video")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/about/about-video-1.jpg", srcset="assets/img/about/about-video-1@2x.jpg 2x", alt="about-video")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/about/about-video-1.jpg", srcset="assets/img/about/about-video-1@2x.jpg 2x", alt="about-video")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/about/about-video-1.jpg", srcset="assets/img/about/about-video-1@2x.jpg 2x", alt="about-video")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/about/about-video-1.jpg", srcset="assets/img/about/about-video-1@2x.jpg 2x", alt="about-video")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span 
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/about/about-video-1.jpg", srcset="assets/img/about/about-video-1@2x.jpg 2x", alt="about-video")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/about/about-video-1.jpg", srcset="assets/img/about/about-video-1@2x.jpg 2x", alt="about-video")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span 
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/about/about-video-1.jpg", srcset="assets/img/about/about-video-1@2x.jpg 2x", alt="about-video")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
          a.video.d-flex.align-items-center.justify-content-center(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
            img.w-100(src="assets/img/about/about-video-1.jpg", srcset="assets/img/about/about-video-1@2x.jpg 2x", alt="about-video")
            span.play-btn.d-flex.align-items-center.justify-content-center
              span
        .video-slider-dots-wrap.d-none.d-sm-block
          .video-nav-slider-dots
          .video-slider-dots.owl-carousel.owl-dots.w-100
            .owl-dots-item.d-flex.align-items-start.justify-content-between.flex-wrap.w-100
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="0")
                img(src="./assets/img/salon-videos/item-1.jpg", srcset="./assets/img/salon-videos/item-1.jpg 2x", alt="salon-video")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="1")
                img(src="./assets/img/salon-videos/item-2.jpg", srcset="./assets/img/salon-videos/item-2.jpg 2x", alt="salon-video")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="2")
                img(src="./assets/img/salon-videos/item-3.jpg", srcset="./assets/img/salon-videos/item-3.jpg 2x", alt="salon-video")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="3")
                img(src="./assets/img/salon-videos/item-2.jpg", srcset="./assets/img/salon-videos/item-2.jpg 2x", alt="salon-video")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="4")
                img(src="./assets/img/salon-videos/item-3.jpg", srcset="./assets/img/salon-videos/item-3.jpg 2x", alt="salon-video")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="5")
                img(src="./assets/img/salon-videos/item-2.jpg", srcset="./assets/img/salon-videos/item-2.jpg 2x", alt="salon-video")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
            .owl-dots-item.d-flex.align-items-start.justify-content-between.flex-wrap.w-100
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="6")
                img(src="./assets/img/salon-videos/item-6.jpg", srcset="./assets/img/salon-videos/item-6.jpg 2x", alt="salon-video")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="7")
                img(src="./assets/img/salon-videos/item-1.jpg", srcset="./assets/img/salon-videos/item-1.jpg 2x", alt="salon-video")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="8")
                img(src="./assets/img/salon-videos/item-2.jpg", srcset="./assets/img/salon-videos/item-2.jpg 2x", alt="salon-video")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="9")
                img(src="./assets/img/salon-videos/item-3.jpg", srcset="./assets/img/salon-videos/item-3.jpg 2x", alt="salon-video")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="10")
                img(src="./assets/img/salon-videos/item-4.jpg", srcset="./assets/img/salon-videos/item-4.jpg 2x", alt="salon-video")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
              a.owl-dot.d-flex.align-items-center.justify-content-center(href="", data-pos="11")
                img(src="./assets/img/salon-videos/item-5.jpg", srcset="./assets/img/salon-videos/item-5.jpg 2x", alt="salon-video")
                span.owl-dot-bg.w-100.h-100.d-block
                span.play-btn.play-btn-small.d-flex.align-items-center.justify-content-center
                  span
        p.mb-20.thin-text.line-margin
          span.p-bold Наши специалисты постоянно развиваются, чтобы быть для вас лучше
        p.mb-20.thin-text Независимо от вида услуг, наши мастера регулярно обучаются и получают новые знания для работы с вами.
        ul.info-list
          li.p-text.thin-text.mb-15 Проходят специализированные курсы по своим направлениям.
          li.p-text.thin-text.mb-15 Повышают квалификацию.
          li.p-text.thin-text.mb-15 Приглашают технологов и представителей знаменитых мировых брендов провести обучающие семинары.
          li.p-text.thin-text Ездят в другие города на конференции, семинары, мастер-классы.
      .col-12.col-xl-5.order-1.order-xl-1.about-block-cnt
        h2.section-title Центр красоты Steffany в Житомире
        p.mb-20.thin-text Игристое, музыка и полное расслабление. Наша главная цель — устроить для вас вечер пятницы в любой день недели. Когда никуда не надо спешить, ничего не надо делать и у вас есть законное право отдохнуть. Забывайте про дела и записывайтесь на процедуры в Steffany! 
        p.mb-20.thin-text
          span.p-bold Что вы можете сделать в Steffany Beauty
        ul.info-list
          li.mb-16 
            p.p-bold.pb-15 Маникюр и педикюр
            p.p-text.thin-text Сделайте аппаратный, классический, европейский маникюр и педикюр, а затем сделайте покрытие обычным лаком или гелем. Также приводите своих родных на мужской и детский маникюр и педикюр.
          li.mb-16 
            p.p-bold.pb-15 Наращивание ногтей
            p.p-text.thin-text Наращивайте гелем или акрилатиком ногти желаемой формы и длины.
          li.mb-16 
            p.p-bold.pb-15 Спа для рук и ног
            p.p-text.thin-text Делайте парафинотерапию для рук или ног — поухаживайте за кожей после маникюра или педикюора.
          li.mb-16 
            p.p-bold.pb-15 Окрашивание и уход за волосами
            p.p-text.thin-text Окрашивайте волосы: в один тон или сложно (объемное окрашивание, омбре, шатуш, балаяж, разные виды мелирования). Проходите уходовые процедуры для окрашенных или натуральных волос. Делайте перманентную завивку и кератиновое восстановление.
          li.mb-16 
            p.p-bold.pb-15 Прически и стрижки
            p.p-text.thin-text Приходите на стрижку, укладку, полировку волос или вечернюю прическу. Приводите родных на детские или мужские стрижки.
          li.mb-16 
            p.p-bold.pb-15 Макияж
            p.p-text.thin-text Делайте классический макияж для фотосессий, праздников, выпускный и других событий.
          li.mb-16 
            p.p-bold.pb-15 Услуги для бровей
            p.p-text.thin-text Выполняйте моделирование, коррекцию, окрашивание хной и краской, ламинирование бровей, окрашивание ресниц.