section.section.about-salon-zt
  .container
    .row.no-gutters.d-flex.align-items-start.justify-content-between.about-content
      .col-12.col-xl-7.order-2.order-xl-1.video-item-cnt
        .row
          .col-12.order-2.order-xl-1
            .video-slider.owl-images-container.owl-carousel.slider-block.w-100.mb-5
            .video-slider-dots-wrap.d-none.d-sm-block.mb-xl-5.small-owl-images-container
              .video-nav-slider-dots
              .video-slider-dots.owl-carousel.owl-dots.w-100
                .owl-dots-item.d-flex.align-items-start.justify-content-between.flex-wrap.w-100

          .col-12.order-1
            p.paragraph-text.text-color-lightdark.f-bold.mb-3 Наши специалисты постоянно развиваются, чтобы быть для вас лучше
            p.paragraph-text.text-color-lightdark.f-light.mb-3 Независимо от вида услуг, наши мастера регулярно обучаются и получают новые знания для работы с вами.
            ul.info-list
              li.paragraph-text.text-color-lightdark.f-light.mb-3 Проходят специализированные курсы по своим направлениям.
              li.paragraph-text.text-color-lightdark.f-light.mb-3 Повышают квалификацию.
              li.paragraph-text.text-color-lightdark.f-light.mb-3 Приглашают технологов и представителей знаменитых мировых брендов провести обучающие семинары.
              li.paragraph-text.text-color-lightdark.f-light.mb-3 Ездят в другие города на конференции, семинары, мастер-классы.


      .col-12.col-xl-5.order-1.order-xl-2.about-block-cnt
        h2.h2-title.text-color-dark Центр красоты Steffany
          span.city-in-dynamic
        p.paragraph-text.text-color-lightdark.f-light.mb-4 Игристое, музыка и полное расслабление. Наша главная цель — устроить для вас вечер пятницы в любой день недели. Когда никуда не надо спешить, ничего не надо делать и у вас есть законное право отдохнуть. Забывайте про дела и записывайтесь на процедуры в Steffany!
        p.paragraph-text.text-color-lightdark.f-bold.mb-3 Что вы можете сделать в Steffany Beauty
        ul.info-list
          li.mb-3(data-remove-hair)
            p.paragraph-text.text-color-lightdark.f-bold.mb-3 Маникюр и педикюр
            p.paragraph-text.text-color-lightdark.f-light Сделайте аппаратный, классический, европейский маникюр и педикюр, а затем сделайте покрытие обычным лаком или гелем. Также приводите своих родных на мужской и детский маникюр и педикюр.
          li.mb-3(data-remove-hair)
            p.paragraph-text.text-color-lightdark.f-bold.mb-3 Наращивание ногтей
            p.paragraph-text.text-color-lightdark.f-light Наращивайте гелем или акрилатиком ногти желаемой формы и длины.
          li.mb-3(data-remove-hair)
            p.paragraph-text.text-color-lightdark.f-bold.mb-3 Спа для рук и ног
            p.paragraph-text.text-color-lightdark.f-light Делайте парафинотерапию для рук или ног — поухаживайте за кожей после маникюра или педикюора.
          li.mb-3(data-remove-nail)
            p.paragraph-text.text-color-lightdark.f-bold.mb-3 Окрашивание и уход за волосами
            p.paragraph-text.text-color-lightdark.f-light Окрашивайте волосы: в один тон или сложно (объемное окрашивание, омбре, шатуш, балаяж, разные виды мелирования). Проходите уходовые процедуры для окрашенных или натуральных волос. Делайте перманентную завивку и кератиновое восстановление.
          li.mb-3(data-remove-nail)
            p.paragraph-text.text-color-lightdark.f-bold.mb-3 Прически и стрижки
            p.paragraph-text.text-color-lightdark.f-light Приходите на стрижку, укладку, полировку волос или вечернюю прическу. Приводите родных на детские или мужские стрижки.
          li.mb-3(data-remove-hair)
            p.paragraph-text.text-color-lightdark.f-bold.mb-3 Макияж
            p.paragraph-text.text-color-lightdark.f-light Делайте классический макияж для фотосессий, праздников, выпускный и других событий.
          li.mb-3(data-remove-nail)
            p.paragraph-text.text-color-lightdark.f-bold.mb-3 Услуги для бровей
            p.paragraph-text.text-color-lightdark.f-light Выполняйте моделирование, коррекцию, окрашивание хной и краской, ламинирование бровей, окрашивание ресниц.

