.specialists
  .container.container-m.slider-wrap
    .row.no-gutters
      h2.section-title.h-center.white-text Специалисты салона
    .row.no-gutters
      .specialists-slider.owl-carousel.slider-block.slider-pad
        .specialists-item
          .specialists-item-container.w-100(href="./assets/img/specialists/specialists-1.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./assets/img/specialists/specialists-1.jpg", alt="diploma")
            .specialists-info.d-flex.flex-column.align-items-start.justify-content-between.w-100
              p.p-text-light.fs-16 Сделает все виды маникюра и педикюра, выравнивание, наращивание и коррекцию ногтей, все виды дизайна, парафинотерапию для рук и ног 
              p.p-text
                span.p-bold Работает уже 
                | 13 лет
          p.h3-title.h-center Демчук Виктория
          p.h3-title.fs-13.h-center Мастер ногтевого сервиса
        .specialists-item
          .specialists-item-container.w-100(href="./assets/img/specialists/specialists-2.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./assets/img/specialists/specialists-2.jpg", alt="diploma")
            .specialists-info.d-flex.flex-column.align-items-start.justify-content-between.w-100
              p.p-text-light.fs-16 Сделает все виды маникюра и педикюра, выравнивание, наращивание и коррекцию ногтей, все виды дизайна, парафинотерапию для рук и ног 
              p.p-text
                span.p-bold Работает уже 
                | 13 лет
          p.h3-title.h-center Ксения Станиславская
          p.h3-title.fs-13.h-center Директор Nail Studio Steffany, мастер ногтевого сервиса
        .specialists-item
          .specialists-item-container.w-100(href="./assets/img/specialists/specialists-3.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./assets/img/specialists/specialists-3.jpg", alt="diploma")
            .specialists-info.d-flex.flex-column.align-items-start.justify-content-between.w-100
              p.p-text-light.fs-16 Сделает все виды маникюра и педикюра, выравнивание, наращивание и коррекцию ногтей, все виды дизайна, парафинотерапию для рук и ног 
              p.p-text
                span.p-bold Работает уже 
                | 13 лет
          p.h3-title.h-center Ксения Станиславская
          p.h3-title.fs-13.h-center Директор Nail Studio Steffany, мастер ногтевого сервиса
        .specialists-item
          .specialists-item-container.w-100(href="./assets/img/specialists/specialists-4.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./assets/img/specialists/specialists-4.jpg", alt="diploma")
            .specialists-info.d-flex.flex-column.align-items-start.justify-content-between.w-100
              p.p-text-light.fs-16 Сделает все виды маникюра и педикюра, выравнивание, наращивание и коррекцию ногтей, все виды дизайна, парафинотерапию для рук и ног 
              p.p-text
                span.p-bold Работает уже 
                | 13 лет
          p.h3-title.h-center Ксения Станиславская
          p.h3-title.fs-13.h-center Директор Nail Studio Steffany, мастер ногтевого сервиса
        .specialists-item
          .specialists-item-container.w-100(href="./assets/img/specialists/specialists-1.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./assets/img/specialists/specialists-1.jpg", alt="diploma")
            .specialists-info.d-flex.flex-column.align-items-start.justify-content-between.w-100
              p.p-text-light.fs-16 Сделает все виды маникюра и педикюра, выравнивание, наращивание и коррекцию ногтей, все виды дизайна, парафинотерапию для рук и ног 
              p.p-text
                span.p-bold Работает уже 
                | 13 лет
          p.h3-title.h-center Ксения Станиславская
          p.h3-title.fs-13.h-center Директор Nail Studio Steffany, мастер ногтевого сервиса
        .specialists-item
          .specialists-item-container.w-100(href="./assets/img/specialists/specialists-2.jpg", data-fancybox="" )
            .specialists-img.w-100
              img.w-100(src="./assets/img/specialists/specialists-2.jpg", alt="diploma")
            .specialists-info.d-flex.flex-column.align-items-start.justify-content-between.w-100
              p.p-text-light.fs-16 Сделает все виды маникюра и педикюра, выравнивание, наращивание и коррекцию ногтей, все виды дизайна, парафинотерапию для рук и ног 
              p.p-text
                span.p-bold Работает уже 
                | 13 лет
          p.h3-title.h-center Ксения Станиславская
          p.h3-title.fs-13.h-center Директор Nail Studio Steffany, мастер ногтевого сервиса