.icon
  display: inline-block
  width: 15px
  height: 19px


.text-dashed
  border-bottom: 1px dashed #000080
.small-text
  @include font(Circe, 400, 14, 22)
  color: $text-color-dark
.text-w-bold
  font-weight: 700 !important
.text-w-light
  font-weight: 300 !important
.text-w-regular
  font-weight: 400 !important
.text-color-light
  color: $text-color-white !important
.text-color-lightgray
  color: $text-color-lightgrey
.text-color-dark
  color: $text-color-dark !important

.paragraph-text
  @include font(Circe, 400, 16, 26)
  color: $text-color-white


.h2-title
  @include font (CormorantGaramond, bold, 44, 45)
  color: $text-color-white
.h3-title
  @include font (CormorantGaramond, bold, 34, 53)
  color: $text-color-white
.h4-title
  @include font(CormorantGaramond, 400, 24, 37)
  color: $text-color-white
.h5-title
  @include font(CormorantGaramond, 400, 24, 34)
  color: $text-color-white

.bnf-number
  //padding-bottom: 20px
  //text-transform: uppercase
  //letter-spacing: 2px
  @include font('CormorantGaramond', 700, 75, 75)
  color: $text-color-white
.extralarge-text-bg
  white-space: nowrap
  position: absolute
  @include font(Circe, 900, 321, 0)
  color: $text-color-white
  z-index: 10
  @include media-breakpoint-down(xs)
    font-size: 159.63px

.custom-icon-number
  display: inline-flex
  justify-content: center
  align-items: center
  width: 55px
  height: 55px
  background-color: #EDE1DF
  border-radius: 50%
  p
    @include font(Circe, 900, 27, 42)
    color: $text-color-dark
    transform: translateY(9px)

.white-block-design
  position: relative
  background-color: #fff
  img
    position: absolute
  //p
  //  @include font(Circe, bold, 27, 42)
  //  color: #9FA6BA

.custom-bg-dark
  background-color: #9FA6BA
  p
    color: #EDE1DF

.custom-bg-light
  background-color: #EDE1DF
  p
    color: #9FA6BA


.d-line
  display: block
  width: 89px
  height: 2px
  background: rgba(125, 137, 158, 0.39)
  margin-top: 25px
  margin-bottom: 32px
  @include media-breakpoint-down(xs)
    margin-bottom: 29px
// list - style ****
.info-list
  li
    position: relative
    padding-left: 20px
    &:before
      position: absolute
      left: 0
      top: 9px
      content: ''
      width: 5px
      height: 5px
      background: $text-color-dark
      border-radius: 50%


@include media-breakpoint-down(xs)
  .paragraph-text
    @include font(Circe, 400, 14, 22)
  .h1-title
    @include font (CormorantGaramond, bold, 34, 30)
  .h2-title
    font-size: 30px
    line-height: 40px
  .h3-title
  .h4-title



//////////////////////////////////////////////




.custom-icon-number-dark
  @extend .custom-icon-number
  background-color: #9FA6BA

.white-text
  color: $color-white

.h-center
  text-align: center


.bnf-title
  padding-bottom: 20px
  text-transform: uppercase
  letter-spacing: 2px
  @include font('Circe-Regular', 400, 20, 24)

// buttons - style *******
//.btn-callback, .btn-send
//  width: 100%
//  max-width: 195px
//  height: 38px
//  padding-right: 18px
//  padding-left: 20px
//  background-imgage: url('../images/img/background/callback-btn.png')
//  background-repeat: no-repeat
//  background-size: 45px 100%
//  background-position: top right
//  border: 2px solid $color-purple
//  text-decoration: none
//  border-radius: 100px
//  transition: 0.2s linear
//  & > span
//    text-decoration: none
//    width: 100%
//    max-width: 120px
//    svg
//      width: 13px
//      height: 13px
//    .st0
//      fill: $color-purple-text
//      transition: 0.3s ease 0.2s
//    span
//      padding-top: 2px
//      @include font ('Circe-ExtraBold', 900, 10, 10)
//      text-transform: uppercase
//      letter-spacing: 2px
//      color: $color-purple-text
//      transition: 0.3s ease
//  & > svg
//    width: 14px
//    height: 11px
//    .st0
//      fill: $color-white
//  &:hover
//    background-size: 100% 100%
//    text-decoration: none
//    & > span
//      .st0
//        fill: $color-white
//      span
//        color: $color-white
//.btn-callback-white
//  background: url('../images/img/background/callback-btn-white.jpg')
//  background-repeat: no-repeat
//  background-size: 45px 100%
//  background-position: top right
//  border: 2px solid $color-white
//  & > span
//    span
//      color: $color-white
//  & > svg
//    .st0
//      fill: $color-purple
//  &:hover
//    background-size: 100% 100%
//    text-decoration: none
//    & > span
//      span
//        color: $color-purple
//.btn-callback-simple
//  width: auto
//  max-width: 100%
//  & > span
//    max-width: 100%
//    span
//      padding-right: 23px
//.btn-send
//  & > span
//    span
//      padding-left: 8px
//      padding-right: 36px
//.button
//  cursor: pointer
//  display: flex
//  align-items: center
//  justify-content: center
//  padding: 0 33px
//  height: 38px
//  background: $btn-bg
//  @include font('Circe-ExtraBold', 900, 10, 13)
//  text-transform: uppercase
//  color: $color-white !important
//  letter-spacing: 1.5px
//  border-radius: 100px
//  transition: 0.3s ease
//  &:hover
//    box-shadow: 0 0 20px $btn-bg
//.soc-btn
//  width: 38px
//  height: 38px
//  background: $soc-btn
//  border-radius: 50%
//  transition: 0.4s ease
//  &:hover
//    background: $color-purple
//.btn-simple
//  color: $color-white
//  height: 38px
//  padding: 15px 30px
//  font-size: 10px
//  text-transform: uppercase
//  letter-spacing: 2px
//  transition: 0.4s ease
//  background: $color-purple
//.btn-simple:hover
//  color: $color-white
//  background: $soc-btn
//.btn-simple-light
//  color: $play-btn-color
//  background: transparent
//  border: 2px solid $border-light
//  &:hover, &.active
//    color: $color-white
//    background: $color-purple
//    color: $color-white !important
//    border: 2px solid $color-purple


// bg - style ********
.bg-settings
  background-repeat: no-repeat !important
  background-size: cover !important
  background-position: center !important

.no-bg
  background: transparent !important

// Icons - style *********
.icon
  margin-right: 10px
.icon-loc
  width: 13px
  height: 17px
.icon-phone
  width: 17px
  height: 16px
.icon-time
  width: 17px
  height: 17px
.icon-mail
  width: 17px
  height: 13px
.icon-arrow
  width: 12px
  margin-left: 6px



// Play-button - style ********
.play-btn
  position: absolute

  width: 92px
  height: 92px
  background: $color-purple-opacity
  border-radius: 50%
  &-orange
    background: $color-orange-opacity
  span
    width: 20px
    height: 20px
    background: $play-btn-color
    clip-path: polygon(0 0, 0% 100%, 100% 50%)

// border - style ********
.border-b-light
  border-bottom: 2px solid $border-bottom-bg
.br-100
  border-radius: 100px





// city-items - style ******
.city-item
  display: none !important
.city-active
  display: flex !important

// inputs - style ******
.field
  padding: 12px 20px
  background: $input-bg
  border-radius: 4px
  border: none !important
  outline: none !important
  &textarea
    height: 164px

// slider-block - style **
.slider-pad
  padding-left:  47px
  padding-right: 47px
.slider-block
  .owl-dots
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    padding-top: 60px
    span
      display: none
    .owl-dot
      width: 8px
      height: 8px
      border-radius: 50%
      background: $border-light
      transition: 0.3s ease
      &:not(:last-child)
        margin-right: 16px
      &:hover, &.active
        background: #A09BCF

      &:focus
        border: none !important
        outline: none !important
  .owl-nav
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    span
      display: none
    button
      width: 30px
      height: 30px
      opacity: .4
      &.owl-prev
        background-image: url('../images/icon/slider-left-arrow.png') !important
        background-repeat: no-repeat  !important
        background-size: contain !important
      &.owl-next
        background-image: url('../images/icon/slider-right-arrow.png') !important
        background-repeat: no-repeat  !important
        background-size: contain !important

@media (min-width: 1200px)
  .hidden-item
    display: none

@media (max-width: 1200px)
  .px-15
    padding-left: 15px !important
    padding-right: 15px !important

// buttons
// btn-callback
.btn-callback
  position: relative
  width: 100%
  max-width: 195px
  height: 38px
  padding-right: 18px
  padding-left: 20px
  background-position: top right
  text-decoration: none
  border-radius: 100px
  border: 2px solid $btn-primary-color !important
  background-image: linear-gradient(to right, #fff 76% ,$btn-primary-color 24%)
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.18)
  font:
    family: Circe !important
    weight: 900 !important
    size: 10px !important
    style: normal
  line-height: 25px !important
  letter-spacing: 1.5px

  text-transform: uppercase
  svg.first-svg
    position: absolute
    top: 11px
    left: 20px
  svg.second-svg
    position: absolute
    top: 14px
    right: 20px
.btn
  position: relative
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  padding-right: 18px !important
  padding-left: 25px !important
  background-color: $btn-primary-color !important
  text-transform: uppercase
  color: $text-color-white !important
  letter-spacing: 1.5px
  border-radius: 100px !important
  min-width: 154px
  min-height: 38px
  font:
    family: Circe !important
    weight: 900 !important
    size: 10px !important
    style: normal
  line-height: 25px !important
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.18)
  &:active
    box-shadow: none
  svg
    position: absolute
    top: 11px
    left: 20px

.btn-simple
  padding-left: 20px !important

.btn-primary-color
  background-color: #F6AE9F !important
.btn-second-color
  background-color: #7F8597 !important
.svg-light
  fill: #fff !important
.svg-dark
  fill: #000 !important


