.gender-pic
	position: relative

.container-overflow
	overflow: hidden

.icon
	display: inline-block
//width: 15px
//height: 19px

footer
	ul.dropdown-menu-list
		@include media-breakpoint-up(md)
			left: 38%

iframe
	width: 100%
	height: 100%

.salon-switcher
	display: none
	margin-top: 1rem
	flex-wrap: wrap
	a
		padding: .6rem 1.7rem
		border-radius: 100px
		border: 1px solid #D2DBE9
		text-transform: uppercase
		font-size: 14px
		font-family: Circe, sans-serif
		cursor: pointer
		@include media-breakpoint-down(md)
			margin-bottom: 1rem

		&.active
			box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18)
			background: #f6ad9e
			color: #ffffff !important
			border-color: #f6ad9e

		&:hover
			background: #f6ad9e
			color: #ffffff !important
			border-color: #f6ad9e

		&:not(:last-child)
			margin-right: 1rem


.text-dashed
	background:
		image: linear-gradient(to right, black 24%, rgba(255, 255, 255, 0) 0%)
		position: bottom
		size: 5px 1px
		repeat: repeat-x

.small-text
	@include font(Circe, 400, 14, 22)
	color: $text-color-white

.overflow-visible
	overflow: visible !important
//hotfix
.letter-spacing-15
	letter-spacing: 0.15px !important

.letter-spacing-1
	letter-spacing: 0.01em

.text-opacity
	color: $text-opacity !important
//

.text-w-bold
	font-weight: 700 !important

.text-w-light
	font-weight: 300 !important

.text-w-regular
	font-weight: 400 !important

.text-color-light
	color: $text-color-white !important

.text-color-dark
	color: $text-color-dark !important

.text-color-second-dark
	color: $text-color-second-dark !important

.text-color-lightgray
	color: $text-color-lightgrey

.text-color-lightdark
	color: $text-color-lightdark !important

.text-color-lightdark-header
	color: #4D5259 !important

.paragraph-text
	@include font(Circe, 400, 16, 26)
	color: $text-color-white


.h2-title
	@include font(CormorantGaramond, bold, 44, 45)
	letter-spacing: 0.01em
	color: $text-color-white

.h3-title
	@include font(CormorantGaramond, bold, 34, 53)
	color: $text-color-white

.h4-title
	@include font(Circe, 400, 20, 24)
	color: $text-color-white
	letter-spacing: 0.01em

.h5-title
	@include font(CormorantGaramond, 400, 24, 34)
	color: $text-color-white

.sub-title
	font-size: 27px

.bnf-number
	//padding-bottom: 20px
	//text-transform: uppercase
	//letter-spacing: 2px
	@include font('CormorantGaramond', 700, 75, 75)
	color: $text-color-white

.extralarge-text-bg
	white-space: nowrap
	position: absolute
	letter-spacing: 0.01em
	@include font(Circe, 900, 321, 0)
	color: $text-color-white
	z-index: 10
	@include media-breakpoint-down(xs)
		font-size: 159.63px

.custom-icon-number
	display: inline-flex
	justify-content: center
	align-items: center
	width: 55px
	height: 55px
	background-color: #EDE1DF
	border-radius: 50%

	p
		@include font(Circe, 900, 27, 42)
		color: $text-color-lightdark
		transform: translateY(9px)

	&-small
		@extend .custom-icon-number
		width: 21.34px
		height: 21.34px

		p
			@include font(Circe, bold, 12.6476, 20)
			color: #fff

.white-block-design
	position: relative
	background-color: #fff

	img
		object-fit: cover
		position: absolute
		box-shadow: $shadow-image


.custom-bg-dark
	background-color: #9FA6BA

	p
		color: #EDE1DF

.custom-bg-light
	background-color: #EDE1DF

	p
		color: #9FA6BA


.d-line
	display: block
	width: 89px
	height: 2px
	background: rgba(125, 137, 158, 0.39)
	margin-top: 25px
	margin-bottom: 32px
	@include media-breakpoint-down(xs)
		margin-bottom: 29px
// list - style ****
.info-list
	li
		position: relative
		padding-left: 20px

		&:before
			position: absolute
			left: 0
			top: 9px
			content: ''
			width: 5px
			height: 5px
			background: $text-color-dark
			border-radius: 50%


@include media-breakpoint-down(xs)
	.paragraph-text
		@include font(Circe, 400, 14, 22)
	.h1-title
		@include font(CormorantGaramond, bold, 34, 30)
	.h2-title
		font-size: 30px
		line-height: 30px
	.h3-title
	.h4-title


//////////////////////////////////////////////

#podLink,
#beautyLink
	width: 100%
	> div
		width: 100%


.custom-icon-number-dark
	@extend .custom-icon-number
	background-color: #9FA6BA

.white-text
	color: $color-white

.h-center
	text-align: center


.bnf-title
	padding-bottom: 20px
	text-transform: uppercase
	letter-spacing: 2px
	@include font('Circe-Regular', 400, 20, 24)


// bg - style ********
.bg-settings
	background-repeat: no-repeat !important
	background-size: cover !important
	background-position: center !important

.no-bg
	background: transparent !important

//// Icons - style *********
//.icon
//  margin-right: 10px
//.icon-loc
//  width: 13px
//  height: 17px
//.icon-phone
//  width: 17px
//  height: 16px
//.icon-time
//  width: 17px
//  height: 17px
//.icon-mail
//  width: 17px
//  height: 13px
//.icon-arrow
//  width: 12px
//  margin-left: 6px




.border-b-light
	border-bottom: 2px solid $border-bottom-bg

.br-100
	border-radius: 100px


// city-items - style ******
.city-item
	display: none !important

.city-active
	display: flex !important

// inputs - style ******
.field
	padding: 12px 20px
	background: $input-bg
	border-radius: 4px
	border: none !important
	outline: none !important

	&textarea
		height: 164px

// slider-block - style **
.slider-pad
	padding-left: 47px
	padding-right: 47px

.slider-block
	.owl-dots
		display: flex
		align-items: center
		justify-content: center
		width: 100%
		padding-top: 60px

		span
			display: none

		.owl-dot
			width: 8px
			height: 8px
			border-radius: 50%
			background: $border-light
			transition: 0.3s ease

			&:not(:last-child)
				margin-right: 16px

			&:hover, &.active
				background: #A09BCF

			&:focus
				border: none !important
				outline: none !important

	.owl-nav
		position: absolute
		top: 50%
		left: 0
		transform: translateY(-50%)
		display: flex
		align-items: center
		justify-content: space-between
		width: 100%
		z-index: -1
		@include media-breakpoint-down(sm)
			top: 100% !important
			width: 100px
			margin-bottom: 60px

		span
			display: none

		button
			width: 30px
			height: 30px
			opacity: .4

			&.owl-prev
				background-image: url('../assets/icon/slider-left-arrow.png') !important
				background-repeat: no-repeat !important
				background-size: contain !important
				@include media-breakpoint-down(sm)
					margin-left: 33%

			&.owl-next
				background-image: url('../assets/icon/slider-right-arrow.png') !important
				background-repeat: no-repeat !important
				background-size: contain !important
				@include media-breakpoint-down(sm)
					margin-right: 33%

@media (min-width: 1200px)
	.hidden-item
		display: none

@media (max-width: 1200px)
	.px-15
		padding-left: 15px !important
		padding-right: 15px !important

.slider-pad
	padding-left: 47px
	padding-right: 47px

.slider-block
	.owl-dots
		display: flex
		align-items: center
		justify-content: center
		width: 100%
		padding-top: 60px

		span
			display: none

		.owl-dot
			width: 8px
			height: 8px
			border-radius: 50%
			background: #000
			transition: 0.3s ease

			&:not(:last-child)
				margin-right: 16px

			&:hover, &.active
				background: #000

			&:focus
				border: none !important
				outline: none !important

	.owl-nav
		position: absolute
		top: 50%
		left: 0
		transform: translateY(-50%)
		display: flex
		align-items: center
		justify-content: space-between
		width: 100%

		span
			display: none

		button
			width: 30px
			height: 30px
			opacity: .4

			&.owl-prev
				background-image: url('../assets/icon/slider-left-arrow.png') !important
				background-repeat: no-repeat !important
				background-size: contain !important

			&.owl-next
				background-image: url('../assets/icon/slider-right-arrow.png') !important
				background-repeat: no-repeat !important
				background-size: contain !important

	// VIDEO SLIDER
	&.video-slider
		.owl-nav
			position: absolute !important
			display: flex
			top: calc(100% + 26px)
			left: 0
			width: 100%
			margin-top: 0 !important
			padding-top: 0 !important
			margin-top: 50px !important

			button
				&.owl-prev
					background-image: url('../assets/icon/aroow-left-gray.png') !important
					background-repeat: no-repeat !important
					background-size: contain !important
					@include media-breakpoint-down(sm)
						background-image: url('../assets/icon/slider-left-arrow-mob.svg') !important

				&.owl-next
					background-image: url('../assets/icon/aroow-right-gray.png') !important
					background-repeat: no-repeat !important
					background-size: contain !important
					@include media-breakpoint-down(sm)
						background-image: url('../assets/icon/slider-right-arrow-mob.svg') !important


.service-checkbox-label
	position: relative
	display: inline-block
	cursor: pointer
	width: 16px
	height: 16px
	margin-bottom: 0

	input
		position: absolute
		opacity: 0
		cursor: pointer
		height: 0
		width: 0

	.checkmark
		position: absolute
		top: 0
		left: 0
		width: 16px
		height: 16px
		margin-top: 3px
		border-radius: 2px
		border-width: 1px
		border-style: solid

	.checkmark.dark
		border-color: #6F7682

	.checkmark.light
		border-color: #E8DDDB

	.checkmark:after
		position: absolute
		top: 1px
		left: 5px
		display: none
		content: ''
		width: 5px
		height: 10px
		border-width: 0 3px 3px 0
		border-style: solid
		transform: rotate(45deg)

	.checkmark.dark::after
		border-color: #6F7682

	.checkmark.light:after
		border-color: #E8DDDB

	input:checked ~ .checkmark:after
		display: block

.scaleY
	transform: scaleY(0)

.hidden
	display: none !important

.visible, .hidden.visible
	display: block !important

.visibleFlex
	display: flex

#paymentPopup
	#main
		height: 40px
		width: 40px
		background: indianred
		border-radius: 100%
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 100

	div
		background: #fff
		height: 14px
		width: 14px
		border-radius: 100%
		position: absolute
		margin: auto

	.ball-one
		top: 0
		left: 0
		right: 65px
		bottom: 65px
		animation: anim 2s infinite ease-in

	@keyframes anim
		0%
			background: skyblue
			right: 65px
			bottom: 65px
			z-index: 150

		33%
			right: -65px
			bottom: -65px

		66%
			width: 10px
			height: 10px

		99%
			right: 65px
			bottom: 65px
			height: 14px
			width: 14px
			z-index: 0

		100%
			background: skyblue

	.ball-two
		top: 0
		right: 0
		left: 65px
		bottom: 65px
		animation: anim-two 2s infinite ease-in
		animation-delay: .4s

	@keyframes anim-two
		0%
			background: skyblue
			left: 65px
			bottom: 65px
			z-index: 150

		33%
			left: -65px
			bottom: -65px

		66%
			width: 10px
			height: 10px

		99%
			left: 65px
			bottom: 65px
			height: 14px
			width: 14px
			z-index: 0

		100%
			background: skyblue

	.ball-three
		top: -65px
		right: 0
		left: 0
		bottom: 0
		animation: anim-three 2s infinite ease-in
		animation-delay: .8s

	@keyframes anim-three
		0%
			background: skyblue
			top: -65px
			z-index: 150

		33%
			top: 65px

		66%
			width: 10px
			height: 10px

		99%
			top: -65px
			height: 14px
			width: 14px
			z-index: 0

		100%
			background: skyblue

.diploma-slider .owl-item
//max-width: 300px

.owl-stage-outer
  //max-height: 400px
#map
  height: 600px
  width: 100%
