$Circe: 'Circe'
$Cormorant: 'CormorantGaramond'
$Lato: 'Lato'

$mobile-width: 400px
$tablet-width: 768px
$laptop-width: 992px
$desktop-width: 1200px


$color-white: #fff
$red-color: #5e191d
$orange-color: #e9522e
$header-bg: #47484a
$primary-color: #F6AE9F
$secondary-color: #e9522e
$text-color-dark: #556278
$text-color-white: #ffffff
$text-color-lightgrey: #F2F2F2

$bg-color-white: #F9F8F4
$bg-color-dark: #0A0D0E
$bg-cards-name: #bddcdf


$color-coral: #F6AE9F

$btn-primary-color: #F6AE9F
$btn-second-color: #7F8597

$shadow-image: 0px 50px 70px rgba(0, 0, 0, 0.13)



$mobile-width: 400px
$tablet-width: 768px
$laptop-width: 992px
$desktop-width: 1200px



$color-purple-opacity: rgba(160, 155, 207, 0.8)
$color-orange-opacity: rgba(242, 223, 225, 0.8)
$play-btn-color: #3A405B
$border-light: #D2DBE9
$border-bottom-bg: #D8D9DE
$spec-bg: #EDE1DF
