// bootstrap connection
@import "../../node_modules/bootstrap/scss/bootstrap"
@import "../../node_modules/bootstrap/scss/bootstrap-grid"
@import "../../node_modules/bootstrap/scss/bootstrap-reboot"

@import "variables"
@import "mixins"
@import "fonts"
@import "reset"
@import "spacing-helpers"
@import "grid"

.container
  padding-left: 30px !important
  padding-right: 30px !important
  @include media-breakpoint-down(xs)
    padding-left: 18px
    padding-right: 18px
@include media-breakpoint-up(xl)
  .container
    max-width: 1280px !important

.section
  overflow: hidden

@import 'custom_classes'

@import 'sections/header'
@import 'sections/four-boxes-module'
@import 'sections/almalaser'
@import 'sections/choose-service'
@import 'sections/consultation'
@import 'sections/discount'
@import 'sections/safety'
@import 'sections/accordion-answer'
@import 'sections/laser-description'
@import 'sections/main-laser-service'
@import 'sections/consultation-form'
@import 'sections/about-steffany'
@import 'sections/diploma'
@import 'sections/workers-slider'
@import 'sections/service-three-boxes_module'


@import 'sections/footer'



@import 'modules/accordion'
@import 'lib/all'

@import "media"
