@import "variables"
@import "mixins"
@import "fonts"
@import "reset"
@import "spacing-helpers"
@import "grid"

@media only screen and (min-width : 1200px)
  .container
    max-width: 1280px !important

.container

  padding: 0 30px

.section
  padding: 4rem 0



//nav
//  background-color: $text-color-white !important
//  box-shadow: none !important

@import 'custom_classes'

@import 'sections/header'
@import 'sections/four-boxes-module'
@import 'sections/almalaser'
@import 'sections/choose-service'
@import 'sections/consultation'
@import 'sections/discount'
@import 'sections/safety'
@import 'sections/accordion-answer'
@import 'sections/laser-description'
@import 'sections/main-laser-service'
@import 'sections/consultation-form'
@import 'sections/about-steffany'
@import 'sections/service/_service-advantages'
@import 'sections/service/_service-consultation'
@import 'sections/service/_service-laser-main'
@import 'sections/service/_service-laser-service-list'
@import 'sections/service/_service-after-laserepila'
@import 'sections/diploma'
@import 'sections/workers-slider'
@import 'sections/service-three-boxes_module'


@import 'sections/footer'

@import 'modules/accordion'
@import 'lib/all'

@import "media"
