// bootstrap connection
@import "../../node_modules/bootstrap/scss/bootstrap"
@import "../../node_modules/bootstrap/scss/bootstrap-grid"
@import "../../node_modules/bootstrap/scss/bootstrap-reboot"

@import "variables"
@import "mixins"
@import "fonts"
@import "reset"
@import "spacing-helpers"
@import "grid"

.container
  padding-left: 30px !important
  padding-right: 30px !important
  @include media-breakpoint-down(xs)
    padding-left: 18px !important
    padding-right: 18px !important
@include media-breakpoint-up(xl)
  .container
    max-width: 1280px !important

.section
  overflow: hidden


@import 'sections/header'
@import 'sections/four-boxes-module'
@import 'sections/almalaser'
@import 'sections/choose-service'
@import 'sections/choose-service-icon'
@import 'sections/consultation'
@import 'sections/custom-consultation'
@import 'sections/discount'
@import 'sections/safety'
@import 'sections/accordion-answer'
@import 'sections/laser-description'
@import 'sections/main-laser-service'
@import 'sections/consultation-form'
@import 'sections/about-steffany'
@import 'sections/map'

// service
@import 'sections/service/_service-advantages'
@import 'sections/service/_service-consultation'
@import 'sections/service/_service-laser-main'
@import 'sections/service/_service-laser-service-list'
@import 'sections/service/_service-after-laserepila'
@import 'sections/service/_service-laser-whatToDo'
@import 'sections/service/_service-laser-contraindications'
@import 'sections/service/_service-laser-discount'
@import 'sections/service/_service-consultation-form'
@import 'sections/service/_service-laser-personal'
@import 'sections/service/_service-laser-results'
@import 'sections/service/_service-laser-interests'

// discount
@import 'sections/discount/discount-page'

//contact
@import 'sections/contact/contact'

//about-steffany-zt
@import 'sections/about-steffany-zt/video-slider'

//service-shugaring
@import 'sections/service-shugarin/about-page-section'
@import 'sections/service-shugarin/block-answer-after'
@import 'sections/service-shugarin/block-answer-before'
//service-nano
@import 'sections/service-nano/about-page-section'
@import 'sections/service-nano/block-answer-after'
@import 'sections/service-nano/block-answer-before'
//waxing
@import 'sections/vaxing/about-page-section'
@import 'sections/vaxing/block-answer-after'
@import 'sections/vaxing/block-answer-before'
@import 'sections/vaxing/service-three-boxes_dark-theme'



@import 'sections/diploma'
@import 'sections/workers-slider'
@import 'sections/service-three-boxes_module'


@import 'sections/footer'
@import 'custom_classes'

//modules
@import 'modules/accordion'
@import 'modules/accordion-dark-theme'
@import 'modules/checkbox'
@import 'modules/buttons'
@import 'modules/carousel'
@import 'modules/breadcrubms'

@import 'lib/all'

@import "media"

