section.section.accordion-answer-dark-theme
  +accordeon('Часто задаваемые вопросы', 'Здесь вы найдете информацию про восковую депиляцию, которая чаще всего интересует наших клиентов',
    [
      {
        title: 'Как часто нужно делать восковую депиляцию?',
        body: 'Это зависит от того, с какой скоростью у вас отрастают волосы. Минимальная длина волосков для воска — хотя бы 0,5 миллиметров. Наши клиентки приходят сделать восковую депиляцию примерно раз в месяц. За это время волосы успевают отрасти и позволить провести новую процедуру.'
      },
      {
        title: 'Восковая депиляция — это больно?',
        body: 'У каждого свой болевой порог. Можем сказать наверняка: восковая депиляция самая болезненная из всех способ избавиться от нежелательных волос. Так происходит из-за того, что волосы вырываются против своего роста. Поэтому если вам тяжело переносить боль, подумайте о других видах удаления волос. Тот же шугаринг в этом плане более щадящий.'
      },
      {
        title: 'Если у меня варикозное расширение вен на ногах, но я хочу сделать восковую депиляцию в другой зоне, я могу это сделать?',
        body: 'Наверняка вам скажет мастер на консультации. В принципе, это имеет смысл, особенно если косметолог будет аккуратным и осторожным. Абсолютное противопоказание к восковой депиляции — варикозное расширение вен на ногах. Другие зоны можно обсудить на консультации, видя всю ситуацию целиком.'
      },
      {
        title: 'Вы можете сделать обезболивание перед процедурой?',
        body: 'Теоретически — да. Но вы должны понимать, что высокая температура воска разрушает действие анестезии. Если вы хотите успокоить себя, мы можем обезболить нужную вам зону. Но это будет иметь мало смысла. Если вы действительно сильно боитесь боли, выберите другой способ удаления волос. Можете посоветоваться об этом с нами. Позвоните или напишите нам, и мы поможем подобрать вам самую комфортную процедуру.'
      },
      {
        title: 'У меня вросшие волосы. Удаление волос воском избавит меня от этой проблемы?',
        body: 'К сожалению, нет. Регулярно врастающие волосы — признак, что траектория их роста уже нарушена. Восковая депиляция в этом плане не лучший способ профилактики. Она вырывает волосы против их роста и может усугубить уже существующую проблему. В Steffany вы можете избавиться от вросших волос на лазерной эпиляции или нано-эпиляции. Это те процедуры, где вросшие волосы исчезают.'
      },
      {
        title: 'Есть ли риск получить ожоги от процедуры горячим воском?',
        body: 'Ожоги можно получить из-за неопытности или непрофессионализма. Восковая депиляция в салоне Steffany пойдет по всем правилам. Вы точно не получите ожоги. Разогретый до 40-60 градусов теплый воск не травмирует кожу.'
      },
      {
        title: 'Какие еще риски в восковой депиляции?',
        body: 'Если процедура проведена по правилам, осложнений быть не должно. Они возникают, когда клиенту изначально не подходит удаление волос воском или когда мастер не соблюдает технику проведения процедуры. В таких случаях на коже могут остаться гематомы, повреждения слизистой (при процедуре глубокого бикини), раздражения и воспаления на коже. Именно поэтому мы сразу предупреждаем о возможным противопоказаниях. Не переживайте. Если воск вам не подходит, мастер сразу скажет вам об этом на консультации. Никто не будет проводить вам процедуру, если она опасна для вашего здоровья.'
      },
      {
        title: 'Мне можно пользоваться скрабом перед процедурой? Нужно ли подготовить кожу, сделав пилинг?',
        body: 'Не стоит скрабировать кожу и даже сильно тереть ее мочалкой или щеткой перед процедурой. Любое механическое воздействие может повредить кожу. А когда кожа повреждена, воск легко ее травмирует. Поэтому просто берегите кожу перед процедурой и отрастите нужную длину. А мастер сделает все необходимое.'
      },
      {
        title: 'Что мне выбрать между шугарингом и воском?',
        body: 'Главное преимущество воска перед шугаринга — скорость. Удалять волосы воском намного быстрее, чем сахарной пастой. При этом за скорость приходится платить более ярко выраженными болевыми ощущениями. Если вам важно сделать все быстро и вы не боитесь боли, восковая депиляция вам подойдет. В обоих случаях сразу после процедуры у вас будет гладкая кожа, а волосы не будут расти 2-3 недели.'
      }
    ], true, 1)
