section.section.custom-block-answer-before-waxing
  .c-content-first
    .container
      .row
        .col-12.col-xl-6.order-1.order-xl-0
          .white-block-design
            p.extralarge-text-bg epilation
            img.mx-xl-0.mb-4.mb-xl-3(src="assets/img/waxing-page/answer-before.jpg" alt="four-boxes-1" srcset="assets/img/waxing-page/answer-before@2x.jpg 2x")
        .col-12.col-xl-6
          .c-content
            h2.h2-title.text-color-lightdark Як проходить процедура воскової депіляції
            .d-line.my-3
            p.paragraph-text.text-w-light.text-color-lightdark Воскова депіляція — швидкий спосіб позбавлення від небажаного волосся. Аби ефект був найбільш безпечним, із воском треба працювати акуратно і професійно. Тому замість домашніх процедур довіртеся фахівцям Steffany, щоб не наражати зони депіляції на ризик можливих опіків і врослого волосся.
            p.paragraph-text.text-w-bold.text-color-lightdark Етапи процедури

            .c-li.d-flex.align-items-center.mb-3
              .custom-icon-number.custom-bg-dark.mb-2
                p 1
              p.paragraph-text.text-w-light.text-color-lightdark.mb-2.ml-2 Підготовка
            p.paragraph-text.text-w-light.text-color-lightdark Під час воскової депіляції шкіру потрібно продезінфікувати і знежирити. Для цього майстер обробляє шкірну ділянку спеціальним засобом і серветками. Після цього шкіра готова до наступного, найголовнішого етапу.
  .c-content-second
    .container
      .row
        .col-12.col-xl-6.order-1.order-xl-0
          .c-content
            .c-li.d-flex.align-items-center.mb-3
              .custom-icon-number.custom-bg-dark.mb-2
                p 2
              p.paragraph-text.text-w-light.mb-2.ml-2 Видалення волосся
            p.paragraph-text.text-w-light На підготовлену шкіру майстер наносить розігрітий до 40-60 градусів віск. Температура залежить від зони, яку ви хочете продепілювати. Завдяки такій температурі гарячого воску область волосяного фолікула розширюється і волосся легше піддається ривку.

            p.paragraph-text.text-w-light Майстер може наносити гарячий віск різними способами: дерев'яним шпателем або картриджем. Це також залежить від потрібної вам ділянки депіляції.

            p.paragraph-text.text-w-light Віск наноситься у напрямку росту волосся, а виривається проти росту волосся. Це додає не надто приємних відчуттів, проте проходить швидко.

            .c-li.d-flex.align-items-center.mb-3
              .custom-icon-number.custom-bg-dark.mb-2
                p 3
              p.paragraph-text.text-w-light.mb-2.ml-2 Заспокоєння
            p.paragraph-text.text-w-light Віск прибрав усе небажане волосся. Тепер потрібно прибрати зі шкіри залишки воску. Для цього майстер наносить на шкіру спеціальну олію, а потім відновлюючий засіб, який зволожує і реабілітує шкірний покрив після такої процедури.
        .col-12.col-xl-6
          .white-block-design
            img(src="assets/img/waxing-page/answer-before2.jpg" alt="four-boxes-1" srcset="assets/img/waxing-page/answer-before2@2x.jpg 2x")


