section.section.podology-consultation
	background: url("../assets/img/background/consulation-bg.png") no-repeat center/cover

	.btn-callback
		width: 17em

	@include media-breakpoint-only(md)
		.container
			> div:last-child
				padding: 0 9em
	@include media-breakpoint-down(sm)
		.container
			padding: 0 !important

			> div:last-child
				padding: 0

	p
		line-height: 25px
		width: 40em

	h2
		font-weight: 200
		line-height: 50px

		strong
			font-weight: 700

	.sale
		.dash
			color: rgba(255, 255, 255, 0.21)
