section.section.podology-services
	.feet-section
		.c-content
			justify-content: start
			padding-top: 3em
		.item
			&:nth-child(1)
				.c-content
					background-image: url("../assets/img/podology-services-1.png")
			&:nth-child(2)
				.c-content
					background-image: url("../assets/img/podology-services-2.png")
			&:nth-child(3)
				.c-content
					background-image: url("../assets/img/podology-services-3.png")
			&:nth-child(4)
				.c-content
					background-image: url("../assets/img/podology-services-4.png")
