section.section.about-page-section-waxing
  .container
    .row
      .col-12.col-xl-6
        .c-content
          h2.h2-title Воскова депіляція <span class="city-in-dynamic"></span>
          .d-line
          p.paragraph-text.text-w-light.mb-3 Воскова депіляція або ваксинг — це старий-добрий спосіб видалення небажаного волосся для жінок та чоловіків за допомогою теплого воску. Пару десятків років тому епіляція воском стала революцією у світі видалення небажаного волосся.
          p.paragraph-text.text-w-light З тих пір популярними стали також інші види позбавлення від зайвої рослинності на тілі. І все ж безліч дівчат звикли до воску і не хочуть змінювати цей спосіб на якийсь інший. До того ж ваксинг має свої переваги, які роблять процедуру більш зручною.
      .col-12.col-xl-6
        .white-block-design
          img(src="assets/img/waxing-page/about-page.jpg" alt="about-page" srcset="assets/img/waxing-page/about-page@2x.jpg 2x")
          p.extralarge-text-bg waxing

