section.section.accordion-answer-dark-theme
  +accordeon('Поширені запитання', 'Тут ви знайдете інформацію про воскову депіляцію для тіла, яка найчастіше цікавить наших клієнтів',
    [
      {
        title: 'Як часто потрібно робити воскову депіляцію?',
        body: 'Це залежить від того, з якою швидкістю у вас відростає волосся. Мінімальна довжина волосся для воску — хоча б 0,5 міліметрів. Наші клієнтки приходять зробити воскову депіляцію приблизно раз на місяць. За цей час волосся встигає відрости і дозволити провести нову процедуру.'
      },
      {
        title: 'Воскова депіляція — це боляче?',
        body: 'У кожного свій больовий поріг. Можемо сказати напевно: воскова депіляція найболючіша з усіх спосіб позбутися небажаного волосся. Так відбувається через те, що зайве волосся виривається проти свого зростання. Тому якщо вам важко переносити біль, подумайте про інші види видалення волосся. Той же шугарінг в цьому плані більш щадний.'
      },
      {
        title: 'Якщо у мене варикозне розширення вен на ногах, але я хочу зробити воскову депіляцію в іншій зоні, я можу це зробити?',
        body: 'Напевно вам скаже майстер на консультації. В принципі, це має сенс, особливо якщо косметолог буде акуратним і обережним. Абсолютне протипоказання до воскової депіляції — варикозне розширення вен на ногах. Інші зони можна обговорити на консультації, якщо бачити всю ситуацію в цілому.'
      },
      {
        title: 'Ви можете зробити знеболювання перед процедурою?',
        body: 'Теоретично — так. Але ви повинні розуміти, що висока температура воску руйнує дію анестезії. Якщо ви хочете заспокоїти себе, ми можемо знеболити потрібну вам зону. Але це буде мати мало сенсу. Якщо ви дійсно сильно боїтеся болю, виберіть інший спосіб видалення волосся. Можете порадитися про це з нами. Зателефонуйте або напишіть нам, і ми допоможемо підібрати вам найкомфортнішу процедуру.\n'
      },
      // {
      //   title: 'У мене вросле волосся. Видалення волосся воском позбавить мене від цієї проблеми?',
      //   body: 'На жаль, ні. Регулярно вростаюче волосся — ознака, що траєкторія його зростання вже порушена. Воскова депіляція у цьому плані не кращий спосіб профілактики. Вона вириває волосся проти їхнього росту і може погіршити вже існуючу проблему. У Steffany ви можете позбутися від врослого волосся на лазерній епіляції або нано-епіляції. Це ті процедури, де вросле волосся зникає.'
      // },
      {
        title: 'Чи є ризик отримати опіки від процедури гарячим воском?',
        body: 'Опіки можна отримати через недосвідченість або непрофесіоналізм. Воскова депіляція в салоні Steffany піде за всіма правилами. Ви точно не отримаєте опіки. Віск розігрівається до 40-60 градусів. Такий теплий віск не травмує шкіру.'
      },
      {
        title: 'Які ще ризики у воскової депіляції?',
        body: 'Якщо процедура проведена за правилами, ускладнень бути не повинно. Вони виникають, коли клієнту спочатку не підходить видалення волосся воском або коли майстер не дотримується техніки проведення процедури.У таких випадках на шкірі можуть залишитися гематоми, ушкодження слизової (воскова депіляція зони бікіні), роздратування й запалення на шкірі. Саме тому ми одразу попереджаємо про можливі протипоказання.Не хвилюйтесь. Якщо віск вам не підходить, майстер одразу скаже вам про це на консультації. Ніхто не буде проводити вам процедуру, якщо вона небезпечна для вашого здоров\'я.'
      },
      {
        title: 'Мені можна користуватися скрабом перед процедурою? Чи потрібно підготувати шкіру, зробивши пілінг?',
        body: 'Не варто скрабувати шкіру і навіть сильно терти її мочалкою або щіткою перед процедурою. Будь-який механічний вплив може пошкодити шкіру. А коли шкіра пошкоджена, віск легко її травмує. Тому просто бережіть шкіру перед процедурою і відростіть потрібну довжину. А майстер зробить все необхідне.Якщо вам важливо зробити все швидко і ви не боїтеся болю, воскова депіляція вам підійде. В обох випадках відразу після процедури у вас буде гладка шкіра, а волосся не буде рости 2-3 тижні.'
      },
      {
        title: 'Що мені вибрати між шугарінгом і воском?',
        body: 'Головна перевага воску у порівнянні із шугарингом — швидкість. Епіляція воском набагато швидша, ніж цукровою пастою. При цьому за швидкість доводиться платити більш яскраво вираженими больовими відчуттями.'
      }
    ], true, 1)
