section.section.block-answer-after-waxing
  .container
    .row
      .col-12.col-xl-6
        .c-content
          h2.h2-title.text-color-second-dark Протипоказання до депіляції воском
          p.paragraph-text.text-color-second-dark.text-w-light Воскова депіляція підходить не всім. У деяких ситуаціях віск може спричинити ускладнення або неприємну реакцію. Щоб цього не сталося, прочитайте список нижче. Якщо ж ви хочете переконатися напевно, чи можна вам видаляти волосся воском, приходьте на консультацію. Майстер проведе поверхневий огляд вашої шкіри передбачуваної зони і збере інформацію, яка допоможе прийняти рішення.
          ul.info-list
            li.paragraph-text.text-color-second-dark.text-w-light.mb-3 Відкриті рани й інші пошкодження шкіри, які порушують її цілісність.

            li.paragraph-text.text-color-second-dark.text-w-light.mb-3 Варикозне розширення вен.

            li.paragraph-text.text-color-second-dark.text-w-light.mb-3 Регулярно вростаюче волосся.

            li.paragraph-text.text-color-second-dark.text-w-light.mb-3 Запалення і новоутворення на шкірі.

      .col-12.col-xl-6
        img.w-100.mx-auto.mx-xl-0.mt-4.mt-xl-2(src="assets/img/waxing-page/answer-after.jpg" alt="four-boxes-1" srcset="assets/img/waxing-page/answer-after@2x.jpg 2x")


