section.section.service-three-boxes-dark-theme
  .container
    h2.three-box-title.text-center.mb-4.mb-lg-5 Процедура воскової депіляції безпечна для вашого здоров'я
    .row
      .col-12.col-xl-4
        .c-three-box
          .img-position
            img.d-img.img-position-01(src="assets/img/three-boxes/three-box-waxing-dark-1.png", alt="circle fether" srcset="assets/img/three-boxes/three-box-waxing-dark-1@2x.png 2x")
          p.bnf-number 01
          h4.h4-title.text-uppercase Використовуємо одноразові матеріали
          p.paragraph-text.text-w-light Майже всі матеріали, якими з вами працює майстер, належать тільки вам. Дерев'яні шпателі, ватні диски, серветки, паперові воскові смужки. Все це утилізується після вашого візиту.
      .col-12.col-xl-4
        .c-three-box
          .img-position
            img.d-img.img-position-02(src="assets/img/three-boxes/three-box-waxing-dark-2.png", alt="circle fether" srcset="assets/img/three-boxes/three-box-waxing-dark-2@2x.png 2x")
          p.bnf-number 02
          h4.h4-title.text-uppercase Дезінфікуємо вашу шкіру
          p.paragraph-text.text-w-light Процедура воскової депіляції може бути трохи травматичною. Якщо волосся дуже довге і густе, після процедури на шкірі можуть виступити дрібні краплі крові. Це не страшно, тому що ваша шкіра і руки майстра продезинфіковані.
      .col-12.col-xl-4
        .c-three-box
          .img-position
            img.d-img.img-position-03(src="assets/img/three-boxes/three-box-waxing-dark-3.png", alt="circle fether" srcset="assets/img/three-boxes/three-box-waxing-dark-3@2x.png 2x")
          p.bnf-number 03
          h4.h4-title.text-uppercase Перевіряємо медкнижки наших майстрів
          p.paragraph-text.text-w-light У кожного з наших майстрів є робоча медкнижка, де вони підтверджують своє здоров'я і безпеку для клієнтів. Майстри регулярно проходять медкомісію і оновлюють всі необхідні для косметологічної сфери огляди.
