section.section.service-laser-whatToDo.pt-0
  .container
    h2.h2-title.text-color-lightdark.text-center Як підготуватися до воскової депіляції
    .section-1
      .row
        .col-12.col-xl-5
          h3.todo-subtitle.text-color-dark.text-center.text-xl-right.mt-5.text-uppercase Як підготуватися
            span.light-span.text-uppercase
              |
              | до воскової депіляції
        .col-12.col-xl-5.offset-xl-2.d-none.d-xl-block
          h3.todo-subtitle.text-color-dark.text-xl-left.mt-5.text-uppercase Догляд після
            span.light-span.text-uppercase
              |
              | воскової депіляції
      .row.custom-row-height.d-flex.mb-5.mb-xl-0
        .col-xl-5.d-none.d-xl-flex.order-xl-3.custom-pt-text
          p.paragraph-text.text-color-dark.text-left.mb-0
            | Пару днів після процедури <b>не потрібно ходити до сауни, лазні, солярію</b>. Шкіра після воску повинна прийти в себе.
        .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-1.order-1.order-xl-2.order-1
        .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
          p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
            | Перед восковою депіляцією слід відростити волосся на потрібній зоні до потрібної довжини. Довжина волосся має бути <b>мінімум 0,5 мм</b>. Більш коротке волосся не піддається воску, тому важливо прийти на процедуру із потрібною довжиною.
      .row.custom-row-height.d-flex
        .col-xl-5.d-none.d-xl-flex.order-xl-3.custom-pt-text
          p.paragraph-text.text-color-dark.text-left.mb-0
            | У цей же період <b>не потрібно засмагати на сонці</b> і користуватися <b>автозагаром</b>.
        .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-2.order-1.order-xl-2.order-1
        .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
          p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
            | Спробувати <b>не травмувати шкірний покрив</b> на зоні депіляції. На шкірі не повинно бути ранок, саден, подряпин і інших пошкоджень.
      .row.custom-row-height.d-flex
        .col-xl-5.d-none.d-xl-flex.order-xl-3.custom-pt-text
          p.paragraph-text.text-color-dark.text-left.mb-0
            | Якщо шкіра здається вам сильно почервонілою або опухлою, намастить її <b>аптечним Пантенолом</b>. Як правило, так відбувається після першого в житті ваксингу. Через кілька процедур шкіра звикає і реагує на віск більш спокійно.
        .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-3.order-1.order-xl-2.order-1
        .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
          p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
            | Якщо хочете <b>знизити больові відчуття</b>, плануйте процедуру у перший тиждень після критичних днів. У цей час у вас збільшиться больовий поріг і процедура буде набагато терпиміше.
    .section-2.d-block.d-xl-none
      .row
        .col-12
          h3.todo-subtitle.text-color-dark.text-center.mt-5.text-uppercase Догляд після
            span.light-span.text-uppercase
              |
              | воскової депіляції
      .row.custom-row-height.d-flex
        .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-1.order-1.order-xl-2.order-1
        .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
          p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
            | Пару днів після процедури <b>не потрібно ходити до сауни, лазні, солярію</b>. Шкіра після воску повинна прийти в себе.
      .row.custom-row-height.d-flex
        .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-2.order-1.order-xl-2.order-1
        .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
          p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
            | У цей же період <b>не потрібно засмагати на сонці</b> і користуватися <b>автозагаром</b>.
      .row.custom-row-height.d-flex
        .col-4.col-sm-3.col-xl-2.d-flex.align-items-center.circle-3.order-1.order-xl-2.order-1
        .col-8.col-sm-9.col-xl-5.d-flex.custom-pt-text.order-xl-1.order-2
          p.paragraph-text.text-color-dark.text-left.text-xl-right.mb-0
            | Якщо шкіра здається вам сильно почервонілою або опухлою, намастить її <b>аптечним Пантенолом</b>. Як правило, так відбувається після першого в житті ваксингу. Через кілька процедур шкіра звикає і реагує на віск більш спокійно.
