section.section.service-three-boxes-waxing
  .container
    h2.h2-title.text-color-lightdark.text-center Воскова епіляція моє свої явні плюси
    .d-flex
      .c-three-box
        .img-position
          img.img-position-01.d-none.d-md-block(src="", alt="circle fether" srcset="assets/img/three-boxes/three-box-waxing-1@2x.png 2x")
          img.img-position-01.d-md-none.d-block(src="assets/img/three-boxes/three-box-nano-mob-1.png", alt="circle fether" srcset="assets/img/three-boxes/three-box-nano-mob-1@2x.png 2x")
        .c-desc
          p.bnf-number.text-color-lightdark 01
          h4.h4-title.text-color-lightdark.text-uppercase Немає подразнень і щетини
          p.paragraph-text.text-color-lightdark.text-w-light Після звичного видалення волосся станком для гоління різниця очевидна. На шкірі не з'являються подразнення і жорсткі волоски, зона депіляції не починає свербіти. Шкіра кілька тижнів залишається гладкою.
      .c-three-box
        .img-position
          img.img-position-02(src="", alt="circle fether" srcset="assets/img/three-boxes/three-box-waxing-2@2x.png 2x")
        .c-desc
          p.bnf-number.text-color-lightdark 02
          h4.h4-title.text-color-lightdark.text-uppercase Волосся стоншується і рідшає
          p.paragraph-text.text-color-lightdark.text-w-light Коли волосся починає відростати, воно робить це м'яко. Волоски більш тонкі і рідкі. Пропадає жорсткість і можливий свербіж. Якщо регулярно видаляти воском волосся в потрібній зоні, такий ефект буде розвиватися.
      .c-three-box
        .img-position
          img.img-position-03(src="", alt="circle fether" srcset="assets/img/three-boxes/three-box-waxing-3@2x.png 2x")
        .c-desc
          p.bnf-number.text-color-lightdark 03
          h4.h4-title.text-color-lightdark.text-uppercase Процедура проходить супер-швидко
          p.paragraph-text.text-color-lightdark.text-w-light Воскова депіляція максимально швидка у порівнянні з іншими салонними способами видалення волосся. Наприклад, цукрова паста робить ноги гладкими за півтори години. Воскова депіляція ніг проходить за 40 хвилин.
