.course-benefits
  .container
    .row.no-gutters
      h2.section-title-small.text-center На каждом курсе вы обязательно получаете
    .row.no-gutters.course-benefits-cnt
      .info-list-item.w-100.paragraph-text-dark До   
        span.f-bold 60 часов 
        | теории и практики
      .info-list-item.w-100.paragraph-text-dark До  
        span.f-bold 10 пациентов 
        | с разнообразной проблематикой стоп для практики
      .info-list-item.w-100.paragraph-text-dark 
        span.f-bold Блокнот и ручку 
        | для конспектов
      .info-list-item.w-100.paragraph-text-dark 
        span.f-bold Методические материалы 
        | по каждой лекции и список дополнительной литературы
      .info-list-item.w-100.paragraph-text-dark Необходимые для работы 
        span.f-bold инструменты, материалы и оборудование
      .info-list-item.w-100.paragraph-text-dark 
        span.f-bold Дезинфицирующие средства 
        | для кожи, инструментов и рабочих поверхностей
      .info-list-item.w-100.paragraph-text-dark 
        span.f-bold Космецевтические средства  
        | для ухода за стопой
      .info-list-item.w-100.paragraph-text-dark Специально разработанную 
        span.f-bold медицинскую форму
      .info-list-item.w-100.paragraph-text-dark 
        span.f-bold Полное сопровождение 
        | методиста во время практики и обратную связь
      .info-list-item.w-100.paragraph-text-dark 
        span.f-bold Сертификат 
        | об успешном окончании курса с количеством часов теории и практики
      .info-list-item.w-100.paragraph-text-dark Возможность пройти стажировку в центре здоровья ног Steffany и устроиться туда на 
        span.f-bold постоянную работу
      .course-price.d-flex.align-items-center Стоимость одного курса
        span.d-flex.justify-content-center.align-items-center 10 000 грн
      .callback-wrap.w-100
        a.btn-callback.btn-callback-simple.d-flex.align-items-center.justify-content-between.height-50.btn-callback-blue(href="#",  data-toggle='modal', data-target='#chooseDayCourse')
          span.d-flex.align-items-center.justify-content-between
            span Занять место
          svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
            style(type='text/css').
              .st0{fill:#D11111;}
            path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
            C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')