section.section.podology-services
  .container.feet-section
    .col-sm-12.col-lg-6.item.mb-4
      .c-content
        h3.dark-blue Подология
        a(href="#").button-forward
    .col-sm-12.col-lg-6.item.mb-4
      .c-content
        h3.dark-blue Вросший ноготь
        a(href="#").button-forward
    .col-sm-12.col-lg-6.item.mb-4
      .c-content
        h3.dark-blue Малая ортопедия
        a(href="#").button-forward
    .col-sm-12.col-lg-6.item.mb-4
      .c-content
        h3.dark-blue Другие услуги
        a(href="#").button-forward
