section.section.podology-faq
  +accordeon('Часто задаваемые вопросы', '',
    [
      {
        title: 'Вы лечите вросший ноготь?',
        body : 'Да, конечно! Лечением, коррекцией и удалением вросшего ногтя занимается раздел «Ортониксия». Переходите на страницу этих услуг, чтобы посмотреть детальную информацию и записаться на консультацию.'
      },
      {
        title: 'Вы делаете медицинский педикюр?',
        body : 'Конечно. Все детали по услуге медицинского педикюра вы найдете на странице «Профилактические услуги».'
      },
      {
        title: 'Вы работаете с диабетической стопой?',
        body : 'Обязательно! Информация по обработке диабетической стопы тоже находится на странице «Профилактические услуги». Перед процедурой мы измеряем ваш сахар в крови с помощью глюкометра, а также проводим 4 теста на чувствительность. Поэтому вы можете не переживать о безопасности процесса.'
      },
      {
        title: 'Вы лечите грибок ногтей и кожи?',
        body : 'Да, конечно. Сначала мы берем у вас анализы из пораженного грибком участка и сдаем его в лабораторию. Благодаря этому мы ставим точный диагноз и назначаем качественное лечение. Более детальная информация ждет вас на странице «Грибок и онихомикоз».'
      },
      {
        title: 'Вы убираете трещины на пятках?',
        body : 'Да, мы работаем с трещинами и убираем их. Смотрите все необходимые данные об этой процедуре на странице «Обработка трещин».'
      },
      {
        title: 'Вы делаете стельки? ',
        body : 'Мы изготавливаем стельки и другие ортопедические изделия после компьютерной диагностики стоп. По ее результатам проектируем стельку специально под ваши анатомические особенности.'
      }
    ], true, 0)
