section.section.podology-doctors
	background: url("../assets/img/background/podology-specialists.png") no-repeat
	background-size: cover
	@include media-breakpoint-down(sm)
		.slider-pad
			padding: 0
