.info-block.white-bg.info-block-9.info-block-9-2
  .container
    .row.d-flex.flex-column.flex-lg-row.align-items-center.justify-content-center.justify-content-lg-between.no-gutters
      .col-12.col-xl-6.d-none.d-xl-block.col-img.order-1
        img.w-100(src="./assets/img/infoblock/item-68.jpg", alt="item")
      .col-12.col-xl-6.col-info.order-2
        p.p-bold.pb-3 Как проходит европейский маникюр
        p.pb-3.thin-text Мастер отодвигает кутикулу с помощью апельсиновой палочки или пушера — специального инструмента. Затем он наносит на кутикулу косметическое средство — ремувер, которое размягчает кутикулу и делает ее податливой для дальнейшего удаления. После этого он очищает ногтевое ложе от остатков кутикулы.
        p.p-bold.pb-3 Сколько длится европейский маникюр
        p.pb-3.thin-text Процедура длится 20-30 минут
