.diploma	
	padding-top: 75px
	padding-bottom: 82px
	background: url('../assets/img/diploma/diploma-bg.jpg')
	background-repeat: no-repeat 
	background-size: cover
	background-position: top left
	@media(max-width: 767px)
		padding-top: 57px
		padding-bottom: 53px
		.section-title
			margin-bottom: 25px