.map
	padding-top: 65px
	padding-bottom: 51px
	@media(max-width: 1199px)
		padding-bottom: 33px
		.container
			padding-bottom: 0 !important
			border-bottom: 0
	@media(max-width: 767px)
		padding-top: 50px
.city-triggers-wrap
		margin-bottom: 62px
		@media(max-width: 1199px)
			margin-bottom: 13px
		.btn-simple	
			min-width: 107px
			height: 43px
			padding: 15px 22px !important
			@media(max-width: 767px)
				margin-bottom: 15px
.city-name
	margin-bottom: 31px !important
	font-size: 14px !important
	@media(max-width: 1199px)
		font-size: 13px !important
.contact-information
	margin-bottom: 30px
.map-callback
	.btn-callback
		max-width: 272px !important
		width: 100% !important
		background-size: 55px 100% !important
		padding: 15px 24px 15px 28px !important
.map-img
	max-width: 721px !important
	@media(max-width: 1199px)
		max-width: 100% !important
.map-cnt
	padding: 0 15px !important
