.map
	padding-top: 65px
	padding-bottom: 33px
	@media(max-width: 1199px)
		padding-top: 33px
		padding-bottom: 3px
		.container
			padding-bottom: 0 !important
			border-bottom: 0
	@media(max-width: 767px)
		padding-top: 50px
	.icon
		margin-right: 10px
		margin-top: -2px
		margin-left: 3px
		&.icon-loc
			margin-right: 13px
			@media(max-width: 767px)
				margin-left: 7px
				margin-right: 12px
.map-2
	padding-bottom: 0px
	@media(max-width: 767px)
		padding-top: 17px
		padding-bottom: 23px
	.container
		padding-bottom: 60px !important
		@media(max-width: 767px)
			padding-bottom: 0px
	.map-title-1
		padding-top: 16px
		@media(max-width: 767px)
			line-height: 24px
	.map-title-12
		@media(max-width: 767px)
			line-height: 24px
			margin-bottom: 17px !important
	.contact-information
		margin-bottom: 74px
		@media(max-width: 767px)
			margin-bottom: 40px
		.height-25
			&:not(:last-child)
				@media(max-width: 767px)
					margin-bottom: 19px !important
	form
		.field
			margin-bottom: 15px
			padding: 8px 20px
		textarea 
			height: 150px
		.btn-send
			@media(max-width: 767px)
				margin-left: auto !important
				margin-right: auto !important
	.map-cnt
		@media(min-width: 992px)
			padding-right: 22px !important
.contact
	padding-bottom: 39px
	.section-title
		@media(max-width: 767px)
			margin-bottom: 24px
	.container
		padding-bottom: 38px
		@media(max-width: 767px)
			padding-bottom: 0
	.contact-information
		margin-bottom: 38px
		@media(max-width: 767px)
			margin-bottom: 15px
		.height-25
			@media(max-width: 767px)
				margin-bottom: 19px !important
	.contact-title
		@media(max-width: 767px)
			margin-bottom:  7px
	.contact-title-s
		margin-top: 27px
		margin-bottom: 15px !important
	form
		padding-right: 15px
		.col-sm-5
			max-width: 203px
			@media(max-width: 767px)
				max-width: 100%
			.field
				margin-bottom: 17px !important
				padding: 8px 20px
		.col-sm-7
			@media(min-width: 767px)
				flex: auto
				max-width: 410px
			@media(max-width: 767px)
				max-width: 100%
			textarea.field
				height: 152px
		.btn-send
			@media(max-width: 767px)
				margin-top: 20px !important
				margin-left: auto !important
				margin-right: auto !important
.city-triggers-wrap
		margin-bottom: 62px
		@media(max-width: 1199px)
			margin-bottom: 13px
		.btn-simple	
			min-width: 107px
			height: 43px
			padding: 15px 22px !important
			@media(max-width: 767px)
				margin-bottom: 15px
.city-name
	margin-bottom: 33px !important
	font-size: 14px !important
	letter-spacing: -0.35px
	@media(max-width: 1199px)
		font-size: 13px !important
	@media(max-width: 767px)
		margin-bottom: 30px !important
.contact-information
	margin-bottom: 46px
	@media(max-width: 767px)
		margin-bottom: 32px
	.col-sm-6
		max-width: 217px
	.contact-information-item
		margin-bottom: 19px
		a
			letter-spacing: 0.5px
.map-callback
	.btn-callback
		max-width: 272px !important
		width: 100% !important
		background-size: 55px 100% !important
		padding: 15px 24px 15px 28px !important
.map-img
	max-width: 721px !important
	@media(max-width: 1199px)
		max-width: 100% !important
	img
		min-height: 334px
.map-cnt
	@media(max-width: 991px)
		padding: 0 15px !important
