section.section.faq
  .container
    +accordeon('Поширені запитання', 'Прочитайте питання наших пацієнтів, які цікавили їх перед приходом у центр здоров\'я ніг Steffany', [
      {
        title: 'Чому при регулярному педикюрі у мене суха шкіра на п\'ятах і з\'являються тріщини?',
        body: 'Така ситуація досить поширена. Ви повинні розуміти, що сухість на п\'ятах може виникати через найрізноманітніші причини, у тому числі внутрішні. Звичайний естетичний педикюр у салоні краси не працює з такими факторами. Тому краще приходьте до подолога, аби він визначив точну причину тріщин і призначив відповідне лікування.'
      },
      {
        title: 'Чому я регулярно зволожую шкіру п\'ят спеціальним кремом, але тріщини не йдуть?',
        body: 'Можливо, причина тріщин в вашому випадку — не сухість шкіри. Це може бути грибок або інші захворювання, наприклад, дисгідротична екзема. Також вам може не підходити склад крему, яким ви користуєтеся. Ви можете записатися на прийом до подолога і показати йому склад вашого засобу.'
      },
      {
        title: 'Які аналізи мені здати, щоб знайти причину сухості шкіри в організмі?',
        body: 'Вам не потрібно здавати аналізи перед прийомом подолога. Спеціаліст може призначити вам певний список аналізів лише в тому випадку, якщо побачить у цьому необхідність. Для початку можете просто прийти на консультацію.'
      },
      {
        title: 'Як зрозуміти, що у мене грибок, а не просто суха шкіра стоп?',
        body: 'Це вам скаже спеціаліст-подолог, коли проведе огляд. Самостійно досить складно поставити точний діагноз.'
      },
      {
        title: 'Я можу купити у вас засоби для домашнього догляду за шкірою стоп?',
        body: 'Так, звичайно. Наш подолог дасть вам рекомендації по домашньому догляду після процедури. Якщо ви захочете придбати один із наших засобів, можете зробити це прямо в центрі Steffany.'
      }
    ], true, 1)
