.breadcrumbs
	.separator
		margin:
			left: .5em
			right: .5em

	a
		text-decoration: none
		color: $text-color-dark
		@include font(Circe, 200, 14, 20)

		&:hover
			color: $text-color-dark
			text-decoration: none
