section.section.express-course
	background: url("../assets/img/background/legs.png") no-repeat center
	background-size: cover
	> p
		font-size: 22px
	> h2
		text-align: center
		color: $secondary-header-color
		@include font(Circe, bold, 28, 28)

	> h3
		@include font(Circe, bold, 20, 28)
	.list-section
		h2
			@include font(Circe, bold, 16, 19)
	.btn-callback
		width: 16em
		box-shadow: none


