.benefits.benefits-section
  .container
    .row.benefits-head
      h2.section-title.h-center.white-text Женщина должна быть счастливой
      .section-subtitle.h-center.white-text На этом убеждении в Steffany строится каждая мелочь
    .row.no-gutters
      .bnf.bnf-item-1.col-lg-6.col-sm-12.d-flex.align-items-start.justify-content-start.justify-content-sm-end.flex-column.flex-sm-wrap
        .bnf-img.bnf-img-1
          img.bnf-img-item-1(src="", srcset="./assets/img/bnf/item-211@2x.png 2x" alt="bnf-item")
          img.bnf-img-item-2(src="./assets/img/bnf/item-12.png", srcset="./assets/img/bnf/item-12@2x.png 2x" alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text.text-center.text-sm-left 01
          .bnf-title.white-text.text-center.text-sm-left Стерильно и безопасно
          p.white-text.thin-text.text-center.text-sm-left Наш девиз — «Ваша красота — наша профессия». Но в первую очередь мы заботимся о вашей безопасности. Поэтому все наши салоны оборудованы большими лабораториями дезинфекции и стерилизации. После каждого клиента инструменты проходят там тщательную обработку. Многие материалы для процедур одноразовые: съемные абразивы (пилочки), апельсиновые палочки, ватные диски и палочки, перчатки и маски для мастера
      .bnf.bnf-item-2.col-lg-6.col-sm-12.d-flex.align-items-start.justify-content-start.justify-content-sm-end.flex-column.flex-sm-wrap
        .bnf-img.bnf-img-2
          img.bnf-img-item-1(src="", srcset="./assets/img/bnf/item-22@2x.png 2x" alt="bnf-item")
          img.bnf-img-item-2(src="./assets/img/bnf/item-13.png", srcset="./assets/img/bnf/item-13@2x.png 2x" alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text.text-center.text-sm-left 02
          .bnf-title.white-text.text-center.text-sm-left Экономия времени
          p.white-text.thin-text.text-center.text-sm-left За один визит вы можете пройти все нужные услуги сразу и выполнить план бьюти-процедур на месяц вперед. Также у нас вы можете сделать маникюр и педикюр одновременно. Всего за 2 часа наши мастера параллельно обработают ваши ручки и ножки, чтобы сэкономить ваше время. Вам останется только следить, чтобы одна рука была свободна  — ей же нужно держать бокал шампанского
      .bnf.bnf-item-3.col-lg-6.col-sm-12.d-flex.align-items-start.justify-content-start.justify-content-sm-end.flex-column.flex-sm-wrap
        .bnf-img.bnf-img-3
          img.bnf-img-item-1(src="", srcset="./assets/img/bnf/item-23@2x.png 2x" alt="bnf-item")
          img.bnf-img-item-2(src="./assets/img/bnf/item-14.png", srcset="./assets/img/bnf/item-14@2x.png 2x" alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text.text-center.text-sm-left 03
          .bnf-title.white-text.text-center.text-sm-left Комфорт и отдых
          p.white-text.thin-text.text-center.text-sm-left Визит в салон красоты должен быть радостным событием на высшем уровне, а не очередной обязанностью. Переступив порог Steffany, вы можете наконец отдохнуть и расслабиться. Вас ждут шампанское, чай, кофе, свежие журналы и музыка. Каждый мастер постарается уловить ваше настроение. Нам важно ваше мнение о нас. Поэтому если вас что-либо будет беспокоить, смело говорите нам! Мы постараемся это исправить
      .bnf.bnf-item-4.col-lg-6.col-sm-12.d-flex.align-items-start.justify-content-start.justify-content-sm-end.flex-column.flex-sm-wrap
        .bnf-img.bnf-img-4
          img.bnf-img-item-1(src="", srcset="./assets/img/bnf/item-24@2x.png 2x" alt="bnf-item")
          img.bnf-img-item-2(src="./assets/img/bnf/item-15.png", srcset="./assets/img/bnf/item-15@2x.png 2x" alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text.text-center.text-sm-left 04
          .bnf-title.white-text.text-center.text-sm-left Сеть с разными направлениями
          p.white-text.thin-text.text-center.text-sm-left Кроме бьюти-услуг в сети Steffany есть другие центры красоты и здоровья: центры лазерной эпиляции и центр подологии. В них работают отличные мастера, в том числе дерматологи, подологи, массажисты. Бывают случаи, когда наши гости просят контакт хорошего специалиста. У нас таких контактов десятки! Мы с радостью посоветуем вам нужного мастера и поможем записаться
