.benefits
  .container
    .row
      .section-title.h-center.white-text Женщина должна быть счастливой
    .row
      .section-subtitle.h-center.white-text На этом убеждении в Steffany строится каждая мелочь 
    .row
      .col-lg-6.col-md-12.col-sm-12.mb-3.d-flex.align-items-start.justify-content-end
        .bnf-img
          img(src="./assets/img/bnf/item-1.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 01
          .bnf-title.white-text Стерильно и безопасно
          p.white-text.thin-text В нашем салоне красоты работает лаборатория стерилизации. В ней мы каждый день очищаем инструменты для разных процедур: ножницы для стрижек, инструменты для маникюра и педикюра, пинцеты для оформления бровей. Многие материалы для процедур одноразовые: съемные абразивы (пилочки) для маникюра и педикюра, апельсиновые палочки, ватные диски и палочки, перчатки и маски для мастера 
      .col-lg-6.col-md-12.col-sm-12.mb-3.d-flex.align-items-start.justify-content-end
        .bnf-img
          img(src="./assets/img/bnf/item-2.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 02
          .bnf-title.white-text Экономия времени
          p.white-text.thin-text За один визит вы можете пройти все нужные услуги сразу и выполнить план бьюти-процедур на месяц вперед. Также у нас вы можете сделать маникюр и педикюр одновременно. Всего за 2 часа наши мастера сделают параллельно обработают ваши ручки и ножки, чтобы сэкономить ваше время. Вам останется только следить, чтобы одна рука была свободна  — ей же нужно держать бокал шампанского 
      .col-lg-6.col-md-12.col-sm-12.mb-3.d-flex.align-items-start.justify-content-end
        .bnf-img
          img(src="./assets/img/bnf/item-3.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 03
          .bnf-title.white-text Комфорт и отдых
          p.white-text.thin-text Визит в салон красоты должен быть радостным событием на высшем уровне, а не очередной обязанностью. Переступив порог Steffany, вы можете наконец отдохнуть и расслабиться. Вас ждут шампанское, чай, кофе, свежие журналы и музыка. Каждый мастер постарается уловить ваше настроение. Говорите нам, что вас беспокоит в салоне — и мы постараемся это исправить 
      .col-lg-6.col-md-12.col-sm-12.mb-3.d-flex.align-items-start.justify-content-end
        .bnf-img
          img(src="./assets/img/bnf/item-4.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 04
          .bnf-title.white-text Сеть с разными направлениями
          p.white-text.thin-text Кроме бьюти-услуг в сети Steffany есть другие центры красоты и здоровья: центры лазерной эпиляции и центр подологии. В них работают отличные мастера, в том числе дерматологи, подологи, массажисты. Бывают случаи, когда наши гости просят контакт хорошего специалиста. У нас таких контактов десятки! Мы с радостью посоветуем вам нужного мастера и поможем записаться 