.info-block.info-block-2
  .container
    .row.d-flex.flex-column.flex-xl-row.align-items-center.align-items-xl-start.justify-content-center.justify-content-xl-start.no-gutters
      .col.col-info.order-1
        .info-list
          .info-list-item.mb-3.d-flex.align-items-start.justify-content-start
            .info-list-number.d-flex.align-items-center.justify-content-center
              span 03
            .info-list-cnt
              p.p-bold.thin-text.pb-3 Услуги для волос
              p Вы можете сделать стрижку и окрашивание любой сложности, разные спа-процедуры для вашего типа волос, перманентную завивку, вечерние и свадебные прически, накрутки и плетения 
          .info-list-item.mb-3.d-flex.align-items-start.justify-content-start
            .info-list-number.d-flex.align-items-center.justify-content-center
              span 04
            .info-list-cnt
              p.p-bold.thin-text.pb-3 Услуги для ногтей
              p Вас ждет покрытие гель-лаком или обычным лаком, все виды маникюра и педикюра, укрепление ногтевой пластины, наращивание ногтей гелем и полигелем, а также парафинотерапия для рук и стоп
          .info-list-item.mb-3.d-flex.align-items-start.justify-content-start
            .info-list-number.d-flex.align-items-center.justify-content-center
              span 05
            .info-list-cnt
              p.p-bold.thin-text.pb-3 Услуги для лица
              p Вы можете сделать у нас любой вид классического макияжа, моделирование, коррекцию, художественное оформление и ламинирование бровей, окрашивание бровей хной и краской, а также окрашивание ресниц краской. Просто записывайтесь на любую из них на удобное для вас время!
      .col.col-img.order-2
        img.w-100(src="./assets/img/infoblock/item-2.jpg", alt="item")
    span.big-text san