section.section.about-page-spa.info-block-about.info-block-about-1
  span.big-text.d-none.d-xl-block Colo
  .container
    .d-white-bg
      .c-desc
        h2.section-title Салон красоты в Житомире
        p.thin-text Привет! Мы — сеть центров красоты Steffany. Нам уже не терпится познакомиться с вами вживую. Так что приходите к нам, когда захотите сбежать от дел и обязанностей. В Steffany вы должны только одно — расслабиться и наслаждаться уходом за собой.
        p.p-bold.pad-el-50 Вот несколько предлогов заскочить к нам на бокал игристого:
      img.info-block-about-img(src="", srcset="./assets/img/infoblock/item-76@2x.jpg 2x", alt="item")
      .d-border
      span.big-text Colo
