.info-block-grid.grid-bg-1
  .container.p-0
    .row.no-gutters
      .row.no-gutters.w-100.grid-block.grid-block-2.grid-block-bigger
        .col-12.col-sm-6.grid-cnt.grid-cnt-big.grid-cnt-hover.d-flex.flex-column.justify-content-between
          .grid-titles
            .section-title
              | Маникюр <br/>
              | классический
            .proccess-info 200 - 350 грн
            p.thin-text.pb-5.pb-md-3 Наши мастера используют различные техники наращивания ногтей  и нанесения.
          .proccess-info.hidden-text.d-flex.align-items-center 
            span 35 минут
          a.btn-callback.btn-callback-white.d-flex.align-items-center.justify-content-between(href="#")
            span.d-flex.align-items-center.justify-content-between
              span записаться
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
              style(type='text/css').
                .st0{fill:#D11111;}
              path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
              C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
        .col-12.col-sm-6.grid-img.grid-img-big.grid-img-hover
          img.w-100(src="assets/img/infoblock/grid-item-1.jpg", alt="grid-item")
      .col-12.col-lg-4
        .row.no-gutters.w-100.grid-block.grid-block-2.grid-block-smaller.flex-row.flex-lg-column
          .col-12.col-sm-6.col-lg-12.grid-cnt.grid-cnt-small.grid-cnt-hover.d-flex.flex-column.justify-content-between
            .grid-number 01.
            .grid-titles
              .grid-title
                | Мужская  <br/>
                | стрижка
              .proccess-info 200 - 350 грн
            .proccess-info.hidden-text.d-flex.align-items-center 
              span 45 минут
            a.btn-callback.btn-callback-white.d-flex.align-items-center.justify-content-between(href="#")
              span.d-flex.align-items-center.justify-content-between
                span записаться
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
                style(type='text/css').
                  .st0{fill:#D11111;}
                path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
          .col-12.col-sm-6.col-lg-12.grid-img.grid-img-small.grid-img-hover
            img.w-100(src="assets/img/infoblock/grid-item-2.jpg", alt="grid-item")
      .col-12.col-lg-4
        .row.no-gutters.w-100.grid-block.grid-block-2.grid-block-smaller.flex-row.flex-lg-column
          .col-12.col-sm-6.col-lg-12.grid-img.grid-img-small.grid-img-hover
            img.w-100(src="assets/img/infoblock/grid-item-3.jpg", alt="grid-item")
          .col-12.col-sm-6.col-lg-12.grid-cnt.grid-cnt-small.grid-cnt-hover.d-flex.flex-column.justify-content-between
            .grid-number 02.
            .grid-titles
              .grid-title
                | Педикюр   <br/>
                | классический
              .proccess-info 300 - 350 грн
            .proccess-info.hidden-text.d-flex.align-items-center 
              span 15 минут
            a.btn-callback.btn-callback-white.d-flex.align-items-center.justify-content-between(href="#")
              span.d-flex.align-items-center.justify-content-between
                span записаться
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
                style(type='text/css').
                  .st0{fill:#D11111;}
                path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .col-12.col-lg-4
        .row.no-gutters.w-100.grid-block.grid-block-2.grid-block-smaller.flex-row.flex-lg-column
          .col-12.col-sm-6.col-lg-12.grid-cnt.grid-cnt-small.grid-cnt-hover.d-flex.flex-column.justify-content-between
            .grid-number 03.
            .grid-titles
              .grid-title
                | Прическа   <br/>
                | вечерняя
              .proccess-info 1200 - 1350 грн
            .proccess-info.hidden-text.d-flex.align-items-center 
              span 45 минут
            a.btn-callback.btn-callback-white.d-flex.align-items-center.justify-content-between(href="#")
              span.d-flex.align-items-center.justify-content-between
                span записаться
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
                style(type='text/css').
                  .st0{fill:#D11111;}
                path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
                C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
          .col-12.col-sm-6.col-lg-12.grid-img.grid-img-small.grid-img-hover
            img.w-100(src="assets/img/infoblock/grid-item-4.jpg", alt="grid-item")