.info-block.info-block-1
  .container
    .row.d-flex.flex-column.flex-lg-row.align-items-center.align-items-lg-start.justify-content-center.justify-content-lg-end.no-gutters
      .col.col-img.order-2
        img.w-100(src="./assets/img/infoblock/item-1.jpg", srcset="./assets/img/infoblock/item-1@2x.jpg 2x", alt="item")
      .col.col-info.order-1
        .border-el
          h2.section-title Салон красоты в Житомире
          p Привет! Мы — сеть центров красоты Steffany. Нам уже не терпится познакомиться с вами вживую. Приходите к нам, когда захотите сбежать от дел и обязанностей. В Steffany вы должны только одно — расслабиться и наслаждаться уходом за собой.
        p.p-bold.pt-50 Вот несколько предлогов заскочить к нам на бокал игристого:
    span.big-text Colo  