.service-list
  .row.m-0
    .col-12.col-lg-8.service-item.service-item-1.service-item-bigger.d-flex.flex-column.align-items-start.justify-content-between.bg-settings.order-1.order-lg-1(style="background: url('./assets/img/background/serviceList/item-1.jpg') ")
      .service-list-titles
        h2.section-title
          | Окрашивание и уход <br/>
          | за волосами
        p
          | Колорирование любой сложности и <br/>
          | спа-процедуры для волос
      a.button(id = "color", href="#",  data-toggle='modal', data-target='#appointmentModal') Записаться
    .col-sm-6.col-lg-4.service-item.service-item-2.d-flex.flex-column.align-items-start.justify-content-between.bg-settings.order-2.order-lg-1(style="background: url('./assets/img/background/serviceList/item-2.jpg') ")
      .service-list-titles
        h2.section-title Педикюр
        p Уход за ногтями и стопами
      a.button(id = "ped",href="./pedikur") подробнее
    .col-sm-6.col-lg-4.service-item.service-item-3.d-flex.flex-column.align-items-start.justify-content-between.bg-settings.order-3.order-lg-1(style="background: url('./assets/img/background/serviceList/item-3.jpg') ")
      .service-list-titles
        h2.section-title Маникюр
        p Любой вид маникюра
      .service-btn-wrap.d-flex.align-items-center.justify-content-start
        a.button(id = "man", href="#",  data-toggle='modal', data-target='#appointmentModal')
          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 12 12', style='enable-background:new 0 0 12 12;', xml:space='preserve')
            style(type='text/css').
              .st0{fill:#1B3EBF;}
            path.st0(d='M11.2,0.8c-1-1-2.7-1-3.7,0L0.6,7.6C0.6,7.7,0.5,7.8,0.5,7.8L0,11.6c0,0.1,0,0.2,0.1,0.3C0.2,12,0.3,12,0.3,12\
            c0,0,0,0,0,0l2.3-0.3c0.2,0,0.3-0.2,0.3-0.4c0-0.2-0.2-0.3-0.4-0.3l-1.8,0.2l0.4-2.6l2.8,2.8c0.1,0.1,0.2,0.1,0.2,0.1\
            c0.1,0,0.2,0,0.2-0.1l6.9-6.9C11.7,4,12,3.4,12,2.6C12,1.9,11.7,1.3,11.2,0.8z M7.6,1.6l1.2,1.2L2.5,9L1.3,7.9L7.6,1.6z M4.1,10.7\
            L3,9.5l6.3-6.3l1.1,1.1L4.1,10.7z M10.9,3.9L8.1,1.1c0.4-0.3,0.8-0.4,1.2-0.4c0.5,0,1,0.2,1.4,0.6c0.4,0.4,0.6,0.9,0.6,1.4\
            C11.3,3.1,11.2,3.5,10.9,3.9z')
        span 200 - 350 грн
    .col-sm-6.col-lg-4.service-item.service-item-4.d-flex.flex-column.align-items-start.justify-content-between.bg-settings.order-5.order-lg-1(style="background: url('./assets/img/background/serviceList/item-4.jpg') ")
      .service-list-titles
        h2.section-title
          | Стрижки и <br/>
          | прически
        p
          | Стрижки, укладки, накрутки, <br/>
          | плетения и прически
      .service-btn-wrap.d-flex.align-items-center.justify-content-start
        a.button(id = "cut", href="#",  data-toggle='modal', data-target='#appointmentModal')
          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 12 12', style='enable-background:new 0 0 12 12;', xml:space='preserve')
            style(type='text/css').
              .st0{fill:#1B3EBF;}
            path.st0(d='M11.2,0.8c-1-1-2.7-1-3.7,0L0.6,7.6C0.6,7.7,0.5,7.8,0.5,7.8L0,11.6c0,0.1,0,0.2,0.1,0.3C0.2,12,0.3,12,0.3,12\
            c0,0,0,0,0,0l2.3-0.3c0.2,0,0.3-0.2,0.3-0.4c0-0.2-0.2-0.3-0.4-0.3l-1.8,0.2l0.4-2.6l2.8,2.8c0.1,0.1,0.2,0.1,0.2,0.1\
            c0.1,0,0.2,0,0.2-0.1l6.9-6.9C11.7,4,12,3.4,12,2.6C12,1.9,11.7,1.3,11.2,0.8z M7.6,1.6l1.2,1.2L2.5,9L1.3,7.9L7.6,1.6z M4.1,10.7\
            L3,9.5l6.3-6.3l1.1,1.1L4.1,10.7z M10.9,3.9L8.1,1.1c0.4-0.3,0.8-0.4,1.2-0.4c0.5,0,1,0.2,1.4,0.6c0.4,0.4,0.6,0.9,0.6,1.4\
            C11.3,3.1,11.2,3.5,10.9,3.9z')
        span 200 - 350 грн
    .col-sm-6.col-lg-4.service-item.service-item-5.d-flex.flex-column.align-items-start.justify-content-between.bg-settings.order-5.order-lg-1(style="background: url('./assets/img/background/serviceList/item-5.jpg') ")
      .service-list-titles
        h2.section-title
          | Моделирование  <br/>
          | и окрашевания <br/>
          | бровей
        p
          | Оформление, коррекция и <br/>
          | ламинирование бровей, <br/>
          | окрашивание бровей и ресниц
      .service-btn-wrap.d-flex.align-items-center.justify-content-start
        a.button(id = "brows", href="#",  data-toggle='modal', data-target='#appointmentModal')
          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 12 12', style='enable-background:new 0 0 12 12;', xml:space='preserve')
            style(type='text/css').
              .st0{fill:#1B3EBF;}
            path.st0(d='M11.2,0.8c-1-1-2.7-1-3.7,0L0.6,7.6C0.6,7.7,0.5,7.8,0.5,7.8L0,11.6c0,0.1,0,0.2,0.1,0.3C0.2,12,0.3,12,0.3,12\
            c0,0,0,0,0,0l2.3-0.3c0.2,0,0.3-0.2,0.3-0.4c0-0.2-0.2-0.3-0.4-0.3l-1.8,0.2l0.4-2.6l2.8,2.8c0.1,0.1,0.2,0.1,0.2,0.1\
            c0.1,0,0.2,0,0.2-0.1l6.9-6.9C11.7,4,12,3.4,12,2.6C12,1.9,11.7,1.3,11.2,0.8z M7.6,1.6l1.2,1.2L2.5,9L1.3,7.9L7.6,1.6z M4.1,10.7\
            L3,9.5l6.3-6.3l1.1,1.1L4.1,10.7z M10.9,3.9L8.1,1.1c0.4-0.3,0.8-0.4,1.2-0.4c0.5,0,1,0.2,1.4,0.6c0.4,0.4,0.6,0.9,0.6,1.4\
            C11.3,3.1,11.2,3.5,10.9,3.9z')
        span от 150 грн
