.benefits
  .container
    .row
      .col-lg-6.col-md-12.col-sm-12.mb-3.d-flex.align-items-start.justify-content-end
        .bnf-img
          img(src="./assets/img/bnf/item-1.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 01
          .bnf-title.white-text Экономим ваше время
          p.white-text.thin-text Конечно, было бы замечательно круглосуточно зависать в салоне. Но мы понимаем вашу занятость и стараемся экономить ваше время. Поэтому у нас вы можете сделать маникюр и педикюр одновременно — в 4 руки. Также в центре бьюти находится много мастеров разных направлений, они работают рядом. Вы можете записаться заранее сразу на несколько процедур, к примеру, на ногти и волосы. Чтобы решить все дела за один визит.
      .col-lg-6.col-md-12.col-sm-12.mb-3.d-flex.align-items-start.justify-content-end
        .bnf-img
          img(src="./assets/img/bnf/item-2.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 02
          .bnf-title.white-text Заботимся о вашем здоровье
          p.white-text.thin-text У нас в салоне есть отдельная лаборатория стерилизации. Она оборудована специально для того, чтобы содержать в чистоте и стерильности инструменты для маникюра, педикюра, процедур для бровей. Также наши мастера подстраиваются под вас, если у вас есть аллергические реакции на определенные компоненты. Сообщите о своих опасениях мастеру: он проведет тест средства на маленьком участке кожи или заменит его на другое. 
      .col-lg-6.col-md-12.col-sm-12.mb-3.d-flex.align-items-start.justify-content-end
        .bnf-img
          img(src="./assets/img/bnf/item-3.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 03
          .bnf-title.white-text Проверяем услуги на себе
          p.white-text.thin-text Перед тем, как ввести новую процедуру и предложить ее вам, мы проверяем ее на себе. Хорошо, что у нас большая сеть. Одни мастера становятся клиентами других мастеров и смотрят, как им новые процедуры по уходу за волосами, окрашиванию, уходу за бровями, спа для рук и ног. Каждый мастер высказывает свое мнение, сообщает о результате. Если наша фокус-группа одобряет новую услугу, мы добавляем ее в постоянный перечень и приглашаем вас. 
      .col-lg-6.col-md-12.col-sm-12.mb-3.d-flex.align-items-start.justify-content-end
        .bnf-img
          img(src="./assets/img/bnf/item-4.png", alt="bnf-item")
        .bnf-cnt
          .bnf-number.white-text 04
          .bnf-title.white-text Даем вам расслабиться и отдохнуть
          p.white-text.thin-text «Красота требует жертв» — это не наша философия. Нам важно, чтобы поход в салон стал событием. Поэтому мы делаем все, чтобы вы расслабились: предлагаем напитки (в том числе шампанское!), включаем музыку и любимые фильмы. Каждый мастер старается уловить ваше настроение, чтобы развлечь беседой или наоборот промолчать и дать отдохнуть. Чувствуйте себя как дома! Только без дел и обязанностей.