.breadcrumb-blk
  .container.container-m
    .row.no-gutters
      nav(aria-label="breadcrumb")
        ol(class="breadcrumb").p-0.no-bg
          li.breadcrumb-item
            a(href="#") Главная
          li.breadcrumb-item
            a(href="#") О нас
          li.breadcrumb-item.active(aria-current="page") Про Steffany