.doploma.py-5
  .container
    .row.no-gutters
      .section-title.h-center.mb-50.white-text Дипломы и сертификаты
    .row.no-gutters
      //- #diplomaIndicators.carousel.slide(data-ride='carousel')
      //-   ol.carousel-indicators
      //-     li.active(data-target='#diplomaIndicators', data-slide-to='0')
      //-     li(data-target='#diplomaIndicators', data-slide-to='1')
      //-     li(data-target='#diplomaIndicators', data-slide-to='2')
      //-     li(data-target='#diplomaIndicators', data-slide-to='3')
      //-     li(data-target='#diplomaIndicators', data-slide-to='4')
      //-   .carousel-inner
      //-     a.carousel-item.active(data-fancybox="" href="assets/img/diploma/diploma-1.jpg")
      //-       img.d-block(src='assets/img/diploma/diploma-1.jpg', alt='diploma')
      //-     a.carousel-item(data-fancybox="" href="assets/img/diploma/diploma-2.jpg")
      //-       img.d-block(src='assets/img/diploma/diploma-2.jpg', alt='diploma')
      //-     a.carousel-item(data-fancybox="" href="assets/img/diploma/diploma-3.jpg")
      //-       img.d-block(src='assets/img/diploma/diploma-3.jpg', alt='diploma')
      //-     a.carousel-item(data-fancybox="" href="assets/img/diploma/diploma-3.jpg")
      //-       img.d-block(src='assets/img/diploma/diploma-3.jpg', alt='diploma')
      //-     a.carousel-item(data-fancybox="" href="assets/img/diploma/diploma-3.jpg")
      //-       img.d-block(src='assets/img/diploma/diploma-3.jpg', alt='diploma')\
//- .container-fluid
//-   #carouselExample.carousel.slide(data-ride='carousel', data-interval='9000')
//-     .carousel-inner.row.w-100.mx-auto(role='listbox')
//-       .carousel-item.col-md-3.active
//-         img.img-fluid.mx-auto.d-block(src='//placehold.it/600x400/000/fff?text=1', alt='slide 1')
//-       .carousel-item.col-md-3
//-         img.img-fluid.mx-auto.d-block(src='//placehold.it/600x400?text=2', alt='slide 2')
//-       .carousel-item.col-md-3
//-         img.img-fluid.mx-auto.d-block(src='//placehold.it/600x400?text=3', alt='slide 3')
//-       .carousel-item.col-md-3
//-         img.img-fluid.mx-auto.d-block(src='//placehold.it/600x400?text=4', alt='slide 4')
//-       .carousel-item.col-md-3
//-         img.img-fluid.mx-auto.d-block(src='//placehold.it/600x400?text=5', alt='slide 5')
//-       .carousel-item.col-md-3
//-         img.img-fluid.mx-auto.d-block(src='//placehold.it/600x400?text=6', alt='slide 6')
//-       .carousel-item.col-md-3
//-         img.img-fluid.mx-auto.d-block(src='//placehold.it/600x400?text=7', alt='slide 7')
//-       .carousel-item.col-md-3
//-         img.img-fluid.mx-auto.d-block(src='//placehold.it/600x400?text=8', alt='slide 7')
//-     a.carousel-control-prev(href='#carouselExample', role='button', data-slide='prev')
//-       i.fa.fa-chevron-left.fa-lg.text-muted
//-       span.sr-only Previous
//-     a.carousel-control-next.text-faded(href='#carouselExample', role='button', data-slide='next')
//-       i.fa.fa-chevron-right.fa-lg.text-muted
//-       span.sr-only Next
  