.doploma.py-5
  .container
    .row.no-gutters
      .h-title.h-center.mb-50.white-text Дипломы и сертификаты
    .row.no-gutters
      #diplomaIndicators.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#diplomaIndicators', data-slide-to='0')
          li(data-target='#diplomaIndicators', data-slide-to='1')
          li(data-target='#diplomaIndicators', data-slide-to='2')
          li(data-target='#diplomaIndicators', data-slide-to='3')
          li(data-target='#diplomaIndicators', data-slide-to='4')
        .carousel-inner
          a.carousel-item.active(data-fancybox="" href="assets/img/diploma/diploma-1.jpg")
            img.d-block(src='assets/img/diploma/diploma-1.jpg', alt='diploma')
          a.carousel-item(data-fancybox="" href="assets/img/diploma/diploma-2.jpg")
            img.d-block(src='assets/img/diploma/diploma-2.jpg', alt='diploma')
          a.carousel-item(data-fancybox="" href="assets/img/diploma/diploma-3.jpg")
            img.d-block(src='assets/img/diploma/diploma-3.jpg', alt='diploma')
          a.carousel-item(data-fancybox="" href="assets/img/diploma/diploma-3.jpg")
            img.d-block(src='assets/img/diploma/diploma-3.jpg', alt='diploma')
          a.carousel-item(data-fancybox="" href="assets/img/diploma/diploma-3.jpg")
            img.d-block(src='assets/img/diploma/diploma-3.jpg', alt='diploma')
