.info-block.info-block-2
  .container
    .row
      .col.col-info
        .info-list
          .info-list-item
            .info-list-number
              span 03
            .info-list-cnt
              p.p-bold Услуги для волос
              p Вы можете сделать стрижку и окрашивание любой сложности, разные спа-процедуры для вашего типа волос, перманентную завивку, вечерние и свадебные прически, накрутки и плетения 
          .info-list-item
            .info-list-number
              span 04
            .info-list-cnt
              p.p-bold Услуги для ногтей
              p Вас ждет покрытие гель-лаком или обычным лаком, все виды маникюра и педикюра, укрепление ногтевой пластины, наращивание ногтей гелем и полигелем, а также парафинотерапия для рук и стоп
          .info-list-item
            .info-list-number
              span 05
            .info-list-cnt
              p.p-bold Услуги для лица
              p Вы можете сделать у нас любой вид классического макияжа, моделирование, коррекцию, художественное оформление и ламинирование бровей, окрашивание бровей хной и краской, а также окрашивание ресниц краской. Просто записывайтесь на любую из них на удобное для вас время!
      .col.col-img
        img(src="./assets/img/infoblock/item-2.jpg", alt="item")
    span.big-text san