.info-block-grid.grid-bg-1
  .container.p-0
    .row.no-gutters
      .col-md-6.col-sm-12.grid-cnt.order-sm-1
        .h-title 
          | Маникюр <br/>
          | классический
        .proccess-info 200 - 350 грн
          span 35 минут
        p 
          | Наши мастера используют <br/>
          | различные техники наращивания <br/>
          | ногтей  и нанесения.
        a.btn-callback.d-flex.align-items-center.justify-content-between(href="#")
          span.d-flex.align-items-center.justify-content-between
            span записаться
          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
            style(type='text/css').
              .st0{fill:#D11111;}
            path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
            C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .col-md-6.col-sm-12.grid-img.order-sm-2
        img(src="assets/img/infoblock/grid-item-1.jpg", alt="grid-item")
      .col-md-4.col-sm-12.grid-cnt.grid-purple.grid-cnt-1.order-sm-3
        .grid-number.white-text 01.
        .grid-title.white-text
          | Мужская <br/>
          | стрижка
        .proccess-info 200 - 350 грн
        a.btn-callback.d-flex.align-items-center.justify-content-between.btn-callback-white(href="#")
          span.d-flex.align-items-center.justify-content-between
            span записаться
          svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 11 8', style='enable-background:new 0 0 11 8;', xml:space='preserve')
            style(type='text/css').
              .st0{fill:#D11111;}
            path.st0(d='M10.4,4.4c0.2-0.2,0.2-0.5,0-0.7L7.2,0.5C7,0.3,6.7,0.3,6.5,0.5C6.3,0.7,6.3,1,6.5,1.2L9.3,4L6.5,6.8\
            C6.3,7,6.3,7.3,6.5,7.5c0.2,0.2,0.5,0.2,0.7,0L10.4,4.4z M0,4.5h10v-1H0V4.5z')
      .col-md-4.col-sm-12.grid-img.order-sm-4
        img(src="assets/img/infoblock/grid-item-2.jpg", alt="grid-item")
      .col-md-4.col-sm-12.grid-cnt.grid-cnt-2.order-sm-7
        .grid-number 03.
        .grid-title
          | Прическа <br/>
          | вечерняя
        .proccess-info 1200 - 1350 грн
        .proccess-info
          span 45 минут
      .col-md-4.col-sm-12.grid-img.order-sm-6
        img(src="assets/img/infoblock/grid-item-3.jpg", alt="grid-item")
      .col-md-4.col-sm-12.grid-cnt.grid-cnt-3.order-sm-5
        .grid-number 02.
        .grid-title
          | Педикюр <br/>
          | классический
        .proccess-info 300 - 350 грн
        .proccess-info
          span 15 минут
      .col-md-4.col-sm-12.grid-img.order-sm-8
        img(src="assets/img/infoblock/grid-item-4.jpg", alt="grid-item")