section.section.about-page-section-nano
  //overflow: visible
  padding-top: 87px
  background-color: #9FA6BA
  @include media-breakpoint-down(lg)
    padding-top: 66px
  @include media-breakpoint-down(sm)
    padding-top: 46px
  .extralarge-text-bg
    bottom: 46px
    left: 522px

  .c-content
    padding-top: 62px
    max-width: 533px
    margin-left: auto
    @include media-breakpoint-down(lg)
      padding-top: 0
      max-width: 100%
  .d-line
    background: rgba(255, 255, 255, 0.26)
  .white-block-design
    margin-left: auto
    width: 504px
    height: 423px
    @include media-breakpoint-down(lg)
      width: 418px
      height: 440px
      margin-top: 42px
    @include media-breakpoint-down(sm)
      width: 224px
      height: 236px
      margin-top: 32px
    .extralarge-text-bg
      position: absolute
      bottom: 12px
      left: -82px
      @include media-breakpoint-down(lg)
        bottom: 46px
        left: -118px
      @include media-breakpoint-down(sm)
        bottom: 18px
        left: -60px
    img
      top: 67px
      right: 72px
      box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.13)
      @include media-breakpoint-down(lg)
        top: 48px
        right: 50px
        width: 477px
        height: 311px
      @include media-breakpoint-down(xs)
        top: 29px
        right: 26px
        width: 256px
        height: 166px

