section.section.block-answer-before-nano
  overflow: visible
  background-color: #A9A8C6
  padding-top: 92px
  padding-bottom: 87px
  @include media-breakpoint-down(lg)
    padding-top: 0px
    padding-bottom: 91px
  @include media-breakpoint-down(xs)
    padding-bottom: 82px
  .container
    .c-content
      max-width: 533px
    .d-line
      background: rgba(255, 255, 255, 0.39)

    img
      width: 100%
      max-width: 540px
      max-height: 510px
      box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.13)
      margin-top: 20px
      @include media-breakpoint-down(lg)
        margin-top: -60px
      @include media-breakpoint-down(xs)
  .custom-icon-number
    background-color: #4D5259

