section.section-services.container-fluid.py-0.ort-treatment
  .row.no-gutters.section-bg-dark.section-services-treatment-row-padding
    .container
      .row
        .col
          h3.section-title.text-color-light.mb-4.text-center.text-w-bold.extra-h3 Для діагностики стоп ми використовуємо спеціальну апаратуру
          p.paragraph-text-light.text-center.mb-3.extra-crutch-header Щоб підібрати вам правильний ортопедичний виріб, спочатку ви проходите діагностику стоп на апаратах, які оцінюють стан вашого опорно-рухового апарату
    .container
      .row.no-gutters.mx-auto.justify-content-between
        .col-12.col-lg-6.ort-block.ort-block-1.pr-0.pr-lg-2
          img.ort-cnt.mb-0(src="assets/img/orthopedics/feet-icon-1.png", srcset="assets/img/orthopedics/feet-icon-1@2x.png 2x")
          p.paragraph-text-bold.ort-title
            span.ort-cnt.text-white Подоскоп
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Що це
            | Спеціальна платформа, яка дозволяє оцінити стопи в положенні стоячи — у статиці
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Для чого:
            | Завдяки подоскопу можна побачити патологічні зміни стопи в статичному положенні, виміряти норми, виконати функціональні тести і завдяки цьому дати оцінку загальному стану стоп і всієї нижньої кінцівки пацієнта
          p.paragraph-text-bold.ort-cnt Як працює:
          ul.p-0.m-0.ort-cnt
            li.paragraph-text-light 1. Ви встаєте на поверхню подоскопа.
            li.paragraph-text-light 2. Підсвічені відбитки підошов відображаються у дзеркалі під поверхнею, на якій ви стоїте.
            li.paragraph-text-light 3. Спеціаліст-подолог оцінює отримані
        .col-12.col-lg-6.ort-block.ort-block-2
          img.ort-cnt.mb-0(src="assets/img/orthopedics/feet-icon-2.png", srcset="assets/img/orthopedics/feet-icon-2@2x.png 2x")
          p.paragraph-text-bold.ort-title
            span.ort-cnt.text-white Педобарограф
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Що це:
            | Платформа, яка дозволяє оцінити положення стоп при ходьбі — в динаміці
          p.paragraph-text-light.ort-cnt
            span.paragraph-text-bold Для чого:
            | На педобарографі можна оцінити біомеханіку ходьби — подивитися, як весь опорно-руховий апарат поводиться при ходьбі, і дати точну оцінку статичним і динамічним порушенням стопи і опорно-рухового апарату
          p.paragraph-text-bold.ort-cnt Як працює:
          ul.p-0.m-0.ort-cnt
            li.paragraph-text-light 1. Ви встаєте на мат і починаєте йти у своїй звичній манері.
            li.paragraph-text-light 2. На комп'ютері відбивається схема вашої ходьби.
            li.paragraph-text-light 3. Спеціаліст оцінює стан ваших стоп при ходьбі.
.blue-block
  .container
    .row
      p.paragraph-text-bold.text-center.mx-0.mx-md-auto.mb-0.extra-crutch-2 Після діагностики спеціаліст аналізує результати діагностики і підбирає вам індивідуальний ортопедичний виріб, який відповідає вашим анатомічним особливостям.
