section.section-services.wart-symptoms.orthopedics-symptoms
  .container
    .row
      .col-12.col-lg-6.order-1.order-lg-1
        h3.section-title.mb-4.text-w-bold Чим небезпечна деформація стопи
        p.paragraph-text-light.text-dark-1 Зміни у формі стоп — це процеси, які тягнуть за собою небезпечні наслідки. Давайте розберемо, які саме.
        p.paragraph-text-bold.text-dark-1 Навантаження на стопи
        p.paragraph-text-light.text-dark-1 Коли ваші стопи з якоїсь причини деформуються, ви по-іншому починаєте ставити їх при ходьбі або бігу. Навантаження нерівномірно розподіляється по поверхні стоп. У результаті якісь зони терплять сильний тиск або тертя. Через це можуть регулярно вростати нігті і через це боліти. Також один за одним можуть з'являтися мозолі і натоптиші, які теж приносять больові відчуття.
        p.paragraph-text-bold.text-dark-1 Навантаження на хребет
        p.paragraph-text-light.text-dark-1 Стопа — частина опорно-рухового апарату. Її неправильне положення не залишається проблемою тільки нижньої частини ноги. Воно зачіпає гомілки, коліна, таз і весь хребет в цілому. Чим довше ви ігноруєте очевидні симптоми і терпите біль, тим серйозніше пошкоджується хребет.
        p.paragraph-text-light.text-dark-1 Тому допомагати своїм стопам і організму треба якомога швидше. І зробити це можна за рахунок ортопедичних виробів.
      .col-12.col-lg-6.order-2.order-lg-2
        img.w-100.shadow(src="assets/img/services-warts/feet-2.png")
section.section-services.wart-symptoms.orthopedics-symptoms
  .container
    .row.align-items-center
      .col-12.col-lg-6.order-2.order-lg-1
        img.w-100.shadow(src="assets/img/orthopedics/feet-ort-symp.jpg", srcset="assets/img/orthopedics/feet-ort-symp@2x.jpg 2x")
      .col-12.col-lg-6.order-1.order-lg-2
        h3.section-title.mb-4.text-w-bold Що робити, якщо у вас плоскостопість
        p.paragraph-text-light.text-dark-1 Багато людей із дитячого садку впевнені у тому, що у них плоскостопість. Вони несуть цей «діагноз» все життя. Однак 97% із таких володарів плоскостопості насправді помиляються. Їх деформація називається «плоско-вальгусна стопа» — коли обидва склепіння стопи знижуються і її вісь викривляється. При такому діагнозі кістки і суглоби тільки зміщуються.
        p.paragraph-text-light.text-dark-1 Із реальною плоскостопістю живуть 3% тих, хто заявляє про свій діагноз. У такому випадку їхні кістки вже зрослися в цьому положенні. Мала ортопедія не може працювати із плоскостопістю — це вже завдання ортопеда. Однак при плоско-вальгусній стопі мала ортопедія та ортоподологія в силах скоригувати положення стопи. У таких випадках можна і потрібно швидше братися за лікування.
