section.section-services.symptoms-container.symptoms-blk
  .row.no-gutters
    .container
      .row.no-gutters.section-services-treatment-row-padding
        .col-12
          h3.section-title.text-color-light.mb-4.text-center.text-w-bold.extra-h3 Як зрозуміти, що у вас деформується стопа
          p.paragraph-text-light.text-left.text-lg-center.extra-padding-10r Ортоподологія коректує положення стоп за допомогою індивідуально виготовлених коректорів і устілок. Це безопераційне лікування, яке покращує стан стопи на початкових і більш пізніх етапах деформацій.
          p.paragraph-text-light.text-left.text-lg-center.extra-padding-10r Користуватися послугами малої ортопедії потрібно в тому випадку, коли кістки, суглоби і м'язи ще не остаточно закріпилися в неправильному положенні. Тому відстежуйте найменші симптоми у ваших ногах, аби вчасно виправити ситуацію.
          p.paragraph-text-bold.text-left.text-lg-center Ноги сигналізують про деформації різними способами:
      .row
        .col-12.col-md-6
          ul.list-blue-bullets.paragraph-text-light
            li.mb-3.white-text постійно вростає ніготь;
            li.mb-3.white-text на одному й тому ж місці утворюється мозоль;
            li.mb-3.white-text болить плюсна (передня частина стопи), до кінця дня неможливо ходити через відчуття синця на підошві;
            li.mb-3.white-text ви часто і без видимої причини підвертаєте ноги, і зміна взуття не допомагає;
            li.mb-3.white-text у вас шишка на п'яті в районі задника взуття;
            li.mb-3.white-text болить п'ята, ви стукаєте п'ятою при ходьбі або у вас є шпора — внутрішній шип;
            li.mb-3.white-text болить одне або обидва коліна;
            li.mb-3.white-text болять пальці стопи;
            li.mb-3.white-text росте кісточка;
            li.white-text неможливо ходити на підборах;
        .col-12.col-md-6
          ul.list-blue-bullets.paragraph-text-light
            li.mb-3.white-text не можете ходити без каблуків, тягне ахіллове сухожилля, болить п'ята, некомфортно ставати на ноги;
            li.mb-3.white-text вагітність, набряки ніг;
            li.mb-3.white-text діабет;
            li.mb-3.white-text судоми, тяжкість в ногах;
            li.mb-3.white-text печуть стопи;
            li.mb-3.white-text ви відновлюєтеся після операції на суглобах ніг;
            li.mb-3.white-text нога перестала поміщатися у взуття або болить всередині взуття;
            li.mb-3.white-text біль між 3 і 4 пальцями стопи
            li.mb-3.white-text ви займаєтеся спортом і постійно навантажуєте стопи бігом, стрибками;
            li.mb-3.white-text ви носите берци;
            li.mb-3.white-text ви довго стоїте і у вас болить хребет;
            li.white-text другий палець довший за перший
      p.paragraph-text-bold.text-left.text-lg-center.mt-3 Навіть один із цих симптомів повинен стати приводом зайнятися здоров'ям своїх ніг і звернутися до подолога
