section.section-services.lightblue-bg
  .container.circles-bg
    .row
      .col.d-flex.flex-column.align-items-center.section-service-block.mx-auto
        h3.section-title.mb-4.text-dark-1.text-center.text-w-bold.extra-h3 Послуги малої ортопедії
        .services-treatment-divider.mb-4
        p.paragraph-text.text-dark-1.text-center.mb-4.mb-md-5.p-2.p-lg-5.w-200 Мала ортопедія виконує важливу функцію — розвантажує проблемні зони стоп за допомогою ортопедичних виробів. Устілки та коректори підтримують стопи і пальці ніг у правильному положенні і повертають підошви в здорове положення. Спеціаліст-подолог підбере вам потрібний виріб, коли проведе огляд і діагностику.
        .separator(style="border-bottom: 1px solid rgba(125, 137, 158, 0.39)").w-100.mb-5
        .row.mt-md-4.mb-5
          .col-12.col-md-6.px-4
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Консультація
              p.paragraph-text.text-dark-1.w-200 Спеціаліст-подолог проводить огляд ваших стоп, дізнається необхідну інформацію про навантаження і спосіб життя, а потім діагностує стопи в положенні стоячи і під час ходьби за допомогою спеціальних апаратів
            .paragraph-container
              h4.paragraph-title Кінезіотейпування при м'язових болях (за одну одиницю тейпу)
              p.paragraph-text.text-dark-1.w-200 Спеціаліст-подолог фіксує тейпом (клейкою стрічкою) ваші стопи і гомілки у певному положенні, аби зняти навантаження із перенапружених м'язів стопи і гомілки.
            .paragraph-container
              h4.paragraph-title Виготовлення індивідуальних розвантажувальних устілок
              p.paragraph-text.text-dark-1.w-200 Устілки виготовляються після діагностики. Вони знімають больові симптоми і допомагають при лікуванні мозолів, п'яткової шпори, фасциіту, сезамоідіту, бурситу та інших больових синдромів стопи. Устілки рекомендовані для щоденного носіння людям, що зазнають навантаження на стопи
          .col-12.col-md-6.px-4
            .paragraph-container.mb-5
              h4.paragraph-title.mb-3 Виготовлення ортеза за 1 грам
              p.paragraph-text.text-dark-1.w-200 Спеціаліст-подолог виготовляє і встановлює для вас індивідуальний гелевий коректор пальців, аби повернути пальці в анатомічно здорове положення.
            .paragraph-container
              h4.paragraph-title Індивідуальні коригувальні устілки
              p.paragraph-text.text-dark-1.w-200 Індивідуальні коригувальні устілки — засіб ефективної терапії деформацій нижніх кінцівок. Виготовляються за результатами комп'ютерної діагностики
            .paragraph-container
              h4.paragraph-title Комп'ютерна діагностика стоп і біомеханіки ходьб
              p.paragraph-text.text-dark-1.w-200 Комплексний аналіз статики і динаміки ходьби пацієнта з консультацією спеціаліста і видачею результатів на руки
        .container-fluid.d-flex.flex-column.align-items-center
          .row.prices-container.mb-4

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Первинна консультація подолога (з 1 січня 2020 р)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 150 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 хв

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Виготовлення ортоза (за 1 г)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 50 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 30 хв

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Кінезіотейпування   (за 1 од. тейпу)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 15 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 1 година

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Виготовлення розвантажувальної устілки Повне розвантаження (пара)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 800 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 1 година

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Компьютерна діагностика стопи в динамиці і статиці
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 400 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 40 хв

            .row.px-4.container-fluid
              .col-12.col-md-8.p-0.pr-5
                p.treatment-service-name.mb-1 Медичний акрилат (повний протез)
              .col-4.col-md-2.p-0
                p.treatment-price.text-right 350 грн
              .col-4.col-md-2.p-0
                p.treatment-duration.text-right 45 хв


          .services-btn-container
            +btnPen('записатись')(data-toggle='modal', data-target='#callbackModal')
