extends ../layout/main

block content
  include ../sections/breadcrumps.pug
  include ../sections/aboutInfo.pug
  include ../sections/benefitsSteffany.pug
  include ../sections/diploma.pug
  include ../sections/specialists.pug
  include ../sections/map.pug