extends ../layout/main

block content
  include ../sections/breadcrumps/breadcrumpsAbout.pug
  include ../sections/aboutPage/aboutInfo.pug
  include ../sections/aboutPage/benefitsSteffany.pug
  include ../sections/aboutPage/diploma.pug
  include ../sections/aboutPage/map.pug