extends ../layout/main

block content
  include ../sections/podology/courseInfo.pug
  include ../sections/podology/daysAccardion.pug
  include ../sections/podology/metodists.pug
  include ../sections/podology/courseBenefits.pug
  include ../sections/podology/modal.pug