extends ../layout/main

block content
  include ../sections/breadcrumps/breadcrumpsSalon.pug
  include ../sections/aboutSalonInfo.pug
  include ../sections/specialists.pug
  include ../sections/mapForm.pug