extends ../layout/main

block content
  include ../sections/breadcrumps/breadcrumpsSalon.pug
  include ../sections/salonPage/aboutSalonInfo.pug
  include ../sections/salonPage/specialists.pug
  include ../sections/salonPage/mapForm.pug