extends ../layout/main

block content
  include ../sections/serviceMakeup/serviceInfoBlock.pug
  include ../sections/serviceMakeup/serviceBenefitsTypes.pug
  include ../sections/serviceMakeup/serviceInfoBlock2.pug
  include ../sections/serviceMakeup/serviceInfoBlock3.pug
  include ../sections/serviceMakeup/doubleGrid.pug
  include ../sections/serviceMakeup/serviceInfoBlock4.pug
  include ../sections/serviceMakeup/serviceInfoBlock5.pug
  include ../sections/serviceMakeup/serviceInfoBlock6.pug
  include ../sections/serviceMakeup/serviceInfoBlock7.pug
  include ../sections/serviceMakeup/serviceInfoBlock8.pug
  include ../sections/serviceMakeup/serviceInfoBlock9.pug
  include ../sections/serviceMakeup/serviceInfoBlock10.pug
  include ../sections/serviceMakeup/serviceBenefitsRules.pug
  include ../sections/serviceMakeup/serviceInfoBlock11.pug
  include ../sections/serviceMakeup/questions.pug
  include ../sections/serviceMakeup/modal.pug

