extends ../layout/main

block content
  include ../sections/serviceEyebrows/serviceInfoBlock.pug
  include ../sections/serviceEyebrows/serviceBenefitsProc.pug
  include ../sections/serviceEyebrows/doubleGridBig.pug
  include ../sections/serviceEyebrows/serviceInfoBlock2.pug
  include ../sections/serviceEyebrows/serviceInfoBlock3.pug
  include ../sections/serviceEyebrows/serviceInfoBlock4.pug
  include ../sections/serviceEyebrows/steps.pug
  include ../sections/serviceEyebrows/serviceInfoBlock5.pug
  include ../sections/serviceEyebrows/serviceInfoBlock6.pug
  include ../sections/serviceEyebrows/serviceInfoBlock7.pug
  include ../sections/serviceEyebrows/steps2.pug
  include ../sections/serviceEyebrows/serviceInfoBlock8.pug
  include ../sections/serviceEyebrows/serviceInfoBlock9.pug
  include ../sections/serviceEyebrows/serviceInfoBlock10.pug
  include ../sections/serviceEyebrows/serviceInfoBlock11.pug
  include ../sections/serviceEyebrows/serviceInfoBlock12.pug
  include ../sections/serviceEyebrows/steps3.pug
  include ../sections/serviceEyebrows/serviceBenefitsTypes.pug
  include ../sections/serviceEyebrows/questions.pug

