extends ../layout/main

block content
  include ../sections/serviceРairСoloringAndCare/serviceInfoBlock.pug
  include ../sections/serviceРairСoloringAndCare/serviceBenefits.pug
  include ../sections/serviceРairСoloringAndCare/doubleGrid.pug
  include ../sections/serviceРairСoloringAndCare/questions.pug
  include ../sections/mainPage/homeForm.pug
