extends ../layout/main

block content
  include ../sections/serviceNailsManicure/serviceInfoBlock.pug
  include ../sections/serviceNailsManicure/serviceBenefits.pug
  include ../sections/serviceNailsManicure/doubleGrid.pug
  include ../sections/serviceNailsManicure/questions.pug
  include ../sections/mainPage/homeForm.pug
