extends ../layout/main

block content
  include ../sections/serviceSPA/serviceInfoBlock
  include ../sections/serviceSPA/serviceBenefits
  include ../sections/serviceSPA/doubleGrid.pug
  include ../sections/serviceSPA/serviceInfoBlock2
  include ../sections/serviceSPA/serviceInfoBlock3
  include ../sections/serviceSPA/serviceInfoBlock4
  include ../sections/serviceSPA/serviceInfoBlock5
  include ../sections/serviceSPA/serviceInfoBlock6
  include ../sections/serviceSPA/serviceInfoBlock7
  include ../sections/serviceSPA/questions.pug
  include ../sections/serviceSPA/modal.pug