extends ../layout/main

block content
  include ../sections/serviceMakeup/serviceInfoBlock.pug
  include ../sections/serviceMakeup/serviceBenefits.pug
  include ../sections/serviceMakeup/doubleGrid.pug
  include ../sections/serviceMakeup/questions.pug

