extends ../layout/main

block content
  include ../sections/serviceРairСoloringAndCare/serviceInfoBlock.pug
  include ../sections/serviceРairСoloringAndCare/serviceInfoBlock2.pug
  include ../sections/serviceРairСoloringAndCare/serviceInfoBlock3.pug
  include ../sections/serviceРairСoloringAndCare/serviceInfoBlock4.pug
  include ../sections/serviceРairСoloringAndCare/serviceInfoBlock5.pug
  include ../sections/serviceРairСoloringAndCare/serviceInfoBlock6.pug
  include ../sections/serviceРairСoloringAndCare/doubleGrid.pug
  include ../sections/serviceРairСoloringAndCare/modal.pug

