extends ../layout/main

block content
  include ../sections/serviceHairdresser/serviceInfoBlock.pug
  include ../sections/serviceHairdresser/serviceBenefits.pug
  include ../sections/serviceHairdresser/doubleGrid.pug
  include ../sections/serviceHairdresser/questions.pug
  include ../sections/mainPage/homeForm.pug
