extends ../layout/main

block content
  include ../sections/serviceEyebrows/serviceInfoBlock.pug
  include ../sections/serviceEyebrows/serviceBenefits.pug
  include ../sections/serviceEyebrows/doubleGrid.pug
  include ../sections/serviceEyebrows/questions.pug
  include ../sections/mainPage/homeForm.pug
