extends ../layout/main

block content
  include ../sections/serviceNailsPedicure/serviceInfoBlock.pug
  include ../sections/serviceNailsPedicure/serviceBenefits.pug
  include ../sections/serviceNailsPedicure/doubleGrid.pug
  include ../sections/serviceNailsPedicure/questions.pug

