extends ../layout/main

block content
  include ../sections/serviceNailsManicure/serviceInfoBlock.pug
  include ../sections/serviceNailsManicure/serviceBenefits.pug
  include ../sections/serviceNailsManicure/doubleGrid.pug
  include ../sections/serviceNailsManicure/serviceInfoBlock2.pug
  include ../sections/serviceNailsManicure/serviceInfoBlock3.pug
  include ../sections/serviceNailsManicure/serviceInfoBlock4.pug
  include ../sections/serviceNailsManicure/serviceInfoBlock5.pug
  include ../sections/serviceNailsManicure/serviceInfoBlock6.pug
  include ../sections/serviceNailsManicure/serviceBenefitsTypes.pug
  include ../sections/serviceNailsManicure/questions.pug

