extends ../layout/main

block content
  include ../sections/serviceNailExtension/serviceInfoBlock.pug
  include ../sections/serviceNailExtension/serviceBenefits.pug
  include ../sections/serviceNailExtension/doubleGrid.pug
  include ../sections/serviceNailExtension/serviceInfoBlock2.pug
  include ../sections/serviceNailExtension/serviceBenefitsTypes.pug
  include ../sections/serviceNailExtension/textInfo.pug
  include ../sections/serviceNailExtension/serviceInfoBlock3.pug
  include ../sections/serviceNailExtension/serviceInfoBlock4.pug
  include ../sections/serviceNailExtension/serviceInfoBlock5.pug
  include ../sections/serviceNailExtension/serviceNailExtensionProccesBnf.pug
  include ../sections/serviceNailExtension/serviceInfoBlock6.pug
  include ../sections/serviceNailExtension/serviceInfoBlock6.pug
  include ../sections/serviceNailExtension/serviceInfoBlock7.pug
  include ../sections/serviceNailExtension/questions.pug
  include ../sections/mainPage/homeForm.pug
  include ../sections/serviceNailExtension/serviceInfoBlock-Test
