section.section.podology-about
  .container
    +breadcrumbs('Главная', 'Услуги', './pod.html', 'Подология', '/pod.html')
  .container.ab-out
    h1 Подология
    .row
      .col-12.col-md-4.col-lg-6.d-flex.align-items-center
        img(src="assets/img/nogi.png" alt="NOZHKI").d-none.d-lg-block
        img(src="assets/img/small-nogi.png" alt="NOZHKI").d-none.d-md-block.d-lg-none
      .col-12.col-md-8.col-lg-6.d-flex.align-items-center
        p Множество людей страдает от заболеваний стоп и ногтевых пластин на ногах. Они ходят по разным специалистам, например, нейл-мастерам, дерматологам или хирургам, но те не могут качественно решить их проблемы. Все потому, что медицинскими проблемами стоп занимаются специалисты-подологи.<br><br>Подолог рассматривает стопу через призму здоровья, тогда как мастер ногтевого сервиса — только через призму эстетики. Подология работает с разнообразными проблемами стоп: вросшими ногтями, грибковыми инфекциями, трещинами на пятках, натоптышами, мозолями и бородавками.
