section.section.podology-consultation
  .container.d-flex.flex-wrap
    .col-12.col-lg-12.d-flex.flex-column.justify-content-center.align-items-center
      h2.white-text.text-center Запишитесь на консультацию<br><strong>прямо сейчас!</strong>
      .dash.align-self-center
      p.white-text.text-center Мы перезвоним вам и запишем на консультацию, где специалист проведет осмотр, даст необходимые рекомендации и ответит на вопросы.
      span.d-none.d-lg-block
        +btnCallback('перезвонить мне')(id="callme-pod", data-toggle='modal', data-target='#callbackModal')
    .col-12.col-lg-5.d-block.d-lg-none
      +writeClientForm
