section.section.category.cat-overflow
  .wrapper--light
    .container.very-special-container
      .row.very-special-row
        .col-12.light-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-dark.png" alt="cat-item-dark")
              .wrapper
                span Зниження імунітету
            p Як тільки імунітет дає збій, ми стаємо схильні до вірусів, грибкових і бактеріальних інфекційних захворювань. Багато в чому цьому сприяє фактор стресу, неправильне харчування і фаст-фуд, нестача відпочинку і сну, а також малорухливий спосіб життя. Якщо ви помітили, що часто хворієте, відвідайте імунолога і займіться своїм імунітетом.
  .wrapper--dark
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-light.png" alt="cat-item-light")
              .wrapper
                span Захворювання шкіри
            p У людей з дерматозами (псоріазом, екземою, нейродермітом, атопичними дерматитами та ін.) знижена бар'єрна захисна функція шкіри. Через це <strong>грибкові інфекції швидше проникають</strong> в неї і розвиваються на окремих ділянках.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-dark.png" alt="cat-item-dark")
              .wrapper
                span Ходіння босоніж у громадських вологих місцях
            p Грибки можуть <strong>роками зберігатися на поверхнях</strong> мокрих зон: на вологій підлозі басейну, громадського душа, сауни. Грибок може бути на кахлі, а також дерев'яній поверхні. Якщо пройтися босоніж зараженою грибком поверхнею, людина негайно отримає зараження грибком.
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-light.png" alt="cat-item-light")
              .wrapper
                span Використання чужих засобів особистої гігієни і взуття
            p Грибок <strong>блискавично поширюється між членами сім'ї</strong>,  тому що досить проконтакутвати із засобом особистої гігієни носія грибкової інфекції. До таких засобів відноситься взуття людини, його мочалка, рушники, банний килимок. Також зараження грибком може трапитися через недостатньо добре оброблену поверхню ванни.
  .wrapper--dark--reversed
    .container.very-special-container
      .row.very-special-row
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-dark.png" alt="cat-item-dark")
              .wrapper
                span Погана стерилізація інструментів під час педикюру
            p Грибком можна заразитися від попередніх відвідувачів салону, де ви робите педикюр. Звичайно, за умови неякісної стерилізації інструментів. Тому ми рекомендуємо <strong>звертати увагу на спосіб стерилізації інструментів</strong> ще перед початком манікюру або педикюру. Салони, які надають ці послуги, зобов'язані детально пояснити і продемонструвати, як вони обробляють інструменти і поверхні кабінету.
        .col-sm-12.col-lg-4.dark-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-light.png" alt="cat-item-light")
              .wrapper
                span Тривала взаємодія з побутовою хімією
            p Засоби побутової хімії найчастіше мають агресивний склад. Щоб контактувати з ними, потрібно захищати шкіру рук і ніг рукавичками або спеціальним гумовим взуттям. В іншому випадку компоненти побутової хімії <strong>знижують захисний бар'єр</strong> шкіри і утворюють мікротріщини, через які в подальшому проникають грибкові інфекції і відбувається зараження грибком.
        .col-sm-12.col-lg-4.light-darkness-block
          .centered-content.info-section
            .row
              img(src="assets/img/cat-item-dark.png" alt="cat-item-dark")
              .wrapper
                span Специфічні професії
            p До грибкових захворювань найчастіше схильні жителі великих міст. Частіше за все пацієнтами  <strong>подологів і дерматологів стають</strong> шахтарі, металурги, співробітники атомних електростанцій. Люди, що працюють на виробництві в таких місцях, схильні до негативного впливу пилу, високих температур, загазованості та інших шкідливих чинників. Також до групи ризику потрапляють військові, що обумовлено тісним взуттям і спільними душовими. Друга група ризику — спортсмени, тренування яких проходять у басейнах і відкритих водоймах.
