section.section.warnings.position-relative
  img(src="assets/img/common/circles-with-hr.png").circles.bg-circles
  .container
    .row.py-80.py-55-mobile
      .col.pt-4.d-flex.flex-column.align-items-center
        h3.section-title-services.mb-4.text-dark-1.text-center Чому небезпечно відкладати лікування грибка нігтів ніг
        p.paragraph-text.text-dark-1.text-center.mb-4.mb-md-5.custom-px-2.w-200 Людей із грибковими ураженнями насамперед хвилюють естетичні проблеми, які приносять ці інфекції. Однак переживати варто про те, як грибок впливає на здоров'я всього організму. Якщо не почати лікування вчасно і запустити грибок, він спричинить ускладнення.
        .d-flex.justify-content-center.mb-4.w-100.flex-column.flex-md-row
          .col-12.col-lg-4.col-circle-bg-special.width-180.mr-lg-4.py-2
            p.paragraph-text.text-dark-1.w-200 <strong>Ускладнення №1 — інтоксикація організму</strong><br><br>Грибкова інфекція викликає інтоксикацію. Організм сприймає токсини як алергени і виробляє підвищену кількість антитіл. Це погіршує загальний стан пацієнта, ускладнює і затягує поточні хвороби. Особливо це стосується бронхолегеневих захворювань.
          .col-12.col-lg-4.col-circle-bg-special.width-180.mr-lg-4.py-2
            p.paragraph-text.text-dark-1.w-200 <strong>Ускладнення №2 — біль під час ходи</strong><br><br>При несвоєчасному лікуванні площа ураженої грибком зони збільшується, і ніготь через це піднімається. Інфекція проникає усе глибше, поки не зачіпає нервові закінчення. Коли пацієнт ходить у вузькому взутті, то відчуває характерну біль в зоні з прогресуючою грибковою інфекцією.
          .col-12.col-lg-4.col-circle-bg-special.width-180.mr-lg-4.py-2
            p.paragraph-text.text-dark-1.w-200 <strong>Ускладнення №3 — ураження нервової системи</strong><br><br>Грибкові інфекції в запущеній стадії проникають в кров, а також провокують патологічні зміни нервових закінчень. Така ситуація призводить до того, що пацієнт стає дратівливим. А при довгій відсутності лікування може впасти в депресію.
