section.section.advantagess.pb-0
  .container
    h2.text-center.dark-blue.mb-65 На прийомі подолога ви перебуваєте у стерильному приміщенні
    +numberedSection2('Ви дихаєте очищеним повітрям', 'Повітря в приміщенні фільтрують рециркулятори і бактерицидні опромінювачі закритого типу, які знезаражують повітря. Також апарати, які працюють зі шкірою і нігтями стоп, оснащені вбудованими пилососами. Вони всмоктують весь пил і алергени прямо під час роботи і роблять повітря гіпоалергенним.',
    'Перед вами дезінфікують кабінет', 'Після кожного прийому спеціалісти дезінфікують усі поверхні в кабінеті, в тому числі крісло, тумби, лампи і апарати. Бактерицидні лампи кварцують приміщення після кожного пацієнта. Також в центрі проводять регулярні прибирання: на початку і наприкінці дня проходить звичайне, а раз на тиждень — генеральне.')
