section.section.faq
  .container
    h2.white-text.text-center.mb-3 Часто задаваемые вопросы
    p.h4-title.text-center.d-none.d-md-block.mb-5 Здесь вы найдете информацию, которая чаще всего интересует наших пациентов
    #accordion.accordion.mt-3
      #heading01.card-header(data-toggle='collapse', data-target='#collapse01', aria-controls='collapse01', aria-expanded='true')
        p.paragraph-text.text-w-bold
          |  Лечение грибка — это больно?
        .card-arrow
      #collapse01.collapse(aria-labelledby='heading01', data-parent='#accordion')
        .card-body
          h3.white-text Лечение грибка — это больно?
          hr
          p.paragraph-text.text-w-light
            | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
      #heading02.card-header.active(data-toggle='collapse', data-target='#collapse02', aria-controls='collapse02', aria-expanded='false')
        p.paragraph-text.text-w-bold
          | Сколько нужно процедур, чтобы вылечить грибок?
        .card-arrow
      #collapse02.collapse.show(aria-labelledby='heading02', data-parent='#accordion')
        .card-body
          h3.white-text У меня сахарный диабет. Я могу пойти к подологу?
          hr
          p.paragraph-text.text-w-light
            | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
      #heading03.card-header(data-toggle='collapse', data-target='#collapse03', aria-controls='collapse03', aria-expanded='false')
        p.paragraph-text.text-w-bold
          | Почему за 2 недели до сдачи анализа в лабораторию нельзя ничем мазать место с грибком?
        .card-arrow
      #collapse03.collapse(aria-labelledby='heading03', data-parent='#accordion')
        .card-body
          h3.white-text Почему за 2 недели до сдачи анализа в лабораторию нельзя ничем мазать место с грибком?
          hr
          p.paragraph-text.text-w-light
            | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
      #heading04.card-header(data-toggle='collapse', data-target='#collapse04', aria-controls='collapse04', aria-expanded='false')
        p.paragraph-text.text-w-bold
          | Пока я ничем не мажу ногу 2 недели, испытываю дискомфорт. Как его снизить?
        .card-arrow
      #collapse04.collapse(aria-labelledby='heading04', data-parent='#accordion')
        .card-body
          h3.white-text Пока я ничем не мажу ногу 2 недели, испытываю дискомфорт. Как его снизить?
          hr
          p.paragraph-text.text-w-light
            | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
      #heading05.card-header(data-toggle='collapse', data-target='#collapse05', aria-controls='collapse05', aria-expanded='false')
        p.paragraph-text.text-w-bold
          | Мне нужно брать на прием чистую обувь? Та, в которой я приду, контактировала с грибком.
        .card-arrow
      #collapse05.collapse(aria-labelledby='heading05', data-parent='#accordion')
        .card-body
          h3.white-text Мне нужно брать на прием чистую обувь? Та, в которой я приду, контактировала с грибком.
          hr
          p.paragraph-text.text-w-light
            | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
      #heading06.card-header(data-toggle='collapse', data-target='#collapse06', aria-controls='collapse06', aria-expanded='false')
        p.paragraph-text.text-w-bold
          | У вас можно провести лечение грибка на руках <span class="city-in-dynamic paragraph-text"></span>?
        .card-arrow
      #collapse06.collapse(aria-labelledby='heading06', data-parent='#accordion')
        .card-body
          h3.white-text У вас можно провести лечение грибка на руках <span class="city-in-dynamic paragraph-text"></span>?
          hr
          p.paragraph-text.text-w-light
            | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
      #heading07.card-header(data-toggle='collapse', data-target='#collapse07', aria-controls='collapse07', aria-expanded='false')
        p.paragraph-text.text-w-bold
          | Если член моей семьи заразился грибком, стоит и мне идти на прием к подологу? Пока я не чувствую симптомы
        .card-arrow
      #collapse07.collapse(aria-labelledby='heading07', data-parent='#accordion')
        .card-body
          h3.white-text Если член моей семьи заразился грибком, стоит и мне идти на прием к подологу? Пока я не чувствую симптомы
          hr
          p.paragraph-text.text-w-light
            | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
      //#heading08.card-header(data-toggle='collapse', data-target='#collapse08', aria-controls='collapse08', aria-expanded='false')
      //  p.paragraph-text.text-w-bold
      //    | Если член моей семьи заразился грибком, стоит и мне идти на прием к подологу? Пока я не чувствую симптомы
      //  .card-arrow
      //#collapse08.collapse(aria-labelledby='heading08', data-parent='#accordion')
      //  .card-body
      //    h3.white-text Если член моей семьи заразился грибком, стоит и мне идти на прием к подологу? Пока я не чувствую симптомы
      //    hr
      //    p.paragraph-text.text-w-light
      //      | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
      //#heading09.card-header(data-toggle='collapse', data-target='#collapse09', aria-controls='collapse09', aria-expanded='false')
      //  p.paragraph-text.text-w-bold
      //    | Вы лечите плоскостопие?
      //  .card-arrow
      //#collapse09.collapse(aria-labelledby='heading09', data-parent='#accordion')
      //  .card-body
      //    h3.white-text У меня сахарный диабет. Я могу пойти к подологу?
      //    hr
      //    p.paragraph-text.text-w-light
      //      | Конечно. Вы можете воспользоваться услугой обработки диабетической стопы. Перед процедурой мы проводим 4 простых теста на чувствительность: вибрационную, температурную, болевую и тактильную. Если чувствительность нарушена, мы обращаем внимание на эти участки стопы и обрабатываем их с особой осторожностью. Также мы измеряем уровень сахара в крови с помощью аппарата глюкометр. Это не больно и полностью безопасно. Если уровень сахара выше 10, мы не имеем права прикасаться к стопе. Поэтому мы попросим вас снизить уровень глюкозы в крови и запишем на новое удобное время.
