extends layout/main
block content
  include sections/main-laser-service
  include sections/laser-description
  include sections/four-boxes_01
  include sections/almalaser-extralarge-text
  include sections/choose-service
  include sections/consultation
  include sections/discount
  include sections/safety
  include modules/accordion-answer
  include sections/consultation-form
  include sections/service-three-boxes_01







