extends layout/main

block content
  include sections/main-laser-service
  include sections/laser-description
  include sections/advantages.pug
  include sections/almalaser-extralarge-text
  include sections/choose-service
  include sections/consultation
  include sections/discount
  include sections/safety
  include sections/accordion-answer
  include sections/consultation-form








